[2022-07-13 19:33] eob opened #6455 "bug: Lambda unreachable in docker-compose with named network"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Localstack's lambda service is unreachable when trying to connect across a docker-compose defined network.

### Expected Behavior

Invoking lambda APIs such as 'list-functions' should work.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

Below shows

[2022-07-13 20:21] thrau commented on #6398
The release is now generally available both on pypi and dockerhub! Find the release notes here: https://github.com/localstack/localstack/releases/tag/v1.0.0

[2022-07-13 20:21] #6398 closed

[2022-07-13 20:21] kingster307 commented on #5554
@pinzon See logs attached...all constants that @paulrobello states remains true, using localstack/localstack:1.0.0 issue still present even with put usage as specified. As you can see from the logs it receives the presigned url upload but never fires the corresponding lambda as it should to process the upload.

<img width="602" alt="Screen Shot 2022-07-13 at 4 15 29 PM" src="https://user-images.gi

[2022-07-13 20:34] kingster307 commented on #5554
have tried with create_presigned_post func above && post request as @paulrobello stated above with v1 as well...see logs for that below
<img width="1508" alt="Screen Shot 2022-07-13 at 3 47 09 PM" src="https://user-images.githubusercontent.com/33669832/178829225-a3ee8340-0b20-4c55-a4b3-05ff55bf521f.png">

[2022-07-13 20:35] pinzon commented on #5554
@kingster307 thanks for the update. I'll take a look soon.

[2022-07-14 12:11] baermat opened #6457 "PRO: Enable mutliple ingress ports for EKS' embedded k3d cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Right now specifying different ports for different ingresses which can then be accessed via the load balancer is not possible. The only thing that seems to be configurable is the port of the load balancer as stated in the [docs](https://docs.localstack.cloud/aws/elastic-kubernetes-service/

[2022-07-14 14:06] gchappel opened #6458 "bug: localstack CLI seems to download old images (slowly!) if `latest` is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've been having issues with either Docker or Localstack, so a couple of times today I've removed all the images (and eventually reset/reinstalled Docker Desktop which deleted all the images again). I've noticed that when I run `localstack start` (installed with `pip`, on the host macOS) and

[2022-07-14 14:08] dfangl commented on #6458
Interesting issue, I have a hunch what could cause this but can you post the output of `localstack --debug start` to make sure?

[2022-07-14 14:33] gchappel commented on #6458
It behaves no differently - a silent console while it downloaded the `0.10.0` image in the background, and then I Ctrl-C'ed and got the same stack trace as I did without `--debug`:

[code]

[2022-07-14 14:55] gchappel commented on #6458
Yes, it does; I kept the `latest` image around but renamed the tag and when I ran `localstack start` with that environment variable set, Localstack started immediately because all the layers for `latest` were still on my system.

[2022-07-14 14:58] thrau commented on #6445
I've been digging into this a bit more and I don't really have a good sense of what's going on yet. My current working assumption given the experiments i've done so far is that it is a concurrency issue rooted in the sync/async bridge.

I've done some experiments with different methods and also plain http requests, here are some of the findings:
[code]

Some observations (some of which are not ref

[2022-07-14 15:00] gchappel commented on #6458
Hmmm, having the environment variable set allows Localstack to _start_ quickly. However, it then enters a restart loop. Unsetting the environment variable allows me to actually _successfully_ start Localstack...

[2022-07-14 15:01] gchappel commented on #6458
With `LEGACY_DOCKER_CLIENT=1`
[code]

Without `LEGACY_DOCKER_CLIENT=1`
[code]

[2022-07-14 15:22] gchappel commented on #6458
It is not correct, there is a `docker` binary:

[code]

This is a macOS system using Docker Desktop, so it uses the complex system of a Linux VM running the Docker engine with sockets mounted from the host so that the `docker` binary works from the host outside the VM...but from the user perspective, I can run `docker` commands from my macOS shell and "magic happens" to get them executed transpare

[2022-07-14 15:47] dfangl commented on #6458
Ah OK, I think I see the the whole picture here. I am going to assign this to me and should get to it in the coming days.

[2022-07-14 15:50] dfangl commented on #6458
As a quick fix for now, please uninstall docker in your pip, or upgrade to 5.0.0 (afaik there are some issues with aws sam depending on a lower version of it though)

[2022-07-14 16:31] acm19 opened #6459 "feature request: Signature V4 support for OpenSearch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I'd like to have support for V4 Signature for OpenSearch. It would enable simulating real live scenarios easier: https://github.com/acm19/aws-request-signing-apache-interceptor/issues/40. Many applications actually have trouble testing the auth in a Integration Test environment.

### 🧑‍💻 I

[2022-07-14 18:20] mdodsworth commented on #3133
It'd be helpful to know the level of support for Timestream. Basic functionality seems to be there: I can create databases/tables, write records, issue simple queries for example.

A couple of things that don't seem to work right now:
- support for multi-measure records
- UNION queries

In both cases, I've rigged something up to hit a real Timestream table to make sure it's not a me problem. Havin

[2022-07-14 22:58] thrau commented on #6445
i can definitely confirm now that it has something to do with the asgi/wsgi bridge. serving the gateway directly through the werkzeug server is

you can use this script to serve localstack through werkzeug:
[code]

when running the sqs list-queues benchmark get the following results:
[code]

it seems to be a combination of things though, since s3 does not seem to suffer from the same behavior. Thi

[2022-07-15 09:30] gunasekar commented on #3815
After few iterations of how to use the endpoints, I'm successful in using step functions in localstack with api gateway invocation. API GW v1 is used.

Localstack allows either of the below formats
`http://localhost:4566/restapis/<apiId>/<stageId>/_user_request_/<path>`
`http://<apiId>.execute-api.localhost.localstack.cloud:4566/<stageId>/<path>`

For first format - `http://localhost:4566/restapis

[2022-07-15 10:18] gchappel commented on #6458
I'm fine with the way it's working for now - now I have the `latest` image again I can simply unset the environment variable and Localstack runs correctly. So I guess there are two issues here:
1. If the `localstack/localstack:latest` image is deleted, the **new** Docker client incorrectly downloads old images instead of just the latest one; **fixed** by using the legacy Docker client
2. The **leg

[2022-07-15 10:23] dfangl commented on #6458
Basically, yes. In general, the cli should never use the "new" docker Client (which uses python-docker to communicate with the daemon, which can lead to some in the cli, as you have seen), and the image never the legacy one (which uses and runs the docker binary  which isn't in the docker image to save space).

In general, the issue is that a component is using the wrong client. It should either b

[2022-07-15 11:29] #6327 closed

[2022-07-15 11:30] thrau commented on #6327
hey @bwiercinski , thanks for the extra hint, that was very helpful. it's fixed now and will be in the latest image in about an hour

[2022-07-15 11:36] bwiercinski commented on #6327
no problem, thanks :)

[2022-07-15 12:23] jgonera opened #6462 "bug: API Gateway Method Integration's Request Template modifies event incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have the following resource in my CloudFormation template which creates an API Gateway Method with and Integration that has a Request Template:

[code]

So that it's easier to read the request template is as follows:

[code]

When I invoke lambda through API Gateway, I expect the `event` ar

[2022-07-15 12:47] jgonera commented on #6462
On a similar note, it seems like `"method.response.header.Content-Type": "'text/html'"` from Integration Response also has no effect. The lambda endpoint returns with content type `text/plain`.

Is the `AWS` integration type fully supported in LocalStack or is it only `AWS_PROXY` that can be reliably used?

[2022-07-15 13:58] giograno commented on #6437
Fixed by #6439.

[2022-07-15 13:58] #6437 closed

[2022-07-15 22:58] nhidtran opened #6463 "bug: created apigateway does not persist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

starting up docker container with `localstack/localstack:latest` persists dynamodb data but does not persist deployed apigateway

I have reviewed:
https://docs.localstack.cloud/localstack/configuration/
https://github.com/localstack/localstack/issues/6398

### Expected Behavior

when I restar

[2022-07-16 02:16] rohitsud opened #6464 "Invoking lambda more than once leads to 500 Internal Server Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The first invocation of a lambda after CreateFunction works fine. Then when the lambda is invoked again I check the existence of the lambda using GetFunction and then localstack returns an Internal Server Error 500.

Looks like [this MR](https://github.com/localstack/localstack/pull/5930) bro

[2022-07-16 11:11] thantos opened #6465 "bug: localstack 1.0.0 will not start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

_No response_

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker-compose.yml`)

    docker pull localstack/localstack
    pip in

[2022-07-16 14:55] thantos commented on #6465
Downgraded to 0.14.5 and its still not starting

[code]

[code]

[2022-07-17 16:36] cannahum opened #6466 "bug: 'CreateQueue' for service 'sqs'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In local environment (macOS Monterey) I can run localstack with docker compose, and create queues for unit tests, then take them down after tests end. When I compose the same localstack spec in Github Actions (ubuntu-latest) I get the following message:

My docker compose looks like this:
[co

[2022-07-17 17:03] sfc-gh-ssudakovich opened #6467 "issue: documentation uses deprecated EndpointResolverFunc type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Main documentation shows deprecated function (https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/aws#EndpointResolverFunc)

[code]
But replacing it with what SDK is recommending does not work (see https://stackoverflow.com/questions/72606443/localstack-aws-was-not-able-to-validate-the-provided-a

[2022-07-17 23:02] #5958 closed

[2022-07-18 00:23] specious opened #6468 "All resources listed as ResourceType `AWS::CloudFormation::Stack` when deploying a stack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When deploying a stack with [samlocal](https://github.com/localstack/aws-sam-cli-local/), the changeset looks correct with all resources labelled as their correct resource type, but the stack creation comes back as ResourceType `AWS::CloudFormation::Stack` for each resource rather than its ac

[2022-07-18 05:01] MarcelStranak commented on #6455
Hi @eob, can you please try using this `docker-compose.yml` if it still fails?
Can you please share the logs of the failure, and how are you setting the hostname in lambda functions? Thanks.

[code]

[2022-07-18 05:36] cam-slyp opened #6471 "bug: Can't encrypt/decrypt using kms alias"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Javascript aws-sdk v2 encounters an error if a key alias is provided as the KeyId parameter of kms.encrypt

### Expected Behavior

Encrypt and decrypt should succeed when called with a KeyId containing the key alias

### How are you starting LocalStack?

With a docker-compose file

### Steps

[2022-07-18 05:38] cam-slyp commented on #6471
Similar issue: https://github.com/localstack/localstack/issues/6193

[2022-07-18 09:21] parisnakitakejser opened #6473 "bug: Delete and create RDS Serverless Postgres database with same DBClusterIdentifier multi time from the CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create an RDS Serverless Aurora Postgres database it works the first time, then I delete it and create it again, in sometimes doesn't allow me to work current with the database before I remove the LocalStack container and recreate all my resources again.

### Expected Behavior

When I

[2022-07-18 11:13] bwiercinski commented on #6327
@thrau  when it will be released as a tagged version eg 1.0.1 ?

[2022-07-18 11:48] parisnakitakejser opened #6475 "bug: Create lambda from AWS CLI donest work if using layers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create a lambda function there should use layers eg. Redis which returns back with an error.

Have just downloaded a working layer from my AWS account as zip and trying to use it for LocalStack testing

### Expected Behavior

I expect when i have created my Lambda Layers from a zip fil

[2022-07-18 11:52] dfangl commented on #6475
Hi @parisnakitakejser !
It seems, LocalStack is using the `local` executor, which does not support lambda layers.
You can find information about different executor modes here: https://docs.localstack.cloud/localstack/lambda-executors/

Please try setting `LAMBDA_EXECUTOR=docker` and, if this is currently not the case, mount the docker socket into the LocalStack container, so it may spawn the conta

[2022-07-18 12:03] parisnakitakejser commented on #6475
Perfect, it's working mount the socket + change the lambda_executor are working, feedback in the awslocal wrapper to sending better error handling return, don't know about this ticket should be closed or open for that?

[2022-07-18 12:21] HarshCasper commented on #6475
Hi @parisnakitakejser — Closing this for now. Can you please send this feedback on our Discussion Pages to help us better prioritise it: https://discuss.localstack.cloud/

[2022-07-18 12:21] #6475 closed

[2022-07-18 12:26] #6317 closed, assigned to viren-nadkarni

[2022-07-18 16:03] #5405 closed

[2022-07-18 16:15] kingster307 commented on #5554
@pinzon just got clearance to release the full logs for v1 utilizing put not post....expected behavior - get presigned url - make put request to it - s3 onObjectCreated fires up lambda - lambda returns msgs via websockets

[code]

[2022-07-18 16:30] pinzon commented on #5554
@kingster307 thanks for the logs, I'm working on this right now.

[2022-07-18 18:37] nathanielrindlaub commented on #6161
@yuvalshi0 - have you had any luck spinning up SageMaker endpoints with LocalStack? This would also be phenomenally useful to me.

[2022-07-18 19:39] pinzon commented on #5554
hi again @kingster307 I tested again this problem but everything seems fine for both PUT and POST requests, and both trigger the lambda function. Could you provide exactly how are you setting your lambda to be trigger by the s3 upload?

By the way I'm attaching the scripts for how I'm testing this feature
[reproducers.zip](https://github.com/localstack/localstack/files/9135295/reproducers.zip)

[2022-07-18 20:54] kingster307 commented on #5554
essentially this is our workflow
----------
1) hit endpoint to get presigned url
2) client posts or puts data to presigned url
3) s3 post triggers fuelUploadLambda
4) fuelUploadLambda processes s3 data & returns status messages via websockets

[2022-07-19 08:24] parisnakitakejser commented on #6473
What I discovered when I tested even more on macOS its looks like it's port 4512 there makes me trouble in some way maybe.

maybe the focus should point to that port first? or if I can change the internal LocalStack service port range to get out of port conflicts.

[2022-07-19 09:17] parisnakitakejser commented on #6473
I'm trying on a different port to be sure it's not a port conflict, what I discovered is my cluster did not always start up.

I discovered the latest Docker images it's the developing images so I was forced to use v. 1.0.0 of the Docker images not, it's pretty sad the dev version is pushed out as the latest Docker images for the community it will create unnecessary bugs :)

This JSON output is my

[2022-07-19 09:53] GeorgePals opened #6480 "feature request: RDS IAM Authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

RDS IAM Authentication is currently not supported by LocalStack.

Even if the argument `iam_database_authentication` (at the DB's resource config) is set to `true`, LocalStack ignores it and initializes the database with the default, `false`, value.
[code]

We need this feature to be imple

[2022-07-19 12:04] #5091 closed

[2022-07-19 14:12] steffyP commented on #6473
Hi @parisnakitakejser,

thanks for reaching out.
In your description you mention several different things, as it seems. So I have some clarifying questions.

1. Regarding your initial problem: You say that you delete and re-create the RDS database and then you are not able to re-connect to port 4510.
            a) Could you verify, that the newly re-created database runs on port 4510 in that case

[2022-07-19 15:50] pinzon commented on #5554
Hi @kingster307. The reason your PUT request is not activating the Lambda Function is because you're setting a Prefix filter("uploads/") in your notification configuration and when you send your request, the key is missing the prefix.

Url from your PUT request:
[code]
it should be:
[code]

For the POST request, my best guest for that 404 response is that you're using the URL from `generate_presig

[2022-07-19 16:27] kingster307 commented on #5554
@pinzon apologies....the onObjectCreated code snippet that I took from previous comments was out of date with our project. I have updated it in the code snippet above.

Our key when creating presigned url's is prefixed with `fuelPriceUploadPrefix` but then has additional data appended to it. After reviewing your code I suspect the issue could be that localstack is looking for an exact match for th

[2022-07-19 16:54] pinzon commented on #5554
@kingster307 could you give me an example of the final prefix you're setting on the lambda trigger and the key name you're sending?
I understand from what you say that Localstack should match differently the prefix and the key name but even when using "fuel_pricing_upload/" as prefix and for my key names Localstack still trigger my Function.

[2022-07-19 17:38] calvernaz commented on #6383
@paulrobello AWS or Localstack will have little no none responsibility on calling disconnect client side. So, my suggestion is just make sure the client disconnect on client side (browser) is happening when you close the window or tab.

[2022-07-19 17:56] kingster307 commented on #5554
@pinzon

final lambda trigger would look like this

[code]

Key Name example - `fuel_pricing_upload/33fb622a-7388-49a6-a76f-7c117c2d47b5`

Bucket Name Example - `self-serve-portal-20220718151114064200000004`

normalizeS3Prefix - strips any leading slash in a string & ensures that string has a trailing slash

[2022-07-19 18:15] peteraba opened #6484 "bug: Installation via pip fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

localstack installed

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker-compose.yml`)

    docker run localstack/localstack

###

[2022-07-19 18:18] paulrobello commented on #6383
I am not saying that the backend has any responsibility in calling disconnect on client side. I am saying that closing the browser / tab does not call disconnect nor is there a clean way to intercept such a thing. What I am saying is that AWS somehow detects that the client is gone and invokes the disconnect event on the api-gw.

[2022-07-19 19:02] #5401 closed

[2022-07-19 19:07] jcanabarro opened #6486 "bug: Step Function not saving after docker restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Create a state machine everything seems ok, i can visualize using awslocal, but when i restart the docker-compose and try to list those state machines again, they are just gone, all the other resources that I'm currently using works fine with the volume, i also was having this problem at the

[2022-07-19 19:20] ceckhardt commented on #3230
I know this issue is now closed, but I still get this error on OSX, running localstack:latest, with DYNAMODB_SHARE_DB=1 when writing batch items.
`localstack       | 2022-07-19T17:26:32.575  INFO --- [   asgi_gw_2] localstack.request.aws     : AWS dynamodb.DescribeTable => 200
localstack       | 2022-07-19T17:26:33.236  INFO --- [   asgi_gw_0] localstack.request.aws     : AWS dynamodb.GetItem => 2

[2022-07-19 19:34] pinzon commented on #5554
@kingster307 with your parameters I get the same results, even  with multiple regions.

[2022-07-19 20:25] calvernaz commented on #6383
@paulrobello got it, it closes by inactivity - that would be worth to specify in the issue, what you are looking for is to close the connection by inactivity (idle).

[2022-07-19 20:40] paulrobello commented on #6383
For LS I believe if the browser is connected and idle for long enough the disconnect seems to fire just fine. However on browser close disconnect is never fired. In AWS on browser close the disconnect is fired  immediately not after some time has passed.

[2022-07-20 00:12] igoragueme commented on #6051
Same error here.

[2022-07-20 06:36] alexrashed commented on #6484
Hi @peteraba!

It seems like you already have another package installed globally which depends on a version of `stevedore` which is lower than the minimum version necessary for localstack.
This is a common problem with Python environments in general, and there isn't really anything we can do about.

You have different options to tackle this problem:
- Use an isolated package manager like https://g

[2022-07-20 09:02] arthyrik commented on #3336
I am using localstack-14.0.5 image for junit tests. Version of java maven dependency is 1.17.2. Have the same issue and can't create fifo topic/queue.

[2022-07-20 09:35] terence-cevo commented on #4078
Can we reopen this issue? `get_query_result` is not implemented.

[2022-07-20 09:38] terence-cevo commented on #4143
This issue is not fixed

[2022-07-20 10:08] MarcelStranak commented on #6051
Hi @FlorianSchneiderMsgDavid, @igoragueme,  to mitigate this error you can run LocalStack with a command:
 `localstack start --no-banner` this will stop showing the banner which contains the problematic unicode.

For a more in-depth fix, you can have a look at this [stackoverflow discussion](https://stackoverflow.com/questions/57131654/using-utf-8-encoding-chcp-65001-in-command-prompt-windows-powe

[2022-07-20 10:56] #5860 closed

[2022-07-20 11:53] alexrashed commented on #5860
Hey @brucekaufman!
We just released a fix for the issue, it is already contained in the latest image on DockerHub.
Please let us know if you still experience any issues concerning the error messages.

[2022-07-20 17:13] iredmedia commented on #6384
Bump - Is this something that should be closed as it's expected behavior or is this an actual bug. Want to close the loop here as it makes configs (thus also terraform) less trustworthy for this specific use case

[2022-07-20 21:32] kingster307 commented on #5554
added a little demo project here to better present the issue. We are utilizing post pre-signed url. It seems as though the onObjectCreated lambda is never hit, as the logs/prints from within it never show && the logs never show the lambda being spun up
[localstack_onObjectCreated_bug](https://github.com/kingster307/localstack_onObjectCreated_bug )

[2022-07-20 21:36] kingkupps opened #6492 "bug: Certain records cause `localstack.aws.protocol.parser.ProtocolParserError` but work as expected with production AWS Kinesis"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using Debezium for writing changes to a Postgres database to Kinesis. Certain calls to put object succeed using production Kinesis but fail using localstack.

One such record produces the following exception logs:
[code]

### Expected Behavior

The call to put object with the record descr

[2022-07-20 23:52] paulrobello opened #6493 "bug: Localstack Pro not triggering boto GoneException when calling post_to_connection on socket_id that is no longer connected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I save all connects to DDB on connect and remove them on disconnect or when a GoneException is raise when trying to send to one.
As LS is not firing $disconnect for my websockets (see separate bug I have posted) I have many orphaned connection id's in my DDB table.
When I go to broadcast a me

[2022-07-21 01:03] thantos commented on #6465
Resolved this. I had to uninstall `localstack` and re-install.

`> pip uninstall localstack`
`> pip install localstack`

`Successfully installed cachetools-5.0.0 localstack-1.0.0 localstack-ext-1.0.0`

Appears that `cachetools` and `localstack-ext` were missing before.

[2022-07-21 01:03] #6465 closed

[2022-07-21 02:59] rei-paypay commented on #6332
I'm seeing the same behaviour here where uploading a 284MB file will cause a `Connection was closed before we received a valid response from endpoint URL` error when using AWS CLI. Also docker seems to also get a SIGKILL and reboot every time I try to `cp` this file over to s3. Is there any update/solution to this?

[2022-07-21 07:08] alexrashed commented on #6484
`pipx` is built around `venv` and it seems like the `venv` call fails.
Here's the official troubleshooting guide of `pipx`: https://pypa.github.io/pipx/troubleshooting/

It's hard to say what could cause your issue, but I guess it might be the missing venv package (as mentioned in the troubleshooting guide). You can install it on Ubuntu 20.04 with:
[code]

I'll close the issue here for now.

[2022-07-21 07:08] #6484 closed

[2022-07-21 08:09] MarcelStranak commented on #6332
Hi,

Could you please set in your AWS config file these values if the upload still fails?
Location: `~/.aws/config`

[code]

More information can be found here: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

For the bigger files, I would suggest using **multipart uploads** or **TransferManager**.

[2022-07-21 10:26] mgrundie-r7 commented on #6332
@MarcelStranak  the config did not resolve the issue for me

[2022-07-21 12:32] mgrundie-r7 commented on #6332
Using a transfer manager (see below) resolved the issue. I'm not sure why this works however since I read that TransferManager does not do multipart uploads for ByteArrayInputStream

`      TransferManager xfer_mgr = TransferManagerBuilder.standard().withS3Client(amazonS3).build();

      try
      {
         var blobBytes = byteArrayOutputStream.toByteArray();
         metadata.setContentLength(b

[2022-07-21 13:03] steffyP commented on #6188
Hi @holyoaks, hi @sandrade25

for RDS instances using postgres, we have a [new feature that takes the defined engine-version into account](https://docs.localstack.cloud/aws/rds/#postgres-versions). We currently support postgres versions 11, 12, and 13.
You need to set the env `RDS_PG_CUSTOM_VERSIONS=1` to enable the feature.

Does it solve your problem?

[2022-07-21 13:35] cormac-yobota commented on #5989
@guillemsola did you find an fix for the issue?

[2022-07-21 14:35] #5820 closed

[2022-07-21 14:35] pinzon commented on #5554
Thank you very much @kingster307. I'm taking a look right now.

[2022-07-21 14:51] jtele2 commented on #6062
Same here.

[2022-07-21 15:27] steffyP commented on #6303
Hi @eddumelendez,

I have a follow-up question regarding your `MetricDataQuery`: as I understand, the `MetricStat` from your code snippet do not have `stat` included. [According to the API reference](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_MetricStat.html), it is a required argument though.

When I add `stat` to your snippet, a response is returned (no errors in LocalS

[2022-07-21 15:28] gmacon opened #6495 "bug: Responses contain mixed-case boolean values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using [Localstack with the Rust SDK](https://docs.aws.amazon.com/sdk-for-rust/latest/dg/localstack.html), and it is reporting an error parsing the `RunInstancesResponse` type:

[code]

The response contains this:

[code]

which does not conform to the API reference's description of [Attri

[2022-07-21 15:47] eddumelendez commented on #6303
you're right! I was missing it. thanks @steffyP !

[2022-07-21 15:47] #6303 closed

[2022-07-21 16:00] #6492 closed

[2022-07-21 18:01] kingkupps commented on #6492
@alexrashed Thanks for addressing this so quickly!

What does the turnaround look like for getting this out in a release?

[2022-07-21 18:02] pinzon commented on #5554
@kingster307 your reproducer showed a clearer picture of what's happening with LocalStack:

in your pytest you send your file like this:
[code]

and I do it like this:
[code]

**Both ways are valid** and upload the file into the bucket but only my way activates the Lambda in LocalStack. For a temporal solution you could try to use my method, either way I'm working on fixing this.

Note: in the fut

[2022-07-21 18:43] thrau commented on #6492
@kingkupps it should be in `latest` by now :-) if you need a tagged release i think we could maybe do one on monday.

[2022-07-21 19:00] kingkupps commented on #6492
@thrau Awesome! This is easily the fastest I've ever seen an issue go from open to "fix released" status. Really appreciate it.

[2022-07-21 19:18] kingkupps commented on #6492
I think there might be an issue now on the read side unfortunately. Does this appear related? I can open a separate issue too if that's easier.
[code]

[2022-07-22 06:06] benjaminlhai opened #6499 "bug: initiate_auth_srp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Latest Version and
[0.14.3.1](https://hub.docker.com/layers/localstack/localstack/localstack/0.14.3.1/images/sha256-c47f5ede1e5fc4fec941ef8605e0b85be66f8b61ed20828e2ea1e51581637932?context=explore)

A few months ago, Initial SRP auth worked with localstack pro, but now it fails. Stack trace b

[2022-07-22 07:20] alexrashed commented on #6492
I had a quick look, and it seems those two issues aren't related.
Could you please open a separate issue?

[2022-07-22 12:28] bertrandmc commented on #6306
Can confirm the error, DynamoDB stream stopped working without any code change, I moved the image back from `image: localstack/localstack:latest` to `image: localstack/localstack:0.14.5` and streaming is working fine.

[2022-07-22 12:29] zopyx opened #6501 "bug: Starting Localstack on Ubuntu with/without API key set behaves differently (fails with LOCALSTACK_API_KEY set)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am Ubuntu 21.10, Python 3.9, Localstack 1.0.1.

Starting LS without `LOCALSTACK_API_KEY` set works as expected:

[code]

Same environment with trial API key fails:

[code]

### Expected Behavior

Correct startup.

### How are you starting LocalStack?

With the `localstack` script

### Steps

[2022-07-22 13:00] thrau commented on #6501
hey @zopyx , thanks for reporting. localstack pro is trying to bind it's DNS to port 53 which can fails on some distros using standard systemd.

could you try to disable DNS by setting `DNS_ADDRESS=0`?

[2022-07-22 13:03] zopyx commented on #6501
yes, this work. A configuration hint on the console in such a situation might be helpful.

[2022-07-22 13:03] #6501 closed

[2022-07-22 13:04] thrau commented on #6501
yea fair point. we'll include something like that to make it easier to configure DNS on different systems!

[2022-07-22 13:08] thrau commented on #6466
hi Jon @cannahum. which version of localstack are you using? if you are on 0.14.3 or higher, could you please remove these two variables from your config:

[code]

the ASF SQS provider has become the default with [0.14.3](https://github.com/localstack/localstack/releases/tag/v0.14.3)

if you are using 1.0.x, please check out the migration guide here: https://github.com/localstack/localstack/releas

[2022-07-22 13:15] taras-kobernyk-localstack commented on #6471
Have a fix ready. But in order to merge it have to fix first an unrelated issue with localstack/moto, that causes CI tests to fail.

[2022-07-22 14:29] egobrain opened #6503 "New localstack is not comaptible with python < 3.10"
https://github.com/localstack/localstack/blob/e7efc768a20e75feafe3702a5a6e477a233feff2/localstack/utils/aws/aws_stack.py#L904

[code]

Please fix to `Dict[str, str]`

[2022-07-22 14:35] kingkupps opened #6504 "bug: AWS Kinesis get-records fails with a `JSONDecodeError`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Retrieving certain records from Kinesis through `GetRecord` like so:
[code]
seems to fail consistently with the following error message:
[code]

My compose file includes the following entry for LocalStack:
[code]

### Expected Behavior

I would expect the call to `GetRecords` to succeed given

[2022-07-22 14:36] kingkupps commented on #6492
Opened https://github.com/localstack/localstack/issues/6504

[2022-07-22 14:37] kingkupps commented on #6504
Potential workaround from @alexrashed in https://github.com/localstack/localstack/issues/6492:

Adding `--shard-count 1` doesn't appear to be accepted in either `GetRecords` or `GetShardIterator`. Which command are you referring to?

[2022-07-22 15:03] alexrashed commented on #6504
Oh, sorry, I was basically side-tracked by another issue when trying to reproduce yours (`create-stream` does not work without a `shard-count`, created https://github.com/etspaceman/kinesis-mock/issues/336 to address this).

I can reproduce your issue with a trivial stream, i.e. when executing the following script:
[code]

[2022-07-22 15:54] pinzon commented on #5554
hi @kingster307, upon further testing it seems to me that the method you use to upload your file is not valid, one cannot just simply add the file to the files dictionary and send it.

Using your method with AWS returns a 405 due to requests sending the data with the header `'Content-Type': 'application/x-www-form-urlencoded'`, in contrast, adding the file through the files parameter sends request

[2022-07-22 18:43] kingster307 commented on #5554
Appreciate your work on this! ....Wrote an extra test case for adding headers for content type restrictions...Neither adding headers nor utilizing the files param seem to work completely. - [see tests here](https://github.com/kingster307/localstack_onObjectCreated_bug/blob/master/tests/onObjectCreate_test.py)

When adding the files param I can see the lambda fire but no log output show. [see logs

[2022-07-22 19:14] pinzon commented on #5554
AWS returns a 400 response when adding the line `headers = {
    "Content-Type": "multipart/form-data; boundary=----"
}`

[2022-07-23 00:24] paulrobello opened #6505 "bug: localstack pro websocket authorizer does not populate sec-websocket-protocol header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

websocket authorizer is invoked without sec-websocket-protocol header even though it is provided by the client

### Expected Behavior

websocket authorizer is invoked with sec-websocket-protocol header when it is provided by the client

### How are you starting LocalStack?

With a docker-comp

[2022-07-23 04:41] jericopulvera commented on #900
The problem is not yet solved. Please reopen.

[2022-07-23 04:47] jericopulvera commented on #900
Currently, open at #6321

[2022-07-23 05:45] danielpoonwj opened #6506 "bug: Unable to set -inMemory for Dynamodb"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There's no way to explicitly toggle the `-inMemory` flag for DynamoDB - it relies on [`db_path` being unset](https://github.com/localstack/localstack/blob/v1.0.1/localstack/services/dynamodb/server.py#L45). However, `db_path` is always set because it [relies on config.dirs.data](https://githu

[2022-07-23 06:00] cannahum commented on #6466
I tried, but still same response.

I also found another source which changed the docker-compose spec a bit:

`
version: '3.8'

services:
  localstack:
    image: localstack/localstack
    container_name: localstack-example
    hostname: localstack
    ports:
      - "4566:4566"
    environment:
      # Declare which aws services will be used in localstack
      - SERVICES=sqs,dynamodb
      - DEBU

[2022-07-23 08:45] hans-d commented on #6428
podman seems to be providing a format fully json compliant document (array), whereas docker provides a line with a json object per container. The code is working from the line by line case docker provides.

[2022-07-23 10:04] jericopulvera opened #6507 "bug: DynamoDB Stream not Triggered via NoSQL Workbench PutItem and PartiQL Insert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

DynamoDB Streams is not triggered via NoSQL Workbench PutItem and PartiQL Insert but it works when using CLI put-item.

### Expected Behavior

DynamoDB Streams should work using NoSQL Workbench.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### H

[2022-07-23 10:05] wds33817 commented on #480
Thanks [abzal0](https://github.com/abzal0) Save me some time searching!

[2022-07-23 18:36] #6428 closed

[2022-07-23 18:37] hans-d opened #6509 "bug: <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Terraform output (via cdktf)
[code]
From the docker logs
[code]

### Expected Behavior

ec2 instance can be provisioned via tf/cdktf

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command

[2022-07-23 18:55] thrau commented on #6509
Thanks for reporting @hans-d. Looks like this was added in a moto PR that's not part of our fork yet https://github.com/spulec/moto/pull/5266/files#diff-586acb6e823a05fa7cf85e897548ce4dd250075edfb288c6e51dd3a6590f37c8

/cc @whummer

[2022-07-23 19:07] hans-d commented on #6509
https://github.com/localstack/localstack/blob/master/setup.cfg#L78 `moto-ext[all]==3.1.16`  ?

[2022-07-23 19:18] hans-d commented on #6509
terraform change: https://github.com/hashicorp/terraform-provider-aws/pull/25185

[2022-07-23 19:19] hans-d commented on #6509
and released https://github.com/hashicorp/terraform-provider-aws/releases/tag/v4.20.0

[2022-07-23 19:37] hans-d commented on #6509
downgrading/pinning to aws provider 4.18 provides workaround for now

[2022-07-23 20:02] #5457 closed

[2022-07-23 21:26] hans-d opened #6511 "bug: RDS fails in arm64 docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

RDS can be used on arm64

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker-compose.yml`)

`podman run --rm -it -p 4566:4566 -p 4

[2022-07-23 21:27] hans-d commented on #6511
also on latest

[2022-07-23 21:51] hans-d commented on #6511
output using localstack-full
[code]

[2022-07-23 21:53] hans-d commented on #6511
running apt-get update in a -full container? Not a "fan" of that practice...

[2022-07-23 23:12] thrau commented on #6466
hey @cannahum, please follow these steps:

* run `docker pull localstack/localstack`
* some of the configuration variables in your docker-compose are deprecated or not needed, please use the official docker-compose template: https://github.com/localstack/localstack/blob/master/docker-compose.yml
* add the environment variable `LS_LOG=trace`
* post the full output of the localstack container logs h

[2022-07-23 23:39] thrau commented on #6503
hi @egobrain, i've raised a PR anyway to fix the issue. however this is platform code which is only supported for LocalStack 3.10 (since we expect it to only run in our container environment).

[2022-07-23 23:42] thrau commented on #6506
adding the `-inMemory` if `PERSISTENCE=0` seems the most user friendly. maybe adding an option to overwrite it would be good though, something like `DYNAMODB_IN_MEMORY` to be consistent with the others: https://docs.localstack.cloud/localstack/configuration/#dynamodb

[2022-07-23 23:55] thrau commented on #6467
thanks for reporting @sfc-gh-ssudakovich, i've raised an issue in the docs repository and will close this one

[2022-07-23 23:55] #6467 closed

[2022-07-23 23:58] thrau commented on #6511
thanks @hans-d. RDS installation has been bugging us for a while and we've been exploring alternatives. your issue report may give this another push.

[2022-07-24 03:30] hans-d commented on #6511
suggestion:
- use a fake db service by default, eg it now it has a db with the instantiated name, but cannot provide actual db services
- provide an additional docker image with the actual db software + config in the main image to enable this image

[2022-07-24 14:05] debu99 commented on #4899
any update?

[2022-07-25 03:49] grinsteindavid commented on #25
hi, without elb.. is very complicate to test a simple aws stack

[2022-07-25 05:57] anekar3416 commented on #6352
Is there any update on this?

[2022-07-25 09:39] #6504 closed

[2022-07-25 09:54] bentsku commented on #6131
@RobertLucian it is available in 1.0.0 as well, yes!

[2022-07-25 10:30] alexrashed commented on #6504
Hi @kingkupps!
The fix is merged and is already contained in the latest version of the Docker image on DockerHub.
Could you please check if it works for you now? Please make sure to use `--output test` on `get-shard-iterator` to create a proper request (otherwise the shard iterator will be invalid because it will be embedded in quotes).
Thanks!

[2022-07-25 15:34] pinzon commented on #5554
Hi @kingster307 I made a pull request to your reproducer repo with the changes I made so the tests work with LocalStack. As I mention in my last comments I corroborate that the way you POST your file (adding it to the fields dictionary) doesn't work with AWS.

I made a PULL request that makes your reproducer trigger the Lambda function and I added an integration test to LocalStack (https://github.

[2022-07-25 15:53] #6503 closed

[2022-07-25 16:43] kingster307 commented on #5554
@pinzon see comments on [PR](https://github.com/kingster307/localstack_onObjectCreated_bug/pull/1)

[2022-07-25 17:33] steffyP commented on #6511
Hi @hans-d,
thanks for reporting. Agreed, the current setup, e.g. running `apt-get update` isn't ideal.

However, I tested your scenario on a M1 machine (MacOS Monterey) and it worked for me.

From your logs it seems there might be an issue with the system time? Does this problem persist when you restart the machine?

[code]

[2022-07-25 18:45] kingkupps commented on #6504
Just confirmed, thanks for quick fix!

[2022-07-25 19:18] salemcouja commented on #6360
I'm also facing the same problem

[2022-07-25 19:36] hans-d commented on #6511
ah crap, https://github.com/containers/podman/issues/11541 might be playing up.

[2022-07-25 20:22] kingster307 commented on #5554
@pinzon appreciate your work on this. Feel free to close at will...Can confirm when utilizing the new POST url structure & using files param the post & integration succeeds

[2022-07-25 20:24] #5554 closed

[2022-07-26 00:29] Simonl9l commented on #6442
@HarshCasper as related followup, it seems there is possible an incompatibly with the x64 version running on the M1 Mac (via Rosetta2) and the underlying docker image.

Via Safari in the Web App I get these errors:
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/66816457/180897031-5acbdafa-a362-42b5-978e-502d242d69c8.png">
Via Edge (chromium) it seem to work.

With a t

[2022-07-26 08:13] steffyP commented on #6511
Hi @hans-d,

thanks for getting back us!

Regarding your remaining questions:

We recommend and fully support running LocalStack in Docker. Some features might need a mounted docker-socket, and other docker features to fully work.
Podman is currently in a experimental phase. You can read details about r[ecommended and required setup when using Podman in our docs](https://docs.localstack.cloud/loca

[2022-07-26 10:57] MarcelStranak commented on #6499
Hi @benjaminlhai, can you please share the full steps how are you creating the app client for cognito? Thank you.

[2022-07-26 18:32] paulrobello commented on #6505
My bad, not LS's fault had some pre v1 shims in frontend to not send proto header

[2022-07-26 18:32] #6505 closed

[2022-07-26 21:39] paulrobello opened #6521 "bug: api-gateway-v2 websocket connect integration not returning Sec-Websocket-Protocol header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When connecting to websocket using sec-websocket-protocol header, chrome requires that the sec-websocket-protocol be provided back during the connection handshake as a header otherwise it will cause an abnormal disconnect error.
in my $connect route lambda I return the following

headers={

[2022-07-27 01:32] benjaminlhai commented on #6499
hey @MarcelStranak

Here are the steps to create the pool and client:

There are some auxiliary steps that I usually run, but for the purposes of this testing I have omitted them from my setup workflow to isolate the issue.

1. Create Pool

[code]

2. Create user pool client

[code]

3. Create one user
[code]

[2022-07-27 08:21] tinesoft opened #6523 "bug: "CommaDelimitedList" type not supported for SAM/CloudFormation template parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have 2 parameters in my SAM `template.yml`, which represent a list of Security GroupIds and SubnetIds.

[code]

These parameters are provided at runtime through environment variables, when deploying with `samlocal`.

[code]

It works fine when deploying on AWS, with SAM. but the same comman

[2022-07-27 10:53] taras-kobernyk-localstack commented on #6412
The APIs got added. Should be a part of the next release.
If something is going to be lacking there - please let me know.

[2022-07-27 10:53] #6412 closed

[2022-07-27 10:54] taras-kobernyk-localstack commented on #6471
The fix has been merged. Should become a part of the next release.

[2022-07-27 10:54] #6471 closed

[2022-07-27 11:18] #6196 closed

[2022-07-27 14:46] steffyP commented on #6188
Hi @holyoaks,
the feature is available in LocalStack version 1.0.0 upwards.
Exactly, you can then use the API call for `create-db-instance` or `create-db-cluster` and set `--engine-version` accordingly.
Please be aware that only major versions are taken into regard.

[2022-07-27 15:03] holyoaks commented on #6188
Perfect. Thank you!

[2022-07-27 15:15] #6188 closed

[2022-07-27 15:16] #6511 closed

[2022-07-27 15:29] thrau opened #6527 "implement AWS streaming trait for ASF"
AWS smithy specs have a streaming trait. This is used for example in S3, where the `Body` of the `PutObjectRequest` should not be just `bytes`, but actually a stream that you can iterate over chunk by chunk.

the major problem currently seems to be how to generate the code correctly in the scaffold. should the shape be an `io.IO[bytes]` object, or the member declaration in the structure?

## check

[2022-07-27 15:31] giograno commented on #6499
Hi @benjaminlhai, thanks for the details. I have been trying to replicate your issues.
The exceptions given by the CLI and by `boto` look different to me. I think that the second one is caused by calling `initiate-auth` without any challenge response. Can you confirm it?
For the code example, could you please share some more insights about the `AuthParameters` passed to the `initiate_auth` functio

[2022-07-27 17:07] #5701 closed

[2022-07-27 17:12] macnev2013 opened #6528 "bug: Describe Subnets Response Diverges from AWS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In AWS, DescribeSubnet Response returns:
[code]

whereas localstack returns:
[code]

### Expected Behavior

It should return correct response structure. It causes terraform to complain.

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

#### How are

[2022-07-27 17:46] ryan-ju opened #6529 "bug: DynamoDB transact-write-items returns IdempotentParameterMismatchException due to parameter order change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Two calls to transact-write-items with the same ClientRequestToken, but different parameter ordering in JSON causes the second call to fail with IdempotentParameterMismatchException

### Expected Behavior

The second call should succeed.

I have verified against AWS, it doesn't care about par

[2022-07-27 19:13] jmax01 opened #6530 "bug: When attempting to create a secret that is mark for deletion the wrong exception is thrown."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Attempt to create a secret with the same name as a secret waiting for deletion throws `ResourceExistsException`

### Expected Behavior

Attempt to create a secret with the same name as a secret waiting for deletion should throw `InvalidRequestException`

### How are you starting LocalStack?

[2022-07-27 20:07] kingster307 opened #6531 "pre-signed post 500 issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

sequential POST's with fresh presigned post URL's fail with 500 error

### Expected Behavior

POST should be successful & yield 204

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

[Repo Here](https://github.com/kingster307/localstack_post_presigned_e

[2022-07-27 20:25] kingster307 opened #6532 "path being passed into event missing trailing slash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

event path doesn't have trailing slash

### Expected Behavior

event path should have trailing slash

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

{**'path': '/get_presigned_url'**, 'headers': {'Host': '0vcomlwzdi.execute-api.localhost.localstack.c

[2022-07-27 20:30] kingster307 opened #6533 "ARN being passed into event is missing trailing slash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Arn being passed into event is missing trailing slash

**current - arn:aws:lambda:us-west-2:000000000000:function:s3OnObjectCreatedLambda-b79d29d**

### Expected Behavior

ARN being passed into event has trailing slash

**expected - arn:aws:lambda:us-west-2:000000000000:function:s3OnObjectCre

[2022-07-27 21:02] #3511 closed

[2022-07-27 23:50] thrau commented on #6527
from the [smithy docs on the streaming trait](https://awslabs.github.io/smithy/1.0/spec/core/stream-traits.html) we can make the following observations:

* streaming traits can only be applied to blob types
* only top-level members of an operation's input/output shapes can have the streaming trait
* and only a single member can have that trait

from our investigations we can make some other observ

[2022-07-27 23:55] thrau commented on #6527
since members with streaming shapes are always blobs, it's maybe easiest for the scaffold to just ignore the types for the streaming member, and just do `Union[bytes, Iterable[bytes], io.IO[bytes]]` for output shapes, and `io.IO[byte]` for input shapes, since this reflects what the serializer and parser work with.

[2022-07-28 04:41] benjaminlhai commented on #6499
Hi, apologies for late reply.. I am now having some issues with just getting the 1.0.x and latest containers to start, so I will need to come back to you with some more specifics on your first question once I can successfully launch the container.

But on the topic at hand, the authentication parameters are as follows...

Our code is similar to an implementation like the one that can be found in p

[2022-07-28 05:17] marcelosarquis commented on #3133
Good morning team. Do we have any news on this topic? Cheers!

[2022-07-28 07:49] alexrashed commented on #6528
That's a great catch!
Thanks for the issue report and the clear instructions on how to reproduce the issue.
A PR is on the way, it will close the issue automatically on merge, but let me know if you can verify that it fixes your issue in Terraform.

[2022-07-28 08:24] silv-io commented on #6193
Hi @e-nikolov, aliases should work by now. Can you check if it works for you?

[2022-07-28 08:24] #6193 closed

[2022-07-28 08:24] #6046 closed

[2022-07-28 10:19] #6528 closed

[2022-07-28 12:09] twissteros commented on #5308
This issue actually blocks integrating LocalStack's Cognito with Spring Security.

[2022-07-28 12:23] silv-io commented on #6405
Fixed by contributor

[2022-07-28 12:23] #6405 closed

[2022-07-28 12:43] steffyP commented on #5562
Hi @nikoboerger1369,

when you use the latest image, e.g.  pull`localstack/localstack:latest`, the cloudwatch API for `enable-alarm-action` and `disable-alarm-action` is available.
Please let us know if it works as expected.

[2022-07-28 13:10] jogura commented on #6450
Verified with the `latest` this functionality works as designed.

Thanks! Feel free to close out the ticket.

[2022-07-28 13:11] jogura commented on #6450
Verified with the `latest` this functionality works as designed.

Thanks! I'll close out the ticket.

[2022-07-28 13:11] #6450 closed

[2022-07-28 13:12] jogura commented on #6451
Verified with the `latest` this functionality works as designed.

Thanks! I'll close out the ticket.

[2022-07-28 13:12] #6451 closed

[2022-07-28 15:41] pinzon commented on #5383
Hi @esperecyan, the support for this feature was implemented in #6200, I tested myself both of the methods describe by AWS in this [doc](https://aws.amazon.com/blogs/compute/using-node-js-es-modules-and-top-level-await-in-aws-lambda/).

[2022-07-28 15:41] #5383 closed

[2022-07-28 22:02] #4550 closed

[2022-07-29 07:26] timleslie opened #6544 "bug: Incorrect error response from get-object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Localstack (1.0.2) returns what appears to be an incorrect error response when calling `get-object` against a non-existent bucket:

[code]

[code]
Pretty-printing the XML makes the difference in behaviour clearer:

[code]

vs

[code]

I've also observed the same behaviour when calling the `ge

[2022-07-29 08:49] bentsku commented on #3336
Hello @arthyrik,
Could you add a comment with a detailed explanation on how to reproduce your issue? If you can provide any error in the logs as well, I'll be happy to help!

[2022-07-29 09:18] AlexeyInc commented on #366
@Yasas4D Thanks a lot!
You comment is really helpful

[2022-07-29 09:23] egobrain opened #6545 "bug: Missing entry_point.txt in localstack installed via pip"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

Without this file it's impossible to run localstack in host mode (for debug and development) because there is no services with `default` provider (only `pro` and `pro_legacy` exists)

### Expected Behavior

localstack-*.dist-info/entry_points.txt exists

### How are you starting Local

[2022-07-29 09:30] dfangl commented on #6545
Hi!
Thank you for your contribution. You are right that its currently missing, we have identified this issue just yesterday and already fixed it in the release pipeline, meaning it will be fixed on the next release of the `locakstack` package, which should happen failry soon.

[2022-07-29 09:35] #6495 closed

[2022-07-29 09:41] #6180 closed

[2022-07-29 10:13] viren-nadkarni opened #6546 "feature request: Security groups for Docker backed EC2 instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

It should be possible to use security groups to select the Docker container ports exposed to the host.

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-07-29 10:16] viren-nadkarni commented on #5931
Thanks for reporting this, tracking the feature request at #6546

[2022-07-29 10:16] #5931 closed

[2022-07-29 10:17] #4530 closed

[2022-07-29 10:24] viren-nadkarni commented on #6226
Thanks for reporting this, tracking the port-binding feature request at https://github.com/localstack/localstack/issues/6546

[2022-07-29 10:38] bentsku commented on #6448
Issue marked as resolved in Discuss:
https://discuss.localstack.cloud/t/default-example-of-getting-started-not-working/56/2

[2022-07-29 10:38] #6448 closed

[2022-07-29 12:11] alexrashed commented on #6544
Hi @timleslie!
Thanks for the issue report! The linked PR will address the issue of the wrong structure of the S3 error messages.
Once the PR is merged, the latest image will return the following error response:
[code]
By looking at your linked PR / the failing pipeline, I think this should resolve your issues.
However, this will not (yet) add the missing `BucketName` member of the error response.

[2022-07-29 13:13] giograno commented on #4613
Hi @alexserver. Unfortunately, we discontinued the record/replay-based persistence mechanism implemented in the community version in [0.13.1](https://github.com/localstack/localstack/releases/tag/v0.13.1). You can find a detailed explanation of our reasoning in this comment: https://github.com/localstack/localstack/issues/3881#issuecomment-1004009450.
Such a persistence mechanism has been complete

[2022-07-29 13:13] #4613 closed

[2022-07-29 13:43] ivanmartyniuk9 opened #6549 "bug: SNS publish to subscribed SQS queue Message Attributes not valid serialization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi, I am using C# and AWSSDK.SimpleNotificationService, and AWSSDK.SQS libraries.I created in localstack topic subscribed existsing queue to it.Then in my code I publish message to topic with some message attributes has format
[code]
![image](https://user-images.githubusercontent.com/86060333

[2022-07-29 13:45] sorendaugaard opened #6550 "bug: RDS instance not accessible after restart and call to RDS service (Pro version, Persistence enabled)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am running 1.0.1 in the Pro version with `PERSISTENCE` enabled via docker compose.

When I boot up my empty container and provision an PG database I can connect to the database and run queries. However after restarting the localstack container I can no longer connect to the database.

I’ve

[2022-07-29 14:18] carrickkv2 opened #6551 "bug: Can't get SSM secret parameter using localstack."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This bug has been reported before here. https://github.com/localstack/localstack/issues/3128
Currently, I'm encountering the same issues.
The issue is that creating an SSM secret using the awslocal cli and trying to retrieve the secret using awslocal gives me a (ParameterNotFound) error.

###

[2022-07-29 15:07] SchmitzChristian opened #6553 "bug: S3 internalError when try to get an object which was deleted before instead of error code NoSuchKey"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We have some tests which are creating and deleting objects at s3. This tests are failing with localstack version 0.14.4 and newer.

Because of an internalError we get as error null instead of NoSuchKey as error code.

Logs of localstack:

[code]

### Expected Behavior

We would expect to get

[2022-07-29 23:12] xanol opened #6556 "bug: organizations list-tags-for-resource returns HTTP 500"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After creating and AWS Organizations SCP policy with no tags, I call the organizations:list-tags-for-resource API on the resource and get the following error:

[code]

### Expected Behavior

The expected response is:

[code]

### How are you starting LocalStack?

With a docker-compose file

#

[2022-07-30 00:06] #5987 closed

[2022-07-30 02:33] ZeusGolohor commented on #325
@gsaadeh add a --region <region where the stack is located> to the command to fix the error.

[2022-07-30 12:26] thrau commented on #6527
here's the final output of methods that need updating

[code]

[2022-07-30 14:22] thrau commented on #6445
here's a demonstration that it has nothing to do with server-side latency. i wrapped both the asgi gateway and quart ASGI app (what's underlying the http2_server) with timer. here are the results. of server-side latency of the `sqs.ListQueues` command.

![image](https://user-images.githubusercontent.com/3996682/181918580-0044b920-e16f-47ea-b587-3d48b87a411a.png)

[2022-07-30 14:49] thrau commented on #6445
OK i finally narrowed it down to this line here: https://github.com/localstack/localstack/blob/736e7ad490deda766b81b0ed893a0322bc9d3d88/localstack/http/asgi.py#L317

removing this leads to the following results for the list queues benchmark:
[code]

this indicates to me that it has something to do with connection management

[2022-07-30 18:02] #5494 closed

[2022-07-30 18:39] thrau commented on #6445
my hunch that it has to do with connection management seems to have been correct:

TL/DR:

* what's happening? hypercorn/h11 connection keep-alive is slowing down boto clients (not sure why exactly yet)
* why was it working before? `http2_server.py` was forcing keep-alive to be disabled by responding with `Connection: close` headers

## connection re-use and keep-alive in the spec and localstack

[2022-07-30 18:41] thrau opened #6557 "h11 keep-alive is slowing down HTTP clients"
in #6445, it was reported that SQS had a performance regression with the new HTTP gateway, but it turns out the problem sits much deeper. my hunch that it has to do with HTTP connection management seems to have been correct.

TL/DR:

* what's happening? hypercorn/h11 connection keep-alive is slowing down successive HTTP client calls that re-use connections
* why was it working before? `http2_serve

[2022-07-31 11:50] thrau commented on #6557
i played around a bit more with other webservers to further narrow it down. it seems to be a problem in combination of h11 and asyncio.

i've created a gist here with some tooling to replicate: https://gist.github.com/thrau/75b84b0d501575eb50bdf1795844d6d8

the problem does not occur with uvicorn, or even hypercorn using uvloop. it's also not limited to boto, or even python http clients. using [he

[2022-07-31 13:31] thrau commented on #6557
upstream issue report https://gitlab.com/pgjones/hypercorn/-/issues/241

[2022-07-31 22:38] timleslie commented on #6544
@alexrashed Thanks for the speedy response, I'll test out the latest image today and close out the issue if everything looks good 👍

[2022-07-31 22:52] timleslie commented on #6544
Looks good, thanks again!

[2022-07-31 22:52] #6544 closed

[2022-08-01 01:26] #6247 closed

[2022-08-01 02:56] agibsonccc opened #6562 "Localstack failing on CreateComputeResource with KeyError on maxvCpus"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using the aws java v2 sdk when attempting to create one. My main use case is setting up a cluster for aws batch.
Any hints? Thanks!

Stack trace:
[code]

### Expected Behavior

The compute resource gets created.

### How are you starting LocalStack?

With a docker-compose file

### Steps

[2022-08-01 03:05] dsdshcym commented on #5304
@MarcelStranak Thanks for this command!
It works for me without any issues so far 👍

[2022-08-01 08:31] whummer commented on #6551
Thanks for reporting @carrickkv2 . Please note that you can retrieve the parameter via the predefined prefix `/aws/reference/secretsmanager/`, like so:

[code]

This is the expected behavior - we've verified that it works the same way in real AWS. An integration test has been added in #6564 to assert this logic and avoid regressions in the future.

Hope that helps - please let us know if there are

[2022-08-01 09:02] #5599 closed

[2022-08-01 09:21] #6216 closed

[2022-08-01 09:23] slee106 commented on #6142
hi @silv-io / @calvernaz has there been any update on the first issue (passing a module)? Or the second issue (`cognito-user-group` error)?

[2022-08-01 09:23] dfangl commented on #6458
Hi @gchappel !
This bug should be fixed with 1.0.2. Can you upgrade localstack using pip and try again?

[2022-08-01 09:28] dfangl opened #6566 "bug: Lambda state does not reflect internal state"
While a lambda is still processing (archive unpacking etc), the lambda state should be set to "Pending" (currently "Active") and invocations to that lambda should fail (currently, it can end up in a inconsistent state in this case, like lambdas being executed without layers).

Lambda state should reflect the current internal state, and invocations should fail if not active.

[2022-08-01 09:30] bentsku commented on #6549
Hello @ivanmartyniuk9,

This should be fixed with #6373. Can you try to pull the latest Docker image with docker pull localstack/localstack:latest and give it a try? Your issue should be resolved.

[2022-08-01 09:34] dfangl opened #6567 "bug: Lambda initialization slow on Docker Desktop bind volumes"
## Problem
Currently, even if `LAMBDA_REMOTE_DOCKER=1`, we unzip the zip files in the directory they are in, which is usually /var/lib/localstack, which usually has a bind mount to the host.
On docker desktop, due to the use of grpc-FUSE (on macos), this can be very slow, about 200 times slower than on volumes / directly on the host. With experimental virtio filesystem enabled (also on macos), thi

[2022-08-01 09:44] dfangl commented on #6545
Hi!
This issue should be resolved with pip release 1.0.3, as you can see here:
[code]

[2022-08-01 09:44] #6545 closed

[2022-08-01 12:09] alexrashed commented on #6203
Since v1, there is initial support for RedShift targets as JdbcTargets in Glue Crawlers.
I'm going to close this issue for now, please feel free to create a new issue if you experience any problems with RedShift JDBC connections as JdbcTarget.

[2022-08-01 12:09] #6203 closed

[2022-08-01 12:16] carrickkv2 commented on #6551
Thank you @whummer.

[2022-08-01 13:16] designreact opened #6568 "feature request: Add support for cdk s3.BucketDeployments aka CloudFormation lambda events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Before I begin, **thank you so much** for providing such great tooling! we utilise localstack on a few projects as part of our e2e test suite.

Now to the issue:

We use cdk s3.BucketDeployments to deploy static sites to S3, these I believe utilise a deployment lambda which gets triggered

[2022-08-01 15:15] qmg-geoff opened #6570 "bug: cloudformation injects ARN instead of name for AWS::KinesisFirehose::DeliveryStream"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using !Ref to pass the delivery stream name of a delivery stream resource in as an environment variable into a lambda.

When the lambda is executed, the provided value is the ARN of the delivery stream, not the name.

This causes publishing to fail as it needs the name, not the ARN.

!Re

[2022-08-01 15:51] #6445 closed

[2022-08-01 15:52] thrau commented on #6445
Hey Karlone @karolinepauls, i just merged a workaround for this which should be deployed in about an hour.

[2022-08-01 21:22] whummer commented on #6493
Hi @paulrobello, thanks for reporting. We have pushed a couple of enhancements for handling of WebSocket disconnects and GoneException. Can you please pull the `latest` Docker image and give it another try? In parallel, we continue to work on the separate thread with `$disconnect` messages (see #6383). Please keep us posted on how it goes, thanks!

[2022-08-01 23:53] paulrobello commented on #6493
The issue still persists with localstack:latest

Paul Robello | Principal Solution Architect

VistaJet | XO | XOA | A LEADER IN PRIVATE JET OPERATIONS

mobile 1.916.402.0471

email  ***@***.***> ***@***.***

From: Waldemar Hummer ***@***.***>
Sent: Monday, August 1, 2022 2:23 PM
To: localstack/localstack ***@***.***>
Cc: Paul Robello ***@***.***>; Mention ***@***.***>
Subject: Re: [localstack/loca

[2022-08-02 00:51] devunixguy opened #6574 "issue: Installation failing due to cachetools~=5.0.0 (from localstack)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm trying to install localstack but failing due to the below error. I'm using a RH Linux, is there any OS version dependency for cachetools.

Collecting cachetools~=5.0.0 (from localstack)
  Could not find a version that satisfies the requirement cachetools~=5.0.0 (from localstack) (from ver

[2022-08-02 09:09] gchappel commented on #6458
This seems much better, yep!

- I upgraded `localstack` with `pip`
- deleted my copy of `localstack/localstack:latest`
- verified that I did **not** have `LEGACY_DOCKER_CLIENT=1` in my environment
- ran `localstack start`

This time, Localstack correctly only downloaded the `latest` tag of the image, and everything started and stayed running successfully. Thanks for the fix!

[2022-08-02 09:14] dfangl commented on #6458
Great to hear that, thanks for the report!

[2022-08-02 09:14] #6458 closed

[2022-08-02 10:49] steffyP commented on #5000
Hi @ondrejkouril,

we haven't heard back from you and were are not able to reproduce this issue anymore with the latest image. I will close the ticket therefore.

[2022-08-02 10:49] #5000 closed

[2022-08-02 10:51] steffyP commented on #5562
Hi @nikoboerger1369,

we have merged the missing feature a few days ago and it should resolve your problem. If you still encounter any problems, feel free to re-open this ticket.

[2022-08-02 10:51] #5562 closed

[2022-08-02 10:57] adrian-huminiuc commented on #732
I ended up with a combination of all of the above, a more in-depth example, make a script in file:
`./ops/local/scripts/is-localstack-ready.sh`

With the contents:
[code]

And in docker-compose.yml

[code]

[2022-08-02 12:35] thrau commented on #5693
potentially fixed by #6572, will try later

[2022-08-02 15:29] kowalczykp commented on #5684
Looking forward for this feature, are there any plans/estimates about when this can be delivered? Thanks in advance

[2022-08-02 16:04] whummer commented on #6493
Thanks for the feedback @paulrobello . Can you please help us create a small reproducible example? With the latest version we don't seem to be able to expose this behavior anymore. Thanks for your help!

[2022-08-02 16:06] yaminir opened #6577 "(InternalError) when calling the ListObjectsV2 operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

"An error occurred (InternalError) when calling the ListObjectsV2 operation (reached max retries: 2): We encountered an internal error. Please try again.

### Expected Behavior

Should list the objects

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reprodu

[2022-08-02 16:58] mdrachuk commented on #1205
Seeing the same issue, is there at least some insight of where does it come from?

[2022-08-02 19:57] thrau commented on #5693
seems to indeed work now with `latest`. Aleks @alekspickle, could you please give it a try with the latest docker image?

[2022-08-02 21:48] thrau commented on #4287
The latest issue was addressed in #6313

[2022-08-02 21:55] thrau commented on #4287
For the original issue we wrote a test a while back that should now be green #6578

[2022-08-02 21:57] thrau commented on #6556
we deployed a fix and this should now work with the latest image.

[2022-08-02 21:57] #6556 closed

[2022-08-02 23:50] macsj200 commented on #934
I have also been seeing this error lately. I updated our project to use `localstack/localstack:1.0.1`.

[2022-08-02 23:55] macsj200 commented on #6364
I have seen this error on localstack `1.0.1`:
`com.amazonaws.services.dynamodbv2.exceptions.DynamoDBLocalServiceException: The conditional request failed`

I will try it with `1.0.3` and see what happens.

For some reason, the integration test suite seems to run fine locally on my Mac, but when I push it up to Jenkins (linux) it fails.

[2022-08-03 00:31] thrau commented on #6285
Hi @Garethp, sorry for the delay, and thanks for pointing out the docs. They need an overhaul, since the SQS_EXTERNAL_PORT is outdated now that we have deprecated/removed the external SQS providers. We therefore don't want to be able to customize the queue URLs using these configuration options.

This seems to me less like a bug and more like something that we could address with a feature or other

[2022-08-03 05:32] kaklakariada commented on #5115
Hi @steffyP ,
sorry for the late response.
The problem still exists with version 0.14.3.1 and also 1.0.3

[2022-08-03 09:37] #6551 closed

[2022-08-03 09:39] dfangl commented on #6574
Will close this issue for now, as it seems quite clear where the problem lies. For easily managing multiple python versions, I recommend using pyenv (https://github.com/pyenv/pyenv)

[2022-08-03 09:39] #6574 closed

[2022-08-03 09:39] whummer commented on #6367
Closing as resolved - please let us know if the problem persists.

[2022-08-03 09:39] #6367 closed

[2022-08-03 09:46] Garethp commented on #6285
Hi @thrau. The use-case for this is that we use [`samlocal`](https://github.com/localstack/aws-sam-cli-local) for hosting the main portion of our application locally and only use `localstack` to fill in the gaps where we need SQS Queues. So we've got a monorepo that looks (roughly) like this:

[code]

Where the lambdas written and run in `part-1` are hosted with `samlocal` using the `template.yaml

[2022-08-03 09:52] whummer commented on #6100
Hi @johnmchale , quick follow-up - did you have a chance to give it another try with the `latest` Docker image? We've been adding a bunch of enhancements for Cognito, and also released our major version 1.0 of LocalStack in the meantime. Please let us know if the problem persists - happy to look into it in more detail.. Thanks!

[2022-08-03 09:52] #6100 closed

[2022-08-03 10:05] whummer commented on #5988
Hi @thantos, thanks for the update, and apologies for the long delay here. We just gave it a quick try with the `responseMappingTemplate` above, and `put` seems to work in `qr` - can you please give it another try after pulling the `latest` Docker image? We'll also make sure to add another unit test to our code base, to make sure this case is covered by our tests. Thanks for your help!

[2022-08-03 10:50] johnmchale commented on #6100
I did; it didn't work

On Wed, 3 Aug 2022 at 10:52, Waldemar Hummer ***@***.***>
wrote:

[2022-08-03 11:18] whummer commented on #2934
Thanks @dev-trendrating and apologies for the very long delay on this one. We have made several refactorings and enhancements in the meantime - the `SERVICES` configuration is no longer required, as all services are now enabled by default and lazily loaded upon the first request. 👍

Please note that ELB v2 is part of our Pro offering, and not available in the Community version of LocalStack - ther

[2022-08-03 11:18] #2934 closed

[2022-08-03 12:13] ruimartinsptl commented on #480
Hi, I had a similar problem, check if this solution is useful for you: https://stackoverflow.com/a/73221436/2280741

[2022-08-03 12:36] #6566 closed

[2022-08-03 12:57] whummer commented on #3300
Apologies for the long delay on this one @Tobolov . In the meantime we have made several refactorings and enhancements in CloudFormation as well as the general request parsing, and I can confirm that the issue no longer persists (we'll add an integration test to avoid regressions in the future). Thanks!

[2022-08-03 12:57] #3300 closed

[2022-08-03 13:16] steffyP opened #6585 "feature request: persistence for cloudwatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Currently persistence is not available for cloudwatch alarms, metrics, etc.

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-08-03 13:23] #4287 closed

[2022-08-03 13:35] alexrashed commented on #4407
Hi @tomerber2!

I just tried to reproduce your issue, but I wasn't successful.
I created a minimal sample using the `aws-sdk-go` v1:
[code]

Running this MWE against a running instance of LocalStack Pro is successful on my end:
[code]

Could you maybe give it a try with the latest version?
Thanks!

[2022-08-03 13:42] alekspickle commented on #5693
Yep, with latest version seems to be working!

[2022-08-03 13:42] #5693 closed

[2022-08-03 15:03] steffyP commented on #5115
Hi @kaklakariada,

thanks for getting back to us! Unfortunately, I cannot reproduce your issue.  Maybe you can give me another hint how you are trying to use the endpoint.

Could you also try if the following (aws-cli) commands work for you?
[code]

And then try to run the `curl` command on the endpoint?
[code]

Following up on your problem with `testcontainers`: I ran a test with the AWS SDK v2 a

[2022-08-03 16:26] AndySemenov opened #6587 "bug: Flask 2.2.0 released, broken. Localstack should pin to earlier versions."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Starting `localstack start --host` fails due to:
[code]

Brief search in the Net leads to some updates made in Flask 2.2.0 released lately. The traceback shows this has nothing to do with the user of Flask package, it's internal, so Flask 2.2.0 seems broken.

### Expected Behavior

Localstack

[2022-08-03 17:39] krystof-k opened #6588 "bug: Presigned S3 upload issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_I have no idea if I'm doing something wrong, before it worked fine (unfortunately I don't have any idea about the version), but all I get is meaningless error._

I'm unable to upload file to a S3 presigned URL (URL is created via Ruby). The file is then uploaded via Dropzone.js. It is workin

[2022-08-03 17:49] #6527 closed

[2022-08-03 18:14] krystof-k commented on #6588
If I use s3.localhost.localstack.cloud:4566, I get this response instead:

[code]

[2022-08-03 19:14] thrau commented on #6285
thanks for clarifying @Garethp, that makes sense. one more thing that would be helpful to understand is how you are informing the lambdas in `part-1` of the queue URLs created in `part-2`.

[2022-08-03 19:16] pinzon commented on #6588
@krystof-k if you're using `presign_url` you should add -X PUT, if you're using `presign_post` (which seems to be the case), you should add -X POST to the cURL command.

[2022-08-03 19:19] krystof-k commented on #6588
POST, yes, but that's not the case, it is just missing in the cURL from Chrome.

[2022-08-03 19:25] Garethp commented on #6285
At the moment we're hard-coding the URLs for local development since we pass the ARN between stacks in CDK, and we're not using CDK with localstack right now.

I am in the middle of investigating having everything deployed by CDK but ran into another issue regarding the SQS Queue URL resolution in cdklocal that I've documented [here](https://github.com/localstack/aws-cdk-local/issues/71).

It may

[2022-08-03 19:36] mbalc opened #6589 "bug: no logs written to the new filesystem in /var/lib/localstack/logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I had problems with setting up an automated init script for S3 under /docker-entrypoint-initaws.d/ . While trying to figure out why it's not working, I viewed the /bin/docker-entrypoint.sh file in this file and saw the implementation of how this folder is handled.

From what I understand, you

[2022-08-03 19:39] pinzon commented on #6588
**Could you provide an example code on how you create your client, generate the curl command and how you start localstack?** just recently closed #5554 (another issue with presign urls) and the problem was with user's code.

Just for reference, I run your command with my Localstack setup (before, I created the bucket with awscli) and the error I get is the expiration of the token, understandable b

[2022-08-03 19:44] krystof-k commented on #6588
I know, sorry, but that is hard, it is wired up in the Ruby app. I'll try to create a separate example.

LocalStack is started via Docker Compose:

[code]

I've tried adding various `HOSTNAME_EXTERNAL` values but it didn't help.

The S3 endpoint for the SDK `http://s3.localhost.localstack.cloud:4566` is OK? Thanks!

[2022-08-03 19:47] pinzon commented on #6588
Could you try just `http://localhost.localstack.cloud:4566` as the endpoint?

[2022-08-03 19:50] krystof-k commented on #6588
Yes, that was what I've started with (the JSON error) which crashes on `determine_aws_service_name` if I understand the trace correctly.

[2022-08-03 20:01] thrau commented on #6589
hi @mbalc!

i'm not able to reproduce this. both with a bind mound and a named volume i can see logs when i bash into the container. see the attached screenshot.

could you please share your entire volume configuration? is it possible the named volume is read only somehow?

![image](https://user-images.githubusercontent.com/3996682/182698236-92b57f5a-c441-4b88-9e6d-f8172118494d.png)

[2022-08-03 20:06] ashameem123 opened #6590 "PRO- Unable to invoke lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Keep getting error ,

![image](https://user-images.githubusercontent.com/54183749/182698771-23749789-d557-4ec0-b887-0c67952333b5.png)

Note: Before docker pull, I was successfully able to trigger the lambda without any issue.

### Expected Behavior

Should be able to trigger lambda with no ex

[2022-08-03 20:07] thrau commented on #6285
hmm. i think you've made a good case for something like `SQS_ENDPOINT_STRATEGY=hostname` and then using the localstack hostname instead of resolving the queues dynamically based on the host making the request.

another option would be to use the `domain` endpoint strategy and make your `part-1` samlocal deployment resolve `localstack.localstack.cloud` to the container. you'll get queue urls like `

[2022-08-03 20:32] pinzon commented on #6588
mmm this could be an issue with your setup, docker or docker compose, not much with the Ruby AWS SDK, but either way I'll have to test it. It would help if you could write a small ruby project that crashes for you when using LocalStack ([here is an amazing reproducer another user wrote for his issue](https://github.com/kingster307/localstack_onObjectCreated_bug)).

Here is the reproducer I wrote (

[2022-08-03 20:36] krystof-k commented on #6588
OK, this is insane. It's because of the PNG file probably. Just a sec, I have the reproducer too.

[2022-08-03 20:44] krystof-k commented on #6588
Here it is: https://github.com/krystof-k/localstack-bug.

Just `docker compose up --build` and then try running both cURL from `curl.txt` from the host. Text file works, PNG fails.

[2022-08-03 20:49] krystof-k commented on #6588
I just tried it in the full-scale Rails app and the text file works too. I really don't get it. It's just a normal PNG, macOS screenshot… Of course when uploading directly to AWS it works fine.

[2022-08-03 20:58] pinzon commented on #6588
thanks @krystof-k I'll work on this as soon as I can.

[2022-08-03 21:03] krystof-k commented on #6588
Awesome, thanks so much!

[2022-08-03 21:17] Garethp commented on #6285
Personally I prefer the idea of having `SQS_ENDPOINT_STRATEGY=hostname` as it'll make it easier to upgrade older projects to newer versions of LocalStack. Having a more explicit way of defining that you want the strategy to be hostname would make it less confusing than the `EXTERNAL_HOSTNAME` option being ignored unless you also define an SQS Queue Port

[2022-08-04 01:29] leo6104 opened #6592 "feature request: AWS Neptune with neo4j library + bolt driver usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-bolt.html

In Official Document, there is opencyper + neo4j bolt driver support.

I saw Localstack neptune example and it seems only explain gremlin usage via websocket cluster url.

Hope it could be support for b

[2022-08-04 09:05] bentsku commented on #5454
Hello and sorry for the delay in our response,
Indeed, at the moment message signature is not supported, we provide a dummy value for the signature, and the certificate URL is a placeholder pointing towards AWS. I'll transform this issue into a feature request for you to be able to follow when we implement this. Thanks!

[2022-08-04 09:12] krystof-k commented on #6588
Actually it looks like it's not working with anything except text files.

[2022-08-04 09:38] whummer commented on #6587
Thanks for the pointer @AndySemenov ! This has been fixed in #6593, and will go out with our next release of the `localstack` package on pypi (next patch version likely to happen by mid next week). Thanks

[2022-08-04 09:38] #6587 closed

[2022-08-04 09:44] giograno commented on #6364
Going to close this one, as it seems solved from our side. Please feel free to re-open it if any other issue occurs.

[2022-08-04 09:44] #6364 closed

[2022-08-04 09:52] kaklakariada commented on #5115
Wow. Thank you @steffyP for your example code, finally my tests are working!
My problem was that I used dummy values for access key, secret key and region. Using the values provided by `LocalStackContainer` it works now. Looks like the older versions of localstack didn't validate credentials and region.

Would it be possible to let the API return status 400 and an error message in case of invalid

[2022-08-04 09:52] #5115 closed

[2022-08-04 10:11] giograno commented on #4752
Hi @Tobolov, with our recent [v.1.0.0](https://github.com/localstack/localstack/releases/tag/v1.0.0) we completely revamped the Cloud Pods feature. Would you pull the latest `Docker` image and give it another go?
The following sequence of commands should now work.

[code]

Please feel free to have a look at our documentation [here](https://docs.localstack.cloud/tools/cloud-pods/). Keep us posted 🙏

[2022-08-04 10:21] krystof-k commented on #6281
Indeed very confusing. I understood the [release notes](https://github.com/localstack/localstack/releases/tag/v1.0.1) in the way that if I set `LEGACY_DIRECTORIES` variable or mount a volume into `/tmp/localstack`, everything would work as before (including persistence).

That is quite a hit – as the only thing I need LocalStack for is to persist S3 data for local development. This will probably f

[2022-08-04 10:27] krystof-k commented on #6588
I'm probably slowly starting to understand :) You released completely reworked version few weeks ago and that broke a lot of things. Except this bug (I can confirm in 0.14.5 working just fine with all filetypes), it also removes persistence from the community version, which is exactly the only thing we were using LocalStack for (except CI).

So for now I'm switching back to the 0.14.5, so no need

[2022-08-04 11:23] mbalc commented on #6589
The volume config is just the thing I provided - so just a single yaml `localstack_data:` line, so that a named volume is created

I created a clean workspace with all the setup and I think I managed to track down the issue - we were using a custom Dockerfile that looks like this:

[code]

and it looks like we just used an outdated entrypoint which neither bound the logs to be written to the /varl

[2022-08-04 11:46] #6416 closed

[2022-08-04 11:47] #6454 closed

[2022-08-04 12:59] #6530 closed

[2022-08-04 13:06] alexrashed commented on #6590
Hi @ashameem123!
Thanks for the report.
In your report you are referring to two different log lines:
- ```
   error while loading service azure: plugin localstack.aws.provider:azure:pro is disabled
[code]
   This is just an info log that your invocation does not have a request body (i.e. you are not sending any payload with your lambda invoke command).

Do you experience any functional issues when

[2022-08-04 14:00] whummer commented on #6172
Hi again @SanderHagen , quick follow-up - closing this issue as resolved for now. Please let us know if the problem persists - happy to look into it in more detail in that case. Thanks!

[2022-08-04 14:00] #6172 closed

[2022-08-04 14:05] dfangl commented on #6312
I will close this for now, as original issue is resolved. Please make sure not to use --timeout 0 (or some small value), to allow LocalStack to cleanup its containers.

[2022-08-04 14:05] #6312 closed

[2022-08-04 14:15] ashameem123 commented on #6590
Yes, My lambda isn’t getting invoked. Not getting the expected output.

On Thu, Aug 4, 2022 at 8:06 AM Alexander Rashed ***@***.***>
wrote:

[2022-08-04 14:25] pinzon commented on #6588
awesome! thanks for looking into it! Sorry about the persistence mechanism, you can read more about it [here](https://docs.localstack.cloud/localstack/persistence-mechanism/).

[2022-08-04 14:25] thrau commented on #6176
Hi @xtaixe, sorry for the delay! I finally got some time to debug the issue and traced it to the same issue we had in #6102, which has since been fixed with #6145.

I was no longer able to reproduce the issue with 1.0.3 (should also be fixed in 0.14.4). One way to keep using 0.14.3 would be to set `SQS_ENDPOINT_STRATEGY=path`

Basically our implementation of the SQS Query API would in 0.14.3 not r

[2022-08-04 14:25] #6176 closed

[2022-08-04 14:28] thrau commented on #6274
the problematic code is no longer used with 1.0.0, so the problem should be resolved. if the problem resurfaces, please open up a new issue report with the latest version of localstack. thanks!

[2022-08-04 14:28] #6274 closed

[2022-08-04 14:49] #6549 closed

[2022-08-04 15:11] bentsku commented on #6549
Thank you, I'm glad it's working! Don't hesitate if there's anything else. Have a good day!

[2022-08-04 17:12] thrau commented on #6282
i'm no longer able to reproduce this issue with 1.0.3. could you please pull the latest image, follow the [migration guide](https://github.com/localstack/localstack/releases/tag/v1.0.0), and try again? should the problem resurface, please re-open the issue and ping @giograno or @thrau. thanks!

[2022-08-04 17:12] #6282 closed

[2022-08-04 17:55] whummer commented on #6570
Hi @qmg-geoff , thanks for reporting. This issue should be fixed via #6580 - can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-08-04 17:55] #6570 closed

[2022-08-04 18:26] #5938 closed

[2022-08-04 20:21] thrau commented on #5225
I took some time to dive into the issue once again, and can confirm that this is definitely working with our current provider. We do reset the receive time when we create a new `SqsMessage` object in the `put` operation here: https://github.com/localstack/localstack/blob/1b31f961d39b80602dbd96bf153426e7a98bb395/localstack/services/sqs/provider.py#L454
what we're passing to `dl_queue.put` is the or

[2022-08-04 20:21] #5225 closed

[2022-08-04 20:57] whummer commented on #5988
Closing this issue as resolved @thantos  - please do let us know if the problem persists, happy to look into it in more detail in that case.. 👍 Thanks!

[2022-08-04 20:57] #5988 closed

[2022-08-05 00:19] edevenport commented on #6155
I am also experiencing a similar problem. The first `samlocal deploy` succeeds, but any subsequent `deploy` hangs even when no template changes have been made. I’m not sure if this is related, but I thought I would share my observations in case they help.

Local environment:

[code]

Localstack is being started with `localstack start --no-banner -d`. These are the results of the first `deploy`:

[

[2022-08-05 02:27] hhsnopek opened #6597 "feature request: support aws marketplacemetering service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Support for AWS `marketplacemetering` service: https://docs.aws.amazon.com/marketplacemetering/latest/APIReference/Welcome.html

Ability to trigger the following actions (as referenced in the API Reference)
- [BatchMeterUsage](https://docs.aws.amazon.com/marketplacemetering/latest/APIRefer

[2022-08-05 08:03] alexrashed commented on #6590
This issue was a combination of multiple issues:
- The error log was misleading (this has been fixed by now).
- The lambda output is only logged on `DEBUG` level.
- The upgrade mentioned as pre-v1 to v1.

These issues have been resolved, therefore I'll close the issue for now.

[2022-08-05 08:03] #6590 closed

[2022-08-05 08:06] qmg-geoff commented on #6570
Awesome, thanks @whummer, will give it a go today at some point and let you know 👍

[2022-08-05 09:44] bentsku commented on #6550
Hello @sorendaugaard and thank you for your detailed report!
The issue should be fixed and part of the latest release. Could you please try to run `docker pull localstack/localstack:latest` and give it a run?
Thanks a lot!

[2022-08-05 09:45] #6550 closed

[2022-08-05 09:54] bentsku commented on #2125
Hello! Since this issue was created, substantial improvement has been made to the SNS service.
The issue with the subscription should now be resolved in the latest releases of Localstack. We handle http/https subscriptions not being available, and deliver the message to a Dead Letter Queue if one was configured.
Should this issue still be encountered, I encourage you to open a new issue with a rep

[2022-08-05 09:54] #2125 closed

[2022-08-05 11:36] Garethp opened #6599 "bug: Attempting to deploy a Cloudfront Distribution CDK Construct with enableLogging: true throws an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to deploy a Cloudfront Distribution construct with CDK:

[code]

I get the following error from LocalStack even though the same construct deploys to AWS without issue

However when I do so it fails to deploy and I get this error in LocalStack:

[code]

### Expected Behavior

I expe

[2022-08-05 12:02] steffyP commented on #5853
Hi @mbklein,

we have implemented the missing persistence-feature for CloudWatch logs. It is available with `localstack/localstack:latest` image.

Please be aware that the feature is only available for Pro, and therefore needs the `LOCALSTACK_API_KEY` to be set.
Also the config has slightly changed, you can check details in our [migration guide](https://discuss.localstack.cloud/t/migrating-to-loca

[2022-08-05 12:02] #5853 closed

[2022-08-05 12:05] steffyP commented on #6473
Hi @parisnakitakejser,

unfortunately we were not able to reproduce your issue, and we haven't heard back from you.

If you still experience this issue, could you please answer the questions above, and provide the related logs 🙏

[2022-08-05 12:09] steffyP commented on #5895
Hi @1141558,

we haven't heard back from you - did adding the logs endpoint resolve your issue?
If it did, please close the issue. 🙏

Else we would ask to provide more detailed information as we are not able to reproduce your issue.
Thank you.

[2022-08-05 12:13] Garethp opened #6600 "bug: ENFORCE_IAM=1 does not stop a Lambda from sending a message to an SQS Queue that it has not been granted sendMessage permissions to"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In testing the IAM Enforcement feature of LocalStack Pro I wanted to check if my lambda's would fail to send messages to queues if I forgot to grant them permissions to do so. Not only does the lambda not fail with an error message like it would in AWS but I'm able to retrieve the error messa

[2022-08-05 12:48] thrau commented on #6600
Hi @Garethp, this is a limitation of our current IAM implementation. We only check policies for API calls coming from outside clients. https://docs.localstack.cloud/aws/iam/

I can't give an exact ETA yet, but we are working on a full implementation of IAM for inter-service calls like the one you are describing!

[2022-08-05 16:53] dmitry-weirdo opened #6602 "05.08.2022 release: the latest localstack started to fail on `FifoQueue` attribute of the SQS Queue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Stating with todays (05 Aug  2022) `latest` release, the creation of the SQS Fifo Queue started to fail

[code]

The more complete stacktrace:
[code]

Queue Creation code is like this:
[code]

### Expected Behavior

Everything is working as it was before today's version.

I've tested with the

[2022-08-05 17:31] bentsku commented on #6602
Hello, thanks for your report!
Could you please run localstack with the environment variable `LS_LOG=trace`, run your example again, and then share the log output?
Thanks a lot!

[2022-08-05 17:48] vmanikes-dd commented on #6464
I am running into the same issue as well

[2022-08-05 23:09] thrau commented on #6589
ok, thanks for the insights @mbalc. It makes sense, our [entry point script](https://github.com/localstack/localstack/blob/master/bin/docker-entrypoint.sh) is fairly involved, so circumventing that will likely break things. I agree though that we could start making it easier to customize LocalStack images and also make the unit scripts more user friendly. Thanks for the feedback!

[2022-08-05 23:09] #6589 closed

[2022-08-05 23:18] thrau commented on #6602
Perhaps related to #6117 where i modified how attributes are validated. It's odd that our tests don't break. Logs would be very helpful!

[2022-08-05 23:28] thrau commented on #6577
Hi @yaminir, could you please run LocalStack with the environment variable `LS_LOG=trace` and share the full log output here.
If you are really starting LocalStack with `docker run localstack/localstack` then i would also suggest the getting started guide

[2022-08-06 00:02] thrau commented on #6532
Hey Peter @kingster307, thanks for reporting. Could you be a bit more specific about what events you mean? Are those s3 notifications configurations triggering a lambda? If so, could you please post the s3 notification configuration?

[2022-08-06 00:14] thrau commented on #6459
Hi @acm19, sorry for the late response . What exactly do you mean when you say V4 signature support for opensearch? Do you mean that you want to verify IAM credential authorization or are you looking into to testing your own implementation of the AWS sigv4 algorithm?

[2022-08-06 00:22] thrau commented on #6332
Thanks for sharing @mgrundie-r7! We are starting to rework S3 and http IO associated with file uploads so hopefully those problems will go away soon. Glad you found a workaround for now.

[2022-08-06 00:22] #6332 closed

[2022-08-06 00:25] thrau commented on #6337
This is actually not a bug. The CLI version and runtime version can differ and you can keep them synced with the command that Marcel supplied. I agree that the user experience and documentation could be improved here! Thanks for reporting, closing for now.

[2022-08-06 00:25] #6337 closed

[2022-08-06 00:38] thrau commented on #5361
Hi Adam @therightstuff, are you still running into that issue with the latest version of LocalStack? A lot had changed since the issue was raised and perhaps this was fixed because i cannot reproduce the issue

[2022-08-06 00:44] #5112 closed

[2022-08-06 00:46] thrau commented on #5060
Closing this issue die to staleness. Please check whether this still occurs with the latest version of LocalStack and re-open the issue if it still occurs. Thanks!

[2022-08-06 00:46] #5060 closed

[2022-08-06 00:49] thrau commented on #4459
Thanks everyone for your input. Meanwhile we have released 1.0 and a lot has changed. There is a comprehensive migration guide, please check that out and open a new issue if the problem resurfaces. Thanks!

[2022-08-06 00:49] #4459 closed

[2022-08-06 10:18] acm19 commented on #6459
Hey @thrau, no worries. What I mean is to make request against an actual OpeanSearch cluster you need to use auth (IAM AWS SigV4): https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html. What the library I linked is doing is to do that for user transparently when they use Apache HTTP client. I'd like to have integration test with LocalStack to reproduce the real

[2022-08-06 12:14] thrau commented on #6459
ok well this is something we could generalize into a signature verification handler, and at least verify against the test credentials (`AWS_ACCESS_KEY_ID=test`, and `AWS_SECRET_ACCESS_KEY=test`). i can see how this can be useful for testing custom AWS client libraries. /cc @dfangl

for testing real authorization with IAM credentials we have `ENFORCE_IAM=1` which is currently a localstack pro featu

[2022-08-06 13:56] dragonbone81 opened #6604 "bug: S3 MultipartUpload not saving additional headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When issuing a multipart upload request for s3 (CreateMultipartUploadRequest) it ignores added sse kms header values. For example `x-amz-server-side-encryption-aws-kms-key-id` and `x-amz-server-side-encryption.` This prevents from specifying a custom sse aws kms key.
These are ignored both wh

[2022-08-07 00:08] #6466 closed

[2022-08-07 10:02] #6085 closed

[2022-08-07 12:12] thrau commented on #5042
just some notes on implementing this: allowing API calls with a batch size > 10 would be possible, but actually implementing the behavior is more complicated. in fact that looks like it will require a rework of the [SQS event source listener](https://github.com/localstack/localstack/blob/master/localstack/services/awslambda/event_source_listeners/sqs_event_source_listener.py) that does the queue p

[2022-08-07 16:51] davecardwell opened #6605 "bug: KMS GetPublicKey API call fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After create an RSA KMS key in Localstack you get a `NotFoundException` when attempting to retrieve its public key.

### Expected Behavior

The `GetPublicKey` call should succeed.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you start

[2022-08-07 17:01] davecardwell commented on #6605
Further to my report, it appears that setting `KMS_PROVIDER=local-kms` in compose.yaml allows this functionality to work, so it’s an issue with the default moto provider.

[2022-08-07 17:03] #1904 closed

[2022-08-07 18:35] thrau commented on #5301
Hey everyone, sorry for the long delay on this. I'm cooking up a PR in #6606 and hope to have it merged by end of next week!

[2022-08-07 20:32] thrau commented on #6440
This was fixed in #6348, please give the latest image (1.0.3) a try.

[2022-08-07 20:32] #6440 closed

[2022-08-08 09:20] dfangl commented on #5358
I will close this now as the original question has been answered. If you find any issues with the lambda layer implementation, please do not hesitate to open another issue!

[2022-08-08 09:20] #5358 closed

[2022-08-08 10:41] steffyP commented on #6585
Feature is now available in `localstack/localstack:latest` for LocalStack Pro.

[2022-08-08 10:41] #6585 closed

[2022-08-08 11:48] aditya-dixit1 opened #6610 "Not able to use SSM DescribeInstanceInformation"
**Is there an existing issue for this?**

- [x] I have searched the existing issues

**Current Behavior**
Getting below error when trying to use "DescribeInstanceInformation":

`software.amazon.awssdk.services.ssm.model.SsmException: API action 'DescribeInstanceInformation' for service 'ssm' not yet implemented (Service: Ssm, Status Code: 501, Request ID: UDFMZ46YIXZK7L2L93RRANSWDFVSJTXSBHYHOYRK54

[2022-08-08 12:23] pandomic commented on #5747
@MarcelStranak , @dfangl I think we already rolled out an improved logs view in April.
We can iterate further later and add an ANSI escape character parser and maybe a JSON parser/preview.

[2022-08-08 13:58] kingster307 commented on #6532
@thrau event object coming into lambda when lambda is invoked from a rest apigw

[2022-08-08 14:23] ShedPlant opened #6612 "bug: SQS SendMessage InvalidParameterValue DelaySeconds 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have an application which uses SQS.
It works in production.
It has acceptance tests which were passing with localstack until very recently.

Now I see:

[code]

Yes, delay `0` is being passed in to `send_message` but this used to work in both localstack and AWS.

https://boto3.amazonaws.com

[2022-08-08 14:31] ShedPlant commented on #6612
If I pin version in `docker-compose.yml` to `1.0.3`, it works.
`latest`, as of now, reproduces the issue.

[2022-08-08 14:32] ShedPlant commented on #6612
_Possibly_ due to #6591

[2022-08-08 15:21] bentsku opened #6613 "bug: format of message when using SNS Topic as a Lambda DLQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The format of the message received when using an SNS topic as a lambda DLQ diverges from AWS'.
What is missing is the whole event as received by the lambda to be passed as the `Message` field of the SNS message, and not only the `Message` sent to the lambda.
Current response from Localstack u

[2022-08-08 17:32] theFong opened #6614 "bug: Importing or creating EC2 Key Pairs returns a nil id field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using the golang v2 aws client, creating or importing an EC2 Key Pair against the localstack API results in a return object with a nil value for the `KeyPairId` field when it should be some id field.

### Expected Behavior

The `KeyPairId` field should be some non-nil string.

### How ar

[2022-08-08 18:33] giograno commented on #6486
Hi @jcanabarro, thanks for reporting the issue. I can't replicate the problem, unfortunately. With your `docker-compose` file the state machine seems to persist. Can I ask you to please double-check that you are creating and querying the StepFunctions API over the same region? Thank you very much 🙏

[2022-08-08 18:37] kingster307 opened #6615 "bug: WS default route not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

websocket default route not being invoked when no route matches

### Expected Behavior

$default route should be invoked when no other route keys match

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

[repo here](https://github.com/kingster307/localst

[2022-08-08 19:22] kingster307 opened #6618 "bug: request context stage property comes back as None"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when invoking lambda through WS apigw the request context stage property comes back as None

### Expected Behavior

should give stage name of api

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

[see repo here](https://github.com/kingster307/localstac

[2022-08-08 19:44] dfangl commented on #5949
Hi! This issue should be resolved with #6584.
The fix is available with `localstack/localstack:latest`!
Thanks for reporting this!

[2022-08-08 19:44] #5949 closed

[2022-08-08 20:56] jcanabarro commented on #6486
Hi @giograno tried again and i found the problem, its happening when the parameter `logging-configuration` on the cli command.
[code]
I was passing this parameter but i forgot to add on the example, i tried again, if the call don't have the Logging Configuration parameter it persist. Its does not matter which value you put inside, just existing it's enough to make it break

[2022-08-08 20:58] jcanabarro commented on #6486
If the call not includes the Logging Configuration parameter the StepFunction persist.

[2022-08-08 21:18] curioushuman commented on #6462
I have the same issue but using CDK.

In the cloud, my (lambda) handlers expect and receive a custom Data Transfer Object (DTO) which I use the APIGateway.requestTemplate feature to populate. Localstack does employ my reqyestTemplate VTL to transform the request into a new form, but leaves it in the body property of an APIGatewayProxyEvent type rather than passing that new form directly to the han

[2022-08-08 21:33] #5283 closed

[2022-08-08 23:29] mrgdsy opened #6620 "Unable to create fifo queue with new release 1.0.4."
In release 1.0.4, I can no longer create a fifo queue by setting the attribute FifoQueue=true.

I believe it is due to this code from this issue: https://github.com/localstack/localstack/pull/6117/files

FifoQueue was set as an internal attribute which cannot be changed:

(snip from PR)
INTERNAL_QUEUE_ATTRIBUTES = [
    # these attributes cannot be changed by set_queue_attributes and should
    #

[2022-08-09 07:16] anekar3416 commented on #6506
Is there any update on how to set -inMemory = true?

[2022-08-09 08:11] silv-io commented on #5761
Hi @mbaeuerle, I cannot reproduce this issue. Can you confirm that it still happens with `localstack/localstack:1.0.3` and the corresponding cli version?

[2022-08-09 10:19] #6620 closed

[2022-08-09 10:20] bentsku commented on #6602
Thanks again for your report!
This should be fixed by #6622

[2022-08-09 10:20] #6602 closed

[2022-08-09 10:21] giograno commented on #5629
Hi @Tobolov, with [v.1.0.0.](https://github.com/localstack/localstack/releases/tag/v1.0.0) we deeply re-worked the Cloud Pods implementation. The experience should now be much smoother and more pleasant. I would ask you to please update to `latest` Docker image and give it another try.
We are looking forward to receiving feedback about the new version. Please note that some commands have slightly

[2022-08-09 10:21] #5629 closed

[2022-08-09 11:22] vijayopensource commented on #3213
till having same issue. Create Music table in one region, is then available in all. This is accepted behaviour in localstack.

[2022-08-09 11:26] whummer commented on #3213
Hi @vijayopensource , I'm unable to replicate this issue with the latest version of LocalStack.

Creating a table in region `ap-southeast-2`:
[code]
Listing tables for region `ap-southeast-2`:
[code]
Listing tables for region `us-east-1`:
[code]

Can you please do a `docker pull localstack/localstack` and see if you can replicate these results? Thanks

[2022-08-09 11:45] whummer commented on #6599
Thanks for reporting @Garethp . We have now pushed a few enhancements for the CloudFront CloudFormation integration which should (hopefully) get this issue resolved. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-08-09 11:49] whummer commented on #5895
Hi @1141558, please note that when using the `tflocal` command line, you do **not** need to (in fact you _should_ not) include the `provider` section in your Terraform script.

Simply add the resource definition to your `main.tf`:
[code]
... and then deploy the script via `tflocal`:
[code]

Hope that helps - please let us know if this works, so we can close the issue.. Thanks!

[2022-08-09 12:25] koleksiikovalchuk opened #6626 "bug: Edge service fails to start - There is no current event loop in thread"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi. I'm trying to run 1.0.4 version of locastack under Windows Server 2019 with WSL in Host Mode.

When the service starts this is what I got:
[code]
The log reports that there's someting wrong when trying to start `edge` service:
[code]
Then we have this:
[code]
and this
[code]

### Expected

[2022-08-09 12:27] whummer commented on #6562
Thanks for reporting @agibsonccc .

If you could share a few snippets of your client code calling `CreateComputeEnvironment`, that would be super helpful. Thanks!

Also, just to confirm - which version are you using, does the problem persist after pulling the `latest` Docker image?

[2022-08-09 13:21] dfangl commented on #6464
Hi, thanks for reporting this! I can confirm this is an issue when the PackageType is set to "Image".
A fix is on the way!

[2022-08-09 14:05] dfangl commented on #5481
Hi @chan-dev ! We quite revamped a lot of the UI and Localstack in the meantime.
I could not find any action in the new Web UI which would result in a deletion of the IAM role.
Can you double check if the issue is fixed for you? Thanks!

[2022-08-09 15:10] giograno commented on #6529
Hi @ryan-ju, thank you very much for reporting the bug. We release a fix with the `latest` Docker dev image. You can pull it and test the fix. Feel free to report any other issue that should appear. Thanks for your patience 🙏

[2022-08-09 15:10] #6529 closed

[2022-08-09 16:15] pinzon commented on #6414
Hi @blairham there's seem to be a confusion. Your terraform code shows that you want to obtain the Id of your user which is obtain through the data source `aws_caller_identity` but your logs show that you wanted to obtain the User Alias assigned in the IAM service with `aws_iam_account_alias` which will return an error if you haven set it before.

Here's the code you need it works the same for AWS

[2022-08-09 16:15] #6414 closed

[2022-08-09 17:10] pinzon commented on #4560
Hi @m-chandler, thank you for reporting this problem, it has been fixed.

[2022-08-09 17:10] #4560 closed

[2022-08-09 17:29] nathanmcgarvey commented on #6626
Similar issue here. At least for me, Python 3.10 upgrade is now a requirement (it worked for me after I manually upgraded), and the front-page readme is incorrect "(Python 3.7 up to 3.10 supported)". If this is also your issue, it would also suggest breakage for all debian-stable deployments as stable uses 3.9 (testing uses 3.10).

[2022-08-09 20:11] whummer commented on #6592
Hi @leo6104, thanks for reporting. We have now pushed a first version of Neo4J/Bolt support - can you please pull the `latest` LocalStack Docker image and give it a try?

Please note that you'll need to configure `GRAPH_DB_TYPE=neo4j` in the LocalStack container environment (e.g., in your docker-compose.yml) in order to enable this new functionality. The `Port` number returned from the `create-db-

[2022-08-09 21:28] alexlokshin-czi opened #6631 "bug: `list index out of range` when creating an ECS service through terraform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm running localstack pro in Docker, trying to create an ECS service:
[code]

Terraform keeps trying to create the service, but debug logs are filled with errors like these:

[code]

### Expected Behavior

ECS Service is successfully created.

### How are you starting LocalStack?

With a `do

[2022-08-09 22:49] alexlokshin-czi commented on #6631
Here's the offending request from the trace log:

[code]
Could it be related to an empty `capacityProviderStrategy` ?

[2022-08-10 06:50] shonigbaum opened #6634 "bug: cannot PutBucketOwnershipControls on s3 bucket"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I start localstack in docker, create a s3 bucket and want to put bucket ownership controls on this s3 bucket I get the following message:

`An error occurred (IllegalLocationConstraintException) when calling the PutBucketOwnershipControls operation: The unspecified location constraint is

[2022-08-10 12:05] dfangl commented on #6464
Hi again! A fix for this behavior is currently being deployed, and the new image should be available in 1 hour. If this does not fix your problem completely (even though it should), please do not hesitate to reopen or create a new issue.
Thanks again for reporting!

[2022-08-10 12:05] #6464 closed

[2022-08-10 13:45] bentsku opened #6639 "bug: SNS creates wrong MessageAttributes when relaying msg to an SQS DLQ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When relaying a message with `MessageAttributes` to a SQS DLQ after failing to deliver to another SQS queue, the messages attributes were wrong.
Snapshots results:
With `RawDelivery` set to `false`:
[code]
We can see added `MessageAttributes` on the received SQS message.

With `RawDelivery` s

[2022-08-10 14:20] dhay opened #6642 "ImportError deploying Chalice app with dependencies"
I'm trying to deploy a Chalice app using `chalice-local` to my localstack instance.  However, when I attempt to run the `deploy` step, I get the following error:
[code]
On the localstack size, I see this error:
[code]
I've installed all the dependencies and can run the service locally using `chalice-local local`.

Is there something about the packaging or process that isn't pulling in the Python d

[2022-08-10 14:34] dfangl commented on #6642
Hi @dhay !
I transferred this issue here since it is not an issue with the docs as much as with the core product.
Can you please mount your docker socket into the LocalStack container / check if you set `LAMBDA_EXECUTOR=docker`? This seems to be an issue with the local executor, which is not recommended for everyday use.

[2022-08-10 14:47] ReviakinAleksey opened #6643 "bug: LocalStack lambda does not honor 4kb env variable limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I deployed lambda function with extremly big environment variable value to LocalStack it was deployed and I was able to run function with this varible.
But when I try to deploy same code to AWS it is fail with: `InvalidParameterValueException: Lambda was unable to configure your environm

[2022-08-10 15:03] rodjul opened #6644 "bug: executing UpdateAssumeRolePolicy results in MalformedPolicyDocument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running the latest image published to docker hub, the service fails to update the policy of role.

Task: I'm testing some creation of roles and updating their trust relationship policies.

Executing the following commands:
[code]
the command `update-assume-role-policy` fails saying the p

[2022-08-10 16:31] dhay commented on #6642
I added the `LAMBDA_EXECUTOR=docker` to my docker-compose.yml file.  I'm not finding any documentation for how to "mount your docker socket into the LocalStack container".  Can you point me at some instructions on how to do this?

[2022-08-10 16:40] dfangl commented on #6642
Great to see that! Will close this issue now.
You can also always look at our example docker compose file here: https://github.com/localstack/localstack/blob/8f157e56ba9808945e445950b749a3a58d6e953f/docker-compose.yml#L21 (the line with the docker socket should be highlighted).

[2022-08-10 16:40] #6642 closed

[2022-08-10 18:05] dfangl commented on #6532
Hi @kingster307 !
I just tried a setup using ApiGateway with a proxy integration. The resulting event in lambda is something like this:
[code]
I can see no trailing slash here. Could you perhaps give an example of a setup which leads to the behavior you are describing?

[2022-08-10 18:12] dfangl commented on #6532
Nevermind, I think I see the problem, it seems like a trailing slash is not correctly set into the path, if the request url does contain such a trailing slash. I will investigate more and get back to you.

[2022-08-10 20:06] #6612 closed

[2022-08-10 23:07] alexlokshin-czi commented on #6631
Based on what I see, this can be related to the amount of memory requested through

[code]

If I reduce it to 512, error doesn't manifest.

[2022-08-11 02:22] dude0001 commented on #6131
@bentsku do you know what PR resolved this or what the resolution was? I'm seeing this same error using redshift_connector in a similar context but I'm not sure how to fix or where to file an issue.

[2022-08-11 06:06] nr-96 opened #6649 "Improve AppSync with directives"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

As of now, it throws out an error in the `Serverless` deployment when using `@aws_lambda` in the `.graphql` schema

[code]

### 🧑‍💻 Implementation

_No response_

### Anything else?

References:
* [Multi-Authorization with AWS Lambda](https://aws.amazon.com/blogs/mobile/appsync-lambda-auth

[2022-08-11 06:14] adamdavis40208 opened #6650 "bug: Updating docker broke lambdas in older versions of localstack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

So this is a weird one. We recently updated our machine image in circleCI from an older tag (Ubuntu 20.05, Docker v20.10.7, Docker-compose v1.29.2) to a new tag (#Ubuntu 22.04, Docker v20.10.14, Docker Compose v2.4.1).

Pretty suddenly we noticed failures around repos using localstack 0.11 an

[2022-08-11 07:24] fphilip opened #6651 "bug: put over s3 via http URL doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Request
`http://localhost:4566/bucket-local/folder/sample.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220803T144402Z&X-Amz-SignedHeaders=content-type%3Bhost&X-Amz-Expires=86339&X-Amz-Credential=test%2F20220803%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=8a635ca924cef2a7d2c5263d32446

[2022-08-11 08:13] ShedPlant commented on #6612
Thanks @thrau ! Confirmed fixed.

[2022-08-11 08:32] calvernaz opened #6652 "bug: payloadFormatVersion property not taken in account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The AWS extension `x-amazon-apigateway-integration` contains a property to specify the payload format version, however Localstack import logic is not taking in account this property.

### Expected Behavior

It should respect the format specified in the property

### How are you starting Local

[2022-08-11 12:03] #5459 closed

[2022-08-11 12:07] giograno commented on #5308
Hi @davidlj95, thanks for reporting the issue. We released a fix that you will find by pulling the `latest` Docker image.
Please feel free to report eventual additional problems. Thank you very much 🙏

[2022-08-11 12:07] #5308 closed

[2022-08-11 12:19] giograno commented on #4662
Hi @and-semakin, thanks for reporting the issue! Since I am catching up on this after quite some time (really sorry for that 🙏 ), I would suggest you to update to the `latest` Docker image. We have done a huge amount of improvements in the last year! You will experience an even smoother experience. As for the record-and-replay persistence mentioned by @jbosse, we, unfortunately, completely elimina

[2022-08-11 12:19] #4662 closed

[2022-08-11 12:53] bentsku commented on #6131
Hello @dude0001
A part of the fix is there: https://github.com/localstack/postgresql-proxy/pull/2
We used the postgresql-proxy to ignore and delete the additional connection parameters sent by `redshift_connector`.
I am not sure if this can help in your issue with pmr, I did not check how they mock their own redshift database server.

[2022-08-11 14:02] FelipeNathan opened #6654 "bug: S3 Lifecycle not showing expiration header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm configuring the S3 bucket to have a lifecycle, everything works fine, but when I get the object, the header `Expiration` is not showing

### Expected Behavior

According to the documentation, if the bucket have a `lifecycle configuration` enabled, the header `expiration` should appear in

[2022-08-11 14:29] pinzon commented on #6008
The feature has been implemented, make sure to pull the latest docker image.
Thank you for reporting this issue @jmgottfried.

[2022-08-11 14:30] #6008 closed

[2022-08-11 15:09] silv-io commented on #4902
Hi @marc-guenther, @SizZiKe and @sumanthsure! Does this issue still persist in the newest version (`1.0.3`)?

[2022-08-11 15:27] silv-io commented on #5429
Hi @a-kalatsei-godeltech, @vinayr-sharma! Does 3.10 work for you on the latest version (`1.0.3`)? Since the creation of this issue and now [we added Python 3.10 support](https://github.com/localstack/localstack/commit/a1517d8c396b81e96ea356255cb6dc401c1791a4).

[2022-08-11 15:32] silv-io commented on #2211
Hi @yahel2410, @sdouek! AWS Auto Scaling is currently supported in the PRO version of LocalStack ([see the feature coverage for a more fine-grained breakdown](https://docs.localstack.cloud/localstack/coverage/#autoscaling))

[2022-08-11 15:32] #2211 closed

[2022-08-11 15:42] paultipper opened #6655 "bug: LocalStack 1.0.5. crashes when you attempt to run it in host mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you do a `git pull` from the master branch, execute `make install` and then try to run LocalStack in host mode by typing `make start`, LocalStack crashes with the following error:

[code]

### Expected Behavior

LocalStack should launch successfully in host mode.

### How are you starting

[2022-08-11 16:01] JRagone opened #6656 "bug: IAM User Does Not Persist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With persistence enabled, if I create a user:

[code]

and restart Localstack, the user is no longer there.

Persistence is working for other services like S3, though.

### Expected Behavior

Given this issue https://github.com/localstack/localstack/issues/4814, I would expect the user to per

[2022-08-11 16:18] adamdavis40208 commented on #6650
Just added the docker-compose stuff, forgot to add the full file. Thanks!

[2022-08-11 16:27] bentsku commented on #6655
Hello Paul,
It seems there are some issues with import from the standard libs. To run in host mode, Localstack needs Python 3.10. The logs seem to indicate 3.8. Is there any possibility to launch it with 3.10? It should at least resolve those issues. Thank you!

[2022-08-11 16:33] #6639 closed

[2022-08-11 17:31] bdowson opened #6657 "SNS FIFO topic to SQS FIFO queue does not seem to work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My SQS queue is not receiving notifications from SNS when they both have fifo enabled:

[code]
Output:
[code]

No messages were received.

### Expected Behavior

If I do the above steps without fifo on SNS and SQS, then it works as it should:
[code]
Outputs:
[code]

### How are you starting L

[2022-08-11 17:36] ewascent commented on #6650
@chezsmithy  if you are bored...

[2022-08-11 18:26] davidlj95 commented on #5308
Great news @giograno , thanks ! 😊

[2022-08-11 19:31] #6613 closed

[2022-08-11 23:00] #6473 closed

[2022-08-11 23:00] #5114 closed

[2022-08-11 23:01] #5761 closed

[2022-08-11 23:02] #6077 closed

[2022-08-11 23:04] thrau commented on #4407
Closing this for staleness. Please give it a try with the latest of localstack. You are welcome to open a new issue if the problem persists.

[2022-08-11 23:04] #4407 closed

[2022-08-11 23:16] thrau commented on #5097
seems we currently cannot reproduce the issue. please try with the latest version of localstack, and feel free to open a new issue if the problem persists.

[2022-08-11 23:16] #5097 closed

[2022-08-12 05:21] chezsmithy commented on #6650
I'm wondering if it has something to do with this issue. https://github.com/docker-library/ruby/issues/351

The older versions of localstack have an older version of the docker client. The lambda executor when using docker mode uses the docker client to fire up the image into the same context the local machine is running in. It's pulling latest lambda machine images which might just be later alpin

[2022-08-12 09:06] #6652 closed

[2022-08-12 09:26] viren-nadkarni commented on #5946
Hi, we could not reproduce the exact error. We also noticed that the filter `vpc-id` [is not supported by AWS](https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-dhcp-options.html#options) for `describe-dhcp-options`.

Please try the latest release of LocalStack, and feel free to open a new issue if this persists.

[2022-08-12 09:26] #5946 closed

[2022-08-12 10:22] JurgenR opened #6659 "bug: Checksum mismatch when putting object using AWS Java SDK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When performing a putObject using Java AWS SDK with a providing only the checksum algorithm localstack returns a 400 InvalidRequest with error: `Value for x-amz-checksum-sha256 header is invalid.`

localstack logs:

[code]

### Expected Behavior

No error is returned and file is uploaded with

[2022-08-12 10:24] giograno commented on #4243
Hi @yonatandbinahai, thanks for reporting the issue. Unfortunately, I am picking this up after quite some time. Please excuse us 🙏 . Since **a lot** of things have changed (and very much improved!) in the meanwhile, I would ask you to update to the `latest` Docker image and give it another try. Thanks for your understanding!

[2022-08-12 11:01] dominikschubert commented on #5214
Thanks for reporting this issue. The affected code path has already been fixed and made more robust in case the ID can't be found. If you still experience any related issues, please let us know.

[2022-08-12 11:01] #5214 closed

[2022-08-12 11:02] #5889 closed

[2022-08-12 14:34] gmacon commented on #6495
I've finally gotten back around to trying this again, and I still seem to be experiencing the issue, but now with this newer version of the localstack container that contains the fix:

[code]

I don't see anything obviously wrong with the patch. I confirmed via git that the patch is included in this version.

I looked around the repository, but couldn't find any special handling for this endpoint.

[2022-08-12 14:55] dominikschubert commented on #5404
Closing since there hasn't been a response in a while.

As @whummer  mentioned we've heavily changed the persistence mechanism in the meantime. You can read more about it on our [1.0 release blog post](https://localstack.cloud/blog/2022-07-13-announcing-localstack-v1-general-availability/#improved-persistence-support)

[2022-08-12 14:55] #5404 closed

[2022-08-12 15:06] dominikschubert commented on #4829
The `AWS::Route53::HostedZone` is only available with a PRO subscription right now.

You can check the availability of certain resources in our [CloudFormation docs](https://docs.localstack.cloud/aws/cloudformation/#resources-pro--enterprise-edition)

I'm unfortunately not able to reproduce the issue when running PRO. If you still see the same issue using a newer version of Localstack (v1+), pleas

[2022-08-12 15:06] #4829 closed

[2022-08-12 15:12] dominikschubert commented on #4271
Good news! :grin:

This seems to have been fixed in the meantime using the newest LocalStack version.

![image](https://user-images.githubusercontent.com/620817/184385338-65cba740-ee4c-40cf-b142-363e0c42fdd4.png)

[2022-08-12 15:12] #4271 closed

[2022-08-12 16:27] nathanwebsterdotme opened #6663 "bug: Can't run Python Pillow in Localstack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

Using a lambda layer as follows, this works:

[code]

I've downloaded this specific layer, unzipped it, and added this into my local lambda function directory, but the error above is still thrown when deploying to localstack, even though the layer python code is natively a part of the

[2022-08-12 16:53] giograno commented on #6290
Hi @amwill04, thanks for reporting this issue. We released a fix you can find by pulling the `latest` Docker image.
Please do not hesitate to report any eventual problems.

[2022-08-12 16:53] #6290 closed

[2022-08-13 04:12] nathanmcgarvey commented on #6655
Related: https://github.com/localstack/localstack/issues/6626#issuecomment-1209664510

If nothing else, the front README.md that shows up on GitHub and PyPI and the official documentation site (https://docs.localstack.cloud/get-started/#localstack-cli) says "(Python 3.7 up to 3.10 supported)". Obviously this is no longer true as you cannot run localstack on a stock Debian-stable in --host mode as

[2022-08-13 04:45] nathanmcgarvey commented on #6655
I'm not sure where to voice concerns with language versioning decisions, but when a project stops supporting the stable versions of things shipped with several major Linux distributions, it makes it near impossible to use for many folks without major system impacts. (E.g. RHEL/CentOS/Rocky 8 is on Python 3.6 by default and 3.9 for the latest via streams, Debian 11 is on Python 3.9, openSUSE 15.4 i

[2022-08-14 15:25] thrau opened #6668 "Remove custom AwsApiListeners"
## Problem

The `AwsApiListener` was introduced as a construct to migrate providers to ASF. It exposes ASF service providers as ProxyListeners to be used in the legacy edge proxy. With the new Gateway, this is no longer needed. Instead, the gateway extracts from the `AwsApiListener` the skeleton and discards the actual listener class. This only works when the class does not add logic, which is why

[2022-08-15 09:42] giograno commented on #6310
I am closing this, as likely a possible duplicate of https://github.com/localstack/localstack/issues/6290. Feel free to re-open if the error re-occurs 🙏

[2022-08-15 09:42] #6310 closed

[2022-08-15 11:20] giograno commented on #6656
Hi @JRagone thanks for reporting the issue. We shipped a fix with the `latest` Docker image. Feel free to give it a try and to report any further issue 🙏

[2022-08-15 11:20] #6656 closed

[2022-08-15 11:58] javad-r opened #6671 "feature request: Enabling user authentication with Application load balancer (ALB) and Amazon Cognito"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Thanks to localstack Pro, ALB and Cognito usage are available. However, unfortunately even in the latest version of localstack, ALB does not support the user authentication.
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html

### 🧑‍💻 Implem

[2022-08-15 15:21] giograno commented on #6151
Hi @mkdirJava, thanks for reporting the issue! We released a fix that you will find in the `latest` Docker image. Please feel free to report any other issues you might encounter. Thanks for the patience 🙏

[2022-08-15 15:21] #6151 closed

[2022-08-15 20:37] viniciuschiele opened #6674 "bug: localstack no longer sends the attribute SequenceNumber for SQS FIFO queues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The attribute `SequenceNumber` isn't present in the message for high throughput FIFO queues.

[code]

[code]

### Expected Behavior

Up to version `0.14.2`, the message contains the attribute `SequenceNumber`

[code]

### How are you starting LocalStack?

With a docker-compose file

### Steps

[2022-08-16 00:20] taras-kobernyk-localstack commented on #6605
https://github.com/localstack/localstack/pull/6675 should fix the issue.
Also have a plan to change a lot of stuff in KMS soon, which is supposed to fix this better and also address other possible issue.

[2022-08-16 05:59] peter-lockhart-pub opened #6676 "`ObjectCreated:CompleteMultipartUpload` is fired on the creation of a multipart upload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When interacting with `localstack` using the AWS node SDK v3, when starting a new multipart upload
[code]

the `ObjectCreated:CompleteMultipartUpload` event is fired. Once the multipart upload has been completed/assembled, another `ObjectCreated:CompleteMultipartUpload` event is fired.

### E

[2022-08-16 09:18] maciejstromich opened #6678 "bug: boto3 describe_user_pool response is missing keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when calling

[code]
returned dict should return EstimatedNumberOfUsers in the response. currently it's missing

### Expected Behavior

Cognito responses should return all items listed in the boto3 docs https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cognito-idp.htm

[2022-08-16 11:43] MarcelStranak commented on #6655
Hi @nathanmcgarvey.

I would like to apologize for the misunderstanding. You have linked documentation details about our LocalStack-CLI tool. This tool works with different Python versions as mentioned in the documentation.
The main LocalStack service has different requirements. As you have mentioned, there are major differences between operating systems and distributions. Because of this, we reco

[2022-08-16 13:10] sheshantzupee opened #6681 "Read timeout on endpoint URL: "http://localhost:4566/2015-03-31/functions/tournament-step-function-lambda/invocations""
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

When i am invoking lambda function on localstack, i am getting no response and also no error logs:

[code]

[code]

[code]

### Expected Behavior

_No response_

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g

[2022-08-16 14:36] #4965 closed

[2022-08-16 15:03] monil1334 commented on #25
@silv-io any update with supporting ALB in localstack? Do we have a timeline to support this feature?

[2022-08-16 16:24] amwill04 opened #6682 "bug: 1.0.x breaks concurrent BatchWriteItem to dynamodb tables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Previously to `v1` I would initiate a single `localstack` instance within `docker` at the root of my tests and each test would run in parallel creating a test table before executing the actual test. Since `v1` this now breaks and returns the following error:

[code]

Switching off parallel te

[2022-08-16 17:05] #4419 closed

[2022-08-16 18:17] #5671 closed

[2022-08-16 21:59] Simonl9l opened #6683 "Ensure LocalStack/cdklocal is included in the GitHub runner images."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

It seem that currently the maintainers of the GitHub Workflow runner do not see the value in preinstalling the LocalStack/cdkLocal CLI along side all the other but in tools , including the core AWS CLI.

We have a similar request to the AWS CDK maintainers for same with that cli https://gi

[2022-08-17 08:55] yonatandbinahai opened #6686 "Support DMS (Database Migration Service) service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In our AWS setup we have 2 databases which we need to sync.
In our case we sync between an RDS (PostgreSQL) DB and OpenSearch.
For that we use the [DMS (Database Migration Service)](https://aws.amazon.com/dms/).

We use Localstack to mirror our AWS cloud setup.
Since currently DMS is not a

[2022-08-17 10:04] mistriel commented on #6285
Also facing this issue when running on pipelines allocating a random dns entry for the localstack pod.  Regarding your discussion I still don't understand why `EXTERNAL_HOSTNAME` cannot be used to resolve the SQS queue url regardless of any specific SQS configuration.   `EXTERNAL_HOSTNAME` is a wide definition that should configure localstack to work same as if i would have configured my aws clien

[2022-08-17 10:49] giograno commented on #6682
@amwill04 thanks for reporting 🙏
The error is triggered here:

https://github.com/localstack/localstack/blob/659143606fcbb49798da7c395fb7d1290976571e/localstack/services/dynamodb/utils.py#L62-L69

@viren-nadkarni any clue if this can depend on the store migration?

[2022-08-17 10:52] OxonianCambion opened #6687 "bug: Creating an S3 bucket via terraform with dots in the name fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It appears that there is some sort of issue with "." in s3 bucket filenames created via terraform:
"." is a valid character according to the [naming rules](https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html)

If I attempt to use the following file in terraform (via `

[2022-08-17 11:13] hkroger commented on #6310
@giograno There is something wrong with region setting and `DYNAMODB_SHARE_DB=1` here. I used your example to create table and populate it.

If I  now set the `AWS_REGION` wrong on purpose, it should still work because `DYNAMODB_SHARE_DB=1` which I use?

[code]

BatchWrite fails but scan works just fine. Is it because table name in batchwrite goes along with the data?

[2022-08-17 11:14] hkroger commented on #6310
Note, the above issue is probably not related to the original problem reported so maybe splitting this up to another issue would make sense.

[2022-08-17 11:34] viren-nadkarni commented on #6682
@giograno Yes, this looks like a race condition. I'll take a look

[2022-08-17 13:31] nerochiaro opened #6690 "bug: Persistence problem for lambda authorizers in apigatewayv2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems that authorizer lambdas for apigatewayv2 HTTP APIs are not properly persisted between restarts of localstack, or their state is corrupt and they can't be successfully invoked.

### Expected Behavior

I expect to be able to invoke authorizer lambdas correctly between restarts of local

[2022-08-17 13:35] nerochiaro commented on #6282
Confirming as fixed. Thank you. :pray:

[2022-08-17 14:58] egobrain opened #6691 "bug: Exception java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/ObjectMapper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

25 72.39 2022-08-17T14:49:08.980  INFO --- [   Thread-20] localstack.utils.run       : Restarting process (received exit code 1): ['java', '-Xmx256m', '-javaagent:/usr/lib/localstack/dynamodb/ddb-local-loader-0.1.jar', '-Djava.library.path=/usr/lib/localstack/dynamodb/DynamoDBLocal_lib', '-ja

[2022-08-17 20:34] whummer commented on #6691
Hi @egobrain , thanks for reporting. Seems to be related to some JAR dependencies for DynamoDB we recently had to patch, due to security issues.

Please note that the `--host` flag is no longer supported - we generally recommend running LocalStack inside the Docker container.

In this particular case, can you please try deleting the local contents of your LocalStack volume directory, in particular

[2022-08-17 20:58] kingkupps opened #6692 "bug: Kinesis `GetRecords` consistently fails past a certain point in time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

At some point, Localstack's Kinesis service consistently begins to throw the following errors for `GetRecords`:
[code]
and
[code]

I see the following repeated quite often in Localstack logs when it starts to happen although this feels potentially unrelated:
[code]

### Expected Behavior

I w

[2022-08-17 21:11] thrau commented on #6692
Thanks for the report Jamie @kingkupps! We are re-working kinesis at the moment where we can hopefully address the issue, you can follow the development here #6166.

[2022-08-17 21:17] thrau commented on #6655
Thanks for the feedback Nathan @nathanmcgarvey. I also want to add to marcel's post that that host mode is not something that's intended for localstack users. It is meant mainly for development purposes in environments that replicate the container environment. I hope that clarifies everything. We'll work on making the docs more explicit on the issue. Closing for now.

[2022-08-17 21:17] #6655 closed

[2022-08-17 21:24] thrau commented on #6626
hi @koleksiikovalchuk, as we state [in the docs](https://docs.localstack.cloud/developer-guide/setup/#host-mode), host mode is a developer mode when running localstack from the source repository. it is not intended for users, and also not supported on windows currently. unfortunately it's just impractical for us to support host mode for production use. sorry!

all i can suggest is cloning the repo

[2022-08-17 21:24] #6626 closed

[2022-08-17 21:38] thrau commented on #6687
Hi Gregory @OxonianCambion , thanks for reporting. I can't reproduce the issue on my machine. Could you run localstack with `LS_LOG=trace` and post the log output after running terraform apply?

Also, can you confirm that this also occurs after removing the terraform state files? `rm -rf .terraform* terraform.tfstate`. Thanks!

[2022-08-18 03:53] dan-dekel commented on #6193
Hey @silv-io , at least for the latest docker version this still seems to be broken..

[2022-08-18 07:42] egobrain commented on #6691
@whummer no, re-downloading of artifacts doesn't help

[2022-08-18 08:37] egobrain commented on #6691
@whummer if i manually apply this https://github.com/localstack/localstack/commit/8f157e56ba9808945e445950b749a3a58d6e953f commit to the installed localstack install.py - everything works well

[2022-08-18 09:31] OxonianCambion commented on #6687
Hi Thomas; thanks for your interest!

I've run it without cleaning and with cleaning. I've quickly diffed the outputs and there doesn't seem to be any difference

The key error appears to be here:
[code]

Here is the output:
First just rerunning - my console commands/output:
[tfl_local_without_cleaning.txt](https://github.com/localstack/localstack/files/9372272/tfl_local_without_cleaning.txt)
and

[2022-08-18 10:01] manuelwaltschek opened #6695 "bug: SQS receive messages with --max-number-of-messages unexpected behavior?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am testing localstack:1.0.4 SQS receive messages

When I execute sqs-receive-messages,
I always receive one message in the "Messages" array. Therefore it seems I need to add  --max-number-of-messages to receive multiple messages at once.

When I run it without max-number then I receive ever

[2022-08-18 11:02] #4752 closed

[2022-08-18 11:09] #5301 closed

[2022-08-18 13:21] leahfitchgraphika opened #6696 "bug: Kinesis stream names set to stream's ARN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When deploying a stack with a kinesis stream, the stream name attribute is being set to the value of the stream's ARN instead of the stream's name. Since many boto3 functions require the stream name, it makes it very difficult to access the streams from other resources like lambdas.

### Expe

[2022-08-18 13:26] steffyP opened #6697 "bug: rds create-db-instance with aurora-postgresql engine does not work if engine-version is not set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

running the following command, will not spin up the database:
`awslocal rds create-db-instance --db-cluster-identifier db1 --engine aurora-postgresql --db-instance-class db.r5.large --availability-zone us-east-1a --db-instance-identifier dbtest`

LocalStack log:
[code]

The `engine-version` w

[2022-08-18 14:43] DeLion13 opened #6698 "bug: LocalStack copies lots of lambda binary to `/tmp` directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently on each `terraform apply` I see that my `/tmp` directory is filling by lambda binary archive copies. In some cases it may gain tens of GBs of memory, if I run lot's of applies in short period for testing.

<img width="505" alt="Screenshot 2022-08-18 at 16 33 02" src="https://user-im

[2022-08-18 15:21] taras-kobernyk-localstack commented on #6605
The mentioned PR has just been merged. The fix should start working with the next docker image release.
Closing the issue, but do not hesitate to open it again if something won't work.

[2022-08-18 16:30] pinzon commented on #6651
Hi @fphilip could you try with the latest version? I'm unable to reproduce your issue.

[2022-08-18 16:39] pinzon commented on #5914
Hi @evbo the feature was just added to Localstack  so I'm closing this issue. :wave:

[2022-08-18 16:39] #5914 closed

[2022-08-18 17:01] Smiles840 commented on #5914
Handle it as they say  hahha, thank you bro

On Thu, Aug 18, 2022, 9:40 AM Cristopher Pinzón ***@***.***>
wrote:

[2022-08-19 01:38] dragonbone81 opened #6700 "bug: DynamoDB streams encode binary data for no particular reason"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using DynamoDb streams (and kinesis) subsequent requests to put or update an item result in binary data being encoded in base64 format.
When an item is first created the record contains the correct data (binary, but not base64 encoded). Subsequent requests to the same item (put or update

[2022-08-19 03:27] nathanmcgarvey commented on #6655
@thrau and @MarcelStranak, thanks for the thorough response. I appreciate it. Are there recommendations for using localstack in a testing environment that is already containerized? (E.g. where running automated tests dictate not having a localstack instance running at all times but torn up and down at dynamically as tests are run.) Aside from the complexity and overhead of docker-in-docker or usin

[2022-08-19 03:39] nathanmcgarvey commented on #6655
@thrau and @MarcelStranak, Regarding documentation: The part that probably the most misleading for me, at least, was the CLI help text, not the official documentation. (As the help text from `localstack start --help` lists `--docker` and `--host` as equally valid options for starting localstack)

:

[2022-08-19 09:26] d-corler opened #6701 "bug: connection to the server localhost.localstack.cloud:4510 was refused"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm trying to setup an EKS cluster with Pulumi but the deployment is disrupted by some errors related to unreachable address and an SSM exception.

I tried with CLI and docker-compose with a lot of mutations of the configuration, especially with DNS parameters.

I have a pro licence.

---

Pu

[2022-08-19 10:43] dominikschubert opened #6704 "feature request: Support for CFn resource "AWS::Lambda::Url""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Add support for `AWS::Lambda::Url` resources.

### 🧑‍💻 Implementation

_No response_

### Anything else?

Docs: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-url.html

[2022-08-19 14:19] xtaixe commented on #6196
@whummer as I mentioned this is a huge blocker for us since we generate everything before running Localstack and this is the only resource without a predefined name (at least from what we use). All the solutions we have considered are quite problematic in one way or another.

I understand that you don't want to have certain behaviors that are too different from AWS. I wonder if in this case a feat

[2022-08-19 15:35] Guy7B opened #6705 "bug: <APIGW Authorizers return Internal server error>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have the pro version, and I'm trying to use ApiGWV1 Authorizers in localstack:1.0.4.
Unfortunately, it doesn’t work, and I wasted hours trying to figure out what’s the issue.

I am getting 500 internal server errors when I am trying to reach one of my endpoints that is protected by an autho

[2022-08-19 15:50] #6657 closed

[2022-08-19 16:50] pinzon commented on #5602
@adiberk The PR with the changes for this feature has been merged. Make sure to pull the latest LocalStack image. Thank you for the the issue.

[2022-08-19 16:50] #5602 closed

[2022-08-19 17:10] acommodari opened #6706 "feature request: Supply an official localstack image to AWS ECR public gallery"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

You already publish an official docker image to docker hub but I was wondering if you would be interested in publishing one to AWS ECR public gallery as well. Right now there are a ton of unofficial images (seen [here](https://gallery.ecr.aws/?searchTerm=localstack)) but I do not want to u

[2022-08-19 20:39] caiodallecio opened #6707 "bug: API gateway Authorization Header is being replaced with "" on lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Authorization headers being sent to API gateway are received on lambdas as "empty string"

### Expected Behavior

_No response_

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

Run a API Gateway with lambda integration

### Environment

[code]

### An

[2022-08-20 00:06] #6577 closed

[2022-08-20 01:01] duaneking commented on #5142
This needs reopened it was just ignored by the devs, until its confirmed fixed.

[2022-08-20 01:30] #5361 closed

[2022-08-20 09:01] whummer commented on #6706
Hi @acommodari , thanks for reporting. In fact, we're already pushing the image to the public ECR repository `public.ecr.aws/localstack/localstack` via our pipelines (should contain the same images and tags as on Docker Hub) - this is not super well covered in our docs yet, we'll make sure to better document it.. 👍

[2022-08-20 11:02] #6210 closed

[2022-08-20 11:25] whummer commented on #6691
I see, thanks for confirming the fix @egobrain . This commit is already merged to  `master` branch, and available as a dev package on pypi.org.

You can upgrade your local installation to the latest dev release by adding the `--pre` flag:
[code]

Hope that helps - please let us know if there are any other issues.. Thanks!

[2022-08-20 11:25] #6691 closed

[2022-08-20 14:30] acommodari commented on #6706
Amazing thanks! Not sure why it wasn't showing up when I was searching 🤔 This is great news 😁

[2022-08-20 15:33] wopperer opened #6709 "[Errno 49] Can't assign requested address,"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Unit test `test_run_and_stop_server` of `tests/unit/utils/test_http2_server.py` fails on line 26, running the server on line 22 with IP address 127.0.0.2 on Mac OS, because there is no 127.0.0.2 on Mac OS.

Changing the test as follow would make it pass, but the question is why do we need to

[2022-08-20 15:35] #6706 closed

[2022-08-20 15:38] thrau commented on #6707
Hi @caiodallecio , thanks for reporting. Could you please provide concrete instructions on how to reproduce the issue? Thanks

[2022-08-20 17:26] thrau commented on #6695
Hi Manuel @manuelwaltschek, thanks for reporting. I think there are two things at play here.

The problem related to messages appearing in the queue after purge_queue is fixed in #6710. We weren't correctly clearing the in-flight messages, so messages that were received would re-appear after the visibility timeout expires.

Regarding `--max-number-of-messages` and the number of messages returned b

[2022-08-20 19:49] #6682 closed

[2022-08-20 21:36] Tedsterh opened #6712 "Unexpected resource type AppSync::GraphQLApi"
I am running into an error when trying to deploy an AppSync Graphql api, according to this link `https://docs.localstack.cloud/aws/cloudformation/` AppSync Graphql is supported on a pro version, i am running a pro version but unable to add the AppSync Api.

This is what my stack code looks like:
[code]

and i am getting the following error when running `npm run build && cdk diff && npm run local b

[2022-08-21 01:31] #5637 closed

[2022-08-21 20:08] blake-ctrl commented on #6696
Ran into this same error using CDK. Refs to the streamname are returning the arn in 1.0.4 and also in the dev 1.0.5 versions.

I thought I was going crazy for a while.

[2022-08-21 23:19] #6712 closed

[2022-08-22 01:36] #5142 closed

[2022-08-22 03:46] JRagone opened #6718 "bug: Redshift Security Group Ingress Rule Not Applied"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create an ingress rule for a Redshift cluster security group, the rule doesn't stick: I'll describe cluster security groups, and the rule won't be applied.

### Expected Behavior

From [this issue](https://github.com/localstack/localstack/issues/2775), I figured that the rule would be

[2022-08-22 08:01] cpsinghal opened #6720 "bug: Cloud formation S3 VersioningConfiguration property not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cloud formation S3 VersioningConfiguration property not working

### Expected Behavior

Based on VersioningConfiguration Status,
`aws --region ap-south-1 --endpoint-url http://localstack:4566  s3api get-bucket-versioning --bucket dx-ref-cfn-s3` should return the expected value but command exi

[2022-08-22 08:07] cpsinghal commented on #6720
looks this is fixed in 0.14.3

[2022-08-22 08:07] #6720 closed

[2022-08-22 08:39] jesswales opened #6721 "An error occurred (InternalFailure) when calling the CreateApi operation: API action 'CreateApi' for service 'apigatewayv2' not yet implemented"
Trying to create an API gateway in local stack but receiving not yet implemented message.

This is my command:

awslocal apigatewayv2 create-api --name myapp_http_api --protocol-type HTTP --target arn:aws:lambda:us-east-1:000000000000:function:cert-lambda-function

Response:

An error occurred (InternalFailure) when calling the CreateApi operation: API action 'CreateApi' for service 'apigatewayv2'

[2022-08-22 10:07] maciejstromich opened #6722 "bug: Cognito Define Auth challenge lambda trigger is missing important keys in the event["request"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently when issuing DefineAuthChallenge trigger the event["request"] is missing `session` key which means that for those who rely on this parameter the trigger doesn't work.

### Expected Behavior

Based on https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-define-a

[2022-08-22 10:23] whummer commented on #6721
Thanks for reporting @jesswales . Please note that certain features and services (including API Gateway v2) are only available in the Pro version of LocalStack.

If you'd like to give it a try, you can sign up for a free trial under https://app.localstack.cloud and configure an API key for your LocalStack instance, which will enable the advanced features. Hope that helps - please keep us posted on

[2022-08-22 10:26] whummer commented on #6698
Thanks for reporting @DeLion13 . We have introduced a couple of enhancements with our version 1.0 release, including a new filesystem layout and better cleanup of these temporary Lambda directories. Can you please update your Docker image to one of the latest tags (e.g., `1.0.4` or `latest`) and give it another try? Thanks!

[2022-08-22 12:48] nick commented on #1205
For our use case... if there was a way to expose the internal DynamoDB port so we could at least seed the DB at max speed, that would be a big help. Anyone have any tips on how to do that?

[2022-08-22 16:01] peterehik-px opened #6725 "bug: Cannot request emails for localstack_/ses when emails are sent with ses v2 api."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There's a problem with the send email sesv2 api: Once you send an email, you can't then retrieve it using the _localstack/ses endpoint because the api expects the email you sent to have a 'source' parameter even though in the sesv2 api, source and sourceArn have been replaced with 'fromEmailA

[2022-08-22 16:28] peterehik-px commented on #6725
This is the breaking PR: https://github.com/localstack/localstack/pull/6340

[2022-08-22 19:16] #6674 closed

[2022-08-22 22:27] thantos opened #6726 "bug: CloudFormation alarm arn is being resolved as the name."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/289213/186028491-6f213ba9-b93b-46a7-b67f-08447d7e2a42.png)

the above cloudformation returns the following error:

### Expected Behavior

`GetAtt("Arn")` on an Alarm should return an ARN.

[code]

### How are you starting LocalStack?

With th

[2022-08-22 22:45] thantos commented on #6726
The stack ends up in a bad state after this error too.

2022-08-22T22:42:18.986 DEBUG --- [ Thread-1197] l.u.c.template_deployer    : Error applying changes for CloudFormation stack "sfnStack": Parameter validation failed:
Missing required parameter in input: "stateMachineArn" Traceback (most recent call last):

[2022-08-23 04:20] MarcelStranak commented on #6384
Hello @iredmedia, can you please confirm this issue is still affecting you with the latest release of LocalStack?
You can download the latest version of LocalStack by using command `docker pull localstack/localstack:latest`
Thanks.

[code]

[2022-08-23 09:32] viren-nadkarni commented on #6725
@peterehik-px Thank you for reporting this.

Could you please confirm that this was encountered when sending a Raw email type?

[2022-08-23 11:09] thrau commented on #1205
Hi @nick, if you are using any other dynamodb functionality of localstack afterwards, that won't work properly since localstack requires the requests to go through the API wrapper to properly register things like tables or indexes.  We are currently looking into the performance issue whether there are some easy wins or whether we need to rebuild things.
One thing you could look into until then is

[2022-08-23 12:27] thrau commented on #1205
i ran the benchmark again, and added some timing output around key methods on the server side.

## benchmarks

### inMemory=false

here's calling dynamodblocal (inMemory=false) directly vs calling through localstack
[code]

when looking at the server-side latencies, i can see that the full end-to-end latency of `Gateway.process` (our web framework) is: ~36.5 ms, and the forward_request method of t

[2022-08-23 13:37] #5942 closed

[2022-08-23 13:37] #6096 closed

[2022-08-23 14:19] giograno commented on #4087
Hi @dolevhadad, does the problem still persist? With today's `latest` it seems I can persist large files. Would you please pull the `latest` Docker image and give it another try? Thanks for the patience 🙏

[2022-08-23 15:02] thrau commented on #6506
Hi! Just an update on the issue: we've introduced a new environment variable `DYNAMODB_IN_MEMORY=1` that you can set to overwrite the storage behavior. Note that this will overwrite the DB path and therefore cause persistence and pods to not store dynamodb data.

[2022-08-23 16:05] Berg-it opened #6734 "Unsupported argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I try to use localstack with terraform, I followed your official documentation https://docs.localstack.cloud/integrations/terraform/
I used **tflocal** in order to deploy my infra on localstack , but always I got the error bellow:

[code]

### Expected Behavior

_No response_

### How are you

[2022-08-23 16:54] whummer commented on #6701
Hi @d-corler , thanks for reporting. We have now pushed a few enhancements which should (hopefully) get this issue resolved. Can you please pull the `latest` Docker image and give it another try? Please keep u posted on how it goes.. Thanks!

[2022-08-23 17:56] thantos commented on #6726
Update:

Looks like our Cfn has an empty value in it...

[code]

However... AWS does not fail on this template, but localstack does.

[2022-08-23 20:56] thantos commented on #6726
Alright, diving it, it seems that some of the CDK constructs inject invalid resource values into the managed policies.

For example, Dynamo adds an empty resource string (above) in some cases.

https://github.com/aws/aws-cdk/blob/v1.169.0/packages/@aws-cdk/aws-dynamodb/lib/table.ts#L1579-L1580

AWS doesn't seem to care about this, but localstack fails.

[2022-08-23 21:13] #6462 closed

[2022-08-23 21:47] dhay opened #6738 "bug: infra service crashes regularly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm running localstack in a docker-compose configuration.  I'm seeing frequent, random crashes of the `infra` service, even when I'm not running any AWS commands against the docker container.
[code]

I haven't found any existing issues that might explain this, nor have I seen any configuratio

[2022-08-24 02:10] Issung opened #6739 "bug: LocalStack failing to startup, spawnerr: can't find command '.venv/bin/python'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Trying to use localstack within kubernetes, I get this output and startupprobes fail

[code]

[code]

### Expected Behavior

I expect localstack to start without error and the startup probe to be successful, retrieving a 200 response from the /health endpoint.

### How are you starting LocalS

[2022-08-24 08:38] giograno commented on #6722
Hi @maciejstromich, thanks for reporting the issue! We release a fix with the `latest` Docker image. Could you please give it a new try and let us know? 🙏

[2022-08-24 09:10] d-corler commented on #6701
No SSM exception anymore, thanks.

However connection issues persists

Here's logs of Pulumi when a delay appears after EKS creation

[code]

Final state

[code]

Instance logs

[code]

[2022-08-24 11:19] eau-de-la-seine opened #6740 "bug: Should respect SQS 256 KB limitation per message OR batch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am able to send SQS messages that are greater than 256 KB, but according to [AWS sqs limitation](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/quotas-messages.html) I should not be able to do that.

### Expected Behavior

Should respect SQS 256 KB limitation and

[2022-08-24 11:59] jatinmehrotra opened #6742 "localstack Dynamodb ResourceNotFoundException , ResourceInUseException:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever i am trying to run my tests on my local system, test suites which require localstack's dynamodb are failing.

However with the same configuration in the circle ci pipeline test job all cases are passed.

I am sorry if my report lacks important details, still new to localstack, feel f

[2022-08-24 12:59] coreypobrien opened #6743 "bug: DynamoDB GlobalTableDescription needs GlobalTableStatus for Terraform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using Terraform to create a global DynamoDB table, the Terraform AWS provider crashes because the Create/Update/Describe methods for DynamoDB tables do not include a `GlobalTableStatus` attribute.

It looks like the provider crashes [here](https://github.com/hashicorp/terraform-provider-

[2022-08-24 13:36] whummer commented on #6718
Thanks for reporting @JRagone . Looks like I'm unable to replicate this issue with the latest version - getting this output from the last CLI call:

[code]

Can you please do a `docker pull localstack/localstack` to ensure the latest Docker image is downloaded, and also ensure that the `latest` image is configured in your startup configuration (e.g., docker-compose.yml)? Please let us know if that

[2022-08-24 13:42] JRagone commented on #6718
Thanks for checking this out @whummer. I get the same output, but I would have expected to see the CIDR address `192.168.100.101/32` in the `IPRanges` field after the command to authorize an ingress rule on the group. Would that not be expected?

[2022-08-24 13:46] whummer commented on #6718
Ok, thanks for confirming, that was an oversight on my part. Looks like a bug, we'll double check and fix that! 👍

[2022-08-24 14:08] coreypobrien opened #6747 "bug: apigateway doesn't support valid openapi spec with parameters as a child of a path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using an openapi spec that includes `parameters` as a child of a path (meaning those parameters apply to all methods of the path), the apigateway service crashes with:

[code]

It looks like the current implementation assumes that every child of a path is a method which doesn't match the

[2022-08-24 14:19] calvernaz commented on #6747
Thanks @coreypobrien for reporting this and the reproducible sample. We'll look into it 👍

[2022-08-24 14:23] Tedsterh opened #6748 "feature request: Support for AWS::SecretManager:SecretTargetAttachachment in CloudFormation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I am trying to spin up an Aurora Serverless instance but it fails due to LocalStack not currently supporting the creation of `AWS::SecretManager:SecretTargetAttachachment`, i can create the secret but am unable to link the secret to the database which in turn throws an error when creating

[2022-08-24 15:09] cam71101 commented on #6734
I am also getting the same error.

[2022-08-24 18:45] giograno commented on #6678
Hi @maciejstromich, we released a fix introducing `EstimatedNumberOfUsers` as a field for `DescribeUserPool`. Please pull the `latest` Docker image and give it a try. Feel free to report any further problem 🙏

[2022-08-24 18:45] #6678 closed

[2022-08-24 18:47] giograno commented on #6486
Hi @jcanabarro, could you please pull the `latest` Docker image and give it another try? The issue should have been now fixed. Thanks for the patience 🙏

[2022-08-24 19:55] pinzon commented on #6696
@leahfitchgraphika could you check the reproducer you send? I don't see where is creating the Kinesis stream.
@blake-ctrl could you also send a reproducer?
I added a CFN Kinesis test but all it does is show that the creation of a Kinesis stream works correctly.

[2022-08-24 22:34] map34 opened #6753 "bug: KMS service cannot persist state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever I try to create a new KMS key using docker-compose, I encounter this error:
[code]

This bug causes the persistence process not to work. Therefore, whenever we restart the localstack container, the references to the previously created KMS keys are missing.

### Expected Behavior

Loc

[2022-08-25 07:40] nallwhy commented on #6463
I have the same issue with sqs

[2022-08-25 07:42] nallwhy commented on #3391
How was this issue solved?

[2022-08-25 07:50] nallwhy commented on #6463
Sad...

https://docs.localstack.cloud/localstack/persistence-mechanism/

[2022-08-25 10:05] d-corler commented on #6701
Found a workaround by adding "localhost.localstack.cloud" in /etc/hosts of the device that run Pulumi (localstack instance is on a server).

[2022-08-25 10:09] whummer commented on #6701
Sounds great, glad you were able to find a workaround @d-corler . Just to confirm - does that mean that the DNS name `localhost.localstack.cloud` does not resolve properly on your server? (it should be a publicly resolvable domain).

Please let us know if we can close this ticket, or if there are any other issues with your Pulumi EKS deployment.. Thanks!

[2022-08-25 11:01] gdarcy commented on #6734
@Berg-it @cam71101 I had this issue when following the Terraform tutorials. It occurs when the 'aws' Terraform module has been pulled in with an older version (the constraint was >= 2.68.0 and it pulled in 3.23.0) rather than the most up to date one (4.27.0) and the module therefore doesn't support all the LocalStack endpoints.

I fixed this by adding 'version = "~> 4.16"' to the 'aws' block withi

[2022-08-25 12:44] whummer commented on #6718
Hi @JRagone , this should now be fixed via #6749 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-08-25 12:44] #6718 closed

[2022-08-25 13:41] thrau commented on #6742
hey @jatinmehrotra, could you please share the tests you are executing?

[2022-08-25 14:05] fzonneveld opened #6756 "No arm64 lambda support for localstack/lambda:python3.9"
Forced to which from amd64/x86_64 architecture to arm64. We are using localstack to simulate e2e tests with some lambda running in the stack. Using AWS cdk to deploy. I would also like this to run on my macbook. Lambdas are zipped and contain some shared objects. These objects cannot not be loaded into the lambda (localstack/lamnda:python3.9) because the zip file was locally created on a arm64 , b

[2022-08-25 16:02] #5109 closed

[2022-08-25 16:57] blake-ctrl commented on #6696
Sure thing @pinzon
Repo to reproduce here: https://github.com/blake-ctrl/kinesis-localstack-issue

Comparing localstack and cloud AWS cdk deployment side by side.
The first, using localstack shows the streamname ref returning the ARN, the second on AWS, correctly returns only the stream name.
![image](https://user-images.githubusercontent.com/65546032/186725180-607a892a-98b1-4eca-96d7-4df6bc21bf4b

[2022-08-25 17:51] roytman opened #6759 "bug: Readiness and Liveness probes failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello, I run localstack on kind K8s cluster. Until a couple of days ago it worked perfect, but from today I cannot deploy localstack on the cluster. The pod describe shows the following errors:

  Warning  Unhealthy  2m3s (x6 over 2m53s)  kubelet            Liveness probe failed: Get "http://

[2022-08-25 18:22] pinzon commented on #6696
Thanks @blake-ctrl. I can confirm that I have same output.

[2022-08-25 19:38] leahfitchgraphika commented on #6696
Sorry about that. Forgot to push updates to the repo. The example is visible now.

[2022-08-25 20:25] pinzon commented on #6696
No worries. I already made a PR with the fix.

[2022-08-25 20:37] thrau commented on #6756
hi Frank @fzonneveld, thanks for the report! We're aware that lambda currently has some limitations with arm64. We are currently working on a completely new lambda provider which will hopefully solve the problem #6724. We also have all the ARM limitations tracked here: #4921.

[2022-08-25 20:40] thrau commented on #6759
hey @roytman, thanks for reporting. are you starting anything on a privileged port, perhaps because you are running localstack pro? could you try setting the env vars `DNS_ADDRESS=0` and `EDGE_PORT=4566` and try again?

this solved the issues for a different user the other day, but not sure what the root cause is at the moment.

[2022-08-25 20:53] thrau commented on #6740
Thanks for reporting Gokan @eau-de-la-seine, seem like we don't have any checks in place. `MaximumMessageSize` already defaults to 256k, so we would just need to check against that, and add some tests against AWS to also check the batching behavior.

[2022-08-25 21:48] whummer commented on #6644
Thanks for reporting @rodjul . This should be fixed via #6754 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-08-25 22:33] rodjul commented on #6644
Hello @whummer, the latest version worked. Thanks!

[2022-08-25 22:34] #6644 closed

[2022-08-26 03:20] talha5389 opened #6762 "bug: SQS fifo message group processed out of order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Queue 2 messages in fifo queue with same group id.
2. Received messages with max receive count > 2 and visibility timeout of 5 minute. Both messages will be returned which is correct
3. Before 5 minute visibility timeout runs out, queue more messages in queue with same group id
4. Invoke r

[2022-08-26 04:54] roytman commented on #6759
Hi @thrau , the localstack pod doesn't use privileged ports, only 4566/TCP, 4571/TCP.
I'll check how to set the env variable in the helm deployment.

BTW, yesterday after 32 (!!!) restarts the localstack pod started to work. In the past, I've never observed this behavior.

[2022-08-26 05:40] roytman commented on #6759
I found that increasing `livenessProbe.initialDelaySeconds` and `readinessProbe.initialDelaySeconds` to 10 resolves the issue.
Looks like the localstack initialization takes more time.

[2022-08-26 05:40] #6759 closed

[2022-08-26 05:44] Simonl9l commented on #6704
@dominikschubert an idea on an ETA?

[2022-08-26 07:43] thrau commented on #6759
that's great, thanks for sharing, and glad it's working again

[2022-08-26 07:48] thrau commented on #6463
@nallwhy As an alternative, you can mount shell scripts into `/docker-entrypoint-initaws.d` that use awslocal to pre-seed localstack with custom aws commands.

[2022-08-26 07:52] thrau commented on #6463
@nhidtran thanks for reporting, could you help us reproduce the issue by sharing your (or a minimal sample of) your serverless template?

[2022-08-26 08:54] anshulxyz commented on #2563
Hi @palaniappanrm and @r-jindal
Refer https://github.com/aws/aws-secretsmanager-jdbc#overriding-default-regions
You can provide endpoint by creating a `secretsmanager.properties` file the following content:
[code]

[2022-08-26 12:23] daveykane commented on #6651
I am getting this same issue since upgrade to v1, previously I think it worked due to the bride network mode but I'm not 100% sure. The post request from inside the Lambda never seems to reach the running localstack endpoint

[2022-08-26 14:56] ashish4710 opened #6764 "PutBucketLogging giving MalformedXML error for payload working with real AWS"
Hi,

I am using below payload for PutBucketLogging api and getting MalformedXML error in response. I have checked it with real AWS and it is working perfectly fine. Am I missing something or this needs a fix in localstack?

`"LoggingEnabled": {
            "TargetBucket": "test_bucket_name",
            "TargetPrefix": "log",
            "TargetGrants": [
                {
                    "Gra

[2022-08-26 22:57] tomazfernandes opened #6766 "bug: concurrent requests made to a `FIFO` queue return messages from the same `MessageGroupId`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When concurrent requests are made to a `FIFO` queue, requests return messages from the same `MessageGroupId`.

#### Scenario Example

Consider we have a FIFO queue with 10 messages from the same `MessageGroupId`.

Then we make two concurrent `receiveMessage` requests for `5 messages` each.

A

[2022-08-27 13:10] #4278 closed

[2022-08-27 15:15] daveykane commented on #6588
we are having the same issue with image files, for now we'll also go back to 0.14.5

[2022-08-27 15:16] daveykane commented on #6651
The issue I'm having it actually linked to https://github.com/localstack/localstack/issues/6588 it seems

[2022-08-27 16:56] pinzon commented on #5994
The feature has been merged!

[2022-08-27 16:56] #5994 closed

[2022-08-27 17:04] #1769 closed

[2022-08-27 17:31] pinzon commented on #6663
Hi @nathanwebsterdotme, **Lambda Layers** is a PRO feature. [Here's](https://docs.localstack.cloud/aws/lambda/#lambda-layers) more information about it.

[2022-08-27 17:31] #6663 closed

[2022-08-28 09:02] #5868 closed

[2022-08-28 10:14] whummer commented on #6357
Hi @nuhhtyy , thanks for reporting. Looks like one of your systems may be configured with an API key (via `LOCALSTACK_API_KEY`), is that possible? Please note that some additional features are being activated (incl. additional edge router ports, and other APIs) for the Pro version, when a valid API key is configured.

Hope that helps - please keep us posted if there are any other questions or issu

[2022-08-28 10:18] whummer commented on #6687
Hi @OxonianCambion, this seems to be related to how `tflocal` is handling local endpoints - by default it is using **hostname-based addressing** for S3 buckets (using `http://<bucket_name>.s3.localhost.localstack.cloud:4566` as the target API endpoint), whereas for bucket names containing dots we need to be using **path-based addressing** (which is the default when `http://localhost:4566` as the e

[2022-08-28 15:28] smcoll opened #6771 "bug: cannot start localstack with Docker user namespaces enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

i am unable to start localstack via the CLI on a machine where Docker is configured with user namespaces.

### Expected Behavior

_No response_

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localst

[2022-08-28 17:09] whummer commented on #6599
Closing as resolved - please let us know if the problem persists, happy to look into it in more detail in that case.. Thanks

[2022-08-28 17:09] #6599 closed

[2022-08-28 19:55] #5830 closed

[2022-08-28 19:57] thrau commented on #5830
hi @ZimbiX, thanks for the report. we pushed a fix and the behavior should no be corrected. please open a new issue should the problem resurface.

[2022-08-28 20:31] thrau commented on #5462
Hi @sam-goodwin, could you please check whether you are seeing the same behavior with localstack 1.0.4 ? looks like you're on a fairly old version.

[2022-08-28 20:32] thrau commented on #6766
Hi Tomaz @tomazfernandes, thanks for the detailed report! That's a great find. Also excited to see the development in spring-cloud-aws!

The issue, I think, boils down to this passage of the [docs on visibility timeout for FIFO queues](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html):

In other words, in FIFO queues, all messages within a mess

[2022-08-28 21:07] sergolius commented on #6301
Upd: Presigned URL generated via CLI has `localhost` as host, but URL generated via SDK(AWS) request has `Endpoint`(`aws.Config{}.Endpoint`) as host.

[2022-08-29 06:27] baermat commented on #6766
After giving this some thought, your second solution of an "inflight" list of message group ids sound the most promising and least intrusive to me. My approach would have been to peek the heap, check the message group ids, and continue only if there is no match. There is no explicit function for peeking, apparently heap[0] is supposed to do that. Looks a bit hacky to me, but that's how they descri

[2022-08-29 07:26] #6697 closed

[2022-08-29 07:47] leonardosul opened #6775 "feature request: Add Batch Job Queue as an EventBridge Target"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I would like to be able to create EventBridge events that are forwarded to a Batch Job Queue. Ideally this would also allow for defining input transformers to parse the event body and decompose the event properties to parameters that are fed into the Batch Job Definition.

### 🧑‍💻 Implemen

[2022-08-29 08:18] d-corler commented on #6701
The DNS is well resolved on the server instance, but not on the remote client running Pulumi, a configuration is required to link `localhost.localstack.cloud` with the IP of the server.

Thanks for your support

[2022-08-29 09:51] douglasgpertile commented on #6355
Hi, I'm having the same issue when triggering a .net lambda with DynamoDB streams.

I've updated from localstack 0.12.11 to the latest version and the same issue related by @shooresh-golzari-cko happened.
After some investigating I found that the problem seems to be on the `ApproximateCreationDateTime` on the DynamoDB event, which is created with 13 digits instead of 10 (milliseconds instead of se

[2022-08-29 11:11] wszychta commented on #5739
Hello,

It turned out that this was issue with our proxy configuration. Localstack in our case was requiring access to below urls:
- s3.localhost.localstack.cloud
- analytics.localstack.cloud
- github.com

When one of my teammates set environment to `no_proxy` it started to work. Can you tell me if you can think about other endpoints which needs to be accessed while using localstack? We would like

[2022-08-29 15:54] thrau commented on #6762
thanks for the report @talha5389 ! looks like this is the same as #6766. Closing this issue in favor of the other one, since we've already started discussing implementation ideas.

[2022-08-29 15:54] #6762 closed

[2022-08-29 16:02] peterehik-px commented on #6725
yeah this was while sending a raw email.

[2022-08-29 16:09] #5698 closed

[2022-08-29 16:13] whummer commented on #6701
Thanks @d-corler - please let us know if there are any other questions or issues, happy to help out.. 👍

[2022-08-29 16:13] #6701 closed

[2022-08-29 16:57] dragonbone81 commented on #6700
Hey, is there any update on this?

[2022-08-29 16:57] dragonbone81 commented on #6604
Now that that PR is merged when can this change be expected to be in effect in localstack?

[2022-08-29 18:53] pinzon commented on #6604
The change is already added to the next release for Localstack. Could be this week or the next one.

[2022-08-30 08:51] mvillafuertem commented on #3022
Hi @whummer, I'm using version 1.0.4 and the issue still persists. Any workaround? Thanks

[2022-08-30 12:05] OxonianCambion commented on #6687
Hi @whummer
Yes - that seems to have worked!

I've attached the logs, but the key parts of my command line interactions are here:
[code]

[ls_log_new.txt](https://github.com/localstack/localstack/files/9452578/ls_log_new.txt)
[tfl_local_new.txt](https://github.com/localstack/localstack/files/9452579/tfl_local_new.txt)

I did check without setting `S3_HOSTNAME` and unsurprisingly it still fails.

T

[2022-08-30 13:06] RobertLucian opened #6782 "feature request: support MySQL instance for AWS RDS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Currently, only MariaDB instances are supported (for these engines `mysql`, `mariadb`, `aurora-mysql`). Add support for MySQL instances as well.

In addition to supporting a different RDS instance type, at the same time, also preferably add support for setting the instance version at deplo

[2022-08-30 14:46] estevejm opened #6784 "bug: SNS publish batch should fail when publishing to invalid topic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When publishing a batch of messages to SNS using publish-batch command the result is always success, regardless of the topic being present.

Example result:
[code]

### Expected Behavior

Publishing a batch of messages to a non-existing topic should return an error, as done by real implementa

[2022-08-30 15:05] #5990 closed

[2022-08-30 16:13] brandonstubbs opened #6786 "bug: DynamoDB Streams has different base64 encoded value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Sometimes `GetRecords` on a dynamodb stream will return a different base64 encoded value

### Expected Behavior

The `GetRecords` call should return the same base64 encoded value as `GetItem`

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### Star

[2022-08-30 16:41] JackWillz commented on #4995
Is this issue still outstanding? I believe I am experiencing the same.

[2022-08-30 18:48] #6740 closed

[2022-08-30 18:50] thrau commented on #6740
hi @eau-de-la-seine. fix for this should be available in about an hour. thanks to @rjmcginness for the community contribution!

[2022-08-30 19:54] nicoloboschi opened #6787 "bug: not able to get records from kinesis with "latest" docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using the kinesis java client I'm not able to get records from kinesis. This is the code snippet of the client
[code]
I get this error

[code]
Note that just sending raw bytes and no dates are involved in the message.

This is a regression with the ["latest"](https://hub.docker.com/layers/loc

[2022-08-30 19:55] thrau commented on #6787
thanks for the report @nicoloboschi, we'll take a look tomorrow. for now you should be able to work around the issue by starting localstack with `PROVIDER_OVERRIDE_KINESIS=legacy`

[2022-08-30 22:16] whummer commented on #6155
Thanks for reporting @acampoh @ahahn95 @edevenport , and apologies for the long delay on this one. We have now added a couple of enhancements in CloudFormation, to improve the integration with SAM/`samlocal`. Can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-08-30 22:18] whummer commented on #6753
Thanks for reporting @map34 , this should be (hopefully) fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-08-31 03:23] fabio-blanco opened #6788 "bug: LocalStack crashes trying to run simple terraform script with terraform-local"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to create a simple ec2 instance with a terraform file by using terraform-local, localstack crashes and displays the following error message:

TypeError: Ec2Api.run_instances() got an unexpected keyword argument 'disable_api_stop'

### Expected Behavior

The ec2 instance simulation

[2022-08-31 07:49] ngouass opened #6789 "bug: AppSync - not returning result in appropriate format but everything works on AWS cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I successfully deploy my appsync api to locastack,
when I make a call to the api, I can see that my query is processed and the result is printed in the log
but the graphql response to my query always comes with null value.

[Localstack logs]
[code]

[API Response Template]
![Screenshot 2022-0

[2022-08-31 07:56] lukonjun commented on #6501
Ran into the same error on MacOS 11, could resolve by running `export DNS_ADDRESS=0`. I agree that a hint would help to resolve the error more quickly

[2022-08-31 08:44] a-wi opened #6792 "bug: [SQS] LocalStack in ASF mode doesn't process multiple messages sent concurrently"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When multiple (hundreds of) messages are attempted to be sent concurrently, LS 1.0.4 (in default ASF mode) is unable to receive them.
In legacy mode (LEGACY_EDGE_PROXY=1) all messages are received successfully.

### Expected Behavior

LS in ASF mode should be able to receive (process) multipl

[2022-08-31 13:42] #6787 closed

[2022-08-31 14:41] giograno commented on #5275
Hi @ChristianWolf1, thanks for the feature request! We rolled out initial support for global tables version 2019.11.21 (see https://github.com/localstack/localstack/pull/6744). While this is not yet a fully-fledged implementation, you should be able to replicate the AWS tutorial at the very least.

[2022-08-31 14:41] #5275 closed

[2022-08-31 14:44] mvillafuertem opened #6794 "bug: MD5 returned by SQS does not match the calculation on the original request. (Message Attributes)"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

https://github.com/localstack/localstack/issues/3022#issuecomment-1231366317

Attempting to write to sqs on localstack versions > 0.14.3 results in an MD5 checksum error. The error is specific to the message attributes hash value and not the hash value on the message body.

localstack > 0.14.

[2022-08-31 16:02] thantos opened #6796 "bug: Cloudformation Stack Fails to Update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Updating an existing stack fails with error

### Expected Behavior

Update the stack

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

* Create cloudformation stack
* Deploy
* Update
* Deploy

### Environment

[code]

### Anything else?

I was using

[2022-08-31 16:34] pinzon commented on #6651
I'm closing this issue due to the original problem cannot be reproduced and the @daveykane's problem (Media upload with a presign POST) already has a report open.

[2022-08-31 16:34] #6651 closed

[2022-08-31 17:42] thrau commented on #6788
hi @fabio-blanco , this may have been fixed with #6791, could you please download the latest image and try again?

also: you seem to be using a pre-v1 configuration with the latest image, please take a look at the migration guide: https://github.com/localstack/localstack/releases/tag/v1.0.0 specifically around configuring the localstack volume directory. thanks!

[2022-08-31 17:50] thrau commented on #6796
hi Sam @thantos. Could you please share the stack or at least a minimal example so we can reproduce the issue? Thanks.

[2022-08-31 18:05] thantos commented on #6796
It might have been transient when upgrading because it isn't happening now, I killed lcoalstack a few times and now it doesn't complain.

[2022-08-31 18:08] rjmcginness commented on #6794
Looks like issue #3022 was similar.

[2022-08-31 18:41] paulrobello commented on #6521
Any updates on this one? Chrome will not work with LS websockets when using proto header until its fixed.

[2022-08-31 21:42] whummer commented on #6738
Thanks for reporting @dhay - can you please share some details about the log output / error message you're seeing when LocalStack crashes? Please try enabling `DEBUG=1` in your container environment, to enable debug logs.

Also, please verify that sufficient RAM and disk space is available in your Docker environment 👍  - running out of disk space can be a frequent source of errors.. Thanks!

[2022-08-31 23:30] whummer commented on #6384
Another short bump @iredmedia - can you please share a few more details about your use case - ideally a few snippets of your Terraform configuration, so we can reproduce this sample end-to-end? We've recently added a couple of enhancements around CORS rules with S3 and other services - please keep us posted if the problem persists with the `latest` image.. Thanks!

[2022-08-31 23:34] whummer commented on #6296
Hi @volkanunsal @Warkanlock, quick follow-up, we've recently added a couple of enhancements for deploying CDK stacks on LocalStack - may we ask you to give it another try after pulling the `latest` Docker image?

Would be great if you could share a few more details about your use case - ideally a minimal version of your CDK sample that helps us replicate the issue end-to-end.. Thanks!

[2022-08-31 23:37] whummer commented on #6101
Hi @CaptchaTW , thanks for reporting - this should be (hopefully) fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please let us know if the issue persists.. Thanks!

[2022-09-01 00:44] calvin-pietersen commented on #6141
This still seems to be an issue on localstack `1.0.4`?

[2022-09-01 00:58] calvin-pietersen commented on #6141
Okay, I just tested all the way back to `0.14.2` from `1.0.4`.. and `0.14.2` is the only working version. So it seems this is still an issue.

[2022-09-01 01:13] fabio-blanco commented on #6788
Hi, @thrau! Thank you for your reply. I followed your advice and updated my Dockerfile:

[code]

Then I removed the docker container and the old image and rerun the docker compose. The container started with version 1.1.0.dev of the localstack and my `tflocal apply` command worked like a charm.

[2022-09-01 01:13] #6788 closed

[2022-09-01 06:07] okkez opened #6797 "bug: got an error while running localstack as a container in CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I got the following error while running localstack as a container.

[code]
In fact, I run many ECS tasks and run a localstack container within each ECS task for test isolation. I run 100 or more tasks at once.

### Expected Behavior

I expect followings:
- can skip installing all extra compon

[2022-09-01 06:55] calvernaz commented on #6521
Hi @paulrobello sorry for the long radio silence, this and other issues related to websockets triggered an internal discussion around our websockets implementation that impacts other services, hence the team still looking into this and hopefully will be prioritised soon.

I saw another [issue](https://github.com/localstack/localstack/issues/6383) created by you that is still looking for a reproduc