[2021-01-26 07:29] CoskunerM commented on #3510
I've also tried out to install stack via pip. facing the same problem anyways.

[2021-01-26 08:09] WangXiangUSTC opened #3512 "localstack will restart pod when inject network delay chaos by Chaos Mesh"
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description

1. Deploy K8s by Kind

refer to [Kind installation](https://kind.sigs.k8s.io/docs/user/quick-start/#installation)

2. Deploy localstack in K8s by helm

[code]

and then run port forward:

[code]

3. Create a dynamodb table by aws client
[code]

Then check it:
[code]

4. Use [Chaos Mesh](https://chaos-

[2021-01-26 11:51] Blikingor opened #3513 "Localstack fails on creation of IAM ManagedPolicy through CloudFormation"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
When creating a CloudFormation stack containing a IAM ManagedPolicy, localstack fails with the message: `Unable to extract attribute "PhysicalResourceId" from "IAM::ManagedPolicy"`

The error only occurs if a LOCALSTACK_API_KEY is used.

## Expected behavior
The stack and policy should create successfully

[2021-01-26 12:17] peter-ponzel opened #3514 "versionId is null when getting CompleteMultipartUploadResponse for created object"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

`CompleteMultipartUploadResponse` doesn't contain a `versionId` even though the object in S3 (LocalStack) seems to have one - at least S3 returns a `versionId` for that object when using `getObject(...)`

## Expected behavior

return `versionId` in `CompleteMultipartUploadResponse` with actual `versionId`

[2021-01-26 17:02] minhio opened #3516 "Cannot redeploy lambda after function code change using CDK (specific to MacOS Catalina)"
[localstack.zip](https://github.com/localstack/localstack/files/5874812/localstack.zip)
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

OS: MacOS Catalina 10.15.7
localstack 0.12.5
CDK 1.86.0

When deploying lambda via cdklocal with legacy bootstrapping, the first deployment deploys successfully. Subsequent deployments also works, as long as no changes

[2021-01-26 17:16] minhio commented on #3510
@whummer if you need a project to reproduce this issue, you can download the zip from this issue, it will throw the same error on MacOS Big Sur (but not Catalina). https://github.com/localstack/localstack/issues/3516

[2021-01-26 19:06] jpabbuehl opened #3518 "lambda invoke failed, shell script not found"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

invoke lambda function (python) using local code as described in the [readme.md](https://github.com/localstack/localstack#using-local-code-with-lambda)

## Expected behavior

should get python response with print statement

## Actual behavior

lambda invoke fails to start
![image](https://user-images.gith

[2021-01-26 21:10] pinzon commented on #3487
@upanshu21 Hi @upanshu21
Some time ago I wrote some patches that should fix support kcl 2.0, and this is an[ Integration test I wrote for Kinesis V2 ](https://github.com/localstack/localstack-java-utils/blob/master/src/test/java/cloud/localstack/awssdkv2/KinesisV2ConsumerTest.java)

Could you explain me more about the tests you're trying to run? It would help me to reproduce your problem and debug

[2021-01-26 21:28] mgagliardo commented on #3518
Hello @jpabbuehl, I have just tested this and it is working as expected on my machine, my setup.

[code]

As you can see:
[code]

I *think* you are not passing the parameters correctly, as you can see I am additionally passing region and profile.
In any case, I will try to test this today on my mac, but in the meantime can you give it a try with this additional params?

Some additional info attach

[2021-01-26 22:04] ktamas77 commented on #1202
update: unfortunately changing the memory didn't fix the problem permanently either :(

[2021-01-26 22:15] zwing99 commented on #3490
So @mgagliardo it looks like it might be in part tied to #3081 ... I went to version 11.4 in my docker-compose file and it now works just fine on Intel mac. but still does not work on m1 macs.d I pushed updates to the repo mentioned above.

[2021-01-26 22:21] ktamas77 commented on #1202
sometimes it starts, but this is how long it takes:

<img width="646" alt="Screen Shot 2021-01-26 at 2 20 56 PM" src="https://user-images.githubusercontent.com/1231708/105913519-cefe8880-5fe1-11eb-8b50-ffc880939b45.png">

[2021-01-26 22:30] ktamas77 commented on #1202
My theory is that every time a persistent volume is being restored, the existing API calls are being read from the `/tmp/data/recorded_api_calls.json` file stored in the locastack container's volume.

for some reason, in my setup, in almost every second this line is being logged to this file:

[code]

I guess the problem could be that so many of these lines are being logged (more than 30k in the p

[2021-01-26 22:35] ktamas77 commented on #1202
ps. it seems to be application related.
based on my previous post, the persistent container/volume will read the `/tmp/data/recorded_api_calls.json` file at start to restore the state. if the local environment puts too many actions to this file (30k+ for an example like in the previous cost) then the startup time will be very, very long (almost feels like forever) next time.

So possible solution

[2021-01-26 22:54] udadi-az commented on #3511
It believe this is related to CloudFormation custom resources:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-custom-resources.html

Does Localstack CloudFormation have support for custom resources?

[2021-01-27 01:24] #3469 closed

[2021-01-27 01:25] mgagliardo commented on #3446
@rmoak any updates on this?

[2021-01-27 01:26] whummer commented on #3513
Thanks for reporting @Blikingor . This should be fixed in #3519 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-27 01:26] #3513 closed

[2021-01-27 02:25] rmoak commented on #3446
Sorry for the delay. Still working on it - Big Sur has not been greenlit for deployment just yet by internal IT policies. I have a request in.

[2021-01-27 06:29] jpabbuehl commented on #3518
thanks for your reply. I helped

After running docker image prune, pulling latest image manually (instead of the image with the most recent tag) and change docker-compose with localstack/localstack:latest, the issue is now different !

When running:
[code]

I am getting the following
![image](https://user-images.githubusercontent.com/2730222/105951946-20098d80-6071-11eb-8a94-800b8996d36c.png)

the

[2021-01-27 07:53] whummer commented on #3518
Thanks for reporting @jpabbuehl . When using the `LAMBDA_REMOTE_DOCKER=false`, can you please ensure that the `HOST_TMP_FOLDER` variable is set properly, and that a volume mount is added to your docker-compose section to enable mounting of the local folder into the container:
[code]

See also this section in the README: https://github.com/localstack/localstack#using-local-code-with-lambda Hope tha

[2021-01-27 08:21] jpabbuehl commented on #3518
Thanks @whummer and @mgagliardo

Adding ${PWD}/localstack_tmp:/tmp/localstack  in docker-compose.yml didn't solve the issue :(

I have tested the same code on another linux machine and I get the same issue, module app not found

[code]

[2021-01-27 08:51] Blikingor commented on #3513
I confirm it now works as expected. Thanks for the quick work @whummer!

[2021-01-27 10:31] dheerajkulakarni commented on #3466
Hey @whummer, problem which I mentioned in the second scenario about the template creation still persists, first one got solved, can you please verify this.
cc: @pinzon

[2021-01-27 11:18] mgagliardo commented on #3518
Hello @jpabbuehl, so it seems there has been a bug introduced in the `latest` image, please go back to my comment and just change the `latest` for release `0.12.5`  and test it out. I have just tried on a Linux and MacOS (Big Sur) and it is working as expected.

I will take care of debugging this then, please confirm if it worked for you. Cheers.

[2021-01-27 12:08] jpabbuehl commented on #3518
@mgagliardo  I confirm using 0.12.5 and adding    - ${PWD}/localstack_tmp:/tmp/localstack from @whummer  solves the issue on both linux and macOS.

Thanks for your work on localstack and your help.

[2021-01-27 12:09] mgagliardo commented on #3518
Thanks for the prompt response @jpabbuehl, we are working on a fix to get this solved on the latest release ASAP. Closing this one. Cheers!

[2021-01-27 12:09] #3518 closed

[2021-01-27 14:10] HoneyryderChuck opened #3520 "Allowing s3 uploads when bucket is in subdomain"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I'm currently experiencing the following bug:

[code]

when uploading a file to localstack's S3, after being able to create a bucket using `awslocal mb`  cli command. I've found many references to this sort of bug, and they all seem to relate with the definition of the endpoint url for services, so I gues

[2021-01-27 17:34] KarlKl opened #3522 "AWS .NET SDK: Presigned Urls with ResponseHeaderOverrides are not working"
# Type of request:

[x] bug report
[ ] feature request

# Detailed description

Creating a presigned URL with ResponseHeaderOverrides with the AWS .NET SDK, results in an invalid signature.

AWSSDK.S3 3.5.3.9

## Expected behavior

Generated presigned Url should have a valid signature.

## Actual behavior

Error is thrown when the URL is requested (Browser/Postman/C#):
403 response content: `<Erro

[2021-01-27 19:29] kyle-hiller-nh opened #3524 "Path matching for API Gateway endpoints doesn't match behavior of AWS"
[x] bug report
[ ] feature request

# Detailed description

We are using localstack 0.11.3. You can reproduce by creating an API gateway with two endpoints on it that use the same method, one of which has a variable in and the other with a static path part, like so:

`POST test/{testVar}`

and

`POST test/create`

and the make a request to `POST test/create`

If you attempt to make a request to `P

[2021-01-27 20:00] pinzon commented on #3208
My last PR has been merge. The problem should be fix now.
Thank you for your help.

[2021-01-27 20:00] #3208 closed

[2021-01-27 20:10] Josh-Rosen commented on #3336
+1

[2021-01-27 21:28] mgagliardo commented on #3520
Hi @HoneyryderChuck, this seems like a nice request but the thing is that the ruby SDK already contemplates this kind of issues, according to the [SDK docs](https://docs.aws.amazon.com/sdk-for-ruby/v2/api/Aws/S3/Client.html):

[code]

For example:
[code]

And that is why your code is trying to use `test` as subdomain of the endpoint.

[code]

[2021-01-27 21:28] #3520 closed

[2021-01-27 21:47] whummer commented on #3518
Thanks for the update @jpabbuehl , this should be fixed in 7a90cf4 . Can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes, thanks!

[2021-01-27 22:10] HoneyryderChuck commented on #3520
I thought I might be missing some option, thx for the tip. Still, given the impending depreciation of path style bucket URLs, shouldn't localstack deal with it regardless?

[2021-01-28 00:03] mgagliardo commented on #3520
Thing is with the code I've shown you (which I think is more or less the same you have) what is happening is that your container does not know what is the path because it can't resolve the DNS:

[code]

`aws` is defined by DNS or link between containers, but `test.aws` is not, it is a totally different behaviour with aws as `aws.amazon.com` is a public DNS.

[2021-01-28 02:01] mgagliardo commented on #3479
Hey @VandanaAwasthi, can you post some error logs, events, your code or whatever you might have? I tried reproducing the issue but got this, I am wondering if you got the same or maybe am I doing something wrong:

[code]

[2021-01-28 03:53] ryanmoaksonos commented on #3446
@mgagliardo I was still able to repro on Big Sur **but I believe I figured out the issue**.

TL;DR - It seems the experimental feature `Use gRPC FUSE for file sharing` is the issue. Having it disabled causes follow up runs to fail.

Here is my writeup that I would have posted before I thought to try toggling this setting.

My current env should match yours:
[code]

On the first run I see the exact

[2021-01-28 09:55] HoneyryderChuck commented on #3520
Sure, but let's assume that it's possible (which it is, I'm setting, `- "aws:test.aws"` the `links` section of the ruby image, apologies for omitting that detail).

[2021-01-28 10:06] KarlKl commented on #3522
Possibly related to #3266?

[2021-01-28 11:40] upanshu21 commented on #3487
Yup. Actually here I am using localstack with docker.
Localstack-java-util does not provide **DynamoDbAsyncClient** which is needed by the KCL scheduler to maintain the lease table.
For integration tests I need to run the whole KCL consumer application which needs **KinesisAsyncClient** and **DynamoDbAsyncClient**. This therefore rules out the use of localstack java utils.

The approach I used is:

[2021-01-28 12:05] mgagliardo commented on #3520
Allright then, I'll work on a fix for that matter. Thanks for reporting it.

[2021-01-28 12:07] mgagliardo commented on #3446
Glad you could solve it out @ryanmoaksonos . Thanks for replying.

[2021-01-28 12:07] #3446 closed

[2021-01-28 12:53] ldrag opened #3525 "MessageRetentionPeriod of SQS queue has no effect"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

While creating an sqs queue I am passing _MessageRetentionPeriod_ attribute. Its value is set correctly and can be read with _get-queue-attributes_ command. Unfortunately it seems that this setting is ignored and messages stay longer in the queue.

## Expected behavior

Messages should be removed from the

[2021-01-28 14:22] HoneyryderChuck commented on #3520
Thank you @mgagliardo . in the meantime, I'll use the path variant.

[2021-01-28 14:59] TestAnalyser opened #3526 "Security issues in latest localstack"
Hello localstack team,

we have found a couple of security vulnerabilities in the localstack source code that we would like to report.

We have already contacted you two times (info@localstack.cloud) and have not yet received an answer.

First request sent: 22.10.2020  <- No response.
Second request: 08.12.2020 <- No response.

Is there any other contact for security?

Kind regards,
Dennis Brinkro

[2021-01-28 16:21] accent opened #3527 "Lambda with container support"
# Type of request:

Question

# Detailed description

Create new lambda function based on Docker image

[code]

## Expected behavior

Lambda is created

## Actual behavior

Getting following error:

[code]

# Steps to reproduce

Run localstack on docker-desktop (WSL2).

## Command used to start LocalStack

[code]

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

[code]

[2021-01-28 16:47] whummer commented on #3526
Thanks for reaching out @TestAnalyser . Please note that LocalStack is a development tool that usually is only executed on the local machine, isolated in a Docker container, with no network ports exposed to the outside world (only `localhost`).

We explicitly recommend to our users **never** to use LocalStack for production use cases. Hence, threats like Remote Code Execution should not be a key c

[2021-01-28 16:47] #3526 closed

[2021-01-28 17:31] whummer commented on #3516
Thanks for sharing these details @minhio . Can you please pull the `latest` Docker image and give it another try? Seems like re-deploys (with changes in the Lambda handler) are now working (we've pushed a few CloudFormation fixes recently):

[code]

Hope that helps - please keep us posted. Thanks

[2021-01-28 17:41] minhio commented on #3516
hey @whummer, just tested this with latest image and it is working as expected. thanks!

[2021-01-28 17:41] #3516 closed

[2021-01-28 17:43] kubawach opened #3528 "Support for AWS Xray trace header propagation in SQS / EMQ backend"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

Current localstack uses EMQ 0.15.7. This version does not support AWS XRay trace header propagation for SQS. Therefore value passed as a header to SQS won't be mapped back as a system attribute of a message, breaking trace propagation.

## Expected behavior
AWS XRay tracing header is supported and trace p

[2021-01-28 18:22] HoneyryderChuck commented on #3520
No need to prioritize it just for me though. Just found out that localstack doesn't support "private" buckets (using IAM/sigv4 access), which was what I need to test my open-source project, in the free version, and that's a bit of a deal-breaker for me 😭

[2021-01-28 19:09] niemyjski commented on #3522
I ran into this today as well. This commit is what introduced this issue (https://github.com/localstack/localstack/commit/6d463be76ad416e0418645c9e8a0212dfdefec3a) #3092 . The latest amazon sdk uses the v4 signature method for `us-east-1`. However when using s3 an internal service map overrides this value and sets it to 2.

[2021-01-28 19:15] ejsmith commented on #3522
Same issue here.

[2021-01-28 19:17] irahulranjan commented on #3277
@bouergh This should be fixed in the latest version, can you pull and give it a shot?
Thanks.

[2021-01-28 19:17] #3277 closed

[2021-01-28 19:18] niemyjski commented on #3522
My workaround is to use the `localstack/localstack:0.12.4` image

[2021-01-28 20:38] pinzon commented on #3466
Hi @dheerajkulakarni.
You're right, I assumed It was the same fix for both issues.
I'm working on the patch right now.
Thank you.

[2021-01-28 23:35] mgagliardo commented on #3520
Hey @HoneyryderChuck, could you please send me the steps to reproduce this and what some output/debug logs? I need to know what are you trying and what's actually happening, the more input, the better. Cheers.

[2021-01-29 10:11] jpabbuehl opened #3531 "lambda cannot write to s3 service using LOCALSTACK_HOSTNAME"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

Invoked lambda cannot write to s3 bucket
[related to this issue](https://github.com/localstack/localstack/issues/3311)

## Expected behavior

Invoked lambda should write to s3 bucket

## Actual behavior

It seems lambda cannot find the s3 service, even when using LOCALSTACK_HOSTNAME in lambda python code

[2021-01-29 10:53] jpabbuehl commented on #3518
hi @whummer. I confirm the issue is resolved when pulling latest image (sha 29449f457169)

[2021-01-29 11:55] mgagliardo commented on #3531
Hello @jpabbuehl, you are missing an environment variable in your `docker-compose.yml`.

[code]
Say you are running this into a folder in /tmp/test, then your network will be `test_custom_network`, this way the lambda function container will be using the same net as your localstack, i.e.: `--network="test_custom_network"`.

You can also find the network name with the following (while running docke

[2021-01-29 11:55] #3531 closed

[2021-01-29 13:48] jpabbuehl commented on #3531
thanks a lot @mgagliardo . It works fine !

[2021-01-29 15:09] dheerajkulakarni commented on #3466
Hey @pinzon, glad you picked this up again, from what I observed it's not only during the creation but there are other issues as well with templates, one thing I am facing right now is, I have created a template using CLI which worked perfectly, and when I use that template to send mail through SDK then again it was giving me 500 error. Not sure when exactly aws throws 500 error, is it something r

[2021-01-29 18:06] BentCoder opened #3532 "Unexpected protocol "email" for SNS subscription"
Hi,

Is there a way to find out what would be the **`--token`** for **`confirm-subscription`** command before publishing messages to the topic? Currently I can successfully publish before token confirmation stage and get a message ID but I see `WARNING:localstack.services.sns.sns_listener: Unexpected protocol "email" for SNS subscription` error in logs.

Thanks

Given that I have a topic

[code]

[2021-01-29 18:20] HoneyryderChuck commented on #3520
Sorry for the delay.

Project: https://gitlab.com/honeyryderchuck/httpx
Branch: https://gitlab.com/honeyryderchuck/httpx/-/tree/issue-108

How to reproduce:

1. build/run: `docker-compose -f docker-compose.yml -f docker-compose-ruby-3.0.yml run --entrypoint sh httpx`
2. setup shell/env: https://gitlab.com/honeyryderchuck/httpx/-/blob/issue-108/test/support/ci/build.sh#L5-32
3. run the test: `bundl

[2021-01-29 18:45] theodorebourgeon commented on #3527
Same behaviour on my side

[2021-01-30 13:33] whummer commented on #3488
Thanks for reporting @aahdahl @upanshu21 . This should be fixed in #3515 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-30 13:33] #3488 closed

[2021-01-30 13:52] ishaan-rd opened #3534 "Lambda with self-managed kafka cluster"
# Type of request: This is a ...

[ ] bug report
[ x ] feature request

# Detailed description
I am trying to set up a localstack lambda function that has a locally-run kafka cluster as its event source. I am using aws cli v2. When I run the command to create event source mapping for my lambda function using aws cli, I get a "500 Internal Server Error".
...

## Expected behavior
A new lambda event

[2021-01-30 13:55] ishaan-rd commented on #3534
As per the latest AWS CLI, the new `aws lambda create-event-source-mapping ...` command does not require the `--event-source-arn` flag. It has been made optional so that lambda can support self-managed kafka clusters.

[2021-01-30 15:51] whummer commented on #3479
Thanks for reporting @VandanaAwasthi and contributing the fix @mgagliardo . This change (#3530) is now available in the `latest` Docker image - please let us know if the problem persists. Thanks!

[2021-01-30 15:51] #3479 closed

[2021-01-30 17:47] whummer commented on #3512
Hi @WangXiangUSTC, thanks for your efforts working on the integration of LocalStack with Chaos Mesh!

In terms of persistence: resources are by default only stored in-memory, but you can enable persistence by using the `DATA_DIR` environment variable to point to a folder in a persistent volume. Do you have some more insights as to why the pod is restarting as soon as you start the chaos experiment

[2021-01-30 17:49] whummer commented on #3510
Thanks for the update @CoskunerM @minhio . Looks like the linked issue #3516 is now resolved. @CoskunerM  Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks

[2021-01-30 18:03] PRASANTHRAJENDRAN commented on #3336
Will the SNS FIFO topic and SNS SQS queue support will be available in localstack upcoming versions?

[2021-01-30 18:53] whummer commented on #3461
Thanks for reporting @KwonMoose . This issue should be fixed in the meantime - looks like we've been able to get your stack deployed with the latest version. Can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks for your help!

[2021-01-30 18:53] #3461 closed

[2021-01-30 18:57] #3401 closed

[2021-01-30 21:25] whummer commented on #3508
Thanks for reporting @jakobbraun . A backdoor API to receive the raw CW metrics has been added in #3535. Is that what you had in mind?

Example:
[code]
Hope that helps - please let us know if anything else is missing.

[2021-01-30 21:25] #3508 closed

[2021-01-30 21:33] upanshu21 commented on #3488
will do !

[2021-01-30 23:17] HoneyryderChuck opened #3537 "HTTP/2 proxy hangs when request contains Expect: 100-continue header"
[x] bug report

# Detailed description

Using the S3 service, when performing a "put object" request, it'll fail if the comms are done using HTTP/2. I've tried using both plaintext and TLS-enabled HTTP/1.1, and it seems to work. If I remove the `Expect` header, HTTP/2 works as well.

## Expected behavior

S3 upload request works.

## Actual behavior

Request hangs.

# Steps to reproduce

Running s

[2021-01-31 00:06] whummer commented on #3440
Thanks for reporting @arussel . This should be fixed in 218f09e - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-31 00:06] #3440 closed

[2021-01-31 00:16] whummer commented on #3390
Thanks again - a couple of performance enhancements have been added for DynamoDB recently. Let's continue the discussion on #1205... Thanks!

[2021-01-31 00:16] #3390 closed

[2021-01-31 00:20] whummer commented on #3391
Thanks for reporting @holyoaks , and apologies for the long delay. This has been fixed in the meantime - can you please pull the `latest` Docker image and give it another try? (We'll release a new tagged version shortly.) Please keep us posted how it goes. Thanks for your help!

[2021-01-31 00:26] whummer commented on #3416
Thanks for reporting @Keeo . This should be fixed in #3536 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-31 00:26] #3416 closed

[2021-01-31 00:40] whummer commented on #3156
Thanks for the update @gustavotemple @irahulranjan . This appears to have been a bug in the underlying DynamoDB Local implementation - see here: https://forums.aws.amazon.com/thread.jspa?threadID=303035

The issue should now be fixed in the `latest` Docker image. Please report here if the problem persists. Thanks

[2021-01-31 00:40] #3156 closed

[2021-01-31 00:44] #2964 closed

[2021-01-31 00:57] whummer commented on #2012
Thanks for reporting @mayank-kapoor - this should be fixed in the meantime as we've switched to a different SQS backend and pushed several fixes in the meantime. If the problem persists, please also try running without `DATA_DIR` enabled. Thanks

[2021-01-31 00:57] #2012 closed

[2021-01-31 00:59] whummer commented on #2914
Thanks for reporting @pdashford . This appears to be an issue in your Python/pip environment - doesn't seem to be related to LocalStack. Thanks

[2021-01-31 00:59] #2914 closed

[2021-01-31 01:02] whummer commented on #2918
Thanks for reporting @ilaneden . We have pushed a couple of performance improvements in the meantime - can you please pull the `latest` Docker image and give it another try? In case the problem still persists, please re-open this issue (or create a new one) with details about your environment and steps to reproduce. Thanks

[2021-01-31 01:02] #2918 closed

[2021-01-31 06:49] gsteckman commented on #1783
I'm getting the same error.

awslocal --version
aws-cli/2.0.46 Python/3.7.7 Windows/10 exe/AMD64

I also tried using the aws client with the --endpoint-url on both my Windows 10 host and in WSL2. I get the same error as in the original issue report, in both environments.

Versions below:

aws --version
aws-cli/1.18.69 Python/3.8.5 Linux/4.19.104-microsoft-standard botocore/1.16.19

aws --version
a

[2021-01-31 09:39] whummer commented on #3485
Thanks for reporting @jscheid . This issue should be fixed in #3533 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-31 09:39] #3485 closed

[2021-01-31 10:37] EricAskari opened #3538 "Cannot integrate api gateway with lambda: Unable to find integration for path /restapis/REST_API_ID/ENV/_user_request_/PATH""
# Type of request: This is a ...

[ ] bug report

# Detailed description
So I have been trying to get the api gateway working with lambda but I don't know If I am doing something wrong or it is a bug.
...

## Expected behavior
Lambda works and gives response on ApiGateway.
...

## Actual behavior
hitting endpoint says
[code]
...

# Steps to reproduce

## Command used to start LocalStack
`docker-co

[2021-01-31 10:49] jscheid commented on #3485
Thank you, I actually have a whole batch of other improvements related to the fallback. I'll try and create issues/PRs for those over the next few days.

[2021-01-31 11:04] whummer commented on #3157
Thanks for reporting @hewe . This should be fixed in the meantime, as we have recently switched from our custom Java Lambda executor to using the [Lambci](https://github.com/lambci/docker-lambda) Docker images. Can you please pull the `latest` image and give it another try - please report here if the problem persists. Thanks

[2021-01-31 11:04] #3157 closed

[2021-01-31 11:22] whummer commented on #2879
Thanks for reporting @yaitskov @tekener - this should be fixed in c18d7454e4df15d8110d29fdead38220c85b068e . Can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-01-31 11:22] #2879 closed

[2021-01-31 11:58] whummer commented on #3485
Sounds great, thanks @jscheid . We'll be very happy to accept PRs, and work on any improvements related to Lambda fallback. 👍 Thanks for your help.

(On a side note, Lambda container images are available in the Pro version, in case you'd like to give that a try.)

[2021-01-31 12:03] EricAskari commented on #3538
Well It was waiting for me to create Issue and work.

`--resource-id` used in `awslocal apigateway put-integration` and `awslocal apigateway put-method` should be `Id` of `awslocal apigateway create-resource` and not `parentId` which I was fetching with `awslocal  apigateway get-resources`

and I also changed `awslocal apigateway put-integration uri`. `path/` to `path//` and removed greeting from

[2021-01-31 12:03] #3538 closed

[2021-01-31 12:17] whummer commented on #3538
Thanks for the detailed report @EricAskari , glad you were able to get it working. Just to clarify - is there anything that needs to be changed to make the logic in LocalStack more intuitive or more accurately reflecting AWS behavior?

Are you saying that you had to change the URI to include `path//` with double slashes? I'm not sure if this reflects the expected behavior in AWS - so this could be

[2021-01-31 14:40] KarlKl commented on #3522
Thanks @niemyjski.
But this is not a suitable workaround for us as we are dependent on a bug fix made in 0.12.5 for the .NET SDK #2165. 🙈

[2021-01-31 14:43] niemyjski commented on #3522
@KarlKl then what can we do to resolve this? I've already stepped through this with the latest amazon .NET SDK and I don't see any work around.

[2021-01-31 15:11] KarlKl commented on #3522
@niemyjski I have tried it with v0.12.4 and **can not confirm** that this was working back then, I get the same error. Is this even possible? 🤔

I think the signature creation is somehow not correctly implemented, because this works (but should not):
- create presigned url **without override**
- **add** the url **parameter**(eg `content-type=test`) to the presigned url
- the error **does not appea

[2021-01-31 20:29] jscheid commented on #3485
Good to know, thanks for the heads up. It looks like that pro feature was added only [recently](https://github.com/localstack/localstack/commit/c0f515bc3c86f2e3004bede58c4dc9aaf80c3dab#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R79)? Just trying to get a sense for how battle tested it is.

[2021-01-31 22:44] #3088 closed

[2021-02-01 02:59] WangXiangUSTC commented on #3512
Thanks! I will try the `DATA_DIR` environment variable.

And I run `kubectl logs -f {localstack-pod-name}` to get the pod's log, but can not find any error log, and then this command exist. Then I can see the pod restart. Maybe the `events` `Liveness probe failed: Get http://10.244.0.44:4566/health: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting hea

[2021-02-01 08:39] CoskunerM commented on #3510
Hi there,

ive tried it out. I'm still getting the same error:

localstack_main |
localstack_main | ERROR: 'cd /tmp/localstack/zipfile.b27d082a; unzip -o -q /tmp/localstack/zipfile.b27d082a/original_lambda_archive.zip': exit code 2; output: b'index.d.ts              bad CRC 799d8931  (should be 00000000)\nindex.js                bad CRC 00384315  (should be 00000000)\nindex.ts                bad C

[2021-02-01 08:48] arussel commented on #3440
@whummer  confirmed this is fixed with docker image b52081af2988

[2021-02-01 09:32] whummer commented on #3510
This seems to be an issue with Docker volume mounts in Mac OS Big Sur.

@CoskunerM  Can you please run the following commands and post the outputs here:
[code]

[2021-02-01 10:22] satish2832 commented on #3140
What is issue here ?

[2021-02-01 10:40] CoskunerM commented on #3510
@whummer

it is the same output as yours.

[2021-02-01 10:52] jakobbraun commented on #3508
Thanks a lot! That was exactly what I had in mind. Can you give an estimation of when you will make the next release, and by that, I can use this feature?

[2021-02-01 11:39] peter-ponzel opened #3540 "S3 doesn't throw BucketAlreadyExistsException in case bucket already exists"
# Type of request: This is a ...

[x] bug report

# Detailed description

creating the same bucket more than once is working although it should not

## Expected behavior

throwing an BucketAlreadyExistsException

## Actual behavior

no exception thrown

# Steps to reproduce

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

[code]

Thank you,
Peter

[2021-02-01 11:52] whummer commented on #3508
Thanks @jakobbraun , the change is available in the `latest` Docker image, and we are preparing a new release `0.12.6` which will be available in the course of the day (today).

[2021-02-01 12:15] jakobbraun commented on #3508
cool! Thanks a lot for your quick replies!

[2021-02-01 14:40] dmitry-weirdo commented on #2073
I got a same exception when using Localstack 1.15.1, SQS and Testcontainers, just on the first execution to create a Queue. Running on Windows.

[code]

[2021-02-01 15:09] whummer commented on #2738
Thanks again for the PR @yonahforst - the container name is now configurable via the `MAIN_CONTAINER_NAME` environment variable. Hope that helps - please let us know if there are any other issues @kadamwolfe . Thanks

[2021-02-01 15:09] #2738 closed

[2021-02-01 16:03] greg-md commented on #3359
Same issue here. Seems like no one wants to fix it.

[2021-02-01 16:05] greg-md commented on #833
2 years and still not fixed. 🤦‍♂️

[2021-02-01 17:36] holyoaks commented on #3391
@whummer , I'm afraid I can't agree that this has been fixed. I completely deleted all my docker containers that form part of the app, and ran `docker volume prune` to completely clear out the existing environment. I changed my localstack configuration to:

[code]

and ran `docker-compose ...up --build`

Everything built properly, as expected. I ran the bootstrap script I have to create the RDS da

[2021-02-01 17:41] EricAskari opened #3543 "put-integration-response command returns BadRequestException"
# Type of request: This is a ...

[ ] bug report

# Detailed description
`awslocal apigateway put-integration-response --rest-api-id i1r7vyd1qz --resource-id 6s56qknvv8 --http-method GET --status-code 200 --selection-pattern '.*' --content-handling CONVERT_TO_BINARY`

## Expected behavior
`I don't know 👀`

## Actual behavior
`An error occurred (BadRequestException) when calling the PutIntegrationR

[2021-02-01 17:54] holyoaks commented on #3391
@whummer I'm afraid this is not resolved. I deleted all the docker containers in my app, then ran `docker volume prune` to clear out the entire app. I then ran `docker image rm <image id> -f` to completely remove the localstack docker image. I changed my localstack config in my docker-compose file to:

[code]

and ran `docker-compose ... up --build`. The new image was downloaded (version 0.12.6) a

[2021-02-01 18:10] whummer commented on #3359
Thanks for the update @Am1rr3zA , and apologies for the delay. Please note that not all Pro services are represented in the UI yet - we're continuously working on adding new Pro/UI features (we'll also planning to add UI support for Redshift in the near future). Thanks

[2021-02-01 18:29] whummer commented on #3391
Thanks for the update @holyoaks . Can you please try mounting the entire `/tmp/localstack/data` folder as a volume into the container - the RDS DB data should get stored in a folder `$DATA_DIR/rds-data`. Hope that helps - please keep us posted. Thanks!

[2021-02-01 18:47] asautins opened #3544 "Flag vs. access key id/secret to make presign url work..."
[ ] bug report
[X] feature request

# Detailed description

The documentation states:

NOTE: Please use test as Access key id and secret Access Key to make S3 presign url work. We have added presign url signature verification algorithm to validate the presign url and its expiration.

If I want pre-signed URLs enforce across localstack I need to ensure that everyone logging into localstack is using

[2021-02-01 18:50] holyoaks commented on #3391
My volumes for localstack are mounted as:

[code]
  Is that not a viable approach? Are you recommending eliminating the 3 separate volume specifications to include just the one?

[2021-02-01 18:57] whummer commented on #3391
Yes, if possible, that would be great. The general recommendation is to create a volume specification for the entire `$DATA_DIR` folder. We currently have not (yet) defined a standard that prescribes the layout of different folders in the persistence folder - ideally the entire `$DATA_DIR` should get persisted and be made available to the container. Thanks

[2021-02-01 19:11] pinzon commented on #3466
@dheerajkulakarni can you give me more details about your case? I just tried to reproduce your issue and for me it seems to work fine.

This is how I do it:

1.- create file template.json:

[code]

2.- create template with awscli:
`awslocal ses create-template --cli-input-json file://template.json`

3.- send templated email with java aws-sdk:
[code]

Thank you for your help.

[2021-02-01 19:43] holyoaks commented on #3391
No joy. I still don't get a persistent RDS instance. My localstack volumes:
[code]
 and my docker app volumes:
[code]

[2021-02-01 19:54] whummer commented on #2073
Thanks for the update @dmitry-weirdo

Can you please confirm the version of LocalStack you're using - the latest release we published is `0.12.6`.

Can you please do a `docker pull localstack/localstack` and give it another try with the `latest` version of the Docker image? Thanks

[2021-02-01 21:38] asautins commented on #3544
This issue was noticed when [DoesS3BucketExistAsync](https://docs.aws.amazon.com/sdkfornet/v3/apidocs/items/S3/MS3UtilDoesS3BucketExistAsyncIS3String.html) started to fail silently ( returning true when the bucket does not exist ).  Reading the documentation:

The documentation above indicates that the above method requires pre-signed url.  It would be good to have a global flag to enable pre-sign

[2021-02-01 22:25] whummer commented on #3391
Closing this issue here, continuing the discussion directly on Slack.. Thanks again.

[2021-02-01 22:25] #3391 closed

[2021-02-02 03:04] nhoughto commented on #3373
@barnettj  does this need to be reopened?

[2021-02-02 07:18] whummer commented on #2885
@ambreenshameem @ashameem123 Thanks for the update - this issue should be fixed in the meantime, as we have switched from our custom Java Lambda executor to the [Lambci](https://github.com/lambci/docker-lambda) executor for Java lambdas. Please let us know in case the problem persists with the `latest` version of the Docker image. Thanks

[2021-02-02 07:18] #2885 closed

[2021-02-02 13:01] dheerajkulakarni commented on #3466
Sorry my bad @pinzon , I was actually doing **client.testRenderTemplate(testRenderTemplateRequest)** before doing **client.sendTemplatedEmail(request)** to check if all the required template variables are present, so this was throwing 500 error for me.

// code snippet
val testRenderTemplateRequest = TestRenderTemplateRequest()
testRenderTemplateRequest.templateData = templateVariablesData
testRen

[2021-02-02 13:56] whummer commented on #3038
Thanks for reporting @sadams . A new configuration variable `LS_LOG` has been added in #3542 . Hope that helps - please let us know if that doesn't work or if anything is missing. Thanks

[2021-02-02 13:56] #3038 closed

[2021-02-02 18:29] #2960 closed

[2021-02-02 18:39] mgagliardo commented on #3534
Hello @ishaan-rd, I am pushing a PR to add this feature, as we are not currently supporting self managed kafka clusters.

On the other hand there is something you are not doing right here and is pointing your kafka cluster to `localhost`.
What you could do instead is something like this, I took this [docker-compose.yml](https://github.com/wurstmeister/kafka-docker/blob/master/docker-compose-single

[2021-02-02 19:12] nirvdrum opened #3550 "Add ability to specify valid SES addresses"
# Type of request: This is a ...

[x] bug report
[x] feature request

# Detailed description

I guess depending on how you look at this, it's either a bug report or a feature request. As it stands, I think every email relayed through localstack's SES support will fail with some variation of:

[code]

If it were just a warning, that'd be acceptable, but it also returns an HTTP 400 error, which caus

[2021-02-02 19:57] tarunsingh2789 commented on #3135
I am not able to access internet if I am hitting api of other docker container(port-9090 ) inside localstack(12.5,port 4566)  lambda.

ConnectionError","errorMessage":"HTTPConnectionPool(host='localhost', port=9090): Max retries exceeded with url: Caused by NewConnectionError('\u003curllib3.connection.HTTPConnection object at 0x7ff8185c8ad0\u003e: Failed to establish a new connection:

Python file

[2021-02-02 21:06] barnettj commented on #3373
Yeah still not working.

@irahulranjan I am still seeing the body in SQS message as empty

`{
    "Messages": [
        {
            "MessageId": "991e03b0-5a50-517d-6fe2-8d5cf5f09be1",
            "ReceiptHandle": "opghgtmumqlsoknhovzymaswxbdtenldvkibjsqgmkguskmswyqifjucgkkxwfefiyrinkoptmatpiwxflqmewkdktvtjujqgvccryexatzrwhfandlzotqgaavxpclfwqeokjiwwwxvpcfflwaxjpmdhgvgloowdapvpxtrfsbjhttirteyoqe

[2021-02-02 21:40] irahulranjan commented on #3373
Hi @barnettj, I tried executing the same set of commands and I am receiving the responsePayload properly. Can you try updating the to the latest localstack version?

[2021-02-02 21:42] irahulranjan commented on #3373
[code]

[code]

[code]

[2021-02-02 22:41] barnettj commented on #3373
Ah my apologies @irahulranjan. I can indeed get the responsePayload back (It was latest localstack, but I think i needed to rebuild the queue).

Thanks again for your work on this.

[2021-02-02 23:05] irahulranjan commented on #3373
No issues, Thanks for the confirmation!

[2021-02-03 04:48] ishaan-rd commented on #3534
Thanks a lot @mgagliardo for your help!

[2021-02-03 13:14] #3534 closed

[2021-02-03 15:12] mgagliardo commented on #3490
Hey @zwing99 sorry for the delay, I'll assign this myself and treat it as duplicate, please open a new issue if this keeps happening after #3081 is closed (I am actively working on a fix, will push a PR soon). Thanks!

[2021-02-03 15:12] #3490 closed

[2021-02-03 15:22] selketdaly opened #3551 "Cannot access web UI - index.html not found"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

After starting LocalStack, and then trying to access the UI, a 500 error is thrown. The following appears in the logs:

[code]

See docker snippet in client code below for docker-compose configuration

## Expected behavior
To see the LocalStack UI at http://localhost:9000

## Actual behavior
A white label

[2021-02-03 20:49] irahulranjan commented on #3550
Hi @nirvdrum,
You will have to verify the email address before using it to send the message. Sample CLI commands:
[code]

[2021-02-03 20:51] whummer commented on #3551
Thanks for reporing @selketdaly . Please note that the Web dashboard is now deprecated and not maintained anymore - please refer to this section in the README: https://github.com/localstack/localstack#web-dashboard-deprecated . It is still available in the `localstack/localstack-full` image for backwards compatibility reasons, but no longer maintained. Hope that helps, thanks.

[2021-02-03 20:51] #3551 closed

[2021-02-03 21:03] bezsias opened #3555 "S3 GET request returns internal server error for non-existing key when Range header is passed"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description

Get request for non-existing key fails with HTTP status 500 when `Range` header is specified. Version 0.12.6.

## Expected behavior

Return 404 response with `NoSuchKey` error code.

## Actual behavior

Returns 500, internal error.

# Steps to reproduce

## Command used to start LocalStack

`docker-compo

[2021-02-03 21:41] tarunsingh2789 opened #3556 "Not able to access internet when hitting api of another container using localstack 12.5 lambda"
# Type of request: This is a ...

[ ] bug report

# Detailed description

I am not able to access internet if I am hitting api of other docker container(running on port-9090 ) inside localstack(running on 12.5,port 4566) lambda handler function

## Expected behavior

{ "Key" : " value" }

## Actual behavior

ConnectionError","errorMessage":"HTTPConnectionPool(host='localhost', port=9090): Max retr

[2021-02-03 22:54] tinaboyce commented on #3510
Getting the same issue here with Docker 3.1.0 in Mac OS Big Sur using latest localstack image 36464b2896a9 (docker pull the latest version a few minutes ago).

[code]

[2021-02-03 23:36] howardwu1 commented on #2061
So I was able to print the logs after getting the logStreamName value from the describe-log-streams command. However, when I go and return the logStreamName using context.logStreamName in my node code, I get a different logStreamName -- which should work according to the getting started guide here https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-awscli.html

As an example, this is what

[2021-02-04 03:49] ShadabShariff commented on #3556
Hi @tarunsingh2789, thank you for raising the issue, i have tried to replicate the same in my local and have faced the similar issue, this mostly because the docker run through localhost has to be made available to host network.
Could you please try restarting the local host docker with the env variable : **LAMBDA_DOCKER_NETWORK="host"** and please let me know if it works out for you. Thanks.

[2021-02-04 06:42] tarunsingh2789 commented on #3556
Thanks ShadabShariff 😊 The issue has been resolved after adding the above env variable .

[2021-02-04 06:42] tarunsingh2789 commented on #3556
Closed

[2021-02-04 15:17] aahdahl commented on #3488
Tested the latest image now, i am getting the same issue still:
`year 53066 is out of range`

[2021-02-04 18:39] cscetbon opened #3558 "Choosing listening ports doesn't work anymore"
# Type of request: This is a bug report

# Detailed description
Starting with 0.11.6 changing listening port doesn't work anymore
[code]

before 0.11.1 it was working as expected
[code]
Starting with 0.11.1 it listens to the chosen port + the default one
[code]

I can see it says deprecated but I don't know why and it's a breaking change. Was it done on purpose ?

## Expected behavior
I would expe

[2021-02-04 20:02] whummer commented on #3558
Thanks for reporting @cscetbon . Recent versions of LocalStack are using a single port (edge service) as the single entry point for all API request. You can customize this port number by setting the `EDGE_PORT` environment variable.

Please refer to the following issue for some background on this change: https://github.com/localstack/localstack/issues/2983

Hope that helps - please keep us posted

[2021-02-04 20:02] #3558 closed

[2021-02-04 21:10] cscetbon commented on #3558
@whummer you might have closed it too fast. Aren't you in charge of https://hub.docker.com/r/localstack/localstack ? If yes, the documentation should be updated cause it still says SERVICES could be used and it's only valid until 0.11.5. It's confusing. That issue might just be a documentation issue in that case.

[2021-02-04 21:32] whummer commented on #3558
Thanks for the pointer @cscetbon , the documentation on Docker Hub was indeed not fully up-to-date. We have now updated the docs there, please let us know if anything else is unclear or needs to be updated. Thanks!

[2021-02-04 21:42] cscetbon commented on #3558
Perfect, thanks @whummer !

[2021-02-04 21:53] #3556 closed

[2021-02-04 23:39] cabeaulac opened #3560 "AWS Javascript V3 configuration of endpoint URL not working with SecretsManager"
# Type of request: This is a difference in behavior from AWS Javascript V2 to V3 and I'm not sure what to do. It's likely not a bug.

[ ] bug report
[ ] feature request

# Detailed description
Trying to use AWS Javascript V3 to get a secret from secret manager and set the endpoint to http://localhost:4566 and it still trying to talk to AWS. It works with AWS Javascript V2 API. Anybody know why?
Th

[2021-02-05 00:41] mariaines opened #3561 "Socket timeout when writing to dynamo"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
We are seeing socket timeouts when writing to dynamo fairly frequently. We are using aiohttp via [aiobotocore](https://github.com/aio-libs/aiobotocore), not sure if that is interacting in some way?

Reads and queries are fine.

## Expected behavior
Dynamo writes succeed within ~seconds

## Actual behavior

[2021-02-05 02:04] tsindot opened #3562 "403 InvalidClientTokenId : The security token included in the request is invalid. SQS"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
When attempting to run in a set of lambdas implementing a rudimentary Request-Response Messaging Pattern it fails with a `403`, code `InvalidClientTokenId` with this error message `The security token included in the request is invalid.`

I have 3 Lambdas, two are exposed via the ApiGateWay and the other is

[2021-02-05 05:22] asautins opened #3563 "ListObjects returns error when ListObjectsRequest.Marker is empty string ( "" )"
[X] bug report
[ ] feature request

# Detailed description

In earlier versions of localstack ( e.g., 0.10.5 ) as well as on AWS if ListObjectsRequest.Marker is set to an empty string ("") ListObjects returns successfully.  On version 0.12.6 if Marker is set to empty string (404) Not Found is returned.

## Expected behavior

Behavior matching AWS.  If ListObjectsRequest.Marker = "" do not return a

[2021-02-05 06:48] CristianAThompson commented on #3135
I want to throw my hat into this ring as well. I'm working like hell to give my execution containers the ability to talk with my true local environment or even any external host(literally anything with a https://www.google.com style syntax) and no matter what I do the container the lambda runs in can't seem to access external resources at all, in this specific case I have a separate container runn

[2021-02-05 06:51] CristianAThompson commented on #3135
![image](https://user-images.githubusercontent.com/16628217/106999591-19070d00-674c-11eb-8997-256f46a75774.png)

This is the output I am receiving, I have tried modifying the address to any local path I can think of but it doesn't seem to know how to externally communicate with my local system from within the scope of the lambda function container

[2021-02-05 07:33] dheerajkulakarni commented on #3550
Hey @nirvdrum, this is how I solved this issue, all the scripts in this directly **/docker-entrypoint-initaws.d/** will get executed after the localstack service comes up. So I have written a script with the command to verify the email address and mounted it in that directory which helped me to make local stack SES up with some pre-verified emails.

[2021-02-05 08:24] shubhdunzo opened #3564 "get_send_quota action is not implemented in localstack"
# Type of request: This is a ...

[ ] bug report

# Detailed description
Following are the logs from localstack docker container
[code]
...

## Expected behavior

...

## Actual behavior

...

# Steps to reproduce

## Command used to start LocalStack

...

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

...

[2021-02-05 12:06] whummer commented on #3135
Thanks for the update @CristianAThompson . Can you please share the details of your configuration. The issue is that by default docker-compose creates separate sub-networks which are isolated and not accessible from one another. However you should be able to set something like this in your docker-compose.yml (see also our sample [here](https://github.com/localstack/localstack/blob/master/docker-co

[2021-02-05 12:10] whummer commented on #3510
Thanks for the update @CoskunerM @tinaboyce . We believe that this issue should be (hopefully) fixed now - we have added a fallback mechanism that uses plain Python unzipping if the `unzip` command fails inside the container. Can you please pull the `latest` Docker image and give it another try? Thanks for your help.

[2021-02-05 14:16] tgrades commented on #1698
@whummer Hi. Sorry for a late response. I gave up setting up localstack for some time and just recently got back to it. I decided that I don't actually need Cloudwatch Logs, but events works. The only issue right now is that 60 min is a valid rate for AWS, but local stack throw an error that it can't be greater than 59, but this is a separate issue and easily fixable from my side

[2021-02-05 14:26] tgrades commented on #3455
+1.
Would be nice to get a better terraform support in general. Currently only first `apply` is working. `plan` isn't supported at all. Second `apply` only works if you remove terraform state file. If you don't then it will try to refresh state of the resources and will be stuck at api gateway (in my case). If you remove state file there are a lot of errors about resources that already exist. I th

[2021-02-05 19:01] tarunsingh2789 commented on #3135
The issue has been resolved by adding below env variable in localstack

LAMBDA_DOCKER_NETWORK="host"

[2021-02-05 20:01] nirvdrum commented on #3550
Thanks for the information. I didn't see anything in the localstack docs and the Moto docs indicated one would need to override the verification method. We don't need to run this operation for our actual AWS environment either, so it never occurred to me to invoke some additional commands.

I still think it'd be much nicer if there were just an env var to set with SES valid addresses and the Docke

[2021-02-05 21:05] irahulranjan commented on #3550
Please refer to the following: https://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-domains.html
It states that AWS requires you to verify a domain or an email address to send mail using that domain/email address.

[2021-02-06 00:49] whummer commented on #3550
Thanks for reporting @nirvdrum and providing solutions @dheerajkulakarni @irahulranjan .

@nirvdrum can you please confirm whether the behavior we have on LocalStack is correct - are you seeing a different behavior on real AWS? It seems that indeed on AWS email addresses also need to be validated (either by visiting a validation link that is sent to the email, or by using the `VerifyEmailIdentity`

[2021-02-06 04:35] tinaboyce commented on #3510
No problem, thanks for looking at this! I have pulled a new image and came across a new issue, not sure whether it still related to this issue. The deploy has gone through and I managed to get the endpoint url but when I tried it, I am receiving the following error when doing a curl (cdk synth came up with no errors).
[code]

This is the message when calling the bootstrap
[code]

And when doing th

[2021-02-06 06:25] tim-oe opened #3566 "unable to upload to s3 from lambda"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
i have the following project https://github.com/tim-oe/node-101/tree/s3api
using [latest](https://github.com/localstack/localstack/releases/tag/v0.12.6) localstack

within an [sqs event lambda, see SQSHandler](https://github.com/tim-oe/node-101/blob/s3api/src/functions/handler.ts)  I'm attempting to post

[2021-02-06 09:10] irahulranjan commented on #3393
Hi @ypwu1, Closing this issue. Please reopen if the issue still persists

[2021-02-06 09:10] #3393 closed

[2021-02-06 09:24] irahulranjan commented on #3230
Hi @suspiration, I was unable to reproduce the issue. Can you please share the client code so I can dig deeper into the issue. Also you can pull the latest version of localstack and give it a shot. If the issue still persists please reopen the issue.
Thanks

[2021-02-06 09:24] #3230 closed

[2021-02-06 10:45] whummer commented on #3510
Thanks for the update @tinaboyce . Can you please share some details how your Lambda zip file is created. Do you have access to the zip file, can you share the contents of it - is there an `index.js` file at the root level within the zip file?
[code]
Ideally, if you can share the entire zip file with us here, it will be a bit easier to debug this issue. Thanks

[2021-02-06 16:40] whummer commented on #3455
Thanks for the update @tgrades - we're continuously improving our support for Terraform. Can you please help us extending our integration tests here, to add any resources that are not yet fully supported: https://github.com/localstack/localstack/tree/master/tests/integration/terraform Thanks for your help.

Please note that TF support is not strictly related to the initial request of this issue (p

[2021-02-06 16:40] #3455 closed

[2021-02-07 02:13] ValYouW opened #3569 "localstart fails to start with error: No module named 'localstack.services.cloudwatch'"
Hi,

Installed localstack using pip on WSL Ubuntu 20.04.
Trying to start:
[code]
Get the error:
[code]

Checking the folder: /home/xxx/.local/lib/python3.8/site-packages/localstack/services there's indeed no `cloudwatch` module...

Any ideas?
thx

[2021-02-07 07:52] ShadabShariff commented on #3564
Hi @shubhdunzo, thank you for reaching out, could please let me know the command that was executed or could you please share the code snippet. It will be really helpful, if we can get the steps to reproduce the error at our end. Thanks

[2021-02-07 08:05] ShadabShariff commented on #2527
Hi @theiviaxx  @DouglasPuppioPereira, I have tried to reproduce the persistence of the files uploaded on S3 on restart of LocalStack and it currently working as expected with the DATA_DIR env. variable. It would be helpful, if you could share the LocalStack version and the snippet of code that could help in reproducing the issue at our end. Thanks.

[2021-02-07 10:55] whummer commented on #3561
Thanks for reporting @mariaines . Can you please share some more details about your setup . Which code is running in the `ss2_gql_1` container, and how is it configured to interact with the LocalStack container? Also, you're using a fairly old image tag `0.12.4` - any chance we can give it a try with `latest` (after pulling the latest image)? If you can share some more details on how to reproduce

[2021-02-07 12:10] whummer commented on #3532
Thanks for reporting @BentCoder . This should be fixed in #3571 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-07 12:10] #3532 closed

[2021-02-07 12:31] whummer commented on #3569
Thanks for reporting @ValYouW . This was likely related to a missing `__init__.py` file in the cloudwatch module, which has now been fixed. We have just pushed a new version - can you please try upgrading:
[code]

Please note that using the `--host` flag directly is actually deprecated these days (because in the past we've had troubles maintaining compatibility with different operating systems, Py

[2021-02-07 12:31] #3569 closed

[2021-02-07 13:46] jarrodldavis opened #3572 "Chalice + CDK isn't working"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
I'm experiencing a few issues while deploying a [Chalice app using CDK](https://aws.amazon.com/blogs/developer/aws-chalice-adds-support-for-the-aws-cdk/) to LocalStack.

## Deployments
When I run `cdklocal deploy` (after running `cdklocal bootstrap`), I'm getting an `UPDATE_FAILED` error from CloudFormatio

[2021-02-07 15:02] whummer commented on #3555
Thanks for reporting @bezsias . This should be fixed in #3567 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-07 15:02] #3555 closed

[2021-02-07 15:36] xiandalong opened #3573 "Prefix of "/" is required for the bucket name when calling `AmazonS3.listObjects(String bucketName)`, when using the AWS Java SDK with localstack"
# Type of request: This is a bug report

# Detailed description
I was using localstack 0.10.4 as the simulator for local s3. I created a bucket and put a file under the bucket, but I when using `AmazonS3.listObjects(String bucketName)` in the s3 sdk, it gives me an empty list. I spent quite some time on this, and found out that a prefix of "/" is needed for the bucketName, even though the bucket n

[2021-02-07 15:50] whummer commented on #3573
Thanks for reporting @xiandalong . Can you please enable path-style addressing in your S3 clients.

Please refer to this repo for an example how we're creating S3 clients in our Java integration tests: https://github.com/localstack/localstack-java-utils/blob/master/src/main/java/cloud/localstack/awssdkv1/TestUtils.java#L127-L133
[code]
Hope that helps - please keep us posted. Thanks

[2021-02-07 16:04] dheerajkulakarni commented on #3466
Hey @pinzon , Just wanted to know if you are able to reproduce the same behaviour
cc: @whummer

Thanks!!

[2021-02-07 16:08] pinzon commented on #3466
Hi @dheerajkulakarni.
Yes, I was able to reproduce this issue. The crash is caused because the test_render_template function hasn't been implemented in moto.

So we're working on implementing it.

[2021-02-07 16:13] theiviaxx commented on #2527
@ShadabShariff ok let me pull latest and try again, will report back soon

[2021-02-07 16:25] theiviaxx commented on #2527
@ShadabShariff still getting this with latest code on master.  My startup env is as above and here are my steps:

1. aws --endpoint-url http://127.0.0.1:4566 s3 mb s3://storage-test
2. upload to endpoint with boto3 python lib
3. Verify images are found and served correctly
4. shutdown docker-compose
5. restart docker compose as above
6. In the debug log, you can see it try each line in the `record

[2021-02-07 17:51] whummer commented on #2936
Thanks for the update @kirillt . Please note that we've recently pushed a fix that unifies all APIs under a single entry point on port `4566`. Can you please try again with the `latest` Docker image and try like this:
[code]

Hope that helps - please let us know if the problem persists. Thanks

[2021-02-07 17:51] #2936 closed

[2021-02-07 17:52] whummer commented on #3472
Thanks for reporting @kinpatel , and thanks for providing the sample repo @macnev2013 . I understand that this should be fixed - please report here if the problem persists with the `latest` version. Thanks

[2021-02-07 17:52] #3472 closed

[2021-02-07 18:00] whummer commented on #2751
Hi @jonathanroby @chris-crowther @sahurgithub thanks for the update. We have pushed a couple of improvements for SQS and the request routing logic in general, can you please pull the `latest` Docker image and verify whether this problem persists? Thanks for your help.

[2021-02-07 18:40] whummer commented on #590
Thanks for the update @austinbutler @badmintonkid @mberlanda @sp-daniel-pinyol , and apologies for the delay on this one. We believe that this should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-07 21:29] ShadabShariff commented on #2527
Hi @theiviaxx, thanks for your time and the confirmation, could you please confirm the **LocalStack version** which would be printed in the logs shared above, it would help as i was unable to find the same from the above logs. Also an isolated code snippet for the boto3 upload that is used for the upload of images would be helpful as well (Just ensuring the steps to reproduce the issue). Thanks.

[2021-02-07 21:52] ValYouW commented on #3569
Works thanks.

[2021-02-07 23:04] Josemaralves opened #3575 "EventBridge returning error 500 in a valid Json"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

Eventbridge is throwing a error in Json.loads when trying to PutEvents

## Expected behavior

Is Expected to successfully send a message

## Actual behavior

EventBridge is returning error 500 and throwing Json Parse error in Localstack container.

# Steps to reproduce

1. Run latest Localstack Image in D

[2021-02-07 23:07] whummer commented on #3377
Thanks @smslattery @usmangani1 - should be available in the `latest` version of the Docker image. Please report here if the problem persists. Thanks

[2021-02-07 23:07] #3377 closed

[2021-02-07 23:08] whummer commented on #3336
Thanks @nvedansh @nickcaballero @wellermiranda @Josh-Rosen @PRASANTHRAJENDRAN - this has been added in the meantime and should be available in the `latest` version of the Docker image. Can you please give it another try and let us know if it works? Thanks

[2021-02-07 23:11] whummer commented on #3081
Thanks for the update @fvcaputo @fuasahina @FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg @garethmdavies @sivnag @mattsoftware @mruz . A couple of fixes have been pushed in #3565 and we believe (hope) that this issue should now be fixed. Can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-02-07 23:11] #3081 closed

[2021-02-07 23:28] mgagliardo commented on #2177
Should have been fixed via https://github.com/localstack/localstack/pull/3565

[2021-02-07 23:28] #2177 closed

[2021-02-07 23:35] mgagliardo commented on #3490
Hey @zwing99 , reporting here this issue should've been fixed via https://github.com/localstack/localstack/pull/3565 please give a try to the `latest` docker image (pull) and let me know in any case. Cheers!

[2021-02-08 03:16] dheerajkulakarni commented on #3466
Thanks for the update @pinzon !

[2021-02-08 04:14] sougat818 opened #3577 "Backdoor config API doesn't work for HOSTNAME_EXTERNAL"
# Type of request:

[x] bug report

# Detailed description

Running local stack backdoor config api to override External Hostname for SQS doesn't reflect. Setting HOSTNAME_EXTERNAL via docker compose works correctly.

## Expected behavior

{
    "QueueUrl": "http://test:4566/000000000000/test"
}

## Actual behavior

{
    "QueueUrl": "http://localhost:4566/000000000000/test"
}

# Steps to reproduc

[2021-02-08 07:16] jbartok commented on #3208
My problem has disappered with the `0.12.6` release. Thank you for your help!

[2021-02-08 07:28] jbartok commented on #3208
Actually no... The reproducer works, but real test still don't.... I just get a very generic error, which doesn't provide clues: com.amazonaws.services.kinesis.model.AmazonKinesisException: null (Service: AmazonKinesis; Status Code: 500; Error Code: null; Request ID: null; Proxy: null)

I think I just give up and use Localstack with CBOR disabled.

[2021-02-08 15:21] pinzon commented on #3208
Mmmm could you give me more details in what does your real test do different?

[2021-02-08 16:17] irahulranjan commented on #3566
Hi @tim-oe can you try after setting the `s3ForcePathStyle` as true?

[2021-02-08 16:23] irahulranjan commented on #3562
Hi @tsindot, Thanks for reporting the issue. Can you try configuring the localstack endpoint while creating the SQS client:

const sqs = new AWS.SQS({endpoint: 'http://${process.env.LOCALSTACK_HOSTNAME}:4566'})

[2021-02-08 16:36] michaelgloeckner opened #3578 "Lambda fails on running with io.quarkus hibernate orm and jpa"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description

I created a lambda function which uses quarkus hibernate orm and deployed it to localstack.
After the lambda is triggered by s3 event exception is thrown.

Caused by: java.lang.ClassNotFoundException: java.rmi.RemoteException

[error.log](https://github.com/localstack/localstack/files/5945104/error.log)

[2021-02-08 18:12] Blind-Striker commented on #3072
@sahussaimc new version [LocalStack.Net](https://github.com/localstack-dotnet/localstack-dotnet-client) has released. All service has point ports use 4566 by default, but it also backward compatible.

And we have released another package called [LocalStack.Client.Extensions](https://www.nuget.org/packages/LocalStack.Client.Extensions/) which allow you to use LocalStack.Client similar to [AWSSDK.Ex

[2021-02-08 18:17] whummer commented on #3072
Awesome, thanks @sahussaimc @Blind-Striker !! 👍

[2021-02-08 18:47] macnev2013 commented on #1466
Thanks for reporting @EfChouTR . Is it possible to us provide the logs, operating system and the version of localstack (is it docker or python package). Thanks.

[2021-02-08 19:14] jcunhafonte commented on #3522
@niemyjski This doesn't solve my issue. Can you give more details, please?

[2021-02-08 19:23] mgagliardo commented on #3439
Hey @ashameem123, thanks for reporting this issue.

First of all I have just created PR https://github.com/localstack/localstack/pull/3582 to add the `list-elasticsearch-versions` and fix this.
[code]

Second, a few points in your PR:

1. `aws --endpoint-url=http://localhost:4571 es list-elasticsearch-versions`

This query should be against `http://localhost:4566` (localstack's API) and not agains

[2021-02-08 19:23] #3439 closed

[2021-02-08 21:13] nhoughto opened #3583 "Localstack sync lambda invoke"
More a question than a bug, interested to understand the expected behaviour of localstack in the scenario we have a long running (60+ second) synchronous lambda invocation. There will be a blocking lambda invoke API call held waiting for the response for 60+ seconds, what is the expectation of other calls to localstack during that time? Is there a level of concurrency or is the api single threaded

[2021-02-08 22:11] whummer commented on #3495
Thanks for reporting @smslattery . This should be fixed in #3581 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-08 22:11] #3495 closed

[2021-02-08 23:58] whummer commented on #3563
Thanks for reporting @asautins . This should be fixed in #3580 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-08 23:58] #3563 closed

[2021-02-09 00:41] whummer commented on #3577
Thanks for reporting @sougat818 . This should be fixed in #3579 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists.

[2021-02-09 00:41] #3577 closed

[2021-02-09 05:57] sougat818 commented on #3577
Thanks @whummer & @ShadabShariff . I have verified that this is resolved on latest localstack & localstack-light docker images. Thanks a lot for the quick fix.

[2021-02-09 07:02] dheerajkulakarni commented on #3466
Hey @pinzon, seems like the edit template function is also not implemented.

This is not working through the client and also through CLI

**through jdk** : client.updateTeamnplate(updateTemplateRequest) , **Result** : No response getting struck in update template call
**through cli** :  aws ses update-template --cli-input-json file://template.json --region=us-east-1 --endpoint-url=http://localhost

[2021-02-09 07:24] jkentjnr opened #3584 "LAMBDA_FALLBACK_URL sends as application/x-www-form-urlencoded Content-Type"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

When LocalStack forwards a request to a fallback url, the POST body is in form data -- not in its raw original form.

## Expected behavior

payload.json:
[code]

Expect listener at LAMBDA_FALLBACK_URL to receive the payload.json in the POST body.

## Actual behavior

Receiving using `npx http-echo-server`

[2021-02-09 10:30] jmeros opened #3585 "Disabled lambda event source mapping to SQS still triggers lambda on SQS event"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

LocalStack version: 0.12.5

If an event source mapping is disabled between a SQS and a Lambda , i.e.

`awslocal lambda update-event-source-mapping --uuid <uuid> --no-enabled`

The above has no effect and the lambda function will still be invoked.

Similar to the problem described on [#2541](https://github

[2021-02-09 11:39] whummer commented on #3510
Hi @tinaboyce - a few changes have been pushed recently that may potentially/hopefully fix this issue. Can you please give it another try? Thanks for your help.

[2021-02-09 13:52] alexbaileyuk opened #3586 "DetailType does not appear to be handled correctly in event bridge patterns"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

Event patterns using `DetailType` do not appear to be handled correctly in EventBridge.

## Expected behavior

When using `DetailType` in event patterns, the event should be routed to the target correctly. In the below scenario, there should be a message in the relevant SQS Queue.

## Actual behavior

Whe

[2021-02-09 15:04] niemyjski commented on #3522
I don't have any more information to add in addition to my previous comments. 0.12.4 fixed my issue as it reverted to the release before the new code was introduced. You'd need to dig in and debug it to see what the remaining issues are.

[2021-02-09 15:49] xiandalong commented on #3573
Hi @whummer , thanks for providing the solution. While this fixes the problem for localstack, I do have to configure my application so that it turn this `setPathStyleAccessEnabled` option on for dev environment but not staging or production. Do you guys still consider this a bug? because it's not obvious to the user that we'll need to turn this on in Java SDK in order for localstack to work the sa

[2021-02-09 16:56] asautins commented on #3563
I re-ran our tests using `latest `and it seems to work correctly.  Thank you for the fix and the quick response!

[2021-02-09 18:28] whummer commented on #3573
Thanks for the update @xiandalong . For now, setting `setPathStyleAccessEnabled` is required (we've seen most of our users  solve this in their code by using some kind of environment variable that activates the local endpoints for testing).

In a future iteration, we may be switching to domain-style addressing, which will make this setting obsolete. Stay tuned! Thanks

[2021-02-09 18:28] #3573 closed

[2021-02-09 19:46] suspiration commented on #3230
I pulled latest docker image of localstack and it seems to have been resolved.  Thanks!

[2021-02-09 20:57] tsindot commented on #3562
Hi @irahulranjan, thanks for the suggestion.

I have pushed all changes to the [repo](https://github.com/tsindot/task-engine-sqs-poc).

I configured SQS per your suggestion like this:

[code]

However, it is returning this for the `queueUrl`:

[code]

It is not clear why this reflects **localhost**  rather than the value of the `$LOCALSTACK_HOSTNAME` which is `172.17.0.1`.  _See logs below._

I di

[2021-02-09 21:24] pinzon commented on #3466
Hi @dheerajkulakarni , Thank you for your interest.
I just finished adding the function test_render_template to my moto fork.
I will add at once that function (it shouldn't be as hard as render_template was)
It shouldn't take long.

Ps here is the branch where I'm pushing my progress if you're interested: https://github.com/pinzon/moto/tree/ses-validation-render

[2021-02-09 23:47] tim-oe commented on #3566
That worked, thanks.

[2021-02-10 07:42] guillemtp commented on #3455
Thanks @whummer ! Do you know when will be the next release?

[2021-02-10 10:11] karl-run opened #3588 "localstack crashes when reading Kinesis record that has been produced with a JVM client - "Object of type bytearray is not JSON serializable""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

We have two producers, one node and one JVM. Producing from the node one is using the official AWS SDK Kinesis client and simply puts the record as serialized JSON:

`client.putRecord({ Data: JSON.stringify(data), StreamName: topic, PartitionKey: '1' })`

This works fine and we're able to consume these re

[2021-02-10 15:14] redparham commented on #116
Submitted PR moto's swf integration:
https://github.com/localstack/localstack/pull/3589

[2021-02-10 16:54] nazymko opened #3590 "EC2 enum missing in java library, so it is not possible to mock aws cloud computing service"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
EC2 Supported by localstack but it is missing in the library

org.testcontainers.containers.localstack.LocalStackContainer.Service
...

## Expected behavior
EC2 Present in the services enumeration
...

## Actual behavior
EC2 missing so it is not possible to activate it via env variable (as it is overridden

[2021-02-10 17:54] tmont commented on #1202
This might be due to the API replay feature, where "persistent" storage is achieved by recording all the API calls and then replaying them on service start (apparently, I remember reading that once but now I can't find any documentation about it). My local S3 service just hung for a while, pegging the CPU until it replayed 6000 API calls. Bear in mind I'm only using the S3 service (`SERVICES=s3` e

[2021-02-11 01:13] tinaboyce commented on #3510
Sorry, the last bit was my error. It is all good now! Massive thanks for all the effort you have put into it, quite a few people will be happy to hear this.

![Screen Shot 2021-02-11 at 12 10 08 pm](https://user-images.githubusercontent.com/12929562/107592985-6f031580-6c62-11eb-9f1a-73633bf363bd.png)

[2021-02-11 05:13] srujansurapaneni commented on #2325
@whummer - I'm seeing issues running ecr with the pro version too. I work for a major health insurance company and have got an evaluation key from localstack recently. Can you send me the slack invite too. Thank You

[2021-02-11 08:12] ssofronov commented on #3527
Any plans on adding this to the community edition?

On my end I do not get any errors, but when I run the lambda it does not use the provided ImageUri and instead tries to create a container using the DEFAULT_LAMBDA_CONTAINER_REGISTRY i.e. 'lambci/lambda'. Screenshot below (please ignore the 125 error - that is caused because of a firewall config and is not related)

![image001](https://user-image

[2021-02-11 10:51] 111andre111 commented on #2120
@whummer
Are there any news regarding this topic?

[2021-02-11 12:43] petervalencic commented on #1568
Is there a way to avoid this step to pass the additional parameters to the AWS.S3 object? I'm asking because when I need to deploy the lambda on AWS I don't need to specify any additional parameters and so I would like to have the same lambda function running on localstack and on AWS.. Now I have two different versions...

[2021-02-11 13:26] jansepke opened #3591 "Support Lambda runtime nodejs14.x"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

Nodejs14 is now supported by AWS could you please also add support for it in localstack.

## Expected behavior

[code]
will not produce runtime exceptions

[2021-02-11 15:45] VanRoy opened #3592 "GetMetricData incompatible with JAVA SDK v2"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

GetMetricData on Cloudwatch return no points from with AWS Java SDK v2 ( but boto or CLI works).

## Expected behavior

GetMetricData should return points added with PutMetricData with the AWS Java SDK v2.

## Actual behavior

GetMetricData java method return empty list with the AWS Java SDK v2.

# Steps

[2021-02-11 17:34] tarunsingh2789 opened #3593 "Getting connection refused issued when trying to SSH EC2 instance (localstack-12.5)"
# Type of request: This is a ..
.
ssh -i "MyKeyPair.pem" ec2-user@54.214.145.119

[ ] bug report
[ ] feature request

# Detailed description
create ec2 instance  with below configuration

[code]

...

## Expected behavior

Must be able to connect to EC2 Instance through ssh

## Actual behavior

ssh -i MyKeyPair.pem ec2-user@54.214.145.119
ssh: connect to host 54.214.145.119 port 22: **Connection r

[2021-02-11 18:36] pinzon commented on #3466
Hi @dheerajkulakarni my PR has just been merged. It shouldn't take long to see the changes in Localstack.
I'll close this issue for now. Feel free to comment here or open another issue if there are more problems.
Thanks.

[2021-02-11 18:36] #3466 closed

[2021-02-11 19:15] irahulranjan commented on #3493
Hi @sahajavidya, This should be fixed in the latest version of localstack. Can you pull and give it a shot?
Thanks!

[2021-02-11 19:15] #3493 closed

[2021-02-11 19:16] irahulranjan commented on #3514
Hi @peter-ponzel, This should be fixed in the latest version. Can you give it a shot?
Thanks!

[2021-02-11 19:16] #3514 closed

[2021-02-11 19:21] irahulranjan commented on #3560
Hi @cabeaulac,
Can you add a default awscli profile with access key and secret as test and try?

[2021-02-11 21:21] pinzon commented on #2815
Hi @ghosalya , sorry for the long answer after my assignation.
I took the task to run your test against the current localstack project and it worked as you describe in the expected behaviour section.
I also tested it with docker using just 1 cpu and 250mb the ram and it also worked fine.

There has been several patch that target performance issues. Mine was the PR #3250.
It's probably that your pr

[2021-02-11 21:21] #2815 closed

[2021-02-11 21:43] dillen-roggensinger opened #3594 "Support raw message delivery with MessageStructure json"
# This is a bug report

# Detailed description
The MessageStructure json for SNS messages does not work as expected with raw message delivery enabled. The fix added [in this pull request](https://github.com/localstack/localstack/pull/668) gets most of the way there. The bug is the `if` block on [line 558](https://github.com/localstack/localstack/blob/master/localstack/services/sns/sns_listener.py#

[2021-02-11 21:46] tsindot commented on #3562
@irahulranjan

I have made progress on this, and hopefully this may help someone else that runs into this issue.  By adding the following two entires in the `docker-compose.yml` file:

[code]

 It now resolves the hostname, and sends the `http://localstack` vs `http://localhost` as it was before.  For it to work though I still have to specify the endpoint when creating SQS:

[code]

 When configur

[2021-02-12 13:13] Antauri opened #3595 "S3 listener in Localstack sends version 2.0 events (latest are 2.1)"
# Type of request:
This is a request to update the version of the s3_listener.py to the latest 2.1 in the AWS docs or support configuring the message type?

[x] bug report
[x] feature request

# Detailed description
We were writing tests using Localstack and against version 2.1 of events (from our production). Trying to write tests for our code in Localstack we were surprised of the filtering func

[2021-02-12 14:38] dheerajkulakarni commented on #3466
Thanks @pinzon for taking your time and solving this !!
Hey @whummer, can you please let me know if this got pushed to local stack latest image so that I can test these changes once in my local.
Thanks!

[2021-02-12 21:03] atkinsonbg opened #3599 ".NET AWS SDK - S3 - Can List Buckets, but everything else returns a 404"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
Using the .NET AWS SDK, I can connect to the localstack container and list buckets, but anything else returns a 404. What I have tried: PutBucket, PutObject, ListObjects

Setting AWS_PROFILE via environment variable:
`Environment.SetEnvironmentVariable("AWS_PROFILE", "stack-profile");`

Creating a config:

[2021-02-12 21:14] jbward1 opened #3600 "Error when enabling a kinesis streaming destination for a dynamodb table"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description
When attempting to create a kinesis destination for dynamodb, i'm receiving An unknown operation was requested.

## Expected behavior
A successful response + localstack dynamo configured to start table data replication to the specified Kinesis data stream
[code]

## Actual behavior
The following error is

[2021-02-12 21:18] atkinsonbg commented on #3599
Found the answer here: https://purple.telstra.com/blog/local-amazon-s3

Have to set `ForcePathStyle = true` in the config like so:

[code]

[2021-02-12 21:18] #3599 closed

[2021-02-12 23:38] alechirsch commented on #3455
I am just starting to use localstack for local development. I created sns topic with an sqs subscription, does this mean that I will need to recreate that subscription every time localstack is restarted?

What I current experience is I can run
[code]
and I get back my subscription. After I do a restart of the localstack docker container, I get no subscriptions even though the topic and queue still

[2021-02-13 05:24] minhio opened #3601 "Cannot bootstrap using modern bootstrap template via the cdklocal bootstrap command [localstack pro]"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

OS: MacOS BigSur 11.2.1
CDK: 1.89.0

Bootstrapping failed with the modern bootstrap template. Appears to be ECR related. This is while using localstack pro with ECR support.

## Expected behavior

Successfully bootstrap localstack using the modern bootstrap template.

## Actual behavior

`cdklocal bootstr

[2021-02-13 05:37] howardwu1 commented on #2511
Thank you -- I had been working on this issue for the past 2 days-- it never occured to me that the hostname for Dynamodb would not be localhost of 0.0.0.0 -- but I guess the docker has its own local host. I did try to set LOCALSTACK_HOSTNAME as well earlier (since it looks like a setable option in the localstack docs, even though it says "read only" in italics-- just seems weird that it would all

[2021-02-13 10:41] #3234 closed

[2021-02-13 11:27] usmangani1 commented on #3575
@Josemaralves Thanks for reporting the issue.
We had tried to reproduce the issue on the current version of localstack using the json added below but we are not successful to do so.

`
%  aws --endpoint-url=http://localhost:4566 events put-events --entries file://sample.json

[
  {
    "Source": "com.mycompany.myapp",
    "Detail": "{ \"key1\": \"value1\", \"key2\": \"value2\" }",
    "Resources":

[2021-02-14 16:14] whummer commented on #3595
Thanks for reporting @Antauri . This is fixed in #3604 and should now be available in the `latest` Docker image. Thanks

[2021-02-14 16:14] #3595 closed

[2021-02-14 16:54] Antauri commented on #3595
Thank you kind sirs!

[2021-02-14 20:26] mgagliardo commented on #3588
Hello @karl-run, thanks for reporting this. I have checked and it seems we are not decoding into `utf-8` format if the data is in bytearray format, I have created a PR to fix this out, please until the PR is merged and pull the `latest` docker image again, you should be able to try this out again (you can also see how I reproduced the issue there and let me know if you have any comments). Cheers!

[2021-02-15 00:27] mgagliardo commented on #3528
Hey @kubawach thanks for reporting this, I have created a PR, once it is merged you should be able to download the `latest` docker image and test this out. Cheers!

[2021-02-15 00:58] mgagliardo commented on #3591
Hello @jansepke, thanks for reporting this.
As much as we'd love to support nodejs14.x right now, this is a dependency from `lambci`, as far as I could see there were reports already opened on their end [here](https://github.com/dherault/serverless-offline/pull/1170) and [this open issue](https://github.com/lambci/docker-lambda/issues/329).
Once these are resolved the localstack framework will aut

[2021-02-15 00:58] #3591 closed

[2021-02-15 16:49] mgagliardo commented on #3334
Hey @dsvensson, thanks for creating the issue.
I have tested this with the `latest` docker image and it seems to be working for me.
I have created the zipfile and compiled the C++ code following [this doc](https://aws.amazon.com/blogs/compute/introducing-the-c-lambda-runtime/) which is a very basic "Hello world" in C++.
I was unable to reproduce the issue using a similar create-function on my loca

[2021-02-15 18:50] whummer commented on #3528
Thanks @kubawach and @mgagliardo . Just to confirm - in the latest version, we're using `moto`'s SQS implementation by default, and ElasticMQ is disabled by default (but can be enabled via `SQS_PROVIDER=elasticmq`, see [here](https://github.com/localstack/localstack/blob/a63dcd30c475d5c2cf035703e40783c4cb5e3e9e/localstack/services/install.py#L48)).

Are you using a custom value for `elasticmq`, or

[2021-02-15 19:06] #3588 closed

[2021-02-15 19:10] karl-run commented on #3588
Thanks for the quick fix. 😄

[2021-02-15 19:37] dsvensson commented on #3334
Cool, perhaps fixed by the recent refactorings. Will have to try again. Looks like a lot of the code has changed.

[2021-02-15 20:12] whummer commented on #3352
Thanks for reporting @jesmiatka . This should be fixed in #3602 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-02-15 20:12] #3352 closed

[2021-02-15 20:22] mgagliardo commented on #3334
Sure, please check again and let us know. Thanks!

[2021-02-16 02:52] mt-rpranata commented on #1446
Is there any Glue services currently supported @dallinb? For example, AWS Glue Data Catalog (sans the crawler)?
We are not subscribed to Pro yet at this point but might consider if there is AWS Glue Data Catalog service supported.

[2021-02-16 10:18] ivy-wei-yang opened #3607 "Stepfunctions is stuck when parallel tasks have 3 or 4 different lambdas"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When step functions has parallel tasks, and parallel tasks points to 3 or 4 or more different lambdas, the step functions execution is stuck at starting the lambdas. For the example below, it is >=3, for our actual project, it is stuck when >=4.
![Localstack-4-parallel-stuck](https://user-images.githubuse

[2021-02-16 11:47] devkokov opened #3608 "Regression: listObjects does not work with phpsdk"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

If I upload objects to my bucket I don't get a list of my objects back, using the listObjects method of the phpsdk.
This was fixed previously in 0.11 but it's broken again in 0.12.x [#3021](https://github.com/localstack/localstack/issues/3021)

## Expected behavior

listObjects should return the objects i

[2021-02-16 14:11] devkokov commented on #3608
OK I have traced the issue down to `guzzlehttp/guzzle` - it works with v7 (the latest), but does not work with v6.

`aws/aws-sdk-php` lists the dependency as `"guzzlehttp/guzzle": "^5.3.3|^6.2.1|^7.0"`, which is incorrect when used with localstack ^0.12 as only ^7.0 works.

To re-iterate, the following combinations DO work:

- localstack 0.12.6
- aws/aws-sdk-php ^3
- guzzlehttp/guzzle ^7

and

- l

[2021-02-16 15:05] dheerajkulakarni commented on #3466
Hey @whummer, Any chance that these changes got pushed to the local stack image?

[2021-02-16 15:43] pinzon commented on #3487
Hi @upanshu21 sorry for taking so long to respond. The problem with the you consumer is that kinesalite-localstack doesn't support yet the **SusbcribeToShard** action .
There have been some deliveration about this.
Just to keep you updated.

[2021-02-16 16:37] ashameem123 opened #3609 "Getting error when lambda is trying to write to S3 bucket - Unable to execute HTTP request: Connect to 172.29.0.4:4572"
# Type of request: This is a ...

[*] bug report
[ ] feature request

# Detailed description
Why am i getting this-
"software.amazon.awssdk.core.exception.SdkClientException: Unable to execute HTTP request: Connect to 172.29.0.4:4572 [/172.29.0.4] failed: Connection refused (Connection refused)"

when my lambda is trying to put an object in S3 bucket , i am getting above error.
All Localstack serv

[2021-02-16 17:07] upanshu21 commented on #3487
that makes sense. I have dropped the idea for Integrations tests and just wrote UTs for methods. I will close this for now.

[2021-02-16 18:22] irahulranjan commented on #3609
Hi @ashameem123, Thanks for reporting the issue. Can you please share the localstack startup commands, environmentvariables.json, and the lambda zip file?

[2021-02-16 19:09] birhanuwondimu commented on #3601
I have  the same issue trying to bootstrap localstack when  'newStyleStackSynthesis' set to true( new style synthesizer ).

[2021-02-16 19:45] ashameem123 commented on #3609
@irahulranjan  - Replied via email.

[2021-02-16 19:45] irahulranjan commented on #3562
Hi @tsindot, Apologies for the delayed response. Endpoint URL is something that is not supported by AWS as an environment variable. Open issue: https://github.com/aws/aws-cli/issues/4454

You would have to modify the session creation to use the endpoint URL if localstack hostname environment variable is set. As far as the region issue is concerned, there is a bug and we will get the fix pushed soo

[2021-02-16 19:48] ashameem123 commented on #3609
Is there a way i can DM you the details you need? I'm sorry can't provide the zip file on this forum as it is live project specific.

[2021-02-16 20:17] dlf-dds opened #3611 "Action "create" for resource type Kinesis::StreamConsumer not yet implemented."
# Type of request: This is a ...

[?] bug report
[ ] feature request

# Detailed description

Using serverless.com framework to create a stream consumer fails with localstack. Enabling localstack pro with an API key has no effect.

`sls deploy` fails with a summary error describing the entire stack:

[code]
the logs from the localstack container show that it doesn't want to make a `StreamConsumer`

[2021-02-16 20:28] irahulranjan commented on #3609
@ashameem123 can you provide a zip with minimal code (without any project-specific code) that just tries to write to the bucket?
It would be helpful if you can share the code where the session is getting created and the call is made to s3.

[2021-02-16 21:06] ashameem123 commented on #3609
[csg-tib-event-s3-function-1.0-SNAPSHOT.zip](https://github.com/localstack/localstack/files/5991625/csg-tib-event-s3-function-1.0-SNAPSHOT.zip)

localstack startup command:
docker-compose up -d

Env variables file content:
{
	"Variables": {
		"S3_BUCKET": "tib-notification-000000000000-us-east-1",
		"TOPIC_ARN": "arn:aws:sns:us-east-1:000000000000:tib-audit",
		"REDIS_NODE": "redis:6379",
		"SNS_S

[2021-02-16 21:10] ashameem123 commented on #3609
@irahulranjan -Please find the details:

[my-s3-function.zip.zip](https://github.com/localstack/localstack/files/5991655/my-s3-function.zip.zip)

localstack startup command:
docker-compose up -d

Env variables file content:
{
	"Variables": {
		"S3_BUCKET": "mybucket-000000000000-us-east-1",
		"TOPIC_ARN": "arn:aws:sns:us-east-1:000000000000:tib-audit",
		"REDIS_NODE": "redis:6379",
		"SNS_SIGNING_

[2021-02-16 21:56] pinzon commented on #3487
Hi @upanshu21 I just got approved to try to tackle this issue by myself so I'm going to open this issue again and continue working on it.

[2021-02-16 23:32] Kevchan85 opened #3612 "Failed to create event bus using cloudformation on localstack"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
When defining an event bus in a coudformation template it raises a warning for unexpected resource
...

## Expected behavior
Because create-event-bus is supported we should also be able to do this through cloudformation on localstack

...

## Actual behavior
[code]
...

# Steps to reproduce
declare an eve

[2021-02-17 13:47] bperel commented on #2535
I am having this issue as well. Rollbacking to version 0.11 doesn't fix the issue either. In my case (please feel free to tell me if another ticket is closer to my problem), the issue seems to be that localstack doesn't like that the delimiter URL parameter is URL-encoded.

Here is the error message that I get when trying to list objects:
[code]

And indeed:
[code]

but if the delimiter is not URL

[2021-02-17 14:09] bperel opened #3613 "listObjects doesn't handle url-encoded delimiters"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Localstack doesn't seem to handle sending back the list of objects in a bucket if the delimiter passed in the S3 URL is URL-encoded.
In my case the delimiter is "/" which is URL encoded as "%2F" by the AWS PHP SDK.

## Expected behavior

I expect the list of objects to be sent back.

## Actual behavior

H

[2021-02-17 15:18] smslattery commented on #3377
Confirmed!

[2021-02-17 15:43] smslattery commented on #3495
Confirmed with the latest!

[2021-02-17 17:08] kubawach commented on #3528
@mgagliardo thanks for the fix, I appreciate it :)

@whummer yes, we're using custom SQS_PROVIDER value (`elasticmq`). OpenTelemetry Java instrumentation relies on the AWS XRay trace header propagation thru SQS produce / consume for trace context propagation. Example test: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/aws-sdk/aws-sdk-1.11/javaagent/

[2021-02-17 18:28] whummer commented on #3562
Thanks @tsindot @irahulranjan - setting the default region from environment variables should be fixed via #3610 . As has been mentioned, setting the endpoint in the environment is currently not yet supported by AWS SDKs - please follow the discussion in aws/aws-cli#4454 and elsewhere. Please let us know if there are any other issues. Thanks!

[2021-02-17 18:28] #3562 closed

[2021-02-17 18:36] tsindot commented on #3562
@ianmiell, @whummer Thanks for your assistance and for the link to the discussion on the lack of support for setting the endpoint in the AWS SDKs.  Appreciate it.

[2021-02-17 23:54] mariaines commented on #3561
Hey @whummer apologies for the delay. Same problem with latest image. More details below

ss2_gql_1 container is running a uvicorn app serving a GraphQL endpoint. (In production this is a ApiGateway Lambda using mangum.) It interacts with localstack via the local_services_network (see full docker-compose below).

We also have a dynamo stream Lambda, which in turn may write back to dynamo. Localsta

[2021-02-18 00:09] whummer commented on #3561
Thanks for the update @mariaines . Definitely looks like this could be a networking issue inside the Docker compose stack. You mentioned that you have configured `LAMBDA_DOCKER_NETWORK=local_services_network`, but in your config I can see `services_network` under the `networks` section. Is `local_services_network` referring to the actual name of the docker-compose network you're trying to attach t

[2021-02-18 00:21] mariaines commented on #3561
Hmm, good catch.. yes the network is present as local_services_network:
[code]
"local" is the folder name where docker-compose.yml lives, maybe that is setting the project name?

[2021-02-18 01:58] #3334 closed

[2021-02-18 10:44] kzupan opened #3615 "FiFo queue doesn't work as expected when using MessageDeduplicationId"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Messages with same `MessageDeduplicationId` and `MessageGroupId` are duplicated in FiFo sqs queue when using latest version of `localstack` docker image.

## Expected behavior
The second message that is send into FiFo queue with same `MessageDeduplicationId` and same `MessageGroupId` should be ignored acc

[2021-02-18 15:17] semenodm commented on #654
Even though the issue is closed, i think we need to coordinate with the https://github.com/mhart/kinesalite/pull/103 i think instead of stubbing this call we can delegate to the `kinesalite` to do the real shard count update

[2021-02-18 18:09] scottiemc7 opened #3616 "Can't Disable CloudWatch Events Rule"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
CloudWatch Events rules using schedule expressions do not respect the enabled/disabled property

## Expected behavior
Setting a scheduled rule to DISABLED should disable the event

## Actual behavior
The rule continues to trigger

# Steps to reproduce
Create a rule on a minute schedule
`awslocal events put

[2021-02-18 19:21] macnev2013 commented on #3586
Thanks for reporting @alexbaileyuk .

The behavior you are observing is expected behavior from AWS.

When creating a `event rule (event-pattern)` in AWS, it is **not performing any string normalization** on the rules json passed by the cli.
Whereas while `putting event` to the event bus, it **converts the event json** to the [standard event structure.](https://docs.aws.amazon.com/eventbridge/lates

[2021-02-18 20:30] isikhi opened #3617 "Secret Manager service cannot start (Internal Server Error)"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
I tried two different version. Latest version and 0.11.4 image with docker.

- 0.11.4 Error is simple: localstack.services.plugins: Service "secretsmanager" not yet available, retrying...

- Latest Version(LocalStack version: 0.12.6 , localstack/localstack:latest)  Error is inserted below;
[code]
...

##

[2021-02-18 20:42] mgagliardo commented on #3617
Hello @isikhi, thanks for reporting this.

Would you please provide the `docker-compose.yml` or docker command you are running to start this? I have tested on my local machine with the `latest` docker image and could not reproduce this issue.

Thanks!

docker-compose.yml
[code]

Test command:
[code]

[2021-02-18 21:07] irahulranjan commented on #3609
Hi @ashameem123, while creating the s3 service you have to specify the endpoint parameter as the localstack endpoint. Can you try it out?
Python Example:
[code]

Meanwhile please share the sample message being published to the sns topic. When I publish a dummy message I get the following error:
[code]

[2021-02-18 21:13] split-hub opened #3619 "Fix return error type and cause for ChangeMessageVisibility request with invalid receipt handle"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
When you send a ChangeMessageVisibility request with an invalid receipt handle to SQS you should receive an error 400 with a ReceiptHandleIsInvalidException but currently localstack only returns the 400 with no error message/cause.
...

## Expected behavior
when doing the following call to localstack, a 40

[2021-02-18 21:58] ashameem123 commented on #3609
[copyFileToS3.docx](https://github.com/localstack/localstack/files/6006133/copyFileToS3.docx)
I am not able to upload JSON file, Please convert it into json and publish to SNS.

[2021-02-18 22:09] asautins commented on #3544
I wanted to just post a follow up after having thought about it for a little while.

It's interesting, the documentation says to use test/test for username and password.  From the documentation at https://github.com/localstack/localstack it says:

That would seem to indicate that localstack is expecting one credential ( not different users accessing S3 concurrently ) and that user needs to be test

[2021-02-19 00:35] cmbernard333 commented on #1202
On MacOS, docker 3.1.0, I am seeing this issue from a different context.

I am trying to run localstack/localstack:0.12.6 from a spring boot configuration. It is declared as a static resource and launched at test start. When I run my junit tests the first time it works successfully but any other subsequent run it is stuck.

Starts like this in AwsTestConfig (annotated with `@TestConfiguration`)
[c

[2021-02-19 08:11] isikhi commented on #3617
[code]

[2021-02-19 09:03] DevipriyaSarkar opened #3621 "localstack elastic search endpoints return 500 with an empty json `{}` intermittently"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

localstack elastic search returns 500 with a response `{}` intermittently.

...

## Expected behavior

Once localstack elastic search is up and running, going to http://0.0.0.0:4571/_search should always return a response like
[code]
...

## Actual behavior

Once localstack elastic search is up and runnin

[2021-02-19 09:29] poulhenriksen commented on #3486
We have the same problem, and we need to use elasticmq because performance is extremely poor when using moto, which is reported here: https://github.com/localstack/localstack/issues/2074

We are currently stuck on 11.2 because of these issues.

[2021-02-19 10:00] gitetsu commented on #1466
Same here but with `sns`.

In my case, above `0.12.4` has the issue.
`0.12.3` with `DATA_DIR` works fine.

After launch container,

[code]

**~/.aws/config**
[code]
**~/.aws/credentials**
[code]

**docker-compose.yml**
[code]

**log**
[code]

**platform**
[code]

[2021-02-19 11:49] isikhi commented on #3617
It solved without change anything except restart computer. :@
I guess it could be related to ubuntu/linux services, i am not sure. but it is solved. @mgagliardo

[2021-02-19 15:25] charlie-harvey commented on #1466
This is the config that finally got it working for me:

[code]

Got rid of the DATA_DIR and the volume. Now it is ready to take orders pretty quickly. We mostly use it to deploy Cloudformation Stacks of SN/SQS. It is _incredibly_ slow to do so. Taking about 6 minutes to deploy the stack. And that's with this current setup. A week ago it was taking possibly hours.

We also remove orphans when we st

[2021-02-19 15:26] mgagliardo commented on #3617
Thanks for updating, I was about to tell you your `docker-compose.yml` did work on my machine as well, so it was probably some tmp file out there that cleared out with the restart.
In any case, thanks!

[2021-02-19 15:26] #3617 closed

[2021-02-19 20:02] mgagliardo commented on #3621
Hello @DevipriyaSarkar, thanks for reporting this.
While I'm trying to reproduce the issue, could you please take a look at [this report](https://discuss.elastic.co/t/bulk-indexing-with-java-high-level-rest-client-gives-error-unable-to-parse-response-body/161696) from ES and see if it might be related? Also it would help if you could set `DEBUG=1` in your environment vars in the `docker-compose.ym

[2021-02-20 02:11] whummer commented on #3616
Thanks @scottiemc7 @irahulranjan . This should be fixed in #3622 - can you please pull the `latest` Docker image and give it another try? Thanks for your help

[2021-02-20 02:11] #3616 closed

[2021-02-20 12:45] mgagliardo commented on #3621
I have tested this out with some bulk helpers from the python elasticsearch lib and could not reproduce so far.

[code]

[2021-02-21 06:52] usmangani1 commented on #3615
@kzupan  Thanks for reporting the issue. While we tried to reproduce this issue we observed that the "ContentBasedDeduplication" attribute is being set to false.This property has to be set to true for the deduplication to be considered.

I had tried the same set of commands by enabling the "ContentBasedDeduplication" on the queue and the behaviour is as expected.

`usman@Usman ~ % aws sqs create-q

[2021-02-21 06:57] #3615 closed

[2021-02-21 15:35] usmangani1 commented on #3619
@split-hub Thanks for reporting the issue.
I tried to reproduce the issue with the sample set of aws cli commands added below and I see that localstack does return the valid error message.Can you please post the full java script here so that I can check if the issue is with java client?

[code]

[2021-02-21 17:24] #590 closed

[2021-02-21 17:27] whummer commented on #3586
Thanks for reporting @alexbaileyuk and thanks for clarifying @macnev2013 . Looks like we're using the correct behavior in this case (same as on AWS). Please report here if there is more evidence that indicates a bug or incorrect behavior. Thanks!

[2021-02-21 17:27] #3586 closed

[2021-02-21 21:48] mariaines commented on #3561
Hi @whummer, I was able to set up a lil demo repo: https://github.com/mariaines/localstack-dynamo-timeout

Please take a look and let me know if you need further details.

[2021-02-22 07:03] kappaj2 commented on #1202
Running Mac and seeing same behaviour.
Running Docker 3.1.0 (51484) on MacOS Big Sur (11.2.1) with Java 15.

Even tried going back to version 0.9.0 of LocalStack, still no go.
Running localstack from the docker command seems to be fine:
$ docker run localstack/localstack:0.12.5

Also running localstack using the maven during Integration tests.

`
     private static final DockerImageName localstac

[2021-02-22 07:45] kzupan commented on #3615
@usmangani1 According to [documentation](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing), you should either have `ContentBasedDeduplication` se to true or send `MessageDeduplicationId` explicitly.

In the first case the body of the message gets hashed and the hash is then compared to previous messages. In the second c

[2021-02-22 08:19] whummer commented on #3525
Thanks for reporting @ldrag . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-22 08:21] kappaj2 opened #3625 "Localstack does not startup on Mac"
# This is a bug report

# Localstack does not re-use running instance on MacOS again.

## Container re-use should use the running instance of localstack.
The container re-use flag is set up in the home folder. The flag is also set to true in Integration Test.

## Actual behavior
When the container starts up after the last docker server process restart it is fine. Any subsequent requests just hang.

[2021-02-22 09:28] steinmaerivoet opened #3626 "s"
# Type of request: This is a ...

[ ] bug report
[ ] feature request

# Detailed description

...

## Expected behavior

...

## Actual behavior

...

# Steps to reproduce

## Command used to start LocalStack

...

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

...

[2021-02-22 09:40] jgoux commented on #3336
Hello @whummer , I'm on latest and still have this error.

[code]

[2021-02-22 09:50] gabrielcolson opened #3627 "[aws-go-sdk] ListObjectsV2: Unable to find forwarding rule for host "localhost:4566""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I deployed a `localstack` container in docker-compose ([see here](https://github.com/c3pm-labs/platform/blob/master/docker-compose.yml)) and tried to access it from `go` code:

[code]

I receive a 404 error and there is this log in the docker container:
`INFO:localstack.services.edge: Unable to find forwa

[2021-02-22 10:23] whummer commented on #3626
Looks like something went wrong when opening this issue, @steinmaerivoet ?

[2021-02-22 10:23] #3626 closed

[2021-02-22 11:02] #3578 closed

[2021-02-22 11:02] michaelgloeckner commented on #3578
Using the lambda executor "docker" solved the problem for me.

   - name: LAMBDA_EXECUTOR
     value: "docker"
   - name: DOCKER_HOST
     value: "unix:///var/run/docker.sock"

[2021-02-22 13:42] kevindixon commented on #2988
@whummer all works as expected in `0.12.6` - thanks!

[2021-02-22 16:27] macnev2013 commented on #2772
Thanks for reporting @hudovisk . This should be fixed in the `latest` version of `localstack` - can you please do a `docker pull localstack/localstack` and give it another try? Please report here if the problem persists. Thanks

[2021-02-22 17:07] whummer commented on #760
Another quick update @kanaka @darksinge @Aluma @liangjacky  - this should now be fixed in #3624 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-02-22 17:07] #760 closed

[2021-02-22 17:08] kevindixon opened #3628 "PRO: Support Step Functions as Eventbridge target"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description
Currently, Step Functions as an Eventbridge target is not supported - see https://github.com/localstack/localstack/blob/master/localstack/services/events/events_starter.py#L116

## Expected behavior
A Step Function state machine can be set as an Eventbridge target.

## Actual behavior
`Unsupported Events t

[2021-02-22 17:34] scottiemc7 commented on #3616
This seems to work. The only problem I see is that if you create a rule in a disabled state using cloudformation it still continues to fire, but I can work around that by disabling it from the command line. Thank you so much.

[2021-02-22 17:56] irahulranjan commented on #3627
Hi @gabrielcolson, Thanks for reporting the issue. Could you try by setting the s3ForcePathStyle config as true?
https://github.com/aws/aws-sdk-go/blob/v1.37.15/aws/config.go#L372

[2021-02-22 18:26] gabrielcolson commented on #3627
Hi @irahulranjan

I use [aws-sdk-go-v2](https://github.com/aws/aws-sdk-go-v2).
Here is how I initialized the s3 client:
[code]

If you need more context you can see the source file [here](https://github.com/c3pm-labs/c3pm/blob/registry-aws-sdk/registry/registry.go)

[2021-02-22 18:35] scottiemc7 opened #3629 "Support for intrinsic functions in Step Functions"
# Type of request: This is a ...

[ ] bug report
[X] feature request

# Detailed description
When attempting to use an intrinsic function in a state machine, localstack fails with a SCHEMA_VALIDATION_FAILED error. I'm assuming this is because intrinsic functions are not yet supported.

## Expected behavior
The state machine would create without issue. Tested in AWS and this state machine works.

#

[2021-02-22 19:28] #2772 closed

[2021-02-22 20:04] #2751 closed

[2021-02-22 21:14] mariaines commented on #3561
Update: I asked a teammate to try to repro and they are seeing a slightly different error, but with similar symptoms. When they trigger the /create_item endpoint, the write to dynamo from uvicorn_app goes through, as evidenced by the item appearing in the table and the DynamoDbStreamHandler being triggered, BUT the `update_item` call hangs in uvicorn_app and eventually times out. When the stream h

[2021-02-22 21:16] mariaines commented on #3561
I should mention that the ecs-local-endpoints container expects real AWS credentials to live in `$HOME/.aws/` on the host

[2021-02-22 21:38] andkvo opened #3630 "Localstack Not Determining Correct URL for Kinesis/Firehose Delivery Stream with Elasticsearch Destination"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am trying to set up an elasticsearch domain in localstack and then use that as the delivery destination for kinesis (also in localstack). I've found that I cannot set it up by specifying the elasticsearch domain ARN when configuring the Kinesis/Firehose stream. I can, however, get it to work correctly,

[2021-02-23 06:30] kappaj2 commented on #3625
Out of desperation, I changed the Docker settings on my Mac.
I enabled the "Use gRPC FUSE for file sharing" and it is now working fine.
So might be something to do with the legacy osxfs file sharing.

Might just help somebody else. This can be closed as it is working for two days now.

[2021-02-23 06:30] #3625 closed

[2021-02-23 11:26] osulli opened #3631 "Bug: "Warning: An illegal reflective access operation has occurred""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Two guaranteed WARNING messages from logger upon starting Localstack:

1)

[code]

2)
[code]

## Expected behavior

- No WARNINGs
- WARNING handling improved so as to not spam (it prints the above logs about 10-15 times)
- Potentially improved information for the user (is this my VPN causing this and ther

[2021-02-23 11:29] osulli opened #3632 "FR: Log Localstack version upon booting"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

I would like to see the Localstack build number (ideally semver number rather than a random ID) after Localstack has finished loading the mock services.

## Desired behavior

[code]

## Actual behavior

[code]

[2021-02-23 15:14] dlf-dds commented on #3611
I'm documenting this here for visibility. Thank you for the quick action @whummer ! I can now deploy a stack that includes:
`Kinesis` -> `KinesisConsumer` -> `Lambda`
That stack is formulated in a CFT through like so:
[code]
Despite the fact that we can now successfully deploy a stack, the lambda is not invoked. This still mostly defeats the purpose of using localstack for mock-based integration t

[2021-02-23 15:20] dlf-dds commented on #3611
Alternatively if anyone has an example of of a stack that demonstrates the functionality:
Kinesis -> Consumer -> Lambda
I would love to see it.

[2021-02-23 16:17] jmeros commented on #3585
@ShadabShariff, could you please take a look at my commit [120df93
](https://github.com/jmeros/localstack/commit/120df938febc723ce9319ffe503b48593f5eac1a) as a possible solution to this issue? If you agree, I can request a PR from it to this issue?

[2021-02-23 16:59] whummer commented on #1647
Closing as "cannot reproduce" - please report here if the problem persists. Thanks

[2021-02-23 16:59] #1647 closed

[2021-02-23 17:01] whummer commented on #1678
Closing as "cannot reproduce" - please report here with steps to reproduce if the problem persists. Thanks!

[2021-02-23 17:01] #1678 closed

[2021-02-23 17:31] whummer commented on #1598
Thanks for reporting @wubigo - this is a pretty old issue, and there have been various enhancements in the startup logic in the meantime. Closing - please let us know if the problem persists. (Please note that persistence support is currently limited to a few basic APIs only in the open source version of LocalStack.) Thanks

[2021-02-23 17:32] #1598 closed

[2021-02-23 17:46] whummer commented on #1570
Closing this issue as "cannot reproduce" - there have been various changes in our API/networking setup (with the new `edge` service acting as the central entry point). Please report here if the problem persists. Thanks!

[2021-02-23 17:46] #1570 closed

[2021-02-23 17:50] #1505 closed

[2021-02-23 17:54] whummer commented on #1476
Hi @ilan-deepreach apologies for the long delay on this one. We believe that this issue should be fixed in the meantime (we've moved away from ElasticMQ in the meanwhile). Can you please pull the `latest` image and give it another try? Please let us know if the problem persists. Thanks

[2021-02-23 17:54] #1476 closed

[2021-02-23 18:14] Chanonry opened #3634 "Communication to localstack on a docker-compose network"
# Type of request: This is a ...Query ?

# Detailed description

I am using localstack as one test container on a docker-compose network. Unit test work fine.
What I am trying to do is connect a container for testing to this d-c network and run tests against localstack.
The localhost endpoint obviously does apply in this situation and I am addressing other containers by their container name define

[2021-02-23 18:18] split-hub commented on #3619
This is the request and error code received when I send to Localstack
[code]

This is the request and error code received when I send to AWS
[code]

[2021-02-23 18:37] ashameem123 commented on #3609
@irahulranjan - Hi, Any update please?

[2021-02-24 02:04] kjpaladin opened #3635 "Unable to find forwarding rule for host "localhost:4566", path "DELETE"
# Type of request: This is a ...

- [X] bug report

# Detailed description

This is my localstack version

I am using the latest version of amazon java sdk
[code]
This is my config for aws localstack connection
[code]

**Issue: Deleting an object on the localstack s3 service will produce an error.**

## Expected behavior
No errors and the file should be deleted.

## Actual behavior
INFO:localstack

[2021-02-24 05:14] tasercake opened #3636 "Document Lambda sync/async invocation options"
# Type of request: This is a ...

Documentation request

# Detailed description

Hi there!

Just wanted to point out that the [sync/async lambda invocation options](https://github.com/localstack/localstack/blob/92fd15e8ef7203daf4778f5f81e8211b997c36b0/localstack/config.py#L46-L51) aren't documented in the Readme.

I've been using Localstack for Lambda with DynamoDB Streams, and noticed when I atta

[2021-02-24 06:42] 959210490 opened #3637 "awslocal redshift invalid xml error"
Thanks for localstack!
When running the following command:
`awslocal redshift authorize-cluster-security-group-ingress --cluster-security-group-name default --cidrip  192.168.10.0/28`
I get the following error:
`Unable to parse response (syntax error: line 1, column 54), invalid XML received. Further retries may succeed:
b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>500 Interna

[2021-02-24 07:08] 959210490 commented on #3359
### Dear @Am1rr3zA
I see you can connent RedShift by python  ，I want to connent by java or local serve  connent  ,but throw
`[HY000][500150] [Amazon](500150) Error setting/closing connection: The server closed the connection..`
![image](https://user-images.githubusercontent.com/27666935/108961196-f4021c00-76b1-11eb-958d-d6029a6048b0.png)

### Below is my question:
[https://github.com/localstack/lo

[2021-02-24 08:36] kzupan commented on #3615
@usmangani1 Can you check again if the implementation is according to the documentation?

[2021-02-24 09:52] kevindixon opened #3638 "PRO: Unable to invoke image based Lambda function (Python)"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Image-based Python Lambda functions using the official AWS runtime cannot be invoked - they just time out.

## Expected behavior
Can invoke an image-based Python Lambda function and get a result.

## Actual behavior
Timeout

# Steps to reproduce

## Command used to start LocalStack
`docker-compose up local

[2021-02-24 09:57] kevindixon commented on #2985
Thanks, all looks good @ `0.12.6`

[2021-02-24 11:42] kevindixon commented on #3629
I'm similarly using Step Functions state machine with intrinsic functions (particularly `Format`, but pretty much all of them at some point).
Would be great if Localstack could support them - I'd be using Localstack for both integration testing of state machines and Lambda/ECS and also for local development.

[2021-02-24 15:20] kinbald opened #3639 "S3 lifecycle configuration not deleted"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Hello
After creating an S3 bucket and put a lifecycle configuration. I want to remove it and then remove the bucket.
I execute the AWS Cli command [delete-bucket-lifecycle](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/s3api/delete-bucket-lifecycle.html).

## Expected behavior

Config

[2021-02-24 15:38] blairham opened #3640 "PRO: destroying aws_rds_cluster_parameter_group fails"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
I've written a terratest for a module that uses a rds_cluster_parameter_group, which is created successfully. However, on destruction, it does not respond and times out.
...

## Expected behavior
Destroying any resource after a successful creation should respond correctly
...

## Actual behavior
destroy fa

[2021-02-24 16:38] danielblignaut commented on #3629
I'd suggest using the official local AWS step functions server (use the docker version, the downloadable jar version is very outdated). This supports intrinsic functions currently and with docker-compose, and confinguring the step functions config you should be able to get it to play nicely with the rest of localstack.

I assume localstack uses this docker image unless they have a custom step func

[2021-02-24 16:41] danielblignaut commented on #3629
In fact they're using the local jar file (outdated version) instead of the docker image here https://hub.docker.com/r/amazon/aws-stepfunctions-local

I assume the solution would be to update the code here to use the docker image instead:
https://github.com/localstack/localstack/blob/master/localstack/services/stepfunctions/stepfunctions_starter.py

[2021-02-24 18:14] whummer commented on #3629
Great, thanks for the pointer @danielblignaut - we'll look into that right away.. 👍

[2021-02-24 21:32] irahulranjan commented on #3609
@ashameem123, Hi I am getting the following error when I try the steps:
[code]

Can you share the correct zip file.

Also i am using AWS CLI, isn't it’s enough to specify service URL to make LocalStack S3 work?
Yes

yes, specifying just the s3 URL should work.

[2021-02-24 21:57] irahulranjan commented on #3632
Hi @osulli, The version gets printed on startup:
[code]

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/36255728/109070897-1a0ed700-7719-11eb-992c-eca3eebea9e2.png">

[2021-02-24 22:54] adrG2 commented on #3612
Hello, I think I have a similar problem using serverless framework:
[code]

[2021-02-25 01:00] #3621 closed

[2021-02-25 06:51] mattsoftware opened #3644 "Lambda does not support nodejs v14"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

Now that nodejs 14 has been released on lambda, I am trying to test all my functions using nodejs 14. The lambci container that localstack uses does not yet support v14 (https://github.com/lambci/docker-lambda/issues/329). However, the aws backed sam container can be used (https://hub.docker.com/r/amazon/

[2021-02-25 07:44] whummer commented on #3629
@kevindixon @danielblignaut @scottiemc7 This should be fixed in #3642 - StepFunctions intrinsic functions are now available in the `latest` Docker image. Please let us know if there are any other issues. Thanks

[2021-02-25 07:44] #3629 closed

[2021-02-25 08:10] Kevchan85 commented on #3612
Yes @adrG2, that was my original issue. The underlying cloud formation service does not implement create for this resource.

[2021-02-25 09:05] shyamvala commented on #2485
Hi,

I am curious if there was any resolution to this issue.

Thank you
Shyam

[2021-02-25 10:13] fripoli opened #3645 "SES Client V2 call to get send statistics fails with DateTimeParseException"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
SES Client V2 call to get send statistics fails with an error. I believe that this was fixed for other services, like S3 on this issue reported https://github.com/localstack/localstack/issues/1899

## Expected behavior
Should not fail

## Actual behavior
Throws exception
[code]

# Steps to reproduce
Run te

[2021-02-25 10:23] osulli commented on #3632
@irahulranjan I see, so it does...

As a simple UX change, could we look at putting an INFO logger message when it has successfully launched though?

[code]

[2021-02-25 10:26] osulli commented on #3632
Perhaps moving https://github.com/localstack/localstack/blob/master/localstack/utils/cli.py#L61 below the start function or having it twice, or having as part of the start function?

[2021-02-25 12:38] mgagliardo commented on #3644
Hello Matt. Indeed this change is not trivial and it would imply us managing different images when we have a strong dependency on lambci, this was also [reported here](https://github.com/localstack/localstack/issues/3591#issuecomment-778877755).
I would take a look at this but at the same time it would imply rolling back everything when lambci deploys their nodejs v14 image.
My suggestion here is

[2021-02-25 12:38] #3644 closed

[2021-02-25 15:03] danielblignaut opened #3646 "[EventBridge] deleteRule results in KeyError"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Running this code, the deleteRule request fails. In the nodeJS console I get unknownError, but see localstack trace below.

Example:
[code]

...

## Expected behavior
Expect the above code not to fail
...

## Actual behavior
it fails
...

# Steps to reproduce

1. Run localstack with required services (even

[2021-02-25 17:00] usmangani1 commented on #3646
@danielblignaut  Thanks for reporting the issue.
We tried to reproduce the issue on the current version of localstack and are not able to reproduce it.Can you please let us know if you are using the latest version of localstack ? If not can you please try this on the latest version of localstack and report here if the issue persists.

The following is the test case covering the functionality menti

[2021-02-25 17:00] #3646 closed

[2021-02-25 20:29] g00ntar opened #3647 "ApiGatewayv2 GetStage oparation doesn't work. [PRO]"
# Type of request: This is a bug report

# Detailed description

After creation api and stage via aws-cli operation GetStage returns error.

## Expected behavior
Return stage object eg.
[code]

## Actual behavior

[code]

# Steps to reproduce
[code]
[code]
[code]
[code]
[code]
[code]
## Command used to start LocalStack

`docker-compose up -d` with LOCALSTACK_API_KEY variable from localstack.cloud

[2021-02-25 21:15] ashameem123 commented on #3609
@irahulranjan - please find the zip and commands i am using to trigger this function.

#!/bin/bash

sleep 2
aws --endpoint-url=http://localhost:4566 s3 mb s3://tib-notification-000000000000-us-east-1

sleep 2
aws --endpoint-url=http://localhost:4566 s3api put-object --bucket tib-notification-000000000000-us-east-1 --key output/QATEST/

sleep 5
aws sns create-topic --name tib-notification --endpoin

[2021-02-26 01:21] Exgaves opened #3648 "[PRO] AWS::Lambda::EventInvokeConfig unsupported in CloudFormation"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Currently Serverless supports easy configuration of a Lambda to have 2 important properties, maximumEventAge and maximumRetryAttempts. For some systems these are imperative points of configuration.
When Serverless deploys to Localstack the CloudFormation template produced puts these properties in a resour

[2021-02-26 08:40] andres-bayon opened #3649 "API Gateway BinaryMediaTypes setting"
# Type of request: This is a ...

- [x] bug report
- [x] feature request

# Detailed description

Using serverless framework, I try to create a REST API Gateway with the setting `BinaryMediaTypes: ['multipart/form-data']`, useful for a POST endpoint that receives and process a file with a lambda.

This generates the following CloudFormation template:
[code]

When I call the POST method the error d

[2021-02-26 17:28] adamarla commented on #1783
Any updates on this? Trying with `aws-cli/2.1.28 Python/3.8.8 Darwin/19.6.0 exe/x86_64` still reports Unknown options: --s3-endpoint-url=http://localhost:4566

[2021-02-26 17:47] scottiemc7 opened #3652 "CW Events rule targets unhooked after update"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description
When updating an existing CloudWatch Events rule, the targets of the rule are removed.

## Expected behavior
In AWS, updating a CWE rule does not remove the rule targets.

## Actual behavior
The CWE rule targets are removed.

# Steps to reproduce
Create a rule
`awslocal events put-rule --name TestRule --s

[2021-02-26 18:05] whummer commented on #3648
Thanks for reporting @Exgaves . This should be fixed in #3650 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks for your help!

[2021-02-26 18:05] #3648 closed

[2021-02-26 18:47] nkuik commented on #3486
The fix made here will hopefully take care of this issue when released.

[2021-02-26 19:44] whummer commented on #3486
Thanks for providing the fix @nkuik . This should now be available in the `latest` Docker image @kgston @poulhenriksen ,  we'll create a new tagged release shortly. Please let us know if the problem persists. Thanks

[2021-02-26 19:44] #3486 closed

[2021-02-26 21:41] scottiemc7 opened #3653 "Cloudformation - AWS::SecretsManager::Secret resource inconsistencies"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
There seem to be two inconsistencies in how localstack handles the  AWS::SecretsManager::Secret resource in Cloudformation.

1.  A `Ref` returns a resource name [instead of an ARN](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-secretsmanager-secret.html#aws-resource-secretsman

[2021-02-26 23:48] scottiemc7 opened #3654 "Cloudformation ignores conditions"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
I swear this worked before, so I apologize in advance if this is actually a feature request. It appears that CloudFormation does not consider conditions when creating a stack.

## Expected behavior
Conditions can be used to selectively create resources.

## Actual behavior
Conditions are ignored and all re

[2021-02-26 23:59] scottiemc7 commented on #3654
Looks like this did work recently #2083

[2021-02-27 02:48] kurtmc commented on #2539
@whummer I have opened up a PR here: https://github.com/hashicorp/terraform-provider-aws/pull/17851

[2021-02-27 16:24] whummer commented on #3647
Thanks for reporting this issue @g00ntar . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-02-27 16:24] #3647 closed

[2021-02-27 18:28] irahulranjan commented on #3609
Hi @ashameem123,

Can you please share the sample snippet where s3 session is getting created and the put object is called?

[2021-02-27 18:53] whummer commented on #3638
Thanks for reporting @kevindixon . Turns out that this is a bug in older versions of the AWS Lambda Python Runtime image, which fails to parse URLs with paths (e.g., `AWS_LAMBDA_RUNTIME_API="172.17.0.2:4566/func123`) properly.

This appears to be fixed in the [source code repo](https://github.com/aws/aws-lambda-python-runtime-interface-client/), so I'd assume that future builds of the Lambda runti

[2021-02-27 18:53] #3638 closed

[2021-02-27 20:18] whummer commented on #3654
Thanks for reporting @scottiemc7 . This should be fixed in 9edfa0c - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks

[2021-02-27 20:18] #3654 closed

[2021-02-28 00:49] kurtmc commented on #2539
I opened my PR before checking if someone else had already done it. Here is the PR: https://github.com/hashicorp/terraform-provider-aws/pull/15801

Hopefully it gets merged soon.

[2021-02-28 12:41] whummer commented on #3601
Thanks for reporting  @minhio and apologies for the delay. The issue with `ECR::Repository` CloudFormation should now (hopefully) be resolved. Can you please pull the `latest` Docker image and create follow-up tickets if there are any other issues running a CDK template with `newStyleStackSynthesis` enabled? Thanks for your help!

[2021-02-28 12:41] #3601 closed

[2021-02-28 15:55] whummer commented on #3640
Thanks for reporting @blairham. This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-02-28 15:55] #3640 closed

[2021-02-28 17:27] andres-bayon opened #3656 "Unsupported authorizer type: REQUEST"
# Type of request: This is a ...

- [ ] bug report
- [x] feature request

# Detailed description

Using PRO version, when I create a Custom Lambda Authorizer with type `REQUEST` I get an error saying it is not supported.

## Expected behavior

Lambda authorizer is called.

## Actual behavior

Lambda authorizer is not called and I get the following warning:

[code]
# Steps to reproduce

## Command

[2021-02-28 22:53] whummer commented on #3628
Thanks for reporting @kevindixon . This should be fixed in #3657 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-02-28 22:53] #3628 closed

[2021-03-01 02:11] nhoughto commented on #3455
hmm so solved one problem, but created another? now if I create an SNS topic, an SQS queue and create a subscription from one to the other, then restart localstack, my SQS queue won't get any further messages? That as a core functional behaviour seems more important than a generated ID coming back incorrectly? 🤔

I'd have thought the more appropriate fix would be to make the subscription id genera

[2021-03-01 07:52] xyloponion opened #3658 "Managed policies fail to validate"
**# Type of request: This is a ...**

[X ] bug report
[ ] feature request

**# Detailed description**

When any ManagedPolicy resource is specified in either a YAML or JSON file, the stack will fail to create with a validation error.  This will fail using the latest version of localstack, but will succeed using earlier versions.

**## Expected behavior**

The stack should be created successfully.

[2021-03-01 09:29] mgagliardo commented on #3658
Hello @xyloponion, can you please pull the `latest` docker image and give a try again? I have tested this locally using your `sample.txt` without issues:

[code]
[code]
[code]

[code]

[2021-03-01 09:32] mgagliardo commented on #3658
Now that I'm reading closely, I can see the error you are seeing is (probably) because of a malformed JSON, however I have parsed the YAML you have brought and looks good. Please double check that as well? Thanks

[2021-03-01 11:33] xyloponion commented on #3658
Hi Miguel,

Nope, I still have the same issue.  Doesn't work when I use latest, does
work when I use an earlier version.

I have tried this with other yaml files also, and can confirm it definitely
does not work.

Regards,
Matt Vermeulen

On Mon, Mar 1, 2021 at 5:32 PM Miguel Gagliardo <notifications@github.com>
wrote:

[2021-03-01 11:57] mgagliardo commented on #3658
Hey Matt, any chance you can show the output of:
- How are you starting the localstack container
- The output of the container (please enable DEBUG=1)
- The output of the aws cli with --debug flag.

This would help us with further debugging.
Thanks

On Mon, Mar 1, 2021, 12:33 xyloponion <notifications@github.com> wrote:

[2021-03-01 18:32] sidharthjs opened #3660 "Kinesis - Latency in GetRecords and PutRecords"
# Type of request: This is a ...

[ ] bug report
[X] feature request

# Detailed description
Feature request:
It would be great if we have the mechanism to introduce failures or delays for the GetRecords and PutRecords API. This will provide a mechanism to do fault injection on the Kinesis component.

I had a chance to work on fault testing the Kinesis dependency of a service and I found no tool t

[2021-03-01 20:59] whummer commented on #3612
Thanks for reporting @Kevchan85 @adrG2 . This should be fixed in #3659 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-01 20:59] #3612 closed

[2021-03-01 22:13] mariaines commented on #3561
Update: reverting to Localstack 0.12.3 seems to fix this socket timeout issue! (But we need other fixes available in 0.12.4)

Hope that helps y'all pinpoint the issue.

[2021-03-01 23:58] scottiemc7 commented on #3654
This seems to work again. Thank you!

[2021-03-02 00:30] scottiemc7 opened #3661 "Cloudformation - StateMachine dependencies cause exception"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
Attempting to create a stack containing a basic `AWS::StepFunctions::StateMachine` with `DependsOn` relationships or `Ref`s to an `AWS::StepFunctions::Activity` causes an exception.

## Expected behavior
The stack would create.

## Actual behavior
The stack fails with the message:

Debug:

localstack_main

[2021-03-02 06:14] xyloponion commented on #3658
Hi Miguel,

Here's the container log with debug flag set:
[container_log.txt](https://github.com/localstack/localstack/files/6066478/container_log.txt)

Also, here's a zip file with a sample docker compose setup that highlights the issue.  Note:  in the 'tester.yml' file, if you change the image from **localstack:latest** to **localstack:0.12.2** it will work.

[localstack_test.zip](https://github

[2021-03-02 10:14] mgagliardo commented on #3658
Found the issue, line 15 of your docker compose, you are missing `SERVICES=iam`, please check the error log line:

[code]

So your `docker-compse.yml` should look like this:
[code]

Debug logs (working):
[debug_logs.log](https://github.com/localstack/localstack/files/6067822/debug_logs.log)

[2021-03-02 10:14] #3658 closed

[2021-03-02 11:56] jansepke opened #3662 "AWS_DEFAULT_REGION ignored since v0.12.7"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description

We are using AWS_DEFAULT_REGION=eu-central-1 env variable to set a different region for local stack. this stopped working after upgrading from 0.12.6 to 0.12.7. We now need to also set DEFAULT_REGION=eu-central-1.

As far as I can see this commit https://github.com/localstack/localstack/commit/c092f9fea2

[2021-03-02 13:13] mgagliardo commented on #3662
Hello @jansepke, thanks for reporting this.
* TL; DR: Please use`DEFAULT_REGION` as env var, it should work properly.

* Long run:  Yes, this changed on the [latest release](https://github.com/localstack/localstack/releases), you can see [here](https://github.com/localstack/localstack/blob/b07df43b1ea2291595a2b112e533a42d114f1a3c/localstack/config.py#L42) is where it grabs the env var.

[2021-03-02 13:13] #3662 closed

[2021-03-02 14:01] jansepke commented on #3662
hm, this is a bit missleading as AWS docs prefer AWS_DEFAULT_REGION: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html

but if DEFAULT_REGION is the way to got for localstack at least the changelog could be improved
"fix setting of default region from environment variables" (under Bug Fixes)
should be changed to a breaking change...

[2021-03-02 15:07] dheerajkulakarni opened #3663 "ses delete template feature is not implemented"
# Type of request: This is a ...

[x] feature request

# Detailed description

Whenever we try to do delete template operation through AWS java SDK it is throwing 500 error with null message
AWS SDK version: version: 1.11.327

## Expected behavior

delete template operation should work properly deleting given template

## Actual behavior

Delete template operation is throwing 500 exception with nu

[2021-03-02 15:19] dheerajkulakarni opened #3664 "Missing rending exception not added in render template function"
# Type of request: This is a ...

[ x] bug report

# Detailed description
AWS throws MissingRenderingException when there is some templateVariableData is missing in the templateDataRequest, which is not the case with localstack, seems like MissingRenderingException check is not added at all in render_template function in moto

## Expected behavior

When there is template variable missing in templa

[2021-03-02 15:23] mgagliardo commented on #3662
What you are referring to is the AWS CLI docs, which is separated from bringing up a cluster with localstack.
I agree it could be modified on the `CHANGELOG.md` though, opinions @whummer ?

[2021-03-02 15:49] ashameem123 commented on #3609
@irahulranjan : Here is the code snippet,
![S3ClientCreationAndPUTobjcall](https://user-images.githubusercontent.com/54183749/109674503-9734b480-7b3c-11eb-801f-3d7afad30135.png)

[2021-03-02 17:35] CruncherBigData commented on #1202
I am facing the same issue, any updates ?

[2021-03-02 17:43] kappaj2 commented on #1202
I managed to get it running on my Mac by enabling the "Use gRPC FUSE for file sharing".
Maybe something you can check.

[2021-03-02 18:27] #3663 closed

[2021-03-02 18:43] bahui80 commented on #3619
@usmangani1 i am having the exact same issue. The exception is thrown but the description is null as specified above!

[2021-03-02 19:09] ayushghosh opened #3667 "Update to latest moto version 2"
We fixed issues in moto library and been waiting for it to be incorporated in localstack.

Since moto has released the v2.0.0 do we have any estimated timeline for it to be integrated in localstack.

[2021-03-02 19:53] irahulranjan commented on #3609
Hi @ashameem123, Can you share the implementation of constructLocalStackClient?
Also which version of Localstack are you using. Can you try pulling the latest image and give a shot?
When I run the steps mentioned by you I get the following error.
[code]

Will it be possible to just share a sample zip that just uploads to S3?

[2021-03-02 20:37] scottiemc7 opened #3668 "Cloudformation - References to AWS::ApiGateway::RestApi cause exception"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
When creating a stack containing a `AWS::ApiGateway::Model` referencing a `AWS::ApiGateway::RestApi`, localstack throws an exception. This happens even if there are conditions on the API and Model that should cause both resources to be ignored.

## Expected behavior
The stack would create.

## Actual behav

[2021-03-02 23:28] whummer commented on #3667
Thanks for reporting @ayushghosh . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if there are any issues. Thanks!

[2021-03-02 23:28] #3667 closed

[2021-03-03 08:42] kubawach opened #3669 "Enable X-Ray propagation when publishing SNS to SQS"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

As per AWS documentation (https://docs.aws.amazon.com/xray/latest/devguide/xray-services-sns.html) it is possible to propagate trace context when publishing messages from SNS to SQS. Value of HTTP header "X-Amzn-Trace-Id" set upon publish to SNS topic is converted into "AWSTraceHeader" system attribute of

[2021-03-03 10:05] czerwonkabartosz opened #3670 "SNS/SQS performance - delivery times depend on the number of subscriptions"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

We use Localstack with quite a big number of microservices where messages between are transported using SNS/SQS - one service pushes an event to SNS and this is broadcasted to a few queues (every service has a separate queue). We've noticed some problems related to delivery time (performance issue). The p

[2021-03-03 10:14] tomaz-tekavec-cko commented on #3326
Sorry for a late response - I've tested the same setup with v0.12.7 and it works fine. Many thanks!

[2021-03-03 18:24] stevegal opened #3671 "lambda failure post delivery of sqs batch"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
If I delete a message from a lambda in "normal" operation, after the lambda is run, it will attempt to delete the message batch. This will result in an error being thrown from the lambda handler as it does sqs_client.delete_message_batch when it finishes processing.

I can work around it by only deleting s

[2021-03-03 22:08] marciotoze commented on #3464
I have same problem here, I believe that the problem is to recover messages from the volume (maybe is working but just very slow).

the behavior here is simple, we start localstack first time without any problem (via docker) and sent some messages to sqs (in our tests we send about 500 messages).

now if you down docker conteiner and tries to up again you stay `Waiting for all LocalStack services

[2021-03-03 23:33] 3pdev-alex opened #3673 "0.12.7 connection issue on Docker"
# Type of request: This is a ...

[x] bug report
[ ] feature request

Just updated to the docker image 0.12.7 and rebuilt. My docker-compose service:

[code]
When I run `awslocal sqs list-queues` I get `Could not connect to the endpoint URL: "http://localhost:4576/"`. If I change my ports to `"4566-4599:4566-4599"` I get `Connection was closed before we received a valid response from endpoint URL:

[2021-03-04 00:16] mgagliardo commented on #3673
Hello @3pdev-alex, thanks for reporting this.
I have tested this with the following docker-compose, please note there's a slight change on the networks part, can you please give it a try and tell me if it is the same for you? Also `awslocal` should not be connecting to `4576` but to `4566` which is the default port for localstack.

[code]

[code]

[code]

[2021-03-04 00:25] xyloponion commented on #3658
Hi Miguel,

Thanks a lot for your time on this.  It is much appreciated.

Regards,
Matt

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Miguel Gagliardo <notifications@github.com>
Sent: Tuesday, March 2, 2021 6:14:33 PM
To: localstack/localstack <localstack@noreply.github.com>
Cc: xyloponion <github@mattandvica.com>; Mention <mention@noreply.github.com>
Subject:

[2021-03-04 02:48] stevenpila opened #3674 "User name with spaces in windows ends up with an error "No such file or directory""
# Type of request: This is a ...

[1 ] bug report
[ ] feature request

# Detailed description
Hi,

When we just try to create sns topic using awslocal, we always get an error that there's no such file or directory.
It seems this is a problem where user name has spaces in windows (E.g., C:\Users\Sample Name\) because when one of us tried doing this with no spaces in username, it's working as expect

[2021-03-04 05:10] Kevchan85 commented on #3612
Will try.

[2021-03-04 07:35] jansepke commented on #3662
I just noticed that `DEFAULT_REGION` is clearly in the documentation and has been there for years. So I would say we should read it next time completely ;) We thought that localstack would use the same ENV vars like AWS CLI but you are right that is something else.

[2021-03-04 09:14] mukundbayyaram opened #3675 "Lambda invocation errors in github actions"
# Type of request: This is a ...
* [x] bug report
* [ ] feature request

# Detailed description
Lambda invocation works in macos but fails in github actions:

### docker-compose.yml
[code]

### serverless.yml
[code]

### localstack_endpoints.json
[code]

### Invocation result (In my local) (success)
[code]

### Invocation result (In Github actions run - ubuntu-latest) (Error)
[code]
I'm pretty sur

[2021-03-04 09:24] #3673 closed

[2021-03-04 12:00] petermcneil opened #3676 "API Gateway doesn't format path parameters for AWS_PROXY integrations"
# Type of request:
This is a ...

[ x] bug report
[] feature request

# Detailed explaination

Currently when requesting a lambda through an API Gateway with the integration `AWS_PROXY` to a lambda, the request looks as so once it reaches the lambda:
[code]
This is the wrong behaviour as AWS would return:

[code]
I think have found the offending line of code
https://github.com/localstack/localstac

[2021-03-04 14:11] 3pdev-alex commented on #3673
Still doesn't work for me. Any idea what else I can update/try?

[2021-03-04 14:15] mgagliardo commented on #3673
I know it might sound silly but have you tried restarting your machine?

On Thu, Mar 4, 2021, 15:11 Alex Wharff <notifications@github.com> wrote:

[2021-03-04 14:17] 3pdev-alex commented on #3673
Did just before I posted back. 0.11.5 works, but I'm having the issues described here - [SQS purge/delete not working](https://github.com/localstack/localstack/issues/3279)

[2021-03-04 16:03] osulli opened #3678 "[PRO] [MSK] [SGs] Idempotency fails due to parameters not being consumed"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

As per the title, idempotency checks fail on resources (below) which suggests that certain parameters are not being consumed by Localstack APIs.

## Expected behaviour

- Security groups created with `description` parameter
- MSK cluster consumes input `kafka_version` parameter

## Actual behaviour

- Sec

[2021-03-04 16:29] mgagliardo commented on #3673
So if you would remove all the tmp data that fixes the issue described there?

[2021-03-04 16:54] 3pdev-alex commented on #3673
Same situation.

[2021-03-04 21:23] 3pdev-alex commented on #3673
Following up - I think this is more an issue with awslocal, so I've opened the issue over there. In the meantime I uninstalled it and created a function to simulate awslocal.

`function awslocal(){ aws --endpoint=http://localhost:4566 "$@" }`

[2021-03-04 21:26] mgagliardo commented on #3673
Is there any chance you have already configured an env var or config on `~/.aws/` that might be pointing your `awslocal` endpoint there?
`awslocal` is just a wrapper of the `awscli`. I guess both are up-to-date? Can you test uninstalling/purging them and reinstalling?

[2021-03-04 21:38] whummer commented on #3668
Thanks for reporting @scottiemc7 . This should be fixed in #3679 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks

[2021-03-04 21:38] #3668 closed

[2021-03-04 21:38] whummer commented on #3661
Thanks for reporting @scottiemc7 . This should be fixed in #3679 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks

[2021-03-04 21:38] #3661 closed

[2021-03-04 21:41] whummer commented on #3678
Thanks for reporting this issue @osulli - can you please share the version (age/tag of the Docker image) of LocalStack you're using.

In terms of the first issue (security groups created with `description` parameter) - it looks like this is already fixed in the `latest` version.

Using a tf config like this:
[code]
... it seems that the description attribute is present, and TF does not detect any

[2021-03-04 22:15] whummer commented on #1512
Thanks all for chiming in - marking this as a duplicate of #2631 , let's continue the discussion there. Thanks

[2021-03-04 22:15] #1512 closed

[2021-03-04 22:17] 3pdev-alex commented on #3673
I've got a few different profiles set up for aws-cli in ~/.aws/config and ~/.aws/credentials, but nothing mentions a port. I tried setting LOCALSTACK_HOST to http://localhost:4566, but then it was attempting to connect to http://localhost:4566:4576. Both aws-cli and awscli-local are up to date.

Unless I created a global at some point and don't remember it, I'm not seeing anything off in my setup

[2021-03-05 00:56] #3676 closed

[2021-03-05 02:44] hirano00o opened #3681 "Athena on Localstack PRO does not supported CREATE TABLE AS statement."
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

I'm using Athena with Localstack PRO. When I tried to create table to using `CREATE TABLE ... AS ...` statement, I got an error, it is `NOT_SUPPORTED`.
As a use case, I'm thinking of creating a table (CREATE TABLE AS) by combining data from several tables in the DAG of apache airflow. Then, the created ta

[2021-03-05 08:27] hpatoio opened #3682 "EventBridge PutEvents not working when Detail is missing"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description
Calling PutEvents operation returns 500 if no `Detail` is specified. This case is similar to #3043

## Expected behavior
According to the doc https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_PutEventsRequestEntry.html `Details` is optional.

[code]

So this should works and set `Detail` as

[2021-03-05 08:42] Kejsty commented on #3464
We have the same problem, on Windows with WSL2, Mac OSX, but also on Ubuntu. We use both SQS and SNS quite heavily, and therefore, upon startup, I found this message at the bottom of the log:

[code]
Here `recorded_api_calls.json` had ~11Mb, and it took ~3 min.

I assume this is result of following steps:
- v0.11.2: add persistence support to SQS API
- v0.11.3: add persistence support for SNS
- v0

[2021-03-05 11:30] YousraMashkoor commented on #2421
how do I access the environment variable inside the lambda function? for example I'm using python to connect with my s3 bucket so should this do the trick? `s3 = boto3.client('s3', endpoint_url='http://'+LOCALSTACK_HOSTNAME+':4572', region_name='us-east-1')` or do I need to access with environ for example?

[2021-03-05 11:45] mgagliardo commented on #2421
@YousraMashkoor to access env vars you should do `os.environ['LOCALSTACK_HOSTNAME']` if it's a python script.

For more information check this response (it's for JS but also valid for python) -> https://github.com/localstack/localstack/issues/3183#issuecomment-754317067

Also please try not to answer on issues that have almost a year closed, try to open a new one or refer to the documentation.

[2021-03-05 12:34] codan84 opened #3685 "Add option for `LAMBDA_EXECUTOR` set to `local` for Nodejs/Java lambdas"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

At the moment NodeJs/Java lambdas need to have `LAMBDA_EXECUTOR` set to `docker`. This will try to create a new docker container for each invoked lambda. It may be problematic if attempting to run localstack for testing in a CI container when it is not a privileged container (ie GitLab CI shared runners).

[2021-03-05 15:50] #3682 closed

[2021-03-05 17:02] vincentippon commented on #1783
Same problem here

[2021-03-05 17:12] kubawach opened #3686 "Enable X-Ray propagation for S3 to SQS notifications"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

As per AWS documentation (https://docs.aws.amazon.com/xray/latest/devguide/xray-services-s3.html) it is possible to propagate trace context when publishing S3 notifications to SQS. Value of HTTP header "X-Amzn-Trace-Id" set upon S3 request is converted into "AWSTraceHeader" system attribute of a SQS messa

[2021-03-05 18:34] FatehAhmad opened #3687 "can't find '__main__' module in 'C:\\Users\\Office' while trying to localstack start"
the command I run on cmd to start the package:-

`localstack start`

The error message I get:-

`can't find '__main__' module in 'C:\\Users\\Office'`
Now I dont understand why it is looking for `__main__ at 'C:\\Users\\Office' when the path to python in my system is C:\Users\Office User\AppData\Local\Programs\Python\Python37`

It seems like it is breaking because of the whitespace in the username

[2021-03-06 00:10] whummer commented on #3644
Thanks for reporting @mattsoftware . A temporary fix has been pushed in #3688 (until v14 will become available in lambci) - can you please pull the `latest` Docker image and let us know if that works for you? Thanks!

[2021-03-06 15:28] recharge-dreams opened #3689 "Connect to real AWS services"
# Type of request: This is a ...

## Query
Hi,

Is there is anyway I can force localstack to use actual AWS credentials? (this will be highly helpful in testing the code with the existing data in lower environments. Basically I wanted to avoid deploying the lambda code every time to test my changes. I'm trying to find if I can run lambda locally with the data from my _real_ AWS dynamo db).

Also,

[2021-03-06 18:09] guillaumemaka commented on #2123
Hi @whummer I have the same issue

Here my docker-compose.yml
[code]

AWS.config
[code]

I can reach the health endpoint with axios but aws-sdk can resolve the hostname, it worked fine 2 weeks ago.

I looked in the docker-compose file in the repo root, I see the use network_mode: bridge but he didn't work too.

The name resolution seem to work as axios can resolve the hostname but not the aws-sdk.

[2021-03-06 18:41] whummer commented on #3689
Hi @recharge-dreams, yes this is technically possible - you can create IAM credentials in AWS and configure them in the environment of your LocalStack Lambda function (`AWS_ACCESS_KEY_ID`/`AWS_SECRET_ACCESS_KEY`). Please note that we do **NOT recommend** doing that, though - mixing LocalStack with real AWS production credentials can be dangerous (use at your own risk).

Regarding your second quest

[2021-03-06 18:41] #3689 closed

[2021-03-06 18:52] whummer commented on #3652
Thanks for reporting @scottiemc7 . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-03-06 18:52] #3652 closed

[2021-03-06 18:56] whummer commented on #3639
Thanks for reporting @kinbald . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

At this point, we're simply emulating the CLI response in this case, the objects are currently not really expired. This is primarily due to the fact that LocalStack environments are usually relatively shor

[2021-03-06 18:56] #3639 closed

[2021-03-07 08:47] monty16597 commented on #3675
Thank you @mukundbayyaram for raising the bug. If possible, can you please provide us the github action script which you are using? It really will help us to understand the issue or to reproduce it. Thanks.

[2021-03-07 15:47] mukundbayyaram commented on #3675
@monty16597 Thanks for the reply and checking this issue out.
Here is the `pull-request.yaml`:
[code]

The `npm run test:integration` script is:
[code]

**Note:** I've tested with various 12.x node versions in GH actions

[2021-03-07 18:54] jenskelkel opened #3692 "Cloudn't create lamda and dynamoDb"
I use the version 0.12.7

[ X] bug report
[ ] feature request

# Detailed description
I want  create an lamda and dynamoDb on windows but I only the following output:

_aws_dynamodb_table.table_1: Refreshing state... [id=table_1]
aws_lambda_function.counter: Refreshing state... [id=counter]_

 Nothing further happen. The script create the container in the version 0.11.0

**# terraform code**
provi

[2021-03-07 19:18] mgagliardo commented on #3692
Hello @jenskelkel, thanks for reporting, could you please change your endpoints URLs to `http://localhost:4566`? I have tested this (only `fmt'd` the file) and looks good on my end.

Also could you test with the `latest` docker image and show the output of your docker compose? Please check this is working on my end:

docker-compose.yml
[code]

main.tf
[code]

[2021-03-07 19:56] jenskelkel commented on #3692
Thanks for the fast answer. Now it works by me, too.

Only the webui under http://localhost:8080/#!/infra doesn't work.

[2021-03-07 22:56] cwilliamsonslyp opened #3693 "Lambda can't find layer code Nodejs12.x version 0.12.7"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

We're getting lambda layer errors in version 0.12.7 using a Nodejs12.x runtime. This doesn't happen in localstack version 11.2 (our current version). We've tested the commands used to deploy the layer and lambda against our real AWS environment and everything works as expected. Any help is appreciated 😄
.

[2021-03-08 05:54] Tobolov opened #3695 "CloudFormation - Unable to deploy template in S3"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
Unable to deploy Cloudformation template stored in S3.

## Expected behavior
Able to deploy Cloudformation template stored in S3.

## Actual behavior
API call fails with response "500 Internal Server Error". Following error found in logs.
[code]

# Steps to reproduce
Deploy a CloudFormation template store

[2021-03-08 07:33] whummer commented on #3487
Hi @upanshu21 @pinzon  , thanks for the update. This should be fixed in #3691 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-03-08 07:33] #3487 closed

[2021-03-08 08:27] mgagliardo commented on #3687
Hello @FatehAhmad, this looks like a path issue indeed, while we investigate this you could run it with docker.

[2021-03-08 08:55] kinbald commented on #3639
Working as expected, thanks @whummer .

[2021-03-08 18:49] cabeaulac commented on #3560
I created a dummy default AWS config and credentials. That didn't work.

[2021-03-09 18:22] monty16597 commented on #3675
Thanks @mukundbayyaram for providing the github action script. We are able to reproduce the issue.

Actually, It is not a bug, instead its a usage error of the localstack. Problem is, lambda actually not able to find the code because of the below mounting in docker-compose file of the localstack.
[code]

Creating a lambda function actually stores code file as a zip in /tmp/localstack directory and

[2021-03-09 20:12] whummer commented on #3522
Thanks for reporting @ejsmith @KarlKl @niemyjski @jcunhafonte . This should (hopefully) be fixed in #3603 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-03-09 20:12] #3522 closed

[2021-03-09 20:14] whummer commented on #3266
Thanks for reporting @mkosir @asolovey . This should (hopefully) be fixed in #3603 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-03-09 23:26] simontankersley opened #3697 "s3 presign works in docker image 0.12.7 but not in latest"
# Type of request: This is a ...

[-] bug report
[ ] feature request

# Detailed description

S3 Presigned urls worked for us using docker localstack image 0.12.7. They don't work for us in 'latest'

## Expected behavior

If you:

1. Create a bucket
2. Create a presigned URL for a file in that bucket
3. Access that presigned URL

Then you should get a 404 response

## Actual behavior

Doing steps

[2021-03-09 23:45] seanstaley opened #3698 "Using __local__ to create Lambda function does not work."
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
When attempting to source the source code for a function from a JAR on the file system, I'm running into the following error:
[code]

After adding some log lines to the LocalStack source code, it looks like the LocalStack code in `lambda_api.py` is setting the file name to a temp file instead:
[code]

Here

[2021-03-10 12:05] Caracal2021 opened #3699 "KMS: Keys and aliases are created in the default region instead of the specified one"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

In a Localstack docker container, when creating a CMK through the `awslocal kms create-key` command it is created in `us-east-1`, even though the environment variable `AWS_DEFAULT_REGION` is set to a different region. Specifying the region through the `--region` command option has the same issue.

The sam

[2021-03-10 12:18] mgagliardo commented on #3699
Hello @Caracal2021, thanks for reporting this.

Please note the right env var is `DEFAULT_REGION` as stated in the docs. Please try this (as an example):

`$ docker run --rm -ti -e DEFAULT_REGION=eu-central-1 -e SERVICES=kms -e DEBUG=1 -p 4566:4566 localstack/localstack:latest`

[code]

[code]

[code]

Please let us know if you need anything else, otherwise I consider this as fixing.

[2021-03-10 13:15] diegosasw opened #3700 "localstack status and UI show container stopped"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
I subscribed to LocalStack PRO
I have access to https://app.localstack.cloud/dashboard but I can see there that docker status is not running and a warining on step 2 stating Docker container not running
I set the LOCALSTACK_API_KEY

I installed localstack CLI with pip
I run localstack and I can see the api

[2021-03-10 13:20] Caracal2021 commented on #3699
Hi @mgagliardo, thanks for the correction on `DEFAULT_REGION`. With that fixed I'm able to create keys in the region I want. The `--region` command option still isn't overriding the default region, however, but I'm no longer concerned about that for my purposes.

[2021-03-10 13:30] diegosasw commented on #3700
What's on port 53? I've just tried to run docker-compose to see if that way it's detected. My docker-compose file is
[code]

and it complains about
[code]

Not sure what's using the port 53, probably something related to localstack old execution with localstack CLI (that is stopped now). So I have modified the mapping as in `54:53` and now it runs although it shows some SSL errors, but that way th

[2021-03-10 14:28] ashameem123 commented on #3609
@irahulranjan - Here is the implementation code for LS client:

![image](https://user-images.githubusercontent.com/54183749/110644156-d4531380-81da-11eb-8b3b-0c14afc813e4.png)

Getting same results after doing - docker pull localstack/localstack

[2021-03-10 14:59] njofce opened #3701 "KCL 2.2.x and 2.3.x are not able to load data from stream"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description

I think this is a bug, but might be a feature request. Following the tutorial on AWS docs (https://docs.aws.amazon.com/streams/latest/dev/building-enhanced-consumers-kcl-java.html) it's simple to configure KCL to load data from a stream.
...

## Expected behavior

The expected behavior is that the KCL is

[2021-03-10 15:42] diegosasw commented on #3700
I'm using Windows 10 (running commands with git bash)

I've just noticed that the docker-compose I'm using does not match the one at the repo's, so I am a bit confused.

If I try the following:
[code]
I can see localstack starting, the UI still shows docker is stopped and localstack status also shows
[code]

I'm a bit confused, is the port 53 mapping necessary? or is the "new" approach to use that

[2021-03-10 15:46] diegosasw commented on #3700
In any case, the `localstack start` works, independently of the UI and localstack status showing there is no container running. Not even sure if there is any advantage of using docker-compose/docker instead of the localstack CLI. The documentation is not very helpful regarding that, at least for those of us who see localstack for first time.

[2021-03-10 15:51] mgagliardo commented on #3700
I would definitely go for the docker solution as you can always have the latest release from there.

Could you please run the docker-compose with `- DEBUG=1`  and `docker-compose up` so you can watch the logs on your screen for any errors?

To check if it is already running you should `docker-compose status` or `docker ps` should be enough.

[2021-03-10 16:19] diegosasw commented on #3700
Maybe I wasn't clear with my message. I have tried 3 ways of running localstack. I'm trying to follow documentation to use the **PRO version** but get different instructions depending on whether I look at the repo README or at the https://app.localstack.cloud/docs

## First approach (the "new" way described at the repo's README)

I've got the following `localstack-compose.yml`

[code]
I execute `d

[2021-03-10 16:58] dgolubev commented on #2816
Hello

Still have issue on latest
[code]

docker-compose.yaml
[code]

list of commands:
[code]

[2021-03-10 17:06] diegosasw commented on #3700
1. New docker compose
    Ok
2. Old docker compose
    Restarting docker or reinstalling it doesn't make any difference. Nothing running on 53 afaik
[code]
3. localstack CLI
   This works well, it's picking LOCALSTACK_API_KEY=123 properly from the system environment variables as it shows in the console output.

In any case the localstack UI dashboard never detects the docker container running. If

[2021-03-10 17:19] mgagliardo commented on #3700
I am a bit overwhelmed with this, @whummer could you please confirm if there's anything in particular going on with the dashboard UI or is there any particular issue?

[2021-03-10 22:19] simontankersley commented on #3697
Hi again, this isn't an issue.

If I follow the instructions from https://github.com/localstack/localstack#setting-up-local-region-and-credentials-to-run-localstack and change the above commands to:

[code]

It works the same as the 0.12.7 version

[2021-03-10 23:33] mdboop commented on #79
This issue is very old but it still comes up as one of the first results when googling "sqs purge queue localstack", so I'm just leaving this comment for anyone who might end up here. For what it's worth, @sparrc, your use of `--endpoint-url` is not inconsistent.

When you run `$ aws sqs purge-queue --queue-url "http://localhost:4576/123456789012/MyQueue"`, the cli is using your config/credentials

[2021-03-11 00:49] mgagliardo commented on #3700
ICS is just an allowance service to allow (duh) other network users to connect through your computer (using NAT of course), so I actually recommend that unless you don't have a personal, but rather an enterprise computer/server.

[2021-03-11 00:51] #3700 closed

[2021-03-11 01:07] mgagliardo commented on #2816
Hey @dgolubev, could you please give a few more specifications? OS? Docker version? I could not reproduce it using Linux (Debian latest), docker latest and latest image version as well.

[2021-03-11 01:45] jordanParamo commented on #3700
@mgagliardo I misspoke. Unfortunately, even running as administrator, Windows 10 will not allow a user to stop ICS. DNS will have to be allocated to a different IP address in order for this to work.
![Screenshot 2021-03-10 194159](https://user-images.githubusercontent.com/50218595/110722995-f21f7900-81d8-11eb-86c2-01c948a7735b.png)

Linux users rejoice! For you, it's being caused by systemd, modif

[2021-03-11 01:56] mgagliardo commented on #3700
What about trying this? https://www.its.hku.hk/faq/network/remote/disable-ics-win

[2021-03-11 02:09] jordanParamo commented on #3700
@mgagliardo It restarts ICS with a new PID.
I found the problem:

localstack/services/generic_proxy.py Line 626 is trying to start a the userland proxy at 0.0.0.0
Error: `Error starting userland proxy: listen tcp4 0.0.0.0:53: bind: address already in use`
Code: `if not host:
        host = '0.0.0.0'`

How does a user override that variable?

[2021-03-11 06:17] asomov commented on #718
It looks like it is back in
    aws = {
      source  = "hashicorp/aws"
      version = "~> 3.31"
    }
I reported in issue for Terraform provider: https://github.com/hashicorp/terraform-provider-aws/issues/18039

[2021-03-11 09:11] dgolubev commented on #2816
Hello @mgagliardo

MacOs BigSur 11.2.1
Docker Desktop 3.1.0 (51484)
Engine 20.10.2
Compose: 1.27..4

version 0.11.2
command execution
[code]
log in docker
[code]

[2021-03-11 09:18] dgolubev commented on #2816
vesion: latest
command log:
[code]

docker log:
[code]

[2021-03-11 09:21] mgagliardo commented on #3700
Listening on `0.0.0.0` means it is doing so on all your interfaces, you can do the port mapping on your `docker-compose.yml`, like this:

[code]

[2021-03-11 09:23] mgagliardo commented on #2816
Yeah I guess so, I was just able to reproduce this under Mac OS Big Sur as well and I'm seeing the same weird error:

`"QueueUrl": "http://http://localstack:4566/000000000000/qtest"`

Which might explain the issue, I'll dig into this

[2021-03-11 13:30] justinIs opened #3703 "LocalStack not starting up (Mac OS 11.2.3)"
# Type of request: This is a ...

[ x ] bug report
[ ] feature request

# Detailed description

I am using docker-compose for my localstack container. The only service I have running in localstack is SQS.

The only other service I have running here is redis.
I updated to the latest version of macOS last night, I haven't seen this issue before the update:

LocalStack seems to be hanging as making r

[2021-03-11 16:21] mengmengzh opened #3705 "Lambda can't find provided.al2 runtime"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I'm trying to run a lambda function that uses the al2 runtime as a base, but it's showing this in the logs:
`ERROR: 'docker pull localstack/lambda:provided.al2': exit code 1; output: b'Error response from daemon: manifest for localstack/lambda:provided.al2 not found: manifest unknown: manifest unknown\n'`

[2021-03-11 16:28] mgagliardo commented on #3705
Hello @mengmengzh, would you please show me what commands are you executing, OS, docker version, etc? [The following code](https://github.com/localstack/localstack/issues/3334#issuecomment-779342309) works for me:

`$ awslocal lambda create-function --function-name foo --role somerole --runtime provided.al2 --handler hello --zip-file fileb://hello.zip`

[2021-03-11 16:39] mgagliardo commented on #3703
Hello @justinIs, would you please pull the `latest` docker image instead of `0.12.7` and provide specific information about your docker version?  Also please try to remove everything under your local directories in case there's anything cached around and/or restart your system.

In my case, I was unable to reproduce this under:

* Mac OS Big Sur 11.1
* Docker version 20.10.5, build 55c4c88

My log

[2021-03-11 16:39] mengmengzh commented on #3705
Sure, I'm on Linux (Ubuntu), docker 20.10.1
docker-composer.yml:
[code]

[2021-03-11 16:47] justinIs commented on #3703
Thanks for the response @mgagliardo

I selected the latest tag and removed my local volume. It worked.

I was tearing down with
[code]

I assumed that it would delete my local volumes, however the directory was still there.

After clearing the directory and using the latest image, everything is working again.

Thanks. Apologies for any wasted time.

[2021-03-11 16:47] #3703 closed

[2021-03-11 16:53] mgagliardo commented on #3703
Glad to know it worked, you can use that one or `docker volume prune -f` to remove all the docker volumes created. No worries we are here to help you out as well. Cheers mate.

[2021-03-11 17:17] mgagliardo commented on #3705
I have run the same code I sent you before with the `docker-compose.yml` a bit modified, please note:

docker-compose.yml (no need to add `LAMBDA_CONTAINER_REGISTRY`):
[code]

debug logs from localstack:
[code]

docker ps:
[code]

[2021-03-11 17:17] #3705 closed

[2021-03-11 17:54] efenderbosch commented on #3697
I think this needs to be re-opened for multipart presigning. If I use a real access key/secret and point to real S3, my multipart-presign request and use of the presigned-url work. If I use test/test and point to localstack, it fails.

[2021-03-11 18:10] mengmengzh commented on #3705
Actually, I just realized the issue seems to be the PRO version? A simple test works fine when I don't include my LOCALSTACK_API_KEY but as soon as I do the error shows up with a simple hello world.

[2021-03-11 18:55] mgagliardo commented on #3705
I could not reproduce this issue either adding the `LOCALSTACK_API_KEY`. Localstack version remains the same.

[2021-03-11 22:23] kenbarnettpt opened #3706 "Unable to fetch template body exception with cdklocal deploy"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
Deploying a CDK stack under cdklocal/localstack is throwing the following error:
`Exception: Unable to fetch template body (code 0) from URL https://s3.us-east-1.localhost/cdktoolkit-none-542d7434/assets/c69358cb0afe18dc5c97dc06107604b1a77f4e238de448f6286ab2bee582ceae.json`

Under WSL2 Debian, the followin

[2021-03-11 23:16] akuzni2 opened #3707 "DAX support?"
# Type of request: This is a ...

- [ ] bug report
- [x] feature request

# Detailed description
Looking to see if AWS DAX will be supported? The DynamoDB Accelerator

## Expected behavior

DAX works with localstack

https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Operations_Amazon_DynamoDB_Accelerator__DAX_.html

## Actual behavior

DAX not in localstack

# Steps to reproduce

[2021-03-12 01:18] mgagliardo commented on #2816
@dgolubev found the issue, you have a typo on your `docker-compose.yml`:

`HOSTNAME_EXTERNAL=http://localstack` should be `HOSTNAME_EXTERNAL=localstack`

[2021-03-12 01:22] mgagliardo commented on #2816
I took some time to try to reproduce the first issue why this was all open, and given that I was unable to reproduce the last report as well, I consider this as closed.

[2021-03-12 01:22] #2816 closed

[2021-03-12 05:51] Tobolov opened #3708 "Dashboard Resources Overview - No resources found"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
Visiting the page `https://app.localstack.cloud/resources` always shows `No resources found. Please start by creating some resources in your LocalStack instance on localhost.`.
As validation that LocalStack is setup correctly locally, I can still view resources in the other resource tabs.

# Cause of bug

[2021-03-12 06:07] Tobolov opened #3709 "CloudFormation - AWS::IAM::Role ManagedPolicyArns not working"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description
When creating an IAM Role with Cloudformation, the ManagedPolicyArns are not applied to the resource as expected.

The reason these attributes are required is that I wish to use them in conjunction with the `IAM Security Enforcement` feature of LocalStack.

## Expected behavior
Creating an IAM Role with C

[2021-03-12 12:47] diegosasw opened #3710 "Could not load file or assembly System.IO.Pipelines when running lambda in localstack"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
I am getting errors when running a C# lambda on dotnetcore3.1 that has been created using Amazon templates. When running the exact same (following the exact same steps in AWS CLI) in a real AWS everything works well.

Why the difference? Why is my lambda in localstack complaining about not being able to lo

[2021-03-12 13:44] ismferd opened #3711 "Loosing subnets tags"
# Type of request: This is a ...

[X] bug report

# Detailed description

Hi,

I'm creating and tagging subnets. When I print tags in my test class I can see it, nevertheless I'm losing tags in somewhere when I call the class that I would like to test.

## Expected behavior
Having subnets tag in everywhere.
...

## Actual behavior
I'm losing subnets tags.
...

# Steps to reproduce
[code]
print out

[2021-03-12 14:20] mgagliardo commented on #3711
You are not actually loosing tags, you are listing different subnets for different VPCs.

Test Class:
[code]

importSubnets:
[code]

I am taking a shot here (have not actually tried the code) but I think your problem comes on this part of the code, you are requesting the subnets from the default VPC:

[code]

You can try `awslocal ec2 describe-subnets` to check if the subnet actually matches anoth

[2021-03-12 14:24] ismferd commented on #3711
Sorry, output from differents tries:

This is the correct one:
[code]

[2021-03-12 14:32] ismferd commented on #3711
mmm... Intersting:
I can't see tags doing
[code]

[2021-03-12 14:33] mgagliardo commented on #3711
Oh that is indeed weird. What release version are you using (please confirm you are using the `latest` release)? OS, docker versions always help as well.

[2021-03-12 14:36] mgagliardo commented on #3711
Please try this (got it from [this example](https://docs.aws.amazon.com/sdk-for-java/latest/developer-guide/examples-ec2-instances.html):

[code]

[2021-03-12 14:37] arc2021 commented on #3673
I am using the localstack 0.12.7 version(The docker images is pulled into corporate internal registry). When I run docker-compose up, it says Services are ready but when I hit the url  https://0.0.0.0:4566 or http://localhost:8080 its not working.   I see in many posts this issue was reported but I haven't seen a concrete solution. Can some one please help?

version: "3"
services:
  localstack:

[2021-03-12 14:38] arc2021 opened #3712 "https://0.0.0.0:4566 not working"
I am using the localstack 0.12.7 version(The docker images is pulled into corporate internal registry). When I run docker-compose up, it says Services are ready but when I hit the url  https://0.0.0.0:4566 or http://localhost:8080 its not working.   I see in many posts this issue was reported but I haven't seen a concrete solution. Can some one please help?

version: "3"
services:
  localstack:

[2021-03-12 14:40] ismferd commented on #3711
[code]

[code]

[2021-03-12 15:07] mgagliardo commented on #3712
Hello @arc2021, could you please provide more info? OS, docker version, etc?

On the other hand, the right URL is always `http://localhost:4566` for API calls as the WEB UI is not available on the standard version (only the full, as stated on the docs).
On the other hand, the right `official` image is `localstack/localstack:$VERSION` (unless you are using something custom).

For example, try the f

[2021-03-12 16:30] ismferd commented on #3711
@mgagliardo you are right!

[code]

That works as I expected!
Thanks!

[2021-03-12 16:30] #3711 closed

[2021-03-12 16:52] arc2021 commented on #3712
thanks for the quick response @mgagliardo.
Here are the details OS: Windows 7 enterprise, docker version:  18.02.0-ce
The Docker website not directly accessed due to corporate firewall. We pulled the localstack latest version 0.12.7 and its maintained internal image repo. I am not able to access through aws cli as well.

[2021-03-12 17:13] mgagliardo commented on #3712
Can you docker exec into the container and test it?

[2021-03-12 19:05] efenderbosch opened #3713 "S3 presign signature validation fails and tags are missing for multipart uploads"
# Type of request:

This is a bug report.

# Detailed description
* S3 multipart presign signature validation fails using latest Docker image (as of 2021-03-12), works using 0.12.7
* multipart uploads do not have tags after upload has been completed

## Expected behavior
* S3 multipart presign signature validation should work the same as S3 (and previous versions of localstack)
* completed multipa

[2021-03-12 20:03] arc2021 commented on #3712
@akuzni2  I still can't access http://localhost:4566/ through aws-cli

version: "2.1"
services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: /container-internal/docker.io/localstack/localstack:0.12.7
    network_mode: bridge
    ports:
      - "4566:4566"
      - "4571:4571"
      - "${PORT_WEB_UI-8080}:${PORT_WEB_UI-8080}"
    environment:
      - SERVI

[2021-03-12 21:26] mgagliardo commented on #3712
I have tested on Mac and Linux as well using [this docker-compose](https://github.com/localstack/localstack/blob/da5bf3877f28da4f8ab693bc2fc98a6cae22124e/docker-compose.yml) you sent me before and `latest` docker image. Both went well and no errors on my end.

I can guess as you are behind a corporate firewall you are having issues with that, either that or your docker image is not starting well,

[2021-03-12 21:26] #3712 closed

[2021-03-12 21:27] johnsmith-coder opened #3714 "How To Mock Terraform data "aws_ami" Data Source For Localstack"
# Type of request: This is a general Localstack query...

[ ] bug report

# Detailed description
Hi, I am new to Localstack and am trying to see if I can get an EC2 instance I have already configured and running with Terraform to run in Localstack. However I am getting an error related to the Terraform "aws_ami" data source which I think should be either mocked or ignored but I don't know how.

##

[2021-03-12 22:15] jbarbuto commented on #3464
We found this behavior was being caused by not including an AWS account ID in the `Authorization` header. This meant the regexp at https://github.com/localstack/localstack/blob/bc9b10955b6ea254087c013eef244169c8663f80/localstack/utils/aws/aws_stack.py#L188 failed to replace that portion of the header with `INTERNAL_AWS_ACCESS_KEY_ID`, which eventually leads to a deadlock.

If this applies in your

[2021-03-12 22:59] rvignacio commented on #1634
Hello, could this be affecting LocalStack's APIGatewayV2? I am running a V2 integration and getting this same error. My object extends APIGatewayV2HTTPEvent.

[2021-03-12 23:58] arc2021 commented on #3712
The localstack  comes up perfect and I can see its in Ready status on logs.
Tried through aws-cli event that's  throwing connection error.

$ aws cloudformation create-stack   --endpoint-url http://localhost:4566   --stack-name samplestack   --template-body file://sample.yaml   --profile localstack

Could not connect to the endpoint URL: "http://localhost:4566/"

[2021-03-13 01:15] mgagliardo commented on #3712
So you are running this on another server? Or are you using the awscli
command on the same server as where localstack is running? What happens if
you try to telnet to the IP where localstack is running? Can you show me
output of the netstat command to see if localstack is actually working and
listening on 4566?

On Sat, Mar 13, 2021, 00:58 arc2021 ***@***.***> wrote:

[2021-03-13 01:31] seveibar opened #3715 "Respect "Accept: application/json" Header to return results as JSON not XML"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

The AWS API will return a JSON response if `Accept: application/json` is put on requests. e.g. for SQS one can request `<queue url>?Action=ListQueues` with `Accept: application/json` and get...

[code]

## Actual behavior

XML is always returned.

# Steps to reproduce

## Client code (AWS SDK code snippet

[2021-03-13 04:17] seveibar opened #3716 "Support for Authorization Parameters in GET Parameters (instead of header)"
[X] bug report
[ ] feature request

# Detailed description

The AWS API supports Authorization parameters as GET parameters, e.g. here's a GET request to SendMessage on SQS:

[code]

## Expected behavior

Should send the message and return receipt information.

## Actual behavior

Returns...

[code]

[2021-03-13 06:56] KarlKl commented on #3522
I can confirm that it is working in most cases. 🙈 The provided code example originally added to this report is working. 👍
Some strange behavior I have found is the following:
[code]
The space char "breaks" the signature, the signature created isn't valid and I'm getting a 403 like before. I think the original AWS implementation does somehow parse the Content-Disposition and trims spaces before sig

[2021-03-13 16:20] seveibar commented on #3716
@usmangani1 I think I'll have a fix for this today.

[2021-03-13 19:28] lorengordon opened #3719 ""Invalid endpoint" when using default container name and docker network"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When connecting to localstack over a docker network, from another container, the default container name `localstack_main` is not a valid endpoint (according to awscli, anyway). Fairly sure this is because of the underscore (`_`).

I figure you won't want to change that default, so I'm kind of just opening

[2021-03-13 20:35] mgagliardo commented on #3719
Hello @lorengordon, thanks for reporting this.

As you can see on [this config file](https://github.com/localstack/localstack/blob/master/localstack/config.py#L176) there's an environment variable (you can also pass at runtime) called `MAIN_CONTAINER_NAME`.

So you can do this:

[code]

And then connect any of your containers to `http://localstack:4566` which is the name of the container in this c

[2021-03-13 20:35] #3719 closed

[2021-03-13 20:38] lorengordon commented on #3719
@mgagliardo All good, I'm aware of the env, you posted my _exact_ workaround in the OP 😉

[2021-03-13 20:44] mgagliardo commented on #3719
Right, I see you edited and I did not refresh the post though, Cheers! :)

[2021-03-13 20:51] ben-elsen commented on #1783
Same here, any update?

[2021-03-13 21:50] timoguin commented on #1268
@macnev2013 Is this feature actually available in the pro version? I've been going over the docs and can't find any mention of Organizations being supported. I see @mdaniel's helpful comment detailing how to do this manually with moto, but I'd prefer to avoid that extra setup if possible.

[2021-03-14 01:12] mgagliardo commented on #3714
Hello @johnsmith-coder, thanks for reporting this.

So basically the `describe-images` API is taken from the moto library [here](https://github.com/localstack/moto/blob/master/moto/ec2/responses/amis.py#L42), as far as I can see there's a JSON set of AMIs [here](https://github.com/localstack/moto/blob/9bfd95476b6ff55a510ea8b0ba77f98598bbf4b5/moto/ec2/resources/amis.json), so if you do (for example

[2021-03-14 02:36] jordan-cote commented on #1783
+1
Same here

[2021-03-14 13:30] whummer commented on #3675
Thanks for the update @mukundbayyaram @monty16597 . This should be fixed in #3717 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-03-14 13:30] #3675 closed

[2021-03-14 13:34] whummer commented on #2596
Thanks for the update @robertbullen @adam-fowler @macnaughton @lsena . We have recently pushed a fix in #3717 which should fix the Docker startup in Github actions (which might be related to the issues you've been facing). Can you please pull the `latest` Docker image and give it anothery try? Please let us know if the problem still persists. Thanks!

[2021-03-14 17:08] BenRbtz opened #3722 "Lambda fails while trying to open an image within the lambda source"
[x ] bug report
[ ] feature request

# Detailed description
I've deployed a lambda to localstack (docker-mode) and tried to access an image within the lambda source. However, the lambda throws a permissions issue when trying to open it. I've also ran it within AWS and it's able to access the image without any permission issues.

docker-compose.yaml
[code]

lambda source
[code]

## Expected behavio

[2021-03-14 20:22] afbarbaro opened #3723 "Version 0.12.7 released by not yet published to pypi.org"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Release 0.12.7 is available for download here: https://github.com/localstack/localstack/releases/tag/v0.12.7
but it's not yet published as a pip package so it can't be pulled via `pip`.  Version 0.12.6 is the latest published on pypi.org: https://pypi.org/project/localstack/

...

## Expected behavior
Late

[2021-03-14 21:21] #3716 closed

[2021-03-14 22:22] puppeteer701 commented on #2965
I am experiencing the same issue still on the latest version.

[code]

Running a golang server with `MessageAttributeNames=[]*string{All}`

[2021-03-14 22:48] puppeteer701 opened #3725 "SQS receive message MessageAttributes part of Body"
[x] bug report

Localstack: latest version - 0.12.7

On sqs receive message, `MessageAttributes` is part of a body.

[code]

Running a golang server with `MessageAttributeNames=[]*string{All}`

[code]

Docs of aws suggest it should be part of `Message` not `Message.Body`.

https://docs.aws.amazon.com/cli/latest/reference/sqs/receive-message.html

[code]

[2021-03-15 01:33] gregplaysguitar commented on #874
@whummer I'm trying to subscribe a queue to a platform application in localstack, and getting the 404 saying the topic arn doesn't exist, for both the platform and endpoint arns. Is there a trick to this?

[2021-03-15 01:40] #3714 closed

[2021-03-15 01:40] #3687 closed

[2021-03-15 01:42] mgagliardo commented on #3692
Sorry for the delay, can you show me your docker compose?
OTOH the WEB UI does not work on the standard version as stated on the docs.

[2021-03-15 02:20] arturo-myota opened #3726 "Inconsistent behavior when accessing using go S3 sdk"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
Using go sdk github.com/aws/aws-sdk-go v1.29.1

I can list objects stored in S3 using the go sdk github.com/aws/aws-sdk-go v1.29.1
Attempting to download them fails regardless of how the object's key is specified.
If the same key returned from ListObjects is used, then a download of that key returns 404.

[2021-03-15 04:52] evictor commented on #732
If you have `curl` and [`jq`](https://stedolan.github.io/jq/) (or can install `jq`—it's lightweight and pretty nifty, I installed via `brew`), you can do the following to get a command that will `exit 0` if the status of all services is "running", or `exit 1` otherwise:

[code]

[2021-03-15 11:32] johnsmith-coder commented on #3714
Hi @mgagliardo thank you very much for looking at this and thank you for your reply. Yes please and this to the list of things to implement. I played around with the 'owners' field, I didn't know that a lot of AWS AMIs are owned by '801119661308' but I also noticed that a lot are owned by '137112412989', do you know why this is? Just curious.

[2021-03-15 11:37] mgagliardo commented on #3714
Hey @johnsmith-coder, I guess it is something on moto's end, they are probably using repeated examples or something like that. I'll put this on my pipeline but this one can be closed as only the filters feature is missing.

[2021-03-15 13:49] theodorebourgeon commented on #3700
It works for me with the new docker version (on MacOs) and this specific port forwarding ! @mgagliardo

[2021-03-15 14:03] klaymo opened #3727 "Lambda environment variables not available to Container Image invocation [Pro]"
[x ] bug report

# Detailed description
Creating a lambda container image function, the environment variables configured with the function do not seem to be passed to the Docker invocation of the associated container image.

## Expected behavior

Any configured environment variables in the lambda function configuration (get-function) should be passed to the container image via `docker run` (I assu

[2021-03-15 14:58] freakbite opened #3728 "Unable to extract attribute "PhysicalResourceId" from "EC2::Route""
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
Cloudformation create stack fails on AWS::EC2::Route

2021-03-15T14:23:36:INFO:localstack.utils.cloudformation.template_deployer: Action "create" for resource type EC2::Route not yet implemented - using fallback mechanism

2021-03-15T14:23:36:INFO:localstack.utils.cloudformation.template_deployer: Unable

[2021-03-15 15:30] sebbsn opened #3729 "Wrong Etag for S3 CopyObject on Multipart Source"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description

I need to test cases of Copying multipart objects on S3 for which source and destination will have different chunk sizes.

Copying a non-multipart object to a multipart object works as expected with localstack.
Copying a multipart object to another multipart object where both have different chunk sizes a

[2021-03-15 16:27] duongpv7 commented on #983
Thanks for reporting @ladams81, @oripwk, @rsosnin, @toddtarbox-vertex.
We added an integration test with java lambda zip files in #3704, can you please pull the latest Docker image and give it another try?
Please let us know if the problem persists. Thanks

[2021-03-15 16:27] #983 closed

[2021-03-15 16:32] duongpv7 commented on #2090
Thanks for reporting @david-kingsbury-bah , @dingwenxiao , @martin-sommerseth
We added an integration test with some type of java lambda zip files in #3704, can you please pull the latest Docker image and give it another try?
Please let us know if the problem persists. Thanks

[2021-03-15 16:34] #2237 closed

[2021-03-15 16:39] #3510 closed

[2021-03-15 16:43] duongpv7 commented on #2199
Hi @fiLLLip, can you provide your full template to help us reproducing this issue?
Thanks

[2021-03-15 16:48] seveibar commented on #3715
I've released a pip module for converting XML responses to AWS-structured JSON. It should make this substantially easier: https://pypi.org/project/awsxmltojson/

[2021-03-15 16:49] duongpv7 commented on #3421
Hi @ravithejappl, can you share your `serverless.yml` file to help us reproducing this issue?
Thanks