[2021-10-18 20:21] #4716 closed, assigned to dfangl

[2021-10-18 21:41] jswager opened #4751 "feature request: Implement DeleteLaunchTemplate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Implement DeleteLaunchTemplate.  This showed while executing Terraform files that required a too-big-to-edit change to a launch template.  Terraform fails with a cryptic error, but looking at the LocalStack output, it was clear....
[code]
Also confirmed by using `aws ec2 delete-launch-temp

[2021-10-18 22:24] Tobolov opened #4752 "bug: Localstack Managed Pods - Pull response 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems that the managed backend for pods is currently broken. When going to pull a cloudpod using the managed backend, I received the below exception.
[code]

### Expected Behavior

The pod is pulled successfully and the command exits with status code 0 gracefully.

### How are you starting

[2021-10-18 23:53] #4611 closed

[2021-10-19 05:24] bcv commented on #4748
Thanks @thrau  but that did not work either
[code]

However if I start individual services it works fine
like

[code]

[2021-10-19 06:24] meichhorn-conet opened #4753 "feature request: Update Elastic Search to 7.10 for supporting case insensitive term queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

As a DEVELOPER for a Bayer project we need LocalStack with Elastic Search version 7.10.

In version 7.10 `case_insensitive` option were be added. [Term Query Doc](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/query-dsl-term-query.html)

## Remarks
- 7.10 is the latest versio

[2021-10-19 07:25] mgagliardo commented on #4753
Hello @meichhorn-conet, have you tried with the param [ELASTICSEARCH_DEFAULT_VERSION](https://github.com/localstack/localstack/blob/f720fe42e727c2c290d7babea3363bf7f8a357f8/localstack/services/es/cluster.py#L70)? You should be able to set that up to 7.10.2 (for example) and make it work, let me know if you need anything!

[2021-10-19 07:56] dfangl commented on #4748
Hi!
Installing the dependencies for StepFunctions currently only works with docker available.
If you do not need that functionality, you can try enabling every service but StepFunctions, to get it to work.
If StepFunctions are needed, I am afraid you currently need docker to download them.
You could, however startup LocalStack on a Host with docker, and copy the `infra` directory under your locals

[2021-10-19 08:50] chezsmithy commented on #2550
I have pushed a DRAFT PR with changes to allow building local arm versions of Dockerfile-base and Dockerfile. https://github.com/localstack/localstack/pull/4754

Next up, we need to think about adding in docker buildx build support into the makefile and cirlcleci configuration. This is going to take a bit of a change, because manifested builds can't be stored on the local amd64 machine executor in

[2021-10-19 09:42] mgagliardo commented on #4753
On the OpenSearch side, while the team is working on it, I think for now you can [run your own ES cluster](https://github.com/localstack/localstack/blob/master/doc/external_services_integration/elasticsearch/HOWTO.md).

[2021-10-19 09:46] dfangl commented on #4729
Quick update: A fix for this behavior is implemented. I will close this issue once the PR is merged and available in LocalStack.

[2021-10-19 12:35] FreakyTea commented on #3816
Hi,

can confirm that with current latest image, all is working like a charm!

Thanks :)

[2021-10-19 12:48] thrau commented on #4406
Also, persistence works now https://github.com/softwaremill/elasticmq/pull/547 is merged

[2021-10-19 14:44] Oleg26Dev opened #4756 "SQS: Does it have UI?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Does SQS have an UI like ElasticMQ has  to check the queues state?

(UI is bundled with both standard and native images. It is exposed on the address that is defined in rest-stats configuration (by default 0:0:0:0:9325).
https://github.com/softwaremill/elasticmq)

### Anyth

[2021-10-19 14:48] webaaz opened #4757 "question: network bridge or not?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I use localstack and it was working well with SQS.

Now I need to add lambda and trigger.

The command ```localstack config validate```
Tell me that my network should be problematic
```WARNING:bootstrap.py: Network mode is not set to "bridge" which may cause networking issu

[2021-10-19 17:12] dianapps-vaibhav opened #4759 "Getting error : The security token included in the request is invalid."
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Stuck with an issue where running

Installed localstack via
pip install localstack

Then

AWS_PROFILE=default PLATFORM=punga SERVICE_BASE_PATH=auth SERVERLESS_ENV=local NODE_ENV=local sls deploy --verbose --aws-profile default --stage local --config stacks/punga-db/serverle

[2021-10-19 19:37] whummer commented on #4759
Thanks for reporting @dianapps-vaibhav . Looks like you're missing the `serverless-localstack` in the `plugins:` section. Please see here for more details on how to configure it: https://github.com/localstack/serverless-localstack

Hope that helps - please let us know if you're facing any other issues configuring the Serverless plugin. Thanks!

[2021-10-19 19:57] dominikschubert commented on #4713
@olup Could you please add the serverless template you're trying to deploy?

[2021-10-19 20:43] micheleangioni commented on #4720
Hey @dfangl , thanks for your answer.

I've added the container logs as you suggested, here you can see the output: https://github.com/micheleangioni/sls-node-ts/runs/3944281825 .
Let me know if I can provide further help.

[2021-10-20 07:42] chezsmithy commented on #2550
@navels if you want to try things out. Pull down this branch, and setup the python environment, then run:

`make docker-build-mac-arm64`

That should output you a local arm ready build of the localstack/localstack:latest you can play with. Let me know how it goes.

[2021-10-20 08:36] dfangl commented on #4720
@micheleangioni Actually, could you move that build step after the test execution? So we can also see the requests the tests make.
Generally, from what I see, a first guess is a region mismatch between the table creation and the queries itself. With 0.12.17, multi region support was added to LocalStack, depending on the request. If you tests ask for us-east-1 tables, but eu-west-1 tables are creat

[2021-10-20 12:51] ivanmartos opened #4761 "bug: S3 terraform issue with object_lock_configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have running localstack in docker (via docker-compose file) and I want to create s3 bucket via terraform
Every run of `terraform apply` wants to recreate s3 bucket due to change in `object_lock_configuration`

This is output of every `terraform apply` command
[code]

### Expected Behavior

[2021-10-20 13:48] #4729 closed, assigned to dfangl

[2021-10-20 15:58] ivanmartos opened #4763 "bug: S3 notification to SQS on object uploaded via Presigned POST does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm running localstack via docker-compose file. AWS resources I'm defining with terraform.

docker-compose.yml
[code]

Terraform config
[code]

curl for uplaoding via presignedl url
[code]

Funny thing is that if I have notification events set as `["s3:ObjectCreated:*"]` and I upload via pres

[2021-10-20 18:59] jswager opened #4764 "bug: Simultaneous ECR repo creations fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This was found in the licensed Pro version of Local Stack.
[code]
When multiple ECR repos are created at the same time, they'll all be created - partially - but some will fail to create properly. This was found using Terraform.  This snippet of Terraform code will demonstrate the problem:
[co

[2021-10-20 19:49] jswager opened #4765 "bug: Cannot delete an ECR registry when specifying a registry-id; can only delete by repository-name."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Found with LocalStack, licensed Pro version:
[code]

When a ECR registry is created, then destroyed, it cannot be destroyed when specifying a registry-id, only by repository-name.  If an ECR registry exists called `alpha`, with a registryId of `12345`, then the command
[code]
Only the command

[2021-10-20 21:09] #4720 closed, assigned to dfangl

[2021-10-20 21:57] pinzon commented on #4630
@msmucker Thank you for the code it helped a lot to see what was happening.

This is a really bad mix of situations. First Localstack dropped support the DEFAULT_REGION var in favour of Multi Region support, which normally is not a problem until someone uses the C# AWS SDK. Note that every SDK is gonna use us-east-1 by default.

Normally the AWS SDKs like for Java or Javascript allow the user to s

[2021-10-20 23:58] chezsmithy commented on #2550
I'm not using Rosetta at all, I don't think. I defiantly have those ENVVARS from other Ruby work I've been doing in my .zshrc. So that makes complete sense.

[2021-10-21 00:02] chezsmithy commented on #2550
Current status. I've got both arm64 and amd64 builds running now locally and on CircleCI. I'm looking at tests now. 28 are failing for me locally, and I believe the majority are due to testing lambdaci images which aren't compatible with ARM, and I see the test runs failing in circleci on arm. I'd like to refactor the testing approach to spin up a docker image and then run the tests against it lik

[2021-10-21 00:06] navels commented on #2550
I'm using the build now locally but our app only uses S3 so not a very comprehensive beta test :-)

[2021-10-21 07:39] nudelx opened #4767 "bug: aws commands returning 500 Internal Server Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

all aws cmd is being rejected with following error

`❯ aws --endpoint-url=http://localhost:4566 sqs create-queue --queue-name  importer_queue

Unable to parse response (syntax error: line 1, column 54), invalid XML received. Further retries may succeed:
b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HT

[2021-10-21 12:09] 1ma opened #4769 "question: No longer possible to wait for initScripts:initialized?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

A [recent commit](https://github.com/localstack/localstack/commit/f41b25cc8d68e97ce8eacd4374ded4a8072e50f6#diff-368e25a43c4a3200ecb9ae21e7b2a94da05d8eb24680bd6c2a37ee0e275bcd0aL67) scrapped the `{"features:initScripts":"initialized"}` feature that my team was relying on to

[2021-10-21 14:01] brucekaufman commented on #4443
hi @whummer I was able to get permission to open this repo up to the public -

https://github.com/himarley/microservice-prototype

I am going to work on improving the documentation here and probably adding some automation around deployment of the contrived services.  One thing to note is that the debug functionality is currently broken with the newest version of localstack - I put up a PR last nig

[2021-10-21 14:55] nudelx commented on #4767
yes, you absolutely right, my `.aws` folder was corrupted. So sorry, it was my mistake.
Thank you for your help  :)

[2021-10-21 14:55] #4767 closed

[2021-10-21 16:30] thrau commented on #4769
should be back to normal. container will be deployed in about 45 minutes. please give it a whirl then

[2021-10-21 20:23] nickcaballero opened #4771 "question: Use HTTP proxy when downloading resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I'm running Localstack inside minikube on macOS. Due to the networking configuration in macOS, I need to use an HTTP proxy whenever I'm connected to a VPN.

This means that Localstack fails to start inside minikube when the host is connected to a VPN. The issue came up when

[2021-10-21 22:25] jswager opened #4772 "feature request: StartInstanceRefresh not implemented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using the licensed version of LocalStack Pro
[code]
When using a Terraform file that is modifying a previously created Autoscaling Group, encounter this error from Terraform:
[code]
And from the LocalStack debug trace:
[code]
For the purpose of my work, I'm not looking to actually start new E

[2021-10-21 23:02] snowe2010 opened #4773 "question: Failure to deploy using cloudformation without stage"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Encountering an error when trying to deploy a cloudformation package. It appears it might be related to [this SAM bug](https://github.com/aws/serverless-application-model/issues/191), but I can't be entirely sure, as I do not understand all of this very well.

If I need to

[2021-10-22 08:51] egobrain opened #4774 "question: no deps on clean localstack install"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I'm running `pip install localstack` and `localstack start --host` and getting errors that python libraries are not installed
[code]

Whole list of libs, that must be installed manually:
moto flask_cors h11 hypercorn quart readerwriterlock

Is it an issue, or i'm doing some

[2021-10-22 08:53] #4774 closed, assigned to nobody

[2021-10-22 09:24] dominikschubert opened #4775 "feature request: Predefine appsync API id like in APIGateway"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In LocalStack we can specify a Tag on the API gateway to ensure it will be assigned a predefined value for the ID.
Normally this would be autogenerated without the user having a way to know it in advance.
To simplify testing, this additional functionality (that knowingly deviates from AWS

[2021-10-22 16:17] LINDFJ25477-pki opened #4776 "bug: Services do not start, log flooded with python errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Beginning from version 0.12.19.1, LocalStack has started to behave badly. The Docker log is full of this sort of error messages (see below). When trying to check the state of the specified services from the health endpoint, they all are shown to be in error state, or the endpoint doesn't even

[2021-10-22 18:51] ramakot opened #4777 "bug: Creating SQS with aws cli fails with "Unable to parse response" error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am able to start localstack. while creating Queue I am getting the following error

[code]

Localstack logs:
[code]

### Expected Behavior

Should be supposed SQS create queue

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you start

[2021-10-24 01:12] lefnire opened #4779 "bug: Unable to find Parameter Group: []*rds.DBParameterGroup(nil)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using `docker-compose.yml`:

[code]

Relevant [rds.tf file](https://github.com/lefnire/gnothi/blob/terraform/terraform/rds.tf) (adapted from [terraform-aws-modules/examples/postgresql](https://github.com/terraform-aws-modules/terraform-aws-rds-aurora/blob/master/examples/postgresql/main.tf)).

[2021-10-24 01:29] lefnire opened #4780 "feature request: RDS Proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Add service: [RDS Proxy](https://aws.amazon.com/rds/proxy/). Useful for RDS connections frim Lambda. I'm just disabling it from local and connecting directly to RDS, which is fine - but nice to have same setup local v live

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No res

[2021-10-24 10:29] yonatandbinahai opened #4781 "EventBridge - events from SSM not triggering lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Changes in SSM are not triggering the lambda defined in the EventBridge rule

### Expected Behavior

Target lambda should be triggered by the rule

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/locals

[2021-10-25 02:11] mboudreau opened #4782 "bug: Localstack fails to boot up if SQS endpoint hit too soon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have an app that runs locally in docker-compose.  That app tries to poll an SQS queue of `http://127.0.0.1:4566/000000000000/test` as soon as it starts.  However, if Localstack isn't fully initialized with the queue created (queue creation done through `docker-entrypoint-initaws.d`) before

[2021-10-25 13:14] Svaly opened #4783 "LocalStack SQS: using .NET AWS SDK program runs indefinitely when requesting messages with MessageAttributeNames = "All""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When requesting messages from localstack SQS using .NET SDK **with** option MessageAttributeNames = "All" **program never finishes.**

When requesting messages from localstack SQS  using .NET SDK **without** option MessageAttributeNames program works as expected (but of course it doesn't retu

[2021-10-25 17:44] #4764 closed, assigned to dfangl

[2021-10-25 17:45] #4765 closed, assigned to dfangl

[2021-10-25 21:50] #4761 closed, assigned to whummer, macnev2013

[2021-10-25 22:40] will-fagerstrom opened #4786 "bug: Redeploying lambda with CDK fails "localstack.services.awslambda.lambda_api.ClientError: Uploaded Lambda code for runtime (nodejs14.x) is not in Zip format""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using CDK to deploy a simple Lambda function the stack deploys first time and is successful.
Though when deployed a second time it fails.

If I change the name of the lambda it will be successfully.

### Expected Behavior

To redeploy and update the lambda successfully

### How are you s

[2021-10-26 05:12] Tobolov opened #4787 "bug: Localstack client doesn't install dependency flask"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Flask doesn't seem to be being installed when installing localstack via pip.
Needs to be installed manually.

[code]

### Expected Behavior

`localstack pod push` works as expected.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

1. Run `python3 -m p

[2021-10-26 11:05] gwasky opened #4789 "bug: Exception: Port 4512 (path: None) was not open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Creation of MSK Cluster using Cloudformation, fails with the error:
`Exception: Port 4512 (path: None) was not open`

`2021-10-26T10:49:09:DEBUG:localstack.utils.run: Executing command: java -jar /tmp/localstack/kafka/kafka-server-all.jar 4511 4512
2021-10-26T10:49:29:INFO:localstack.utils.ru

[2021-10-26 14:32] #4776 closed, assigned to thrau

[2021-10-26 15:41] ronpbinahai opened #4790 "Cognito forgotPassword returns 500"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Sending forgotPassword request fails with 500 error

### Expected Behavior

response 200

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker-compose.yml`)

docker

[2021-10-26 16:34] #4781 closed, assigned to whummer

[2021-10-26 19:16] #4787 closed, assigned to nobody

[2021-10-26 21:38] #4789 closed, assigned to whummer

[2021-10-26 21:49] achaphiv opened #4794 "bug: dynamodb to kinesis stream has `null` `OldImage` when deleting an item"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Here are the kinesis events from inserting/deleting a dynamodb item:

[code]

Note that the remove event has `OldImage` = `null`

### Expected Behavior

I expected `OldImage` to be `{"hash":{"S":"hash-691"},"range":{"S":"range-153"}}`.

### How are you starting LocalStack?

With a docker-comp

[2021-10-27 05:19] tinaboyce opened #4795 "bug: SSM PutParameter from AWS JavaScript SDK v2 returns an error in latest docker version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This bug appeared in the latest version of the docker image (digest: 83a486229d5a) but it was working fine in the docker image with the tag 0.12.19.1

I am receiving the following error in the `console.log(err)`

[code]

### Expected Behavior

_No response_

### How are you starting LocalStac

[2021-10-27 09:32] #4725 closed, assigned to dfangl

[2021-10-27 10:34] aditya-dixit1 opened #4796 "bug: API Destination in CloudFormation template not supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Not able to create APIDestination using cloudformation template.
Error:

Stack status is "CREATE_FAILED". Error in the logs:
[code]

### Expected Behavior

CloudFormation Stack and all the resources should be created successfully along with APIDestination

### How are you starting LocalStack?

[2021-10-27 15:15] knmueller opened #4798 "bug: localstack process exits during CompleteMultipartUpload from AWS v2 Java SDK"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While uploading a large file (1GB) with the Multipart APIs in the Java AWS v2 SDK, the localstack process is terminating and restarting after receiving the `CompleteMultipartUpload` payload (different issue after this, but also hitting the KeyError after the process tries to restart - #2527 a

[2021-10-27 15:16] fuzzy28 opened #4799 "ERROR: java.util.LinkedHashMap cannot be cast to APIGatewayProxyRequestEvent"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Unfortunately, the issue exists in the current docker build

[code]

### Expected Behavior

Should work with the below dependency as it was closed and verified in the original ticket https://github.com/localstack/localstack/issues/1634

[code]

### How are you starting LocalStack?

With a `do

[2021-10-28 03:10] peterabbott opened #4801 "question: Running lambda in CI using REMOTE_DOCKER=true"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I have stared at this problem too long, I was wanting to see if anybody else has this scenario.

We have a setup that uses lambdas along with a bunch of other things. Our CI pipeline runs some integration tests which rely on those lambdas to processes some SQS messages.

In

[2021-10-28 11:21] #4771 closed, assigned to dfangl

[2021-10-28 13:19] mLupine opened #4804 "bug: Unable to download a layer from AWS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After specifying [the Git layer](https://github.com/mLupine/lambda-git) `arn:aws:lambda:eu-west-1:110966697890:layer:lambda-git-x86_64:1` as a layer in a LocalStack Lambda, LocalStack fails to download the layer's zip file.

[code]

The layer is shared publicly and there's no problem with usi

[2021-10-28 16:01] #4769 closed, assigned to thrau

[2021-10-28 18:55] robertam3 opened #4807 "bug: Invalid XML response for STS GetFederationToken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm seeing an XML parsing error when I try to use `GetFederationToken` with Localstack:
[code]

I dug into the xml response and there is a newline character in that URL:

[code]

Other STS actions (e.g. `GetSessionToken`) seem to be working as expected.

Note this issue was reported in the pa

[2021-10-28 22:01] #4801 closed, assigned to nobody

[2021-10-29 01:18] alins opened #4811 "How do you set the default kinesis region in the new world of multi-region?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I find the documentation super confusing on this point:

[code]

followed by

[code]

which one is it? is it removed or not?

I'm trying to set kinesis region (using `kinesis-mock`) . default region for `kinesis-mock` is `us-east-1` and I'm creating my stream *after* locals

[2021-10-29 08:53] #4763 closed, assigned to pinzon

[2021-10-29 13:35] nagaliri opened #4814 "IAM persistence via DATA_DIR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

IAM persistence in DATA_DIR directory so that when we restart the localstack, IAM users will be available.

### 🧑‍💻 Implementation

IAM persistence in DATA_DIR directory so that when we restart the localstack, IAM users will be available.

### Anything else?

_No response_

[2021-10-29 19:39] whummer commented on #4811
Hi @alins , please make sure to pull the `latest` LocalStack Docker image. If you're using the latest image, the region should be entirely determined by the client, and it should work like this:

[code]

Are you able to replicate these results? Please let us know if the problem persists.. Thanks!

[2021-10-29 19:39] #4811 closed

[2021-10-29 20:35] alins commented on #4811
yup, that works. awesome!!

[2021-10-29 22:34] thrau commented on #4434
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:34] #4434 closed

[2021-10-29 22:34] thrau commented on #4756
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:34] #4756 closed

[2021-10-29 22:35] thrau commented on #4478
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:35] #4478 closed

[2021-10-29 22:36] thrau commented on #1537
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:36] #1537 closed

[2021-10-29 22:36] thrau commented on #1421
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:36] #1421 closed

[2021-10-29 22:36] thrau commented on #1419
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:36] #1419 closed

[2021-10-29 22:36] thrau commented on #1316
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:36] #1316 closed

[2021-10-29 22:37] thrau commented on #1268
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:37] #1268 closed

[2021-10-29 22:37] thrau commented on #1233
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:37] #1233 closed

[2021-10-29 22:38] thrau commented on #2673
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:38] #2673 closed

[2021-10-29 22:39] thrau commented on #2116
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:39] #2116 closed

[2021-10-29 22:39] whummer commented on #4748
Thanks @dfangl for providing the details. Closing, as a workaround has been provided (customizing `SERVICES=...` to exclude stepfunctions). Please let us know if there are any other issues @bcv . Thanks!

[2021-10-29 22:39] #4748 closed

[2021-10-29 22:39] thrau commented on #1759
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:39] #1759 closed

[2021-10-29 22:40] thrau commented on #1315
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:40] #1315 closed

[2021-10-29 22:41] thrau commented on #3735
This feature is available in LocalStack pro. Should you have problems with the pro version, please let us know in Slack, thanks!

[2021-10-29 22:41] #3735 closed

[2021-10-30 00:25] zmcgrath96 opened #4817 "bug: boto3 SQS client has different return than awslocal cli on minikube"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have searched through the other issues on here and have yet to figure out why I am getting this issue. I have two centos pods running in my minikube cluster. I installed localstack on my cluster using the helm command below:

[code]

To make sure I set up localstack correctly I did this exp

[2021-10-30 03:22] steowens commented on #4056
I stopped using local stack and deployed my service to Fargate to run against real S3.   That fixed it.

[2021-10-30 09:21] milenkovicm opened #4818 "`requestContext.requestId` in lambda http event is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is an issue with api gateway and lambda integration (rust sdk). Deployed lambda will be invoked but event received will not have all required properties.

Local stack in use:

[code]

Event received from localstack api gateway does not contain  `"requestId": "xxxxxxxxxxx" ` in the `requ

[2021-10-30 11:38] macnev2013 commented on #1092
Hi @kgncan, Thanks for reporting the issue.
This should be fixed in the latest version of `localstack`. Can you please try again with the latest docker image of `localstack`?
Thanks.

[2021-10-30 11:44] macnev2013 commented on #4777
Thanks for reporting the bug @ramakot , I tried with the latest docker image - Not able to reproduce the issue. Can you please try with the latest docker image? We would be happy to get it fixed if the issue still persists. Thanks.

[2021-10-30 11:52] macnev2013 commented on #4160
Hi @thrau , @whummer . Apologies for the delay. This is fixed in the latest version of `localstack`.

Tested with:
[code]

Opening URL generated by presign into browser.

Can you give it a try ?

Thanks :)

[2021-10-30 17:37] whummer commented on #4804
Thanks for reporting @mLupine . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists - happy to look into it in more detail (ideally directly over Slack). Thanks for your help!

[2021-10-30 17:37] #4804 closed

[2021-10-30 18:12] #4786 closed

[2021-10-30 18:12] mLupine commented on #4804
I can confirm that it works correctly now. Thank you!

[2021-10-30 18:28] hairyhenderson opened #4820 "bug: The secretsmanager list-secrets command filters incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems that filters on the Secrets Manager ListSecrets method is incorrectly interpreted by localstack. A filter like `Key=name,Values=/` _should_ mean "any secret where the `name` starts with `/`. However, localstack seems to interpret this as "any secret where the `name` contains `/`".

#

[2021-10-31 15:27] bodnarbm opened #4823 "bug: S3 Copy Operation fails if source key contains embedded percent encodings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Bucket to Bucket or Key to Key copy operations fail with a 404 Not Found error during the CopyObject operation if the source key has an embedded percent encoding or other url encoding.

### Expected Behavior

Copy Operations should allow the source key to have an embedded percent encoding and

[2021-11-01 02:47] dustbort opened #4824 "No response from lambda function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I create a stack using AWS CDK via cdklocal. Everything seems to deploy fine. It reports output
[code]
 When I GET the resource through API Gateway at
[code]
 I get no response. Nothing is output to the console from the docker-compose. I check for some cloudwatch logs
[code]
 and it returns
[

[2021-11-01 07:20] awehrung opened #4825 "bug: API-Gateway-v2 creates APIs in unreachable domain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `awslocal apigatewayv2 create-api` command creates an API-endpoint under `<generated>.execute-api.localhost.localstack.cloud:4566`, which is an unresolved domain name, effectively making the API unusable.

[code]

I cannot add it to `/etc/hosts` since the file does not allow for wildcards

[2021-11-01 10:30] rohitsoman1010 opened #4826 "put-metric-filter API is not pulling metrics from JSON formatted log events using a filter-pattern"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Local Stack's put-metric-filter API is allowing custom metric with pattern filter for JSON formatted log events (for e.g. `$.element = <string>`) to be created but the metrics are not getting generated when new log events matching the filter pattern are ingested . However, metric filters with

[2021-11-01 12:37] sparrowt opened #4827 "bug: ssm put-parameter failing - failed to get service for events: service events is disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The following is failing on `localstack/localstack:latest` since 2021-10-26 (first noticed 18:00 UTC)
[code]
Errors in the logs:
[code]
Based on what was merged around that time #4788 may be the cause (also given [this comment](https://github.com/localstack/localstack/pull/4788#issuecomment-9

[2021-11-01 14:33] jappyjan opened #4829 "bug: Unable to resolve references in stack outputs when deploying with cdk"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running cdklocal deploy results in "CREATE_FAILED"

when adding --debug to "localstack start" i get the following error messages:

[code]

### Expected Behavior

it deploys

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting l

[2021-11-01 15:00] dustbort commented on #4824
When I start localstack with DEBUG flag enabled, I get some output on the docker-compose console. It correctly proxies the request to the lambda, but seems like the container doesn't start, or starts but doesn't execute.
[code]

[2021-11-01 15:25] whummer commented on #4779
Hi @lefnire , thanks for reporting this issue. We've now pushed a couple of enhancements which should (hopefully) get this resolved. Can you please pull the `latest` Docker image and give it another try?

FYI - we had to make a few adjustments to get it working end-to-end locally, pasting them below for reference:
[code]

When you run your tests, please make sure to start from a clean slate (remov

[2021-11-01 15:25] #4779 closed

[2021-11-01 16:18] dustbort commented on #4824
I was able to run `docker logs` on the container ID output with DEBUG enabled, and found that the problem was caused by a mismatched serde implementation in Rust.
[code]

I would expect some response from the lambda to indicate the error. https://docs.aws.amazon.com/apigateway/latest/developerguide/handle-errors-in-lambda-integration.html
Also, I would expect something to be written to the cloudwa

[2021-11-01 16:41] snowe2010 opened #4830 "bug: POST to lambda fails, while GET succeeds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

From [Slack](https://localstack-community.slack.com/archives/CMAFN2KSP/p1635372677052200), using [this gist](https://gist.github.com/crypticmind/c75db15fd774fe8f53282c3ccbe3d7ad) (just with `localstack start`, not docker compose), a GET call will succeed, while a POST fails with

[code]

part

[2021-11-01 17:42] robert-newman opened #4831 "bug: value of IsTruncated in the IAM List Users command should be returned in lowercase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am attempting to use the IAM ListUsersCommand and am getting the following error - Error: Unable to parse boolean value "False"

From digging into the library being used to parse the boolean value it is expecting a fully lowercase value however it seems from the error message that the value

[2021-11-01 18:18] ramakot commented on #4777
I have downloaded the latest docker and still issue exist. I am able to create S3 bucket But unable to create queue. when I try to execute the queue through aws cli (aws --endpoint-url=http://localhost:4566 sqs create-queue --queue-name test_queue). it's giving me localstack error is File "/opt/code/localstack/localstack/utils/server/http2_server.py", line 159, in index
    result = await run_sync

[2021-11-01 19:30] lefnire commented on #4779
@whummer thanks a lot for the terraform adjustments suggestions, above and beyond the localstack fixes - very appreciated. I'll report back when I test

[2021-11-01 23:40] whummer commented on #4830
Hi @snowe2010 , thanks for reporting and for providing the detailed reproducible sample 👍 . Looks like your API is defining a method for GET, but the method and method integration for the POST route seems to be missing.

We were able to get this working by adding the following commands prior to the call to `create-deployment` (note that only `GET` has been replaced by `POST`):
[code]

Can you plea

[2021-11-01 23:40] #4830 closed

[2021-11-01 23:48] snowe2010 commented on #4830
@whummer It did work with that. I didn't realize the script was setting it up as a GET rather than ANY. This was _supposed_ to replicate the cdk deploy I am running my lambda with. I will try to get a working example with cdk, rather than the gist above, as it still fails with pretty much what looks like the same deploy, but with CDK instead.

[2021-11-01 23:56] snowe2010 commented on #4830
I'm wondering if it's because my cdk is requiring an auth key...

[code]

[2021-11-02 00:04] bodnarbm commented on #4823
Just an quick update that spulec/moto#4514 merged into the upstream moto to address the issue there. If there's anything I can do to help with pulling that change into moto-ext, please let me know.

Thanks!

[2021-11-02 00:54] whummer commented on #4823
Thanks for the pointer @bodnarbm . 👍  This has now been released in the latest `moto-ext` release `2.2.3.8`. The `latest` LocalStack Docker image is being [built in our CI pipeline](https://app.circleci.com/pipelines/github/localstack/localstack/2327/workflows/4a729704-e3f1-4938-8115-0f4125bf78a0) right now and should become available in the next ~30 mins or so. Once done, can you then please pull

[2021-11-02 04:19] lee-butn opened #4832 "bug: Cognito Failed to create ResourceServer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Failed to create resource server of cognito : ```Error creating Cognito Resource Server: ResourceNotFoundException: Cannot find resource: Unable to find handler for API method 'CreateResourceServer'```

### Expected Behavior

Able to create resource server

### How are you starting LocalStack

[2021-11-02 04:20] lee-butn opened #4833 "bug: Service discovery return missing Namespace ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

lso getting error when create private DNS name in service discovery operation response missing Namespace ID
namespaceID, ok := operationOutput.Operation.Targets[servicediscovery.OperationTargetTypeNamespace]

	if !ok {
		return fmt.Errorf("error creating Service Discovery Private DNS Namespac

[2021-11-02 06:16] thujikun commented on #4697
Any update?

[2021-11-02 08:16] awehrung commented on #4825
I read in the Community-Slack that an alternative path can be used, which should solve my problem:

[code]

instead of

[code]

A couple of questions regarding this:
* Can this work without stages? My API seems to be deployed without needing to define one
* What is `_user_request_`? Should this be treated as a placeholder and if yes, what for?
* Is this alternative path mentioned somewhere in the

[2021-11-02 08:51] Dgame opened #4834 "question: Are there any plans to update/rename Elasticsearch parts to OpenSearch?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

AWS has changed / renamed its service to OpenSearch. Are there any plans to also use OpenSearch or to use the term OpenSearch instead of Elasticsearch?

### Anything else?

_No response_

[2021-11-02 09:38] thrau commented on #4834
Hi @Dgame, we don't have concrete plans yet, but it's definitely on my radar. I don't think we will rename existing elasticsearch code, but instead implement the opensearch API and use the official opensearch binary in the backend, which may take a while to get done.

[2021-11-02 10:07] dfangl commented on #4825
Hi @awehrung !
First of all, on the main issue: Can you get DNS records for `localhost.localstack.cloud`? This is a domain served by our DNS, which points to 127.0.0.1. Therefore, it can lead with certain Router/Resolvers DNS rebind protection. An example for this would be pfSense, which default unbound server has this protection on. Also AVM FritzBox routers show this behavior, often also corpora

[2021-11-02 10:10] thrau opened #4836 "feature request: support for additional DynamoDBLocal parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

DyamoDBLocal supports several CLI flags including `delayTransientStatuses`, which could be very helpful for testing cloud behavior.

[code]

### 🧑‍💻 Implementation

There is currently no mechanism to inject parameters into the dynamodb starter, or to define these variables via environment

[2021-11-02 10:16] dfangl commented on #4824
Hi @dustbort !
Thanks for reporting this. Currently, Lambdas only report the logs back once they finish, and not during the invocation.
Can you confirm the lambda hangs after this error? Normally it would report back after it finished, with an Invocation result (if DEBUG=1 is enabled) Could you perhaps share the full log output after the invocation?
Also, did the container still run when you got t

[2021-11-02 10:25] awehrung commented on #4825
Wow, thanks @dfangl! This is an amazing help, the DNS resolution problem was due to my router. After reconfiguring, I can access my API over the `<api-id>.execute-api.localhost.localstack.cloud` domain. I also got the stage correctly configured.

Last question on this topic: do you know how I could make the `<api-id>` predictable?

[2021-11-02 10:50] dfangl commented on #4825
Hi, glad I could help! Out of curiosity: With which router model did you have the problem?

If you pass, during the creation of your api, a tag (in cli using --tags) with the key `_custom_id_` to LocalStack, it will create an api with the value of this tag as an id. Please let me know if you have any problems with this!

[2021-11-02 11:39] silv-io commented on #4827
Hi @sparrowt and thanks for reporting this issue. I can't reproduce your error, so I need a bit more information from you.

Have you made sure to `docker pull` the latest localstack image?
Is this your complete `docker-compose.yml` and have you tried using [sample for it](https://github.com/localstack/localstack/blob/master/docker-compose.yml)?
Also, are you starting localstack with pro services e

[2021-11-02 14:05] whummer commented on #4823
@bodnarbm - quick update, the last build apparently failed, but rerunning the build worked. The changes are now available in the `latest` Docker image. Please let us know if the problem persists, or if there are any other issues. Thanks for your help!

[2021-11-02 14:05] #4823 closed

[2021-11-02 14:09] whummer commented on #4833
Thanks for reporting @lee-butn . Can you please share a few snippets of your test code (i.e., which APIs are called, with which parameters)? This would greatly help us replicate this issue end-to-end.. Thanks!

Also, just to confirm - are you literally using this exact command to start up LocalStack?
[code]

Please note that this command is not supported, as it will not expose the required port ma

[2021-11-02 14:22] bodnarbm commented on #4823
🎉 @whummer, I just tried the latest image and works great for our use case. Thanks for the quick response on this!

[2021-11-02 15:33] phildunphytoo opened #4840 "question: How to run LocalStack without internet connection?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I need to be able to run LocalStack (simple, not pro) without internet connection.
Is there a way I can do it?

I'm running it using Docker and receive this output:
[code]

### Anything else?

_No response_

[2021-11-02 15:37] awehrung commented on #4825
Hi @dfangl,

I was using a FritzBox :wink: I tried the trick with `_custom_id_` but it does not seem to work:

[code]

[2021-11-02 15:49] dfangl commented on #4825
Ah perfect, just tested it locally and was confused why it didn't work for you.
Glad I could help, will close now...

[2021-11-02 15:49] #4825 closed

[2021-11-02 16:01] phildunphytoo commented on #4840
thanks for the response!
I've tried the same command as yours and still get the same error..

[2021-11-02 16:10] phildunphytoo commented on #4840
I'm running on RHEL8 and it doesn't work.
I got it to work using Docker on Windows on another machine I have.

[2021-11-02 16:40] mgagliardo commented on #4840
It would be cool if you could post the output from the command as well as add `DEBUG=1` as an environment variable.
Another thing would be to check (`docker inspect $CONTAINER_ID`)  the docker network config and see why there's an issue with that.
Last one, would be checking if you have another service running on the same port/s, you can check this out with netstat or ss, for example `netstat -tun

[2021-11-02 16:57] carmonac commented on #2597
I'm having same issue when I perform a lot of writing operations. I'm using localstack 0.12.8 since it's the last version which dynamodb works correctly

[2021-11-02 18:12] pinzon commented on #4700
Hi @shubhammapara could you provide more code to reproduce your issue? I'm trying to reproduce it but both uploading a file directly and from a presigned url  work without a problem.

Here is the code I used:
[code]

I'll close this issue for now since it seems like an usage problem but I'll open it again once I get more info about your problem.

[2021-11-02 18:12] #4700 closed

[2021-11-02 20:30] whummer commented on #4818
Thanks for reporting @milenkovicm - this should be fixed in #4843 . The `latest` Docker image is currently being built in our CI pipeline, and should become available on Docker Hub in ~40 minutes from now.. Thanks!

[2021-11-02 20:30] #4818 closed

[2021-11-02 21:05] dustbort commented on #4824
Hi @dfangl , thanks for your reply.

There was no additional output to the docker-compose console with DEBUG enabled. The last line was what I had previously posted:
[code]

On the HTTP client running the GET request, there was no response (it remained pending indefinitely).

The entire `docker logs` output for the lambda instance was exactly two lines each time, like:
[code]

I can see that the p

[2021-11-02 21:54] milenkovicm commented on #4818
Thanks @pinzon and @whummer it looks fixed now. Rust lambda works with api gateway!

Awesome work!

[2021-11-02 23:53] lefnire commented on #4779
Getting `no provider exists for service rds`. Gonna debug/poke some more, but just in case it's something obvious dropping here first.

[code]

[2021-11-03 00:04] lefnire commented on #4779
Woop! Trial API key expired, rds is pro service. Getting other issues, but I'll open tickets if necessary after debugging

[2021-11-03 00:25] lee-butn commented on #4833
This is my docker-compose.yaml
`version: '2.1'

services:
  localstack:
    image: "localstack/localstack:latest"
    ports:
      - 4566:4566
      - 4571:4571
    environment:
      - SERVICES=${SERVICES- acm,apigateway,mediastore,route53,iam,efs,cloudwatch,ecr,ecs,sts,ec2,cognito,servicediscovery}
      - DEBUG=${DEBUG- }
      - DATA_DIR=/tmp/localstack/data
      - LOCALSTACK_API_KEY=2lANsXWi

[2021-11-03 07:56] phildunphytoo commented on #4840
Docker inspect seems OK. even without binding the ports to the host, the image fails to run with the same error message.. it seems something inside the docker image is bothering it..

[2021-11-03 08:55] dfangl commented on #4757
I will close this now, if you have any further issues with this, please do not hesitate to reopen or create a new ticket!

[2021-11-03 08:55] #4757 closed

[2021-11-03 09:03] webaaz commented on #4757
Hi! Thanks for you answer, it's now clear for me.

[2021-11-03 09:39] mgagliardo commented on #4840
What localstack container image are you using? I have ran the test using the `latest` image.

[2021-11-03 10:44] gabrielhruiz opened #4846 "feature request: Is Timestream service full implemented for read/write entries?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

``I Create a DB and a DB table using CLI commands:

[code]

Both are created successfully. Then when I try to create a new entry in that DB table (using the AWS SDK for .Net), the SDK response is "BD 'timeStreamDB' not exists."

[code]

Then, I tried to create the DB & DB table using the S

[2021-11-03 11:05] phildunphytoo commented on #4840
I've tried with the full and normal one. Both latest.
normal image ID: b61e4bbe0e8a, created in the last 2 days according to docker

[2021-11-03 11:15] barnc commented on #4123
Hey @jamietanna - this looks like some amazing work. Just wondering if this issue on hiatus at the moment?

I'm asking as I'm pretty sure we've just run into this same problem (we have a single large jar as a graphql data source) and our init times on localstack are 6000ms+, which is killing us as it's cold starting on every single data fetch.

[2021-11-03 11:18] jamietanna commented on #4123
Hey, apologies! Unfortunately I've not had much time / motivation to pick this up, as I was having trouble getting the tests passing.

I'd be happy if you wanted to re-implement the fix in #4185 yourself / give me a hand with getting tests passing

[2021-11-03 11:25] thrau commented on #4836
fixed with https://github.com/localstack/docs/commit/8122b3432566e0e64473125392125aadaa14645a

[2021-11-03 11:25] #4836 closed

[2021-11-03 11:29] chaz-doyle-cko commented on #4123
Great minds... I've actually got tomorrow set aside to pick this up again... :)

[2021-11-03 12:04] noone234 commented on #4827
I experienced this issue yesterday (2 November 2021).

I can also answer 2 out of 3 of @silv-io's questions.
- Yes, I `docker pull`ed the latest localstack image.
- I am using the community edition.

To work around the issue, I added `events` to `SERVICES` environment variable.

[2021-11-03 12:14] mgagliardo commented on #4840
I have now tested this with both the latest and 0.12.19 images, both on a mac and linux (ubuntu 20.04) everything looking good on my side.
I know it might sound silly but have you tried restarting your machine/s and testing again?

[2021-11-03 12:26] barnc commented on #4123
Unfortunately I'm in a similar boat - haven't got the python chops to help out meaningfully here I don't think.

Happy to test anything if you think it'd help though.

[2021-11-03 12:47] awehrung opened #4848 "bug: Cannot authorize requests using Lambda-Authorizer for HTTP-API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to use a lambda function as an authorizer on HTTP-requests in API-Gateway-v2. According to multiple [online docs](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html), this should be possible, however I always get a HTTP-400 error back and

[2021-11-03 12:55] lhegarty commented on #4719
Hey guys, we've done a work around to use the real infrastructure for now for API GW; would love to know a timeline of when this issue might be played as we would like to be able to use localstack for our local development infrastructure as opposed to a real gateway.

[2021-11-03 14:57] #4512 closed

[2021-11-03 15:47] phildunphytoo commented on #4840
Got it working with version 0.12.19! thanks a lot!!!

[2021-11-03 16:31] dfangl commented on #4824
Thanks for your quick response.
Lambda execution timeouts are currently not respected, that would of course solve this.
Since the execution runs in a docker container, the container would stop when the process exits, so it seems reasonable to assume it hangs.

Just let me make sure, your original issue is resolved due to not being an issue with LocalStack itself, but with the lambda itself, right?

[2021-11-03 17:35] avromanov2009 opened #4850 "Publish message to the topic as JSON and read it by consumer from body (NOT as RAW data)"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

So I have created some topic
`aws --endpoint-url=http://localhost:8000 sns create-topic --name example-topic`

[code]

after that trying to send message. this case message is delivered to consumers
`aws --endpoint-url=http://localhost:8000 sns publish --topic-arn arn:aws:sn

[2021-11-03 17:35] snowe2010 commented on #4830
@whummer I managed to duplicate my exact setup with the script. The differences are that I used an http method type of `ANY`, and that I am creating the resource on `/`, _not_ using `/` as the parent. I think this is the key issue. We just proxy all calls to `/` straight through to the lambda, we don't care what it is, whether it's a POST or not, or what the parameters are. The _only_ difference I

[2021-11-03 17:43] dfangl commented on #4512
Hi @dbes-gds @ilgrosso !
With the recent changes, this behavior should be fixed. Can you pull from :latest and check if the issue is now fixed for you? Thanks for the wait!

[2021-11-03 18:51] mgagliardo commented on #4840
Good to know mate. Cheers!

[2021-11-03 18:51] #4840 closed

[2021-11-04 05:24] nickolasclarke opened #4852 "bug: docker-entrypoint-initaws.d/ init script not properly executing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a simple bash script to initialize an s3 bucket, found at `/docker-entrypoint-initaws.d/localstack_s3.sh`

[code]
when I stand up localstack with ` docker-compose -f docker-compose/localstack.yaml` , I get the following in the logs:

[code]
without any further output. I can verify this

[2021-11-04 07:19] ilgrosso commented on #4512
Hi @dfangl it works like a charm now, thanks!
Looking forward to next release.

[2021-11-04 13:51] whummer commented on #4848
Thanks for reporting and providing the reproducible example @awehrung ! We now have pushed a few enhancements which should (hopefully) resolve the issue you've seen. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists with `latest`.. Thanks for your help!

[2021-11-04 13:51] #4848 closed

[2021-11-04 14:26] kjenney commented on #1498
@rezafuru Is it currently possible to assume roles between two accounts with the Pro Edition?

[2021-11-04 14:33] awehrung commented on #4848
Thanks @whummer, this solved it! Amazing work.

[2021-11-04 16:32] eRobertsRGARE commented on #4303
My state machines depend on error handling and routing logic for different error types coming out of lambda. This all works in AWS, but upgrading localstack to 0.11 or later has broken this by converting all our custom errors to InvocationException.

I haven't been able to find a work around for this yet.

[2021-11-04 16:56] nickolasclarke commented on #4852
on further testing, I do get the output from `echo "localstack S3 bucket $BUCKET already exists"` at startup in the localstack docker logs  if I've already run the script. Perhaps there is an issue with my bash script, or at least how its being interpreted?

[2021-11-04 22:39] Gabriel-scodiero commented on #4624
@claim

[2021-11-05 09:11] randomcoder opened #4859 "question: Is it possible to use a transform lambda in a firehose deliveryy stream?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I am trying to use a direct put Firehose dellivery stream integrated with a transform lambda stored on S3 and output to an S3 bucket.

I can set up the lambda, stream and bucket however if I write data to the stream it gets written directly to the S3 bucket and the transfom

[2021-11-05 12:43] mLupine opened #4860 "bug: API Gateway with Rest API doesn't support custom domains"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a custom domain is configured for the API Gateway and base path mapping is created for a Rest API, pointing that domain to a LocalStack instance does not make it trigger appropriate API Gateway backend.

### Expected Behavior

A Rest API is triggered and its response is successfully retu

[2021-11-05 14:03] thrau opened #4861 "feature request: support for custom elasticsearch endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

the `es` api allows custom endpoint configurations, for example:

[code]
but these are currently ignored by localstack, and instead `http://localhost:<es:port>` is returned as endpoint URL.

### 🧑‍💻 Implementation

We currently don't have routing rules for custom ES endpoints, but it could

[2021-11-05 16:31] estebane-frb opened #4863 "ECR deployment not working on latest version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Trying the following service:

environment:
      - SERVICES=ecr

I am now getting the following error: "POST http://localhost:4566/: no provider exists for service ecr Traceback" when trying to run a simple ECR deployment.

I am using the latest version via the published docker-compose.yml i

[2021-11-05 17:32] whummer commented on #4863
Thanks for reporting @estebane-frb . Please note that ECR is a service currently only available in LocalStack Pro - just to confirm, do you have the API key configured in your instance? If that's the case, then kindly please get in touch with us directly (email/Slack) - this might be an issue with your API key (happy to look into it in more detail). Thanks for your help!

[2021-11-05 18:28] estebane-frb commented on #4863
Thanks for your prompt reply, I hadn't realized this required Pro level. In that case we can close this ticket. Thanks for the information!

[2021-11-05 18:28] #4863 closed

[2021-11-05 22:55] thrau commented on #4782
closing this issue for now, since i was not able to reproduce it again. please re-open if the problem resurfaces.

[2021-11-05 22:55] #4782 closed

[2021-11-06 00:02] mboudreau commented on #4782
@thrau thanks for looking into it mate 👍

[2021-11-06 12:36] thrau commented on #4777
hi @ramakot , please help us further investigate the cause for the issue:

* could you please share with us the aws cli version you are using? `aws --version`
* are you having the same problem when using `awslocal` instead of `aws?
* please run the aws command with the `--debug` flag, so `aws --debug --endpoint-url=http://localhost:4566 sqs create-queue --queue-name test-queue`

[2021-11-06 13:02] thrau opened #4865 "feature request: support one elasticsearch instance per domain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

currently we only create a single elasticsearch server instance for all domains, and multiplex all domain requests to that cluster.
some users have asked to have different versions of elasticsearch on different endpoints running concurrently.

### 🧑‍💻 Implementation

the reason was a limit

[2021-11-06 13:15] jbosse commented on #2550
I was able to build the branch from @chezsmithy and FWIW my test suite that uses the container for local development and testing has about the same performance with the amd64 container as the arm64 container.

[2021-11-06 13:27] thrau commented on #2550
that's awesome news! yes i think we're almost over the line. @chezsmithy and @alexrashed have made amazing progress. there are still a few details that need ironing out, but i'm optimistic that we can get it released until next friday. /cc @whummer

[2021-11-06 23:11] Sohel-Ahmed commented on #1197
I'm seeing that same issue, here is the terraform script:

`
provider "aws" {
  region                      = "us-east-1"
  s3_force_path_style         = true
  skip_credentials_validation = true
  skip_metadata_api_check     = true
  skip_requesting_account_id  = true

  endpoints {
    apigateway     = "http://localhost:4566"
    cloudformation = "http://localhost:4566"
    cloudwatch     = "htt

[2021-11-07 13:23] whummer commented on #4859
Thanks for reporting @randomcoder . Initial support for Lambda processors in Firehose delivery streams has been added #4867 . Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists (please include the source code of your Lambda in that case).. Thanks!

[2021-11-07 15:27] #4824 closed

[2021-11-07 20:08] whummer commented on #4790
Quick follow-up on this issue - can you please confirm if this issue still persists with the `latest` Docker image? Please keep us posted how it goes.. Thanks!

[2021-11-07 20:17] whummer commented on #4752
Hi @Tobolov , apologies for the delay on this one. Can you please confirm if this issue still persists after pulling the `latest` Docker image?

Please note that this feature is under very active development - we've recently done quite a few changes and refactorings around cloud pods. We'll release a new, completely revised version over the next couple of days. Please keep us posted how it goes -

[2021-11-07 20:19] whummer commented on #4832
Thanks for reporting @lee-butn . This should be fixed in the meantime - can you please pull the `latest` version of the `localstack/localstack` Docker image and give it another try? Please keep us posted how it goes - thanks for your help!

[2021-11-07 20:19] #4832 closed

[2021-11-07 20:23] whummer commented on #4719
Hey @sbenali @lhegarty , apologies for the delay on this one - somehow the notifications on this issues must have slipped through the cracks. We'll look into this with high priority now.. Thanks for your help!

[2021-11-07 20:27] lhegarty commented on #4719
Hey @whummer , appreciate the update thanks :) if you need any help diagnosing anything then please let me know.

[2021-11-08 08:25] navels commented on #4488
Unfortunately I am running into the same problem.  Will try to dig into it.

[2021-11-08 10:40] randomcoder commented on #4859
@whummer Thank you for teh response, I have been able to get the lambda invocation working. However I have noticed a potential error in the payload being sent to the lambda. The raw content of a record is being passed as
[code]
whereas I believe it should be
[code]
As described [in the docs](https://docs.aws.amazon.com/firehose/latest/dev/data-transformation.html)

[2021-11-08 13:00] sbenali commented on #4719
thank you @whummer , this will make a big difference for us, plz let me know if i can do anything to assist

[2021-11-08 13:10] whummer commented on #4719
Thanks @sbenali . Quick note on your sample - looks like the static values for `request_parameters` should be enclosed in single quotes (see docs [here](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/api_gateway_integration#example-usage)). So, instead of this...:
[code]
... it should be:
[code]

We're still in the process of testing your sample end-to-end - will keep

[2021-11-08 14:18] whummer commented on #4719
Quick update @sbenali @lhegarty . We have now pushed a couple of enhancements for API GW v2 WebSocket integrations - can you please pull the `latest` Docker image and give it another try?

@sbenali after slightly modifying the sample you've provided (using "http://example.com" as the `integration_uri`), we :
[code]

@lhegarty - in case you are still seeing this issue, can you please provide a smal

[2021-11-08 14:20] mLupine commented on #4860
The workaround I described (hardcoding the value of `stage`) does not work anymore, probably due to some changes introduced [here](https://github.com/localstack/localstack/commit/19011ca0873b800c57da05f7cb2e42ffb5e0280d). Visiting `https://api.example.com/test_endpoint/test` returns the following:
[code]

[2021-11-08 14:32] whummer commented on #4859
Thanks for the update @randomcoder . A couple more enhancements have been pushed in 2c95f388e7880cc2e7afbe676424ee6cb2859f4b - the `latest` image is currently being built in our CI pipeline and will become available in ~40 mins.. Please keep us posted if anything else is incorrect or missing. Thanks!

[2021-11-08 14:32] #4859 closed

[2021-11-08 16:04] #4861 closed

[2021-11-08 16:04] #4865 closed

[2021-11-08 17:10] atkinsonbg opened #4874 "bug: Pro - Localstack will not come back up after an Elasticache cluster is created"
I have my PRO license and I can create an Elasticache cluster. The `api_states` is saved in the Elasticache directory and I can work with my cluster just fine. However, if I kill the container and re-launch it, it will not come back up unless I delete all the files in the `api_states` Elasticache directory.

From my logs:
[code]

The container goes into a perpetual loop always ending with these li

[2021-11-08 17:17] thrau commented on #4874
hi @atkinsonbg, could you please provide a bit more details about your environment? we have a [bug template](https://github.com/localstack/localstack/issues/new?assignees=&labels=bug%2Cneeds-triaging&template=bug-report.yml&title=bug%3A+%3Ctitle%3E) that contains the information we need.

it would also be helpful if you could start localstack with `DEBUG=1` and provide the log output

[2021-11-08 17:32] atkinsonbg commented on #4874
Sorry! I'll include that data, and next time I'll use that template.

- Running with Docker Compose
- OS: Macos Catalina 10.15.7
- Localstack: latest

LOGS:
[code]

[2021-11-08 17:34] atkinsonbg commented on #4874
That block of logs will just repeat as long as I have the container running.

[2021-11-08 19:12] thrau commented on #4874
Thanks for the information! From the logs it doesn't look like the issue is related to elasticsearch. Could you try to pull the latest docker Image? Looks like your runtime is still on 0.12.19

[2021-11-08 19:42] JacobReynolds opened #4876 "bug: Lambda improperly parses docker images with digest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using the serverless framework, when deploying a lambda function that uses a custom container runtime, the image is pushed to localstack with an "ImageUri" value that includes the docker image's digest (e.g. `localhost:4513/serverless-test-local@sha256:306d92[TRUNCATED]`). When executing that

[2021-11-08 20:25] posita opened #4877 "bug: KMS 500s for every request in latest docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Setup:

[code]

Services appear working:

[code]

Except for ``kms``:

[code]

### Expected Behavior

I would at least get an empty list from ``awslocal kms list-keys`` or be able to create a new key.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

[2021-11-08 21:09] mgagliardo commented on #4877
Hello @posita, I have tried your commands but hardcoded (instead of having the variables embedded) and could not reproduce this, using the following:

Run localstack:
[code]

[code]

This is probably due to an interpolation issue, I think that might be around the AWS_DEFAULT_REGION var. Please check that and let us know. Cheers!

[2021-11-08 21:48] navels commented on #2550
I just updated and am rebuilding via `make docker-build-multi-platform` and it's been sitting on this step for over an hour:

[code]

Is this expected?

[2021-11-08 23:05] posita commented on #4877
Ugh. Yes. Sorry. ``AWS_DEFAULT_REGION`` was the culprit. My apologies!

[2021-11-08 23:05] #4877 closed

[2021-11-08 23:25] kbalk opened #4879 "Mechanism for specifying the version of moto when using localstack?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

moto is released more often than LocalStack and if you use both LocalStack and moto (through `initaws.d/start.sh`), that means waiting something like a month versus a week to see a new moto feature.

I don't know how you're pulling in moto for your docker image, but would i

[2021-11-08 23:40] mgagliardo commented on #4879
Hello @kbalk, I might not be able to provide a proper solution for this but maybe @thrau and @whummer can do a better job than I do but I see two options here:

1. Something you can do for example is use the make method `make docker-mount-run` described [here](https://github.com/localstack/localstack/blob/master/Makefile#L127), which basically installs some necessary files and specifies a `MOTO_DI

[2021-11-09 00:15] kbalk commented on #4879
I had thought about #3, but much better to know #1 and #2.  Thank you.

[2021-11-09 00:23] mgagliardo commented on #4879
I'll close this considering the issue as resolved but as I mentioned maybe the team can provide a better update than I did. Cheers!

[2021-11-09 00:23] #4879 closed

[2021-11-09 01:43] chezsmithy commented on #4728
Likely resolved by: https://github.com/localstack/localstack/issues/2550

[2021-11-09 01:44] chezsmithy commented on #2550
@navels try building with `make docker-build-linux-arm64`, if you just want an arm image you can load to docker on your M1 Mac.

[2021-11-09 03:24] navels commented on #2550
Thanks, I missed that target . . .  works fine!

[2021-11-09 04:16] Tobolov commented on #4752
Hi @whummer,
Can confirm that I am now able to pull managed pods!

I did get the the following error running `localstack pod pull test` though Just had to install dill via pip:
[code]

Localstack pack versions:
localstack                0.12.20
localstack-client         1.26
localstack-ext            0.12.19.25
localstack-plugin-loader  1.1.1

[2021-11-09 04:45] Tobolov commented on #4752
Was trying again to test something else and it didn't work. Steps to reproduce:
docker-compose.yml:
[code]
C:\Users\mtobolov\Desktop>python C:\Users\mtobolov\AppData\Local\Programs\Python\Python39\Scripts\\localstack pod pull testv2
Pulling state of cloud pod "testv2" from managed storage
Traceback (most recent call last):
  File "C:\Users\mtobolov\AppData\Local\Programs\Python\Python39\Scripts\lo

[2021-11-09 08:23] dfangl commented on #4876
Hi @JacobReynolds !
As a quick workaround, you could use `LEGACY_DOCKER_CLIENT=1`, to circumvent the problem.
I will notify you when a proper fix is in place.

[2021-11-09 13:54] phildunphytoo opened #4881 "bug: Step function SQS task fails to run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running a step function which one of its tasks is to send a SQS message, the task fails with error:
`"An error occurred while executing the state 'Send to SQS" (entered at the event id #7). The input {MD5OfMessageBody: aaaaaaaaaaaaaaaaaaaa,MessageId: aaaaa-aaa-aaaa-aaaaa,} is not a valid

[2021-11-09 13:56] phildunphytoo commented on #4881
Might be connected to #4665

[2021-11-09 14:04] NeilJ247 commented on #4341
It's massively slow.  I have seen tests for SQS processing jump to 7+ minutes to run and even then I don't think it has completed the queue processing due to failing assertions that passed in previous builds.

[2021-11-09 14:55] whummer commented on #4860
Thanks for reporting @mLupine. This should be (hopefully) fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks for your help!

[2021-11-09 14:55] #4860 closed

[2021-11-09 15:50] whummer commented on #4852
Thanks for reporting @nickolasclarke . Can you please share your LocalStack startup configuration - are you using the persistence feature by setting `DATA_DIR`, by any chance? Thanks

[2021-11-09 15:53] JacobReynolds commented on #4876
Hey @dfangl thanks for the response! It looks like `LEGACY_DOCKER_CLIENT` isn't tracked [here](https://github.com/localstack/localstack/blob/d46901d4aec96ff7cb90b05c16b23bd74f838c3c/localstack/config.py#L312), so the CLI doesn't pass it to the docker container.  I've added a pull request for that #4882

[2021-11-09 16:19] lhegarty commented on #4719
Hey @whummer , appreciate the work you are doing on this. Pulled down the latest image and I'm seeing the following behaviour..

- Content-type is not being pulled through correctly.
- User-Agent is not being pulled through
- Template selection expression has to be named after content-type and is not applying as intended.

These are the headers that I am setting in postman.

![Screenshot 2021-11-0

[2021-11-09 16:55] nickolasclarke commented on #4852
Yes I do have that set.

[code]

[2021-11-09 17:56] pinzon commented on #4817
Hi @zmcgrath96 this is not a bug on minikube. if you follow the steps with the docker container or **even with aws** you'll get the same result.

In the steps to reproduce, your awscli commands are using us-east-1 by default but in the python client you're using us-west-2.

SQS queues are region locked. which means if you created a queue in a region like  and then uses a client set to a different

[2021-11-09 17:56] #4817 closed

[2021-11-09 18:41] JacobReynolds commented on #4652
@whummer I'm still seeing this issue (v0.12.20) when trying to deploy a lambda function that uses a container image. In all other cases, lambda functions will get the environment variables, is there a specific way to pass them for container functions?

[2021-11-09 19:27] JacobReynolds opened #4888 "bug: LAMBDA_DOCKER_FLAGS not passed to lambda functions using a container runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using the `LAMBDA_DOCKER_FLAGS` environment variable, flags are not passed to lambda functions that use a PackageType of Image.

### Expected Behavior

`LAMBDA_DOCKER_FLAGS` is passed to lambda functions with container runtimes.

### How are you starting LocalStack?

With the `localstack

[2021-11-09 19:38] atkinsonbg commented on #4874
Same issue after pulling these latest:

[code]

[2021-11-09 22:03] navels opened #4889 "bug: samlocal deploy fails in Pro version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deploying the "Hello Bucket" [cloudformation stack](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/gettingstarted.templatebasics.html) fails when Pro is activated.  Here is the SAM CLI error:
[code]
and from the container log:
[code]

In short:
[code]
is thrown when loading `c

[2021-11-10 00:11] shawnsilva opened #4891 "bug: API Gateway base-path-mappings don't work for the (none) path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating base-path-mappings on an API Gateway, there is a special `(none)` path when you don't specify a path during creation. Localstack stores this as `basePath: "(none)"` internally.
When you query to get the base paths, the URLs are escaped by the client (verified in both awscli and

[2021-11-10 10:56] mLupine commented on #4860
Hi @whummer, I'm not able to test it on the `latest` image, as it seems to not work correctly at the moment. I get a ton of errors similar to this during Serverless deployment:
[code]

[2021-11-10 12:46] hsimpson commented on #4655
This themes to be fixed with 0.12.19.1 Docker image version

[2021-11-10 12:46] #4655 closed

[2021-11-10 14:08] anhoxa commented on #4840
I've been having similar error as OP with 0.12.20; it only started yesretday.

[2021-11-10 14:19] anhoxa commented on #4840
It was mentioned above that 0.12.19 works and my version is 0.12.20. Changed the docker-compose.yml to use 0.12.19 and it fails once, but eventually restarts correctly without looping.

[2021-11-10 14:32] randomcoder commented on #4859
@whummer Thank you for the metadata update, however the record still seems to be missing a `recordId` property at the same level as the `data` property. Are you able to get a value for this added in as well please?
[code]

[2021-11-10 14:33] whummer commented on #4860
Hi @mLupine , thanks for bringing this to our attention. This issue should be resolved in the meantime. Can you please give it another try after pulling the `latest` Docker image now? Thanks for your help!

[2021-11-10 14:47] #4606 closed

[2021-11-10 14:57] abbaseya opened #4893 "Lambda create/update failed due to LogGroup exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Creating and/or updating Lambda functions in docker does not work after updating LocalStack image to the latest version with the following error in LocalStack logs:
[code]

### Expected Behavior

Lambda create and/or update operations should pass successfully all the way to the end without an

[2021-11-10 15:07] abendt opened #4894 "bug: S3 putObject fails after upgrading to 0.12.20"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We are currently using Localstack 0.12.19.1 within our testsuite. After changing to latest v0.12.20 testsuite fails. Apparently _s3.putObject_ does not work anymore.

Within the testsuite we are trying to upload a CSV file to a S3 bucket. This has worked fine when using localstack 0.12.19.1

[2021-11-10 15:11] thrau commented on #4894
looks like this is a regression introduced by #4841

[2021-11-10 16:51] Ne0xygene opened #4896 "bug: memory leak"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

localstack is used with 3 aws services : S3, SES, SQS.
I have allocated 4GB RAM for usage in docker.
The RAM usage of `localstack` container is increasing indefinitely until it reaches the limit then it restarts.

### Expected Behavior

It shouldn't use that much ram.

### How are you startin

[2021-11-10 17:26] dbes-gds commented on #4512
It's working now, thanks for fixing :)

[2021-11-10 17:32] thrau commented on #4896
Hi @Ne0xygene, could you help us understand a bit better how you are using localstack, so we can reproduce the issue? How long is the container running for? How many SQS/SNS messages are you sending over what period of time? How many buckets do you have and are you storing a lot of files in them? Are you using a particular AWS SDK?

Any other info like that will be helpful, thanks!

[2021-11-10 17:44] thrau commented on #4874
@whummer have you seen these SSL errors before? looks like that is blocking the startup routine.

[2021-11-10 19:42] matthewbentley opened #4898 "bug: lambda requestContext.requestTime is a Datetime object, should be a string"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Using the local lambda executor, the field `event["requestContex"]["requestTime"]` (code [here](https://github.com/localstack/localstack/blob/52cf2106097c4a46aa9c87095b8682d68c22ed93/localstack/services/apigateway/apigateway_listener.py#L941)) is being passed as a datetime object.  This is br

[2021-11-10 21:03] adammcnabb opened #4899 "SSM: creating an SSM parameter via awslocal breaks SSM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Summary: Creating an SSM parameter after Localstack starts, creates an internal server error.

Details:
After starting Localstack via Docker plugin for Maven, creating an SSM parameter via awslocal causes an error within Localstack System Parameters service.

Deploying Localstack via Maven:
[

[2021-11-10 21:32] #4876 closed

[2021-11-10 23:33] whummer commented on #4889
Thanks for reporting @navels . We had a small issue with CloudFormation after a recent code refactoring - we believe that this should be fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? If the problem persists, can you please share the container logs with the `DEBUG=1` config enabled. Thanks for your help!

[2021-11-10 23:43] whummer commented on #4874
Thanks for the update @atkinsonbg @thrau . Looks like your company/ISP may be blocking access to certain external network resources. Can you try opening this URL directly in your browser - can you access it? https://cdn.jsdelivr.net/gh/localstack/localstack-artifacts@master/local-certs/server.key

If you cannot access this file, we may need to follow a process to manually download this file and de

[2021-11-10 23:43] navels commented on #4889
Fixed, thanks!

[2021-11-10 23:43] #4889 closed

[2021-11-11 10:21] kevinadhiguna commented on #3080
I faced the same error. I was completely new to Localstack and was trying to spin up a docker container powered by docker-compose.yml.

## Steps to reproduce :

What I did was :
1. Copying the entire docker-compose.yml from https://github.com/localstack/localstack/blob/master/docker-compose.yml
[code]

2. As I wanted S3 service, I set up `.env` file like this :
[code]

3. Run : `docker-compose up`

[2021-11-11 10:38] #4891 closed

[2021-11-11 11:52] sumanthsure opened #4902 "bug: Updated localstack-utils from 0.2.15 to 0.2.17"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
Getting this error when running in github workflow action.
Can someone help me with this.

### Expected Behavior

localstack docker container should start.

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

#### How are you starting localstac

[2021-11-11 11:53] SeanOToole opened #4903 "bug: SSL certificate issue since v0.12.18"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

LocalStack is taking a long time to start up since updating to v0.12.18 due to timing out when attempting to pull down the local test SSL certificate. This works fine on v0.12.17.

[code]

I expect this has something to do with this line in the release notes (but not 100%)

### Expected Behav

[2021-11-11 12:52] mrjrt commented on #4379
I can cofirm I've just hit this with localstack/localstack:0.12.20

[2021-11-11 12:53] #4607 closed

[2021-11-11 13:22] wilsonpage opened #4904 "`latest` breaks healthcheck in Github Actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using the following code to start localstack in Github Actions. Since upgrading to [`latest`](https://hub.docker.com/layers/localstack/localstack/latest/images/sha256-e40ebe8c089fe19c6400bfdd248d57446566c193f9b6a9f1df2b6655f6884bf8?context=explore) my loop checking for `\"dynamodb\": \"ru

[2021-11-11 13:44] cnuval-itrs opened #4905 "feature request: Mock cloudwatch metrics for localstack supported services"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Say I want to create an ec2 instance in localstack, metrics available for an ec2 instance should be mocked in some way. For context, I'm creating an app that monitors AWS cloudwatch metrics.

This is helpful for metrics that generates long periods (e.g. s3 which is around 1 day, I believe)

[2021-11-11 13:46] whummer commented on #4904
Hi @wilsonpage , thanks for reaching out. We have recently introduced a new mechanism for lazy-loading of services, and generally added a lot of improvements around startup of services and service lifecycle.

After startup of LocalStack, the services are now going into state `"available"`, and once the first request is being made to a service (e.g., DynamoDB), then the code of that service is actu

[2021-11-11 14:04] chaz-doyle-cko commented on #4783
I am having the same issue... But it is also occurring if I specify an explicit list of MessageAttributeNames to return.

[2021-11-11 14:08] wilsonpage commented on #4904
@whummer thanks for the swift reply, that works! 🎉  What version will this be stamped as, it's breaking change right?

[2021-11-11 14:08] #4904 closed

[2021-11-11 17:52] yosilliq opened #4907 "Connecting localstack container to mysql container in the same network fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Hi guys, I'm running a stepfunction flow which triggers some Lambda functions.
One of the functions tries to access mySql DB **which is on another docker-container**.
Both localstack and mySql containers are on the same docker network but I'm still getting connection error

[2021-11-11 17:54] dfangl commented on #4907
Hi @yosilliq !
You would need to use `LAMBDA_DOCKER_NETWORK=server_lc_network`, then the spawning lambda containers should be in the correct network.
If this does not fix your issue, please share your docker-compose file and the logs of your lambda execution!

[2021-11-11 18:36] gjke opened #4908 "bug: Images are duplicated in ECR repositories."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Images are duplicated in ECR repositories. After creating multiple ECR repositories and pushing a single image to each of them, each of them has all the images that have been pushed to other repositories.

### Expected Behavior

Each ECR repository only has images that have been pushed to it.

[2021-11-11 19:18] whummer commented on #4571
Thanks for reporting @yoshiroyo . We have now pushed a small enhancement which should get this issue resolved (we are now using a fallback download location from `api.localstack.cloud`, in case Github is blocked by your corporate firewall).

Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-11-11 19:18] #4571 closed

[2021-11-11 19:19] whummer commented on #4903
Thanks for reporting @SeanOToole  . We have now pushed a small enhancement which should get this issue resolved (we are now using a fallback download location from `api.localstack.cloud`, in case Github is blocked by your corporate firewall).

Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-11-11 22:38] thrau commented on #4894
@abendt we've released a fix, could you please try again with the latest docker Image?

[2021-11-11 23:55] abendt commented on #4894
I can confirm that our tests work again when using the latest docker image:

`localstack/localstack                                          latest             sha256:2aacd9e8cbd999ff6d3c7e30fe85089c559b77514d274f6bb3ad4e7d37e96a16   f4320d85b81a   5 hours ago     834MB`

[2021-11-12 07:28] ivanmartos commented on #4763
Hey. Sorry for late reply. I confirm that in `localstack:0.12.20` issue is fixed
Thanks a lot

[2021-11-12 09:42] jamietanna commented on #2483
I looked at this as part of diagnosing my slow runs of my tests (related: #4123) and found that it's currently hardcoded to have a concurrency lock, so only one Lambda can execute at a time.

It'd be really great to have this to scale i.e. 4, as it'd allow for folks to more meaningfully parallelise their tests

[2021-11-12 09:43] thrau commented on #4894
great! closing this now, will be in the next release

[2021-11-12 09:43] #4894 closed

[2021-11-12 09:59] jamietanna commented on #4123
For anyone following this, Chaz has picked this up in #4906 :raised_hands:

[2021-11-12 10:09] navels opened #4910 "bug: lambda function alias created via cloudwatch has malformed FunctionVersion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a lambda function with alias is created via a cloudwatch template, the FunctionVersion field of the alias is malformed, it has the function arn in it:
[code]
which makes it impossible to invoke the function.

### Expected Behavior

The alias should look like this:
[code]

### How are you

[2021-11-12 10:09] mLupine commented on #4860
Indeed, works great now (this actually also fixed another bug that we had to work around). Thanks!

[2021-11-12 13:31] thrau commented on #2550
**TL;DR:** we're planing to release an initial version of multi-platform support in 0.13. next week, where amd64 will be fully supported, and there will be experimental support for aarch64

---

Hi Everyone, here's a quick update from the LocalStack team on the state of things:

I want to highlight once more @chezsmithy on the community side of things, who's laid fantastic groundwork for the multi

[2021-11-12 14:20] Stephen-Stanbridge commented on #4783
I've got same issue :(

[2021-11-12 14:49] KrishnanRanjithkumar commented on #4783
Hi @Svaly  @Stephen-Stanbridge  @chaz-doyle-cko  thanks for reporting. This issue should be fixed in  #4853 . Could you please pull the latest docker image and give it another try? Thanks!!!!

[2021-11-12 15:22] Svaly commented on #4783
Hi @KrishnanRanjithkumar it is working now! Thank you!

[2021-11-12 15:22] #4783 closed

[2021-11-12 16:34] sparrowt commented on #4827
Yes this was happening on latest since 26th Oct per original report - in order to avoid the issue we then pinned to `0.12.19.1` where this bug doesn't occur.

That is the localstack part of docker-compose.yml yes (there are other parts for my project which is talking to it) - I didn't realise some of the things in the sample docker-compose.yml were required; now that I've discovered `localstack co

[2021-11-12 16:47] SizZiKe commented on #4902
reverting to the 0.12.20 version of the image resolves this

[2021-11-12 18:56] Extrabeefy commented on #4874
Hey @whummer, @atkinsonbg and I work together and I am able to access both of the links you have from our works network.

[2021-11-12 19:06] whummer commented on #4874
Hi @Extrabeefy @atkinsonbg , thanks for the update. We have now pushed a small enhancement which should get this issue resolved (we are now using a fallback download location from `api.localstack.cloud`, in case Github is blocked by your corporate network, for some reason).

Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks fo

[2021-11-12 20:08] atkinsonbg commented on #4874
Pulled the latest still getting issues, and its not working

[code]

[2021-11-12 20:16] atkinsonbg commented on #4874
@whummer I deleted Localstack image re-pulled just in case and now I get this:

[code]

So it looks like the SSL issues are good now, but it still won't come up.

[2021-11-12 20:21] atkinsonbg commented on #4874
OK, so we removed all the files that Localstack creates and reran, logs are here:

[code]

[2021-11-12 20:25] whummer commented on #4874
Thanks for the update @atkinsonbg ! That looks good, actually - I think we need to reduce the verbosity of these warning messages. Are you able to access the APIs with this latest version of the image?

We'll work on adjusting the log messages, to make it a bit more clear that the SSL cert is successfully downloaded via the fallback mechanism.. Thanks!

[2021-11-12 20:25] atkinsonbg commented on #4874
Here is some more info:
- In my Compose file I mount this vol:
[code]

After we run we get the following files:
[code]

[2021-11-12 20:26] atkinsonbg commented on #4874
Not able to access APIs, nothing comes up, even though the logs say its running.

[2021-11-12 20:31] atkinsonbg commented on #4874
Yes, we can hit the APIs, however my EC cluster is not getting recreated on subsequent runs.

[code]
Even though I have saved state under the `api_states` directory for EC.

[2021-11-12 20:33] atkinsonbg commented on #4874
My shared state looks.....weird

elasticache/static/shared_state:
[code]

elasticache/us-east-1/region_state:
[code]

[2021-11-13 01:58] whummer commented on #4719
Thanks for the update @lhegarty . We have now pushed a couple of enhancements for extracting the request details via different selection expressions. Can you please pull the `latest` image again and give it another try? Thanks for your help!

[2021-11-13 02:26] awilkins commented on #4733
Question : isn't it an issue here that the `lambci/lambda` images use a completely different invocation mechanism?

I've been picking this apart this week trying to automate the creation of GraalVM native images ; my thinking was

- Create a Java / GraalVM runtime so I can use the `native-image-agent` tool to harvest configuration
- Use Localstack to run the API test suite against the functions in

[2021-11-13 08:51] lhegarty commented on #4719
Hey @whummer , progress! We're now seeing the userAgent pull through from the User-Agent header on the body as expected 👍 The payload property however is still pulling through as an empty array and not mapping the properties on the internal message object to it.

[2021-11-13 18:51] #4379 closed

[2021-11-14 10:30] EinavBar18 opened #4915 "bug: 'cognito:user_status' is not sent to post-auth lambda in 'userAttributes'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When log in via cognito it triggers a post-auth lambda that receives a request from cognito.
That request includes user attributes such as 'cognito:user_status' and some custom properties.

When log in via localstack it triggers that lambda but 'cognito:user_status' is missing in the user att

[2021-11-14 21:25] navels opened #4918 "bug: nullglob and pipefail are breaking init scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have had some strange failures with my init scripts (i.e., in `/docker-entrypoint-initaws.d`) and turns out they are caused by this line of code in [bin/docker-entrypoint.sh](https://github.com/localstack/localstack/blob/c75328db9c09ff5524037404ca8adb43f818e323/bin/docker-entrypoint.sh#L4):

[2021-11-15 07:05] dominikschubert opened #4919 "bug: CFn custom resource handler gets passed a boolean where it should be a string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Log Output
[code]

### Expected Behavior

Stack should deploy without an error in the custom resource handler

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docke

[2021-11-15 08:58] Ne0xygene commented on #4896
Hello,

**How long is the container running for?**
The container runs for about 40-45 minutes before it starts to exceed the memory limit (4GB). Then it restarts.

**How many SQS/SNS messages are you sending over what period of time?**
I only send messages for specific actions (Upload of files).
When the problem occured, i only sent like 2/3 messages  in 15 minutes.

**How many buckets do you have

[2021-11-15 10:12] SeanOToole commented on #4903
Pulled latest this morning for a test, not getting the same error as before but it's still not working quite right.

[code]

This then loops around for at least 45 minutes, I ended the process at that point so not sure if it does time out eventually or not.

[2021-11-15 10:36] whummer commented on #4903
Thanks for the update @SeanOToole - can you please share some details about your environment, which operating system are you using? Also, can you please try starting up again with `DEBUG=1` enabled in the environment, and then share the full output logs from the container. Thanks!

[2021-11-15 12:14] SeanOToole commented on #4903
This time it's failing in the same way locally and on the CI server. I'm not sure about the details of CI, so I'll debug locally.

OS: MacOS Big Sur 11.6.1 (20G224)

I think this is all of the relevant output- it loops again at this point with the same information.
[code]

[2021-11-15 12:39] sparrowt commented on #4827
For now I have also added `events` to `SERVICES` (thanks @noone234 for the suggestion).

It seems like the issue is that `ssm` has a new undocumented dependency on `events` - if this is to be expected, could localstack be taught about this so that it automatically starts `events` if a service that requires it has been requested?

[2021-11-15 16:28] thrau opened #4921 "Limitations of LocalStack on arm64"
**WORK IN PROGRESS**

---

This issue is to collect the current limitations of the arm64 support of the multi-platform docker image.

## Major

* Without amd64 emulation on an arm64 host, Lambdas running in Docker executor will likely fail. When running the LocalStack arm64 image on an M1, the lambda containers will be run using the emulated amd64 images, and should mostly run.
* **TODO**

## Deta

[2021-11-15 17:59] ramakot commented on #4777
1. could you please share with us the aws cli version you are using? aws --version
Ans: aws-cli/2.2.7 Python/3.8.8 Darwin/20.6.0 exe/x86_64 prompt/off
are you having the same problem when using awslocal instead of aws?
Ans: I have tried with awslocal. It's same problem
please run the aws command with the --debug flag, so aws --debug --endpoint-url=http://localhost:4566 sqs create-queue --queue-nam

[2021-11-15 18:57] whummer commented on #4903
Thanks @SeanOToole - looks like we're hitting a timeout when accessing the edge service on port 4566, which is a bit weird. Can you please share your full configuration (e.g., relevant parts of docker-compose file) - are you using a custom value for `EDGE_PORT` or `EDGE_PORT_HTTP`, by any chance? Thanks

[2021-11-15 18:59] whummer commented on #4714
Hi @chippyash - quick follow-up, have you been able to get it working by reading the `$LOCALSTACK_HOSTNAME` environment variable in your Lambda function? Please keep us posted how it goes, thanks!

[2021-11-15 19:13] whummer commented on #4874
Thanks for the update @atkinsonbg ! We have now pushed a few changes which should (hopefully) resolve this issue. Can you please pull the `latest` Docker image and give it another try?

Please note that currently only the metadata is being stored (i.e., cache clusters, parameters, etc). We are still working on restoring the actual contents of the redis instance - will ping you here soon with an up

[2021-11-15 21:29] zhammer opened #4923 "bug: aws v2 dynamodb table management"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

i've written up the current behavior, as well as a reproducible environment, here: https://gist.github.com/zhammer/6f95a75a8f5059f7d6d2624449ca296d

### Expected Behavior

i should be able to create & delete dynamodb tables using aws sdk v2.

### How are you starting LocalStack?

With a docke

[2021-11-15 22:52] whummer commented on #4904
Thanks for confirming @wilsonpage. This will be stamped in our upcoming `0.13.0` release (will also be mentioned as a breaking change in the change log). Thanks!

[2021-11-15 23:44] whummer commented on #4846
Thanks for reporting @gabrielhruiz, and apologies for the delay.

Reading/writing of items should be supported - e.g., see this simple example:
[code]

Can you please share the actual records written to the table, and the queries you're trying to run on top of them? We'll be happy to look into it in more detail. Thanks for your help!

[2021-11-15 23:55] nickolasclarke commented on #4852
@whummer any thoughts here?

[2021-11-16 03:15] navels opened #4925 "bug: real s3 fails SSL validation in Pro"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This occurs with the multi-arch release (0.13.0) on an M1 Mac but not with the 0.12.20 release.  I don't have my Intel Mac handy or else I would try it there.  This only happens with the pro version of localstack.

When started with docker compose and with a pro api key, this command in the l

[2021-11-16 06:34] SeanOToole commented on #4903
I've got a minimal configuration and a more full configuration that I'm using, both of which have the same issue. Neither is using a custom value for the edge port.

**Minimal**
[code]

**Full**
[code]

[2021-11-16 08:06] alexrashed commented on #2550
Hi everyone!
With version 0.13.0, the multi-platform docker image has officially been released! 🥳
As @thrau mentioned, initially the arm64 image is still experimental.
You can find information on the currently known limitations in #4921.
When you experience any problems (arm64 specific or not), please help us getting aware of it by creating a bug report.

[2021-11-16 08:06] #2550 closed

[2021-11-16 08:20] alexrashed commented on #4921
### Ampere Altra (with qemu usermode emulation):
- [ ] FAILED tests/integration/test_athena.py::TestAthena::test_simple_query - asse...
- [ ] FAILED tests/integration/test_docdb.py::TestDocDB::test_create_query_db - Exc...
- [ ] FAILED tests/integration/test_eks.py::TestEKS::test_create_app_in_k3s_cluster
- [ ] FAILED tests/integration/test_glue.py::TestGlue::test_import_data_catalog - A...
- [ ]

[2021-11-16 08:50] naspeh commented on #4639
Hi @tobilg, I'm trying to reproduce the issue with these commands:
[code]
It works and I get output like this:
[code]

Could you please run these commands locally? Do you still see the error?

----

I have tested with the latest version
[code]

and the `0.12.19.1`
[code]

[2021-11-16 09:15] dfangl commented on #4888
Hi @JacobReynolds ! This issue should be fixed in the latest release. If you have any problems with it, please do not hesitate to reopen!
Thanks for reporting this!

[2021-11-16 09:15] #4888 closed

[2021-11-16 09:28] james-lydtech opened #4926 "bug: DynamoDB streams Lambda that updates item hangs and eventually fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using DynamoDB streams to invoke a Lambda that updates the Dynamo item, using the docker-reuse LAMBDA_EXECUTOR does not work. Behaviour is that the Lambda appears to hang (presumably because it tries to invoke the lambda again as a result of the item update). Logs show the Lambda trigger

[2021-11-16 10:18] naspeh commented on #4743
Hi @herrlegno, thank you for the detailed description and test repo!

I'm trying to reproduce it, but it works for me for some reasons
[code]

I also checked the code, and we are stripping the  `chunk-signature`: https://github.com/localstack/localstack/blob/ab8d5597d7e7b4caee393b3cbc7ad62f9877763a/localstack/services/s3/s3_listener.py#L852-L868

I need some additional information to properly repr

[2021-11-16 10:22] ivanmartos opened #4927 "bug: Invocation of lambdas deployed via serverless fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Invoking node lambdas deployed using serverless, serverless webpack and serverless-localstack plugin throws error about missing modules
Invoking lambdas deployed using serverless-offline works (with webpack)

### Expected Behavior

Invoking lambdas deployed in localstack should work same as f

[2021-11-16 10:28] tamirhad commented on #3772
Hey @whummer,
I am trying to create a new RDS mysql instance with no luck, I can see the following process inside localstack container:
`mysqld --user localstack --datadir=/tmp/localstack/data/rds-data-mysql/us-west-2/test/data --bind-address=0.0.0.0 --port 4510 --socket /tmp/mysql-states/96622051/mysqld.sock --pid-file=/tmp/mysql-states/5a44faf5/mysqld.pid --skip-networking=0`
in fact I can log i

[2021-11-16 10:31] bcouetil commented on #4903
Hello,

Thank you for the maintenance of this great tool 🙏

Same problem, simply doing

`docker run --rm -it -p 4566:4566 -p 4571:4571 localstack/localstack`

Getting back to 0.12.17.5 for now to I have a clean start 😊

[2021-11-16 10:39] whummer commented on #3772
Hi @tamirhad , thanks for reaching out. Can you please make sure that the following port range is configured for the LocalStack container (e.g., in docker-compose.yml):
[code]

Hope that helps - please keep us posted how it goes. Thanks!

[2021-11-16 10:46] awehrung opened #4928 "bug: Cannot overwrite or append request-headers in API-Gateway-v2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to append headers to my HTTP request before sending it to the integration, using information from the Lambda Authorizer payload as well as static information. None of these headers get to the application.

I've configured the integration using the `awslocal` command and following

[2021-11-16 10:50] thrau commented on #4728
hi @viswanath7 @caiorcferreira, 0.13 includes a native ARM64 image that hopefully resolves your issue. could you give it a try?

[2021-11-16 11:03] tamirhad commented on #3772
Thanks for the quick answer!
I managed to fix that, I used localhost instead of 127.0.0.1(which is using socket by default)

[2021-11-16 11:11] AlexMili opened #4930 "bug: SQS creation with terraform not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a terraform script creating a SQS queue but when I try to list existing queues via `awslocal` nothing is shown and when I try to send a message to the same queue an error says it does not exist:
[code]
But when running `terraform apply` everything looks fine:
[code]
And `terraform plan

[2021-11-16 11:16] mLupine commented on #4921
Hi, as per the following:

You can use my fork of the lambci/docker-lambda project that has full support for ARM runtimes: https://github.com/mLupine/docker-lambda. Although it's heavily rewritten under the hood, it should be a plug-and-play replacement for the currently used images.

I do, however, have one more issue with arm support in 0.13.0. The Pro version of LocalStack supports fetching Lam

[2021-11-16 11:30] mgagliardo commented on #4930
Hello @AlexMili, I have tested the following code and it works as expected. Is it possible you are not indicating the right region when trying to list queues? It might be because it is a per-region service and not a wide one. If I am not mistaken, by default `awslocal` uses `us-east-1`.

Run localstack (tested with `latest`, `0.13` and `0.12`):
[code]

main.tf:
[code]

Terraform apply output:
[cod

[2021-11-16 13:00] herrlegno commented on #4743
Thank you @naspeh for answering. I just cloned my repo again and run the same steps as I described and gave me the error.

Could it be that the localstack version you are using is not the same as I am? I put localstack latest one month ago, so maybe could it be already fixed?

I ran `docker images` and it gives me this one:
`localstack/localstack                                       latest    008

[2021-11-16 13:02] DIU-marc opened #4931 "Can't create RDS MySQL Database"
Hi,
when i want to create a Database via Terraform, I'll get the error below (shown in console/stdout) while apply:

`ERROR: 'apk add /tmp/localstack/ls-mysql-pkgs/*.apk': exit code 99; output: b'fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/main/x86_64/APKINDEX.tar.gz fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/community/x86_64/APKINDEX.tar.gz
ERROR: /tmp/localstack/ls-mysql-pkgs/busybox-

[2021-11-16 13:05] thrau commented on #4931
Hi @DIU-marc , could you provide a bit more information on how you are starting localstack? we have a template here with the information we typically need to reproduce an issue: https://github.com/localstack/localstack/issues/new?assignees=&labels=bug%2Cneeds-triaging&template=bug-report.yml&title=bug%3A+%3Ctitle%3E

could you please run another docker pull on the latest image? it looks like you'r

[2021-11-16 13:12] AlexMili commented on #4930
It works ! My queue is correctly listed and everything is working accordingly. Thank you !

[2021-11-16 13:17] alexrashed commented on #4921
Actually @mLupine, for the sake of the overview we would like to use this ticket to track the failing tests and just link other issues in here. Otherwise this issue could get sidetracked quite easily.
Would it be possible for you to create a new issue and link this one in it?

[2021-11-16 13:20] naspeh commented on #4743
If you run `localstack` using docker: https://github.com/localstack/localstack#using-docker
[code]
You will see LocalStack version in logs.

To update your `localstack`, this should work
[code]

Maybe it is fixed already, please check your version and share it with me for history purposes, and then please try to update `localstack` and run your tests once again.

[2021-11-16 13:24] mgagliardo commented on #4930
Glad it worked. Cheers mate

[2021-11-16 13:24] #4930 closed

[2021-11-16 13:30] herrlegno commented on #4743
I record a brief [video ](https://streamable.com/cfodih) to show the process I'm doing, just in case I'm doing something wrong.

The localstack version I'm currently running is:
[code]

[2021-11-16 13:37] mLupine opened #4932 "bug: Unable to download ARM64 lambda layers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Pro version of LocalStack supports fetching Lambda layers from AWS. Your lambda layer proxy probably uses the x86_64 architecture to extract the contents of a specified layer. Layers can, however, specify architectures they're compatible with and if a layer is only compatible with arm64,

[2021-11-16 13:38] mLupine commented on #4921
@alexrashed sure, just created [an issue](https://github.com/localstack/localstack/issues/4932). The first part of my message is still valid, though 😉

[2021-11-16 13:51] DIU-marc commented on #4931
Thanks for that quick response!

This error has been fixed with the pull (now on 0.13). But now I'm getting:

`[ERROR] mysqld: Can't lock aria control file '/tmp/localstack/data/rds-data-mysql/us-east-1/my_db/data/aria_log_control' for exclusive use, error: 11. Will retry for 30 seconds
[ERROR] mysqld: Got error 'Could not get an exclusive lock; file is probably in use by another process' when try

[2021-11-16 13:58] herrlegno commented on #4743
I can't get it working on latest 0.13 release: It just gives this:
[code]

I noticed that if I restart localstack I can't even run the 1st test, it throws same error.

[2021-11-16 14:03] DIU-marc commented on #4931
Update:

After removing all terraform sources and a docker-compose down (restarting), now everything works fine.

[2021-11-16 14:03] naspeh commented on #4743
Have you created a `test` bucket once again?

[code]

I'm also trying to reproduce it with `0.12.18` and will check `0.13.0` as well.

Could you please share the `docker-compose` section related to `localstack`?

[2021-11-16 14:18] thrau commented on #4931
yep, possibly. glad your issue is solved!

[2021-11-16 14:18] #4931 closed

[2021-11-16 14:30] herrlegno commented on #4743
Summary after doing some more testing:
* v0.12.18 and 0.12.20 is giving me the extra-chunk signature
* v0.13 is giving me 404 in bucket after restart (created before restart)

Docker-Compose:
[code]

[2021-11-16 14:45] herrlegno commented on #4743
Thank you @naspeh!

[2021-11-16 15:01] zhammer commented on #4923
update: i tested this against the `latest` (`1.17.0`) image of https://hub.docker.com/r/amazon/dynamodb-local and the bug does _not_ occur

[2021-11-16 15:01] naspeh commented on #4743
For the history, in my first comment, I was running `localstack start` in docker mode.

I was able to reproduce it by running and stopping `docker` container manually:
[code]

[2021-11-16 15:16] zhammer commented on #4923
i tested this against the latest localstack release (1.13.0) and still see the bug. digging deeper into the localstack code, i'm suspecting that this has to do with the dynamodb proxy code:

https://github.com/localstack/localstack/blob/07b6887a4e6c0458def3ab4b1a99c6f5620942e6/localstack/services/dynamodb/dynamodb_listener.py#L127-L134

see the `ResourceInUseException` exception in that python pro

[2021-11-16 16:16] #4123 closed

[2021-11-16 16:30] Ne0xygene commented on #4896
As an additional note, I'm also on Apple M1.

[2021-11-16 17:15] yosilliq commented on #4907
Hello, sorry for the late response (some production issues).. :)

My docker-compose.yml file is:
version: "2.1"
services:
  localstack:
    container_name: "localstack_main"
    image: localstack/localstack
    hostname: localstack
    ports:
      - "4566-4599:4566-4599" # ports of the different services
      - "9000:9000"

    environment:
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data

[2021-11-16 17:19] bforcier1 opened #4933 "bug: AWS Batch RegisterJobDefinition using deprecated resource specification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When registering a jobDefinition against localstack batch, using the Java SDK:
[code]

Localstack throws an error, indicating a `TypeError` comparing memory values
[code]

### Expected Behavior

This same `RegisterJobDefinitionRequest` operation completes successfully when running against AWS

[2021-11-16 17:59] bforcier1 opened #4934 "bug: AWS Batch Cloudwatch Events have incorrect information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After successfully submitting a job to localstack Batch, the Cloudwatch Event messages are processed for `RUNNING` states. The setup being:

application.submitJob -> Localstack Batch -> Localstack CloudwatchEvent -> Localstack SNS -> Localstack SQS -> application

Localstack is publishing a m

[2021-11-16 18:43] marnett commented on #2960
For anyone else who may have come across this I had some different connection issues, and they stemmed from the `containers.resources.limits` that were configured in the above `.yml`:
[code]

These `limits` were restraining the provisioned resources and causing HTTP timeouts from my `localhost` to the `pod`. Removing the `limits` allowed the `pod` to consume the necessary resources to handle my `k

[2021-11-16 19:07] zhammer commented on #4923
may be getting closer to a solution here. i've been testing behavior of the same aws calls using both the aws-sdk-go and aws-sdk-go v2 libraries against localstack running on my development environment. after being stuck for a while, i found this util function (and comment)

https://github.com/localstack/localstack/blob/d5b9d1cf64ae92866a00d24554d160bc2612da05/localstack/services/dynamodb/dynamodb

[2021-11-16 19:15] mhkhung opened #4935 "bug: SQS QueueArn does not match what is returned with getQueueArn()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

QueueArn returned by get-queue-attributes is not the same as the API getQueueArn() causing issues when trying to set dead letter queue etc.

### Expected Behavior

QueueArn is consistent

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are yo

[2021-11-16 19:33] posita opened #4936 "bug: Documentation is lacking for specific ports"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There doesn't appear to be a unified list of services and default ports in the documentation. The Getting Started section, for example, suggests mapping port 4571, but completely neglects to tell anyone why or what it's used for. Searching for 4571 in the docs yields mixed results. Only when

[2021-11-16 19:35] thrau commented on #4935
hey @mhkhung, thanks for the bug report. could you maybe provide a minimal working example of the php code you are running? i assume it is this method you are calling? https://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.Sqs.SqsClient.html#_getQueueArn

[2021-11-16 19:40] zhammer commented on #4923
resolution was to add a `SigningReason` to my `aws.Endpoint` in config. lol.

[code]

[2021-11-16 19:51] thrau commented on #4935
actually it looks like this may be a limitation of the PHP AWS SDK. looking at the code, they directly parse the URL, which in the `localhost:4566` case doesn't resolve correctly: https://github.com/aws/aws-sdk-php/blob/15f6b434b92826a321191bf5b72820934d970580/src/Sqs/SqsClient.php#L73-L88

could you, as a workaround, use the `getQueueAttributes` method to get the ARN from the attributes directly?

[2021-11-16 20:17] thrau commented on #4936
thanks for the hint Matt @posita. we've only recently removed the necessity for 4571 with custom elasticsearch endpoints #4866. most services can be routed through the edge port 4566. APIs that spawn backend services with binary protocols (like RDS, redis, etc, ...) require a port from the service port range, and one will be allocated from there.

but i agree the docs and our example could use som

[2021-11-16 22:04] KrishnanRanjithkumar commented on #4777
Hi @ramakot I think i've encountered this issue related to invalid XML received. Could you please run `aws configure` command and check your `Default output format ` is `json`?

[2021-11-17 04:32] chezsmithy commented on #4896
@Ne0xygene 0.13.0 was just published with experimental arm support. Perhaps see how that works on your M1?

[2021-11-17 05:56] mhkhung commented on #4935
Thanks.. I am doing a str_replace as a workaround when I am running unit-tests for now..
[code]

[2021-11-17 06:08] navels opened #4937 "feature request: local mount of lambda layer code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

We can use the `__local__` S3 bucket to mount lambda function code into the lambda container.  But the [lambda container](https://github.com/lambci/docker-lambda) also supports mounting layer code:
[code]
and my reading of the localstack code is that this should be trivial to implement.

F

[2021-11-17 07:52] naspeh commented on #4743
Hi @herrlegno, one quick observation, if you try to register and create a trial key https://app.localstack.cloud/ (no credit card is needed) and update your `docker-compose.yaml` with
[code]
Your test case should work with `0.12.20`.

If you could try this and confirm it is working, that would be great.

Meanwhile, I'm trying to investigate the root cause of this issue.

[2021-11-17 14:55] thrau commented on #4935
closing this for now as i don't see how we could easily fix this.

[2021-11-17 14:55] #4935 closed

[2021-11-17 15:13] Ne0xygene commented on #4896
Hello @chezsmithy ,
I just upgraded to 0.13.0. And everything looks fine. I no longer have the memory leak issue. Thanks !

[2021-11-17 17:28] #4743 closed

[2021-11-17 18:34] thrau commented on #4896
that's great news, @Ne0xygene! and thanks @chezsmithy for pointing out the new release. closing this now

[2021-11-17 18:34] #4896 closed

[2021-11-17 18:58] jreichhold opened #4941 "bug: Elasticsearch never availalble on 0.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Starting localstack via docker compose and while elasticsearch starts on the ephemeral port it is never available on port 4571 even in the container.

### Expected Behavior

At some point when elasticsearch is running port 4571 should point at the ephemeral port or some port mapping should ex

[2021-11-17 19:30] thrau commented on #4941
hi Jonathan @jreichhold, could you share the commands you use to create the elasticsearch domain? LocalStack doesn't start an elasticsearch instance until you create a domain.

Maybe the localstack documentation can help: https://docs.localstack.cloud/aws/elasticsearch/

[2021-11-17 19:35] thrau commented on #4923
Hi Zach @zhammer , glad your issue was resolved ;-)

is there anything in the docs on our end that could have helped you, that we can improve?

[2021-11-17 20:00] Anexen opened #4943 "bug: STS responses contain Content-Type: text/html header, but AWS returns text/xml."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`awslocal --debug sts get-caller-identity` contains `Response headers: {'Content-Type': 'text/html' ... }`

### Expected Behavior

`awslocal --debug sts get-caller-identity` contains `Response headers: {'Content-Type': 'text/xml' ... }`

### How are you starting LocalStack?

With the `localst

[2021-11-17 20:17] jreichhold commented on #4941
This works on 0.12.19.1 and shows no error on 0.13.0

awslocal es create-elasticsearch-domain \
--domain-name pop-local \
--elasticsearch-version 7.10 \
--elasticsearch-cluster-config
ZoneAwarenessEnabled=false,InstanceCount=1,DedicatedMasterEnabled=false,InstanceType=t3.small.elasticsearch
\
--ebs-options EBSEnabled=true,VolumeType=gp2,VolumeSize=10 \
--encryption-at-rest-options Enabled=false \

[2021-11-17 20:29] lynxeyedua commented on #4907
Try connect to "host.docker.internal:3306" from your lambda, if port 3306 is reachable from your host.

Not sure that this is conceptually correct, but worked for me.

[2021-11-17 20:30] thrau commented on #4941
We changed the way elasticsearch endpoints are created in 0.13, the documentation explains this in detail. Did you take a look at it? To get the old behavior you can set the variables `ES_ENDPOINT_STRATEGY=off` and `ES_MULTI_CLUSTER=0`.

[2021-11-17 20:34] jreichhold commented on #4941
Which documentation are you referring to? I've read the release notes and didn't see anything about this.

[2021-11-17 20:35] thrau commented on #4941
i linked the documentation in my first post: https://docs.localstack.cloud/aws/elasticsearch/

[2021-11-17 21:03] jreichhold commented on #4941
Hmm. Playing with this and while the endpoint is up the es client lib won't connect with the new ES_ENDPOINT_STRATEGY of `domain` but does work if I use `off`

[code]

[2021-11-17 21:24] naspeh commented on #4743
Hi @herrlegno,

One note, you should update your `docker-compose.yaml` with `EAGER_SERVICE_LOADING=1` env var, then the persistence mechanism will work on the latest images.

[2021-11-17 22:46] ramakot commented on #4777
yes, when I run aws configure, yes I have given all default values and default output format is "json"

[2021-11-17 23:01] irgeek commented on #4308
I think we've  run into the same bug while evaluating LocalStack Pro. Unfortunately it's a show-stopper for us as we use nested stacks extensively and outputs and parameters are how we pass values between stacks.

We've managed to create a minimal set of templates to demonstrate the problem and posted them in a gist here:

https://gist.github.com/irgeek/cd528bfce19e5d14a9d9bdd245030e4a

The templa

[2021-11-17 23:07] irgeek commented on #2079
I've just left [a comment](https://github.com/localstack/localstack/issues/4308#issuecomment-972228153) over on #4308 -- I'm not sure if this is the same bug, but it at least seems related.

I've put together a minimal set of templates that demonstrate a bug when trying to fetch sub-stack outputs with `!GetAtt`/`Fn::GetAtt`

[2021-11-18 00:29] monteirocicero opened #4945 "bug: No module named 'cryptography.hazmat.primitives._serialization'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am deploying my lambda, but when I apply my terraform to delivery the package with dependencies occur the problem with import.

### Expected Behavior

Lambda function using the dependencies provided by the zip file.

### How are you starting LocalStack?

With a docker-compose file

### Step

[2021-11-18 00:31] whummer commented on #4928
Thanks for the detailed report @awehrung - it was very helpful in reproducing the issue. We have now pushed a couple of enhancements for API GW v2 request parameters - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes.. Thanks!

[2021-11-18 02:17] brucekaufman opened #4946 "bug: calls from nodejs 14 lambda to dynamo with localstack/latest hang and never return"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running the integration test suite of a private repo that is passing with localstack:0.12.16, I found that nearly all the tests were failing when I tried to update to latest.  When debugging, I found that calls from the nodejs14 lambda container to dynamodb local are hanging and never re

[2021-11-18 03:08] brucekaufman commented on #4946
digging into the release notes, i found that setting `EAGER_SERVICE_LOADING=1`.  Eliminates this behavior and all works as before.  I think this indicates some bug with the lazy service loading, specifically with dynamodb?

[2021-11-18 07:10] Anexen commented on #4943
closed because the PR was merged

[2021-11-18 07:10] #4943 closed

[2021-11-18 07:43] yonatandbinahai opened #4947 "bug: cannot access other docker containers from localstack since 0.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Try to access other docker containers from the localstack container fails.
This works in 0.12.15 but not in 0.13.0 or later.

### Expected Behavior

Other containers should be accessible.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are y

[2021-11-18 07:55] awehrung commented on #4928
Hi @whummer, thanks for your reply. The `latest` image that I just pulled seems to have another problem, which prevents me from testing out the fix; the Localstack container is not able to communicate with other containers...

Logs when calling said endpoint over Postman:

[code]

Calling the endpoint directly from the Localstack Container:

[code]

My `backend-service` can be accessed from other

[2021-11-18 07:59] naspeh commented on #4639
Hi @tobilg, I could reproduce the server error like you shared by deleting objects from the non-existing bucket. I have prepared the fix here https://github.com/localstack/localstack/pull/4948

[2021-11-18 09:28] whummer commented on #4928
Thanks for the update - we'll look into that right away. Likely also related to https://github.com/localstack/localstack/issues/4947

[2021-11-18 10:33] awehrung commented on #4928
Using a recommandation from the Localstack Pro Support on Slack, I was able to solve this sub-problem by setting `DNS_ADDRESS=0`. However this triggers more problems like errors about "Port was not open" and infinite recursions when I try to create an integration. Is there another way?

[2021-11-18 10:58] tobilg commented on #4639
Thank you very much @naspeh for the find and the upcoming fix!

[2021-11-18 11:40] dfangl commented on #4947
Hi @yonatandbinahai !
Currently, a viable workaround for this issue is either setting the DNS server of localstack to the one provided in docker with `DNS_SERVER=127.0.0.11` or disabling the LocalStack DNS integrations completely (setting `DNS_ADDRESS=0`).
We are continuing to implement a better and permanent solution for this issue, but for now, please set one of the mentioned configuration varia

[2021-11-18 12:16] awehrung commented on #4928
Ok, I don't know what you guys did but I pulled the newest `latest` from this morning and replaced `DNS_ADDRESS=0` with `DNS_SERVER=127.0.0.11` and it worked! So I guess my problem is no longer a problem... :smile:

Any idea which fixed version tag this will be published under? I'd like to avoid using `latest` as much as possible to avoid those kinds of conflicts.

[2021-11-18 12:53] FloatingGhost opened #4951 "bug: S3 Copy does not honour KMS parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When requesting an S3 copy, it is possible to specify SSE KMS keys to encrypt the result - localstack does not respect these settings

It returns
[code]

### Expected Behavior

[code]

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### How are you

[2021-11-18 13:22] whummer opened #4952 "Enhancement: Refactor S3 integration tests to cover both path- and hostname-based addressing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

AWS provides two main S3 addressing types - path-based addressing, and hostname-based addressing (see [here](https://docs.aws.amazon.com/AmazonS3/latest/userguide/VirtualHosting.html)).

The default in LocalStack is path-based addressing (if `localhost` is used as the target endpoint), but

[2021-11-18 14:34] FloatingGhost commented on #4951
source of this seems to be moto, seeing if i can patch

[2021-11-18 15:03] FloatingGhost commented on #4951
Raised PR with moto that should rectify the situation, will need a moto-ext release when that's merged https://github.com/spulec/moto/pull/4593

[2021-11-18 15:03] awehrung opened #4954 "bug: API-Gateway-v2 does not recognize {proxy} and {proxy+} placeholders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When configuring a route and integration for my local setup, I am unable to use the variables `{proxy}` and `{proxy+}`. The API-Gateway seems unable to reach the application with the correct path and I get back the following response, which looks like a Spring-Boot default response for undefi

[2021-11-18 15:12] awehrung commented on #4947
This fix worked for me with `DNS_SERVER=127.0.0.11`! Thanks (I had this same problem in the linked issue).

[2021-11-18 17:15] gabrielhruiz commented on #4846
Effectively, when I use the example using awslocal (CLI) it works.

But when we use the .Net Nugget package of TimeStreamWriter with LocalStack is not the case. When we apply the same code in the cloud (over AWS services) the code works.

Maybe it's a Nugget package problem.

When we try to list our DBs or create a new DB using the Nugget package (with code written previously), for example, Locals

[2021-11-18 23:13] BatmanAoD opened #4958 "bug: license key activation apparently fails DNS resolution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After launching `localstack` with either the light or the full image, during the `Waiting for all LocalStack services to be ready` setup, I see the following error:

[code]

From the Ubuntu command line, `curl api.localstack.cloud:443` returns `400 Bad Request`, so the host appears to be reac

[2021-11-18 23:25] mgagliardo commented on #4958
Hello @BatmanAoD, can you share a bit more details? What does your DNS resolve if you run `nslookup api.localstack.cloud`? Maybe testing with Google or Cloudflare's DNS?

I have just tested this on two different computers and worked ok:

[code]

[2021-11-19 04:17] BatmanAoD commented on #4958
That's odd...I can't reproduce the issue from my current internet connection. It must have something to do with the specific network I was on.

[2021-11-19 04:17] #4958 closed

[2021-11-19 08:35] alexrashed commented on #4456
@sebastianczech @GeertWille @sosuren @vasigorc @quii @seregazhuk We just released 0.13, which includes a native arm64 image. This issue should hopefully be fixed with the native execution. Could someone give it a try to verify that it now works as expected? Thanks!

[2021-11-19 08:42] alexrashed commented on #4625
Hi @Paparama! We just released 0.13, where we are now providing a native arm64 image. This issue should hopefully be fixed with the native image. Could you give it a try to verify that it now works as expected? Thanks!

[2021-11-19 08:44] alexrashed commented on #4697
Hi @nghia11110! We just released 0.13, where we are now providing a native arm64 image. This issue might be fixed with the native image. Could you give it a try and tell us if it works with 0.13? Thanks!

[2021-11-19 08:57] quii commented on #4456
Yeah that seemed to fix it @alexrashed , thank you so much!

[2021-11-19 09:16] alexrashed commented on #4456
Great! Happy to hear that. :) Closing the issue for now.

[2021-11-19 09:16] #4456 closed

[2021-11-19 10:09] nghia11110 commented on #4697
@alexrashed thank you so much. I will check and feedback to you soon!

[2021-11-19 12:11] shield007 opened #4959 "bug: Localstack gets killed and restarts when running on arm64 osx with the 0.13.0 release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We were using localstack on intel without issues, but all the developers laptops are now apple M1 chip based laptops. So we've moved to using localstack at version 0.13.0 since this has the best support.

When starting our services which use localstack for things like the apigw support and a

[2021-11-19 13:10] shield007 commented on #4959
After raising this ticket, I suddely had a idea that it was a OOM issue. Once I raised the memory reserved for docker desk top, the problem goes away. Not sure if thats documented anywhere (might just have missed it), but would be good to document it.

[2021-11-19 13:13] shield007 commented on #4959
Some extra info, memory was initial set to 2GB and I increased it to 12GB. It's possible I could have got away with less that 12.

[2021-11-19 15:06] ppatidar-conga commented on #2527
I am running that on windows and i could see that operations and request are being saved in recorded_api_calls.json
however once container is stopped and again restarted , it doesn't reload and restore the data.It doesnt show any error specific to restore like shown above still it doesnt work out.

[2021-11-19 15:50] naspeh commented on #4160
Hi @sergeyfsv-da it was reported a while ago, we have had a fix for expiration time #4164 since then.

Also, I was trying to reproduce this issue locally and found that [`aws s3 presign` generates url for GET method](https://docs.aws.amazon.com/cli/latest/reference/s3/presign.html#description) and you can't generate presign url for PUT method using `aws cli`, I have tested these steps (you can cop

[2021-11-19 15:50] #4160 closed

[2021-11-19 18:17] Valero5822 opened #4962 "Local stack"

[2021-11-19 18:45] Pawan126232 opened #4963 "The git backend works when the branch is master."
If the branch isn't master, the push will fail with the error:

[code]

Expected Behavior
The pod is pushed successfully to git and the command exits with status code 0 gracefully.

Ideally, the branch would also be created if it doesn't already exist.

How are you starting LocalStack?
With a docker-compose file

Steps To Reproduce
Create a cloud pod:
Name - testauto
Backend - git
Branch - testaut

[2021-11-19 19:05] whummer commented on #4928
Thanks for the update @awehrung - we'll prepare a minor/patch release in the next couple of days (by early/mid next week at the latest). 👍

Regarding this point - is there a stacktrace information with files/line numbers - can you please share the full error output (with DEBUG=1 enabled)? Thanks!

[2021-11-19 19:17] BatmanAoD opened #4964 "question: Are the `AWS::Serverless` SAM resource types supported?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

I don't see the `AWS::Serverless` types listed in the [list of supported resource types](https://docs.localstack.cloud/integrations/aws-sam/), but the documentation does say that SAM itself should be supported.

I'm seeing this issue when trying to use `AWS::Serverless::App

[2021-11-19 19:59] BatmanAoD opened #4965 "bug: s3 `Location` paramter for `samlocal package` followed by `samlocal deploy` isn't usable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use `samlocal package` to process a CloudFormation template, then `samlocal deploy` to deploy the template, any `Location` parameters referring to local files break the deploy process.

`sam` replaces these local paths with s3 URIs, but uses `https://s3...` rather than `s3://...` to do

[2021-11-19 20:44] pinzon commented on #4831
The PR that solves this issue has been merged.
Thank you for reporting this issue.

[2021-11-19 20:44] #4831 closed

[2021-11-19 21:05] resaisguvenligi commented on #4904
- [ ] [@rcwstore_[alkan]()_]()

[2021-11-19 21:28] JacobReynolds opened #4967 "bug: Containers are not deleted after calling ECS Run-Task"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When calling `awslocal ecs run-task...` the container is not deleted after completion. This causes a naming collision and future calls to `run-task` fail.

### Expected Behavior

The container should be deleted when execution is finished, so future calls to `run-task` succeed. Alternatively,

[2021-11-19 21:35] SaDNeSS514 opened #4968 "."

[2021-11-19 22:06] dominikschubert commented on #4965
@BatmanAoD

That'd be awesome if you could do that and would definitely help us a lot in getting this fixed soon :+1:

[2021-11-19 23:57] BatmanAoD commented on #4965
Okay, I've reproduced it with a very simple example. The `data` directory was used as `DATA_DIR`, and the `cf` directory contains the parent template (`template.yml`) and nested template (`nested/template.yml`). `cf/deploy_failure.log` shows the invocations I used and the terminal output.

[nested_failure.tar.gz](https://github.com/localstack/localstack/files/7573457/nested_failure.tar.gz)

[2021-11-19 23:59] BatmanAoD commented on #4965
As you can see from the example, I am using the `AWS::Serverless-2016-10-31` transform, which the documentation says is supported.

[2021-11-20 02:53] abbaseya commented on #3511
I'm having the same issue and setting `S3_SKIP_SIGNATURE_VALIDATION =1` does not resolve anything. I'm getting the following error when deploying lambda functions using serverless:
[code]
Any idea how to get around this?

[2021-11-20 03:44] abbaseya opened #4970 "Lambda invocation exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Creating and/or updating Lambda functions in docker does not work after updating LocalStack image to the latest version with the following error in LocalStack logs:
[code]

### Expected Behavior

Lambda create and/or update operations should pass successfully all the way to the end without an

[2021-11-20 03:50] abbaseya commented on #4893
Issue appears to be resolved after updating LocalStack image!

[2021-11-20 03:50] #4893 closed

[2021-11-20 13:36] #4968 closed

[2021-11-20 15:11] dmarkey opened #4973 "bug: Lambda service start unreliable on 0.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

50% of the time, using the localstack docker container, the lambda service does not come up reliably:

[code]

### Expected Behavior

That the lambda service comes up and does not spew exceptions.

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

#

[2021-11-20 15:26] dmarkey commented on #4973
Actually, after a few tries, I'm seeing the same problem on 0.12.20 :(

[code]

[2021-11-20 16:30] bep0st opened #4974 "bug: Unable to delete buckets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I can create/read buckets, upload/read/delete files but I can't delete buckets. If I try to delete a bucket I get the following error:

`remove_bucket failed: s3://test An error occurred (500) when calling the DeleteBucket operation (reached max retries: 2): Internal Server Error`

### Expect

[2021-11-20 16:47] mgagliardo commented on #4974
Hello @bep0st, can you please show me your debug code output? I could not reproduce this issue on my machine:

docker-compose.yml:
[code]

output:
[code]

[2021-11-20 17:04] bep0st commented on #4974
Hello @mgagliardo
Do you mean the docker logs?

[2021-11-20 17:24] mgagliardo commented on #4974
Yes, that would be ok, do you see anything relevant?

[2021-11-20 17:32] david-wb opened #4975 "bug: Error in AWS SDK for JS when using the Cognito emulator."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using the AWS SDK for JS v3 with a localstack Cognito endpoint, like so

[code]

This throws an error from within the AWS SDK:
[code]

Interestingly, running other commands such as `ListUserPoolClientsCommand` works with out issues, as does using the `awslocal` cli, so I believe this is a

[2021-11-20 19:23] #4794 closed

[2021-11-20 20:13] whummer commented on #4954
Thanks for the detailed report @awehrung , appreciate the reproducible example. This should be (hopefully) fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks for your help!

[2021-11-20 20:17] bep0st commented on #4974
Hello @mgagliardo
Here is my [docker.log](https://github.com/localstack/localstack/files/7575167/docker.log). I hope it is helpfull. Thanks for your support.

[2021-11-20 22:47] whummer commented on #4970
Hi @abbaseya , thanks for reporting. This might be a DNS issue, potentially - we have recently moved from Alpine to Debian as the base image, which uses a slightly different mechanism for resolving DNS names.

Can you please try adding the following ports to your docker-compose config:

[code]

If that doesn't help, can you please the full LocalStack log output with DEBUG=1 enabled? Thanks!

[2021-11-21 00:36] mgagliardo commented on #4974
Hello @bep0st I can see there are some weird SSL related errors on top of the file and I don't see the same on my run:

[code]

Can you please try running a plain docker run like this and let me know if it keeps happening to you?
`docker run -ti -e DEBUG=1 --rm --name localstack -p 4566:4566 localstack/localstack:latest`

[2021-11-21 00:45] bep0st commented on #4974
Hello @mgagliardo
Unfortunately, same behavior (see [docker2.log](https://github.com/localstack/localstack/files/7575579/docker2.log)). It is strange that this only happens if I try to delete the bucket. All other operations work.

[2021-11-21 01:53] bep0st commented on #4974
Ok, I found out that the bucket was deleted after all, but the application stops executing due to an internal crash. My current workaround is to restart the Docker container :(.

[2021-11-21 02:30] 00005555 commented on #3107
Just go to the file C:\Users\Fixxo\AppData\Local\Programs\Python\Python310\Lib\site-packages\binwalk-2.3.3-py3.10.egg\binwalk\modules\extractor.py , open with Notepad and DELETE the 7 LINE  " import pwd " SAVE AND DONE

OR

  File "C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\localstack\utils\common.py",
and delete de 4 line " import pwd " SAVE AND DONE

[2021-11-21 09:46] mklueh commented on #4044
I was also wondering why uploaded images with setting ObjectCannedACL.PRIVATE are still accessible. Not implemented or a bug?

[2021-11-21 12:27] whummer commented on #4975
Hi @david-wb , thanks for reporting. We have now pushed a few enhancements in Cognito which should (hopefully) resolve this issue. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks for your help!

[2021-11-21 12:27] #4975 closed

[2021-11-21 13:10] mgagliardo commented on #4974
@bep0st can you try a cleanup of your local folder or restarting the system? Also does the error output have any difference with what you shared before?

[2021-11-21 14:53] bep0st commented on #4974
@mgagliardo I have deleted my local folder and changed the docker-compose.yml to

localstack:
    image: localstack/localstack:latest-amd64
    ports:
      - '4566:4566'
    environment:
      - AWS_DEFAULT_REGION=eu-central-1
      - SERVICES=s3
      - DEBUG=1
      - EDGE_PORT=4566

Finally I have restarted the container but same issue again.

[2021-11-21 20:10] mgagliardo commented on #4974
Have you tried restarting your system? It is very weird it is trying to connect to your internal host port 3128. As you are using windows I guess this has something to do with your docker engine running on the windows VM. Can you try restarting the service as well?

[2021-11-21 20:36] whummer commented on #4946
Hi @brucekaufman , thanks for reporting this issue. Can you please help us create a reproducible sample that exposes this issue.

Looks like running the bash script below works against `latest` - can you verify that it also works for you?
[code]
Thanks!

[2021-11-21 21:05] abbaseya commented on #4970
Thank you @whummer for your response, I am using macOS and the port 53 already in use by the system DNS, I can't bind that to LocalStack via `docker-compose.yml`. The following is the full LocalStack logs anyway (_with `DEBUG=1`_):
[code]
That being said, there's one additional piece of informationI need to add here.
Docker Desktop for Mac is having a  performance bottleneck caused by the shared f

[2021-11-21 21:12] whummer commented on #4945
Thanks for reporting @monteirocicero . Indeed, this could be an issue with the Python path being used for the Lambda invocation. I noticed that you're using the `local` Lambda executor - can you please try using the default Docker-based Lambda executor, by commenting out the following line:

[code]

Please let us know if this helps to get your Lambda running properly. Thanks!

[2021-11-21 21:16] whummer commented on #4925
Thanks for reporting @navels . We have recently pushed a few enhancements for DNS resolution with the new multi-arch/Debian-based image. Can you please pull the `latest` image and let us know if the problem still persists? In that case, can you please try setting `DNS_ADDRESS=0` in the environment configuration (this should entirely disable the local DNS integration, and get your issue resolved).

[2021-11-21 22:17] bep0st commented on #4974
I have restarted my windows, docker and the container several times. My Docker is running with WSL2.

[2021-11-21 22:28] abbaseya commented on #4970
@whummer Note that I am able to resolve `app.localstack.cloud` from inside LocalStack container:
[code]
Not sure how to make sure that Lambda containers also resolves the same.

[2021-11-21 23:56] whummer commented on #4915
Hi @EinavBar18 , thanks for reporting. This should be (hopefully) fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists, or if you're experiencing any other discrepancies with real AWS. Thanks for your help!

[2021-11-22 04:05] alfonzjanfrithz commented on #3939
I am not sure what is the exact reason, because the debug does not tell much of the problem, but this solution works.
I ended up using 0.12.5

[2021-11-22 07:25] awehrung commented on #4954
Hi @whummer, thanks for pushing a fix over the weekend, I greatly appreciate the effort.

The `{proxy}` and `{proxy+}` variables seem to work better now (pulled latest image `sha256:a58b91600fd6c8c92151bb53daf1b902d6a67cdc820c293bb2d8e348cc7b9eaf`), however not quite as expected:
* :heavy_check_mark: the path gets transmitted correctly and the correct endpoint is called for requests with only path

[2021-11-22 07:37] awehrung commented on #4928
Hi @whummer,

here is  an excerpt of the stack trace I'm getting. The logs of my backend service (which I cannot share) let me think that the error occurs when the service performs a `list-keys` operation on KMS during its health-check process.

<details>
  <summary>Logs (click to expand)</summary>

[code]
</details>

Hope this helps!

Note: this does not occur consistenly; sometimes the container

[2021-11-22 07:59] arpekkar commented on #3133
I would like to know the status of this as well. We are using AWS timestream but can it be localized with Localstack and what are the possible limitations with it?

[2021-11-22 08:32] alexrashed commented on #4281
Hi @neilkinnish. With 0.13.0 (released last week) we now have an arm64-native Docker image of LocalStack. With it we also released an arm64 version of the Go runtime. These changes should hopefully fix your issues. Could you give the latest version a try and tell us if this issue has been fixed with the latest version?

[2021-11-22 09:26] whummer commented on #4712
Thanks @aleskiewicz . This should be fixed in spulec/moto#4444 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2021-11-22 09:26] #4712 closed

[2021-11-22 09:41] naspeh commented on #4974
Hi @bep0st,

We have this warning:

To enable the persistence mechanism based on API calls record&replay, you should add `EAGER_SERVICE_LOADING=1` as well for now.

I can't reproduce the original issue with `Failed to connect to proxy URL: "http://host.docker.internal:3128"` though yet.

[2021-11-22 10:15] whummer commented on #4358
Hi @chris-planetly @zwing99 @zale144 @elbaulp @levrado @carmonac @expelledboy @ptz0n @marcelja , we have recently introduced a multi-arch build for ARM64+AMD64, which is available from LocalStack version 0.13.0 onwards (and in the `latest` Docker image).

Apple M1 notebooks should now be natively supported. There are still a few limitations (documented [here](https://github.com/localstack/localsta

[2021-11-22 10:15] #4358 closed

[2021-11-22 10:29] aleskiewicz commented on #4712
Thanks @whummer ! I confirm, using `latest` tag everything works fine.

[2021-11-22 10:47] mgagliardo commented on #4974
Considering this as closed for now. I have tested this and could not reproduce on 1 windows, 2 linux and 1 mac machine and we have have not received any other reports related.
If you have any other comments feel free to add them here or open a new issue. Cheers!

[2021-11-22 10:47] #4974 closed

[2021-11-22 11:08] 111andre111 commented on #2120
Hi folks,
Are there any news on this one?

[2021-11-22 11:31] alexrashed commented on #4358
Hi there.
With 0.13.0 (released last week) we now have an arm64-native Docker image of LocalStack. This version contains the workaround of using `kinesalite` for the arm64 version (as described by @whummer above).
But this actually isn't necessary anymore, since `kinesis-mock` should work as expected when running natively.
Therefore, we removed the workaround again with #4980. All `latest` version

[2021-11-22 11:32] naspeh commented on #4047
Hi @nikoncode,

You can specify `S3_SKIP_SIGNATURE_VALIDATION=1` and presigned URL with STS credentials should work in this case.

[2021-11-22 11:32] #4047 closed

[2021-11-22 11:44] whummer commented on #4928
Thanks for the update @awehrung . We'll look into this issue, to remove the infinite recursion. 👍

But in general the issue seems to be that the `local-kms` KMS provider sometimes fails to start up properly. Is there a particular reason for using this provider, or would it also work with the default provider? In terms of the pre-seeding, we could replace the `KMS_SEED_PATH` with an init script tha

[2021-11-22 12:00] awehrung commented on #4928
Thanks for the reply @whummer. I'll look into it on my side.

This does not have much to do with the original problem though, so I guess this issue can be closed. Thanks again for the support throughout!

[2021-11-22 12:10] carmonac commented on #4358
Hi, I had this bug in Intel based.

[2021-11-22 12:25] abbaseya commented on #4970
@whummer There's another matter that I think is related to this issue in my case, My custom hypervisor VM accepts only arm64 images. I noticed that `localstack/lambda` is available only in `linux/amd64` architecture. If that's relevant, can you add support for `linux/arm64/v8` on that image?

[2021-11-22 15:27] alexrashed commented on #4358
Ah, okay, I see. Do you still have this issue? If so, could you please file a new issue? This one explicitly addresses problems on Apple M1 / arm64, and it feels like we'd be mixing up different issues in here.

[2021-11-22 16:01] nregina opened #4982 "bug: Creating a DynamoDb table with billingMode == PAY_PER_REQUEST and provisionedThroughput set should throw 400 error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating a DynamoDb table with billingMode == PAY_PER_REQUEST and provisionedThroughput set, the table is successfully created.

sample output
[code]

### Expected Behavior

An attempt to create a DynamoDb table with billingMode == PAY_PER_REQUEST and provisionedThroughput set should res

[2021-11-22 18:44] whummer commented on #4954
Thanks for the update @awehrung . The issue with missing query parameters should now be resolved - can you please try again with the `latest` Docker image? We're still looking into the issue with the `ANY` verb in integration methods - should be able to provide an update here shortly.. Thanks for your help!

[2021-11-22 19:04] whummer commented on #4297
Thanks for reporting @mattkahl . This should be (hopefully) fixed in #4985 - can you please pull the `latest` Docker image (currently being built in our CI pipeline, available on Docker Hub in ~30mins) and give it another try? Please let us know if the problem persists.. Thanks!

[2021-11-22 19:04] #4297 closed

[2021-11-22 19:29] wkruse opened #4987 "bug: The Content-MD5 you specified did not match what we received"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I started getting the following exception

[code]

after upgrade to `localstack/localstack-light:latest`, reverting back to `localstack/localstack-light:0.13.0` fixes it for me.

### Expected Behavior

No exception.

### How are you starting LocalStack?

Custom (please describe below)

### St

[2021-11-22 21:25] belinda-myob commented on #4987
we have experienced the exact same issue. We use a docker container running localstack and test against it. We upload a file in code with our test data, and it fails. The code we're using is:

`val file = File("src/test/resources/$fileName")
 awsHelper.s3.putObject(bucketName, "rawSourceFiles/$fileName", file)`

as you can see, very simple, yet we get this error. Works fine with 0.12.20, fails wit

[2021-11-23 07:29] nini commented on #4947
Thanks for the tip. I had a similar issue while running junit on Drone inside of `dind-drone-plugin` while migrating from Travis. My solution was to remove configuration line `HOSTNAME_EXTERNAL=localhost`.

[2021-11-23 08:05] awehrung commented on #4954
Ok, looks like it works! Thanks @whummer :smile:

I still have problems with the transmission of the response body and HTTP status (404 and 204 getting mapped to 200, some 200 coming as 503 without body) but this could be an issue on my side. I'll debug this and open a new issue if needed.

From my point of view, this thread can now be closed. Are you able to tell which stable tag this fix will la

[2021-11-23 08:52] #4928 closed

[2021-11-23 08:55] #4556 closed

[2021-11-23 08:57] whummer commented on #4088
Closing due to inactivity, please let us know if the problem persists - happy to look into it in more detail again.. Thanks!

[2021-11-23 08:57] #4088 closed

[2021-11-23 10:29] whummer commented on #4039
Closing due to inactivity - please let us know if the problem persists.. Thanks!

[2021-11-23 10:29] #4039 closed

[2021-11-23 10:44] whummer commented on #4551
Hi @gnwlyonme , we have recently fixed a couple of enhancements and made the SSL certificate installation more reliable. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2021-11-23 10:44] #4551 closed

[2021-11-23 12:52] naspeh commented on #4951
Hi @FloatingGhost,

Thank you for reporting and fixing the issue.

It's already in our fork https://github.com/localstack/moto/blob/d5b04f3ca22e207b3d6c4fc20cb36e1d76e53ee4/moto/s3/models.py#L2062-L2063

Please try the latest docker image: `localstack/localstack:latest`

[2021-11-23 12:59] naspeh commented on #4951
Just tested locally the steps from the description
[code]
Looks good. Once again thank you.

[2021-11-23 13:00] #4951 closed

[2021-11-23 14:39] awehrung opened #4990 "bug: API-Gateway-v2 returns wrong HTTP status codes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When making a request to an endpoint in my local setup, I get HTTP status codes that don't match the ones that the backend service actually returned. A few examples:
* 404 --> 200, the response body is correct (the JSON I configured for 404 responses) but the status is wrong
* 400 --> 200, th

[2021-11-23 14:47] ivanmartos commented on #4927
Small u[date - funny thing is that the issue does not occur when invoking lambda via SQS (SQS is also managed by localstack). Then the lambda works correctly. Issue occurs when invoking lambda via api gateway

[2021-11-23 15:11] ivanmartos commented on #4927
Small update about my experiments - I found a way how to make this work
This is my serverless.yml
[code]

When I deploy the serverless project to localstack and try to invoke any lambda, then it fails on missing node modules. However if I deploy to localstack (stage `offline`) and then trigger via serverless-offline plugin `serverless offline -s offline` (notice the same stage) then code actually

[2021-11-23 16:23] mattfiocca opened #4991 "question: is there a hard limit to the number of ECR repositories that can be created?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Are we limited to 30 ECR repos with a PRO key?

When creating ECR repositories, it appears that localstack is earmarking ports 4510-4539, one for each repo, with a hard stop at port 4539. The problem is that I have 34 repos that I need to create, one for each of my lambdas.

[2021-11-23 16:30] danilopereira opened #4992 "Cannot use KMS Sign command with localstack & testcontainers"
# Type of request: This is a ...
[X] bug report
[ ] feature request

# Detailed description
I am using localstack & testcontainers for mocking KMS locally to test my APIs and I need to generate data key "pairs". When calling sign() API, I get the following exception. I see that is not supported currently. Do you have any precision to add it?
Version I am using:
"localstack/localstack:0.13.0"

grad

[2021-11-23 16:58] whummer commented on #4991
Hi @mattfiocca , thanks for reaching out. Please note that you can customize the service port range via:
[code]
Hope that helps. We'll make sure to better highlight this in our documentation.. Thanks!

[2021-11-23 17:45] mattfiocca commented on #4991
That works perfectly; thank you!

[2021-11-23 17:45] #4991 closed

[2021-11-23 19:49] naspeh commented on #4639
@tobilg thank you for reporting, I'm going to close this issue. Please try the latest docker image `localstack/localstack:latest` with the mentioned fix. Let me know if you still can reproduce the issue from the description.

[2021-11-23 19:49] #4639 closed

[2021-11-23 20:10] whiterice42 opened #4995 "bug: timeout accessing s3 from Lambda container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Containerized Python lambda function times out when accessing s3 bucket.  The lambda function can successfully write to the s3 bucket with boto3 put_object, but attempts to access s3 (including put_object and get_object) do not return/finish, meaning that the lambda hangs on the call to put_o

[2021-11-23 21:01] IgorEulalio commented on #819
@bluedigits, thank by your reply!

I try to do the same, but when localstack spin up, i have an error:
`b'<HTML><HEAD>\r\n<TITLE>Access Denied</TITLE>\r\n</HEAD>\r\n<BODY>\r\n<FONT face="Helvetica">\r\n<big><strong></strong></big><BR>\r\n</FONT>\r\n<blockquote>\r\n<TABLE border=0 cellPadding=1 width="80%">\r\n<TR><TD>\r\n<FONT face="Helvetica">\r\n<big>Access Denied (authentication_failed)</big>\r

[2021-11-23 21:27] IgorEulalio commented on #2577
@whummer im facing same issue, in another test.

i've used docker-compose to run localstack:
`version: "3.8"

services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: localstack/localstack:0.11.2
    network_mode: bridge
    ports:
      - "127.0.0.1:4566:4566"
      - "127.0.0.1:4571:4571"
    volumes:
      - ./localstack:/docker-entrypoint-initaws.d

[2021-11-23 23:11] Blind-Striker opened #4997 "Not able to deploy sns topic via localstack and cdklocal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using the LocalStack v0.13.0 container.

I am trying to create an SNS topic with AWS CDK .NET. The cdklocal logs show that the SNS topic was created successfully. But when I run `awslocal sns list-topics` command, it returns an empty list.

The same CDK Stack is successfully created in t

[2021-11-23 23:20] whummer commented on #4997
Thanks for reporting @blind-striker . This could be a region mismatch, potentially. Please note that in the meantime we have added multi-region support - which means that the region for created resources is determined by the configurations of the SDK clients. The server-side `DEFAULT_REGION` config option has been deprecated in the meantime.

Can you please double-check if your .Net client and the

[2021-11-23 23:31] Blind-Striker commented on #4997
You are right, when i run `awslocal sns list-topics --region eu-central-1` i see the sns topic. But the functional test are still failed, I think its probably related to .NET client region configuration. Thank you very much for your help.

[2021-11-24 00:03] Blind-Striker commented on #4997
Ok, I'm closing this issue, there is a bug in [localstack-dotnet/localstack-dotnet-client](https://github.com/localstack-dotnet/localstack-dotnet-client). Apparently the `RegionName` config is not honored even it's set.

[2021-11-24 00:03] #4997 closed

[2021-11-24 08:16] samlaycock opened #4998 "bug: SQS not passing initial health check in version 0.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running `localstack/localstack:0.13.0` on an M1 Mac with `sqs` as an enabled service, any requests that are proxied to SQS fail because the SQS services fails it's initial health check:

[code]

### Expected Behavior

_No response_

### How are you starting LocalStack?

With a docker-com

[2021-11-24 10:10] whummer commented on #4398
Thanks for reporting @richardARPANET @monkut . This should be fixed in #4994 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2021-11-24 10:10] #4398 closed

[2021-11-24 13:18] whummer commented on #4954
Sounds great, thanks for confirming @awehrung ! 👍 We'll release a new tagged version shortly (probably later today..). Thanks!

[2021-11-24 13:18] #4954 closed

[2021-11-24 13:34] georgeherby commented on #4903
We are facing the same issue as above when using latest. When I force it to use `0.12.17.5` it works fine
[code]

[2021-11-24 13:38] naspeh commented on #4987
Thanks for reporting @wkruse and @belinda-myob.

I was able to reproduce with this snipped:
[code]

Related to recent PR: https://github.com/localstack/localstack/pull/4939

I will prepare a fix soon.

[2021-11-24 14:25] ondrejkouril opened #5000 "bug: list-metrics returns only first record"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

list-metrics doesn't list multiple metrics within the same instance

### Expected Behavior

`aws --endpoint-url=http://localhost:4566 cloudwatch list-metrics` should list all metrics from all instances

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

[2021-11-24 14:25] korya commented on #1175
Hi guys, You have developed a great tool! But I could not make it to persist S3 data so we moved to `minio` as well. Thank you for your effort anyways! I know it is hard to please everyone.

[2021-11-24 18:07] mattfiocca opened #5004 "bug: Unable to invoke Lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When invoking image-based lambdas from a neighboring container or from the CLI on the host machine, I am getting 400 errors for some lambdas, and 500's for others. These functions execute just fine in AWS.

I've tested this with a very basic nodejs lambda with nothing more than a `console.log

[2021-11-24 19:31] fmaronnaud opened #5005 "bug: Image container lambda not triggered by custom EventBridge events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When sending an event on a custom EventBridge bus that is matching a rule that targets an image container lambda, that lambda is not invoked.

However, adding schedule events to that same lambda seems to partially "solve" the issue as it is invoked but the event data received by the lambda is

[2021-11-24 20:19] fmaronnaud opened #5006 "bug: Image container lambda are not triggered by custom command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Defining a custom command for an image container lambda does not invoke the lambda with that custom command.

### Expected Behavior

If a custom command is defined in the serverless template or the CFN template, the image container lambda should be invoked with that custom command.

### How a

[2021-11-25 11:40] dfangl commented on #4947
This should be fixed by default in the latest docker image! Thanks for reporting this!

[2021-11-25 11:40] #4947 closed

[2021-11-25 11:46] dfangl commented on #4907
The localstack container itself should be added to your network by docker-compose itself. The LAMBDA_DOCKER_NETWORK environment variable only affects the localstack container.
You want your `db` container in the same network as localstack_main. If in the same docker-compose file, this should happen automatically if no explicit `network: ` is passed to a service. Then, you configure the environment

[2021-11-25 11:47] dfangl commented on #4967
This should be fixed in the newest docker release. Thanks for reporting this! If you have any more issues with this, please do not hesitate to reopen.

[2021-11-25 11:47] #4967 closed

[2021-11-25 13:30] DIU-marc opened #5009 "Strange behavior when starting localstack via docker-compose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We're using localstack PRO.

When I start localstack via docker-compose (using SERVICES to define needed services), Lambda and DynamoDB won't start. /health says only "available" not "running".

After update Lambda code, the Lambda Service is "running".

After visiting localstack.cloud and cl

[2021-11-25 14:46] naspeh commented on #4987
Fix is ready https://github.com/localstack/localstack/pull/5001.

Please try the latest docker image `localstack/localstack:latest`. Please let us know if the problem persists. Thanks again for reporting.

[2021-11-25 14:46] #4987 closed

[2021-11-25 14:57] ruanbarroso-hotmart commented on #4987
Just tried again over here, solved for me.

[2021-11-25 15:20] DIU-marc commented on #5009
Update:

If I run the above node snippet from my host, the connection does work:

$ node test.js
GetItem succeeded: { Item: { name: 'foobar', id: '120' } }

But from inside a Lambda Container it does not. Can't get to debug, I can't install anything inside a lamci container.

[2021-11-25 15:43] DIU-marc commented on #5009
Update2:
using network ID instead of natwork NAME seems to work now. Only services don't start every time localstack starts.

[2021-11-25 16:15] whummer commented on #5006
Thanks for reporting @fmaronnaud . This should be (hopefully) fixed in the meantime via #5007 . Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2021-11-25 16:15] #5006 closed

[2021-11-25 16:35] bep0st commented on #4974
Hello @naspeh  and @mgagliardo
I have downloaded the latest version 0.13.0.7. Unfortunately, I have the same issue again but I found the following message in the logs:
`{"log":"2021-11-25T16:20:55.604:WARNING:localstack.utils.server.http2_server: Error in proxy handler for request DELETE http://localhost:4566/new-bucket-03d1c977/: maximum recursion depth exceeded in comparison Traceback (most rece

[2021-11-25 16:51] naspeh commented on #4974
Hi @bep0st,

Could you please add `LS_LOG=trace` to your environment vars and repeat your case. Then share the full log.

It's hard to say something by just this message `maximum recursion depth exceeded in comparison Traceback`

[2021-11-25 17:02] bep0st commented on #4974
Hello @naspeh
Here my [docker3.log](https://github.com/localstack/localstack/files/7604503/docker3.log)

[2021-11-25 17:22] abbaseya commented on #4970
@whummer Fortunately, adding `LAMBDA_CONTAINER_REGISTRY=mlupin/docker-lambda` resolves this issue where it supports `arm64` (_suggested by @naspeh in Slack Community Support channel_).
Which confirms that the issue is not related to DNS, the layer container existing during deployment because `localstack/lambda` does not support `arm64`.
Thanks anyway ;)

[2021-11-25 17:22] #4970 closed

[2021-11-25 17:35] naspeh commented on #4974
Could you please specify also?
[code]
And try again.

Also please share your `AWS region` that you use with `aws --profile=localstack`

[2021-11-25 18:29] fmaronnaud commented on #5006
Thanks for the quick turnaround and confirming this is now working as expected while using Localstack 0.13.0.7.
Good job folks

[2021-11-25 18:39] naspeh commented on #4974
this is the loop in  `botocore`:
[code]

Where it tries to retrieve `get_bucket_region` and fails for some reason.

This is why I think specifying `AWS_DEFAULT_REGION=us-east-1` could potentially help.

@bep0st please let us know about your tries.

[2021-11-25 18:52] bep0st commented on #4974
Hello @naspeh

// docker-compose.yml
[code]

// aws config
[code]

// aws credentials
[code]

// S3 Browser Configuration
![image](https://user-images.githubusercontent.com/77197673/143490228-a41bd863-2d44-4950-a45d-7a2f657f0009.png)

Thanks for your support!

[2021-11-25 18:56] pinzon commented on #4624
Hi @FloatingGhost thank you for reporting this issue. I just submited PR with the fix.

I just want to clarify that even with the fix merged and applied, you will still see and incorrect status code in this situation, probably the code `403`.

For some reason Aws CLI after receiving and error code from this function it will try several times (as expected) and then it will try again ignoring the en

[2021-11-25 19:59] naspeh commented on #4974
With all these settings, do you still get `maximum recursion depth exceeded` error?

Please share once again your logs.

[2021-11-25 22:07] belinda-myob commented on #4987
Solved for me too, thank you

[2021-11-25 22:28] samlaycock opened #5012 "bug: SES service fails to start in version 0.13.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running `localstack/localstack:0.13.0` on an M1 Mac with `ses` as an enabled service, any requests that are proxied to SES fail because the SES services fails to start (I think it fails it's initial health check):

[code]

### Expected Behavior

_No response_

### How are you starting Lo

[2021-11-25 23:23] whummer commented on #4814
Thanks for reporting @nagaliri . This should be fixed in the meantime - persistence for IAM is now available in the Pro version. Please let us know if the problem persists.. Thanks for your help!

[2021-11-25 23:23] #4814 closed

[2021-11-25 23:48] bep0st commented on #4974
Hello @naspeh

Yes, still same issue.

Steps to reproduce:
1. aws s3 --endpoint-url http://localhost:4566 --profile localstack mb s3://test
    make_bucket: test
2. aws s3 --endpoint-url http://localhost:4566 --profile localstack rb s3://test
    remove_bucket failed: s3://test An error occurred (500) when calling the DeleteBucket operation (reached max retries: 2): Internal Server Error

Here is

[2021-11-26 11:03] ldrag opened #5013 "Empty result when calling get ssm parameters by path with HTTP"
Hi, since version 0.12.17 an http call to get ssm parameters by path always returns empty result set.

To reproduce:
Add a sample parameter to SSM with cli:
`awslocal ssm put-parameter --type String --name /some-path/some-parameter --value some-value`

Verify that it is there:
`awslocal ssm get-parameters-by-path --path /some-path/`

The response is similar to:
[code]

However issuing a HTTP call

[2021-11-26 13:34] thrau opened #5014 "add localstack home directory for config and credentials"
the idea is to have a `~/.localstack` directory on the host that contains things like:

1. a `config.env` file (with environment variables that are sourced when using the CLI before starting the container), and `
2. a `credentials` file that caches the login credentials for `localstack login`
3. ... whatever else is useful to configure the host environment

for that we need to dissolve the `CONFIG

[2021-11-26 14:28] naspeh commented on #5009
Hi @DIU-marc

[From localstack v0.13.0](https://github.com/localstack/localstack/releases/tag/v0.13.0)

For previous behavior use `EAGER_SERVICE_LOADING=1` with `SERVICES=`

Thanks.

[2021-11-26 15:59] vasigorc commented on #4456
Hey @alexrashed sorry for late answer!

The issues persists for me. I installed the recent version, as suggested:

[code]

Running it still yields the same errors as before:

[code]

Eventually the following error also prints out:
[code]

I'm on **macOS** Monterey 12.0.1, **Chip** Apple M1.

Please let me know if you would prefer to open a new issue instead.

[2021-11-26 16:21] whummer commented on #4456
Thanks for the update @vasigorc . Can you please do a `docker pull localstack/localstack` and confirm if the problem persists with the `latest` Docker image? Thanks

[2021-11-26 16:43] vasigorc commented on #4456
Hey @whummer thank you for following-up quickly! If this is the expected output, then I think it's working 🙂 :

[code]

[2021-11-26 17:26] thrau commented on #5014
once #5015 is merged, release localstack and continue with with 2) and 3)

[2021-11-26 17:42] pinzon commented on #4036
The feature has been merged.
Thanks for using Localstack.

[2021-11-26 17:42] #4036 closed

[2021-11-26 17:47] ThrowsException opened #5016 "question: Does the s3 service work with multipart uploads"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Im currently using the v3 s3 client and the Upload lib to do a multipart upload of a csv file. I was looking to test this locally with localstack but I'm getting `getaddrinfo ENOTFOUND` when trying to run my code. Ive recreated the issue using this

[code]

[code]

Even if

[2021-11-26 18:00] ThrowsException commented on #5016
Immediately after posting I found this related to java https://insignificantbit.com/how-to-upload-to-aws-s3/. I found a similar way to do this in the node sdk using the`forcePathStyle` config https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-s3/interfaces/s3clientconfig.html#forcepathstyle

That seems to switch from using some kind of dns entry to using the endpoint url + the b

[2021-11-26 18:36] toadzky opened #5018 "bug: DynamoDB Stream Lambdas fail because no "SequenceNumber" field in event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a rust lambda running using the `provided.al2` runtime and the `docker` lambda executor. When I update my dynamo table, the lambda invokes but the event has an incorrect structure and the lambda throws an error parsing the event payload. The error from the lambda container is

[code]

[2021-11-26 19:20] pinzon commented on #4850
@avromanov2009 could you be more specific? I just tested the delivery of a message in a subscription with the attribute `RawMessage=true` in both AWS and Localstack and it works fine to me.

### Steps to reproduce

Create topic:
`awslocal sns create-topic --name test-topic`

Susbscribe endpoint
`awslocal sns subscribe \
	--topic-arn $topicArn \
	--notification-endpoint $endpoint \
	--protocol http

[2021-11-26 19:20] #4850 closed

[2021-11-26 20:38] pinzon commented on #4795
Hi @tinaboyce this code seems to work in the latest version so I'm gonna close this issue.
Thanks for using Localstack.

[2021-11-26 20:38] #4795 closed

[2021-11-27 13:22] Blind-Striker commented on #4036
Hey, @pinzon very glad to hear that. Thank you for your effort!

[2021-11-27 14:30] whummer commented on #4990
Hi @awehrung , thanks - again - for the detailed report. We have pushed a couple more enhancements and integration tests to better cover the mapping of HTTP status codes. Can you please pull the `latest` image and give it another try? Please keep us posted how it goes.. Thanks!

[2021-11-27 17:05] whummer commented on #5016
Thanks for reporting @ThrowsException . Can you please confirm if it works when you set `s3.localhost.localstack.cloud` as the endpoint hostname? Thanks

[code]

[2021-11-27 17:34] ThrowsException commented on #5016
@whummer that does appear the work. is that a docker thing exposing the `s3.localhost.localstack.cloud` or is that something the underlying webserver is doing?

[2021-11-27 18:03] whummer commented on #5012
Thanks for reporting @samlaycock . Looks like some input parameters for sendEmail are missing, according to the docs [here](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SES.html#sendEmail-property).

This seems to be working if we slightly adjust your sample as follows:
[code]

(Please note that the source/sender address must have been verified via the API, prior to sending an email fro

[2021-11-27 18:03] #5012 closed

[2021-11-28 00:43] src-r-r opened #5020 "bug: "No rule to make target 'infra'.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Localstack services to not start.
[code]

As expected, this is confirmed by the inability for aws to connect to the endpoint:

[code]

### Expected Behavior

I expect no error messages present, for localstack to be running, and for aws to connect to the s3 services on localstack.

### How are

[2021-11-28 16:44] thrau opened #5023 "Pear down content in README to essentials"
The README has grown over the years as it was the main source of documentation for the community version of localstack. Now that we have https://docs.localstack.cloud, I think it's time to cut the README down to essential information.

I think we should keep the "Overview", "Install", "Run", "Play" sections linked in the header to a few sentences total, just enough for people to get started, and r

[2021-11-28 16:47] thrau commented on #5020
Thanks for the report Jordan @src-r-r, could you please run localstack with `DEBUG=1` and post the full startup log?

[2021-11-28 16:49] thrau commented on #5020
i just saw that you are mounting the `"./docker/localstack` into `/opt/code/localstack`". that's not something we can support, since you are overwriting the entire source folder of the container with whatever is in `./docker/localstack`.

is there any particular reason why you need this? maybe we can find a better solution for what you are trying to do.

[2021-11-28 17:16] tamirhad commented on #3772
Hey,
It seems like the root user does not have enough permissions.
this is the log from the container: `2021-11-28T16:46:58:INFO:localstack_ext.services.rds.db_utils: Starting MySQL RDS server on port 4510 (backend port 4510) - database "test", user "root"`
root user permissions:
`GRANT ALL PRIVILEGES ON "test".* TO "root"@%`
why root gets permissions to the test schema only, is it configurable? i

[2021-11-28 22:54] navels commented on #4925
confirmed fixed, thanks!

[2021-11-29 01:46] rtkgeoff opened #5025 "bug: s3 ListObjectVersions with delimiter not returning file objects and returning wrong CommonPrefixes"
### Is there an existing issue for this?
No
- [X] I have searched the existing issues

### Current Behavior

In a bucket with two objects:
- `dir/test`
- `dir/subdir/test2`

The ListObjectVersions is returning unexpected results using delimiter '/'. Given any of these prefixes:
- `''`
- `'dir/'`
- `'dir/s'`
- `'dir/test'`
- `'dir/subdir'`
- `'dir/subdir/'`
- `'dir/subdir/te'`
- `'dir/subdir/test2'

[2021-11-29 07:14] awehrung commented on #4990
Hi @whummer, thanks - again - for this new release over the weekend. This indeed looks good now, the two problems that were pointed out seem to be fixed, or at least in my use cases I cannot reproduce them anymore. My colleagues and I are very grateful to you and the support/development team as this does help immensely in making our local testing environment more capable and relying on AWS only la

[2021-11-29 10:04] samlaycock commented on #5012
@whummer Sorry I meant `client-sesv2` in my trivial (and seemingly useless) example. As it turns out, I still had missed things from the docs. Thanks!

[2021-11-29 11:41] whummer commented on #4945
Closing this issue, as a workaround seems to be available (using the default Docker-based Lambda executor). Please let us know if the problem persists.. Thanks!

[2021-11-29 11:41] #4945 closed

[2021-11-29 12:32] whummer commented on #4992
Thanks for reporting @danilopereira . This should be (hopefully) fixed in the meantime (via #5021) - can you please pull the `latest` Docker image and give it another try?

Please let us know if the problem persists with the latest version. Alternatively, you could try switching to a different KMS provider, by setting `KMS_PROVIDER=local-kms` in your LocalStack container environment. The `local-km

[2021-11-29 12:32] #4992 closed

[2021-11-29 12:38] #4990 closed

[2021-11-29 12:52] wkruse commented on #4987
Solved it for me too, great stuff, thank you!

[2021-11-29 13:30] awehrung opened #5027 "bug: API-Gateway-v2 mistakes HTTP-API for WebSocket-API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When making a request to the API-Gateway-v2 using an HTTP-API with Lambda-integration, I get the following logs:

[code]

Complete logs:

<details>
  <summary>Click to expand</summary>

[code]

</details>

See steps to reproduce below

### Expected Behavior

This should not trigger an error (

[2021-11-29 13:43] nigelmegitt opened #5028 "bug: `in_docker()` can open `/etc/hostname` without checking it exists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running localstack not in docker, but in an environment where `/proc/1/cgroup` exists, `in_docker()` at https://github.com/localstack/localstack/blob/d806081ab4994b8805251388e1f66140b96eb46a/localstack/config.py#L565 attempts to open `/etc/hostname` without any checks for its existence.

[2021-11-29 16:24] dfangl commented on #5028
Thanks for reporting this @nigelmegitt !
I published a quick fix for your issue, using `socket.gethostname()`.
Out of interest, does `socket.gethostname()` return the correct value on your system?

[2021-11-29 16:30] whummer commented on #5027
Thanks @awehrung - the log message mentioning `Websocket` is in fact misleading (will get fixed shortly).

Looks like the `AWS` integration needs to be mapped out properly - we'll push an update shortly. As a workaround for now, can you please using the `AWS_PROXY` integration type for now:
[code]
Hope that helps - will provide an update here soon.. Thanks!

[2021-11-29 16:38] nigelmegitt commented on #5028
Thanks for the speedy PR @dfangl ! I will seek an answer to your question... In a sense though, it doesn't matter for  `in_docker()` since in my use case I want the answer to be `False`.

[2021-11-29 17:35] dominikschubert opened #5030 "bug: State machines in non-default regions can't be deleted and fail to create proper ARN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- Sometimes wrong ARNs are created for the child state machine (e.g. `arn:aws:states:us-east-1:000000000000:stateMachine:us-east-1_us-east-1_mystatemachine` ... the double region shouldn't be there).

- Deleting a CloudFormation stack with a nested statemachine will fail to properly delete th

[2021-11-29 19:56] medge-leaflink opened #5031 "pip install localstack downloads so many localstack-ext versions?"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

We've started to notice that there are multiple `Downloading localstack-ext-SEMVER.tar.gz (1.2 MB)` downloads happening when running `pip install -r requirements.txt`. We're seeing multiple versions (some newer than the current version) flood which is causing quite a bit of

[2021-11-29 23:28] JKomoroski opened #5032 "Enhanced Container Image Tagging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Please Tag [container images](https://hub.docker.com/r/localstack/localstack/tags) for Major/Minor/Patch version ranges.

As a consumer of the localstack docker image it would be nice to get the latest image within a version range, and not rely on `latest` tag which could contain breaking

[2021-11-29 23:43] Tobolov commented on #4963
Might be similar to #4653

[2021-11-29 23:56] ramakrr77 commented on #4777
WARNING:localstack.utils.server.http2_server: Error in proxy handler for request POST http://localhost:4566/: 'NoneType' object has no attribute 'group' Traceback (most recent call last):
  File "/opt/code/localstack/localstack/utils/server/http2_server.py", line 159, in index
    result = await run_sync(handler, request, data)
  File "/opt/code/localstack/localstack/utils/async_utils.py", line 86

[2021-11-30 01:20] #5014 closed

[2021-11-30 07:17] YouBin-Choi opened #5034 "bug: elasticsearch not persist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. start with docker-compose
2. create elasticsearch
3. wait for elasticsearch created
4. quit localstack container (Ctrl + C)
5. restart localstack container
6. es list domain name search

### Expected Behavior

show es list with Step 2 cluster

### How are you starting LocalStack?

Custom (

[2021-11-30 07:35] chandu-ailneni commented on #2636
I'm also facing the same issue in EMR cluster creation. What was the solution provided? @whummer

[2021-11-30 07:57] david-wb commented on #5004
I'm facing a similar issue using docker-compose and localstack lambda.

It looks like maybe the container created by localstack is overriding the default entrypoint, which doesn't seem right.

Here's the output from invoking the lambda.
[code]

And here's the docker-compose
[code]

[2021-11-30 09:31] nghia11110 commented on #4697
@alexrashed now working as expected with Localstack 0.13.0
thanks for your support

[2021-11-30 09:31] #4697 closed

[2021-11-30 10:51] awehrung commented on #5027
Ok, works for now, thanks @whummer. Can you please ping me here when it is "back to normal"?

[2021-11-30 15:13] thrau commented on #5034
hi @YouBin-Choi, are you using localstack pro or the community version? the persistence mechanism for the community version of localstack will be deprecated soon. The pro version of localstack supports reliable and performant persistence.

[2021-11-30 15:24] src-r-r commented on #5020
Whoops. Thanks, @thrau
I was running into startup issues (that ended up being an issue with permissions--docker on Linux 🙄). I had forgotten and was overriding the code by mounting this git repo as a volume in order to diagnose the issue.
After realizing it was a permission issue and not an issue with the code base (which was a nightmare to get going anyway--ran into a corner) I had forgotten to r

[2021-11-30 15:24] #5020 closed

[2021-11-30 15:35] awehrung opened #5040 "bug: API-Gateway-v2 ignores Authorizer when using {proxy} in Route"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using API-Gateway-v2 to forward HTTP-Calls to a backend service. It uses a lambda authorizer that provides some information to extend the request headers before forwarding to the service.

When using `{proxy}` in the route definition (as opposed to explicitly mapping one path, like `GET

[2021-11-30 15:36] janczarn opened #5041 "bug: Query param containing the word 'Signature' in an API Gateway request causes an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have set up an API Gateway with a Lambda integration. I am able send GET requests to the API like so:

`curl "http://localhost:4566/restapis/<api_id>/dev/_user_request_/test?testParam=1"`

and the expected response is received. If I include the query param 'Signature' (case sensitive) like

[2021-11-30 16:59] d1820 commented on #4852
I am having a similar issue with startup scripts executing. In my case I get an error "/docker-entrypoint-initaws.d/localstack.sh: line 1: ﻿#!bin/bash: No such file or directory" if i run the script manually it all works fine. so not sure what i may be missing in this script its pretty standard, and I have even removed everything but just an echo command and still get the error. Anyone seen this a

[2021-11-30 18:41] mcheng-caring opened #5042 "bug: lambda event source mapping for non-FIFO SQS queue has invalid max batch size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using:
* a standard (non-FIFO) SQS queue
* a lambda event source mapping with a batching window defined (ex: 300 seconds)

...the maximum batch size for SQS event source mappings is capped at 10. For relevant code, see:

https://github.com/localstack/localstack/blob/7374028a1d09330426958

[2021-11-30 19:59] santoshpavan opened #5043 "Bug: Unable to add user defined environment variables using compose file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I try to add extra user defined environment variables in the compose file under the `environment` section, they do not seem to get added.

I am printing the os environment variables in the lambda that is running through the localstack.

Specifically, I am trying to use a variable called

[2021-11-30 20:16] thrau commented on #5043
hi Santosh @santoshpavan , if you want to pass default environment variables to lambda containers, then you can use the `LAMBDA_DOCKER_FLAGS` environment variable. you can find a description in the docs: https://docs.localstack.cloud/localstack/configuration/#lambda

[2021-11-30 20:25] thrau commented on #5031
hi @medge-leaflink, localstack-ext are our extensions for enabling the pro version of localstack. it's not clear to me why pip is not resolving the dependency correctly in your environment. it would be great if you could share some details about it or create a minimal working example so we can test it.
if it is a dependency conflict, then the easiest way to resolve it is probably to upgrade to loc

[2021-11-30 20:38] thrau commented on #5032
hi @JKomoroski thanks for your interest and your suggestions! improving the release process is certainly something that's on our minds and that we discuss regularly, but have been too caught up in feature requests to get to lately. personally i think the approach you've laid out is pretty good for semver, and is definitely something we could implement. it's not clear at this point whether the zero

[2021-11-30 20:46] santoshpavan commented on #5043
@thrau Thank you for the reply. This worked.
I will close the issue.

[2021-11-30 20:46] #5043 closed

[2021-11-30 20:51] zachjbrowning opened #5044 "Unable to find forwarding rule for hose when using SES"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using localstack for SES, and attempting to send requests to it using the AWSSDK for .NET. I'm seeing this error:

[code]

When I use the CLI instead of the SDK to send a similar request, I get no error and it returns a response from SES.

I am not running into the same issue with other l

[2021-11-30 20:58] #5028 closed

[2021-12-01 04:00] jakedaleweb opened #5045 "bug: docker-reuse lambda mode does not work when running on CircleCI arm machine images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running localstack on CircleCI ARM machine images and invoking a lambda function `exec_in_container` fails on this line https://github.com/localstack/localstack/blob/595eaef0d4aea92b2930aa5a288eab407effc88e/localstack/utils/docker_utils.py#L1491 with the error

[code]

What's really stra

[2021-12-01 04:07] jakedaleweb commented on #5045
Full stack trace
[code]

[2021-12-01 09:50] jarthur-scottlogic opened #5046 "bug: Can't create aws_kms_key using latest version of localstack"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Since https://github.com/localstack/localstack/pull/5021/files there has been some strange behaviour surrounding kms key creation. When running terraform against localstack everything is created as normal apart from the aws_kms_keys which just hang
![image](https://user-images.githubuserconte

[2021-12-01 11:19] micksatana commented on #4056
The problem still exists in `latest` tag (ID: `sha256:3c6af6b372e74cd169ecb6d1492cd06f614bfb985581154ac2c9e62bf4ee63c3`)

[2021-12-01 11:54] awehrung commented on #5040
Update: the authorizer also gets ignored when other variables are used, and not only the ones mentioned in the original issue.

[2021-12-01 12:22] Dgame commented on #4834
Would be nice to have. I've just updated my aws-cli and therefore have to use `opensearch` instead of `elasticsearch` which results in this:

Input was
[code]

[2021-12-01 13:24] Dgame opened #5047 "bug: KeyError: 'IndexName' by using Firehose with Elasticsearch / OpenSearch-Cluster Endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I get the error
[code]

in my docker container.

### Expected Behavior

The data is written to the Elasticsearch-Cluster without any error.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` c

[2021-12-01 14:36] medge-leaflink commented on #5031
Ahhh gotcha. Thanks for the clarity! It seems like upgrading to 0.13 and upgrading boto3 to 1.20 resolved the issue. For the environment before:

Python 3.9.6
Django==3.2.8
boto3==1.18.26
localstack==0.12.16.2

We were running in the standard python Docker image when building. Not entirely sure if local was affected by this as we only noticed the issue in Docker rebuilds 😬

Hope that helps?

[2021-12-01 14:49] badarsebard opened #5048 "feature request: Route53Resolver"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Support for the Route53 Resolver service. Some common resources for the resolver service are the resolver endpoint, resolver rule, and resolver rule association.

### 🧑‍💻 Implementation

The service exists in the localstack/moto fork so my guess is the edge router just needs to load or con

[2021-12-01 15:20] nigelmegitt commented on #5028
Thanks @dfangl apologies if this is drifting off topic, but I think I need to wait for a release, because specifying `localstack = {git = "https://github.com/localstack/localstack.git", extras=["full"]}` in my `Pipfile` results in something that errors on startup, being unable to find any providers. That doesn't seem to happen with the release version. Going through the localstack make process loc

[2021-12-01 16:05] d1820 opened #5049 "The assume_role action doe not perform the same with awslocal vs aws"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Seems like there is more going on under the covers for awslocal then with aws cli.

running command

[code]

returns a valid response

[code]

but in my application which runs in its own container (hence using the host name "localstack" and uses the .Net version of the AWS

[2021-12-01 16:15] monteirocicero commented on #4945
@whummer I'm sorry I'm late, I did what you recommended and worked. Thanks for the help.

[2021-12-01 16:18] Aornn opened #5051 "403 while using Hashicorp apigateway module"
### Is there an existing issue for this?

- [X] I have searched the existing issues and read the documentation

### Question

Hi !
I Would like to use this module [here](https://registry.terraform.io/modules/terraform-aws-modules/apigateway-v2/aws/latest).
But every time I try to apply my terraform I got
[code]

Here is my terraform :

[code]

And my docker-compose :
[code]

Thanks for all ! :)

#