[2022-09-01 07:59] lukonjun opened #6798 "ElastiCache and RDS instance want to use the same Port"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am running a script to set up a local stack environment. When running the following commands there is an issue with Redis and MySQL fighting for the same port.
[code]
This can be seen in the logs
[code]
And then results in mysql errors
[code]
Any ideas, thanks in advance ✌️

### Expected Be

[2022-09-01 09:33] jkugsiya opened #6799 "bug: localstack s3 buckets getting deleted after restarting the container."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when creating a bucket and storing some objects in it, after which restarting the container removes all the buckets and starts as new, all the data is getting lost.

### Expected Behavior

The buckets and data should be persisted even after restart of the container.

### How are you starting

[2022-09-01 10:29] Dharmik8478 opened #6800 "bug: Lambda containers not respecting timeout with infinite loop and Multiple lambda containers are spawning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Lambda container is not stopping(hanged container) with lambda on infinite loop and creating multiple docker containers.

### Expected Behavior

Lambda container should stop after the lambda timeout.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

##

[2022-09-01 16:09] thrau commented on #6799
Hi @jkugsiya, just to verify:
1. are you using LocalStack pro? Persistence is currently a pro feature and will only work is you have an API key configured
2. Do you have the same issue if you use a bind mount to /var/lib/localstack instead of a named volume?

[2022-09-01 16:27] whummer commented on #5396
Hi @snmishra @kc-dot-io , thanks for reporting. This should be (hopefully) resolved in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-09-01 18:06] thrau commented on #6797
hi @okkez, thanks for reporting. kinesis-mock comes pre-built with the localstack image. if you aren't using any special type of configuration, or kinesalite, then this control path that's causing the errors shouldn't be called at all.

could you please share exactly how you are starting localstack, including all the configuration? thanks!

[2022-09-01 21:02] #6784 closed

[2022-09-01 22:02] #3336 closed

[2022-09-01 22:55] jpage-godaddy opened #6804 "Support Lambda runtime nodejs16.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

The node 16 runtime for lambdas does not appear to be available for localstack 1.0.4.

### 🧑‍💻 Implementation

If this can't be baked in outright, the ability to install lambda runtimes would be a helpful feature.

### Anything else?

_No response_

[2022-09-02 00:15] jasonboutwell opened #6805 "feature request: Support for ---additional-python-modules argument in Glue start_job_run command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

We have a wheel stored in S3 that needs to be available for Glue Pyspark jobs to run.
[
](https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-libraries.html)

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-09-02 00:16] jasonboutwell commented on #6805
https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-libraries.html

[2022-09-02 00:42] vadym-sedna commented on #3104
unfortunatelly, this issue is still reproducible
_docker-compose.yml_
`  localstack:
    image: localstack/localstack:0.14.5
    container_name: localstack
    ports:
      - '4566:4566'
      - '35050:35050'
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - HOSTNAME=localstack
      - HOSTNAME_EXTERNAL=localstack
      - KMS_PROVIDER=local-kms
      - LAMBDA_JAVA_OPTS=-agen

[2022-09-02 03:52] curioushuman opened #6806 "bug: API Gateway to EventBridge, GET not yet implemented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

IaC = CDK.

Attempting to connect an API-GW endpoint directly to EventBridge.

[code]

Receiving response:

[code]

Similar to bug reported:

* https://github.com/localstack/localstack/issues/5508

### Expected Behavior

* 200 response
* Event created in relevant Eventbus

### How are you sta

[2022-09-02 04:29] okkez commented on #6797
I executed following script to reproduce this issue.

[code]

Default log here: This log reports localstack downloads kinesis-mock from github.com.

[code]

Debug log with `| grep kinesis-mock` here:

[code]

[2022-09-02 09:02] dominikschubert commented on #6704
It's available on latest now :+1:

[2022-09-02 09:02] #6704 closed

[2022-09-02 09:02] #4902 closed

[2022-09-02 09:04] #5684 closed

[2022-09-02 09:04] #6419 closed

[2022-09-02 09:05] #5742 closed

[2022-09-02 09:05] #6614 closed

[2022-09-02 09:05] #6725 closed

[2022-09-02 10:02] #5364 closed

[2022-09-02 10:02] #5429 closed

[2022-09-02 11:22] marc-guenther commented on #4902
I just checked, I cannot reproduce the error with `0.13.1` anymore. I tested `0.12.4`, `0.13.1` and `latest`, and all worked without any problems.

I'm using `localstack-utils-0.2.20`.

[2022-09-02 13:21] whummer commented on #5790
Hi @noahjepstein , thanks for reporting. This should be (hopefully) resolved in the meantime (in Pro) - can you please pull the `latest` Docker image and give it another try?

With the following minimal TF configuration:
[code]

... I'm getting this result:
[code]

Hope that helps - please keep us posted on how it goes.. Thanks!

[2022-09-02 15:25] bsmedberg-xometry opened #6808 "bug: KeyError: 'Token' while subscribing to SNS topic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have localstack+terraform running in our CI system that creates several SQS queues, SNS topics, and subscribing the SQS queues to the SNS topics.

Intermittently but frequently (about 35% of the time), this fails with the log message:

[code]

I turned on DEBUG within localstack and dug thi

[2022-09-02 15:39] jlosornogil commented on #3479
@whummer the commits for this fix https://github.com/localstack/localstack/pull/3530 have been deleted from version [v0.12.16](https://github.com/localstack/localstack/commits/v0.12.16/localstack/services/awslambda/lambda_executors.py). So this problem is reproducible again in the default branch.

[2022-09-02 16:18] bsmedberg-xometry commented on #6808
Note: adding the DEBUG flag to the localstack environment has taken this from intermittently reproducible to almost-always-reproducible. I suspect that there's a race condition between multiple SNS topic subscriptions being attempted at around the same time causing this.

[2022-09-02 16:59] #6287 closed

[2022-09-02 17:02] #4672 closed

[2022-09-02 17:09] HarshCasper commented on #6804
Hi 👋

Thanks for reporting this issue — If it's possible, could you please provide a small sample or a few snippets of your test code? That would be very helpful for us to replicate the scenario end-to-end.

Coming to the support, we do have NodeJS 16.x as an available runtime — Please take the following example for a run on your local machine and it would just working fine for NodeJS 16.x itself:

[2022-09-02 17:21] jpage-godaddy commented on #6804
Thanks. The sample code requires localstack Pro to run, and I don't have that. I'll try to provide some details, but I'm new to this code base and localstack so please bear with me if we have to do some back and forth. With this docker compose YML:

[code]

...when I try to deploy a lambda:

[code]

...deployment gave that posted error.

I did find the release that added node 16 support _pre_ 1.0.

[2022-09-02 17:24] jpage-godaddy commented on #6804
I'm going to close this. I think what happened is that our Lambda is created indirectly through a service catalog product, and I discovered that the product version we were using didn't support node 16, so this might not be related to localstack at all. Thanks for your time, though!

[2022-09-02 17:24] #6804 closed

[2022-09-02 21:01] whummer commented on #4099
Thanks @nks9452 @aazbeltran @SamsadSajid - it's been a while since this was first reported, and this issue should be fixed in the meantime (available in the `latest` Docker image). Please let us know if the problem persists. Thanks!

[2022-09-02 22:48] dragonbone81 commented on #6604
Just tested this and it seems to work in the latest version of localstack :)

[2022-09-03 07:17] thantos opened #6811 "bug: step functions - new intrinsic functions fail to deploy via cloudformation."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On deployment of a cloud formation template that uses the new intrinsics (ex: States.ArrayRange).

### Expected Behavior

Should deploy. Same template succeeds on AWS.

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

Create a CFN template with a SFN

[2022-09-03 10:40] #4099 closed

[2022-09-03 10:42] whummer commented on #6753
Closing this issue as resolved - @map34  please let us know if the problem persists with the `latest` Docker image.. Thanks

[2022-09-03 10:42] #6753 closed

[2022-09-03 10:51] #6721 closed

[2022-09-03 14:47] thrau commented on #6695
closing this since #6710 should fix the purge queue problem, and as i mentioned in my post from two weeks ago, the other behavior should be correct.

please open a new issue if the problem persists.

[2022-09-03 14:49] #6695 closed

[2022-09-03 16:31] fabio-blanco commented on #5895
That's really bad because you are not able to test a real Terraform script with localstack in development environment since you have to adapt the real script to the localstack needs.

[2022-09-03 17:30] fabio-blanco commented on #6734
Thank you @gdarcy , your soluction worked for me. I was trying to follow the [Variables / configuration tutorial](https://learn.hashicorp.com/tutorials/terraform/variables?in=terraform/configuration-language) and the same errors occurred. I've implemented your fix to the terraform main script from their official git repository and it works!

[code]

Unfortunately I was not able to conclude the tut

[2022-09-03 23:38] MikeWinter commented on #6707
I'm not affiliated with the person that opened this issue, but I have observed similar behaviour.

In this case, if a request is routed through a REST (v1) API Gateway in LocalStack to a Lambda via a proxy integration, the original `Authorization` header is dropped and replaced with an empty string. I've prepared [a working example](https://codeberg.org/MikeWinter/localstack-authorization-header-b

[2022-09-04 08:16] dissoupov opened #6815 "bug: KMS provides invalid signature by ignoring MessageType"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems that Sign operation ignores MessageType.
As per AWS documentation the MessageType can be "DIGEST", that means the digest is already computed and just needs to be signed.
https://docs.aws.amazon.com/kms/latest/APIReference/API_Sign.html

Localstack ignores this parameter:
https://gith

[2022-09-04 12:25] jkugsiya commented on #6799
Hello @thrau!
No, I don't have localstack pro. But the persistence did work in older versions of localstack.

[2022-09-05 00:21] sam-goodwin opened #6816 "bug: StepFunctions SQS.SendMessage fails with invalid URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `QueueUrl` of a SQS Queue is totally broken in localstack. The `QueueUrl` output by a new Queue resource cannot be used from within and outside of the localstack container. The QueueUrl value MUST be valid regardless of the context.

For Lambda, we have to hack it by replacing the hostnam

[2022-09-05 05:35] viren-nadkarni opened #6818 "feature request: More input audio formats for Transcribe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

LocalStack Transcribe should accept audio formats listed [here](https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html):

- AMR
- FLAC
- MP3
- MP4
- Ogg
- WebM
- WAV

Currently only single-channel PCM WAV files are supported.

### 🧑‍💻 Implementation

Use [ffmpeg](https://ffmpeg.or

[2022-09-05 09:13] dfangl commented on #6329
We will incorporate that fixture with #6724

[2022-09-05 14:05] pinzon commented on #6634
The solution has been integrated to the latest release. Thanks for the report!

[2022-09-05 14:05] #6634 closed

[2022-09-05 17:13] Jay3118 commented on #2478
I face the same issue with 0.17.4. The error is amazon.SQS.AmazonSQSException : The specified queue does not exist for this wsdl version. This error occur when I add the --no-sign-request flag. If I did not have the --no-sign-request flag, it works great.

[2022-09-05 18:59] pinzon commented on #6425
The feature has been merged. Thank you for the report!

[2022-09-05 18:59] #6425 closed

[2022-09-05 20:42] whummer commented on #6798
Hi @lukonjun , thanks for reporting this issue. We have now pushed a few enhancements for the port allocation when starting up RDS and other resources in parallel - can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-09-05 20:59] mseelye-gravie commented on #919
@whummer I'm using the latest localstack and when using max-keys with a 0 I'm getting some set of keys back instead of the expected 0 keys.  Did this change make it so sending 0 for max-keys works, but returns keys? In testing against aws s3 sending max-keys 0 returns 0 keys.

Wondering if someone else can confirm what I'm seeing.

[2022-09-06 09:28] artwik commented on #6792
I can confirm that for latest LS (1.1.1.dev build, date: 2022-09-05, git hash: 4124ad1a) sending messages concurrently works fine for up to ~1000 messages.

[2022-09-06 09:31] a-wi commented on #6792
can confirm that for latest LS (1.1.1.dev build, date: 2022-09-05, git hash: 4124ad1) sending messages concurrently works fine for up to ~1000 messages.

[2022-09-06 12:01] djpentz commented on #5989
@dominikschubert I'm having similar issues with localstacks stepfunctions and having to run aws-stepfunctions-local just like the OP. When I use localstack for the step function it doesn't seem to create the state machine because `awslocal stepfunctions list-state-machines` renders an empty array, whereas using AWS local it does work. So I assumed localstack's implementation was just buggy/incompl

[2022-09-06 12:09] djpentz commented on #5989
@guillemsola How did you create your state machine? Did you use `samlocal` or just create from the command line using `awslocal stepfunctions create-state-machine`?

[2022-09-06 14:02] #6808 closed

[2022-09-06 14:45] dominikschubert commented on #5989
@djpentz
Yes, we're basically using a slightly adjusted version anyway and if you try to use the stepfunctions-local container directly you won't have these changes which will most likely lead to compatibility issues.

You can check the logs of the localstack container for any indications on why your state machine wasn't created. It might very well just be an issue of unintentionally using differe

[2022-09-06 15:02] #4087 closed

[2022-09-06 15:19] djpentz commented on #6155
Would it be fair to say that `samlocal` isn't that well supported and we should instead use `awslocal cloudformation`? I'm experiencing this problem, and others (step functions don't persist) with v1.0.0 but I'm using `samlocal package` and `samlocal deploy`. Perhaps I should just use `awslocal cloudformation` directly?

[2022-09-06 17:14] whummer commented on #6649
Thanks for reporting @nr-96 - we've pushed a few more changes, and this issue should be (hopefully) fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-09-06 19:32] jonofoz opened #6830 "bug: Attempting to instantiate a new OpenSearch domain via CDK failing?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi again!

Please bear with me, as this may well be an error on my end: I'm still quite new to CDK and LocalStack. And to that end, I'm not sure it _this_ is the best place for this question, as it may be a CDK related issue and nothing to do with LocalStack.

I've followed the [AWS Quick sta

[2022-09-06 19:37] pinzon commented on #6696
The solution for this issue has been merged. Thank you for the report!

[2022-09-06 19:37] #6696 closed

[2022-09-06 19:38] pinzon commented on #6726
The solution to this issue has been merged. Thank you for the report!

[2022-09-06 19:38] #6726 closed

[2022-09-06 20:34] MikeG96 commented on #6799
Hello

Currently is deprecated for Community Edition

[2022-09-06 21:37] davecardwell commented on #6605
@taras-kobernyk-localstack unfortunately #6675 did not seem to fix the issue.

Rerunning the steps from my original issue description with the following version still fails:
[code]

[2022-09-07 06:25] #6204 closed

[2022-09-07 07:55] taras-kobernyk-localstack commented on #6605
You are right, totally my bad. Sorry for that.

Luckily, a total rework of KMS was underway. Hopefully it is going to be merged in a few days. I have just checked and it succeeds with all 4 types of the identifiers - key IDs, key ARNs, alias names and alias ARNs.

I will update the ticket when it is available.

[2022-09-07 08:11] okkez commented on #6797
On ECS, `in_docker` method returns `False` and calls `Directories.for_host`.
https://github.com/localstack/localstack/blob/4b221c70287a95a254e2466a4441210e6cc8ffa5/localstack/config.py#L279
https://github.com/localstack/localstack/blob/4b221c70287a95a254e2466a4441210e6cc8ffa5/localstack/config.py#L1034

But we can set `OVERRIDE_IN_DOCKER` environment variable to assume running localstack as docker

[2022-09-07 10:09] lukonjun commented on #6782
This would be really good, currently running into an error with our db migration script as it is not compatible with MariaDB and only MySQL

[2022-09-07 10:33] niqdev opened #6835 "bug: LambdaExecutor.java:117 throws IllegalArgumentException: argument type mismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the lambda is invoked with invalid parameters it succeeds, when it is invoked with a valid event it fails. See [LambdaExecutor.java#L117](https://github.com/localstack/localstack-java-utils/blob/master/src/main/java/cloud/localstack/LambdaExecutor.java#L117). I've tested it in multiple w

[2022-09-07 11:07] davecardwell commented on #6605
@taras-kobernyk-localstack Thanks so much for your work on this! Looking forward to checking out the KMS rework 🙌

[2022-09-07 12:04] marcguyer opened #6837 "feature request: AWS::CloudFront::OriginAccessControl"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

The OAI method is [legacy, not recommended](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html#private-content-restricting-access-to-s3-oai). The OAC method is the new hotness and enables additional features.

https://docs.aws.a

[2022-09-07 14:52] taras-kobernyk-localstack commented on #6815
It doesn't look like we generate digests, just sign whatever we get.
And the AWS doc page you mention says that digests are only generated for messages longer than 4K: "To sign a larger message, generate a hash digest of the message, and then provide the hash digest in the Message parameter".

I am not familiar with the implementation in Go. But as a workaround, I imagine, it should work if you ge

[2022-09-07 14:55] taras-kobernyk-localstack commented on #6101
Might be useful to wait for a few more days. We have a new version of our KMS code incoming. Better to check then if this key replication works to your satisfaction, or if something is still missing.

[2022-09-07 15:52] dissoupov commented on #6815
My existing code works with AWS KMS and with nsmithuk/local-kms
and fails with localstack.
I will gladly test your new implementation.
Thanks,
Denis

On Wed, Sep 7, 2022 at 3:53 PM taras-kobernyk-localstack <
***@***.***> wrote:

[2022-09-07 16:29] NickGrantX commented on #6360
Can't wait to see @bentsku 's PR merged and released... I really need this!

[2022-09-07 17:50] bentsku commented on #6360
Hi @NickGrantX !
I'm going to give it a little push, I was currently not satisfied with the format of the response, I'll change that and hopefully merge it soon.
In the meantime, I'd love to hear about your use case:
With this PR, the messages will be available "as is", and will contain the same data that what you sent. Would this satisfy your use case?
I was thinking that we could maybe implement

[2022-09-08 09:57] bollohz commented on #2498
Hello there, I'm using the 1.1.0 docker image and still have the same issue? How can I workaround it?

[2022-09-08 10:12] lvanderbijl-kry commented on #4420
@whummer I'm getting almost exactly the same error running against localstack cognito. Though I'm running against a localstack in test containters (localstack:latest).

[code]

[code]

[2022-09-08 10:17] bollohz commented on #2498
With the newest version of localstack (1.1.0 and above) adding the parameter `s3_force_path_style = true` to the terraform provider will solve the issue.
Here are a more detailed code:

`
provider "aws" {
    region                      = "eu-central-1"
    access_key                  = "fake"
    secret_key                  = "fake"
    skip_credentials_validation = true
    skip_metadata_api_che

[2022-09-08 10:58] HariVamsiK commented on #6837
Hi
I want to contribute on this issue. Please assign it to me.
Thanks

[2022-09-08 11:01] HariVamsiK commented on #6799
Hi
I want to contribute on this issue. Please assign it to me. It would be a great addon for my academics.
Thanks

[2022-09-08 14:32] caiodallecio commented on #6707
Hello @thrau, @MikeWinter I am back! Sorry for the long delay.
@MikeWinter thanks for the great example! Looking at the code it seems to me somewhere the authorization is being replaced by an empty string, I found one possible place: https://github.com/localstack/localstack/blob/9f3701c4f2fd150f33423340b19dd792d76397ed/localstack/services/edge.py#L299-L315
I didn't go to the effort to find how exa

[2022-09-08 14:57] alfreddatakillen opened #6840 "bug: In 1.1.0, the S3 GetObject returns boolean with uppercase first character in header x-amz-server-side-encryption-bucket-key-enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When doing a S3 GetObject, the x-amz-server-side-encryption-bucket-key-enabled header in the response is `False`.

### Expected Behavior

The AWS SDK v3 for Nodejs expects the string to be `false` with all lower case letters. Otherwise, it throws an exception.

### How are you starting LocalS

[2022-09-08 19:12] shooresh-golzari-cko commented on #6355
Hi Douglas, there is also this: https://github.com/localstack/localstack/issues/6369
This bug will hobble our acceptance tests come 3.1 end of life. Hope it gets fixed soon 🤞

[2022-09-08 20:02] #5763 closed

[2022-09-09 00:59] phi-tz opened #6842 "bug: DynamoDB stores are not populated when localstack is restarted in persistent mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

DynamoDB stores are populated when we create a new table.  This is a correct assumption when you're deploying from a clean slate.  However with persistence mode turned on, if I turn off localstack's docker, turn it back on, and re-deploy my DynamoDB tables, because there are no changes, no ta

[2022-09-09 08:34] maciejwalkowiak opened #6844 "feature request: CloudMap support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Add [CloudMap](https://aws.amazon.com/cloud-map/) support.

### 🧑‍💻 Implementation

_No response_

### Anything else?

We're adding [CloudMap support to Spring Cloud AWS](https://github.com/awspring/spring-cloud-aws/pull/506) and currently don't find a way to test it against Localstack. Pe

[2022-09-09 12:14] TheCanay commented on #2401
Experiencing same issue now while uploading 5.4 gb What can I do with this?

my docker-compose.yml file:

services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: localstack/localstack:latest
    network_mode: bridge
    ports:
      - "127.0.0.1:53:53"
      - "127.0.0.1:53:53/udp"
      - "127.0.0.1:443:443"
      - "127.0.0.1:4566:4566"
      - "127.0.0

[2022-09-09 12:46] TheCanay opened #6845 "bug: Not able to finish multipart upload for a big file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm trying to upload a pretty big file to my localstack s3 bucket (size of the file is 5.4 Gb). After uploading all the parts via multipat upload I'm getting the 500 error from localstack so I'm not able to complete multipart uploading for it. Also after that localstack is restarting

Here is

[2022-09-09 15:33] dominikschubert opened #6847 "feature request: alias records in route53"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Route53 alias A-records are similar to normal CNAME records in the DNS spec but can be used in top-level domains such as `example.com` and are usually used to point towards AWS-service generated domains such as API Gateway REST APIs, CloudFront distributions or ALBs.

### 🧑‍💻 Implementatio

[2022-09-09 17:33] cmagorian opened #6848 "bug: Cognito: creating different usernames with the same email user attribute results in UsernameExistsException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After creating a UserPool with configurations to allow for only `preferredUsername` as the AliasAttributes and no `Username.CaseSensitivity` with:

[code]

I get an error when creating two different usernames `username1` and `username2` that have the same `email` UserAttribute. The error:

[c

[2022-09-09 17:59] whummer commented on #646
For the record - AWS ships a custom built version of numpy (and other python libraries) that are compatible with the Lambda runtime environment.

For LocalStack Pro users, you should be able to point to the Lambda layer that's published here: https://aws-sdk-pandas.readthedocs.io/en/2.16.1/layers.html

When running the following minimal working example (with Pro):
[code]
... the result should be s

[2022-09-09 20:09] ltomes commented on #646
Not every orgs security posture allows the use of public lambda layers. I think the reality of localstack relying on a version of python that may not be the version ran by the end user, and that those two python environments are not running in isolated VENVs is the cause of this. localstack should be able to run in isolation of whatever the client code is.

Alas I don't have any projects running o

[2022-09-09 22:53] bdurrani commented on #6659
Surprisingly, this works just fine with the CLI tools.

Not sure what the difference is here.

[code]

[2022-09-10 06:31] Hussain0520 commented on #6818
Hi, I would like to contribute to this issue. Also it would be helpful in my academics.

[2022-09-10 07:01] MallikharjunaTeja commented on #6848
hi @localstack-bot i want to work on this

[2022-09-10 10:17] Jehan-h20220012 commented on #6844
I want to contribute to solve this issue, please let me contribute as it would help in my acedamics and your problem will be solved.

[2022-09-11 08:02] sharmadhiraj86 commented on #6643
Can I contribute to this issue? If yes, can you please assign me this issue? @whummer @thrau @ReviakinAleksey @localstack-bot @olleolleolle

[2022-09-11 12:02] #5752 closed

[2022-09-11 12:21] whummer commented on #6844
Hi @maciejwalkowiak , thanks for reporting. An initial version of `servicediscovery` (Cloud Map) is already available in the Pro service (which I believe you and your team have access to).

Here's a simple example:
[code]

Can you replicate these results? Please let us know if any particular functionality is missing - happy to help out and get it supported for your team. 👍 Thanks

[2022-09-11 13:51] yonatandbinahai commented on #5997
@lukqw  A minimal setup of the user pool & user creation is as follows (the initialization of some used variables was omitted to keep the code minimal, as their value doesn't seem relevant for this issue).
Note: our user pool initialization is done in python and the cognito user management is done in our NodeJS server

Setup lambda & user pool (python):
[code]

Create user (nodeJS):
[code]

[2022-09-11 19:55] whummer commented on #6789
Thanks for reporting @ngouass - can you please share your `serverless.yml` config file (along with any GraphQL schemas for the AppSync API), to help us replicate this issue? Thanks for your help!

[2022-09-11 20:02] #5714 closed

[2022-09-11 21:16] whummer commented on #6734
Thanks for reporting @Berg-it @cam71101 @gdarcy @fabio-blanco , this should be resolved in the meantime - can you please try upgrading to the latest version of `tflocal`:
[code]
Hope that helps - please let us know if the problem persists.. Thanks!

[2022-09-11 22:45] whummer commented on #5966
Hi @raulsh , thanks for reporting. In the meantime, we have fundamentally reworked the way how multi-account requests are supported in LocalStack - a new version has been released in our version 1.0.0 release. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-09-11 23:00] whummer commented on #6181
Hi @ptrhck , thanks for reporting, and apologies for the long delay. Please note that `LAMBDA_DOCKER_FLAGS` may contain additional flags passed to Lambda Docker containers - perhaps you can get your sample running if we add a volume mount to the config:
[code]

You may then have to add a small fix to your Lambda handler script, to include the mounted path to the Python system path:
[code]

Haven't

[2022-09-11 23:08] thrau opened #6849 "HTTP header casing when localstack proxies requests"
In #6778 we found that AWS forwards HTTP headers to Lambdas from clients without modifying their casing. Since users are relying on this behavior, it effectively renders a web server that lowercases headers unusable as proxy for localstack. In general, I think there is a case to be made that web servers should not manipulate the casing of request headers, so that they can function as application-l

[2022-09-11 23:27] thrau commented on #6849
interested in getting your opinion @whummer (in particular the lambda user perspective), and @alexrashed

[2022-09-12 03:58] JehanPatwa commented on #6844
Sure, I will work on it.
I request you to assign me this isssue as I have to show my instructor that I am assigned with it.
Thank You.

[2022-09-12 04:01] Jehan-h20220012 commented on #6844
Sure, I will work on it.
I request you to assign me this isssue as I have to show my instructor that I am assigned with it.
Thank You.

[2022-09-12 06:52] janofsun commented on #6818
Hi @viren-nadkarni I have already created a pull request (#6852) for this issue. Please check it out. Thanks for your support.

[2022-09-12 09:15] maciejwalkowiak commented on #6844
@whummer thank you! I missed that it's listed on the https://docs.localstack.cloud/aws/feature-coverage/ (was just looking at the sidebar with services list). Will give it a try!

[2022-09-12 09:25] #5350 closed

[2022-09-12 09:38] alexrashed commented on #6849
Currently, it feels like the discussion is going towards keeping the spec as it is right now (or just weakening the phrase a bit).
But, even if the spec stays the same we could maybe continue using hypercorn. The recent changes were addressing the way of accessing the headers as specified by ASGI. Maybe we can find a compromise to preserving the raw headers and to have a way of accessing them outs

[2022-09-12 10:26] cefn opened #6857 "bug: Regression of localstack tooling in Github Actions"
### Current Behavior

I am getting a huge stack trace from any attempt to launch localstack in Github actions, which is fatal to my test suite. This worked last week. Since there has been a very recent release of the localstack docker image that's where my suspicion falls. I guess it could theoretically be a variation in ubuntu:latest (removing an SSL library ?!?) but that seems less likely.

The

[2022-09-12 14:12] whummer commented on #6592
Closing as resolved - please keep us posted on how it goes @leo6104 . Looking forward to getting your feedback! Let us know if anything is missing.. 👍

[2022-09-12 14:12] #6592 closed

[2022-09-12 16:15] dominikschubert commented on #6857
Duplicate #6831

Please check out the linked PR on how to resolve this issue!

[2022-09-12 16:15] #6857 closed

[2022-09-12 20:38] mindriot101 commented on #6643
@sharmadhiraj86 I had started a branch over on [my fork](https://github.com/mindriot101/localstack/tree/feat/enforce-lambda-envar-size-limit) but I am happy if you want to take this issue? I should have announced that I was working on it sooner, sorry.

[2022-09-12 21:07] whummer commented on #6734
Closing as resolved - please do let us know if there are any other questions or issues.. Thanks

[2022-09-12 21:07] #6734 closed

[2022-09-12 21:14] bkoprivica commented on #4840
Still the same bug persists in the version 1.1.1.dev

localstack-test | WARNING
localstack-test | ============================================================================
localstack-test |   It seems you are mounting the LocalStack volume into /tmp/localstack.
localstack-test |   This will break the LocalStack container! Please update your volume mount
localstack-test |   destination to /var/l

[2022-09-12 21:46] bkoprivica commented on #4903
I am getting the same issue:

localstack-test | WARNING
localstack-test | ============================================================================
localstack-test |   It seems you are mounting the LocalStack volume into /tmp/localstack.
localstack-test |   This will break the LocalStack container! Please update your volume mount
localstack-test |   destination to /var/lib/localstack. In the me

[2022-09-13 03:25] dgccdna commented on #5031
I'm also seeing this problem, depending on 'localstack<0.14'
I suspect it has something to do with the pip version, which I have just upgraded to 22.2.3
I really don't want to upgrade to latest right now as it breaks my test environment

is there a workaround I can try? it seems like localstack shouldn't really depend on localstack-ext, is that right?

[2022-09-13 06:40] aazbeltran commented on #6425
This change it's causing issue with cloudformation about Serial

[2022-09-13 06:47] aazbeltran opened #6861 "bug: Unknown parameter in input: "Serial", must be one of: UserName"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Recently was merged the next feature: https://github.com/localstack/localstack/issues/6425

This is good but an issue was introduced, since the [create_access_key](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/iam.html#IAM.Client.create_access_key) boto function o

[2022-09-13 08:52] nidhi-ag commented on #4110
Here the issue is with the format of the private key. It worked for me after changing the format to `pkcs8`

`openssl pkcs8 -topk8 -inform PEM -outform PEM -nocrypt -in keypair.pem -out pkcs8.key`

[2022-09-13 10:47] a-wi opened #6863 "bug: SNS Publishing multiple messages with PublishBatch() API is much slower than with Publish()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Publishing multiple messages to SNS topic with batching, using PublishBatch() API, is much slower than calling N times Publish() API.
The more SQS queues is subscribed to the SNS topic the longer is publishing time with batching - dependency is linear. For individual messages publishing time

[2022-09-13 11:52] hectorcanto opened #6864 "bug: <API GW V2 sets or removes requestContext.authorizer.jwt.scopes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Claims has scope, but scopes is `null`, in AWS, it is not.
[code]

### Expected Behavior

Scopes has some of the scopes listed  in claims
[code]

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localsta

[2022-09-13 12:05] whummer commented on #6798
Closing this issue as resolved @lukonjun - please do let us know if the problem persists.. Thanks!

[2022-09-13 12:05] #6798 closed

[2022-09-13 15:19] ackdav commented on #6743
Dear @coreypobrien - thank you for reporting and adding the necessary details to reproduce the issue. I quickly wanted to note that this issue only appears when using dynamodb global tables [v2 (2019)](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/globaltables.V2.html). I am able to use v1 ([this script](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources

[2022-09-13 16:20] cmagorian commented on #6848
Was anybody able to repro this?

[2022-09-13 17:23] cjphillips commented on #6553
Running into this as well. Full stack here:

[code]

Any ideas for a workaround aside from disabling versioning on the bucket?

[2022-09-13 18:38] jonofoz commented on #6830
Any updates on this?

[2022-09-13 20:43] pinzon commented on #6830
Hi @jonofoz, it seems that even thou Localstack has the CFn model for OpenSearch, it's deployment wasn't tested. We're currently working on a refactoring for the CFn service, which also include the fixing for this model.

The fix could be available at the end of this week or at the begging of the next one, until then you can use boto3 or awscli to deploy the resource.

[2022-09-14 06:47] shonigbaum opened #6869 "bug: can't delete s3 bucket"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create a bucket and want to delete ist, I get the message:

### Expected Behavior

Bucket should be deleted.

Still works in localstack version 1.0.3.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### How are you starting localstack (e.g.,

[2022-09-14 08:04] steffyP commented on #6869
Hi @shonigbaum,
thanks for your report. Unfortunately, I am not able to reproduce your issue.

Could you elaborate on how you start localstack? Simply running `docker run localstack/localstack` should normally use the `latest` image you have cached locally - which might be an older version and should have the `-dev` version included.

To help us further analyze your problem, could you please set t

[2022-09-14 08:56] shonigbaum commented on #6869
Hey @steffyP,

I started docker like this:
``docker run --name localstack_main --rm -d -e HOSTNAME_EXTERNAL="localhost" -e DISABLE_EVENTS="1" -p 4566:4566 -p 8080-8081:8080-8081 "localstack/localstack:1.1.0"``

**Logs**
Create Bucket:
[code]

[2022-09-14 10:13] giograno commented on #6722
@dhutchison could you please verify if the issue is still present with the `latest` Docker image? 🙏

[2022-09-14 11:49] #6848 closed

[2022-09-14 12:38] timo-a opened #6872 "bug: samlocal local invoke gets `connection refused` when querying S3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I invoke a lambda in localstack with `sam local invoke` it fails with `connection refused`.

### Expected Behavior

I expect the lambda function to execute normally, fetch info from s3 and return it.

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reprod

[2022-09-14 12:39] timo-a commented on #6872
Logs `localstack` (no reaction to either invoke):
[code]

[2022-09-14 12:55] dominikschubert commented on #6848
@cmagorian   This should be available soon via the latest image, might take a while currently since GitHub seems to have some connectivity issues today and the CI needs to run through for the latest image to be updated.

If you check tomorrow (use the newest latest then via `docker pull localstack/localstack`), it should be fixed :+1:

[2022-09-14 14:25] steffyP commented on #6872
Hi @timo-a,

thanks for your detailed report and the github repo with the code samples! This is very helpful 🙂

I am not an expert for `sam`, but I think there might be some expectation mix-ups here.
The `samlocal` wrapper will run commands against the localstack endpoint, as outlined in the [usage description](https://github.com/localstack/aws-sam-cli-local#usage).

However, in your lambda you ar

[2022-09-14 15:22] daniel-e-r opened #6873 "Error upgrading Glue version 3.0 in localstack docker"
When trying to execute a job that uses glue version 3.0 I get the following error in localstack docker

2022-09-14T14:59:06.804:DEBUG:localstack_ext.services.glue.job_executor: Glue job execution failed: Failed to download https://aws-glue-etl-artifacts.s3.amazonaws.com/release/com/amazonaws/AWSGlueLineageCommons/1.0/AWSGlueLineageCommons-1.0.jarhttps://localstack-web-assets.s3.amazonaws.com/AWSGl

[2022-09-14 15:46] pocockn opened #6874 "bug: Unable to execute HTTP request: Certificate for <localstack> doesn't match any of the subject alternative names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using local stack Kinesis with Apache Flink I get the following error:

`flink-compose-kinesis-master-1         | org.apache.flink.kinesis.shaded.com.amazonaws.SdkClientException: Unable to execute HTTP request: Certificate for <localstack> doesn't match any of the subject alternative na

[2022-09-14 23:34] dragonbone81 commented on #6604
@pinzon It looks like multipart upload is also not applying the `x-amz-server-side-encryption-bucket-key-enabled` header to specify for the s3 bucket to enable the usage of bucket keys.

[2022-09-15 06:25] jatinmehrotra opened #6876 "Local stack is not able to mock/create lambda /opt directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a jest test case which tried to read file from  this path `/opt/nodejs/node_modules/books/${this.httpConfig.book}.sdb`, however test case is failed due to fact that localstack does not have this path `[Error: ENOENT: no such file or directory, open '/opt/nodejs/node_modules/books/2px(%

[2022-09-15 06:53] AlexCoursi opened #6877 "bug: CORS Error when using APIGateway on localhost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I deploy a template SAM in localstack, the CORS are not disabled or took in account in the APIGateway service.

I tried to put in my template:
[code]

or:

[code]

I launched localstack with the following command:
`DATA_DIR=/tmp/localstack/data DEFAULT_REGION=eu-west-3 DEBUG=1 DISABLE_CO

[2022-09-15 08:13] nr-96 commented on #6649
Hey @whummer,
The improvement is working, thank you!

[2022-09-15 08:14] #6649 closed

[2022-09-15 13:01] sha-shrestha opened #6881 "bug: Unable to build localstack from source with make docker-build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

Docker build succeeds without errors.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-15 13:39] pinzon commented on #6604
hi @dragonbone81 thank you for reporting it. could you open a new issue about this? It helps keeping track of problems. Feel free to tag me.

[2022-09-15 15:11] dragonbone81 opened #6882 "bug: S3 MultipartUpload not applying bucket key headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When issuing a multipart upload request for s3 (CreateMultipartUploadRequest) it ignores the added bucket key header values - `x-amz-server-side-encryption-bucket-key-enabled`. It also returns `null` for this value so maybe it doesn't even have a field for this...
I've opened https://github.c

[2022-09-15 15:27] jreichhold opened #6884 "bug: OpenSearch fails to do anything on 1.1.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Localstack install via docker image or localstack cli and then try creating a domain using awslocal and get
[code]
There is no domain installed currently and a fresh image.

From the logs I see
[code]

### Expected Behavior

Localstack should create the domain and not falsely state domain alr

[2022-09-15 15:50] dragonbone81 commented on #6882
@pinzon

[2022-09-15 16:25] cmagorian commented on #6848
The latest version is breaking with:

[code]

[2022-09-15 21:30] timo-a commented on #6872
Hi @steffyP,

My goal is to run the lambda in `sam` and have it connect to the `S3` of localstack.
(I figured that would be less error prone than deploying my lambda into localstack because I'm new to localstack. But if I have to coordinate docker containers maybe deploying into localstack is less complex after all.)
If I do not specify an `endpoint_url` in the boto3 client then it will connect to

[2022-09-16 07:53] steffyP commented on #6872
Hi @timo-a,

alright, I see your problem.
I think first we need to distinguish two cases: 1. invoking the lambda using sam with `samlocal local invoke ...` (the one you are struggling with right now; and 2. the actual lambda deployment to LocalStack.

Let's have a look at 1. first. The docker container is started by `sam` automatically, and you have [some limited options](https://docs.aws.amazon.c

[2022-09-16 08:21] silv-io commented on #6884
Hi @jreichhold, this issue will be fixed with #6883

[2022-09-16 08:26] shooresh-golzari-cko commented on #6355
@dfangl @douglasgpertile https://github.com/aws/aws-lambda-dotnet/issues/839

[2022-09-16 09:08] Vizz85 opened #6887 "Unable to make a call to the rds-data api with aurora-mysql"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After provisioning my resources with terraform, a call to
`aws --endpoint-url http://localhost:4566 rds-data execute-statement --database identificators --resource-arn arn:aws:rds:eu-central-1:000000000000:cluster:identificators-cluster --secret-arn arn:aws:secretsmanager:eu-central-1:0000000

[2022-09-16 12:49] steffyP commented on #6887
Hi @Vizz85,

thanks for your report! We are able to reproduce your issue.
Currently we only support `aurora-postgresql` for the `rds-data` api. I tested your example with `aurora-postgresql` which seems to work.
I hope this would be an acceptable workaround for you in the meantime.

[2022-09-16 14:58] daniel-e-r commented on #6873
Issue was solved with latest localstack and localstack:bigdata images.

[2022-09-16 14:58] #6873 closed

[2022-09-16 17:43] timo-a commented on #6872
Hi @steffyP,

thank you so much, I finally got it working! After I replaced `127.0.0.1` with `0.0.0.0` at `#LocalStack Gateway` and `#external services port range` in `services.localstack.ports` I was able to access localstack's S3 with `endpoint_url="http://172.17.0.1:4566"`.
And by looking at the numbers in https://docs.localstack.cloud/localstack/configuration/ I correctly guessed `EDGE_BIND_HO

[2022-09-16 17:43] #6872 closed

[2022-09-17 11:47] whummer commented on #6881
Hi @sha-shrestha , thanks for reporting. Can you please share some more details about your environment - which operating system and version of Docker are you using?

Regarding your fix in PR https://github.com/sha-shrestha/localstack/pull/1 - instead of using `bash -c "source .venv/bin/activate"` you could also try using the dot `.` operator: `. .venv/bin/activate`

[2022-09-17 11:50] whummer commented on #6874
Thanks for reporting @pocockn . Can you please share some details about your use case - ideally a small snippet of your Flink program, to help us replicate this issue?

Looks like Flink is connecting to the HTTPS endpoint `https://localhost:4566`, which results in problems with SSL certificate validation. Can you please try pointing your client to use `https://localhost.localstack.cloud:4566` inst

[2022-09-18 08:01] oliverbrixel opened #6891 "feature request: implement 'appconfigdata'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I would like to use 'appconfigdata' as described here https://awscli.amazonaws.com/v2/documentation/api/latest/reference/appconfigdata/index.html, so that we can test feature flags locally with localstack.

Before the useage 'appconfigdata' I store the data via
```awslocal appconfig create

[2022-09-18 10:34] whummer commented on #6125
Hi @aslotte , thanks for reporting - this should be (hopefully) resolved in the meantime. Can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-09-18 13:13] #4973 closed

[2022-09-18 14:48] whummer commented on #6155
Hi @djpentz , can you please share a small, isolated example of your SAM template, to help us replicate the issue you've been facing..? Thanks!

Regarding `samlocal` vs `awslocal cloudformation` - both are effectively mapping to CloudFormation deployments under the covers, so there may be some slight differences (e.g., how SAM transforms the template), but in the end it should not make too much of

[2022-09-18 16:31] gooftroop commented on #6891
[Pro] +1 for this request

[2022-09-18 16:42] gooftroop opened #6892 "[Pro] feature request: add support for AppConfig (cdk)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

It appears that AppConfig is not supported for cdk and is a necessary resource for our CI/CD strategy. Would it be possible to have supported added?

### 🧑‍💻 Implementation

_No response_

### Anything else?

On the latest localstack docker image I'm getting errors like `Unexpected resourc

[2022-09-19 06:21] Vizz85 commented on #6887
Hi @steffyP,

Yes, I think we can handle it with this workaround.

Thank you for the quick response!

[2022-09-19 08:19] calvernaz commented on #6707
Hi @MikeWinter and @caiodallecio, thanks for reporting this and for the amazing reproducible sample 💪. @MikeWinter you absolutely nailed it, this was a workaround required for the "legacy" edge proxy.

[2022-09-19 15:41] jrauen opened #6897 "bug: API Gateway Domains not saved between versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Domain names are not saved between API Gateway V1 and API Gateway V2. After creating a custom domain using the v2 endpoint (via terraform `aws_apigatewayv2_domain_name`) the domain can be listed via the v2 endpoint but not the v1.

### Expected Behavior

The different versions should have the

[2022-09-19 22:24] jrauen commented on #6897
I had not downloaded the latest build when I opened this issue. However, as of build `2d2d3b1899ce` this issue is still present.

[2022-09-19 22:50] Issung commented on #6739
@mh4ckt3mh4ckt1c4s  I follow you, I think that sounds pretty correct! Is there a way I could get around this in my own Kubernetes definition file, or does it have to be a change to localstack?

[2022-09-20 00:39] Issung commented on #6739
I've tried a few things, nothing seems to be working - doesn't help that Jenkins only bothers to give me the container output sometimes, makes it really hard to debug.

1. Tried setting workdir in the kubernetes definition.
2. Using `sed` to make the supervisord.conf file use an absolute path.

[2022-09-20 09:25] sha-shrestha commented on #6881
Sure.

- OS: RHEL 8.6
- Docker: Podman 4.1.1

[2022-09-20 11:02] sha-shrestha commented on #6881
@whummer, please review: https://github.com/localstack/localstack/pull/6899

[2022-09-20 11:26] mh4ckt3mh4ckt1c4s commented on #6739
I have no trouble running your yaml file on my Kubernetes, even without the `workingDir` attribute. The problem may come from Jenkins. What path did you use?

Something you can try as a sanity check is running `pwd` in the localstack container to see what working directory it's using.

Anyway, the relative path in `supervisord.conf` definitely seems like an issue. I can create a PR for this as it'

[2022-09-20 15:12] dhay commented on #6738
I realized my docker environment was only running with 2GB of RAM.  Increasing this to 4GB seems to have improved the stability.  I haven't had issues with LocalStack crashing since I did that.

Thanks for the tip!

[2022-09-20 15:12] #6738 closed

[2022-09-20 19:30] whummer commented on #6643
Hi @ReviakinAleksey , thanks for reporting. This should be fixed via https://github.com/localstack/localstack/pull/6862 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-09-20 21:11] calvernaz commented on #6705
Hi @Guy7B, thanks for reporting this. I couldn't reproduce it, and I created a [sample](https://github.com/localstack/troubleshooting-issues/tree/main/issue_6707) that I'd like you to try and see if the same happens.

Also, in case it's an issue with the lambda executors, have a look at this [page](https://docs.localstack.cloud/localstack/lambda-executors/) and try other executors and check if you

[2022-09-20 23:36] JSanchezIO commented on #6384
@whummer I'm experiencing something similar to this, though I'm not sure if the problem resides in S3.

**Background**
I've got an S3 bucket configured with CORS, and all public access is blocked. I also configured a Cloudfront Distribution with an OAI to serve content from that S3 Bucket using an IAM policy.

**Issue**
I'm hitting the Cloudfront Distribution on a front-end client and rendering it

[2022-09-21 07:27] AlexCoursi commented on #6877
Hello

I use the following template:

[code]

The lambda code is the following:

[code]

I'm not using Terraform, but maybe, TF is adding the parameters:

`aws apigateway put-integration-response --rest-api-id oyhk02q4vs --resource-id r9k9d9cw1u --http-method OPTIONS --status-code 200 --selection-pattern 200 --response-parameters '{"method.response.header.Access-Control-Allow-Origin": "'"'"'*'"'"'

[2022-09-21 07:34] AlexCoursi commented on #6877
In your page, you add the following lines:

[code]

With SAM, I don't need to do that and it's working on AWS. But with Localstack, it's not added automatically and it's not working. By adding theses lines, it's OK.

[2022-09-21 10:30] cpsinghal opened #6905 "bug: lamba invoke payload is throwing error "The payload is not JSON" using url-connection-client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

localstack version >=1.0.0 lamba invoke payload is throwing error "The payload is not JSON" using url-connection-client but working fine either with apache client or setting LEGACY_EDGE_PROXY=1.

Error
`The payload is not JSON: %7B%22envName%22%3A+%22TEST_ENV%22%7D= (Service: Lambda, Status C

[2022-09-21 15:53] eytan-avisror commented on #6842
+1 on this, definitely seeing the same behavior - would be great if we can prioritize this fix since it basically means persistence for dynamodb is not working.

[2022-09-21 16:04] MhamedLmr opened #6907 "bug: SNS publish fails when MessageAttributeValue dataType is set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to publish a message using SNS, when I set the String Value for any particular data type (String, Number...) as the documentation explains the publish fails with the following error:

[code]

[code]

**When I skip setting the dataType and use the withStringValue directly it works:

[2022-09-21 16:58] NickGrantX commented on #6360
Sorry for the delay in replying @bentsku. We have a service which sends push notifications to target ARNs (the APNS/GCM targets) using the `Publish` API endpoint of the SNS service. For our integration testing we want to check that the AWS SNS API got called as expected.

Most useful for us, it to have a simple historical record of the API calls, in the sequence that they were received. We can fig

[2022-09-21 22:54] bentsku commented on #6360
Hello @NickGrantX and thanks a lot for your detailed answer!
It seems the way I've done it for now should cover your use-case, perfect!
Sorry I have been busy with another project, I was also waiting on another PR to be merged to avoid conflict.
I will merge this next week, sorry for the delay as well about this! I think I will have time to add the `reset` endpoint then, that's a great idea, thank

[2022-09-21 23:52] whummer commented on #6864
Thanks for reporting @hectorcanto . We have pushed a couple of changes that should (hopefully) resolve this issue. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-09-21 23:57] whummer commented on #6835
Hi @niqdev , thanks for reporting. Please note that the `local` Lambda executor has quite some gaps, and we generally don't recommend using it, particularly for Java Lambdas.

Did you have a chance to test it with the default configuration, Docker-based Lambda execution? (`LAMBDA_EXECUTOR=docker`). Please note that this will require the Docker socket to be mounted into the LocalStack container:
[c

[2022-09-22 02:10] futugyou opened #6909 "bug: AWS dynamodb.DescribeContinuousBackups => 400 (UnknownOperationException)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
Terraform v1.2.8
provider registry.terraform.io/hashicorp/aws v4.29.0

i user this tf file to create dynamodb table.
`tflocal apply -auto-approve`
command executes normally, but this is an error in localstack log 'AWS dynamodb.DescribeContinuousBackups => 400 (UnknownOperationException

[2022-09-22 07:13] MarcelStranak commented on #6877
Hi @AlexCoursi can you please download the latest version of LocalStack (`docker pull localstack/localstack:latest`) and set the env variables like mentioned here https://docs.localstack.cloud/localstack/configuration/#security?

[code]

Please let me know if this helps.

[2022-09-22 09:52] daverin opened #6910 "feature request: Appsync HTTP Datasource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

When attempting to use an http datasource in appsync I get the following error: `Unsupported AppSync GraphQL data source type: HTTP`

This feature is useful to bind a graphql endpoint to REST based services.

PS: Would also be great to know the limitations of Localstack services upfront in

[2022-09-22 11:39] yuvsier commented on #163
@whummer Can you please point me at the documentation on how to do this? I can't seem to find it in the official docs. Thanks!

[2022-09-22 12:17] greg-md commented on #6797
So what needs to be done to resolve this? To add `OVERRIDE_IN_DOCKER=true` in docker-compose file? or in the CI environment?

[2022-09-22 12:32] ChandanChainani commented on #6816
@sam-goodwin Please can you attach a sample cloudformation template that you have used, it would be lot easier to test and debug

[2022-09-22 12:37] ChandanChainani commented on #6840
Can i work on the issue?

[2022-09-22 14:34] shonigbaum commented on #6869
Hey @steffyP,

what I already noticed while testing: I can't create a bucket without the location contraint.
And I'm not using awslocal cli, I use the normal aws cli (v2.4.23) with --endpoint-url http://localhost:4566. But awslocal everything works.

Maybe there's a little difference between awslocal and original aws cli?

I will provide the logs tomorrow.

Thank you and kind regards
Sven

[2022-09-22 14:42] steffyP commented on #6869
Hi @shonigbaum,

thanks for getting back to us!

That's interesting. Actually `awslocal` should only be a wrapper for the aws cli. Do you have any specific aws-settings, e.g in  `~/.aws/config`? What is the default-region you have configured?

Thanks!

[2022-09-22 15:54] eau-de-la-seine opened #6912 "bug: "Could not load credentials from any providers" when a default AWS profile is not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use the AWS SDK v3 client:
[code]
=> I have the following exception: `CredentialsProviderError: Could not load credentials from any providers`

### Expected Behavior

I should be able to use Localstack without this exception.

This exception happens because either AWS client or Localst

[2022-09-22 19:03] whummer commented on #6842
Thanks for reporting @phi-tz @eytan-avisror - we have now pushed a small change which should (hopefully) get this issue resolved. Can you please pull the `latest` Docker image and give it another try?

Please note that some of the persistence features (incl. DynamoDB stores) are only available in the Pro version of LocalStack.

Please let us know if there are any other questions or issues.. 👍  Tha

[2022-09-22 19:12] eytan-avisror commented on #6842
@whummer
Just tried out latest (1.1.1-dev), issue is still there:
[code]

[2022-09-22 20:17] #6884 closed

[2022-09-22 21:58] jrauen opened #6914 "bug: Cloud Pod missing resources after injection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After injecting a cloud pod into the running container there are resources that are missing. Specifically the resources I've found to go missing are ACM certificates and an API Gateway V2 domain name.

### Expected Behavior

All resources should be present after injection.

### How are you st

[2022-09-23 00:22] jean-lopes opened #6915 "bug: s3 mv with --source-region causes fatal error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to use move objects between buckets on localstack s3 passing both `--region` and `--source-region` arguments. The operation results in a fatal error with a bad request description.

### Expected Behavior

Expected the same behavior from the last command on the described steps do r

[2022-09-23 01:35] eytan-avisror commented on #6842
Just FYI @whummer - I tried out the same think with Localstack Pro (using a trial API Key) and I am getting the same problem.
So this is a genuine bug with localstack.

[2022-09-23 07:06] shonigbaum commented on #6869
Hi @steffyP,

so, happy to found some time to provide you more information.
Btw ... is awslocal wrapping aws cli version 1 or 2?

---

~/.aws/config
[code]

~/.aws/credentials
[code]

---

**Version 1.1.0**

Logs: [logs-v1.1.0.txt](https://github.com/localstack/localstack/files/9631310/logs-v1.1.0.txt)
Diagnose: [diagnose-v1.1.0.json.gz](https://github.com/localstack/localstack/files/9631309/diagn

[2022-09-23 07:56] AlexCoursi commented on #6877
Hello
I'm still getting the same error.
After updating the docker's images, localstack didn't restarted (problem with dynamo).
With the following command, I succeded start localstack:

`docker run -it -p 4566:4566 -p 4571:4571 -e "DEBUG=1 DISABLE_CORS_CHECKS=1 DISABLE_CUSTOM_CORS_APIGATEWAY=1" localstack/localstack`

But the problem is still here.

My APIGateway (generated by localstack) is:

[cod

[2022-09-23 08:13] whummer commented on #6683
Thanks for reporting @Simonl9l . While I do share your sentiment that it would be nice to have `cdklocal` pre-installed in the runners, I'm not entirely sure how we can influence it, given that the maintainers have essentially already decided against it.

As has been mentioned here, the tool can be installed in runtime, and should usually not take too long to execute: https://github.com/actions/ru

[2022-09-23 08:19] MarcelStranak commented on #6877
Hi @AlexCoursi, can you please change a bit the docker command? I was testing it with active PRO license.

`docker run -it -p 4566:4566 -p 4571:4571 -e DEBUG=1 -e DISABLE_CORS_CHECKS=1 -e DISABLE_CUSTOM_CORS_APIGATEWAY=1 localstack/localstack`

[2022-09-23 09:12] Simonl9l commented on #6683
We use Nuke Build but have had some success with calling npx.

However we have dropped our use of Localstack for the time being, as it's been to difficult together a consistent experience across a team of developers across Windows/Unix/MacOS - Apple Silicon, and concurrently deveoping.

We wil keep an eye on Localstack evolution though...

[2022-09-23 09:12] #6683 closed

[2022-09-23 11:17] niqdev commented on #6835
Hi @whummer, thanks for taking the time to look into this! It actually worked, with some minor changes i.e. removed `hostname` which was causing errors with the executor

[code]
I'll leave the linked pr with the steps in the readme to setup `s3 -> sqs -> lambda` for future reference.

Thanks a lot for the feedback and the project!

[2022-09-23 11:17] #6835 closed

[2022-09-23 11:49] steffyP commented on #6869
Hi @shonigbaum,

thanks so much for the detailed report! We were able to reproduce your issue with the configuration you provided.
It doesn't seem to be related to the cli-version though.

In theory, the wrapper can be used with both versions, [as described here](https://github.com/localstack/awscli-local).

What I found is a problem with a new feature we are introducing, related to account-ids.
S

[2022-09-23 12:48] shonigbaum commented on #6869
Ah! :) Shame on me. Thank you so much! Wish you a nice weekend! :-)

[2022-09-23 12:51] #6869 closed

[2022-09-23 13:04] giograno commented on #6914
Thanks for all these details @jrauen. I am taking a look and I will keep you posted 🤞

[2022-09-23 13:38] MhamedLmr commented on #6907
Hello @bentsku thnak you for your feedback, I did as instructed and I experimented a bit and managed to figure out the issue.
Seems like this occurs when one of the `MessageAttributeValue` values is `null` the payload looks as fellow:
[code]

As you can see here the region Attribute has no String Value, and when I make sure that nothing is null, the issue doesn't occur.
[code]

[2022-09-23 15:02] jrauen opened #6920 "bug: Cloud Pod will not inject using latest image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using the latest docker images I receive and error when trying to inject a cloud pod.

### Expected Behavior

Resources from the pod should load successfully

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

[code]

[code]

### Environment

[code]

###

[2022-09-23 15:42] abramverseio opened #6921 "feature request: Add CodePipeline Support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

The AWS CodePipeline (and CodeBuild, CodeDeploy, CodeCommit) features are commonly used in AWS infrastructure to build/deploy services into AWS.  This is often generated via IaC such as Terraform, CDK, CloudFormation, etc... It would be very useful to have this ability in Localstack so tho

[2022-09-24 05:48] ChandanChainani commented on #6840
Is anyone working on the issue if not can I work on the issue?

[2022-09-24 09:57] whummer commented on #6457
This has been implemented in the meantime, shared with the customer, documentation updated here: https://docs.localstack.cloud/aws/elastic-kubernetes-service/#exposing-the-kubernetes-load-balancer-on-custom-ports

[2022-09-24 09:57] #6457 closed

[2022-09-24 10:02] whummer commented on #6562
Hi again @agibsonccc , quick update - we have now added a few enhancements to make the parameter validation for Batch jobs more robust, and to improve parity with AWS. When you get a chance, can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-09-24 10:02] #6562 closed

[2022-09-24 10:10] whummer commented on #6499
Hi again @benjaminlhai , quick follow-up - have you been able to get the latest version of LocalStack started? There have been a number of enhancements in Cognito auth flows in the meantime, and we believe (hope) that this should be fixed in the meantime. Please let us know if the problem persists, or if we can close this issue.. Thanks!

[2022-09-24 10:17] whummer commented on #6306
Hi @anekar3416  @bertrandmc , quick follow-up: there have been several enhancements in Kinesis/DynamoDB as well as our request processing middleware in the meantime - when you get a chance, can you please try pulling the `latest` Docker image and confirm if the problem still persists? We'll be happy to look into it in more detail.. Thanks for your help!

[2022-09-24 16:02] #6326 closed

[2022-09-25 14:02] #5864 closed

[2022-09-25 20:25] calvernaz opened #6925 "feature request: API Gateway support for EventBridge backend integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Sends events directly to EventBridge without the need for computing services.

https://aws.amazon.com/blogs/compute/capturing-client-events-using-amazon-api-gateway-and-amazon-eventbridge/

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-09-25 20:34] calvernaz opened #6926 "feature request: API Gateway support for custom domain names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Custom domain names are simpler and more intuitive URLs that you can provide to your API users. With custom domain names, you can set up your API's hostname, and choose a base path (for example, myservice) to map the alternative URL to your API.

https://docs.aws.amazon.com/apigateway/late

[2022-09-25 20:43] calvernaz opened #6927 "feature request: API Gateway support for multiple authorizers per resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

An API can have multiple custom authorizers and each method within your API can use a different authorizer. For example, the POST method for the /login resource can use a different authorizer than the GET method for the /pets resource.

https://aws.amazon.com/blogs/compute/introducing-cust

[2022-09-25 20:55] calvernaz opened #6928 "feature request: API Gateway support for stage variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Stage variables are name-value pairs that you can define as configuration attributes associated with a deployment stage of a REST API. They act like environment variables and can be used in your API setup and mapping templates.

https://docs.aws.amazon.com/apigateway/latest/developerguide/

[2022-09-25 21:03] calvernaz opened #6929 "feature request: API Gateway add support for stages to Websockets API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

An API stage is a logical reference to a lifecycle state of your API (for example, dev, prod, beta, or v2). API stages are identified by their API ID and stage name, and they're included in the URL you use to invoke the API

https://docs.aws.amazon.com/apigateway/latest/developerguide/webs

[2022-09-25 21:13] calvernaz opened #6930 "feature request: API Gateway improve support for different identity sources for custom authorizers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

For Identity Sources, type a request parameter name of a chosen parameter type. Supported parameter types are Header, Query String, Stage Variable, and Context. To add more identity sources, choose Add Identity Source.

https://docs.aws.amazon.com/apigateway/latest/developerguide/configure

[2022-09-25 21:30] calvernaz opened #6931 "feature request: API Gateway improve support for custom authorizer per stage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Authorizers can be segregated per stage. Moreover, an authoriser shouldn't be invoked if the request is not made to the stage where the authoriser was configured.

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-09-25 21:49] calvernaz opened #6932 "feature request: API Gateway improve support to OpenAPI import (swagger, 3.0)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Localstack supports the import of a subset of OpenAPI specifications (Swagger, OpenAPI 3.0).

- Extend support for Swagger and OpenAPI 3.0
- Separate Swagger from OpenAPI 3.0 code for maintenance ease

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-09-26 02:00] benjaminlhai commented on #6499
Hi, unfortunately, I've cancelled my Pro subscription and won't be able to test this further.

[2022-09-26 07:02] viren-nadkarni opened #6934 "feature request: SES CloneReceiptRuleSet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Implement the `CloneReceiptRuleSet` operation for SES.

https://docs.aws.amazon.com/ses/latest/APIReference/API_CloneReceiptRuleSet.html

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-09-26 15:26] benhowes commented on #6422
I ran in to this problem today when trying to use `get-object-attributes` via boto. I ended up catching the `botocore.parsers.ResponseParserError` and using that to pull the file and calculate the SHA256 checksum (since this was the part I needed). It's a nasty hack, but it works until this bug is resolved

[2022-09-26 16:26] #6499 closed

[2022-09-26 17:24] bentsku commented on #6907
Awesome, thanks a lot @MhamedLmr !
I could test against AWS, and they will raise an `InvalidParameterValueException` when a `MessageAttributeValue`  is set to null. After the linked PR is merged, we will raise the proper exception.
Thank you again for taking the time to experiment and your detailed report. Much appreciated!

[2022-09-26 19:26] whummer commented on #6225
Hi @j-sv  , thanks for reporting. We have now added a couple of enhancements for ECS which will allow you to specify the `hostPort` for your task containers - and in case of port conflicts, we automatically determine an alternative port as a fallback.

Can you please pull the `latest` Docker image and give it another try? Please let us know if the feature works for you, or if there are any issues.

[2022-09-26 19:26] #6225 closed

[2022-09-26 19:26] whummer commented on #6910
Hi @daverin , thanks for reporting. We have now added initial support for HTTP resolvers / data sources in AppSync - can you please pull the `latest` Docker image and give it another try? Please let us know if the feature works for you, or if there are any issues.. Thanks!

[2022-09-26 19:26] #6910 closed

[2022-09-26 19:54] albehrens opened #6939 "bug: Api gateway endpoints are executed sequentially and not in parallel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Calling the same api gateway endpoint multiple times at the same time does not result in multiple lambda invokations at the same time, but their responses are returned to the cient sequentially.

### Expected Behavior

I would expect that calling api gateway 10 times at the same time is as qu

[2022-09-26 21:56] thrau commented on #5462
closing the issue for now. please re-open and tag me if the issue persists with the latest version

[2022-09-26 21:56] #5462 closed

[2022-09-26 21:58] #6792 closed

[2022-09-27 06:13] AlexCoursi commented on #6877
Hello !!
Thank you so much, it's working !!
(Sorry for the late answer, Google sends Github's email as spams)
Regards
Alex

[2022-09-27 06:13] #6877 closed

[2022-09-27 06:13] AlexCoursi commented on #6877
The solution:

`docker run -it -p 4566:4566 -p 4571:4571 -e DEBUG=1 -e DISABLE_CORS_CHECKS=1 -e DISABLE_CUSTOM_CORS_APIGATEWAY=1 localstack/localstack`

[2022-09-27 10:40] taras-kobernyk-localstack commented on #5410
Apologies for the delay. But the code has been finally merged, the key state constraints are there already.
I am going to close the ticket, but please let us know if something is still wrong.

[2022-09-27 10:40] #5410 closed

[2022-09-27 10:42] taras-kobernyk-localstack commented on #6101
Apologies for the delay. But the code is finally there.

I am going to close the ticket. But please let us know if there is something wrong with the implementation.

[2022-09-27 10:42] #6101 closed

[2022-09-27 10:44] taras-kobernyk-localstack commented on #6605
Apologies for the delay. But the code is finally there.
Let me know if everything is fine or if something is still failing.

[2022-09-27 13:22] j-sv commented on #6225
Tested and verified. Works exactly as expected. Thanks @whummer!

[2022-09-27 14:36] aquilacf commented on #3710
A workaround for this is to publish as self-contained, zip it yourself and update the code.
[code]
⚠️  Make sure you change the runtime to match your architecture!

The application is significantly larger, but it works. You might want to update the code using S3.
[code]

[2022-09-27 15:43] m-whisler opened #6942 "Localstack's Lambda Service Does Not Match AWS File Descriptors Quota"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

User's of Localstack's Lambda service are unable to reproduce EMFILE issues observed in real AWS deployments. This is due to the differences in `ulimit` configuration that does not match real AWS quotas defined [here](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html)
`u

[2022-09-27 18:37] eytan-avisror commented on #6842
Here is a clear reproduce of this issue using `localaws`

### Create a table
1. `localaws dynamodb create-table --cli-input-json file://table.json`

[code]

### Write a transaction
2. `localaws dynamodb transact-write-items  --transact-items file://artist.json`

[code]

### Restart pod
3. restart localstack pod/container

### Validate that table is persisted
4. `localaws dynamodb describe-table --

[2022-09-27 19:26] whummer commented on #6842
Hi @eytan-avisror , thanks for providing the reproducible example! Can you please run a `docker pull localstack/localstack:latest`, and give it another try with the`latest` Docker image tag? (you may need to update your startup configuration to use the `latest` image tag, e.g., in `docker-compose.yml`)

[2022-09-27 20:11] pinzon commented on #6830
Hi @jonofoz, sorry for the long delay, as I told you we're refactoring a lot of CFn.

I'm trying to reproduce your issue with code B and without the opensearch service running previously. The only problem with code B I had is that is missing the **domainName** attribute from the definition. Adding it allow me to create the domain.

Also I created a test that deploys the template generated by cdk,

[2022-09-27 21:47] harsha-ravs commented on #724
The same issue still persists. Any hints will be much appreciated. I will also provide this info in #721

I am

`
C:\git_hr\localstack>pip show localstack
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
Name: localstack
Version: 1.1.0
Summary: LocalStack - A fully functional local Cloud stack
Home-page: https://github.com/localstack/localstack
Author: LocalStack Contrib

[2022-09-27 21:54] harsha-ravs commented on #721
The same issue still persists. Any hints will be much appreciated.

	C:\git_hr\localstack>pip show localstack
	WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
	Name: localstack
	Version: 1.1.0
	Summary: LocalStack - A fully functional local Cloud stack
	Home-page: https://github.com/localstack/localstack
	Author: LocalStack Contributors
	Author-email: info@localstack.cl

[2022-09-27 22:06] eytan-avisror commented on #6842
Thanks @whummer it is working!
would be great if you can reference the PR that fixed it for educational purposes 👍

[2022-09-28 09:56] #6842 closed

[2022-09-28 15:42] ChandanChainani commented on #6909
@futugyou Please can you attach the steps with terraform template that can be followed to generate the error

[2022-09-28 16:52] tustvold commented on #6328
I've run into this also, I believe it relates to the encoding of spaces in query strings as `+`. As per the [URL standard](https://url.spec.whatwg.org/#string-percent-encode-after-encoding) a space may be encoded as `+` instead of percent encoded as `%20`.

Looking at a bucket containing a single object called "foo bar/I contain spaces.parquet"

[code]

[code]

[code]

[code]

_Note: the canonical

[2022-09-28 19:07] eyekay234 opened #6948 "Cant install on centos8"
I tired installing using pip3 install localstack and came across this error message that halts the process

 Using cached https://files.pythonhosted.org/packages/59/74/7d12a5be66bfd5836788005f5d3dcb5eed2c383341931947347b0b8b169a/plux-1.3.1-py3-none-any.whl
Collecting cachetools~=5.0.0 (from localstack)
  Could not find a version that satisfies the requirement cachetools~=5.0.0 (from localstack) (f

[2022-09-28 19:25] dfangl commented on #6948
Hi!
Cachetools 5.0.0 does not support python 3.6 or lower anymore, which is why you cannot install the CLI.
Please upgrade your python version, as python 3.6 also is not supported by LocalStack anymore.

[2022-09-28 20:19] giograno commented on #6920
Hi @jrauen, thanks for reporting the issue. This happens due to a temporary discrepancy between the CLI and the LocalStack version. We might ask you to pinpoint a previous version (e.g., `pip install localstack-ext==1.1.1.dev20220927210533`). We are going to fix this properly with the next release. Sorry for the inconvenience 🙏

[2022-09-28 20:19] davecardwell commented on #6605
@taras-kobernyk-localstack Thank you again for your work on this!

I can confirm that I re-ran the Steps to Reproduce in my original PR with `localstack/localstack:latest` (`b07825443747`) and `kms.GetPublicKey` by the key ID, ARN, and alias all worked! 🙌

[2022-09-28 20:19] #6605 closed

[2022-09-28 20:21] giograno commented on #6914
Hi @jrauen, thanks for reporting the issue. We enabled Cloud Pods support for ACM and ApiGateway. You'll be able to extract the state for these services with the `latest` image. About the pulling issue, please refer to #6920. Thank you very much 🙏

[2022-09-28 20:21] #6914 closed

[2022-09-29 07:33] aktakalariya commented on #2852
Hello All, I am also facing this same issue in latest version also. Is there any work around or solution for this issue?

[2022-09-29 07:50] chomamaTheBest commented on #6296
I got a similar problem when deploying the following app. The stack is stucking in REVIEW_IN_PROGRESS after  `cdklocal deploy` failed.
[code]

[code]

[2022-09-29 09:13] Warkanlock commented on #6296
Thanks for this update! I'll do it on the local pipeline and let you know. If you need a hand with something please let me know I can contribute if's needed

[2022-09-29 12:13] KurtMar opened #6950 "bug: Using EventBridge L2 construct Rule from aws-cdk-lib/aws-events produces an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deploying the provided stack in CDK with `cdklocal deploy` will produce the following in LocalStack logs:
`Unable to deploy resource type "CloudwatchLogResourcePolicy"`

The deployment will go through, but upon `cdklocal destroy` there will be an error in the logs:
`Action delete for resource

[2022-09-30 03:14] futugyou commented on #6909
@ChandanChainani this is the whole tf file.
[code]

[2022-09-30 06:23] #6455 closed

[2022-09-30 09:14] adamlewisgucci commented on #4519
It's been one year... I'm guessing this isn't going to be dealt with - so this is the last time I'll respond to the bot

[2022-09-30 12:58] raunaqpahwa commented on #6934
Hey, I'd like to work on this. @viren-nadkarni Can you guide me a bit?

[2022-09-30 14:33] KurtMar opened #6956 "bug: Adding S3 bucket as event source for Lambda fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deploying the provided stack in CDK with `cdklocal deploy` will produce the following in LocalStack logs:
`Unable to deploy resource type "S3BucketNotifications"` and no S3 notifications are created.

### Expected Behavior

Should deploy S3 bucket notifications

### How are you starting Local

[2022-09-30 15:41] peterson-dc commented on #6187
I'm experiencing the exact same issue as @limedaniel with version 1.1.0

[2022-09-30 16:08] whummer commented on #6912
Hi @eau-de-la-seine , thanks for reporting. Please note that this is a client-side error, which LocalStack has no control over. We usually recommend setting either a local test profile, or the following environment variables to get started:

[code]

Please note that these configurations are already built into all utilities that LocalStack is providing (e.g., `awslocal`, `cdklocal`, etc), but when

[2022-09-30 17:41] brfrugis commented on #4669
Having that same error here ....
by checking the secret with aws-cli I can see the tag AWSCURRENT but even though I'm facing that error iwth Java en Python apps .....
Any idea ?

[2022-09-30 20:01] mh4ckt3mh4ckt1c4s commented on #6739
Normally the issue have been fixed with this merge @Issung , it should be in the next release

[2022-10-01 12:51] HarshCasper commented on #6934
Hi @raunaqpahwa — Can you please let us know if you have setup LocalStack on your local machine and ran some examples? You can refer to the following [video explaining the development setup](https://youtu.be/XHLBy6VKuCM) and the [developer guide](https://docs.localstack.cloud/developer-guide/) to get started.

[2022-10-01 13:26] ayushpaharia commented on #6643
@HarshCasper I'm interested in working on this issue

[2022-10-01 14:57] ChandanChainani commented on #6909
Currently [localstack](https://localstack.cloud/) uses [DynamoDBLocal](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html) which is a stripped down version of dynamo db developed to test dependent functionally locally. The stripped down version has limited APIs which does not include `DescribeContinuousBackups` API.

Followed below steps to verify `DescribeContinuo

[2022-10-01 15:14] HarshCasper commented on #6643
Hi @ayushpaharia — As @whummer mentioned, it has been fixed in a latest release. Can you try replicating if this issue still exists by pulling the latest image and try to check if LocalStack Lambda honours the 4 KB env variable limit? We would count issue triaging for Hacktoberfest as well, and we would appreciate any contributions :)

[2022-10-01 17:28] taras-kobernyk-localstack commented on #6605
Awesome! Glad to hear it worked. :-)
And sorry for such a delay with this.

[2022-10-02 03:19] Issung commented on #6739
Sorry I didn't get back to you in time, thanks for making the effort for the PR, hopefully it fixes my issue, I will come back to this thread and give an update once the next release comes out and I give it a test!

[2022-10-02 04:27] eyekay234 commented on #6948
Thanks a lot @dfangl

[2022-10-02 05:30] #6739 closed

[2022-10-02 08:38] whummer commented on #6864
Closing as resolved - please let us know if there are any other issues. Thanks!

[2022-10-02 08:38] #6864 closed

[2022-10-02 08:38] whummer commented on #6805
Thanks for reporting @jasonboutwell - this has been added in the meantime, as also discussed on Slack. Please keep us posted on how it goes, or if there are any issues with the implementation of this feature.. Thanks!

[2022-10-02 08:38] #6805 closed

[2022-10-02 08:38] whummer commented on #6789
Hi @ngouass , quick follow-up - would be great if you could share a few more details.. We'll be happy to look into it in more detail! 👍

[2022-10-02 08:39] whummer commented on #6493
Closing this issue for now, please let us know (with a reproducible example) if the problem persists. We'll continue the thread on `$disconnect` messages over at https://github.com/localstack/localstack/issues/6383 👍 Thanks

[2022-10-02 08:39] #6493 closed

[2022-10-02 08:39] whummer commented on #6509
Thanks for reporting @hans-d . This should be resolved in the meantime, can you please pull the `latest` LocalStack Docker image and give it another try? Please let us know if the problem persists.. Thanks!

[2022-10-02 11:28] whummer commented on #6321
Hi @JuanOrtizOvied , just to confirm - looks like you're not configuring an API key in your docker-compose.yml config. Please note that full support for persistence is currently only available in the Pro version of LocalStack. If you'd like to give it a try, you can sign up for a free trial under https://app.localstack.cloud . Please keep us posted on how it goes.. Thanks!

[2022-10-02 12:09] whummer commented on #6296
Thanks @Warkanlock . Closing this issue as "cannot reproduce" for now - please let us know if the problem persists. If you can share a small, reproducible example, we'll be very happy to look into it in more detail (please create a new issue in that case).. Thanks for your help!

@chomamaTheBest looking at the error message `Stack Localstack3Stack already exists`, it seems that you are trying to d

[2022-10-02 12:09] #6296 closed

[2022-10-02 13:49] bwship commented on #6956
@KurtMar  - The code you have posted is actually incorrect.  If you do it as follows,

    // setup the S3 Event connected to the bucket
    bucket.addEventNotification(s3.EventType.OBJECT_CREATED,
      new s3n.LambdaDestination(lambdaFunction),
    );

it will work.

That said, @whummer , there is an error with with the event sources returned from LocalStack.  If you run

const policy: string |

[2022-10-02 14:38] aitouka21 opened #6961 "bug: Unexpected error "Stack already exists" when deploying with cdklocal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Stack is stuck in REVIEW_IN_PROGRESS status after cdklocal deploy failed.

[code]

ParameterNotFound is expected, but throwing `Deployment failed: Error: Stack Deployments Failed: ValidationError: Stack LocalStack1Stack already exists` instead.
[code]

### Expected Behavior

Once deployment f

[2022-10-02 17:15] arielbeckjit opened #6963 "bug: SNS multi subscription to lambda does not work using serverless"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've created a serverless yaml with a super simple lambda + 2 sns subscriptions:
[code]

I've tried with and without creating the topics in advance, but the deployment fails with:
[code]

Deploying the same configuration directly to AWS works.
There's also no informative error message and i'm

[2022-10-02 17:58] KurtMar commented on #6956
@bwship Thanks for confirming this!

As you can see from the commented out code in my example, I have tried that approach already, without any luck. Looking at the source code of the CDK constructs, all three different, but valid approaches listed below produce the same exact thing:

1. `lambdaFunction.addEventSource(new S3EventSource(bucket, { events: [ EventType.OBJECT_CREATED ] }))`
2. `bucket.

[2022-10-02 18:09] buddhics commented on #6610
Hey, I would like to work on this issue.

[2022-10-03 11:08] HarshCasper opened #6967 "bug: Invoking Golang-based Lambda return an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have the following code available in my `main.go`:

[code]

It is built and packaged in the following manner:

[code]

The Lambda is created and invoked in the following manner:

[code]

The following error is returned:

[code]

### Expected Behavior

A new file called “response.txt” should

[2022-10-03 11:29] dfangl commented on #6881
For the record: The base issue for this is that the OCI specification does not have the directive `SHELL`, so our `SHELL ["/bin/bash", "-c"]` in the dockerfile is ignored with podman, which leads to all instructions be executed with `sh` instead of `bash`.
See this issue: https://github.com/containers/podman/issues/8477 .
You can usually fix this by adding `--format docker` to the build command, i

[2022-10-03 14:27] philipholtseeland opened #6968 "bug: ARN of log group not fetched correctly when granting role, resulting in MalformedPolicyDocumentException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running CDK with Kotlin against LocalStack Pro.

When creating a role and log group, LocalStack fails when trying to grant the role to the log group, with the error message

This seems to happen when creating the role first as a variable, but not when creating it directly as a parameter.

The

[2022-10-03 15:31] whummer commented on #6463
Hi @nhidtran, thanks for the update. Please note that certain features, including full support for persistence, are only available in the Pro version of LocalStack. If you'd like to give it a try, you can create a free trial API key in our Web app under https://app.localstack.cloud . Hope that helps - please keep us posted on how it goes.. Thanks!

[2022-10-03 15:55] #6830 closed

[2022-10-03 16:10] jrauen commented on #6914
Confirmed this is working using `localstack-ext==1.1.1.dev20220927210533` and docker `86b855a67499`.

[2022-10-03 16:11] jrauen commented on #6920
Confirmed this is working with CLI version `localstack-ext==1.1.1.dev20220927210533` and image `86b855a67499`.

[2022-10-03 16:11] #6920 closed

[2022-10-04 05:02] eyekay234 commented on #6948
@dfangl i still ran into the following issues below:

 ERROR: Command errored out with exit status 1:
   command: /bin/python3.6 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-qq2y8eux/localstack_ec00bef3db8a4d2589ff0ebb03575b2c/setup.py'"'"'; __file__='"'"'/tmp/pip-install-qq2y8eux/localstack_ec00bef3db8a4d2589ff0ebb03575b2c/setup.py'"'"';f = getattr(tokenize, '

[2022-10-04 09:19] philipholtseeland opened #6970 "bug: Unable to create RDS database instance with custom name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running CDK with Kotlin against LocalStack Pro.

When creating a DBCluster with provided default database name and credentials with username, a DBInstance is automatically created with the default values for database name and username ("test"), and it seems the one with the actual values is n

[2022-10-04 09:38] philipholtseeland commented on #6970
Tried it without the credentials as I see the logs contain _Unable to deploy resource type "SecretsManager::SecretTargetAttachment"_ - still the same result with the two "Starting RDS server..." messages and one DBInstance with the wrong DBName.

[2022-10-04 12:19] dfangl commented on #6948
You can try installing a later localstack version, but in the end, you might encounter significant issues when staying on python3.6.
We have alternative ways of starting LocalStack, like directly via docker or docker-compose, please check out our docs here: https://docs.localstack.cloud/get-started/#docker-compose
If you need explicit CLI functionality, please upgrade to at least python3.7, for ex

[2022-10-04 18:01] eau-de-la-seine commented on #6912
Hi @whummer , yes I'm using an AWS SDK lib in my application (and I guess that a lot of people use Localstack for testing their applications instead of using command line tools for testing Localstack), but what I'm trying to say is that Localstack is supposed to emulate the AWS environment on my computer, but AWS environment doesn't throw misleading errors like `CredentialsProviderError: Could not

[2022-10-04 19:33] whummer commented on #6961
Hi @chomamaTheBest, thanks for reporting. It looks like your stack is depending on an SSM parameter here:
[code]

As this parameter is missing, we're seeing the following exception during deployment:
[code]

Can you try creating this parameter in LocalStack SSM, and then deploy the stack again? Thanks

[2022-10-04 21:53] samuelhgf opened #6974 "bug: KeyError: 'Parameters' after deploying cloudformation template again"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm receiving this error after call `samlocal deploy --guided` and filled all options

And this just occur after the first time (creation)

[code]

### Expected Behavior

Update the stack already deployed to localstack

### How are you starting LocalStack?

With a docker-compose file

### Ste

[2022-10-05 01:58] chomamaTheBest commented on #6961
I did that purposely. I did the same thing on both cdk and cdklocal but I got different results.
cdk:
[code]
cdklocal:
[code]
I have created the SSM parameter and then it still keeps throwing ChangeSetNotFound unless I restart localstack and deploy the stack again.
[code]

[code]

[code]

[2022-10-05 05:03] 12-malak commented on #6921
Hi, I would like to work on this issue. I request you to please assign me.

[2022-10-05 05:50] awong55 commented on #4651
Hi, I seen to be experiencing this error even on v1.1.0

I tried throwing errors in my kotlin lambda within my stepfunction and the caught exception is always `InocationException`

My setup is as follows
[code]

[2022-10-05 15:23] jhulme-ut opened #6979 "bug: Cannot start localstack directly on the host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I install localstack via Pip, I then try and start it without docker: `localstack start --host`
I get an error complaining that it can't find the moto package
[code]

### Expected Behavior

Localstack starts

### How are you starting LocalStack?

With the `localstack` script

### Steps To Rep

[2022-10-05 21:39] #6700 closed

[2022-10-05 21:39] #6786 closed

[2022-10-06 07:17] MarcelStranak opened #6981 "bug: LocalStack CLI can't select profile using --profile prompt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, when you run, for example, ` localstack --profile=dev config show` it does not change the profile from `default` to `dev`.

### Expected Behavior

Running `localstack --profile=dev config show` should provide same results as running `CONFIG_PROFILE=dev localstack config show`

###

[2022-10-06 07:52] whummer commented on #6979
Hi @jhulme-ut , can you please try installing the `runtime` extra:
[code]
Please note that we do not officially support running LocalStack on the host - the preferred way to start up is inside Docker. This simplifies things for us, as we can rely on having a unified environment - otherwise debugging the different operating systems, user permissions, network settings etc on users' host machines sim

[2022-10-06 09:25] kamal-mahmassani-cko commented on #6356
+1 on this is very needed

[2022-10-06 11:03] ackdav commented on #6786
Hello @brandonstubbs ! thanks for the report. we pushed a fix to master and the behavior should now be corrected. please open a new issue should the problem resurface. 👍

[2022-10-06 14:45] Fusseldieb opened #6982 "bug: requestParameters is empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating a Lambda and a trigger on LogGroupCreation, it triggers the lambda, however, the "event" parameter has "requestParameters" completely empty.

[code]

### Expected Behavior

Running the very same lambda on AWS returns the expected requestParameters as shown below:

[code]

Due to

[2022-10-06 15:21] hrvacadaIM opened #6983 "feature request: add EventBridgeConfiguration in NotificationConfiguration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I am trying to add NotificationConfiguration on one of my s3 buckets. When I execute:

[code]

and run `npm run localstack:debug` which is alias for this script

[code]

I get this error:

[code]

### 🧑‍💻 Implementation

Add support for `EventBridgeConfiguration`

Sources:
- https://docs.a

[2022-10-06 15:35] whummer commented on #6631
Hi @alexlokshin-czi , thanks for reporting, and apologies for the long delay. This is indeed related to the memory requested by the task - we have in the meantime pushed a few enhancements to have better error reporting in this case (i.e., should no longer raise the `list index out of range` error).

Can you please pull the `latest` Docker image and give it another try? Please keep us posted on ho

[2022-10-06 15:36] whummer commented on #6789
Closing as resolved - please let us know if the problem persists. Thanks!

[2022-10-06 15:36] #6789 closed

[2022-10-06 17:35] jrauen opened #6984 "bug: API Gateway v2: API Mapping fails to utilize mapping key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm utilizing API Gateway v2 with a custom domain name and API mapping. All requests and responses for the creation are correct but when I make requests to the endpoint it does now behave as expected. Here is the setup:

- API Gateway
- Domain Name
- API Mapping
- Route
- Integration

[code]

[2022-10-06 17:38] marcinsulikowski opened #6985 "bug: ISO 8601 timestamps in Localstack STS responses cannot be parsed by AWS SDK for C++"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

ISO 8601 timestamps returned by Localstack STS cannot be parsed by C++ programs that use AWS SDK for C++ (https://github.com/aws/aws-sdk-cpp). Here's an example response from Localstack for STS AssumeRole:

[code]

The timestamp `2022-10-06T14:07:15.636000Z` is rejected by [this line of the A

[2022-10-07 03:51] ma91n opened #6988 "bug: Inernal server error in get-object with Range header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

## s3 get-object with `--range` option result is invalid

$ aws --profile local --endpoint-url http://localhost:4566 s3api get-object --bucket local-bucket --key local-test.csv --range bytes=0-10 out.csv
An error occurred (InternalError) when calling the GetObject operation (reached max retri

[2022-10-07 17:03] SachinNoder commented on #5454
@bentsku - Hi, I am running a node js application in local machine, HTTP endpoint of this Node js application is a subscriber to SNS topic running in **localstack**. When I print the output of request body I get value of **SigningCertURL** as follows

`https://sns.us-east-1.amazonaws.com/SimpleNotificationService-0000000000000000000000.pem`

because of this URL whenever I try to validate the signa

[2022-10-07 20:22] jogura opened #6989 "Localstack's `iam detach-user-policy` does not behave the same as AWS in the expected failure case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1st time detaching a user policy that is attached to the user - expect (success) ✅

`awslocal iam detach-user-policy --policy-arn arn:aws:iam::XXXXXXXXXXX:policy/some-policy --user-name someuser`

Rerun the same command a 2nd time detaching a user policy no longer is attached to the user - ex

[2022-10-07 20:41] avandesa-fw opened #6990 "bug: SerializationException on Kinesis GetShardIterator and RegisterStreamConsumer actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to execute the `GetShardIterator` actions against a local Kinesis instance running in localstack, a `SerializationException` is thrown and an HTTP 400 response is returned saying the request body could not be decoded as JSON. Similarly, when trying to execute `SubscribeToShard`, t

[2022-10-08 20:38] techrajdeep commented on #6610
Hey @whummer @HarshCasper @silv-io @aditya-dixit1 , I am looking for an issue for my first contribution . Can you help me here.

[2022-10-09 17:37] buddhics commented on #6610
Hi @whummer , @HarshCasper , @silv-io , @aditya-dixit1 , I managed to set up the dev environment and recreate this error. Need your help to resolve this.

[2022-10-09 17:54] gsx95 commented on #6974
I'm having the same issue. Just started with a sample app.

`SAM CLI, version 1.59.0`

Deployed with samlocal --guided, first deployment always works, but second one fails with the same error.

[code]

[code]

[2022-10-10 06:18] #3133 closed

[2022-10-10 06:22] marcelosarquis commented on #3133
Thank you bot, but the case has not being completed.

[2022-10-10 06:23] marcelosarquis commented on #3133
Do we have any news here @silv-io ?

[2022-10-10 06:46] ChandanChainani commented on #6967
@HarshCasper working correctly in version `1.2.0`

[2022-10-10 06:51] ilgrosso opened #6995 "bug: java.lang.IllegalArgumentException: argument type mismatch with RequestHandler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The following request handler:

[code]

causes

[code]

when execution is triggered.

This works fine until LocalStack 1.0.4.

### Expected Behavior

No exceptions.

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

LocalStack is started as part of

[2022-10-10 06:53] HarshCasper commented on #6967
Thanks! Will test it out today.

[2022-10-10 07:15] ChandanChainani commented on #6982
@whummer Is it possible to work on the issue without license key temporarily?

[2022-10-10 07:42] HarshCasper commented on #6982
Hi @ChandanChainani 👋

Would you be able to send a mail to `info@localstack.cloud` with the preferred mail ID where you would like to have the license key, so that you can debug this? We will grant a 1-month Pro license key for you to get started with.

[2022-10-10 08:50] whummer commented on #3133
Hi @marcelosarquis , thanks for the update. Can you please share the details of your use case - do you have the same requirements as @mdodsworth ?

Given that this issue is very old (from 2020) and the initial request was to add basic support for Timestream (which is now available), would be great if we can create follow-up issues for missing functionality, with detailed steps to reproduce. We'll

[2022-10-10 11:33] garethpowell opened #6997 "bug: SetQueueAttributes causes InvalidAttributeName exception when using a Fifo Queue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Between version 0.14.5 and 1.0 the behaviour of SetQueueAttributes has changed and is now causing InvalidAttributeName exception when using a FifoQueue.

### Expected Behavior

SetQueueAttributes executes without error when passing valid attribute names.

### How are you starting LocalStack?

[2022-10-10 11:54] whummer commented on #5396
Thanks for the update @snmishra . In fact, the `kinesalite` is not actively being maintained anymore, and we do not recommend using it (in fact, it is already deprecated, and will likely get phased out in one of the upcoming releases). Are you ok with using the default Kinesis provider, `kinesis-mock`..?

Looks like we can close this issue for now - please do let us know if the problem persists..

[2022-10-10 14:22] wonhyeongseo commented on #6989
Hello, I'm interested in this issue. May I please have a go at it?

[2022-10-10 15:43] driverpt opened #7000 "bug: LocalStack 1.2.0 - Unable to start when behind corporate proxy w/ Custom CA"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently it's looping this error

[code]

### Expected Behavior

every call to work properly

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker-compose.yml`)

[2022-10-10 15:57] #5997 closed

[2022-10-10 16:00] lukqw commented on #5997
Hi @yonatandbinahai and @EinavBar18, this issue has now been resolved and should be fixed in our `latest` docker image in the upcoming days.

[2022-10-10 16:57] arvenil opened #7002 "bug: QLDB: Incorrect number of bindings supplied."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Doesn't work:
[code]

I get an error:

Works:
[code]

### Expected Behavior

Below query works with real QLDB instance. It should work as well with localstack instance.
[code]

### How are you starting LocalStack?

https://www.testcontainers.org/modules/localstack/ but with go.

### Steps To

[2022-10-10 21:13] doublevcodes commented on #5947
Hello, I'm going to attempt to solve this issue.

[2022-10-10 22:17] thrau commented on #7000
@driverpt thanks for reporting. are you using kinesis, or just dynamodb?

---

this may be due to the installer refactoring, where we now require a call to the github API to scrape the available versions. :eyes: @alexrashed, any ideas how we could address this?

* i understand the API call is now an integral part of the installer, but maybe we don't really need it?
* this may be a good opportunity

[2022-10-10 22:31] driverpt commented on #7000
Hey @thrau , I'm using DynamoDb

[2022-10-10 22:36] thrau commented on #6997
Hi @garethpowell, I can confirm that this is a regression introduced with 1.0.4 (which is the latest version in that minor release cycle, and is the version you are getting if you use the tag `1.0`). It was reported in #6620  and fixed in #6622, which was released as part of `1.1.0`. I can see how we should have done another patch release there to fix the issue in the 1.0 tag.

To fix the issue yo

[2022-10-10 22:51] thrau commented on #6459
/cc @bentsku, any chance we can re-use your sig validator for s3 for this?

[2022-10-10 22:56] thrau commented on #6420
Thanks for reporting, this has now been implemented in #6767 and available in 1.1+

[2022-10-10 22:56] #6420 closed

[2022-10-10 23:06] thrau commented on #5344
Hi Rob, thanks for reporting. As you have found, we rely on correct headers to be able to route the request to the correct service. We cannot fallback properly to an endpoint prefix (like "secretsmanager.aws...") since we're ingesting all service requests to `localhost`. Glad you found the error!

[2022-10-10 23:06] #5344 closed

[2022-10-10 23:19] snmishra commented on #5396
Oh, didn't know about `kinesalite` not being maintained anymore. In that case, this issue is good to close. Thanks for the fix.

[2022-10-10 23:19] #5396 closed

[2022-10-11 01:44] bentsku commented on #6459
@thrau out of the box, I don't think so. There's a specific Signer in botocore for S3 SigV4 (`S3SigV4QueryAuth`), because the signature/auth parameters are in the query parameters (subclassed from `SigV4QueryAuth`), and there's some payload specific overriding.
There's a dispatcher in botocore allowing to select the right signer for the request. See:
https://github.com/boto/botocore/blob/fec0e5bd5

[2022-10-11 03:25] cmoralesmx commented on #6221
Hi, is someone already working on this? I'd like to contribute, I've setup a dev environment following your documentation

[2022-10-11 05:48] OyvindAndersen opened #7004 "bug: IoT service is not publishing messages when device shadow is updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When updating device shadow the storage itself is updated, but there doesn't look like messages are published to the expected topics, e.g. $aws/things/+/shadow/name/#. Specifically the /update/delta that we are using to get the delta document with differences between the desired and the repor

[2022-10-11 06:58] HarshCasper commented on #6221
@cmoralesmx We have LocalStack engineers working on this. I am assigning you as well so that you can put up a PR for this, and maybe our engineers can help you with writing tests :)

[2022-10-11 07:18] silv-io commented on #6161
Hi @yuvalshi0, @SwiftyIsSwaggy, @nathanielrindlaub, we're happy to announce initial support for SageMaker Endpoints in LocalStack Pro! To try it out, get the latest version `1.2.0` and check out our [docs](https://docs.localstack.cloud/aws/sagemaker/#model-deployment-and-inference) and [sample](https://github.com/localstack/localstack-pro-samples/tree/master/sagemaker-inference)!

[2022-10-11 07:18] #6161 closed

[2022-10-11 07:41] mahu9119 opened #7005 "feature request: Athena - BatchGetQueryExecution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Athena SDK supports send multiple queries and then wait for all responses at once.
Currently Localstack PRO returns `API action 'BatchGetQueryExecution' for service 'athena' not yet implemented`

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-10-11 09:39] HarshCasper commented on #6610
Hi — @buddhics I have assigned you the issue. Please try to replicate the above issue before moving forward with solving the bug :)

[2022-10-11 10:58] #6934 closed

[2022-10-11 11:17] #7000 closed

[2022-10-11 11:19] alexrashed commented on #7000
Hey @driverpt!
Sorry for the inconvenience. I just merged a PR which should fix the issue.
As soon as the pipeline on our main branch ran through, the latest image contains the fix.
Please let us know if you still experience any issues.
Thanks!

[2022-10-11 12:38] johanvogelzang-topicus opened #7007 "bug: Unknown parameter in GlobalSecondaryIndexes[0]: "ContributorInsightsSpecification""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Deploying the CloudFormation template below to localstack results in error:

`Unknown parameter in GlobalSecondaryIndexes[0]: "ContributorInsightsSpecification", must be one of: IndexName, KeySchema, Projection, ProvisionedThroughput`

According to the [AWS docs](https://docs.aws.amazon.com/A

[2022-10-11 12:50] pmcgaley commented on #6797
Hi @thrau

Is this still the case? I've had the same error occur with the 1.2.0 docker image. When I look in the container, `/usr/lib/localstack/` does not contain kinesis-mock, whereas it does on 1.1.0.

It seems as a result 1.2.0 attempts to download kinesis-mock from github and fails with a rate limit error.

I've worked around it locally by pinning to 1.1.0 for now, but it would be good to res

[2022-10-11 15:34] TatoExp opened #7009 "bug: Lambda function URL's don't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I create a lambda function with function URL following the tutorial from https://docs.aws.amazon.com/lambda/latest/dg/urls-tutorial.html

However, I am using node 12.x rather than 14.x.

The lambda doesn't work, I have enabled CORS and debug mode and it appears I get a TypeError from pyt

[2022-10-11 16:48] dfangl commented on #6221
This issue is officially freed up now, so feel free to take it @cmoralesmx .

[2022-10-12 01:04] cmoralesmx commented on #6221
Thanks @HarshCasper, I'm all in for writing tests!
Pardon my ignorance @dfangl, I'm not sure how to proceed from here? I usually open a PR after committing changes. In this case I haven't yet.

[2022-10-12 07:48] elbazon opened #7013 "API Gateway re-deployment stucks while updating code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Once I attempt to update an existing API gateway deployment resource, it gets stuck on "Still modifying".
"aws_api_gateway_deployment.rest-api-gw-stage-deployment: Still modifying..."

### Expected Behavior

Should update accordingly with no issues.

### How are you starting LocalStack?

With

[2022-10-12 09:56] gaston-cupido opened #7014 "Setting up localstack on my machine at work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi, I am new to localstack and want to get it up and running on my machine at work. i have docker and the latest python running on my machine. the documentation is not so clear on trouble shooting. I would like to get it running on my machine to see how it can help the company.

I am getting

[2022-10-12 10:39] MarcelStranak commented on #7014
Hi, can you please try updating the pyOpenSSL libraries?

[code]

[2022-10-12 10:40] whummer commented on #7002
Hi @arvenil , thanks for reporting. We've been able to replicate this issue, and are currently working on a fix. We'll ping you soon with an update here. 👍

[2022-10-12 11:02] gaston-cupido commented on #7014
I am getting this error when doing the above
![image](https://user-images.githubusercontent.com/8736347/195326299-702f22f3-80cd-4116-b388-fa4fe6665dda.png)

[2022-10-12 15:28] thrau commented on #7013
hi @elbazon, sorry you're having issues with your application and localstack.
please help us reproduce the issue by providing the terraform files you are trying to deploy. if you are pro user you can also contact our customer support in slack and share it there.

[2022-10-12 15:39] dfangl commented on #6221
Just opening a PR with `fixes #...` works and will properly reference (and close when merged) this issue. You are already assigned, so feel free to start right away!

[2022-10-12 18:27] #6379 closed, assigned to whummer

[2022-10-12 22:36] #4243 closed

[2022-10-12 22:36] giograno commented on #4243
Closing the issue. Feel free to reopen any time if the issue occurs again 🙏

[2022-10-12 23:56] ilyatikhonov commented on #6141
This is still an issue for the latest (v1.2.0) release

[2022-10-13 07:59] MarcelStranak commented on #7014
Hi @gaston-cupido, can you please have a look at this stackoverflow page: https://stackoverflow.com/questions/49943410/pip-ssl-error-on-windows

The issue does not seem to be connected with LocalStack at all.

[2022-10-13 09:43] dfangl commented on #7014
Hi @gaston-cupido !
Is it possible your company has some kind of company proxy set up, which breaks up ssl connections?

[2022-10-13 10:20] gaston-cupido commented on #7014
Yes

On Thu, 13 Oct 2022, 11:44 Daniel Fangl, ***@***.***> wrote:

[2022-10-13 11:22] kplaricos opened #7017 "bug: clientMetadata is empty on cognito lambda trigger function request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The request to signup using cognitoIdentityServiceProvider.signUp method contains the ClientMetadata attribut with value but it is sent as empty to the custom message lambda trigger function. The stack is deployed using CDK with localstack Pro api key. The deployment succeed and the custom me

[2022-10-13 12:00] elbazon commented on #7013
It seems that this issue has been resolved in the latest localstack version.
However, a new issue has been raised:
"
`╷
│ Error: Provider produced inconsistent final plan
│
│ When expanding the plan for
│ module.notifications-service.aws_api_gateway_deployment.rest-api-gw-stage-deployment
│ to include new values learned so far during apply, provider
│ "registry.terraform.io/hashicorp/aws" produced

[2022-10-13 15:18] ackdav commented on #6990
Hello @avandesa-fw - thank you for raising this issue. I'm having a bit of trouble consistently reproducing this.
I used the snipped you provided:
[code]

I can reproduce your issue using `TRIMHORIZON` - this seems to be a typo. With `TRIM_HORIZON` ([aws docs](https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html#API_GetShardIterator_RequestSyntax)) everything works fin

[2022-10-13 15:56] blackmichael commented on #3707
@silv-io Any updates on this?

[2022-10-13 23:00] Issung commented on #6739
This fixed the issue with total ease! Just tried the new version (1.2.0) containing the fix and it worked right off the bat, we can now stop using the old v0.12.9 version we were stuck on. Can't thank you enough :)

[2022-10-14 02:45] hemagso opened #7021 "bug: ResourceNotFoundException when calling the DescribeLogStreams operation"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

When working with lambda functions and cloudwatch localstack returns a ResourceNotFoundExceptio when listing log streams even when log groups exists.

This seems to be similar to #2003 and #6077, but I found no solution on those Issues.

### Expected Behavior

Localstack should list the log s

[2022-10-14 10:43] bollohz opened #7024 "bug: Firehose Buffer Size/Interval not respected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have some application code that write messages in a Firehose stream.
The firehose stream is connected to an S3 Bucket and and S3_event is connected to the bucket triggering a Lambda function.
What happens is even if I set the Firehose stream to be with an interval of 60s and 128M the Object

[2022-10-14 14:34] avandesa-fw commented on #6990
Hi @ackdav, I can confirm that the TRIM_HORIZON typo seems to be the issue; using `TRIM_HORIZON` works. The error is quite confusing as the request is valid JSON, just with an invalid argument. Thanks for figuring that out!

[2022-10-14 14:57] ackdav commented on #6990
Thanks for quickly confirming this @avandesa-fw. I'll close the issue for now, since it's not really a bug as described, but rather a usage issue. I'll make a note to add proper input sanitization soon to have a more usable error message. thanks again 👍

[2022-10-14 14:57] #6990 closed

[2022-10-14 16:36] gooftroop commented on #6892
Wanted to see if there was an update or plan for this?

[2022-10-15 02:03] wonhyeongseo opened #7028 "[FR] Multi-language support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

**What's the problem of not having this feature?**
Multi-language support is necessary for wider adoption by the global community. As a translator I would like to contribute to this endeavor on Localstack as well. It would help attract a plethora of well-done commits.

**Describe alternati

[2022-10-15 11:46] thrau commented on #7028
Thanks for submitting the idea @wonhyeongseo. Could you be more specific about what part of localstack should be internationalized in your opinion?

[2022-10-15 20:04] buddhics commented on #6610
Hi @whummer and @HarshCasper

I managed to replicate the exact issue and this can be seen in the debug console log.

`2022-10-16T01:26:13.443  INFO --- [   asgi_gw_0] localstack.utils.bootstrap : Execution of "_load_service_plugin" took 510.80ms
2022-10-16T01:26:13.444  INFO --- [   asgi_gw_0] localstack.utils.bootstrap : Execution of "require" took 512.70ms
2022-10-16T01:26:13.704  INFO --- [   a

[2022-10-16 04:11] HarshCasper commented on #6610
Hi @buddhics — Thanks for verifying this. Unfortunately, Pro features are worked upon by LocalStack engineers on our private codebase. Thanks for triaging and I would further connect with you over this thread to help you record a contribution for the triage you made.

[2022-10-16 04:19] buddhics commented on #6610
Thanks @HarshCasper

[2022-10-16 20:46] whummer commented on #6984
Hi @jrauen , thanks for reporting. Quick update - we have now pushed a couple of enhancements for API Gateway v2 API mappings that should (hopefully) get this issue resolved. Can you please pull the `latest` Docker image and give it another try? Please keep us posted on how it goes.. Thanks!

[2022-10-16 20:47] whummer commented on #6631
Closing as resolved - please let us know if the problem persists.. Thanks!

[2022-10-16 20:47] #6631 closed

[2022-10-16 20:49] whummer commented on #6155
Hi @djpentz, quick follow-up - can you please provide a short update on this issue, have you been able to get it working in the meantime? Please let us know if the problem persists, or if we can close this issue.. Thanks!

[2022-10-16 20:56] whummer commented on #5895
@fabio-blanco Can you please elaborate on this point. Did you have a chance to give `tflocal` try? https://github.com/localstack/terraform-local In fact, `tflocal` is a tool that should enable you to deploy your real (production) Terraform scripts against without any modification required.

As a simple example - let's assume this minimal Terraform example that defines an S3 bucket:
[code]
... You

[2022-10-16 20:56] #5895 closed

[2022-10-16 20:57] whummer commented on #5790
Closing this issue as resolved - please do let us know if the problem persists.. Thanks for your help!

[2022-10-16 20:57] #5790 closed

[2022-10-16 20:59] whummer commented on #6125
Hi @aslotte , quick follow-up. Closing this issue as resolved - please do let us know if the problem persists.. Thanks for your help!

[2022-10-16 20:59] #6125 closed

[2022-10-16 22:06] fabio-blanco commented on #5895
Yes I can.

Yes I did. In fact that's the reason I've came to read this issue. Because I was facing some related error messages by using this tool.

If you're trying to test some real (production) Terraform scripts for building AWS infrastructure, then you **must** in fact have an AWS provider section in your production scripts. And that's the opposite of what you've told to Andre Silva in a previ

[2022-10-17 07:58] steffyP commented on #6970
Hi @philipholtseeland,

thanks for reporting. We will look into it and get back to you if we need additional information.

[2022-10-17 09:42] taras-kobernyk-localstack commented on #6815
Hi Denis,

Apologies for the delay. The change is finally there. If you update your docker image for LocalStack, you should have it.

Let me know if it works for your setup. If it doesn't - which is quite a possibility, as I can't understand why it wasn't working with our old setup - could you please provide me with some simple code that uses these APIs, so I could run the code on my side and debu

[2022-10-17 16:22] jrauen commented on #6984
I'm still experiencing the issue with image `sha256:ab19bad77d7eecf2da1440cc370351e54638cd04b8d02ca1114527a0247ea5d1`.

logs for `/{prefix}/` which should default to the `$default` route:
[code]
logs for `/{prefix}/openapi.yaml` which should execute a different lambda, but instead invokes the `$default` route again:
[code]

[2022-10-17 18:43] buddhics commented on #7005
HI @thrau ,

I would happily like to contribute to developing this feature 👍

[2022-10-17 19:35] barryoneill commented on #6797
Thank you so much @pmcgaley - I just got caught out by this, lost the last hour before I saw the rate limit messages inside the CI container, and then your message.

[2022-10-17 20:32] jrauen opened #7035 "feature request: cli login using API key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Allow a user to login to the CLI `localstack login` using the API key, including from the environment variable `LOCALSTACK_API_KEY`.

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-10-17 21:51] whummer commented on #5985
Hi @soma2000-lang , 👋  thanks for expressing your interest to contribute to this issue!

Not sure if this would be in the scope of a Hacktoberfest contribution @HarshCasper , as this will require some pretty fundamental design decisions in LocalStack. We are currently in the process of revamping our Lambda provider, which also involves significant changes to the event source mappings logic (e.g.,

[2022-10-17 21:58] dominikschubert opened #7036 "bug: Lambda should correctly process FIFO queue event sources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Multiple lambda environments are spawned in parallel

### Expected Behavior

A single lambda environment should handle the messages sequentially.

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

Scenario:

1. Create a lambda with a set timeout (e.

[2022-10-18 02:28] Fatezhang commented on #6797
Get same error when start localstack in the `docker-compose.yml`:

[code]

[code]
but it works yesterday 🥲

[2022-10-18 14:54] thrau commented on #7005
Hi @buddhics, thanks for your interest! Athena is currently not part of our open source version, so unfortunately not something where we can accept contributions at the moment.

[2022-10-18 15:00] buddhics commented on #7005
Hi @thrau ,

Thanks for letting me know.

[2022-10-18 16:11] Ian-Yy commented on #6280
Hi, can I have a try on this issue?

[2022-10-18 16:39] buddhics commented on #6615
Hi @whummer and @kingster307 ,
I would like to work on this.

[2022-10-18 17:50] dominikschubert opened #7041 "Multi-Account only working in a limited capacity"
When using the new [multi-account feature](https://docs.localstack.cloud/tools/multi-account-setups/) you might experience issues when a LocalStack service performs internal calls to another service.

This affects all scenarios where multiple resources are linked together such as Lambda Event Source Mappings or Destinations, SNS notifications, EventBridge rules/targets, CloudFormation deployments

[2022-10-18 18:13] ckatsaras-godaddy commented on #6766
@thrau @HarshCasper @tomazfernandes @baermat  any update on this issue? I just ran into this today as well and it seems like a very important piece of functionality. Without it, it makes using FIFO queues very difficult.
Any help is really appreciated 😄

[2022-10-18 21:11] whummer commented on #7002
Hi again, quick update - we have now pushed a couple of enhancements for QLDB that should (hopefully) get this issue resolved. Can you please pull the `latest` Docker image and give it another try? Thanks!

[2022-10-19 12:06] mohamedbanhawi commented on #6797
Getting same error as op.
Issue started today.

`localstack`  logs
[code]

`Docker-Compose` File
Fixed by pinning `image: localstack/localstack:latest` to `1.1.0`
[code]

[2022-10-19 14:21] gh-log opened #7046 "bug: Error: error reading EC2 VPC (vpc-XXXXX) Attribute (enableNetworkAddressUsageMetrics): InvalidParameterValue: Value enable_network_address_usage_metrics is invalid for parameter."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

with AWS provider 4.35 it doesnt work. 4.34 works.

using AWS (not LS) works with AWS provider 4.35.

LocalStack 1.2.0

### Expected Behavior

no error message.

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

#### How are you starting local

[2022-10-19 22:06] gavinvangent opened #7048 "bug: Cloudformation doesn't create s3 bucket"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I was happily building and deploying a serverless app to localstack running in docker, went away for a couple hours, came back and tried to deploy it again without making changes, and it failed, repeatedly ... Long story short, when i start the localstack container, i start it with `:latest`.

[2022-10-20 05:27] matdodgson commented on #7048
I have exactly the same issue but with DynamoDB. I was also using localstack:latest but have now switched to localstack:1.2.0 and the problem is fixed. With latest, I use the dynamo cli to create a table and get the right response from localstack. When I try to use the table from my code I get the error "Unknown table: redacted not found in dict_keys([])" from localstack.

[2022-10-20 08:07] gavinvangent commented on #7048
I looked through the github issues again now that I've got a better understanding of this issue. It appears this is related to: https://github.com/localstack/localstack/issues/7041

[2022-10-20 08:33] dpretty opened #7050 "bug: CDK: cannot grant dynamodb access to a lambda function if the lambda function is defined before the dynamodb table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using `cdklocal deploy` on a CDK project which grants dynamodb access to a lambda function defined before the dynamodb table causes the deploy to fail.

Deploying the following stack:

[code]

results in localstack producing the following error, causing the deploy to fail:

[code]

### Expect

[2022-10-20 12:59] ezekiel25-17 commented on #2154
Having similar issue with the latest version. Rolled back to '1.2.0' to workaround

[2022-10-20 14:28] lukonjun opened #7054 "bug: Can't retrieve secrets ResourceNotFoundException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We run Localstack in Kubernetes (Helm Chart):

Trying to retrieve the secret from the application container:
[code]

When I run from the localstack container `kubectl exec -it` I can retrieve the secret
[code]

### Expected Behavior

Retrieve the secret from the application container without

[2022-10-20 14:40] dominikschubert commented on #7054
Most likely, yes. We extract the account ID now from your access key ID, so if you still have other access key ID set (e.g. your production AWS Account), it may not find the resource since it's indexing the resource by account id + region.

You can try to setting the environment variable for the aws command:  `export AWS_ACCESS_KEY_ID="000000000000"`. `000000000000` is the default account ID in th

[2022-10-20 18:24] whummer commented on #6984
Hi @jrauen , thanks for sharing the update. It seems we still had a small gap in our implementation, the issue you shared should now (hopefully) be fixed. When you get a chance, can you please pull the `latest` Docker image and try again? Thanks for your help!

[2022-10-20 18:46] jrauen commented on #6984
Worked like a charm. Thanks!

[2022-10-20 18:46] #6984 closed

[2022-10-20 19:01] dominikschubert commented on #7054
@lukonjun We've reverted the change that was causing this for now. If you update `latest` it should now work as it did previously :+1:

[2022-10-20 19:01] #7054 closed

[2022-10-20 19:04] dominikschubert commented on #7048
This behavior recently introduced in the `latest` image has now been reverted and `latest` should now work again as you've noted that it previously did (use the account id of `000000000000` even if you have set your AWS credentials).

[2022-10-20 19:04] #7048 closed

[2022-10-20 21:19] kralicky opened #7058 "bug: AllocateAddressRequest rejects empty value for optional `domain` parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When creating an EIP using the AllocateAddressRequest API, if the `domain` option is not set, the API will reject the request with the error message `InvalidParameterValue: Invalid value '' for domain` instead of defaulting to `vpc`.

### Expected Behavior

According to AWS docs [here](https:

[2022-10-20 21:29] kralicky opened #7059 "bug: Pulumi config in docs contains invalid key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The pulumi config file provided in the integration docs [here](https://docs.localstack.cloud/integrations/pulumi/) is invalid, due to the `mobileanalytics` endpoint no longer existing.

When running `pulumi up` with this config file, it gives the following error:
[code]

Removing `mobileanaly

[2022-10-20 23:26] salah-mueller opened #7060 "bug: ApiGateway Model schema stored in Wrong JSON format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

APiGateway Model that being created by CDK project stores the JSON schema with a single quotes instead of double quotes which leading to an error in parsing this json object.

you can refere to this article to see the steps

https://dev.to/dvddpl/reduce-lambda-invocations-and-code-boilerplate

[2022-10-21 06:35] lukonjun commented on #7054
Hey @dominikschubert thanks for fixing it so quickly! However I think we will stay on a pinned version for now, leaving it at latest was actually not intended. Thanks either way ✌️

[2022-10-21 09:09] sundarsan opened #7061 "Not able to run Step functions using localstack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

not able to execute lambda which is attached to step function

### Expected Behavior

should be able to execute lambda with the step functions

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack

[2022-10-21 11:12] proserve commented on #6588
I'm also facing the issue, any workaround until you release the fix?

[2022-10-21 12:36] KurtMar commented on #7014
You can try installing LocalStack's UI version, which is believe is more self-contained: https://localstack.cloud/products/cockpit/

[2022-10-21 12:49] jprema7 commented on #6706
Hi - can this be reopened?

I am getting an unauthorized response when trying to access: public.ecr.aws/localstack/localstack

[code]

[2022-10-21 15:11] snhardin opened #7064 "bug: Localstack Glue is missing support for MySQL JDBC driver"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When attempting to use the MySQL driver in a Python Glue job, the job fails because the JAR for the MySQL JDBC driver is missing from PySpark. The following stacktrace is produced for AWS Glue 2.0 jobs.

[code]

A similar stacktrace is produced for AWS Glue 3.0 jobs. 0.9 and 1.0 were not test

[2022-10-21 15:24] noatec commented on #7046
Just dropped provider to 4.25.0 and it worked ok. Trying 4.34.0 now.

[2022-10-21 15:24] noatec commented on #7046
4.34.0 is working.

[2022-10-21 19:11] devpaulosouza opened #7068 "bug: Setting TEST_AWS_ACCOUNT_ID does not change the account ID in ARNs on Ubuntu 22.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`TEST_AWS_ACCOUNT_ID` environment variable is not changing ARN ids in Ubuntu 22.04.

I used the same docker-compose.yml on others OS (Linux Mint 20 and Windows 10), but when running on Ubuntu 22.04 the ARN is set to 000000000000, ignoring the environment variable `TEST_AWS_ACCOUNT_ID` in dock

[2022-10-21 19:12] dir opened #7069 "bug: Liveness and readiness probe failed, even with huge initialDelay"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hey guys, I am trying to set up localstack on my local minikube cluster. The steps I am taking are as follows:

When I go to describe the pod, I am getting this:

[code]

Anyone have any ideas? Thank you!

### Expected Behavior

_No response_

### How are you starting LocalStack?

Custom (ple

[2022-10-21 19:38] dir commented on #7069
After doing some more digging in the kubectl logs, this is what I'm seeing...

[code]

[2022-10-21 20:57] snhardin opened #7072 "bug: currentTimeMillis() is missing from GlueContext"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`currentTimeMillis()` is a method that is available on the `GlueContext` class. Instances of this class should be able to call this method to get a consistent timestamp of the current time (please see the [aws-glue-libs source branch for Glue 2.0](https://github.com/awslabs/aws-glue-libs/blob

[2022-10-21 21:38] ironman-255 opened #7073 "[ApiGateway] Implement ARNs for ApiKeys and make it possible to change ApiKey tags with TagResource by such ARNs."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Hi, I am not sure how to well describe which feature exactly need to be implemented here. But below, in the Anything else section you have an example of what I am trying to achieve.

My ultimate goal is to use the CLI command tag-resources (later on NodeJS) to update the value of a tag for

[2022-10-22 07:20] proserve commented on #6588
Thanks, @henriacle downgrading works for me multipart upload with the presigned URL is working, but SQS messages configured with the bucket are not triggered.

[2022-10-22 09:41] TheDumbfounds opened #7074 "feature request: allow the customization of the max lambda zip upload size"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Feature description

Despite the fact that the AWS Lambda official docs say that the limit is 50MB, I'm deploying a larger function in production and it's working fine.

However, Localstack gives me an error when I try to create a lambda using the zip package I deployed to AWS, saying that the max limit was ex

[2022-10-22 13:05] whummer commented on #7061
Hi @sundarsan , thanks for reporting. The StepFunctions service - like all other services in LocalStack - is accessible via the central gateway port `4566`. Please use `awslocal` directly (which connects to port `4566`), instead of connecting to port `8083`.

Can you try changing this command:
[code]

... to this:
[code]

Hope that helps - please keep us posted on how it goes.. Thanks!

[2022-10-22 13:09] whummer commented on #7059
Thanks for reporting @kralicky - our docs are open source, would you mind creating a small pull request against this repo? https://github.com/localstack/docs Thanks for your help! 🙌

[2022-10-22 13:45] tamassengel opened #7075 "bug: Localstack Docker outputting text about Python and Linux"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

I tried to run the latest Localstack Docker using the following docker-compose.yml file, taken from [the official documentation][1]:

[code]

What I'm getting is the following output:

    Python 3.9.15 (main, Oct 13 2022, 23:42:12)
    [GCC 10.2.1 20210110] on linux
    Type "help", "copyrig

[2022-10-22 13:51] guoyunhe commented on #6799
I have a trail API key. However, the s3 data is not persist:

[code]

[2022-10-22 14:24] guoyunhe opened #7076 "bug: latest Docker image doesn't support PERSISTENCE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

PERSISTENCE=1 doesn't make S3 data persist.

### Expected Behavior

PERSISTENCE=1 should make S3 data persist.

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack` command, arguments, or `docker

[2022-10-22 15:02] #5481 closed

[2022-10-22 21:40] TheGeekPharaoh opened #7077 "bug: DynamoDB Stream Lambdas stop launching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've created a DynamoDB table with streams support and a corresponding Lambda to index the data in Elasticsearch.  Upon creation of the lambda and setting up the event source, everything works fine.  However, periodically the lambda will stop  being called, even though no changes have been ma

[2022-10-23 18:56] #7069 closed

[2022-10-23 20:32] bblommers commented on #7046
FYI: This was added to Moto in https://github.com/spulec/moto/pull/5590, so the moment LS pulls in moto >= 4.0.9.dev6 this should be resolved.

[2022-10-24 03:04] liudonghua123 opened #7078 "feature request: update the requests dependence"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Please update the requests dependence to support the latest 2.x version. Or I will get the following warning or errors.

[code]

### 🧑‍💻 Implementation

update the requests dependence to something like `requests<3.0,>=2.20.0`

### Anything else?

_No response_

[2022-10-24 05:33] mojtabaPourmirzaei commented on #3046
hi.
use **localstack/localstack-full:0.11.6** image instead

[2022-10-24 09:17] HarshCasper opened #7080 "feature request: Support Provisioned Concurrency Config in Lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

From [Discussion Pages thread](https://discuss.localstack.cloud/t/is-provisioned-concurrency-config-lambda-feature-supported-by-localstack/117):

[code]

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-10-24 16:27] mviamari opened #7083 "feature request: Add Support for DescribeScalingActivities"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

The Following API endpoint is not yet supported: DescribeScalingActivities

[code]

### 🧑‍💻 Implementation

_No response_

### Anything else?

[code]

[2022-10-24 17:10] mrocke-moxe opened #7084 "bug: S3 requests 404 after v1.2, X-Amz-Security-Token now matters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

S3 requests that include the header `X-Amz-Security-Token` now return a 404 with LocalStack v1.2 where in v1.1 this header seems to have been ignored.

This may apply to other services beyond S3--I only was able to test S3 given my use case.

### Expected Behavior

When a request is made that

[2022-10-25 13:07] taras-kobernyk-localstack commented on #7073
Could you please check again if this command really works for you?
[code]
This service doesn't seem to be implemented in LocalStack, you are supposed to get an error. If you drop the `--endpoint-url` parameter, the call goes to AWS instead, which would return you an empty list, as the previous
[code]
was executed against LocalStack.

As for the `tag-resources` call to ApiGateway, I think it is sup

[2022-10-25 14:26] diogo-pinho-cko opened #7089 "bug: lambda_destination for EventBridge does not use correct payload."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently on localstack the integration with `lambda_destination` for EventBridge is broken.

The method `_lambda_result_to_destination` defines a `payload` object which is in turn passed as a parameter to `send_event_to_target`  which in turn, when using the EventBridge integration, tries to

[2022-10-25 16:42] aadi58002 commented on #7059
I created a pull request for this issue in the docs repo `https://github.com/localstack/docs/pull/319`

[2022-10-25 16:45] kralicky commented on #7059
Sorry, wasn't able to get around to it. Thanks @aadi58002

[2022-10-25 16:52] aadi58002 opened #7090 "bug: Pulumi Error while try to use s3 bucket localstack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to create a S3 bucket with pulumi i get the error
[code]

### Expected Behavior

To be able to create s3 buckets with pulumi

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

#### How are you starting localstack (e.g., `bin/localstack`

[2022-10-25 17:19] aadi58002 commented on #7059
You might want to close the issue as well

[2022-10-25 21:04] ayushpaharia commented on #6643
Hey @HarshCasper need some help getting this setup correctly.
Can you point me to some places to get this setup on ubuntu 20.04. Having issues with the config

[2022-10-25 23:13] ironman-255 commented on #7073
**Could you please check again if this command really works for you?**

[code]
Yes, It really works!!
Stopping the container running LocalStack will sure give me the error "Could not connect to the endpoint URL"
This let me to believe that command is really ran against LocalStack.

More Over, I tested it out in a brand you environment (windows), I installed docker and downloaded LocalStack image.

[2022-10-26 00:24] taras-kobernyk-localstack opened #7092 "feature request: Implement ResourceGroupsTaggingApi AWS service."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

LocalStack is currently missing [ResourceGroupsTaggingApi service](https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/overview.html). Might be useful to implement it at some point.

Why might we need it? [This ticket](https://github.com/localstack/localstack/issues/7073)

[2022-10-26 00:29] taras-kobernyk-localstack commented on #7073
If the `resourcegroupstaggingapi get-resources` call goes to LocalStack, it is supposed to be in LocalStack logs. Could you check them?

Alternatively, if you could install our wrapper for the AWS CLI with `pip install awscli-local` and then run `awslocal resourcegroupstaggingapi get-resources`, that might tell us something. `awslocal` is basically a substitute for `aws --endpoint-url http://local

[2022-10-26 00:32] taras-kobernyk-localstack commented on #7073
The new scope:
1. Implement ARNs for ApiKey objects. Such ARNs are supposed to looks like `arn:aws:apigateway:<REGION>::/apikeys/<API KEY ID>`.
2. Make it possible to use [TagResource](https://docs.aws.amazon.com/apigateway/latest/api/API_TagResource.html) to change tags for ApiKeys. `TagResource` requires an ARN of a resource to tag, so we need those ARNs for ApiKeys implemented first.

[2022-10-26 08:15] calvernaz commented on #7073
Hi all, this is not an API Gateway issue per se. The service is not implemented in Localstack in his totally, so resources tagged using the ResourcegroupsTaggingApi are not working.

Given that we have an [issue open ](https://github.com/localstack/localstack/issues/7092)to tackle this services, the not optimal solution is to run the command to get all api-keys in the account.

[code]

That will c

[2022-10-26 08:15] #7073 closed

[2022-10-26 08:35] calvernaz commented on #6747
Hi @coreypobrien, this was fixed while ago, but it must have fallen into the cracks. Could you try with the latest image, thanks 👍

[2022-10-26 08:35] #6747 closed

[2022-10-26 08:35] #6705 closed

[2022-10-26 12:54] taras-kobernyk-localstack opened #7094 "[ApiGateway] Introduce ARNs for ApiKey objects and make tagging work for Api Keys and their ARNs as in AWS."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

There are two intertwined issues here that have to be solved at the same time:
1. AWS has ARNs for ApiKey objects in ApiGateway:
[code]
These ARNs have format `arn:aws:apigateway:<REGION>::/apikeys/<API KEY ID>`.
The ARNs are weird. So far, the only way they are visible (that I am aware of

[2022-10-26 13:01] taras-kobernyk-localstack commented on #7073
@ironman-255 Sorry for the confusion. We wanted to have a separate ticket for the ApiGateway behaviour, but didn't communicate it well.

The new ticket is https://github.com/localstack/localstack/issues/7094

The current ticket is closed just for bookkeeping reasons. You can subscribe to both https://github.com/localstack/localstack/issues/7094 and https://github.com/localstack/localstack/issues/7

[2022-10-26 13:34] cmoralesmx opened #7095 "feature request: [SecretsManager] support creating secrets for regions other than the current or default region"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In my testing for #6221 I need to create secrets in two or three regions distinct from the current region. In AWS I do this by specifying `--region` to my requests. Thus, I can create secrets for regions B and C while my default region is A.
This, however, is not possible in `LocalStack`

[2022-10-26 15:33] ricoli commented on #4825
I also have a Fritz Box router with DNS Rebind Protection and it seems that adding `localhost.localstack.cloud` as an exception to this protection is enough to make subdomains of it work (under Home Network -> Network -> Network Settings tab -> Additional settings link).

[2022-10-26 16:15] TheGeekPharaoh commented on #7077
More info...

Upon trying multiple times to get the lambda to fire, I see something like this in the logs...

` Error executing Lambda function arn:aws:lambda:us-east-1:000000000000:function:MyLambdaFunction: Could not connect to the endpoint URL: "http://172.18.0.6:9001/2015-03-31/functions/MyLambdaFunction/invocations
`

Not sure if that is relevant or not, but figured I'd add it.  The 172.18.0.

[2022-10-26 16:27] HarshCasper commented on #7075
Hi — It has been solved over here: https://stackoverflow.com/a/74163199/10527823

I hope that helps! Please feel free to create a new issue in case you encounter a new error.

[2022-10-26 16:27] #7075 closed

[2022-10-26 19:24] bergiehome opened #7096 "Localstack support for FSx"
We have a testing need where we deploy FSx (Lustre, Windows, Ontap - in order of need). I didn't see another request for this feature, and was wondering if there was any development started towards support in localstack?

[2022-10-26 22:10] ironman-255 commented on #7073
@taras-kobernyk-localstack  No worries, I will proceed with recommendations, look at the LocalStack logs, use awslocal.

@calvernaz  Thank you, I know well the get-api-keys command. I am working on a proof of concept of api-key rotation and in the process I would like to change the value of the "status" tag.

I think that the **apigateway** get-tags, tag-resource and
**resourcegroupstaggingapi** g

[2022-10-27 00:14] taras-kobernyk-localstack opened #7098 "[ApiGateway] Introduce ARNs for Usage Plans objects and make tagging work for Usage Plans and their ARNs as in AWS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

This is the same issue as https://github.com/localstack/localstack/issues/7094, but for Usage Plans instead of Api Keys.

If a Usage Plan is created in AWS with
[code]
then the Usage Plan can be listed with
[code]
in order to see the Usage Plan's ARN. The format of the ARNs is
[code]
e.g.

[2022-10-27 00:28] taras-kobernyk-localstack commented on #7073
Created https://github.com/localstack/localstack/issues/7098 for Usage Plans.

I do not see how the Pro version would help here. Both Api Keys and Usage Plans are in ApiGateway service. And ApiGateway is available in the community version. Also ResourceGroupsTaggingApi is not implemented at all, so switching to Pro doesn't matter there either.

I think the issue here is that ApiGateway might be a

[2022-10-27 00:46] gavinvangent commented on #6804
Hi All,

I've just hit this issue too ... Is there anything we can do to resolve this? Is there possibly somewhere we can log an issue or support ticket so that we can track updates to this?

[2022-10-27 01:01] gavinvangent commented on #6804
K, I might have been too impulsive... I saw this warning in the deploy step:

[code]

Decided to see what localstack would do if I try invoke the function:

[code]

It failed to run the code, but that appears to be a result of something having changed after upgrading to nodejs16. I have an error output from the lambda container that localstack created, which tells me everything localstack/lambda i

[2022-10-27 01:50] ironman-255 commented on #7073
Thank you for the clarification.

Yes, we will follow your advice, wait for the tickets to get resolved, presently we have the "status" of the api-key in its name, having it in the tag was an alternative we wanted to try, I still think it would be a nice feature.

Thanks again.

[2022-10-27 05:03] simonyuen1999 commented on #6974
I have exactly the same error, using 'samlocal init' to create a Python 'Hello World Lambda', 'build', and 'deploy --guided' to localstack.  It only worked in the first deployment.   After I changed the string in Lambda function, rebuild, and 'samlocal deploy' with or without '--guided' to localstack, samlocal report the following error:

File "/Users/UID/aws/sam_env/lib/python3.9/site-packages/sa

[2022-10-27 11:52] z9fr commented on #833
any updates ?

[2022-10-27 12:35] davy-oo opened #7101 "Performance: [SQS] Sending an SQS message while broadcasting SNS messages can be very slow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The attached test case  [TestSQS-LoadImpactOnSendMessage.zip](https://github.com/localstack/localstack/files/9878986/TestSQS-LoadImpactOnSendMessage.zip) uses 3 services defined in a docker-compose.yml:
- `broadcastPublisher` service which is responsible for publishing messages to SNS topic.

[2022-10-27 15:20] mgrundie-r7 commented on #6797
Also seeing this issue on 1.2.0, launching with testcontainers

[2022-10-27 16:09] pmcgaley opened #7103 "bug: kinesis-mock missing from docker image 1.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

kinesis-mock appears to be missing from the 1.2 docker image, resulting in CI build failures due to github limits as kinesis-mock is downloaded from github.

More info, resulting error etc. in this issue, but I suspect it's not getting attention because it was closed (and in fairness, the roo

[2022-10-27 19:16] epabst commented on #6811
I'm running into the same issue.  I'm using testcontainers with localstack 1.2.0 on macOS Monterey with DockerDesktop 4.6.1.
I'm trying to use the intrinsic function States.Base64Encode and am getting:
com.amazonaws.services.stepfunctions.model.InvalidDefinitionException: Invalid State Machine Definition: ''SCHEMA_VALIDATION_FAILED: The value for the field 'ackToken.$' must be a valid JSONPath or

[2022-10-27 20:09] taras-kobernyk-localstack commented on #7073
Yeah, I imagine.

Well, at least I am glad to hear that you have an even better workaround than I thought of. Even if it is not a workaround per se, but your normal setup. :-)

[2022-10-27 21:21] leonardosul opened #7104 "bug: S3 Multipart Upload 500"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using [AWS Data Wrangler](https://github.com/aws/aws-sdk-pandas) and the [awswrangler.s3.to_parquet](https://aws-sdk-pandas.readthedocs.io/en/2.17.0/stubs/awswrangler.s3.to_parquet.html#awswrangler.s3.to_parquet) method I get 500 errors from Localstack:

`KeyError: 'nzSOyWi9bGaavSXqEpB6T

[2022-10-27 21:26] epabst opened #7105 "bug: Localstack stepfunctions Parallel State returns output in incorrect order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I use a Parallel State in step functions and set the ResultPath to something, it puts an array into the ResultPath location but the items in the array don't match the order of the states within the Parallel State.  I only had 2 states and they were pretty consistently in the opposite ord

[2022-10-27 22:58] leonardosul commented on #7104
Looks to be related to this: https://github.com/spulec/moto/pull/5589 which has been patched in upstream moto

[2022-10-27 23:38] wilkenm opened #7106 "bug: sqs sendMessageBatch should mimic AWS batch size limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using the SQS sendMessageBatch command allows batches of more than 10 messages to be sent.  This does not match the behavior in AWS, where a batch of more than 10 records is rejected.

[AWS docs](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessageBatch.html)

[2022-10-28 03:27] dakotajd opened #7108 "bug: AppConfig GetConfiguration - Cannot specify configuration profile name in request - only configuration profile id works"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When calling the GetConfiguration API via CLI or an SDK, AWS expects that the following be provided in the request:
- application name or id
- environment name or id
- configuration profile name or id
- client id
- etc

Source: https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/API

[2022-10-28 07:50] bergac opened #7109 "bug: InvalidParameterException when sending to SNS topic since version 1.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using localstack in my current build. Except since version 1.2 I get the following exception (Java 17 & Spring Boot 2.7.1):

[code]

When using localstack 1.1 (and earlier versions) and leaving everything else the same I don't get the exception.
The message header 'timestamp' is set by Sp

[2022-10-28 08:05] BeyondEvil commented on #2072
For anyone reading this, I couldn't get a response from `8080`, I could however get one from `4566`, eg `http://localhost:4566/health`

[2022-10-28 13:28] pinzon commented on #7050
The solution to this issue has been merged. Make sure to download the latest image of LocalStack.

[2022-10-28 13:28] #7050 closed

[2022-10-28 14:45] bentsku commented on #7109
Hi @bergac and thanks for your report! Can you confirm that your code is working against AWS? Or does AWS returns the same error as LocalStack? We did change the validation of SNS message attributes for 1.2 to follow AWS more precisely. We might have been a bit too zealous, so if you could test it, that would be great! Thanks a lot.

[2022-10-28 16:24] bergac commented on #7109
Thanks for you reply @bentsku ! Still in the testing (locally) phase... Will let you know as soon as I got it deployed on AWS :)

[2022-10-31 14:21] gsx95 opened #7113 "bug: cli ignores some configuration options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using the localstack cli to start localstack in docker.

I'm now trying to setup SMTP with the configuration options [mentioned here](https://docs.localstack.cloud/localstack/configuration/#emails), but it always says "SMTP settings not configured". Then I tried some other configuration,

[2022-10-31 14:51] leszko opened #7114 "bug: No 'accept-ranges' header for mp4 files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For MP4 files, there is no `accept-ranges` header in the HTTP response.

[code]

### Expected Behavior

Video files should return the `accept-ranges` header.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

1. Start localstack with docker
2. Upload a

[2022-10-31 16:13] taras-kobernyk-localstack commented on #7083
@mviamari Hi Michael. Could you please let us know if you want to see read data about scaling events, or if you just want the call to return something so your setup, that uses the call, wouldn't fail?

Asking because we currently do not seem to have the actual autoscaling events in LocalStack. So in order to provide you with some actual data we would first have to implement that infrastructure. Mi

[2022-11-01 02:00] c1moore commented on #7046
I'm also running into this problem.  Using Pulumi instead of TF directly.  When is this expected to go out?  I just tried repulling the localstack image and it's still breaking.

[2022-11-01 11:13] ciaranmcnulty opened #7115 "feature request: Readonly filesystem on Lambda"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I just had a dev/prod mismatch due my lambda containers being launched with a writeable filesystem.

In the real AWS environment, lambdas can only write to /tmp. It would be good to replicate this in localstack.

In my case I'm using an image for the lambda, but it would make sense across

[2022-11-02 12:13] qw-miroslav-marinov commented on #7109
We've experienced the same issue, but I would like to add one more detail that we've figured out: throughout our organisation the problem is observed only on M1(ARM64) Macs - the developers using Intel based Macs do not have issues.

Other system details:
- localstack version: 1.2.0
- Spring Boot Version: 2.6.10
- io.awspring.cloud:spring-cloud-starter-aws: 2.4.2
- Java 11

[2022-11-02 12:56] wonderslug commented on #6480
+1

[2022-11-02 12:59] wonderslug commented on #6459
+1

[2022-11-02 13:10] wonderslug commented on #6459
Howdy @thrau I'm a little confused by this, does ENFORCE_IAM=1 in localstack pro allow for IAM AWS SigV4 authentication for Opensearch as described in the linked page above?

[2022-11-02 13:36] yasstec opened #7117 "feature request: Support JDK 17 for Lambda's runtime execution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Currently I'm using localstack to test my AWS Lambda function , but there is no support for JAVA 17, Even the last release localstack 1.2 only handles runtime for Java 8 and Java 11.

Is there any help to run Jdk17 function code ?

A related localstack error when trying to run java17 lambd

[2022-11-02 17:33] edanisko commented on #6187
same issue in 1.2.0

[2022-11-02 21:04] juansvasquez opened #7118 "bug: enabling persistence causes ResourceNotFoundException when calling BatchWriteItem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When S3 persistence is enabled, calling the batch_writer() dynamoDB function returns a ResourceNotFoundException
(the test script provided below returns the following):

[code]

### Expected Behavior

No errors on calling the batch_writer() function, as experienced currently when persistence

[2022-11-02 21:43] mviamari commented on #7083
Hi @taras-kobernyk-localstack,

This is API is used by terraform during apply when verifying that an ASG is deployed. It appears to be checking on the status of the ASG waiting for the ASG to have its capacity requirements satisfied. I'm not sure if pretending to have the data will work or not.

[code]

[2022-11-02 23:39] taras-kobernyk-localstack commented on #7083
Thank you for the clarification, @mviamari. That was helpful.

May I ask you for yet another thing? Would you be able to provide me some minimal terraform config, which results in this error?

As far as I see, Autoscaling has `DescribeAutoScalingGroups`, which is supposed to show a result of `CreateAutoScalingGroup`. So not sure why Terraform calls `DescribeScalingActivities`. I am not familiar wi

[2022-11-03 10:58] steffyP commented on #6970
## Documentation of initial triaging and testing against AWS ##

Running the sample against AWS results in:

<details>
    <summary> aws rds describe-db-clusters </summary>

[code]

</details>
<details>
    <summary> aws rds describe-db-instances </summary>

[code]

</details>
<details>
<summary>Relevant part from the CDK template</summary>

[code]

</details>

LocalStack behaves differently, as t

[2022-11-03 11:09] bergac commented on #7109
I've an intel based Mac (2,2 GHz Quad-Core Intel Core i7) and also got the issue.

[2022-11-03 11:41] moscoso-guillermo opened #7119 "bug: DynamoDB stores are not populated when localstack is restarted in persistent mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

DynamoDB stores are not populated after restarting the docker container.
This is the exact same issue explained in #6842 which is marked as resolved in the latest image at the time by @whummer.

### Expected Behavior

After restarting the docker container it should be possible to write to the

[2022-11-03 12:27] viren-nadkarni commented on #7119
Possibly related to #7118

[2022-11-03 12:29] arvenil commented on #7002
In the meantime my trial key expired :) I just gave it second chance and it works! Thanks for the fixes!

[2022-11-03 12:29] #7002 closed

[2022-11-03 13:11] viren-nadkarni commented on #7118
Hi @juansvasquez

Persistence is a Pro feature. Could you please try setting the environment variable `LOCALSTACK_API_KEY=<your Pro key>` and let us know if the issue persists?

[2022-11-03 13:13] viren-nadkarni commented on #7119
Hi @moscoso-guillermo

Do note that persistence is a Pro feature and the environment variable `LOCALSTACK_API_KEY` must be set to your Pro key.

Would you mind sharing the Docker Compose file to help us debug this?

[2022-11-03 14:07] moscoso-guillermo commented on #7119
Hi @viren-nadkarni

Indeed I have performed the test again with the trial API key the error is gone.

This did not occur in the original ticket #6482 where both Pro and free versions were affected.

So I am not sure whether this ticket still makes sense for you.

 but here is my docker compose file just in case:

[code]

[2022-11-03 14:13] viren-nadkarni commented on #7119
Thanks, glad this worked for you :+1:

Closing as fixed.

[2022-11-03 14:13] #7119 closed

[2022-11-03 14:15] jloup opened #7120 "bug: QLDB: cannot unmarshal to ion.Timestamp field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I decode a ion.Timestamp field, I got an error. Same code runs fine on QLDB.

### Expected Behavior

This code :
[code]

should output :
outMap: map[created_at:2022-11-03T13:59:44Z]
out: {CreatedAt:2022-11-03T13:59:44Z}

got:
outMap: map[created_at:2022-11-03 14:00:51+00:00]
unmarshal er

[2022-11-03 14:59] steffyP commented on #7114
Hi @leszko,

thanks for reporting! We are currently working to improve s3 and will keep you updated.

[2022-11-03 16:09] steffyP commented on #7084
Thank you for creating the issue @mrocke-moxe!

I suspect this is related to issue #6869 (which was closed by the reporter because the workaround was acceptable).

[2022-11-03 16:58] bamajap commented on #4965
@dominikschubert
This is still happening with aws-sam-cli-local v1.55.0.

I ran into this same problem, so I tried it with the small example files provided above and it's the same exact behavior as if no changes were made.  Please advise.

[2022-11-03 18:21] sazzadabdulhasib opened #7122 "cdklocal deployment fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

cdklocal deploy --context env=dev

✨  Synthesis time: 5.11s

RusStack: building assets...

[0%] start: Building 8a3ff7ff2fe4306354f64f6df3190e346845b27b7769f829cfd63375b22588c9:current_account-current_region
[0%] start: Building 8008ab1c17af8ecd8fc53056e00657560c1a9f152948aef259e79b63eee8fd05

[2022-11-03 19:45] juansvasquez commented on #7118
Hello @viren-nadkarni
This behavior is not consistent if persistence were to be the issue. I don't think persistence not working is the issue here

[2022-11-03 22:52] MJDeligan commented on #7122
We are likely facing the same problem. On 3 separate machines we've tried deploying the sample app (generated by cdklocal init sample-app) in multiple languages on different versions of aws-cdk-lib, aws-cdk and aws-cdk-local and with multiple ways of starting localstack.

It seems to fail for us as soon as an sqs-subscription is added to a topic.

We've tried:

- **aws-cdk versions**:
    - 2.46.0

[2022-11-04 02:20] s50600822 commented on #3560
Pretty sure
[code]
is not a thing per doc: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-secrets-manager/classes/getsecretvaluecommand.html

try to change it to:
[code]

seems to work just fine:
[code]
this gets the secret just fine:
<img width="1492" alt="Screen Shot 2022-11-04 at 1 18 25 pm" src="https://user-images.githubusercontent.com/5586453/199870991-53350241-9ec1-42

[2022-11-04 06:37] lee-butn opened #7124 "bug: HTTP API gateway failed to call Stepfunction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Could not call Step Function by HTTP API Gateway integration , keep getting stateMachineArn missing error.

### Expected Behavior

Execute state machine in given input

### How are you starting LocalStack?

With a docker-compose file

### Steps To Reproduce

1. Created HTTP API with StepFunct

[2022-11-04 08:52] lee-butn opened #7125 "bug: Step Function not saving after docker restart #6486"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Same as original issues

Here is my docker-compose.yaml:

version: '2.1'

services:
  localstack:
    image: "localstack/localstack:latest"
    ports:
      - "4510-4571:4510-4571"
    environment:
      - LS_LOG=debug
      - LOCALSTACK_API_KEY=*******
      - DEFAULT_REGION=ap-southeast-2

[2022-11-04 11:13] steffyP commented on #7122
Hi @sazzadabdulhasib and @MJDeligan ,

thanks for reporting. We are able to reproduce this issue with the sample-app.

Adding the logs here:
<details>
<summary>cdklocal deploy --verbose</summary>

## cdklocal output
[code]

## LocalStack logs
[code]

</details>

<details>
<summary>cdklocal destroy --verbose (hangs, needs to be stopped then)</summary>

## LocalStack log loops with:
[code]
</details

[2022-11-04 11:25] viren-nadkarni opened #7126 "bug: DynamoDB not namespacing based on account ID and region"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

DynamoDB does not correctly namespace resources based on region and account ID.

For instance, using the same table name across accounts and regions throws an error.

### Expected Behavior

It must be possible to create resources with same name on different regions and/or different accounts.

[2022-11-04 12:27] steffyP commented on #7090
Hi @aadi58002,

unfortunately I wasn't able yet to reproduce your issue.
Do you also see this error, when you use the "quickstart" sample from pulumi, e.g. for `pulumi new aws-yaml` the default `Pulumi.yaml` will contain:
[code]

Is the example you tested, or do you have a different deployment configuration?
Could you also try pulling the `latest` image by running `docker pull localstack/localstac

[2022-11-04 12:33] nmofonseca opened #7127 "bug: InvalidAccessKeyId while using terragrunt with s3 as remote state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

This has been mentioned on another issue that however has been closed, actually doesn't have a solution

https://github.com/localstack/localstack/issues/2540

### Expected Behavior

To create Remote state bucket and DynamoDb table for lock state.

### How are you starting LocalStack?

[2022-11-04 15:39] MJDeligan commented on #7122
Hey @steffyP,

thanks for confirming.

While deploying doesn't error out after destroying the stack, it does not seem to correctly deploy the stack. `cdklocal deploy` does not detect any changes and therefore does not seem to deploy the queue and subscription.

With aws-local:

[code]
The topic seems to remain because it is not removed by `cdklocal destroy`.

[2022-11-04 16:07] steffyP commented on #7127
Hi @nmofonseca,

unfortunately, I am not familiar with terragrunt. I tried to run an example with the config you provided and get the same result.
However, I also do not see any request incoming to LocalStack. Could you please double-check if there might be an configuration error in the with the endpoints? 🙏

[2022-11-04 16:38] nmofonseca opened #7130 "bug: AWS RDS skip_final_snapshot doesn't have the same behaviour as AWS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using Terraform + Terragrunt and the terraform aws RDS module.

skip_final_snapshot=false

Applying the first time works fine the database get's created, if I destroy everything, apply everything again and destroy again it will fail because it will state that the final snapshot already e

[2022-11-04 17:25] gdsgj opened #7131 "bug: SQS message does not trigger CloudWatch alarm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I have a CloudWatch alarm for a message received in an SQS queue, it does not change state when I send a message in the queue

### Expected Behavior

The alarm state would change to be in alarm after I send a message in the queue

### How are you starting LocalStack?

With the `localstac

[2022-11-04 17:59] nmofonseca commented on #7127
I can't see any calls on localstack either, not really sure of what is happening on the background, but my expectation would be to be able  to use remote state with terragrunt since it's just a wrapper for terraform.

Can you explain a little bit more on what I should check in terms of endpoints?

[2022-11-04 18:24] sazzadabdulhasib commented on #7122
Sorry, I forgot to add  localstack logs
### LocalStack logs
` 2022-11-04T18:22:55.923  INFO --- [   asgi_gw_0] localstack.request.aws     : AWS sts.AssumeRole => 200
2022-11-04T18:22:56.882  INFO --- [   asgi_gw_0] localstack.utils.bootstrap : Execution of "_load_service_plugin" took 940.12ms
2022-11-04T18:22:56.883  INFO --- [   asgi_gw_0] localstack.utils.bootstrap : Execution of "require" took

[2022-11-04 20:56] bamajap commented on #4308
We're evaluating LocalStack and this is a blocker for us too and we can't use LocalStack until it can support nested objects/outputs correctly.

[2022-11-04 22:31] clementblaise opened #7132 "bug: Creating multiple EKS clusters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The current behavior only allows a single cluster to be deployed using the embedded k3d mechanism.

When a second cluster is deployed the docker daemon deletes the Pod because the binding for the proxy container is already being used by the first cluster.

Localstack Logs
[code]

Docker Logs

[2022-11-05 13:26] aadi58002 commented on #7090
I can confirm that the bug is still there i also configured the asked variables.
Also the aws binary is working as without issue to create a bucket
( One point of only issue in my setup which i can think can cause a issue is that i set a alias
alias aws="aws --endpoint-url=http://localhost:4566")
![Screenshot_20221105_185450](https://user-images.githubusercontent.com/96418027/200122170-e5120360-bd

[2022-11-05 13:56] cons0l3 opened #7133 "bug: "localstack start" results in KeyError "State""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After installing localstack in a fresh condaenv (versions see below), and trying to start it via `localstack start` it results in a KeyError for "State". During the start it seems localstack executes `docker ps --format '{{ json . }}'`. The resulting json does not contain the key "State".

[c

[2022-11-05 23:18] MJDeligan commented on #7122
For now we will be using an older version of aws-cdk (v2.44.0) as a temporary solution.

I tried older versions of aws-cdk and this happens starting from [v2.45.0](https://github.com/aws/aws-cdk/releases/tag/v2.45.0). v2.44.0 works without error.

Given that this error occured whenever we added an sqs-topic-subscription it might be related to the bug fix regarding sqs queue policies and sns subscr

[2022-11-06 10:30] IvanDanilau opened #7134 "Initialization hooks with .py script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I' 've launched following docker-compose.yaml
[code]

In localstack_setup I have next init.py script:

[code]
But during the lauch of container I've got following row

[code]
What I do wrong? Could you provide any sample of .py script in documentation? My script is executable with python init

[2022-11-06 10:36] anugrahsinghal commented on #6187
same issue in 1.2.1.dev

[2022-11-06 11:34] IvanDanilau commented on #7134
My investigation:
File https://github.com/localstack/localstack/blob/master/bin/docker-entrypoint.sh. rows 92-100

[code]
Seems files with py are ignoring. But your documentation says that I can use both: .py and .sh scripts. Could you please tackles this misunderstanding.

[2022-11-06 11:44] #7134 closed

[2022-11-06 13:37] IvanDanilau opened #7135 "Python init script failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My docker-compose:

[code]

I'm using .py script for initialization:

[code]

In docker console I've got next error:

`: name 'TOPICS' is not defined`

When I've changed script to the following:
[code]

I see next error:

`: name 'create_topic' is not defined`

Seems it's could works only as

[2022-11-06 13:44] IvanDanilau opened #7136 "Using additional files within init script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I have the following init script:

[code]
So I would like to have possibility add to the volume additional yaml file, not only .py or .sh. Or at least few py files, and store constants in one of them

### 🧑‍💻 Implementation

_No response_

### Anything else?

_No response_

[2022-11-06 16:09] calebmer commented on #5634
I’m trying to use localstack with [Bazel](https://bazel.build/) and can confirm the cycle is also an error for Bazel. Bazel (like nix) doesn’t support cycles between packages because it breaks incremental compilation.

[code]

I’m going to see if Bazel lets me write a patch to remove the circular dependency…

[2022-11-06 18:06] HarshCasper commented on #7133
Hi 👋

Can you please share how you have installed LocalStack? I see that you are using a Conda environment.

Have you also tried running LocalStack via Docker or Docker-Compose? Please follow our [documentation](https://docs.localstack.cloud/get-started/)

[2022-11-06 18:12] HarshCasper commented on #7132
Hi 👋

I unfortunately could not replicate the issue. Did you try running any further commands apart from the one mentioned on the `Client commands`, which can help me drill further?

P.S — Please use `SERVICES=sqs,s3,...` together with `EAGER_SERVICE_LOADING=1` while starting LocalStack.

[2022-11-06 19:48] cons0l3 commented on #7133
Hi,
even though I use a conda env, I have installed via `pip install localstack`. I am trying to start with `localstack start`. When starting via `docker run --rm -it -p 4566:4566 -p 4510-4559:4510-4559 localstack/localstack` The container starts flawlessly.

[code]

[code]
But, when I try to use `localstack status` or any `localstack logs` on the started localstack docker container, it throws the

[2022-11-06 20:10] cons0l3 commented on #7133
When running under "wsl" I have a docker-cli version 20.10.20. A `wsl> docker ps --format "{{ json . }}" | jq`  contains the "State" key. The docker-cli 19.03.12 seems to be incomaptibe. I will upgrade my windows "docker.exe". This requires a reboot LoL. I will come back with the results.

[2022-11-07 05:10] lee-butn commented on #7125
Any update on this ticket ? it blocking our development. Thanks

[2022-11-07 08:09] dazn-ritesh opened #7140 "bug: Creation of AWS SES using localstack"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

I was not able to create an AWS SES using localstack . I have been trying for days but was not able to figure the mistake. I get this error whenever I execute my tests - java.lang.IllegalStateException: Service to port mapping has not been determined yet.

### Expected Behavior
Should able to

[2022-11-07 09:10] comppaz opened #7141 "bug: RDS Data interface type mismatch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The current implementation of the RDS Data API for Postgres returns the following structure for the metadata of a column in its response set:

`"ColumnMetadata": {
   ...
   "nullable": true / false,
   ...
}`

This leads to an unmarshal error in the Go AWS SDK.

### Expected Behavior

It sho

[2022-11-07 10:29] arvenil commented on #7120
Confirming as I run into the same issue.

[2022-11-07 12:53] dazn-ritesh opened #7143 "bug: Getting service to port mapping has not been determined yet."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I'm trying to create LocalStack as a testcontainer in my springboot application. I am getting
[code]

Code for test container creation.
[code]

---------------------------------------------------------------------------------------------------

Code for AwsSes client creation:

    publi

[2022-11-07 15:01] gilmartinez commented on #7109
Hi guys, we also experienced the same Issue. Our organization uses:

* Localstack : 1.2.0
* Spring Boot version: 2.7.4
* io.awspring.cloud:spring-cloud-aws-messaging:2.4.2
* Java 17
* Mac M1 Pro

In the AWS environment, the code also works fine.

[2022-11-07 15:05] SanderHagen commented on #7083
I'm also running into this issue with Pulumi. I believe it's currently also running v4.34

[2022-11-07 19:33] bamajap opened #7144 "bug: s3 `Location` parameter for `samlocal package` followed by `samlocal deploy` isn't usable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Same issue as #4965 - that issue was closed, but the problem is still happening, so this is to re-open it.

### Expected Behavior

See #4965

### How are you starting LocalStack?

With the `localstack` script

### Steps To Reproduce

See #4965

### Environment

[code]

### Anything else?

_No

[2022-11-07 20:23] TheJefe commented on #732
For anyone else stumbling on this old thread, you can use docker-compose's healthchecks for this now

[code]

[2022-11-07 20:23] cons0l3 commented on #7133
I have managed to upgrade the docker-cli to version 20.10.20. I was fight some "choco" issues with properly uninstalling. Windows, LoL. The upgraded version of the client fixed it. Thanks for your support.

[2022-11-07 20:23] #7133 closed

[2022-11-07 20:50] clementblaise commented on #7132
Thank you for getting back @HarshCasper, I have not run other commands than the ones mentioned.

I tried again with `EAGER_SERVICE_LOADING=1` and got the same result.

I am wondering if this could be platform specific.

Also, I am curious did the command that spawned the clusters contained the localhost binding?

I saw the following on my side, both have `'8081:80@loadbalancer'`
[code]

[2022-11-08 09:57] viren-nadkarni commented on #7140
Hi @dazn-ritesh, could you please try the suggestion in https://github.com/localstack/localstack/issues/1970?

[2022-11-08 10:01] #7140 closed

[2022-11-08 15:00] SanderHagen opened #7145 "bug: Docker not available in Drone CI with Pulumi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm currently trying to implement Localstack into our Drone CI pipeline using Pulumi.
Locally I am able to do `pulumi up` to Localstack running locally.

In Drone, I am pulling the latest localstack/localstack image and running it as a service like this
[code]

However, when trying to deploy

[2022-11-08 15:54] brandonstubbs opened #7146 "bug: DynamoDB Streams update returns base64 encoded binary value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Updating a dynamodb item updates other binary fields in the stream into their base64 encoded form.

### Expected Behavior

Updating the dynamodb item should not affect other fields in the stream.

### How are you starting LocalStack?

With a `docker run` command

### Steps To Reproduce

####

[2022-11-08 21:11] sinecode opened #7147 "Message size limit should include message attributes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With AWS, you can't send messages where the total size of message body + message attributes are greater than 262,144 bytes.

Currently, you are taking into account the message body only.

[code]

### Expected Behavior

With AWS I obtain an error because the message attributes are taken into a

[2022-11-08 22:42] nefilim opened #7148 "bug: downloading content at runtime results in API rate limits being hit?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

Remote content should not be checked or downloaded at runtime

### How are you starting LocalStack?

Custom (please describe below)

### Steps To Reproduce

We are using testcontainers

### Environment

[code]

### Anything else?

_No response_

[2022-11-09 01:52] LuckySpb commented on #7148
I have similar issue, localstack doesn't start with on machine without internet connection, trying to call api.github.com

`requests.exceptions.ConnectionError: MyHTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/etspaceman/kinesis-mock/releases/tags/0.2.5 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f1dd934f280>: Failed

[2022-11-09 08:46] ptrhck commented on #7041
Just checking if I have understood this correctly: Is Something like [VPC Sharing](https://aws.amazon.com/blogs/networking-and-content-delivery/vpc-sharing-a-new-approach-to-multiple-accounts-and-vpc-management/) due to that issue not possible?

[2022-11-09 09:49] viren-nadkarni commented on #7145
Hi @SanderHagen , LocalStack needs access to the Docker socket for certain services.  For details, please take a look at our docs page [here](https://docs.localstack.cloud/ci/drone-ci/).

[2022-11-09 10:26] viren-nadkarni commented on #7118
Hi @juansvasquez , we have pushed a fix that should prevent this inconsistency. Could you please give the `latest` image a go?

[2022-11-09 10:45] guimilleo commented on #6974
I'm facing the same issue. Any resolution? The work around is annoying.

[2022-11-09 10:52] viren-nadkarni commented on #7041
@ptrhck VPC sharing is currently not implemented but this is unrelated to that.

[2022-11-09 11:56] MarcelStranak opened #7151 "feature request: Glue implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Adding the list of requests for a better access and easier communication.

1. Native ARM64 Support
2. No continuous cloud watch logging feature
3. Only a subset of Glue trigger features are available that are needed by DAVO
4. Same as above (wrt Glue Trigger) but for Glue Job runs. LS CLI

[2022-11-09 12:01] apenella commented on #7046
Just to let you know.

With the following setup:
- Localstack 1.2.0
- Terraform v1.3.4
- AWS provider 4.34.0

The following block is working properly:
[code]

When I updated the AWS provider to 4.35.0, the error backs, and I decided to keep version 4.34.0.

[2022-11-09 12:11] steffyP commented on #7127
Hi @nmofonseca,

in particular I meant if the configuration for `endpoints` for the aws provider in your `terragrunt.hcl` is taken into consideration.
What I could find so far is that the s3-endpoint config defined in your example does not work at least.

I tried setting the `endpoint` explicitly for the s3 config, like described in the [terragrunt docs](https://terragrunt.gruntwork.io/docs/refere

[2022-11-09 12:19] steffyP commented on #7122
Hi @MJDeligan, hi @sazzadabdulhasib,

the issue should be resolved in the `latest` LocalStack image. Could you try to pull the image (`docker pull localstack/localstack:latest`) and give it another try? 🙏

[2022-11-09 12:46] steffyP commented on #7090
Hi @aadi58002,

could you please run the quickstart example again and collect the logs for this run?
Please start LocalStack with `DEBUG=1` and then `pulumi up --debug`.

[2022-11-09 13:49] SanderHagen commented on #7145
Thanks! It worked indeed by adding

[code]
and
[code]
to the service

[2022-11-09 13:49] #7145 closed

[2022-11-09 13:52] steffyP commented on #7130
Hi @nmofonseca,

thanks for reporting! Could you please add a complete example of your setup, I assume you have the actual configuration for rds in `main.tf`? 🙏

Also, I'm running in the same issue that you already reported in #7127 when using your provided `terragrunt.hcl`. Does your deployment work in that case without errors, or did you use a different `terragunt.hcl`?

[2022-11-09 14:09] MJDeligan commented on #7122
Hey @steffyP,

the sample-app now works fine for me on aws-cdk@v.2.50.0 (latest). Thanks for the swift fix 👍

[2022-11-09 16:28] essobedo commented on #7103
After a deeper analysis, it appears that while creating the docker image, kinesis-mock was installed in `VAR_LIBS` (for packages installed at runtime) instead of `STATIC_LIBS` (for packages installed at build time).
This bug has already been fixed by https://github.com/localstack/localstack/pull/7033, so I guess that this ticket can be closed.

[2022-11-09 16:44] agermain commented on #7132
FWIW I can reproduce it:
[code]
Docker tag: `sha256:52d649b5106e8f069b47ad57ad011e8f22ab9a13cc2d3967732a2ea9b108dae1`
[code]

[2022-11-09 17:57] fmaronnaud opened #7153 "bug: API Gateway Websocket "RouteSelectionExpression" should be ignored for $connect and $disconnect routes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Create a new websocket api using the following:
[code]

- When connecting/disconnecting to/from the API, the `$connect` and `$disconnect` routes integration are not triggered since it's looking for `$request.body.foobar` defined in the RouteSelectionExpression
- All other routes work w/ the d

[2022-11-09 22:27] czareko commented on #7109
Hey, I have exactly the same issue.
With Localstack 1.1 works as it should.

[2022-11-09 23:31] kshangx opened #7154 "bug: CloudWatch PutMetricData with arrays of values not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

PutMetricData with arrays of values does not work properly. Zero values seem to be published. PutMetricData with a single value works as expected. This happens to both CLI and SDK.

### Expected Behavior

PutMetricData with arrays of values should work as publishing a single value.

### How a

[2022-11-10 02:26] c1moore commented on #7046
Thanks @catmeme , that seems to work.  I was hoping to wait for localstack to update, but seems like that might take a while.

[2022-11-10 03:12] mfedorovich-trolley opened #7155 "Error getaddrinfo EAI_AGAIN when making api call from lambda (nodejs)"
Hello,

I am getting a bizarre error (EAI_AGAIN) trying to call an API (any public API) from nodeJS executed in Lambda. The same call ran from my local environment works well.

Here are some details:

- Localstack running as a docker container
- Image Version: 1.2.0 (also tried the latest)
- Lambda Runtime Environment: NODEJS_16_X
- DOCKER Environment variables
      - SERVICES=serverless,cognito,

[2022-11-10 06:26] cwkang1998 commented on #6815
Hey @taras-kobernyk-localstack , sorry if this is a dumb question on my part but I would like to confirm that this change is in fact not released in github (as github latest is 1.2.0) nor as a specific verison yet. However, this is available via the `latest` tag in docker?

Currently having issues with signing and verifying with well known examples involving the use of `DIGEST`, not sure if relate

[2022-11-10 07:11] MarcelStranak opened #7156 "feature request: LocalStack CLI Update, flag all, should ignore dangling images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Command `localstack update all` should ignore the dangling `localstack/localstack:<none>` images in the `docker images` list.
I.e, images with tag `<none>`.

![image](https://user-images.githubusercontent.com/97876429/201023229-d9e9548f-8de0-4c25-a28e-bbf6eabf557b.png)

### 🧑‍💻 Implementat

[2022-11-10 07:31] cwkang1998 commented on #6815
Just tested with the latest docker image and live AWS KMS, and found out some things:

Sign Digest works nicely with live AWS KMS, and the return values + tests works as expected.

However, when working with localstack latest, it seems it does not work as expected (In that the produced signature is invalid for my case in respect to the public key).

I believe the issue that I am encountering is no

[2022-11-10 08:23] alexrashed commented on #7103
Thanks @essobedo for finding the connection between the issue and the PR!
@pmcgaley Could you please verify that it works with the latest image?

[2022-11-10 08:38] cwkang1998 commented on #6815
Just to follow up on this, found out that the reason why my use case did not work was that `localstack` has yet to support asymmetric keys. I see that there are no issues open for the support of asymmetric keys as of now, is there any plans to support it and any challenges surrounding its implementation? Would be happy to contribute to the implementation of support for ECC keys.

In the meantime,

[2022-11-10 08:39] essobedo commented on #7103
If it helps, I already did the test, here is what I get in the different images:

✅  In 1.1.0:
[code]

❌ In 1.2.0:
[code]

✅  In the docker image created by `make docker-build-light` in the `master` branch :
[code]

[2022-11-10 08:43] essobedo commented on #7103
As mentioned in my comment, we can see that the `kinesis-mock` has actually been installed in `VAR_LIBS` in `1.2.0`:
[code]

[2022-11-10 11:02] #6357 closed

[2022-11-10 13:08] kappaj2 commented on #7109
Same - works fine against AWS life, LocalSTack gives parameter error.

[2022-11-10 13:09] taras-kobernyk-localstack commented on #6815
@cwkang1998 Sign / Verify operations use asymmetric keys for signatures. But we currently ignore [SigningAlgorithm](https://docs.aws.amazon.com/kms/latest/APIReference/API_Sign.html#API_Sign_RequestSyntax) and always [calculate](https://github.com/localstack/localstack/blob/256b0de1f1a6085d3994e8d1322c763962ded2f0/localstack/services/kms/models.py#L229) SHA256 digests.

I can't see why that would

[2022-11-10 13:39] dissoupov commented on #6815
Verify with asymmetric key is performed locally, so in go lang it fails.
Local stack should respect parameters and not calculate hash if DIGEST flag
is passed,
That means the hash is already computed and simply needs to be signed with
private key

On Thu, Nov 10, 2022 at 1:10 PM taras-kobernyk-localstack <
***@***.***> wrote:

[2022-11-10 14:22] taras-kobernyk-localstack commented on #6815
@dissoupov Could you please provide us with a code that fails with LocalStack, but succeeds with AWS?

We only calculate digests if [MessageType](https://docs.aws.amazon.com/kms/latest/APIReference/API_Sign.html#API_Sign_RequestSyntax) is set to `RAW`. And prior to https://github.com/localstack/localstack/pull/6941 there was no digest calculation at all. So if something fails for you with `Message

[2022-11-10 14:39] steffyP commented on #7131
Hi @gdsgj,

thanks for reporting! I am flagging this as a feature request, because it is simply not yet implemented.
SQS does currently not create any metrics in CloudWatch.

We will try to provide this functionality in an upcoming version. [AWS states a list of metrics](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-available-cloudwatch-metrics.html) that should be