[2021-03-15 17:47] danielblignaut opened #3730 "[Cognito] [Pro] Unable to find backend user pool on adminInitiateAuth"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I can successfully create a cognito user pool, cognito user pool client as well as a cognito user within the pool. However, when I try calling cognito.adminInitiateAuth, I get a response indicating that the user pool above (which I successfully created a user in, does not exist.

## Expected behavior

Suc

[2021-03-15 18:10] danielblignaut commented on #3730
I have had to cut and paste across files to make the above example code snippet but I can confirm, switching from localstack to legitimate AWS endpoints and credentials does not lead to any errors on existing user pool, identity pool and user pool clients.

[2021-03-15 18:27] whummer commented on #3730
Thanks for reporting @danielblignaut . Can you please confirm which version of the Docker image you're using. It looks like the example you've shared seems to be working with the `latest` Docker image - can you please give that a try? (we'll release a new tagged version shortly..). Thanks for your help!

[2021-03-15 21:23] giancluciano opened #3731 "Running localstack services in separated containers"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description
Is there a way to create more than one localstack container with docker-compose for each aws service ? I'm using SNS and SQS in my project and when I use a [receive_messages](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sqs.html#SQS.Queue.receive_messages) function, it takes u

[2021-03-15 22:11] mgagliardo commented on #3731
Hello @giancluciano, for the sake of this example I'm putting a docker-compose just with sqs and sns but I recommend you to read the docs.

[code]

As you can see, you just need to change the `EDGE_PORT` and for example commands, just pinpoint your endpoint to the right port where the localstack you want is located.

localstack_1:
[code]
localstack_2:
[code]

[2021-03-15 22:11] #3731 closed

[2021-03-15 22:59] whummer commented on #3727
Thanks for reporting @klaymo . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

(Btw, we're also still working on making the `LOCALSTACK_HOSTNAME` env variable available in the Lambda container image function - will be pushed in a follow-up version shortly. Thanks)

[2021-03-15 22:59] #3727 closed

[2021-03-15 23:09] whummer commented on #3723
Thanks for bringing this to our attention @afbarbaro ! Version `0.12.7` has now been pushed to pypi. Thanks

[2021-03-15 23:09] #3723 closed

[2021-03-15 23:21] giancluciano commented on #3731
Hi @mgagliardo,
I've read the project readme but I'm still having difficulties.is there other place where I can read more?

also, could you help me with this?
this is my compose.

[code]

I'm trying to create a topic in one container and a queue in another, and I'm receiving this error:

[code]

Do you know what I'm doing wrong?

[2021-03-16 00:56] mgagliardo commented on #3731
`SERVICES=sqs:4567` should be `SERVICES=sqs`

[2021-03-16 01:26] giancluciano commented on #3731
I managed to finish what I was trying to do, I just added `SQS_BACKEND=http://localstacksqs:4567` in the sns service, removed the unused config from the sqs container and it worked, the problem is, it's taking longer to process the messages and the sns is giving a lot of warnings `Connection pool is full, discarding connection: localstacksqs`. I was trying to paralelize having one container to rec

[2021-03-16 05:17] cyberwombat commented on #3700
@theodorebourgeon can you share your compose file perhaps?  I have tried updating docker, setting `"127.0.0.1:53:53"` etc to no avail. I am a bit baffled as to why this issue was closed with no apparent resolution.

[2021-03-16 07:27] fiLLLip commented on #2199
It's so long ago I reported this issue now, but according to the Git logs, it should be this:

[code]

[2021-03-16 10:59] simoncollins opened #3732 "PutObjectCommand via AWS JS SDK does not fire bucket notifications"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

When I upload an object using the `PutObjectCommand` using the JS SDK and I have bucket notifications enabled, it does not trigger any notifications.

I have debugged this and it seems that the presence of the AWS X-ray ID (`x-id=PutObject`) in the request querystring is preventing `is_query_allowable` in

[2021-03-16 14:33] MathiasKoch opened #3733 "[IoT] [Pro] Missing commands"
It seems like there are some basic commands missing in the IoT service.
Is it documented anywhere, which commands are implemented and which are still missing?

So far it seems like
- `get-policy`
- `attach-policy`
- `attach-thing-principal`

is missing/not working

Also the `describe-endpoint` seems to return correct endpoint if omitting the `--endpoint-type`, but wrong if `--endpoint-type iot:Dat

[2021-03-16 15:13] duongpv7 commented on #2199
Thanks for providing template @fiLLLip. We're reproducing this issue.

[2021-03-16 15:45] #2945 closed

[2021-03-16 16:10] SumantaSarathiChakraborty opened #3734 "ListStackResources does not have LastUpdatedTimestamp field"
# Type of request: This is a ...

bug report

# Detailed description

aws cloudformation list-stack-resources --stack-name "mystack"
{
    "StackResourceSummaries": [
        {
            "LogicalResourceId": "MyS3Bucket",
            "PhysicalResourceId": "mystack",
            "ResourceType": "AWS::S3::Bucket",
            "ResourceStatus": "CREATE_COMPLETE"
        }
    ]
}

**LastUpdatedTime

[2021-03-16 16:23] jordanParamo commented on #3700
@cyberwombat Use these ports, fixed it right up. If it still gives you trouble, head down to the Settings tab in app.localstack.cloud and change the address to localhost:4566, AKA the new localstack edge port. Just got it to work yesterday while trying to set up a local dev environment for AWS SAM (so long sls)

[code]

[2021-03-16 16:32] SumantaSarathiChakraborty commented on #3734
It worked fine till 0.12.4. Broken in build 0.12.5 docker image

[2021-03-16 18:51] ne0guille opened #3735 "Unsupported API Gateway V2 API GET /v2/apis"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Having this error when trying to create an ApiGatewayV2::Api with cloudformation, im running this on linux ubuntu 18.04
[code]
...

## Expected behavior

Api gateway v2 created successfully
...

## Actual behavior

...

# Steps to reproduce

Create a new Api gateway v2 on CFT
[code]

## Command used to st

[2021-03-16 19:31] jorgexgb commented on #3230
`WARNING:localstack.services.dynamodb.dynamodb_listener: Unknown table: my_dnamodb_table not found in {}` Im having this similar issue with the latest docker image. But the interesting part is that all the data is there. Persistence works. And I only get this issue when doing many requests.

[2021-03-16 20:31] klaymo commented on #3727
Thanks @whummer this does look like it is passing the variables now, however now I'm not able to invoke the function. I get a `ReadTimeout` connecting to the lambda invocations API. Note: this could be because I made some configuration adjustments when trying to troubleshoot above and haven't reset things properly, but I've tried tweaking the localstack main container variables to no success.

Her

[2021-03-16 21:31] rhlarora84 commented on #3619
I am also facing a similar issue

[2021-03-16 23:03] ax-slad opened #3737 "Unable to enqueue to SQS with custom attribute value"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

LocalStack SQS implementation fails to accept messages with custom attribute type. As per AWS documentation this is supported - https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-java-send-message-with-attributes.html

When using Spring's Cloud Messaging project, queueMessageTe

[2021-03-16 23:55] cyberwombat commented on #3700
Hmm no go. Here's what I have w docker 20.10.5 MacOS Big Sur.
[code]
The   `https://app.localstack.cloud/` dashboard says not running and the resource management show no resources. However what is odd is that the main overview page of the dashboard shows Ive created 37 resources and the log shows them all correctly. Says I made 13 Dynamodb tables but going to `https://app.localstack.cloud/resource

[2021-03-17 05:33] tinaboyce opened #3738 "Getting SSM Parameter name instead of SSM Parameter value with aws-cdk and cdklocal"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Using AWS CDK, cdklocal and cdk context, trying to obtain an SSM Parameter value using SSM Parameter name from CDK Context. The issue is `ssm.StringParameter.valueForStringParameter` returns the SSM Parameter name instead of the SSM Parameter value.

cdk.json, in context section, add:
[code]

Value from a

[2021-03-17 08:56] villekr opened #3739 "Timestream delete_database, list_tables and query errors"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
macOS, localstack 0.12.8 PRO, python 3.8.1 and boto3 1.16.38.
...

## Expected behavior
The script below run against AWS works as it should.
...

## Actual behavior
The script below run against Localstack fails when executing "list_tables", "delete_database" and "query" requests.
...

# Steps to reproduce

[2021-03-17 11:55] danielblignaut commented on #3730
so, I've deleted my docker image and any containers, pulled the latest container from localstack and still have the issue. This is the exact configuration and code:

docker-compose.yml -> same as above.

localstack output

[code]

code executed using command:
``` npx ts-node ./test.ts```

test.ts file:

[code]

[2021-03-17 11:56] danielblignaut commented on #3730
docker image id: 3f39f5d74e4b

[2021-03-17 11:58] villekr commented on #3739
I updated the script to include also query, which works against AWS.

[2021-03-17 12:04] danielblignaut commented on #3730
think I've identified the issue. Changing region to the default aws region (eu-east-2) results in a successful response. seems to be a bug when region is set to eu-west-2

[2021-03-17 12:31] MathiasKoch opened #3740 "[Lambda] [Pro] Missing environment variables for provided lambda runtime"
It seems like there are some environment variables missing for lambda containers when running provided runtimes?
This is  from inside a lambda container:
[code]

And this is the requirements of the `lambda-http` runtime for rust (https://github.com/awslabs/aws-lambda-rust-runtime/blob/d3ff4352c4b0e64fb46af2ca425db39211237e26/lambda-runtime/src/lib.rs#L55-L65):

[code]

I think especially the `AWS_

[2021-03-17 16:22] arc2021 commented on #3712
@mgagliardo , Sorry for the late response, was OOO for couple of days.

Here is the netstat  output, I dont see the port 4566 here. I am starting localstack using docker image and it shows in Ready status.
 Proto  Local Address          Foreign Address        State
  Proto  Local Address          Foreign Address        State
  TCP    127.0.0.1:49159        WQAEL56025:49160        ESTABLISHED
  TCP

[2021-03-17 16:32] mgagliardo commented on #3712
Somehow the port is not being forwarded into your local machine, maybe something to do with rules on the ENI/FW side?
What if you would forward it to your localhost and (inside the server) Try that? Have you also tried inside the container like I told you?

You can clearly see there's something on your machine as on startup:

[code]

That means localstack is effectively listening on `4566`.

[2021-03-17 16:39] arc2021 commented on #3712
@mgagliardo will check with support team on ENI/FW based on their availability.

How do I do inside the server? can you please explain?

[2021-03-17 16:44] mgagliardo commented on #3712
Either the system is window, linux or mac you just jump into the console and do `docker exec -ti $localstack_container_name bash` (check container name with `docker ps`) and you will be inside the container, from there you will be able to confirm everything is working as expected or run commands. That will tell you the container itself is working ok and that your issue is with the fw policy of the

[2021-03-17 16:47] joelhess opened #3742 "SQS Access to Other containers and host at the same time"
# Type of request: This is a ...

[ ] bug report
[ ] feature request
[x] Question?

# Detailed description
I'm trying to set up localstack in docker so that other containers running on the same docker network can access it, as well as the host. I've set the `HOSTNAME_EXTERNAL` prop, and my other container can talk to it just fine. Now when I try and access the queue my host, the queue URL's return

[2021-03-17 16:58] mgagliardo commented on #3742
Hello @joelhess, can you please put an example so I can try reproduce the issue?

IMHO there should not be any need to set `HOSTNAME_EXTERNAL`, as it should be enough with the container name (which you can set with docker) to resolve it, then you can use `localhost` for your (duh) local tests.

Example (I'm doing it over CLI but you get the point:

[code]
[code]

[code]

[2021-03-17 17:13] codan84 commented on #967
Same problem here, but I am using CloudFormation generated by serverless to deploy the code. None of my lambdas are being triggered off SQS messages.

[2021-03-17 17:22] joelhess commented on #3742
I agree, and you are correct about running the local tests. But when the other container tries to access localstack the same way, it will get localhost back in the queue url, and will not be able to use that URL returned from the getQueue URL call  (i.e. http://localhost:4566/...) to continue talking to localstack.

[2021-03-17 17:32] mgagliardo commented on #3742
Right, then what you can do is simply edit your hosts file on your own machine so:

`127.0.0.1 localstack`

What happens with that is that your machine needs to know the IP (whether is local or not) of localstack

[2021-03-17 17:41] jonminter commented on #2485
@b0ric @shyamvala What resolved this error for me was to change the private key markers from:

[code]

To:

[code]

Localstack seems to expect them to be exactly that with out the `RSA` in the middle.

[2021-03-17 19:03] joelhess commented on #3742
That'll work once, but I can't automate it for tests running in a CI job.

[2021-03-17 19:30] mgagliardo commented on #3742
Ok, then I need to know your usecase, why couldn't you run everything on your CI from another container?

i.e.
- run localstack (background) with `HOSTNAME_EXTERNAL` set
- run container X (creates sqs queue, etc.)
- run container Y (verifies container X work)

[2021-03-17 19:40] mgagliardo commented on #3742
I am closing this though, as this is far from being related to localstack, but more to networking/docker. So not a proper issue.

[2021-03-17 19:40] #3742 closed

[2021-03-17 20:03] ptdel opened #3745 "FIFO SQS Queue Creation returns 400"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am using localstack to test terraform modules with terratest.  I am able to create standard SQS Queues with localstack, however Creating a FIFO queue returns the following error:
[code]
The queue name ends with `.fifo` per AWS conventions, and the boolean value that designates it as a fifo queue is set

[2021-03-17 20:30] mgagliardo commented on #2485
Thanks @jonminter for your comment, indeed it is a parsing issue where the `RSA` key in particular is not being looked up as part of the cert. I have put a fix in place to sort this out.

[2021-03-17 20:33] mgagliardo commented on #3745
Hello @ptdel, can you show me the output of the `DEBUG=1` logs?

On the other hand, I was able to create the FIFO queue without any issues with the following code:

Start localstack:
[code]

main.tf
[code]

provider.tf
[code]

[2021-03-17 22:00] ptdel commented on #3745
thanks for the quick reply @mgagliardo I was able to track down the issue to the `redrive_policy` referring to another sqs queue that was not a fifo queue itself.  I looked up the AWS documentation and it stated that the DLQ of an SQS FIFO Queue must itself be a FIFO queue.  Everything working as intended problem between keyboard and chair :laughing:

[2021-03-17 22:11] #3745 closed

[2021-03-17 23:42] richardkriesman opened #3747 "[Cognito] [Pro] AWSCognitoIdentityProviderService.CreateUserPool creates schema attributes under the wrong key"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description

When creating a new user pool with custom attributes using `AWSCognitoIdentityProvider.CreateUserPool`, there is an option to define schema attributes with the `Schema` request key.  Afterward, subsequent calls to `AWSCognitoIdentityProvider.DescribeUserPool` return those schema attributes under the `Sch

[2021-03-17 23:55] arc2021 commented on #3712
@mgagliardo I am able to do docker exec but dont see the /tmp folder and logs. what commands do I need to run here?

[2021-03-18 00:20] mgagliardo commented on #3712
Once inside you can confirm the container is working as expected, i.e.:
[code]

[code]
[code]

I do not mean to be rude but I strongly recommend you and your team take the time to read the documentation first and/or get some advice instead of opening issues and ask open questions on how to debug systems and applications like this.

Now, given that this issue is closed and confirmed this has nothin

[2021-03-18 01:10] whummer commented on #3739
Hi @villekr , thanks for reporting this issue. This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-03-18 08:34] #2485 closed

[2021-03-18 08:39] whummer commented on #3733
Hi @MathiasKoch , thanks for reporting this issue. This should be fixed in the meantime - can you please pull the `latest` version and give it another try?

In terms of the endpoints - we are currently returning the local endpoints like, e.g., `localhost:4510`. It seems that for `iot:Data` and `iot:Data-ATS` AWS is simply returning different hostnames for these particular endpoint types - is there

[2021-03-18 08:39] #3733 closed

[2021-03-18 08:46] MathiasKoch commented on #3733
@whummer
Thanks for fixing this so quickly.

Regarding the `--endpoint-type`, this is what AWS reports back:
[code]

I think it would make sense for localstack to just return `localhost:4510` in all three cases, as localstack deos not distingush between ATS (Amazon Trust Service), and legacy certificates.

[2021-03-18 08:53] MathiasKoch commented on #3733
I still seem to have an issue with `attach-policy`. The other commands works great now! Thanks.

➜  awslocal iot list-policies
{
    "policies": [
        {
            "policyName": "ThingPolicyFbduo",
            "policyArn": "arn:aws:iot:eu-west-1:000000000000:policy/ThingPolicyFbduo"
        }
    ]
}
➜  awslocal iot list-certificates
{
    "certificates": [
        {
            "certificateA

[2021-03-18 10:27] codan84 opened #3748 "CloudFormation : Ref call on SQS does not return correct URL"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

In CloudFormation, when using `Ref` function with SQS logical resource ID as a parameter we would expect to get a URL for the queue ([docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-queues.html)).
When setting `HOSTNAME_EXTERNAL` and `HOSTNAME` on the localstack con

[2021-03-18 10:33] jenskelkel commented on #3692
Of course, couldm I show you my docker compose

version: '3.3'

networks:

  default:
    external:
      name: localstack-tutorial

volumes:

  localstack:

services:

  localstack:
    image: localstack/localstack:0.12.7
    ports:
      - 4566:4566
    environment:
      - DATA_DIR=/tmp/localstack/data
      - DEBUG=1
      - DEFAULT_REGION=eu-central-1
      - DOCKER_HOST=unix:///var/run/docke

[2021-03-18 13:50] peter-ponzel commented on #3514
sorry for the late response, looking good now :+1:

[2021-03-18 15:24] macnev2013 commented on #2631
Thanks for reporting. This feature was added in PR #3690. Please pull the `latest` image of the docker using `docker pull localstack/localstack:latest` and give it a try?
Thanks.

[2021-03-18 15:24] #2631 closed

[2021-03-18 17:41] macnev2013 commented on #3732
Thanks for reporting @simoncollins.
Is it possible to provide a small isolated example with deployment commands (a git repo) to reproduce the issue?
Thanks

[2021-03-18 19:32] BenRbtz commented on #3722
After getting some time to come back to this, I've tested with a simple example and it worked. I've also tried will a more complex lambda and that's working too...

Seems like a newer version of localstack has resolved the issue?

[2021-03-18 19:32] #3722 closed

[2021-03-19 00:04] mgagliardo commented on #3748
Hello @codan84, I was unable to reproduce this, I am using the following JSON (I know it's a bit longer than SQS/Lambda, my bad about that) and I am seeing everything working as expected, would you please pull the `latest` image and check it out?

[test-bucket-notification.json.zip](https://github.com/localstack/localstack/files/6167808/test-bucket-notification.json.zip)

[2021-03-19 07:42] villekr commented on #3739
[code]

[2021-03-19 07:46] villekr commented on #3739
Still doesn't quite work. In order to rely on Localstack Timestream during integration tests then the following are mandatory (without taking down localstack container):
* Create Timestream database
* Create Timestream table for database
* Delete Timestream table from database
* Delete Timestream database
* Write records to Timestream table

[2021-03-19 07:47] villekr commented on #3739
[code]

[2021-03-19 07:47] villekr commented on #3739
I also updated the script the check database and table existence before creating them but that doesn't either quite work.

[2021-03-19 08:48] HC-gcampelo opened #3753 "Illegal base64 character - KCL 2.3.4 - Localstack 0.12.8"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
The [Process Real-Time Stock Data Using KPL and KCL Tutorial](https://docs.aws.amazon.com/streams/latest/dev/tutorial-stock-data-kplkcl2.html) was implemented using localstack.

## Expected behavior
Records properly deserialized, consumed and stats printed on the console
...

## Actual behavior
Consumer is

[2021-03-19 08:53] whummer commented on #3637
Thanks for reporting @959210490 . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks

[2021-03-19 08:53] #3637 closed

[2021-03-19 09:47] mgagliardo commented on #3753
Related to https://github.com/localstack/localstack/pull/3605, I'm going to put a PR to fix this today or reverse it (and take some more time to fix it).

[2021-03-19 10:08] HC-gcampelo commented on #3753
Quick response, thanks @mgagliardo !

[2021-03-19 13:08] arpekkar opened #3754 "Cannot remove users 'entirely' from cognito user pool with admin_delete_user"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Since version 0.12.6 I have not been able to remove users from cognito user pool in
my integration tests. I get this error: "An error occurred (400) when
calling the AdminCreateUser operation: An account with the given
username already exists".

My integration tests are initialized so that I first create u

[2021-03-19 13:47] suitap commented on #2527
Hi there, I find a simple repro using docker.

[code]

[2021-03-19 16:06] davedash opened #3755 "Unable to run `get-bucket-cors` getting"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Running the following code, times out:
[code]

The logs in the docker container:

[code]

...

## Expected behavior

I expected this to hit an internal URL  not something `*.localstack.cloud`.  I expected a response from my command (fwiw, `was s3 ls` works fine)

...

## Actual behavior

Command times out

[2021-03-19 16:09] Chanonry opened #3756 "Latest docker hub container looks broken"
This is a ...

x bug report

# Detailed description

Latest container was pushed 6 hours ago.

My local tests against a docker-compose container work. When running a GitHub action on a Pull Request the latest container was downloaded and I started getting 500  type errors

Reverted to 0.12.7 and everything is ok

## Expected behavior

Should be the same behaviour

## Actual behavior

Variable. Tim

[2021-03-19 16:57] mgagliardo commented on #3756
Hello @Chanonry, there has been an issue with the DNS that back our localstack service, would you please check this again? You can also check the #community-support channel on slack. Also it would help (if this keeps happening) to have some examples or debug logs to reproduce this.

Thanks!

[2021-03-19 17:02] mgagliardo commented on #3756
Some local testing I've done:

[code]

[code]

[2021-03-19 17:36] Chanonry commented on #3756
I was using latest.

Its not really an issue for me as I just reverted to an image which was more in line with what I was using locally.

Having said that I re ran my local tests forcing a docker-compose rebuild with both 0.12.7 and latest. Both were successful.

The errors I got were in a GitHub Action on the ubuntu-20.04 runner:

Read timeout on endpoint URL: "http://localhost:4566/"

and separa

[2021-03-19 17:40] mgagliardo commented on #3756
Ok so this is related to github actions, not localstack itself. This is probably because the runner runs localstack on another separated container and tries to connect to `localhost` which actually has nothing running (which is fine). Please try using `HOSTNAME_EXTERNAL` to test more.

This line clearly shows its a connection issue, more than a localstack issue.
`Read timeout on endpoint URL: "htt

[2021-03-19 17:45] Chanonry commented on #3756
If that is the case then why does 0.12.7 run then?  The problem manifests itself  your latest container.

Think you are a bit quick to say its not your issue.

Not mine either, you can debug your own product

[2021-03-19 17:48] mgagliardo commented on #3756
Ok maybe I missunderstood the problem, my mistake. I thought you tested locally with both `latest` and `0.12.7` and as it was working then it was fine.

Can you please share your GitHub action pipeline config?

[2021-03-20 00:28] p-himik opened #3759 "Presigned URLs don't work for object with spaces or + in their names"
# Type of request: This is a ...

- [x] bug report
- [ ] feature

# Detailed description
Presigned URLs don't work for object with spaces or `+` in their names.
So e.g. when `test.txt` works just fine, `test 1.txt` and `test+1.txt` don't.

## Expected behavior
Issuing a GET request to a presigned URL should return the right object.

## Actual behavior
It returns the `SignatureDoesNotMatch` error.

[2021-03-20 12:32] #3734 closed

[2021-03-20 16:29] whummer commented on #3740
Thanks for the update @MathiasKoch . This should (hopefully) be fixed in the meantime - we were able to get the `lambda-http` runtime for Rust running. Can you please give it another try with the `latest` image? Please let us know if the problem persists. Thanks for your help!

[2021-03-20 16:29] #3740 closed

[2021-03-20 16:37] whummer commented on #3739
Thanks for the update, this should be fixed in the meantime - can you please give it another try with the `latest` image? (Happy to continue the conversation over on Slack..). Thanks for your help!

[2021-03-20 16:39] whummer commented on #3733
Thanks for the update @MathiasKoch . These issues (attach-policy and ARN mismatch) should be fixed in the meantime - can you please give it another try with the `latest` image? Thanks for your help!

[2021-03-20 21:21] #3748 closed

[2021-03-21 12:14] whummer commented on #2199
Thanks for the update @fiLLLip @bharadwajturlapati  @duongpv7 . This should be fixed in the meantime - an integration test has been added in #3763 . Please report here if the problem persists with the `latest` Docker image. Thanks!

[2021-03-21 12:14] #2199 closed

[2021-03-21 12:27] #1960 closed

[2021-03-21 12:35] whummer commented on #2470
@sebarys Closing, as this issue cannot be reproduced. Please report here with a smal sample repo (incl. Lambda handler files) to help us replicate this issue. Thanks!

[2021-03-21 12:35] #2470 closed

[2021-03-21 12:37] #3051 closed

[2021-03-21 12:42] whummer commented on #3177
Closing this issue, as "cannot reproduce". Please reopen this issue with detailed instructions to reproduce if the problem persists @tilakbhanu . Thanks!

[2021-03-21 12:42] #3177 closed

[2021-03-21 12:45] whummer commented on #3421
Hi @ravithejappl - thanks for reporting this issue. Do you think you can provide some more details (and a zip file or small sample repo with your project code) to help us reproduce this issue? Thanks for your help!

[2021-03-21 12:52] whummer commented on #3086
Thanks for the update @jleck . There's been several enhancements to CloudFormation recently - can you please give it another shot with the `latest` Docker image and let us know if the problem persists? Thanks for your help!

[2021-03-21 12:54] whummer commented on #3071
Hi @BenderRodrigez, thanks for the update. There's been several enhancements to the S3 implementation (and performance improvements in general) - can you please pull the `latest` Docker image and let us know if the problem still persists? Thanks for your help!

[2021-03-21 13:07] whummer commented on #2510
Thanks for reporting @Daniel-Lau . It seems that we should inject the Kinesis errors more selectively, i.e., only fail a particular type of API request (but not all of them). Do you think you could help us work towards a PR that would fix the behavior? Alternatively, can you please provide a small snippet of your sample code to help us replicate the use case? Thanks for your help!

[2021-03-21 13:14] whummer commented on #2115
Thanks for reporting @SaMnCo . This should be fixed in the meantime - a small integration test has been added in #3761 . Please let us know if the problem persists with the `latest` version. Thanks for your help

[2021-03-21 13:14] #2115 closed

[2021-03-21 13:58] whummer commented on #171
Thanks for the update @sshogunn @adriangalera @cfrasineanu-intx @steingold @farazive @daviddanielarch-zz @ChocPanda . It's been a while since this issue was first raised, but it should now be fixed in #3762 . Please pull the `latest` Docker image and give it another try. Please let us know if there are any issues. Thanks for your help!

[2021-03-21 13:58] #171 closed

[2021-03-21 17:00] whummer commented on #3755
Thanks for reporting @davedash . Please note that the `*.localhost.localstack.cloud` DNS names should resolve to a local IP address (`127.0.0.1`).

Can you please confirm whether the following works for you:
[code]

In rare cases, your ISP may block the DNS resolution. In this case you could try setting `LOCALSTACK_HOSTNAME=127.0.0.1` in the configuration.

Here's what I'm getting on my machine wh

[2021-03-21 23:13] whummer commented on #3747
Thanks for reporting this issue @richardkriesman . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if there are any issues. Thanks for your help!

[2021-03-21 23:13] #3747 closed

[2021-03-21 23:16] whummer commented on #3561
Thanks for the update @mariaines . It seems that we have been able to find the root cause of this issue. A fix will be pushed in PR  #3765 shortly.

Meanwhile, can you please try enabling the following configuration in your LocalStack container environment:
[code]

Please keep us posted how it goes. Thanks for your help!

[2021-03-21 23:21] whummer commented on #3656
Thanks for reporting this issue @andres-bayon , and apologies for the long delay. This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if there are any issues. Thanks for your help!

[2021-03-21 23:21] #3656 closed

[2021-03-22 01:17] mgagliardo commented on #3753
@HC-gcampelo would you please mind in sharing the full code as well as which commands are you running? I was unable to reproduce this and I need to confirm where this is happening. Thanks.

[2021-03-22 03:54] at-wat commented on #3756
I'm seeing the same problem.
Latest localstack returns 500 error when calling s3 API and it is worked around by reverting localstack version to 0.12.7. (https://github.com/seqsense/s3sync/pull/133)

Steps to reproduce (requires Golang):
[code]

You'll see errors like:
[code]

[2021-03-22 07:26] whummer commented on #3754
Thanks for reporting @arpekkar . This should (hopefully) be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks for your help!

[2021-03-22 07:26] #3754 closed

[2021-03-22 08:12] HC-gcampelo commented on #3753
Hi @mgagliardo , it is in the readme of the repository in the ticket description:

full code: https://github.com/HC-gcampelo/KCL2.3-integration

commands:
* Start localstack:

`./start-containers.sh`

* Run the producer in the background (it logs, so you might want to open a new shell):

`AWS_ACCESS_KEY_ID=foo AWS_SECRET_ACCESS_KEY=bar ENDPOINT_OVERRIDE=http://localhost:4566 CBOR_ENABLED=false ./m

[2021-03-22 09:51] h4l commented on #43
For the AWS Javascript SDK V3 you need to use the [forcePathStyle](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-s3/interfaces/bucketendpointinputconfig.html#forcepathstyle) option for `S3Client`:
[code]

[2021-03-22 11:16] andrybicio commented on #646
One note: this works only with Python2.7

[2021-03-22 14:45] richardkriesman commented on #3747
Seems to work correctly now. Thank you!

[2021-03-22 15:43] yairinot-vicarius opened #3766 "SQS messages are not received in latest versions"
# Type of request: This is a ...

 :ballot_box_with_check:  bug report

# Detailed description

Starting from docker version 0.12.7 including 0.12.8, after using it for a while without problems, suddenly messages to SQS are sent successfully but not received at consumer side.
When using aws cli to get queue attributes, all messages are shown as not visible (all listed by property ApproximateNumber

[2021-03-22 17:05] rldw opened #3767 "API Gateway: cannot POST base64 encoded data using LocalStack Pro"
# Type of request: This is a ...

[ x ] bug report
[ ] feature request

# Detailed description

## Expected behavior

POSTing base64 encoded data to an API Gateway endpoint with a Lambda integration works as it does on AWS.

## Actual behavior

LocalStack throws the following error when POSTing a file as `multipart/form-data`. I tried this with both jpeg and png.

[code]

# Steps to reproduce

##

[2021-03-22 17:22] danielblignaut commented on #3730
any update??

[2021-03-22 17:40] ptdel commented on #3756
not sure if this is related, but I'm able to create s3 bucket objects and get a return from localstack but trying to create a bucket (`aws s3api create-bucket --bucket test-bucket`) doesn't return any output and subsequent tests trying to use the bucket fail with a 404

[2021-03-22 17:45] petervalencic opened #3768 "Java Lambda service + java.lang.NoClassFoundError (SLF4j)"
# Type of request: This is a

[X] bug report
[ ] feature request

# Detailed description

I have a simple lambda service in Java that uses org.sl4j.LoggerFactoryClass. The code is compiled with maven using maven-shade-plugin v.3.0. The built JAR contains all dependencies and also the org.sl4j.LoggerFactoryClass (have checked manually).
When I try to invoke the lambda service I get this kind of err

[2021-03-23 07:30] HC-gcampelo commented on #3753
@mgagliardo I just tried it with latest image (`49ad28cafd39`) and getting the same error

[2021-03-23 07:48] whummer commented on #3759
Thanks for reporting @p-himik . This should (hopefully) be fixed in #3760 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-23 07:48] #3759 closed

[2021-03-23 07:48] whummer commented on #3713
Thanks for reporting @efenderbosch . This should (hopefully) be fixed in #3760 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-23 08:10] simoncollins commented on #3732
Sure, I'll put something together.

[2021-03-23 09:55] p-himik commented on #3759
Seems to work, thanks!

[2021-03-23 10:13] petervalencic commented on #3768
Solved the problem..
In my pom.xml have used maven-shade-plugin and compiled with:

`mvn clean package shade:shade -Dmaven.test.skip=true`

[2021-03-23 11:44] skuchelan opened #3769 "How to setup Localstack container not requiring credentials?"
Hi,
Issue type:  Question/bug

# Detailed description

 I have the following code snippet, that is supposed to run in an AWS Lambda function

[code]
I use Localstack with Testcontainers for integration tests and set up the secret in the test setup like this:

[code]
Now the test crashes with an error:

 Error creating bean with name 'xxxxWriter': Unsatisfied dependency expressed through field 'cli

[2021-03-23 13:35] ericderegt opened #3770 "Cannot execute queries against RDS data service"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
I'm trying to write to and query a RDS database using the rdsdataservice in LocalStack (I have a pro account). I'm following the steps in the guide, but when I execute statements from my code I'm not able to connect to the database. I've verified that I can connect to the database with awslocal from within

[2021-03-23 13:45] dheerajkulakarni commented on #3664
Hey @usmangani1, We are kind of waiting for this feature, so any updates on this?

[2021-03-23 13:55] HardikShah-PFG opened #3771 "Networking Error while accessing aws services from lambda"
# Type of request: This is a Bug report.

# Detailed description
While accessing the file from S3 or record from dynamodb, getting below error.
2021-03-23T13:39:21.131Z c5b7c577-213d-12aa-83bd-88abf8770d72 INFO { Error: Client network socket disconnected before secure TLS connection was established

## Expected behavior

.

## Actual behavior

...

# Steps to reproduce

## Command used to start Lo

[2021-03-23 14:11] mgagliardo commented on #3771
Hello @HardikShah-PFG, you are not calling the right endpoint, that is why you are seeing:

`host: 'ls-s3-sample.s3.amazonaws.com',`

You should be calling it the following (as example):
[code]

Give it a try and let me know how it goes. Cheers

[2021-03-23 14:22] HardikShah-PFG commented on #3771
Thanks @mgagliardo . Now got a different error.

[2021-03-23 14:44] mgagliardo commented on #3771
My mistake, pasted a typo:

Instead of:
[code]

It should be `process.env.LOCALSTACK_HOSTNAME`, like this (for example):
[code]

[2021-03-23 15:29] AritraWork97 opened #3772 "RDS Mysql Engine support"
# Type of request: This is a ...

[ ] bug report
[* ] feature request

# Detailed description

Currently RDS supports database engine of only postgres. The mysql engine is also used by many people and if this functionality is implemented it would be very useful.
...

## Expected behavior

...

## Actual behavior

...

# Steps to reproduce

## Command used to start LocalStack

...

## Client code (

[2021-03-23 17:38] HardikShah-PFG commented on #3771
Thanks. It worked!

[2021-03-23 17:47] mgagliardo commented on #3771
Glad to help. Cheers.

[2021-03-23 17:47] #3771 closed

[2021-03-24 08:58] petervalencic commented on #3768
Hi, have noticed that the problem I have is related to slf4j.
In my pom.xml I have:

[code]

In the lambda function I have:

`private static final Logger LOG = LoggerFactory.getLogger(LambdaFunctionHandler.class);`

everything from the slf4j is included in the "built" jar archive.

[2021-03-24 11:54] gsf4726 opened #3774 "Error InvalidLocationConstraint when creating S3 bucket with aws-sdk"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

As of latest version 0.12.8 of localstack docker image, started receiving errors from the aws-sdk node module in javascript when attempting to create a bucket.

If I revert back to 0.12.7 the error does *not* occur.

Interestingly, the 0.12.8 release is not tagged in github so I cannot easily see what has

[2021-03-24 12:26] conan19842002 opened #3775 "Can't create a mock repo on ECR"
# Type of request: This is a bug

[x] bug report
[ ] feature request

# Detailed description
I am trying to create a mock repo on ECR but got error 'Connection was closed before we received a valid response from endpoint URL: "http://localhost:4566/'
...

## Expected behavior
A mock repo should be created
...

## Actual behavior
Connection was closed before we received a valid response from endpoi

[2021-03-24 12:40] skuchelan commented on #3769
Raised an issue with the most specific forum(Testcontainers ), hence closing the ticket.

[2021-03-24 12:40] #3769 closed

[2021-03-24 13:06] mgagliardo commented on #3775
Hello @conan19842002, as you can see, this feature is still not available for the OSS version, although it is for the PRO.
[code]
Closing as dupliated per https://github.com/localstack/localstack/issues/970

[2021-03-24 13:06] #3775 closed

[2021-03-24 13:32] conan19842002 commented on #2985
I still got error 'An error occurred (400) when calling the CreateRepository operation' with version 0.12.6

[2021-03-24 13:56] conan19842002 opened #3776 "Error when creating mock ECR"
# Type of request: This is a bug

[x] bug report
[ ] feature request

# Detailed description

I've tried to create a mock repo ECR with PRO version of localstack but got error 'An error occurred (400) when calling the CreateRepository operation'. Even though there was a similar issue #2324 and it was claimed to be fixed in the latest version.

## Expected behavior

A mock repo should be created
..

[2021-03-24 16:52] Vmacedo-Daitan opened #3777 "Step functions with API Gateway returning Could not resolve host"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
When deploying a step function with and API Gateway the URL created cannot be resolved.
...

## Expected behavior
Call the step functions by API Gateway
...

## Actual behavior
When try to CURL the step functions it returns the error "Could not resolve host"
...

# Steps to reproduce
Create a step function

[2021-03-24 17:21] Vmacedo-Daitan commented on #3777
Just a note, when I deployed to AWS it worked fine.

[2021-03-24 17:37] macnev2013 commented on #3774
Thanks for reporting @gsf4726 . We have recently made some changes in S3 bucket location constraint to make it more inline with AWS. Can you please confirm if its working against the real AWS ?

Thanks.

[2021-03-24 17:40] macnev2013 commented on #3732
Thanks @simoncollins.

[2021-03-24 17:43] macnev2013 commented on #3726
Hi @arturo-myota , Thanks for reporting. It would be great if you can provide a small test case for the same. Looking forward to it. Thanks.

[2021-03-24 18:12] monty16597 commented on #3693
Hello @cwilliamsonslyp ,
Lambda layer feature is being supported in the PRO version of the localstack only. So `aws --endpoint http://localhost:443 lambda publish-layer-version --layer-name package-layer --zip-file fileb://nodejs.zip` command has probably given you the error which will fail the function invocation as you can see in your logs.

Thanks.

[2021-03-24 18:54] t2farrell commented on #3774
Looks like I'll need this too... when will these changes make it through into the `localstack/localstack` docker image?

[2021-03-24 19:57] macnev2013 commented on #3774
Hi @t2farrell , This will be fixed in #3778. Thanks.

[2021-03-24 19:58] conan19842002 opened #3779 "Can't process lambda function call due to Go issue"
# Type of request: This is a bug

[ x] bug report
[ ] feature request

# Detailed description
I've tried to test my python lambda function but got a strange error related to Golang: 'cannot unmarshal array into Go value of type types.ContainerJSON'. I don't understand why this is to do with Go while executing a python lambda function call.
...

## Expected behavior
Lambda function call should be e

[2021-03-24 20:21] synfinatic opened #3780 "s3:PutLifecyclePolicy always returns HTTP/500 due to enforced DNS bucket names"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description

This seems to be a regression in the latest docker image.  Basically putting a S3 bucket policy:

[code]

Returns a HTTP/500:

[code]

The log seems to explain the issue is that incorrectly assuming/forcing DNS compatible bucket names for the call:

2021-03-24T20:14:06:WARNING:localstack.utils.server.htt

[2021-03-24 20:22] macnev2013 commented on #3756
Thanks @at-wat for providing the repository. It will help us a lot.

[2021-03-24 20:25] macnev2013 commented on #3780
Thanks for reporting @synfinatic. It would be great if you can also provide the terraform code. Thanks.

[2021-03-24 20:29] t2farrell commented on #3774
One thing I found interesting, this issue was not present when running localstack via docker on windows in WSL2 using Ubuntu, but it was failing when running in docker on a Virtualbox VM running Ubuntu.

[2021-03-24 20:45] synfinatic commented on #3780
Example:

[code]

contents of `rule`:
[code]

[2021-03-24 21:14] efenderbosch commented on #3713
Now I'm getting a 500 error w/ multipart uploads when sending a part using the pre-signed URL.

 Traceback:
[code]

[2021-03-24 21:25] gsf4726 commented on #3774
@macnev2013 I see things have been reverted since you asked so maybe no longer needed, but I'm actually not in a great position to actually repro in AWS as we only use the create bucket call in tests where localstack is used, and I don't have access to create buckets in our AWS environments. But, I may be able to come up with something so let me know if it's still needed or if there's anything els

[2021-03-25 00:37] mariaines commented on #3561
Hi @whummer, thanks for the update. I've added this to my config, and so far, so good! Thank you so much!

[2021-03-25 07:24] rldw commented on #3767
I noticed this might be related to https://github.com/localstack/localstack/issues/3649

[2021-03-25 15:50] pinzon commented on #2944
@hacker7897iiita Hi. Thank you for your patience with the issue.
Reading your docker-compose configuration I can see that you initialize your localstack container with only the S3 Service. Even thou in your JAVA test you set the **es** service, it cannot be initialize in runtime.

So if you want to use S3 and ES use this line
`SERVICES=S3,es`

if you want to use all the services, delete that line.

[2021-03-25 15:50] #2944 closed

[2021-03-25 18:14] securisec opened #3782 "Localstack pro cannot execute lambda functions"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
I saw in one of the issues that localstack pro supports custom authorizers for api gateway, so I signed up for a trial license to test out a custom authorizer, but when setting a valid `LOCALSTACK_API_KEY`, the lambda function, or any functions does not run and throws an error. This does not happen when us

[2021-03-25 19:46] conan19842002 commented on #3779
It turned out that I was missing option runtime for the lambda function

[2021-03-25 19:46] #3779 closed

[2021-03-25 21:37] bishtawi commented on #3455
Yup, removing the persistence of SNS subscriptions broke my workflow. It was unexpected behavior as SNS is documented as supporting persistence but turns out not fully. At the very least, I think it should be documented on the README that SNS supports persistence except for subscriptions.

[2021-03-25 23:02] shadowspawn commented on #3464
From a slow-start situation, I examined `recorded_api_calls.json`.

All of the lines in `recorded_api_calls.json` have `Credential`, but only 4 of the lines have `__internal_call__` in the line, so I might be in the suggested `INTERNAL_AWS_ACCESS_KEY_ID` failure scenario?

[code]

The original client calls were generated by the Java AWS SDK, and I do have `AWS_ACCESS_KEY_ID` set in the environment

[2021-03-26 06:28] HardikShah-PFG opened #3784 "Use of same Lambda code for Local, Pilot and Prod"
# Type of request: This is a Bug and/or feature request.

[ ] bug report
[ ] feature request

# Detailed description
To use other services in Lambda, we need to pass Id, key and Endpoint url as below.
[code]
Due to this, we can't move the same code as it is to the actual AWS environment as it will not work or we need to set Id, Key, and endpoint in the environment variables. Most of the time, the

[2021-03-26 08:50] arussel opened #3785 "Creation of AWS Security Group Rule hangs using terraform"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Using a simple terraform project with only 3 resources, the creations hangs on creation of aws_security_group_rule even after we can see that the rule has been created. I have created a small project to reproduce the error:
I have created a small repo to show the problem:
https://github.com/arussel/terrafo

[2021-03-26 08:52] mgagliardo commented on #3784
Hello @HardikShah-PFG. As the dependency is not on localstack's side but more on the SDK side I would tell you there is nothing coming from the `localstack` team we can do about it, as the SDK already has the endpoints embedded and there is no other way to change that.

What I personally suggest you is (assuming you are running CI/CD jobs with test/build/deploy) you can have your tests `mock` the

[2021-03-26 08:52] #3784 closed

[2021-03-26 09:13] volphy opened #3786 "LocalStack 0.12.8 tag missing"
Is there a reason why 0.12.8 release is not tagged in the git repository:
https://github.com/localstack/localstack/tags

whereas a relevant Docker image is available in the DockerHub registry:
https://hub.docker.com/r/localstack/localstack/tags?page=1&ordering=last_updated
?

Is 0.12.8 sufficiently stable or is using 0.12.7 still recommended?

[2021-03-26 11:12] vamshisiddarth opened #3787 "Looping while creating ses domain identity"
# Type of request:

- [x] bug report

# Detailed description

I'm trying to create  ses domain identity resource on localstack 0.12.7 using the below code. It gets into the infinite loop once it is fired. When I use aws cli and list the identifiers, I'm able to see the one which I'm trying to create but the terraform is still stuck in the creating phase itself.

## Expected behavior

ses domain id

[2021-03-26 11:41] paul-uz commented on #1783
Encountered the same issue.

Any work arounds for deploying Cloudformation stacks?

We have a fairly monolithic main template.yml with a load of nested stacks.

[2021-03-26 12:07] paul-uz opened #3788 "Cannot use cloudformation package command"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Trying to run `cloudformation package` to deploy a stack with nested stacks. Tried both `aws` and `awslocal`

[code]

[code]

...

## Expected behavior
Cloudformation package is created and dropped in local s3 bucket
...

## Actual behavior
Command errors out

Using AWS
`aws --endpoint-url http://localhos

[2021-03-26 12:11] vincentippon commented on #1783
If you guys are trying to package a SAM template with AWS CLI, it's simply not possible (`sam package` is not a simple alias). AWS CLI packages Cloudformation stack, SAM CLI packages SAM stack, that's it.

To deploy a SAM stack to Localstack, you need to have a Cloudformation stack, which can be the output of `sam package`.

If you want your SAM CLI to be able to package through Localstack (not th

[2021-03-26 12:18] paul-uz commented on #1783
@vincentippon I'm trying to package an AWS template (using `aws cloudformation package ...`)

[2021-03-26 12:38] vincentippon commented on #1783
@paul-uz If you're working with Cloudformation stack **only**, your problem is different. The author mentionned a "SAM application", which is not the same use case (SAM is not *really* Cloudformation).

[2021-03-26 12:43] paul-uz commented on #1783
@vincentippon ah fair enough. Still, I'm totally unable to use Localstack at rpesent due to the issues with the cloudformation commands not working proeprly.

Is there another way I can test my Lambda functions? I need to use s3, dynamodb and API Gateway (for REST API requests)

[2021-03-26 13:01] vincentippon commented on #1783
@paul-uz Writing as much tests as you can (unit tests and integration tests) **with mocks** is the first step. You can manually deploy a Dynamo/s3 to Localstack with AWS CLI, use the Localstack endpoint in your lambda and invoke your lambda locally, it's not perfect but can help you a bit more.

However, you should be able to deploy your Cloudformation stack to Localstack, you may want to open an

[2021-03-26 13:06] paul-uz commented on #1783
@vincentippon I have opened some issues, just awaiting responses :)

[2021-03-26 13:09] adamarla commented on #1783
To add to what @vincentippon said: If you use localstack for s3, dynamodb, sqs etc. and manually create resources using aws cli, then running `sam local start-api` or `sam local start-lambda` on the same docker network that localstack is on let's you get away with not having to create the lambda definitions at least.

[2021-03-26 13:33] klaymo opened #3790 "Lambda Container Image invalid docker command [pro]"
[x] bug report

# Detailed description

Related to #3727 I am still having issues getting a container image lambda to invoke correctly.
Changes in the latest docker tag seem to have addressed some issues, however, and it is failing in a new way.

The container image does not execute and it appears that the `docker run` command is incorrect/invalid

## Client code (AWS SDK code snippet, or sequence

[2021-03-26 14:34] paul-uz commented on #1783
@adamarla that might have to be the solution I look into until these issues are fixed.

Can you clairfy what you mean by "the same docker network that localstack is on" ? Do you mean if i run localstack on my mac to run on `localhost` I just run `sam` on my mac as well?

[2021-03-26 19:14] rnjailamba opened #3791 "Connect to external url from a Lambda made by localstack"
# Type of request: This is a ...

[x] bug report

# Detailed description

We have Cognito set up with Lambda triggers. The Lambda triggers work well till we do not request an external resource ex. localhost:5432 or google.com. The moment we do this we get an error of "Connection Refused".

## Expected behavior

The external resource should be accessible.

## Actual behavior

[code]

# Steps to rep

[2021-03-26 20:07] mgagliardo commented on #3791
Hello @rnjailamba, have you tried using `LAMBDA_DOCKER_DNS`? It is in the docs, you can setup your own DNS server with that.

[2021-03-26 20:53] whummer commented on #3780
Hey @synfinatic , thanks for reporting. We recently added support for virtual host based addressing for S3 endpoints, which seems to have introduced this regression.

Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-03-26 20:53] #3780 closed

[2021-03-26 21:08] synfinatic commented on #3780
Works for me now.

[2021-03-26 23:33] whummer commented on #3770
Thanks for reporting @ericderegt . Can you please share a few more details about your environment - which Docker image tag/age are you using. The startup logs should contain something like this - can you please share the output:
[code]
Thanks for your help!

[2021-03-27 00:44] rnjailamba commented on #3791
Thanks @mgagliardo @whummer.
2 changes led to the fix -
`LAMBDA_EXECUTOR=docker-reuse` and
removing the quotes around "host"       -` LAMBDA_DOCKER_NETWORK="host"`
Simply hit localhost:8080 within the Lambda and got a 200 back.

[2021-03-27 00:44] #3791 closed

[2021-03-27 01:52] whummer commented on #3790
Thanks for reporting @klaymo . This should (hopefully) be fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks!

[2021-03-27 10:08] rnjailamba commented on #3730
Can confirm this behaviour @whummer . For us all good with sign up and verify but sign in is having problems through `amazon-cognito-identity-js`  libraries `authenticateUser` function

[2021-03-27 11:29] #3790 closed

[2021-03-27 15:18] whummer commented on #3774
Should be fixed in `latest` - please report here if the problem persists. Thanks!

[2021-03-27 15:18] #3774 closed

[2021-03-27 15:27] whummer commented on #3755
Please let us know if there are any other issues @davedash . Thanks!

[2021-03-27 15:27] #3755 closed

[2021-03-27 22:34] whummer commented on #3730
Thanks for the update @danielblignaut @rnjailamba . Looks like we've been able to reproduce this issue, seems to have been related to the persistence mechanism for Cognito. This should now be fixed - can you please pull the `latest` Docker image and give it another try? Please note that you may have to clean out your `DATA_DIR` persistence folder to create a clean state. Please let us know if the

[2021-03-27 22:34] #3730 closed

[2021-03-28 02:42] SaxyPandaBear opened #3793 "ClassNotFoundException triggering Lambda from SQS"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
I'm testing out a lambda function locally. This is a rewrite of something that I had before, which I  had written in NodeJS previously. Now, I have a Scala lambda function, running in Java8. I have a CloudFormation template that I'm using to stand up everything that I need:

[code]

There's no errors creat

[2021-03-28 10:48] osulli commented on #3678
Issue still open.

[code]

[code]

[code]

[2021-03-28 11:31] whummer commented on #3786
Thanks for the pointer @volphy - this release has now also been tagged in Github and published to Pypi:
https://github.com/localstack/localstack/releases/tag/v0.12.8

Also, a new version `0.12.9` will be released shortly. Thanks for your help.

[2021-03-28 11:31] #3786 closed

[2021-03-28 11:51] petervalencic commented on #3768
Have found this strange situation.. If I wait for a while (5 minutes)  after the lambda has been deployed the service will work without any "Class not found exception" (which is strange) but If I deploy the service and invoke it just after that, I will get the error.

[2021-03-28 11:57] petervalencic commented on #3768
And here is the example If I invoke the lambda right after it was deployed:

[code]

[2021-03-29 00:34] Tobolov commented on #3345
Hi @whummer, thanks for the heads up. IAM enforcing works with `ENFORCE_IAM=1` as you have mentioned.
Have found a bug which is hindering its usability though. Tracked in the following issue: https://github.com/localstack/localstack/issues/3709

[2021-03-29 00:34] #3345 closed

[2021-03-29 02:03] adamarla commented on #1783
Mmm not sure I follow your question but yes for sure since it is localstack
the assumption is that you are running stuff in your personal computer. And
yes I meant rubbing Sam local on the same docker network as localstack.

On Fri, Mar 26, 2021 at 9:34 AM paul-uz ***@***.***> wrote:

[2021-03-29 08:16] #3768 closed

[2021-03-29 08:38] mruz commented on #3621
I'm getting the same (500 error and `{}`) on the 0.12.9:
[code]

[2021-03-29 10:10] gnashuk opened #3798 "Deletion of secrets in SecretsManager throws ResourceNotFoundException"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
There seems to be a problem with deleting created secrets using SecretsManager AWS service. The method deleteSecret() throws and exception `Caused by: software.amazon.awssdk.services.secretsmanager.model.ResourceNotFoundException: Secrets Manager can't find the specified secret. (Service: SecretsManager,

[2021-03-29 13:18] petervalencic commented on #3793
Have you tried to wait for aprox. 5-10 minutes? I have almost the same problem.. I have an S3 bucket that triggers a Lambda service.. If I Invoke the service right after deployment I get almost the same error.. If I wait for a while then everything works well..

[2021-03-29 13:25] SaxyPandaBear commented on #3793
If that's what works, I'd like to understand why. I can try it tonight and see

[2021-03-29 14:37] macnev2013 commented on #3635
Thanks for reporting @kjpaladin . We have recently added many improvements in S3. Can you please pull the `latest` docker image and give it another try? Please let us know if the problem persists. Thanks.

[2021-03-29 14:38] rnjailamba commented on #3730
@whummer things work well in the normal case. After deleting a user pool on the GUI we see the older user pool client id being requested like below and then causing errors -

[code]

This is our docker-compose.yml

[code]

and we surprisingly dont see any localstack folder /tmp/localstack

We are on 0.12.9

[2021-03-29 18:56] ericderegt commented on #3770
I don't see the other lines you mentioned, but I see LocalStack version: 0.11.3. I can try to upgrade and see if that fixes the issue. I didn't realize I wasn't on the latest version.

[2021-03-29 19:00] macnev2013 commented on #3613
Hi @bperel , Thanks for reporting. Apologies for the delay.

While sending a request to `localstack` without authorization headers - it returns application status.
In this case while creating **s3_client** the credentials is set to false -> `'credentials' => false`. Due to which localstack is responding with `{status: running}` (application status) instead of listing the buckets.

**Fix:**
You can

[2021-03-29 20:07] whummer commented on #3732
Thanks @simoncollins @macnev2013 . This should be fixed in #3799 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-29 20:07] #3732 closed

[2021-03-29 21:10] mgagliardo commented on #3798
Hello @gnashuk, I am not sure what would be the full code you run, but I have tested this out locally and it seems to be working with the latest Java SDK.

Code:
[code]

Output (You can see the `DeletedDate` value):
[code]

Let me know if you run into any issues.

[2021-03-29 22:17] gnashuk commented on #3798
Hi @mgagliardo, thanks for taking a look at this. I was initialising a localstack with the Docker image version `localstack/localstack:0.12.6`. Now, I have tried the newer versions and the issue is not appearing there. Looks like this bug has been fixed in the version 0.12.7 - https://github.com/localstack/localstack/releases/tag/v0.12.7.

[2021-03-29 22:31] SaxyPandaBear commented on #3793
Waited 25 minutes and got the same issue. Don't think that solves it.

[2021-03-30 03:03] highmtworks opened #3801 "Dynamodb returns 500 for TransactWriteItems with ConditionCheck without hit items"
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description

dynamodb transact-write-items fails with 500 if:
* Update with ConditionExpression
* and ConditionExpression fails,
* and the item of the specified key does not exist

This is not a duplicate of #2745 (maybe by the third condition above.)

See _Steps to reproduce_ section for more details.

...

## Ex

[2021-03-30 05:12] jl-DaDar commented on #3566
I have same problem but I am using python boto3 and I do not have s3ForcePathStyle

[2021-03-30 05:16] macnev2013 commented on #3566
Thanks for reporting @jl-DaDar. Can you please share the error, localstack version and the command you've used to start localstack?
Thanks.

[2021-03-30 05:24] jl-DaDar commented on #3566
` START RequestId: 59208983-e0c9-1537-f3d6-e7c2bc50d677 Version: $LATEST

actually we are not on boto3, but aws cpp sdk

[2021-03-30 05:25] jl-DaDar commented on #3566
we are  on 0.12.7

[2021-03-30 05:27] jl-DaDar commented on #3566
`
auto config = get_config(true);
Aws::S3::S3Client s3_client(config);

Aws::S3::Model::PutObjectRequest request;
request.SetBucket(bucket_name);
request.SetKey(key);

auto sstream = std::make_shared<std::stringstream>();
sstream->write(buffer, buffer_len);

request.SetBody(sstream);
Aws::S3::Model::PutObjectOutcome outcome = s3_client.PutObject(request);
return outcome.IsSuccess();

`

[2021-03-30 05:35] macnev2013 commented on #3566
Thanks for providing the stack trace. If you are using pre-signed url - please make sure that you are using access key and secret key as `test`.
Thanks.

[2021-03-30 05:41] jl-DaDar commented on #3566
we don't use presign url, do we still need to explicitly add access key and secret to config? They are already in environment variable

[2021-03-30 06:12] macnev2013 commented on #3566
Is it possible to provide a small isolated example (a git repo) with deployment instructions? It would help us a lot in debugging the issue.
Thanks.

[2021-03-30 07:27] mgagliardo commented on #3798
Thanks. Closing this now.

[2021-03-30 07:27] #3798 closed

[2021-03-30 08:06] jl-DaDar commented on #3566
sorry i think it was a bug in our code, the request actually went to a real aws service.

[2021-03-30 08:34] ldrag commented on #3766
I am probably facing same problem. I am using localstack docker image 0.12.9 (but the same happened with 0.12.6).
After sending a message with:
`awslocal sqs send-message --message-body "foo" --queue-url <xyz>`

I can see that the message is available in the queue:
[code]

However an attempt to read the massage
`awslocal sqs receive-message --queue-url <xyz>`
has no results.

Looking at the queue

[2021-03-30 08:46] macnev2013 commented on #3566
Thanks for the update @jl-DaDar .

[2021-03-30 08:46] #3566 closed

[2021-03-30 15:57] pinzon commented on #3608
Hi @devkokov I tested your issue against the lates version of local, and the l`istObjectsV2(['Bucket' => 'test']` function does return the list of objects inside the bucket.

Please, try again and let me know if you still have issues.
[reproducer.zip](https://github.com/localstack/localstack/files/6230349/reproducer.zip)

[2021-03-30 18:05] pinzon commented on #3607
Hi @ivy-wei-yang I tested the issue you described with the lates LocalStack version. I also added even more parallel functions but It works perfectly.
I'm guessing it has to do with hardware limitations.

I'm adding the reproducer code so you can tell me if I'm doing something wrong.
After running `docker-compose up` I run  `./run.sh` to deploy the serverless project and run the state machine once

[2021-03-30 18:05] #3607 closed

[2021-03-30 18:32] macnev2013 commented on #3609
Hi @ashameem123 , Thanks for reporting.
Can you please check the following things.
- Make sure to properly set the `HOST_TMP_FOLDER` environment variable for the LocalStack container when using `LAMBDA_REMOTE_DOCKER=false`
- Please make sure the `container_name: localstack_main` or add `MAIN_CONTAINER_NAME` in `environment`
- If you are using `non-default edge port` make sure it is exposed in dock

[2021-03-30 20:03] fugitive90 commented on #3776
I have almost identical setup and every operation with ecr fails with code 400, liike:
`
aws ecr get-login-password --region eu-central-1  --endpoint-url=http://localhost:4566
An error occurred (400) when calling the GetAuthorizationToken operation:`
I am using the latest docker image.

[2021-03-30 21:21] whummer commented on #3726
Thanks @arturo-myota @macnev2013 . This should be fixed in #3800 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-30 21:21] #3726 closed

[2021-03-30 21:21] whummer commented on #3756
Thanks @at-wat @Chanonry @macnev2013 . This should be fixed in #3800 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-03-30 21:21] #3756 closed

[2021-03-30 22:26] at-wat commented on #3756
Thank you! I could confirm that our test works with the latest localstack image!

[2021-03-30 23:20] rnjailamba commented on #3730
A laptop restart fixed the above issue :sweat_smile:. Some docker caching issue.

[2021-03-30 23:33] kbalk opened #3802 "Does LocalStack support the AWS Support API?"
Is it possible to use LocalStack to test the AWS Support API?  If not, are there future plans to support the Support API?

https://awscli.amazonaws.com/v2/documentation/api/latest/reference/support/index.html

Note:  I don't have access to the LocalStack Pro version to try the API from calls there.

[2021-03-31 00:48] tinaboyce commented on #3738
Are there any update on this?

[2021-03-31 01:56] mt-kelvintaywl opened #3804 "Documented steps on integration testing (on python codebases) is not updated"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When running the integration test example (See https://github.com/localstack/localstack#integration-with-nosetests), such that:

[code]

This fails as it turns out a lot of dependencies are required to use `localstack.services.infra.start_infra` under the hood.

Specifically, I had to install the followin

[2021-03-31 07:57] AsterNighT commented on #808
I'm running into this issue installing with `helm upgrade --install localstack localstack-repo/localstack`, and I have env variable
[code]
Is it expected?

[2021-03-31 08:43] nazymko opened #3805 "AssociateTrunkInterface Failing with 500 code"
[ ] bug report
[+] feature request

# Detailed description
AssociateTrunkInterface request failing.

...

## Expected behavior
Association pass successfully
...

## Actual behavior
Failing with 500 code

`
2021-03-31T08:32:25:INFO:localstack.services.edge: Unable to find forwarding rule for host "127.0.0.1:4566", path "POST /", target header "", auth header "", data "b'Action=AssociateTrunkInterfa

[2021-03-31 09:02] mgagliardo commented on #3788
Hello @paul-uz, could you please hand me over the template YAML you are using so I can try to reproduce this? Thanks.

[2021-03-31 09:12] paul-uz commented on #3788
@mgagliardo I cannot pass you the exact template file, but you can literally use any Cloudformation template and you'll get the error I did, assuming you are using the same versions of the tools I used.

[2021-03-31 09:41] luminescent opened #3806 "`LambdaContext.aws_request_id` is not set for Python lambdas in localstack, but it is in the cloud"
# This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am using a localstack docker image and I am deploying a lambda written in Python, using the 3.6 Python runtime.

At runtime, the `context` object (of type [LambdaContext](https://docs.aws.amazon.com/lambda/latest/dg/python-context.html)), that's being passed into the lambda, does not have the `aws_request_id` property s

[2021-03-31 10:34] conan19842002 opened #3807 "Unable to import module lambda"
# Type of request: This is a bug

[x] bug report
[ ] feature request

# Detailed description
I've tried to create a mock lambda function and invoked the function with some payload. However, I got this error
[code]
I then checked if the function was created successfully with the below command:
[code]
and here is output:
[code]
I could not find anything wrong with the way the lambda function was cre

[2021-03-31 11:42] niebaron opened #3808 "CloudFormation: Missing Support for KMS::Alias"
# Type of request: This is a bug

[x] bug report
[ ] feature request

# Detailed description
I am trying to create KMS key and alias with cloud formation. Unfortunately support for ResourceType `AWS::KMS::Alias` seems to be missing.

## Expected behavior
Creating stack with following  CloudFormation template should create kms key and kms alias successfully.
[code]

## Actual behavior
It returns fo

[2021-03-31 12:36] leikoilja commented on #3713
Having the same issue :/

[2021-03-31 13:22] Aornn opened #3809 "[Question] Is it a mandatory to use proxy type in put integration ?"
Hi ! :wave:
I was wondering if it was a mandatory to use --type AWS_PROXY in pu integration method ? Because when I use aws i don't upload my lambda with proxy and everything is great ! But when I upload the same code on localstack it doesn't work so I have modified my handler to use `events.APIGatewayProxyResponse` then my API gateway reply the lambda's response.
So my question is why when i uplo

[2021-03-31 13:50] rnjailamba opened #3810 "Cognito not starting on windows 10 with a valid API Key"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
We are using a similar docker-compose.yml as we are using for mac's to start the localstack process but do not see Cognito starting up. We have verified on `http://localhost:4566/health` as well that `http://localhost:4566/health` does not show `"cognito-identity": "running", "cognito-idp": "running".`

#

[2021-03-31 14:33] pinzon commented on #3607
Hi @ivy-wei-yang I tested the issue you described with the lates LocalStack version. I also added even more parallel functions but It works perfectly.
I'm guessing it has to do with hardware limitations.

I'm adding the reproducer code so you can tell me if I'm doing something wrong.
After running `docker-compose up` I run  `./run.sh` to deploy the serverless project and run the state machine once

[2021-03-31 14:34] mikekauffman commented on #808
I have this same error using Docker. Logs look like this:
[code]

[2021-03-31 14:40] AsterNighT commented on #808
I figure it out myself. It is not localstack, but k8s coredns crashed. If you are running kind, check its dns by `docker exec -it kind-control-plane cat`.

[2021-03-31 15:50] mikekauffman commented on #2457
Facing the same issue. Pasted logs here: https://github.com/localstack/localstack/issues/808#issuecomment-811117474

[2021-03-31 16:00] mgagliardo commented on #3787
Hey @vamshisiddarth, would you please pull the `latest` docker image and give it a try? This should be fixed now. Please comment it out if needed, thanks!

[2021-03-31 16:00] #3787 closed

[2021-03-31 16:01] mlfowler-cbg commented on #3810
Our team is seeing the same behavior as of this morning.

[2021-03-31 16:18] rnjailamba commented on #3810
Can you pull the latest image @mlfowler-cbg . @whummer just pushed a fix and things are good for us now. Closing the issue.

[2021-03-31 16:18] #3810 closed

[2021-03-31 16:21] mlfowler-cbg commented on #3810
@rnjailamba confirmed that fixes the issue for us, too. Thanks for the heads up.

[2021-03-31 16:26] villekr commented on #3739
Some progress but still not there. When running the script 1st time it's fine. But running it immediately again will produce errors i.e. Localstack Timestream is still unusable to developing and testing locally.

LocalStack version: 0.12.9.1
LocalStack build date: 2021-03-31
LocalStack build git hash: 118d0c3

[code]

[2021-03-31 16:50] kbalk commented on #3802
`moto` 2.04 (released today 3/31/2021) provides support for the Support API calls `create_case()`, `describe_cases()` and `resolve_case()`.

[2021-04-01 07:10] whummer commented on #3801
Thanks for reporting @highmtworks . This should be fixed in #3812 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-01 07:10] #3801 closed

[2021-04-01 07:41] ysholomii commented on #3713
I am facing the same issue.

[2021-04-01 07:42] highmtworks commented on #3801
Thank you for the fix!

[2021-04-01 11:58] sebastien-roche-cko opened #3814 "Unable to access ElasticSearch from AWS Lambda through localstack"
# Type of request: This is a ...
[x] bug report
[ ] feature request

# Detailed description
* We have built a lambda pushing data to ElasticSearch.
* Our integration tests rely on localstack to create an ElasticSearch domain + a new AWS Lambda

When we try to access ElasticSearch health endpoint (nothing advanced here) using a simple C# HTTP client, we get an `InternalServerError` as highlighted b

[2021-04-01 12:13] mgagliardo commented on #3814
Hello @sebastien-roche-cko, thanks for reporting this.

Quick question, are you initializing the elasticsearch instance? For example:
`aws --endpoint-url http://localhost:4566 es create-elasticsearch-domain --domain-name domain-test`

Sadly as it is an external service (and it is really slow) it might take a while to start + plugins, ES does not come integrated as a baseline like S3, SES, etc.

Af

[2021-04-01 12:25] amitlevy21 commented on #3777
Maybe this would help https://github.com/localstack/localstack#invoking-api-gateway

[2021-04-01 12:53] sebastien-roche-cko commented on #3814
hey thx for your reply.

We do use an init.sh script to create our infrastructure. here is the part related to ES

[code]

Once created our API will not start before ES is live and running. Integration tests start after this check. Technically all services should be running when integration tests are running. If you pay attention to the logs in the Localstack health endpoint it says
`es: running`

[2021-04-01 13:11] amitlevy21 opened #3815 "Cannot execute step function state machine with API Gateway resource"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description

I want to make an call to API Gateway from step functions as seen in the docs: https://docs.aws.amazon.com/step-functions/latest/dg/sample-apigateway-workflow.html

I ran the machine definition in AWS console step functions.

## Expected behavior

Run without errors.

## Actual behavior
[code]
`"An error

[2021-04-01 13:19] Vmacedo-Daitan commented on #3777
If I invoke a lambda it works, but for the step functions it doesn't work.
If you look at the deploy results two endpoints were created: one for the lambda and one for the step functions.
And for the lambda I get the results below:

[code]

[2021-04-01 14:03] sebastien-roche-cko commented on #3814
note the tests we are running are ran within the TC docker agent so localstack runs within a docker container

[2021-04-01 15:28] jgrzebyta opened #3816 "Latest version docker image cannot start S3 service"
# Type of request: This is a report related with starting s3 service made from the latest Docker image.

[x ] bug report
[ ] feature request

# Detailed description

When I run java integration test it stays hanged on waiting for the service start. Logs inside docker container say that `Service "s3" not yet available, retrying ...`. The test works fine with localstack *0.12.7* image.

My current d

[2021-04-01 17:28] whummer commented on #3806
Fixed in #3811 - thanks!

[2021-04-01 17:28] #3806 closed

[2021-04-01 18:32] whummer commented on #3524
Thanks for reporting @kyle-hiller-nh . This issue is potentially already fixed in #3677 - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks!

[2021-04-01 18:32] #3524 closed

[2021-04-01 18:54] jterry64 commented on #808
I've suddenly started having this same issue as well in the past day, I tried redownloading latest docker images and reinstalling some things but didn't seem to help.

[2021-04-01 20:34] ryantw opened #3818 "Java Lambda, java.lang.ClassNotFoundException"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

When trying to invoke a java8 lambda a java.lang.ClassNotFoundException is thrown.

## Expected behavior

Lambda execution succeeds.

## Actual behavior

Localstack claims that the Handler class can not be found.

# Steps to reproduce

Upload Lambda code:

$ aws --endpoint-url=http://localhost:4566 --regi

[2021-04-01 20:34] ryantw commented on #3818
Serverless can invoke the lambda & code without any issues via:

$ serverless invoke local -f process

[2021-04-01 20:36] ryantw commented on #3818
Here is my docker-compose.yml

version: '3'

services:

  localstack:
    image: localstack/localstack:latest
    ports:
      - 4566-4599:4566-4599
      - 8080:8080 # the localstack admin portal
    container_name: localstack-msgpreproc
    networks:
      - frontend
    environment:
      - SERVICES=sqs,lambda,s3
      - HOSTNAME_EXTERNAL=localstack
      - DEBUG=1
      - DEFAULT_REGION=us-eas

[2021-04-01 21:04] AdamSLevy opened #3819 "Unable to find forwarding rule for host "localhost:4566", path "POST /", target header "secretsmanager.GetSecretValue""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am running the latest version of localstack 0.12.9 and I'm getting the following error when using the AWS golang API to call GetSecretValue.
[code]

## Expected behavior

GetSecretValue should return successfully.

## Actual behavior

HTTP status code 404

# Steps to reproduce

## Command used to start

[2021-04-01 21:27] whummer commented on #3739
Hi @villekr , thanks for the update, and apologies for the delay. This should be (hopefully) fixed in the meantime - can you please give it another try with the `latest` version of the Docker image? Please keep us posted how it goes, thanks!

[2021-04-01 21:27] #3739 closed

[2021-04-02 03:00] mglen opened #3820 "Kinesis calls to DescribeStreamConsumer do not return registered consumers"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Calls to `DescribeStreamConsumer` for the Kinesis service do not return the registered consumer. Calls to `ListStreamConsumers` does correctly show registered consumers.

Filing this issue to document this bug. It looks like `kinesis_listener.py` has mixed naming of `StreamARN` and `StreamArn`, I'll creat

[2021-04-02 16:44] pinzon commented on #3584
This issue should have been fixed with the merge of my latest PR.

[2021-04-02 16:44] #3584 closed

[2021-04-02 16:44] #3498 closed

[2021-04-02 17:05] ryantw commented on #3818
I'm dumb. In my docker-compose.yml I needed to set LAMBDA_REMOTE_DOCKER to true to copy the code to the separate container........

[2021-04-02 17:05] #3818 closed

[2021-04-02 17:38] pinzon commented on #3701
Hi @njofce recently these PR's (#3758 & #3691 ) have been recently merged.
I think they also address this issue.
Please let me know if it still fails.

[2021-04-02 17:38] #3701 closed

[2021-04-02 18:37] #3820 closed

[2021-04-02 21:39] wem opened #3822 "SubscribeToShardEvent.continuationSequenceNumber() returns null on every event on Kinesis"
[x] bug report
[ ] feature request

# Detailed description

The continuationSequenceNumber() on every SubscribeToShardEvent returns null. This makes it hard to test enhanced fan-out with Localstack. As the continuationSequenceNumber() should return null only in the case if the corresponding shard was involved in a resharding.

## Expected behavior

The continuationSequenceNumber() should return th

[2021-04-03 05:51] wem opened #3823 "SubscribeToShardRequest only supports LATEST iterator type on Kinesis"
[x] bug report
[ ] feature request

# Detailed description

The SubscribeToShardRequest has the same capabilities to parameterize shard iterator type and sequence as getShardIterator requests. Unfortunately, the Localstack kinesis_listener don't use the sequence number of the incoming SubscribeToShardRequest on subsequent requests.

localstack/services/kinesis/kinesis_listener.py
[code]

## Expect

[2021-04-03 10:29] whummer commented on #3572
Thanks for reporting @jarrodldavis - there have been a couple of changes around API Gateway, CloudFormation and other APIs. Can you please give it another try with the `latest` Docker image and let us know if the problem still persists? Thanks for your help!

[2021-04-03 19:59] brianmingus2 commented on #3572
@whummer did you get a chance to look at this ticket?

https://github.com/localstack/chalice-local/issues/4

From: Waldemar Hummer ***@***.***>
Sent: Saturday, April 3, 2021 4:30 AM
To: localstack/localstack ***@***.***>
Cc: Brian Mingus ***@***.***>; Manual ***@***.***>
Subject: Re: [localstack/localstack] Chalice + CDK isn't working (#3572)

Thanks for reporting @jarrodldavis<https://github.com/

[2021-04-04 16:39] Hrily opened #3826 "EventBridge: Add support for kinesis target"
# Type of request: This is a ...

- [ ] bug report
- [x] feature request

# Detailed description

Add support for kinesis while creating eventbridge targets

## Expected behavior

An event should be relayed to kinesis.

## Actual behavior

No records in kinesis stream. The following warning is printed in localstack docker logs:

[code]

# Steps to reproduce

1. Start localstack container. I used f

[2021-04-04 18:59] nalhabash opened #3827 "Cannot find handler module when invoking Lambda"
# Type of request: This is a potential bug request

[x] bug report
[ ] feature request

# Detailed description

Hi ! 👋
I'm trying to run a lambda function in a localstack docker container, but when I invoke it I run into this error:
[code]

And in the logs I get:
`localstack    | 2021-04-04T18:45:23.337Z        undefined       ERROR   Uncaught Exception      {"errorType":"Runtime.HandlerNotFound",

[2021-04-04 19:08] cmlara commented on #3608
@pinzon Please reopen this as I am able to duplciate.

I've tested against the latest localstack docker image.

As noted when the AWS client uses Guzzle 6 the client does not return a proper result set, however when the AWS Client connects to an official AWS S3 bucket using Guzzle 6 the aws client returns successfully.

To reiterate were talking about the guzzle version on the client side which is

[2021-04-04 19:45] cmlara commented on #3608
I'll add on a note, I do appear to see LocalStack trying to provide the data in a TCP dump, but it doesn't make it all the way to the S3Client.  I suspect this means its going to be some sort of missing (or extra) response header from localstack, or maybe some sort of encoding problem, but I need to do more diagnostics into that still.

[2021-04-04 19:57] mgagliardo commented on #3827
Hello @nalhabash, as stated in the docs:

[code]

You seem to be missing the volume mount, for example:
[code]

See a very similar issue (if not duplicate) [here](https://github.com/localstack/localstack/issues/3518#issuecomment-768104607).

If you still need help please paste an example of your code so we can further debug.

Cheers!

[2021-04-04 19:57] #3827 closed

[2021-04-04 20:27] mgagliardo commented on #3819
Hello @AdamSLevy, could you please show the fullcode you are using for this? I am running the following with no issues.

Create the secret:
[code]

main.go:
[code]

output:
[code]

Which is exactly the same as the awscli output:

[code]

[2021-04-04 20:30] AdamSLevy commented on #3819
Thank you. I'll dig in and figure out where the implementations differ and report back this week.

[2021-04-04 20:39] cmlara commented on #3392
@marcelopm Just a bit of a post issue close feedback for you, another issue was created after yours  in #3608 and they tracked it down to using guzzlehttp/guzzle:^6 with the AWS SDK.  I'm hoping they will reopen the other issue as Guzzle 6 on the client works with the official AWS servers.  Just wanted to point out that one line difference between your test that worked and failed.

[2021-04-04 20:47] mgagliardo commented on #3819
Sure thing, one side comment, I have also tested this out with a binary secret and no issues with it, example below:

[code]

[code]

output
[code]

In any case I'll wait for your response. Cheers.

[2021-04-04 21:44] mgagliardo commented on #3807
Hello @conan19842002, looks like you might have issues either with your code and/or your docker-compose (if you are using that). Please check the config below, it should work for you.

docker-compose.yml
[code]

lambda_function.py (hardcoded access/secret keys and changed main function to `lambda_handler`):
[code]

Process/command line arguments:
[code]

Please note the following argument, the `--

[2021-04-04 21:44] #3807 closed

[2021-04-05 00:23] cwilliamsonslyp commented on #3693
We have pro accounts. Is there a specific configuration required besides adding `LOCALSTACK_API_KEY` as a container environment variable to enable the layer functionality?

[2021-04-05 02:26] AdamSLevy commented on #3819
Did you use the same version tag for the aws go sdk?

[2021-04-05 05:34] nalhabash commented on #3827
Hi @mgagliardo ! Thanks a lot for the example ! Setting the proper `HOST_TMP_FOLDER` and a couple more things helped, and lambda gets invoked !!

A few points that were unclear to me in the docs:

- That `HOST_TMP_FOLDER` folder that I need to mount to /tmp/localstack doesn't need to be where my lambda handler code is.
- When creating the lambda with the `--code` option and S3Bucket set to `__loca

[2021-04-05 07:26] Indosaram opened #3828 "StepFunctions cannot start due to NoCredentialsError"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
I'm running localstack with awslocal command in Ubuntu 20.04. I tried to execute my StepFunction with awslocal cli and docker-compose, but both have failed.

I have working aws cli, which had set by running `aws configure`, and in `~/.aws` directory my config and credentials are fine.

...

## Expected be

[2021-04-05 07:53] sats17 commented on #2631
Hi @macnev2013 ,

Do we require any configuration changes to use this feature ?

Thanks.

[2021-04-05 07:57] cmlara commented on #3608
On further testing this appears to be caused by 0.11.1 (and beyond) adding the `content-encoding: identity` response header.

In Guzzle 6 this appears to cause an issue where Guzzle is unable to return the response stream which means the XML is never parsed.

AWS  Buckets do NOT return this response header which is why Guzzle 6 clients work against AWS but not localstack.

While on initial glance

[2021-04-05 09:25] John-D8 opened #3829 "SSM - get parameters by label doesn't work"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description

After adding a SSM parameter and labeling it, trying to get all parameters with the same label returns no parameters.

## Expected behavior

Parameter returned

## Actual behavior

No parameters returned

# Steps to reproduce

1) Add a parameter
2) Label the parameter version
3) Try to get parameters by

[2021-04-05 10:00] mgagliardo commented on #3827
1. Correct, ir does not need to be where your code is, you just need to
make sure the environment variable is set and the volume is mounted.
2. I am not sure but I think you can use both. An example i always have
that works is:

 localstack_init/lambda.sh
[code]

docker-compose.yml
[code]

As you can see it is a full path but exposed as env var. So that should
work for sure.

Hope it helps. Cheers

[2021-04-05 11:43] magno32 commented on #3706
I also have this issue.  To me it looks like an issue with nested stacks.  I've included a simple reproducible example.

1. Start localstack: `docker run --rm -p 4566:4566 -p 4571:4571 -p 8080:8080 -e LOCALSTACK_API_KEY=******  -e DEBUG=1 localstack/localstack-full`
2. `cdklocal bootstrap`
3. `cdklocal deploy ErrorExampleStack` *SUCCESS*
4. `cdklocal deploy ErrorExampleNestedStack` _**FAILS**_

[e

[2021-04-05 14:39] BeyondMySouls commented on #2631
Hi,

Indeed, been struggling with this for some days since this feature was released but it did not work for me either.

[2021-04-05 14:49] whummer commented on #2631
Thanks for the update @sats17 @BeyondMySouls . Generally, the new feature (S3 bucket subdomains, i.e., virtual host based bucket addressing) should be working without configuration changes, as the code is still backward compatible with path-based addressing.

Can you please share some details about your environment setup - where exactly are you seeing this error, and which action / API call trigge

[2021-04-05 15:19] sats17 commented on #2631
Hi @whummer,

My docker-compose.yml have configurations which in below gist link.
https://gist.github.com/sats17/1e45e717d68ef271f43d394625de4bcd

I was trying to create S3 snapshot repo from elastic search (6.7.0). I have done all prerequisites like bucket creation, installing s3 plugin on elasticsearch and setting up access key and secret key.
Following curl command which I am using to elasticse

[2021-04-05 17:06] BeyondMySouls commented on #2631
On my side, `curl -X GET "http://my-bucket.localhost:4566"` failed but it did work with the other endpoint: `curl -X GET "http://my-bucket.s3.localhost.localstack.cloud:4566"`

[2021-04-05 17:06] sats17 commented on #2631
Hi @whummer ,

Yes it is working with endpoint http://s3.localhost.localstack.cloud:4566

[2021-04-05 17:15] mgagliardo commented on #3819
No, I am using `v1.38.12` which is the latest but bugfix so backward compatible version, so you should be able to upgrade and use it as well I guess.

[2021-04-05 17:19] pinzon commented on #3608
Hi @cmlara of course. I'll take a look again with you feedback.
Thank you for your help.

[2021-04-05 17:54] mgagliardo commented on #3819
Just a small edit, I have check'd out to `v1.32.8` and no issues, both with plaintext string and base64 encoded. I am closing this as I could not reproduce this with both latest and the same version you are pointing to. Feel free to comment out. Cheers

[2021-04-05 17:54] #3819 closed

[2021-04-05 18:41] mgagliardo commented on #3814
Hello @sebastien-roche-cko, I have just tested this out with the same setup but different code as I am using python, but either way it should work.

See my setup:

docker-compose.yml:
[code]

code:
[code]

Commands (pretty straightforward):
[code]

Is this compliant with what you are trying to test? Please check the only different (I think I have used the same `docker-compose.yml`) is that I am ca

[2021-04-05 21:45] whummer commented on #3706
Thanks for reporting @kenbarnettpt @magno32 . This should (hopefully) be fixed in #3830 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-04-05 21:45] #3706 closed

[2021-04-05 21:56] whummer commented on #3776
Thanks for reporting @conan19842002 , and apologies for the long delay. We haven't been able to replicate the issue you've been facing - potentially there could be an issue with your API key. Can you please get in touch with us directly to discuss the details (via email or Slack)? Thanks for your help!

[2021-04-05 21:56] #3776 closed

[2021-04-05 22:03] whummer commented on #3770
Thanks for the update @ericderegt . Looks like you're using a fairly old version of the Docker image (the latest version is `0.12.9`, and we have pushed various changes and improvements since `0.11.3`). Can you please do a `docker pull localstack/localstack` and give it another try? Please keep us posted how it goes. Thanks!

[2021-04-05 22:03] #3770 closed

[2021-04-06 05:17] Frederick888 commented on #3766
I've also bumped into this problem... have never seen it under Linux before, but it does happen from time to time under macOS.

Sometimes it happens after my laptop is waken up from sleep but I tested it out and still wasn't able to reproduce it stably, so not sure if this is actually relevant.

[2021-04-06 08:07] sebastien-roche-cko commented on #3814
Hey! Thx for your time! it looks good to me.

Can you confirm you run localstack within a docker container? In our case this fails when we run this within the team city docker agent.

[2021-04-06 08:11] mgagliardo commented on #3814
Hello @sebastien-roche-cko, that is correct, as you can see I am running localstack using the `docker-compose.yml` posted there, `latest` version.

[2021-04-06 08:13] sebastien-roche-cko commented on #3814
Indeed, I mean do you call docker-compose from within a docker container.

So you have a docker container running few other docker containers

[2021-04-06 08:14] mgagliardo commented on #3814
I am not understanding the question? I am just running localstack with that docker-compose file, just regular `docker-compose up` to see the logs and then execute the lambda.

[2021-04-06 08:16] sebastien-roche-cko commented on #3814
Teamcity offers you the ability to isolate your tests by running them IN a docker container. It means TeamCity creates a docker container and then within it, it calls `docker-compose`. It's a `docker in docker` use case.

[2021-04-06 08:20] mgagliardo commented on #3814
Ah, that makes sense. Let me check that out and get back to you.

[2021-04-06 08:54] conan19842002 commented on #3776
Hello,

Thank you for your reply. However, the issue still persists. Can you let me
know what steps you have done to reproduce the issue please?

Best wishes,
An

---

An Nguyen

https://www.linkedin.com/in/annguyen1984

On Mon, 5 Apr 2021 at 22:57, Waldemar Hummer ***@***.***>
wrote:

[2021-04-06 09:19] luminescent opened #3832 "What to do about failing boto3.client('sts').get_caller_identity()?"
# Type of request: This is a ...

[ ] bug report
[x] feature request

I chose feature request but it's more of a request for advice!

# Detailed description

I am trying to create some lambdas in localstack. The create process fails because of this line of code:
`        aws_identity = boto3.client('sts').get_caller_identity()`

Which fails with this exception:

[code]

Which presumably means that

[2021-04-06 10:13] mgagliardo commented on #3814
Allright, I have done some test, for example if you run this locally using the [docker-compose](https://hub.docker.com/r/docker/compose/) image and setting everything up, you should be able to run the same docker-compose.yml I pasted before and access to it using `host.docker.internal` or `environ['LOCALSTACK_HOSTNAME']` should also work.

For example:

[code]

Please note in this case this is not

[2021-04-06 10:16] mgagliardo commented on #3814
I am closing this as this is unrelated to localstack's core. Please add any further comments if needed, I would be more than glad to help. Cheers!

[2021-04-06 10:16] #3814 closed

[2021-04-06 10:32] mgagliardo commented on #3832
Hello @luminescent, have you tried pointing your boto3 client to localstack's ENV var?

Example code (tested and working):

[code]

output:
[code]

[2021-04-06 10:52] luminescent commented on #3832
Thank you, I didn't point to it as I didn't know what URL to use.

It looks to be "http//$LOCALSTACK_HOSTNAME:4566" and I think that is what I needed to know, so that's excellent!

I also didn't know if localstack has implemented support for getting the identity.

I am closing this as it looks to do what I need. I will reopen if I don't get it to work.

[2021-04-06 10:52] #3832 closed

[2021-04-06 13:28] applike-ss opened #3833 "S3 Content-Length issue with AWS Go SDK"
# Type of request: This is a bug

[x] bug report

# Detailed description
When adding a file to a bucket and then reading it via to go sdk, i do get a content-length of 0, while the entries body is actually filled and when reading it out has the expected length. This is since v0.11.5, v0.11.4 did work

## Expected behavior
ContentLength property should be filled in aws go sdk

## Actual behavior
Co

[2021-04-06 13:32] magno32 commented on #3706
@whummer This appears to have fixed that issue.

However, I'm getting more errors as well (that appear unrelated to me).  I'll do some digging an pin a new ticket if needed.

Thanks for pushing this.

[2021-04-06 15:25] sebastien-roche-cko commented on #3814
I don't think it's related to a network issue.

* I can access `localstack` on port 4566 with no difficulty. When querying the health endpoint I get all the running services
* However, I cannot access elastic search's health endpoint through port 4571. In that case, I get a connection refused.

I don't know what components is returning the log below but it says `connection refused` whenever I try

[2021-04-06 15:41] mgagliardo commented on #3814
I am not saying it is exclusively a network issue, but `connection refused` describes not an application error but a network error.
Issues related to this might be:
* The ES instance indeed is not starting correctly
* You are not pointing to the right ES instance.

Whether localstack runs or not into an internal network has little to do with this, if you are mapping 1:1 the port on the docker comp

[2021-04-06 15:46] mgagliardo commented on #3814
One more thing, you could try using (as a hack/workaround to this) `<SERVICE>_BACKEND` as explained in the docs and add your own/custom elasticsearch instance in the docker-compose.yml.

[2021-04-06 17:20] Aornn opened #3836 "Impossible to do request from lambda to another container"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Hi here is my probleme i want to call an api on another container so i had set LAMBDA_DOCKER_NETWORK on host to be sure I can. but every time i run my lambda I get
[code]
...

## Expected behavior
I expect to get an response like this from my lambda :
[code]

# Steps to reproduce
here is my dockerfile :
[c

[2021-04-06 19:28] pinzon commented on #3592
Hi @VanRoy sorry for my very late answer, some issues take more time than expected.
I see that you already made a fix and it has been merge.
So I'm closing this issue.

[2021-04-06 19:28] #3592 closed

[2021-04-06 19:59] sagarjunnarkar commented on #1732
Above answer helped me to solve same problem for me.
I am using **s3fs** and I followed https://s3fs.readthedocs.io/en/latest/#self-hosted-s3
[code]
When you create lambda function at that time s3fs and hence aiobotocore is initialized.
It requires ENV, and endpoint url. Otherwise you will get 403.

This solved my 403 forbidden issue for me.

[2021-04-06 21:06] mgagliardo commented on #3836
Hello @Aornn, have you tried running everything inside the same docker network? Can you also run a `docker inspect $container_name` on both the lambda function and your own API container to see if both are on the same network/IP segment?

This sounds to me like a network issue, but I might be wrong.

Example:
[code]

[2021-04-06 21:15] pinzon commented on #3766
Hi, I just made a script to try to force what you're saying. I've been running it for several hours but everything seems to work fine.
Could you try it? [reproducer.zip](https://github.com/localstack/localstack/files/6267595/reproducer.zip)
this are my results:
[code]

[2021-04-06 21:44] mgagliardo commented on #3836
Hello again, I have just confirmed this works with the following setup, indeed you need to use the same network (and also add `http://` to your POST request).

docker-compose.yml:
[code]

lambda:
[code]

myapi Dockerfile:
[code]

myapi:
[code]

create-function:
[code]

Invoke output:
[code]

[2021-04-06 21:45] mgagliardo commented on #3836
I am closing this as it looks like it could be solved with the proposed solution. Add any further comments if needed. Thanks

[2021-04-06 21:45] #3836 closed

[2021-04-06 22:06] hackerhasid opened #3837 "cdklocal deploy fails with error"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description

Deploy command returns failure status and error. However most (maybe all?) resources are created successfully (though names seem off, see comment below)

I am running MacOS Big Sur, docker 20.10.0, localstack 0.12.9.1, cdk 1.97.0, latest cdklocal from npm (installed today).

First I ran

which ran just f

[2021-04-07 01:03] hackerhasid commented on #3837
Found another oddity that may be related. The DynamoDB table was created but the name seems off.

Notice that I set an environment variable here `TABLE_FORM_DEFINITIONS ` that's passed to lambda expressions: https://gist.github.com/hackerhasid/87e26fe810c179223ad61a3afe019449#file-myappstack-ts-L20 . The table name there is `FormDefinitions149A813C` and that's what in the environment variables. Bu

[2021-04-07 01:51] johnmee commented on #1743
YMMV, this solved it for me: `docker container prune`

[2021-04-07 04:36] Frederick888 commented on #3766
@pinzon Tested yours and a slightly modified version (see below). wasn't able to reproduce it... Just turned on Docker experimental features and hopefully I can get a [checkpoint](https://docs.docker.com/engine/reference/commandline/checkpoint/) next time it happens

[code]

[2021-04-07 06:09] 346180990 opened #3838 "Deployment project"
# Type of request: This is a ...

[ ] bug report
[ ] feature request

# Detailed description

I want to use localstack as the production environment. I see that localstack is a test and development environment. Is there any problem for localstack as a production environment

## Expected behavior

...

## Actual behavior

...

# Steps to reproduce

## Command used to start LocalStack

...

## Clien

[2021-04-07 06:33] VanRoy commented on #3592
@pinzon thanks a lot.

[2021-04-07 07:16] Aornn commented on #3836
Tanks for all, I feel a little silly. Because I did not think that I had to create the network. Now it's obvious.

[2021-04-07 07:26] mgagliardo commented on #3836
Don't be, nothing is ever `obvious` in IT, glad I could help. Cheers mate.

[2021-04-07 07:28] mgagliardo commented on #3838
Hello @346180990, as explained on the official documentation, LocalStack provides an `easy-to-use test/mocking framework` for developing Cloud applications. That being said, localstack is a testing framework and is recommended to run only CI tests/integration/etc. or for developing on your local machine, and `it is not meant` for production use.

Please let us know if there's anything else we can

[2021-04-07 07:28] #3838 closed

[2021-04-07 08:45] sebastien-roche-cko commented on #3814
Hey!

thx for your answer I'm trying that out.

Can you confirm that
* By doing that localstack will create the new domain using this new backend (and hence will not use the es provisioned in ES)?
* That I should query ES using the port 4571 and localstack proxy will forward the call to the new backend

In conclusion, the back-end should be invisible from my code. It's just something localstack wi

[2021-04-07 08:52] mgagliardo commented on #3814
As far as I am concerned:
* All calls related to ES (i.e. `/_cat/health`) should be pointed to the ES instance (i.e. `elasticsearch:9200`).
* All calls related to the ES service (i.e. `awslocal es create-elasticsearch-domain..`) should be done through localstack (port `4566`)

But this is should be pretty straightforward to test locally, I am kinda busy ATM but will test some time during the day.

[2021-04-07 10:27] RodriGuerra98 opened #3840 "create_integration_response cannot create a custom responseTemplate"
# Type of request: This is a ...

[ ] bug report
[ X] feature request

# Detailed description
I am trying to run the combo of APIGW + Lambda asynchronously. Everything is working find but in the response of the APIGW I need to receive the requestId of the Lambda.  I guess the problem is in this line: https://github.com/localstack/localstack/blob/801109efe81da5d0cb943c7f73ec750b36da5f91/localstack/

[2021-04-07 10:42] ldrag commented on #3766
@pinzon I was able to reproduce the problem with the script you provided but modified to set a smaller MessageRetentionPeriod. The lower it is the sooner the massages are not received (actually I was even able to set it to a value lower than AWS minimum -> 60).
An example result for a queue created with retention period 60, ie.

[code]

[2021-04-07 14:59] John-D8 opened #3841 "Cognito - InitiateAuth - client metadata not passed in Migration lambda trigger event"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When configuring a Migration lambda trigger in Cognito, then calling InitiateAuth to the Cognito service while passing some data in the ClientMetadata property, this data is not passed on to the lambda function inside the event.

## Expected behavior

ClientMetadata is expected to be passed in the event s

[2021-04-07 16:31] latkins commented on #2527
I have this issue, using `LocalStack version: 0.12.9.1`.

[2021-04-07 17:04] synfinatic opened #3842 "/health endpoint should return `endpoint` names, not `service` names"
# Type of request: This is a ...

[ ] bug report
[X ] feature request

# Detailed description

Basically:
https://github.com/localstack/localstack#service-health-checks

But this really sucks because AWS doesn't always use the service name as the API endpoint name that you need to override.  For example, you don't connect to `cloudwatch`, you have to connect to `monitoring`.  And some services hav

[2021-04-07 20:41] #3669 closed

[2021-04-07 22:00] whummer commented on #3842
Thanks for this suggestion @synfinatic . The `/health` check endpoint is basically using the same service names as the ones that can be configured for the `SERVICES` configuration variable. We're basically using the service names defined in the [`boto3` library](https://boto3.amazonaws.com/v1/documentation/api/latest/index.html).

Happy to make any adjustments in the service names to better suit y

[2021-04-07 22:21] whummer commented on #3384
Thanks for reporting @joro550 . This should be fixed in #3825 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-04-07 22:21] #3384 closed

[2021-04-08 09:52] simoncollins commented on #3732
Thanks @whummer ... my code is still not working with the latest image but it may well be something wrong I'm doing so I'll have to debug further.

[2021-04-08 11:35] riceyrice commented on #3601
Still seeing exactly this using `localstack/localstack:latest` with no API key, should I be?

[2021-04-08 12:00] riceyrice commented on #3601
Still seeing this with latest image (no API key):
[code]

[2021-04-08 14:01] hackerhasid commented on #3837
This issue turned out to be related to Community vs Pro edition.

[2021-04-08 14:01] #3837 closed

[2021-04-08 14:10] hackerhasid opened #3850 "Localstack does not allow SES Template with HtmlPart but no TextPart despite AWS allowing it"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description

Cannot create SES Template via Cloudformation without Text Part.

A simple CDK stack with only a single resource - an SES Template - fails to deploy to localstack unless the TextPart of the template is set. This behavior differs from that of actual AWS which allows the template to be deployed.

The error

[2021-04-08 15:25] whummer commented on #3850
Thanks for reporting @hackerhasid . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-08 15:25] #3850 closed

[2021-04-08 15:57] pinzon commented on #3766
@ldrag could you provide more info in your setup? I'm still unable to reproduce even with the lower retention period.

[code]

[2021-04-08 16:44] BenderRodrigez commented on #3071
@whummer I just tested the same test case as before with the `latest` version of Localstack and everything looks fine to me. No more issues. Thank you!

[2021-04-08 19:41] pinzon commented on #3777
@Vmacedo-Daitan For the moment, creating the step-function with an http even returns a second endpoint which is not correct, to access the apigateway resources you need to use the first endpoint: ` http://localhost:4566/restapis/7pk96ejbe6/local/_user_request_`

To verify that your step-function resource exists you could use the command  `awslocal apigateway get-resources --rest-api-id $API_ID` an

[2021-04-08 19:45] pinzon commented on #3590
@nazymko even thou testcointainers is different project, I provided the fix in their repo.
It's just waiting to be merged so I'm gonna close this issue.

[2021-04-08 19:45] #3590 closed

[2021-04-08 22:34] fredliporace opened #3851 "DynamoDB streams records seem to be always "NEW_AND_OLD_IMAGES" regardless the configuration"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Thanks for this awesome project!

It seems to me that the records generated by DynamoDB streams are always set to "NEW_AND_OLD_IMAGES" no matter how it is configured.

## Expected behavior

```StreamViewType``` and the remaining stream records should follow the configuration.

## Actual behavior

```Strea

[2021-04-09 00:55] Frederick888 commented on #3766
I can also reproduce the issue using my script with message retention set to 30:

[code]

[2021-04-09 01:17] steowens opened #3852 "Cannot run Localstack unit tests in gitlab. Gitlab does not instantiate the appropriate docker infrastructure to accommodate the containers needed to run the unit tests."
# Type of request: This is a ...

[ ] bug report
[ ] feature request
[*] blocking usability issue

# Detailed description
I am able to use the Localstack on unit tests when executing maven install on my laptop. However I would like those same unit tests to execute on a gitlab CICD pipeline.  I have yet to find an example of any gitlab-ci.yml file which will actually allow this to happen.  To make

[2021-04-09 06:29] ldrag commented on #3766
I am starting localstack as one of the services in my docker-compose. The interesting part looks like this:
[code]
The container output reveals I am running version 0.12.9:
[code]

I also have a simple init script in `docker-entrypoint-initaws.d` volume:
[code]

I hope this will be helpful for you.

[2021-04-09 12:36] joro550 commented on #3384
Looks like this now gives me a destination, thanks!

[2021-04-09 14:10] diegosasw opened #3853 "Delete route for API Gateway unsupported API DELETE"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description
Delete route in localstack for API Gateway websocket api is not supported
...

## Expected behavior
[code]
to delete the route with given Id

...

## Actual behavior
[code]
...

# Steps to reproduce

## Command used to start LocalStack
[code]
...

## Client code (AWS SDK code snippet, or sequence of "awslo

[2021-04-09 19:00] Vmacedo-Daitan commented on #3777
Hi! @pinzon when I curl the first URL the server throws the error below:

[code]

[code]
Here is the function code:
[code]

[code]

[2021-04-09 23:43] carlos-kubra opened #3855 "SQS never becomes "ready" - stuck in "Waiting for all LocalStack services to be ready""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
SQS queues don't start correctly, and seem stuck in a starting state.

I am running local stack in Docker using docker compose with the following configuration:
[code]

I am attempting to connect using a container running a Java application in the same `Docker Daemon` but in a different `container`.
These

[2021-04-10 00:24] mgagliardo commented on #3855
Hello @carlos-kubra, quick question (maybe I did not understand clearly). You are running both applications at the same time from what I can see on the docker-compose.yml, but your Java app immediately starts running requests to localstack even if it is not up and running healthy? Is that so?

A couple things:
* Have you tried [waiting for](https://github.com/kassambara/docker-compose-wait-for-con

[2021-04-10 10:29] John-D8 opened #3857 "Cognito - InitiateAuth with Migration script throws UserNotFoundException"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

Trying to authenticate using a migration lambda trigger which returns an existing user (exists in custom DB, does not exist yet in Cognito), results in a UserNotFoundException being thrown instead of returning successfully with tokens.
Same workflow works in real AWS Cognito.

## Expected behavior

Initia

[2021-04-10 10:58] whummer commented on #3852
Thanks for reporting @steowens . Can you please share some details about your use case - ideally a small sample repo to allow us to reproduce this issue.

Which services are you using in your tests? In particular, Lambda functions can become a bit tricky to get working in CI environments (as the Lambda API is spawning new Docker containers to run the functions), but most of the other APIs should a

[2021-04-10 13:24] #3608 closed

[2021-04-10 21:39] whummer commented on #3857
Thanks for reporting @John-D8 - this should (hopefully) be fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-10 21:39] #3857 closed

[2021-04-10 21:40] whummer commented on #3841
Thanks for reporting @John-D8 - this should (hopefully) be fixed in the meantime. Can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-10 21:40] #3841 closed

[2021-04-11 07:53] John-D8 commented on #3857
Seems to work, thanks!

[2021-04-11 07:53] John-D8 commented on #3841
Seems to work, thanks!

[2021-04-11 11:03] whummer commented on #3829
Thanks for reporting @John-D8 . This should be fixed in #3854 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-04-11 11:03] #3829 closed

[2021-04-11 19:57] ShaunParsons opened #3860 "Unable to create a VPC"
# Type of request: This is a ...

[ x ] bug report
[ ] feature request

# Detailed description

Trying to create an RDS database in localstack pro, but I'm not able to create a VPC in localstack.

## Steps to reproduce

### docker-compose.yml
[code]

### Cloudformation
Cloudformation generated with the following CDK construct:

[code]

`vpc-test.template.json`
[code]

Deploying with `cdklocal`

[c

[2021-04-11 19:58] rnorth commented on #3816
We've noticed the same in some of our test builds that were using the latest tag. With a little experimentation, I've found that 0.12.8 is OK, 0.12.9+ is not. I've not had time to dig any further, but it seems like the regression is between these two versions.

[2021-04-11 19:59] ShaunParsons commented on #3860
Looking at it the key issue I think is:

[code]

[2021-04-11 20:29] rnjailamba opened #3861 "Cognito user pool not getting created and awslocal command failing"
# Type of request: This is a ...
[x] bug report
[ ] feature request

# Detailed description
We started localstack as normal today with latest tag and then with 0.12.9 tag version. The result of http://localhost:4566/health is `{"services": {"apigateway": "running", "cloudformation": "running", "cloudwatch": "running", "lambda": "running", "logs": "running", "cognito-identity": "running", "cognito-

[2021-04-11 21:15] whummer commented on #3861
Thanks for reporting @rnjailamba. There appears to have been a temporary glitch in our CI build pipeline. This should be fixed in the `latest` Docker image in the meantime.

[code]

[code]

Please let us know if the problem persists. Thanks for your help!

[2021-04-11 21:15] #3861 closed

[2021-04-11 21:41] rnjailamba commented on #3861
A laptop restart fixed this (trying to find out why) but additional information on the case is that earlier in the day i had run the following to clean all images, volumes -
[code]

[2021-04-12 00:02] johnmee opened #3863 "MalformedPolicyDocumentException Resource must be in ARN format or <wildcard>"
I'm a little stuck with this one and appsync.  I am using the "pro" version under the free trial period.

`botocore.errorfactory.MalformedPolicyDocumentException: An error occurred (MalformedPolicyDocument) when calling the PutRolePolicy operation: Resource /aws/appsync/apis/3908675c must be in ARN format or "*"`

The Cloudformation template, at the offensive point, reads

[code]

Which appears ve

[2021-04-12 07:55] mruz commented on #3697
I have the same issue on 0.12.9. It's working on 0.12.7.

[2021-04-12 07:55] whummer commented on #3860
Thanks for reporting @ShaunParsons . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-12 07:55] #3860 closed

[2021-04-12 11:55] stevenpila commented on #3600
Hi, any updates on this one? we are also encountering the same problem.

[2021-04-12 11:55] ylebon-vf opened #3864 "Localstack v0.12.9.1 complaining about missing policy when removing permission"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
When upgrading localstack version to 0.12.9.1 **_lambda_client.remove_permission_**  throws exception related to missing policy ressource.

The  lambda function

lambda_.Function(
            self,
            "lambda-name",
            function_name="function-name",
            runtime=lambda_.Runtime.PY

[2021-04-12 12:06] whummer commented on #3777
Thanks for reporting @Vmacedo-Daitan . The issue with `UnboundLocalError` should be resolved in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks

[2021-04-12 18:09] carlos-kubra commented on #3855
Hi @mgagliardo thanks for your quick reply, I have tried to start localstack up independently of the Java app and I still observe the same `Waiting for all LocalStack services to be ready`.
I also get the same error running my Java app outside of Docker (locally) and waiting for localstack to become healthy. The odd part here is the health endpoint shows `{"status": "running"}` in either scenario

[2021-04-12 19:44] ShaunParsons commented on #3860
Thanks @whummer I can confirm its fixed.

[2021-04-12 19:47] YOU54F commented on #2514
nicely done @yaitskov! and @whummer for merging 🚀

I'll close this issue dow, I've not tested it out yet. feel free to nudge me if it needs reopening

[2021-04-12 19:47] #2514 closed

[2021-04-13 06:31] Hakuyume opened #3865 "IsTruncated becomes PascalCase in ListMultipartUploads."
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

`ListMultipartUploads` returns `<IsTruncated>False</IsTruncated>` where other APIs (e.g. `ListObjects`) return `<IsTruncated>false</IsTruncated>`. [Rusoto](https://github.com/rusoto/rusoto) does not work with localstack since it assumes lowercase.
## Expected behavior

Returns `<IsTruncated>false</IsTrunc

[2021-04-13 07:22] whummer commented on #3594
Fixed in #3858 - thanks again!

[2021-04-13 07:22] #3594 closed

[2021-04-13 09:00] mgagliardo commented on #3802
This should be solved now. Please let us know if you have any comments. Cheers!

[2021-04-13 09:16] mgagliardo commented on #3864
Hello @ylebon-vf, could you please show a bit more of the code you are using, example commands, etc.? I was unable to reproduce this, example below:

[code]

[code]

[code]

[code]

[code]
(Which is expected, the policy does not exist and the AWS CLI fails on purpose).

[2021-04-13 09:30] mgagliardo commented on #3855
Hello again @carlos-kubra, thanks for answering.
I know it might sound silly but have you tried removing cached stuff (i.e. tmp or data directories which might), also pulling the `latest` docker image?

I have tried it myself with the latest image on my machine and could not reproduce the issue, I am guessing this is something local to your machine, specs:
[code]

DEBUG:
[code]

[code]

[2021-04-13 10:33] FreakyTea commented on #3816
Same here - got stuck in a
[code]

loop and getting an error after sometime, after which the container starts again. Using `0.12.9.1` and `latest`. With `0.12.8` everything works fine.

**Error:**
[code]

[2021-04-13 10:34] victorsmirnov opened #3866 "ECS service not starting"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

In short: What should I do to start ECS service in paid version.

Additional note: I managed to run ECS service sometimes ago. I saw it working and creating tasks. Now it is not working.

Run localstack in docker-compose. Below is extract from `docker-compose.yml` file:

[code]

## Expected behaviour

ECS

[2021-04-13 11:35] aliaksei-sych commented on #3822
Localstack version: 0.12.9.1
AWS SDK V2 Java: 2.16.18

It totally blocks usage of enhanced fanout feature, we are using kcl 2.0 enhanced fanout, aws checks if this field is null then throws exception
https://github.com/awslabs/amazon-kinesis-client/blob/master/amazon-kinesis-client/src/main/java/software/amazon/kinesis/retrieval/fanout/FanOutRecordsPublisher.java#L489

[2021-04-13 11:46] mgagliardo commented on #3865
Created https://github.com/localstack/moto/pull/17 to fix this

[2021-04-13 12:26] mgagliardo commented on #3865
Once moto new release gets to localstack this will be solved. For now I'm closing this. Thanks for reporting it!

[2021-04-13 12:26] #3865 closed

[2021-04-13 14:07] yonatandbinahai opened #3867 "Cognito - ForgotPassword with migration lambda not working"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When calling Cognito ForgotPassword API for a user that doesn't exist in a user pool, and the user pool has a defined user migration lambda trigger - the migration lambda is not called, and an InternalServerError error is being thrown.

## Expected behavior

The migration lambda should be called with `Use

[2021-04-13 18:51] yangzhang21 commented on #3782
any update on this? I see an issue similar......
 ERROR: 'docker run --user=root --cap-add=NET_ADMIN --entrypoint=/tmp/301c00b4.sh --dns 127.0.0.1 -e AWS_LAMBDA_FUNCTION_MEMORY_SIZE=123 -e _LAMBDA_RUNTIME=python3.8 -e .............................exit code 127; output: b'WARNING: Localhost DNS setting (--dns=127.0.0.1) may fail in containers.\n85db1691b216cd3748177b9562492caf3f1be63ec3bfca7220d32f

[2021-04-13 19:19] davidrhoderick opened #3868 "API ID hash in URL deteriorates developer experience"
DISCLAIMER: Sorry if this is a bit of a naive question, I'm just getting started with `localstack`, `serverless`, and `docker-compose`.

# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description

I'm curious whether there is a way to override or make the `<apiId>` predictable.  When developing locally, every session of running localstack requires updating the fro

[2021-04-13 19:20] carlos-kubra commented on #3855
I have not removed cached items just yet but I have run `pip install --upgrade --no-cache localstack`. I will attempt to clear every docker image out and restart from a clean state.

[2021-04-13 19:35] carlos-kubra commented on #3855
I have removed all local docker containers/images and rebuilt.

[code]

[code]

[2021-04-13 19:41] flemzord opened #3869 "CostExplorer Support"
# Type of request: This is a ...

[ ] bug report
[x ] feature request

# Detailed description
It's possible to add Support for CostExplorer API ?
...

## Expected behavior

...

## Actual behavior

...

# Steps to reproduce

## Command used to start LocalStack

...

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

...

[2021-04-13 20:31] mgagliardo commented on #3855
Are you using the localstack python client? Please note it might have side effects while using it on OS like Mac (i.e. firewall, 'privacy'  - settings - issues) as it tries to open ports on your local machine and listen on every interface, and Mac has side effects for that.

Could you please try on a clean directory using docker-compose (or docker run)?

[2021-04-13 21:21] carlos-kubra commented on #3855
This does fix it for me, thank you!

[2021-04-13 21:25] mgagliardo commented on #3855
Glad to help. Cheers

[2021-04-13 21:25] #3855 closed

[2021-04-13 23:23] tinaboyce commented on #3738
@usmangani1 are there any update on this?

[2021-04-13 23:27] tinaboyce commented on #3738
Updated original post to say `ssm.StringParameter.valueFromLookup(this, regionSSMPath);` does return the value but I need to use `ssm.StringParameter.valueForStringParameter(this, regionSSMPath);` instead.

[2021-04-14 06:42] yangzhang21 opened #3871 "invoke lambda from image"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
1. I created a dummy lambda, which just print out a string and return
2. I built a docker image for this lambda and pushed it to localstack ecr repo, localhost:4510
3. I created an iam role and attached it to a new lambda function
4. all above steps ran successfully
5. I invoked the lambda function, after

[2021-04-14 08:57] LukeP91 opened #3872 "EventBridge trigger on localstack defaults to default event bus even though a new one is passed."
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
Hi, I’m having trouble with setting up Serverless function with EventBridge trigger on custom event bus on localstack. It looks like even though I set custom event bus name as described in documentation of serverless and the event bus is created and event target has correct event bus set. The event rule st

[2021-04-14 11:54] whummer commented on #3851
Thanks for reporting @fredliporace . This should be fixed in #3862 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-04-14 13:56] barend commented on #808
I had this same issue and eventually found a way to make localstack start up. For me the workaround was to explicitly assign the s3 (sub-)hostname to the container in docker-compose.

[code]

[2021-04-14 14:59] victorsmirnov commented on #3866
This is my fault, I am very sorry for the trouble. I used wrong API Key.

I have created subscription, cancelled it and created new one when we decided to use pro version of localstack in the company. But I massed with the files and left old API Key in my `.env` file. Today I was going to create the most simple test case with only one service using docker compose and discovered that the key is wro

[2021-04-14 14:59] #3866 closed

[2021-04-14 15:46] vincentcrowe4airelogic opened #3873 "Lambda invocation via event sources does not trigger LAMBDA_FALLBACK_URL or LAMBDA_FORWARD_URL"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

## Expected behavior

specified url (e.g. LAMBDA_FALLBAK_URL) is invoked because lambda in event source mapping does not exist

...

## Actual behavior

specified url is not invoked
localstack reports the following warning
2021-04-14T15:19:47:WARNING:localstack.services.awslambda.lambda_api: The resource specified in the reques

[2021-04-14 19:11] ShaunParsons opened #3874 "RDS Missing required parameter in input: "DBSubnetGroupName""
# Type of request: This is a ...

[ x ] bug report
[ ] feature request

# Detailed description

Unable to create an RDS instance. I'm not sure if I'm missing something here?

## Expected behavior

RDS instance created.

## Actual behavior

[code]

# Steps to reproduce

## CDK

[code]

## Command used to start LocalStack

`docker-compose up -d localstack`

### docker-compose.yml
[code]

[2021-04-14 23:07] johnmee commented on #3863
I might add that the pathname `/aws/appsync/apis` is encoded into the serverless appsync plugin here:
https://github.com/sid88in/serverless-appsync-plugin/blob/ff5d166edb75e9d10fc1f8af3bf64784f19cfb33/src/index.js#L431

[2021-04-15 00:54] giangvo opened #3877 "Error when using `HOST_TMP_FOLDER` with Java runtime Lambdas"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am getting "An error occurred (ValidationError) when calling the CreateFunction operation: Unable to extract Java Lambda handler - file is not a valid zip/jar file" when trying to create a Lambda function with `HOST_TMP_FOLDER` enabled

Docker compose:
[code]

`/path/to/lambda-java/target` is the place

[2021-04-15 08:55] DanielMarquesBus opened #3878 "LocalStack: Cloudformation Stack Filtering not working as expected"
# Type of request: This is a ...

[ x ] bug report
[ ] feature request

# Detailed description

When I try to list stacks and filter the stack status, it lists all the stacks rather than filter them out.

I saw someone had this issue before and was meant to be fixed, but doesnt seem like its fixed:
- https://github.com/localstack/localstack/issues/2698

## Expected behavior

Stacks should be filte

[2021-04-15 10:05] whummer commented on #3874
Thanks for reporting @ShaunParsons . This should (hopefully) be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-15 10:05] #3874 closed

[2021-04-15 15:29] fredliporace commented on #3851
@KrishnanRanjithkumar @whummer thanks for looking into that.

I confirm that the latest image solves the reported case with awslocal commands but I'm still getting NEW_AND_OLD_IMAGES types for INSERT events when reading the DynamoDB streams by a lambda function (for  MODIFY events the type is the expected one).

Could not isolate if the problem origin is the integration through lambda or the parti

[2021-04-15 15:48] macnev2013 commented on #3697
Thanks for reporting the issue @mruz . We tried to reproduce the issue but its working.
Below are the commands we used.
[code]
Are we missing something? Is it possible to provide steps to reproduce the issue? Thanks.

[2021-04-15 16:26] driverpt opened #3879 "Dynamodb BatchWriteItem not Throttling Properly"
# Type of request: This is a ...

[ X ] bug report
[ ] feature request

# Detailed description

On BatchWriteItem if items are throttled, we are expected to receive a list of `UnprocessedItems` in the response instead of HTTP 500

## Expected behavior

Receive HTTP 200 but with Unprocessed Items in the response: https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteItem.html

[2021-04-15 16:32] driverpt commented on #3879
Update: Just lowered the probability to 0.2 and i can confirm that there's no partial failures for the BatchWriteItem requests

[2021-04-15 17:26] whummer commented on #3823
Thanks for reporting @wem . This should be fixed in #3875 - can you please pull the `latest` Docker image and give it another try? Please report here if the problem persists. Thanks!

[2021-04-15 17:26] #3823 closed

[2021-04-15 17:46] ShaunParsons commented on #3874
Thanks @whummer I can confirm thats fixed.

[2021-04-15 18:09] efenderbosch commented on #3697
My issue has code in to to reproduce: https://github.com/localstack/localstack/issues/3713

[2021-04-15 18:23] ShaunParsons opened #3880 "Feature Request: ApiGatewayV2::Authorizer"
# Type of request: This is a ...

- [ ] bug report
- [x] feature request

# Detailed description

ApiGatewayV2::Authorizer not implemented

## Actual behavior

[code]

# Steps to reproduce

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

[code]

[2021-04-15 23:00] fhsgoncalves commented on #3766
We are also experiencing this behavior on version 0.12.9, but we also tested against versions 0.11.6 and 0.10.9 and the issue was still occurring.

Interesting is that it only occurs when I have 4 or 5 processes receiving messages from different queues locally, but with just one process and one queue, everything is ok.

The workaround I'm using for now is to set `SQS_PROVIDER` env var to `elasticm

[2021-04-16 01:14] yangzhang21 commented on #3871
This issue seems to be fixed after loading the latest build and changing networks section for "network_mode: bridge".

[2021-04-16 01:14] #3871 closed

[2021-04-16 07:49] #3864 closed

[2021-04-16 07:50] mgagliardo commented on #3864
Marking this as closed as I did not get a response. Please post here if you have any findings. Cheers

[2021-04-16 09:10] felipeprabor commented on #3816
I've got the same issue here. The s3 service is working only in version 0.12.8

[2021-04-16 10:39] mgagliardo commented on #3877
Hello @giangvo, could you be a bit more explicit? For example your output code clearly exposes that your `file is not a valid zip nor jar file`.

I am testing this up using [some aws sample code](https://github.com/awsdocs/aws-lambda-developer-guide/blob/main/sample-apps/java-basic) and it is looking good to me.

On the other hand, there's no need to point your `HOST_TMP_FOLDER` to the target fold

[2021-04-16 10:39] #3877 closed

[2021-04-16 13:24] Nevett opened #3881 "Persistence vs SQS Long Polling - Persistence enabling per service?"
# Type of request: This is a ...

[x] bug report
[x] feature request

I think this is a bug in that it is behaviour that will cause a bad experience for many developers, and I'm suggesting a feature change that would allay it.

# Detailed description

We use [SQS Long Polling](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-short-and-long-polling.html) (specifying `W

[2021-04-16 13:34] clearmechris opened #3882 "S3 Service not starting on Ubuntu"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
s3 service will not start on ubuntu desktop, fails in an infite loop d
...

## Expected behavior
s3 service will start and be available locally.

...

## Actual behavior
This goes on forever:
Waiting for all LocalStack services to be ready
2021-04-16T13:29:52:WARNING:localstack.services.plugins: Service "

[2021-04-16 14:12] John-D8 opened #3883 "Cognito - trying to delete users empty user pool throws "user pool not found" instead of "user not found""
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When trying to delete a user as admin from an empty user pool, Cognito cannot find the user pool although the pool exists.

## Expected behavior

UserNotFoundException should be thrown

## Actual behavior

ResourceNotFoundException is thrown ("Cannot find resource: Unable to find user pool <user pool id>"

[2021-04-16 14:17] mgagliardo commented on #3882
Hello @clearmechris, would you please try with the docker image? We strongly advise to do so as the localstack binary (The one you install with `pip`) has some downsides like firewalls, issues with permissions/selinux.

You can test that out by doing (for example):

[code]

Or using the `docker-compose.yml` example on the repo. It would also help to see some debug logs if you won't use the docker

[2021-04-16 14:37] mgagliardo commented on #3873
Hello @vincentcrowe4airelogic, thanks for reporting this, can I have the example code you are using so as to test this out? Thanks!

[2021-04-16 14:41] #3528 closed

[2021-04-16 15:13] mgagliardo commented on #3692
Hello @jenskelkel, sorry for the delayed answer, it looks like there's an issue with your docker compose configuration as were missing  you are using `docker-reuse` when it should be `docker`.

In any case, this has worked for me smoothly:

docker-compose.yml:
[code]

main.tf:
[code]

output:
[code]

[2021-04-16 15:13] #3692 closed

[2021-04-16 16:20] sjmittal-plenty commented on #3822
Any idea when the fix of this would be available. Is there any workaround we can do in the meantime.

[2021-04-16 16:25] whummer commented on #3883
Thanks for reporting @John-D8 . This should be fixed in the meantime - can you please give it another try with the `latest` Docker image? Please let us know if the problem persists. Thanks for your help!

[2021-04-16 16:25] #3883 closed

[2021-04-16 16:26] whummer commented on #3853
Thanks for reporting @diegosasw . This should be fixed in the meantime - can you please give it another try with the `latest` Docker image? Please let us know if the problem persists. Thanks for your help!

[2021-04-16 16:26] #3853 closed

[2021-04-16 18:25] pinzon commented on #3822
Hi, sorry for the delay, in a moment I'm gonna take a look so tomorrow should be fixed.

[2021-04-16 18:28] pinzon commented on #3766
@ldrag thank you for sharing your setup. When I run localstack inside a docker container and subscribe the queue , some messages stop being received.
So I'm trying to fix it.

[2021-04-16 22:20] lvieirajr commented on #3697
I have the same issue, code works in production running on actual s3, and also works when I downgrade to 0.12.7, but either 0.12.8 or 0.12.9(latest) fail with `localstack.services.s3.s3_listener: Presign signature calculation failed: <Response [403]>`

[2021-04-16 23:48] whummer commented on #3880
Thanks for reporting @ShaunParsons . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-04-16 23:48] #3880 closed

[2021-04-16 23:59] GonzaloSaad commented on #3878
Hello! Are you accepting any help on this issue? Or is it already a work in progress? I'd like to contribute!

[2021-04-17 08:31] DanielMarquesBus commented on #3878
Hi Gonzalo, as far as I know, no one seems to be working on it unless Whummer is doing something? Thanks for the help!

[2021-04-17 13:31] GonzaloSaad commented on #3878
Yes! I saw he assigned himself! Just for the fun at least I'll get into it! Is my first time actually in the code of localstack :eyes:, so wish me luck haha!

[2021-04-17 14:51] whummer commented on #3772
Thanks for reporting @AritraWork97 . This is now supported in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if there are any issues. Thanks!

[2021-04-17 14:51] #3772 closed

[2021-04-17 16:27] whummer commented on #2980
This should be (hopefully) fixed in the meantime. Please let us know if the problem persists with the `latest` Docker image. Thanks for your help!

[2021-04-17 16:27] #2980 closed

[2021-04-17 16:32] whummer commented on #3878
@GonzaloSaad please feel free to pick up this item - a PR would be much appreciated! 👍

[2021-04-17 16:41] whummer commented on #3782
Thanks for reporting @securisec @yangzhang21 . We've recently pushed a couple of enhancements for Lambda execution - can you please pull the `latest` Docker image and give it another try?

Please ensure that the `HOST_TMP_FOLDER` environment variable is defined properly - it should point to the absolute path of the tmp folder on your host system (outside Docker) that gets mounted as `/tmp/localsta

[2021-04-17 17:12] whummer commented on #3681
Thanks for reporting @hirano00o and apologies for the delay. This should be fixed in the meantime - can you please pull the `latest` LocalStack Docker image, restart all containers, and then give it another try? Please let us know if the problem persists. Thanks for your help!

[2021-04-17 17:12] #3681 closed

[2021-04-17 22:26] whummer commented on #3767
Thanks for reporting @rldw . We've pushed a couple of changes which should (hopefully) resolve this issue. Can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists - let's continue the conversation on issue #3649. Thanks!

[2021-04-17 22:26] #3767 closed

[2021-04-17 22:26] whummer commented on #3649
Thanks for reporting @andres-bayon . We've pushed a couple of changes which should (hopefully) resolve this issue. Can you please pull the latest Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-17 22:26] #3649 closed

[2021-04-17 22:28] Keloran opened #3888 "APIGateway on CloudFormation can't find ref on resource"
# Type of request: This is a ...

[x] bug report

# Detailed description
Trying to generate an apigateway using
[code]
but it can't generate the method due to the Ref for CreateAccountResource not being found

...

## Expected behavior
Build the CloudFormation and the APIGateway
...

## Actual behavior
[code]
...

# Steps to reproduce

## Command used to start LocalStack
[code]

Command to launch

[2021-04-17 22:31] whummer commented on #3674
Thanks for reporting @stevenpila . This has also been reported in https://github.com/localstack/awscli-local/issues/38 - can you please give it a try with the latest version of the pip package and let us know if the problem persists? Thanks for your help.

[2021-04-17 22:31] #3674 closed

[2021-04-18 01:01] securisec commented on #3782
I am not certain if it is fixed in the latest pulled container.

I am getting this error when executing a lambda function via api gateway in the way as stated in the OP.

[code]

It works fine in production, and my lambda functions are written in go, being deployed both locally and prod via terraform, and a quick googling shows this is a python error, and the only thing python is localstack. So my

[2021-04-18 09:16] sjoukedv commented on #3777
I'm also not able to call the endpoints, probably due to localstack proxy error:

[code]

However, using ` sls invoke stepf --stage local --name helloStateMachine` returns in the console

`[object Object]`

And LocalStack logs show the StateMachine execution was succesfull (ending with)

`2021-04-18 09:07:50.160: [200] DescribeExecution <= {"sdkResponseMetadata":null,"sdkHttpMetadata":null,"execut

[2021-04-18 11:18] whummer commented on #3782
Thanks for the update @securisec . Just to confirm - you are only seeing this behavior in Pro, and not in the community version, is that right? Do you think you could help us with a small, isolated example to reproduce this issue? This would be super helpful, thanks in advance.

[2021-04-18 12:03] whummer commented on #3713
Thanks for the update @efenderbosch @leikoilja @ysholomii . Can you please verify if the issue still exists with the `latest` Docker image? If you can provide a small, isolated example we'll be happy to look into it in more detail. Thanks!

[2021-04-18 12:09] whummer commented on #3635
Closing as should-be-fixed - please let us know if the problem persists @kjpaladin

[2021-04-18 12:09] #3635 closed

[2021-04-18 12:10] whummer commented on #3613
Closing as "should be fixed" - please let us know if the problem persists @bperel  . Thanks

[2021-04-18 12:10] #3613 closed

[2021-04-18 12:12] whummer commented on #3609
Closing as "should be fixed" - please let us know if the problem persists with the `latest` Docker image  @ashameem123 (please pull from Docker Hub). Thanks!

[2021-04-18 12:12] #3609 closed

[2021-04-18 12:43] whummer commented on #3828
Thanks for reporting @Indosaram . Can you please share some details about your project. From the log output you've posted it seems that the error is actually printed from a Lambda invocation. Any chance you can share the StepFunction definition and Lambda scripts with us? This would make it quite a bit easier to replicate and debug this issue. Thanks

[2021-04-18 14:45] whummer commented on #3805
Thanks for reporting @nazymko . This should be fixed in b0a496a - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-18 14:45] #3805 closed

[2021-04-18 17:38] yangzhang21 opened #3890 "sqs trigger lambda image issue"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description
Similar deployment/configuration as the issue described in https://github.com/localstack/localstack/issues/3871

1. I created a dummy lambda, which just print out a string and return
2. I built a docker image for this lambda and pushed it to localstack ecr repo, localhost:4510
3. I  created an iam role an

[2021-04-18 18:29] securisec commented on #3782
Thanks @whummer . I will try to put together a small repo that will demonstrate this behavior. But I have been able to narrow down the issue to the authroizer lambda when this error is triggered.

When running on v 0.12.6, everything works fine (on community) as expected.

But when I switch to latest and use pro (only time the authroizer function gets executed), i am getting the error.

I set the

[2021-04-18 18:36] securisec commented on #3782
### TLDR: It is the authorizer function that is causing the issue. In `pro`, the authroizer function is supposed to trigger and pass correctly, but it is crashing.

I will work on setting up a small repo for you to test this out @whummer , but in the meantime, this is what I have tried.

Switch back to version 0.12.6 community, and everything works as expected (the api gateway lambda triggers fine

[2021-04-18 22:48] KrishnanRanjithkumar commented on #3851
Thanks for reporting @fredliporace . We'll look into the issue and update you soon.

[2021-04-19 00:20] yangzhang21 commented on #3890
somehow I think I might find the possible reason for this scenario. it's because when i create the queue, i set visibility timeout too short. It should be longer than the function timeout. After I made the change, the multi-instance invocation issue seems solved. But then I found another issue. After the queue and lambda functions are deployed, if I continue to send messages to sqs to trigger more

[2021-04-19 02:18] GonzaloSaad commented on #3878
I was able to reproduce it on my end :partying_face: ! Working in the solution :muscle:

[2021-04-19 07:35] DJanyavula commented on #2527
Still have this issue with latest version. I observed that smaller files are restored properly, I have issue with restoring larger files. I tested with file of < 1 MB and another file with size 1.6 GB. All multipart uploads for 1.6 GB sized file requests failed
` 2021-04-19 07:22:15,910:API: 127.0.0.1 - - [19/Apr/2021 07:22:15] "PUT /test/test.csv?uploadId=m5tZebYm451AEkNHoH6Mn9VCJ8Z89mkAZoHfum8Z6

[2021-04-19 08:05] DJanyavula commented on #682
Hi, is this feature already available in localstack? I too have observed that my containers are keeping all the data in memory

[2021-04-19 09:14] leikoilja commented on #3713
Looks like `latest` works perfectly now, thanks a lot, @whummer

[2021-04-19 12:14] efenderbosch commented on #3713
Latest works for signing, but multipart tags still do not work.

[2021-04-19 13:23] whummer commented on #3776
Hi @conan19842002 , thanks for your message. Looks like the `LOCALSTACK_API_KEY` environment variable is missing in the `docker-compose` config above. Can you please reach out via email to `info@localstack.cloud` - we'll be very happy to look into it! Thanks for your help.

[2021-04-19 13:52] demianchuk opened #3891 "Listing of objects at s3 is not working while using php sdk"
# Type of request: This is a bug report

# Detailed description
I creates s3 bucket using awslocal and added at that bucket images. As you see at screen 1 - I can list files inside a bucket using a prefix at url: http://localhost:4566/ct-dev-cms/?prefix=landing-page

![screen1](https://user-images.githubusercontent.com/19871155/115245869-a93ad880-a125-11eb-836d-d0c8faf821b7.png)

But while using p

[2021-04-19 15:54] macnev2013 commented on #3891
Thanks for reporting the issue @demianchuk .

Looks like this issue is similar to #3613. Lets us know if this does not help. Thanks

[2021-04-19 18:00] rnjailamba opened #3893 "awslocal cloudformation deploy not working with valid API key"
# Type of request: This is a ...

[ x] bug report
[ ] feature request

# Detailed description
We are trying to make a producer-consumer eventbridge based system work on local machine. This is the exact example we are trying to get running.
We are trying to deploy the stack locally using the template.yml but it is not deploying.

## Expected behavior
Cloudformation deploy should work with localstac

[2021-04-19 18:02] duongpv7 commented on #3833
Hi @applike-ss, can you share your Go code to help us reproducing this issue?
Thanks

[2021-04-19 19:26] ShaunParsons opened #3894 "CDK::Metadata"
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description

Unable to deploy

## Expected behavior

...

## Actual behavior
[code]

# Steps to reproduce

## Command used to start LocalStack

[code]

### docker-compose.yml
[code]

## Client code (AWS SDK code snippet, or sequence of "awslocal" commands)

[code]

[2021-04-19 20:56] rnjailamba commented on #3893
`samtranslator.model.exceptions.InvalidDocumentException: [InvalidResourceException('atmProducerFn', "'CodeUri' is not a valid S3 Uri of the form 's3://bucket/key' with optional versionId query parameter."), InvalidResourceException('atmConsumerCase1Fn', "'CodeUri' is not a valid S3 Uri of the form 's3://bucket/key' with optional versionId query parameter."), InvalidResourceException('atmConsumerC

[2021-04-19 20:57] #3893 closed

[2021-04-19 22:30] rnjailamba commented on #3788
@mgagliardo i am facing the same issue and can provide the template.yaml to test this out. CC @whummer

create-package.sh

[code]

template.yml
[code]

[2021-04-20 07:58] kigawas opened #3897 "Dead letter queue "Message contains invalid characters" error on SQS triggered lambda"
# Type of request: This is a ...

- [x] bug report

# Detailed description
When a SQS triggered lambda raises some error, the message should go to dead letter queues. However:

[code]

# Steps to reproduce

## Lambda code
- package.json
[code]
- index.js
[code]

## SQS params
- sqs_params.json
[code]

## Commands

[code]

Now you'll see the error due to incorrect handler, let's fix it:

[code]

[2021-04-20 08:42] mgagliardo commented on #3897
Hello @kigawas, thanks for reporting this.
Could you please share a bit more details about your setup, docker version, docker image you are using, etc? I am testing this using the`latest` image and I could not reproduce this.

One little tihng, please note the handler should be `index.handler`, not including the function name as specified [on the command flag](https://docs.aws.amazon.com/cli/lates

[2021-04-20 10:54] whummer commented on #3788
Thanks for the update @rnjailamba . As discussed via Slack, this is likely an issue with using AWS CLI v2, which is not packaged as a pypi library, and hence not directly supported for use with `awslocal`. Some more details and a workaround can be found here: https://github.com/localstack/awscli-local#Limitations (please note that Python 3.x is required, as Python 2.x is not supported any more). P

[2021-04-20 10:54] #3788 closed

[2021-04-20 12:22] whummer commented on #3600
Thanks for reporting @jbward1 . This should be fixed in #3889 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-20 12:22] #3600 closed

[2021-04-20 12:44] kigawas commented on #3897
Please set a wrong handler intentionally. I posted the commands above.

[2021-04-20 13:35] whummer commented on #3894
Thanks for reporting @ShaunParsons . This should be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-20 13:35] #3894 closed

[2021-04-20 14:11] vincentippon commented on #3025
Hello there, is this supposed to be resolved ? I currently have this issue using local LAMBDA_EXECUTOR, should I open a new issue or is it related ?

[2021-04-20 14:55] mgagliardo commented on #3897
Could you elaborate a bit more the right behaviour? If I understand correctly the error is fine [according to the docs](https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html), please correct me if I'm wrong:

[code]

And:

[code]

So the function keeps actually retrying and that is why you see the message as NotVisible, which makes sense:

[code]

[2021-04-20 15:01] #3882 closed

[2021-04-20 15:07] clearmechris commented on #3882
It seems like neither work, here are the logs that are generated by the
container failing when starting up s3

On Fri, Apr 16, 2021 at 10:17 AM Miguel Gagliardo ***@***.***>
wrote:

[2021-04-20 15:09] mgagliardo commented on #3897
Yes, that seems correct. I'll close this as duplicate. Thanks.

[2021-04-20 15:09] #3897 closed

[2021-04-20 15:45] luminescent opened #3898 "How to trust custom root certificate on the lambda container"
# Type of request: This is a ...

[ ] bug report
[x] feature request

# Detailed description
I need to add a custom root certificate in the trusted certificates in the lambda container - the transient one which runs the lambda. How do I do that?

## Expected behavior
Some sort of hook, maybe via volumes, that allows passing in a root certificate such that it can be added to the trusted certificate

[2021-04-20 16:58] maturiaditya opened #3899 "dynamoDB stream event passing "Keys":null"
# Type of request: This is a ...

[X] bug report
[ ] feature request

# Detailed description

Hi, I am connecting stream from dynamo DB to lambda. Currently, I am seeing the event data is passing "Keys":null. I am not sure if this is expected behavior or there is a bug there.
...

## Expected behavior
Keys should have values
...

## Actual behavior
Keys: null
...

# Steps to reproduce

## Command

[2021-04-20 17:23] rnjailamba commented on #3788
We removed the python packages and reinstalled by `pip3 install awscli-local[ver1]` and` pip3 install --upgrade awscli` and the above problems went away.

[2021-04-20 17:33] KrishnanRanjithkumar commented on #3899
Thanks for reporting @maturiaditya . Could you please share same code samples to reproduce the issue?

[2021-04-20 18:25] luminescent commented on #3898
Actually after reading various docs it looks like we could use `SSL_CERT_FILE` and `SSL_CERT_DIR`, or, in the case of `boto3`, `AWS_CA_BUNDLE`. The file/files have to be distributed with the lambda, and getting their full path on the container is obtained by prefixing them with `/var/task`. Eg `AWS_CA_BUNDLE='/var/task/myRootCertsBundle.pem'`.

[2021-04-20 18:25] #3898 closed

[2021-04-20 18:30] ShaunParsons commented on #3894
Yep I can confirm this now works.

[2021-04-20 18:34] ShaunParsons opened #3900 "AWS::ApiGatewayV2::Authorizer: Parameter validation failed: Missing required parameter in input: "ApiId""
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description

Unable to add routes to an ApiGatewayV2 with Authorizer.

## Expected behavior

ApiGatewayV2 routed added with Authorizer

## Actual behavior

[code]

# Steps to reproduce

## Command used to start LocalStack

[code]

### docker-compose.yml

[code]

## Client code (AWS SDK code snippet, or sequence of

[2021-04-20 19:09] maturiaditya commented on #3899
Thanks for the response @KrishnanRanjithkumar.
I am trying with some sample code and it looks like it's working. Something wrong with my project config I suppose, false alarm here. Thanks.

[2021-04-20 19:09] #3899 closed

[2021-04-20 19:24] ShaunParsons opened #3901 "Can not deploy Lambda inside VPC"
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description
I'm trying to deploy a lambda inside a VPC, but I'm getting the below error. I am able to deploy an RDS instance inside the VPC (commented out in the sample code, commenting that and removing the lambda should succeed)

## Expected behavior

Lambda deployed inside the VPC.

## Actual behavior

[code]

[2021-04-20 20:21] mgagliardo commented on #3882
Hello @clearmechris, I can't see the logs, can you please paste them? Thanks.

[2021-04-20 20:30] clearmechris commented on #3882
Sure, I am away from my machine at the moment, let me shoot you them later
on when I get home.

If we could keep this open that would be great, from memory its a python
null object pointer

Chris

On Tue, Apr 20, 2021 at 4:21 PM Miguel Gagliardo ***@***.***>
wrote:

[2021-04-20 20:38] mgagliardo commented on #3882
Sure, thanks. I'll reopen it as soon as I reproduce it.

[2021-04-20 20:41] rnjailamba opened #3902 "EventBridge putEvents giving 500 InvokeError"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
We are putting an event in EventBridge by
  `const result = await eventbridge.putEvents(params).promise()`
for eventbridge initialised by
[code]
but getting
`
2021-04-20T20:28:30.381Z	ace0652e-56fa-12fa-7286-fb01f0d092a1	ERROR	Invoke Error 	{"errorType":"UnknownError","errorMessage":"","code":"UnknownErro

[2021-04-20 21:37] cbellinz opened #3903 "Error invoking docker container lambda function"
# Type of request: This is a ...

[*] bug report
[ ] feature request

# Detailed description

This pertains to:

Localstack Pro
LocalStack build date: 2021-04-20
LocalStack build git hash: de598454

Goal: Use Localstack to host a lambda function that uses a docker container as execution environment

I have successfully done the following:

1. Uploaded docker container to Localstack ECR using aws c

[2021-04-20 21:50] whummer commented on #3902
Thanks for reporting @rnjailamba . Looks like the Lambda CLI expects base64 encoded inputs under certain circumstances. I think you may want to add something like this to your invocation:

[code]
(We'll improve the error logging on LocalStack side for this case..)
Please keep us posted how it goes, thanks!

[2021-04-20 22:15] whummer commented on #3878
Thanks for contributing a fix @GonzaloSaad ! 👍 (@DanielMarquesBus the fix will become available in the `latest` Docker image shortly..)

[2021-04-20 22:15] #3878 closed

[2021-04-20 22:40] jbylund opened #3904 "Document How to Profile Localstack"
# Type of request: This is a ...

- [ ]  bug report
- [x] feature request

# Detailed description
I wanted to start investigating an issue where localstack takes ~15s to reach a "ready" state with s3 being the only service.  I found some profiling related decorators in localstack.utils.analytics.profiler but it wasn't immediately obvious to me what the procedure to profile localstack startup was.

[2021-04-20 23:03] rnjailamba commented on #3902
@waltercool i moved to AWS CLI V2 to run this but still see the same issue. Putting all the details below
`awslocal lambda invoke --function-name test10-lambda-766bad5e --region us-east-1 --invocation-type Event --payload '{"test":"123"}' --cli-binary-format raw-in-base64-out response.json
`
[code]
`aws --version`
`aws-cli/2.1.38 Python/3.8.8 Darwin/19.4.0 exe/x86_64 prompt/off`
Adding relevant lo

[2021-04-20 23:20] whummer commented on #3900
Thanks for reporting @ShaunParsons . This should be (hopefully) fixed in the meantime - please let us know if the problem persists in the `latest` Docker image. Thanks!

[2021-04-20 23:20] #3900 closed

[2021-04-20 23:22] sindrig opened #3908 "API gateway MOCK integration internal server error"
- [x] bug report
- [ ] feature request

# Detailed description

Creating an api gateway mock integration response and calling it results in an internal server error:

[code]

Looks like this regression was introduced in https://github.com/localstack/localstack/pull/3539. That fits the timeline when my project stopped building.

## Expected behavior
The mock response is returned

## Actual behavior

[2021-04-21 01:13] Indosaram commented on #3828
Thank you for the comment. The step function itself only contains a single lambda function, which returns default 200 status response.

[2021-04-21 01:14] waltercool commented on #3902
@rnjailamba While I do use localstack for my architecture, I don't cover lambda functions with localstack, so can't help from my side  :-(

Or you wanted to tag whummer and picked me by mistake? :-)

[2021-04-21 01:23] rnjailamba commented on #3902
Thanks for the help, yes i made a mistake there but thanks for the reply :)

[2021-04-21 03:41] zhoub opened #3910 "HOSTNAME_EXTERNAL + S3 Presigned URL"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

By definition the docker-compose service as this
[code]
With override to define the port
[code]

From another docker program, create the session
[code]
It works with regular S3 operations.

But when creating a presigned url for an object such as
[code]

The URL starts with "http://localstack" not external

[2021-04-21 04:02] seibelj opened #3911 "Protecting API Gateway with COGNITO_USER_POOLS returns error: "Unable to get Cognito identity (404)""
# Type of request: This is a ...

[ X ] bug report
[ ] feature request

# Detailed description
I am trying to protect an API Gateway resource using:

[code]

Everything appears to be setup properly. I can get the JWT from Cognito in localstack. When I pass it with `Authorization` head (`Bearer ...`) to the API, I get the error:

[code]
The docker container has logs:
[code]

When I don't pass the J

[2021-04-21 05:30] pweissenbacher opened #3912 "AWS .NET SDK: Presigned Urls with ResponseHeaderOverrides are not working properly"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
The issue was already being observed during #3522. The behavior of LocalStack using v4 signatures has indeed improved, but when using `ResponseHeaderOverrides` the signature still fails.

[code]

This problem also persists when creating the `ContentDisposition` string with standard .NET methods:
[code]

A

[2021-04-21 07:11] diegosasw commented on #3902
I don't use lambda myself, but does the same happen if you pass a `--payload file://test_payload.json` instead of the inline json?

[2021-04-21 07:27] antoniocaparros opened #3915 "Always getting ResourceConflictException creating functions"
# Type of request: This is a ...

[X] bug report

# Detailed description
I am having problems deploying with serverless framework on my localstack.
It is always getting this error:
[code]

I have checked before running this deploy that there aren't any resources created.
My serverless.yml functions section:
[code]

My docker-compose.yml:
[code]
# Steps to reproduce
Run docker container `TMPDIR=/pr

[2021-04-21 10:48] demianchuk commented on #3891
Yes, you are right. That is the same problem as to #3613. Thank you for your help
I am closing the case

[2021-04-21 10:48] #3891 closed

[2021-04-21 10:48] demianchuk commented on #3891
Thank you

[2021-04-21 12:06] luminescent commented on #3832
For anyone needing the same thing but trying to avoid specifying the endpoint_url everytime, I have a workaround using a reverse proxy, that intercepts the calls made to AWS endpoints and redirects them to localstack on 4566.

https://github.com/luminescent/localstack-reverse-proxy

[2021-04-21 16:03] #3728 closed

[2021-04-21 16:04] #3808 closed

[2021-04-21 16:10] usmangani1 commented on #3737
@ax-slad Thanks for reporting the issue.

Can you please let us know the version of localstack which you are using.I tried to reproduce this using on the current version of localstack and it works completely fine.

[2021-04-21 17:23] rnjailamba commented on #3902
@whummer  is on this version aws-cli/1.19.53 Python/3.8.2 Darwin/19.6.0 botocore/1.20.53 so we moved to exactly aws-cli/1.19.53 Python/3.9.4 Darwin/19.4.0 botocore/1.20.53 and the problem is fixed without any other change.

Adding some commands used to go to the exact version of python and aws cli and awslocal cli below -
[code]
add above to ~/.bash_profile

[code]

[2021-04-21 17:24] #3902 closed

[2021-04-21 18:05] timoaudi commented on #808
Also having the issue that S3 is not starting up. Any solution yet?

**Versions:**
- OS: macOS 11.2.3
- localstack: 0.12.9.1
- Python: 3.8.2
- pip: 19.2.3

This ist the error:
[code]

[2021-04-21 22:48] rnjailamba opened #3917 "API Gateway V2 not getting created"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description
We have a cloudformation template with `AWS::Serverless::HttpApi` resource. We package the resources and deploy the template.

## Expected behavior
API Gateway V2 should get created.

## Actual behavior
The resource is not created. We found this error in the logs
[code]

# Steps to reproduce
The code and s

[2021-04-22 00:00] rnjailamba commented on #3917
This started working after a laptop restart.

[2021-04-22 00:00] #3917 closed

[2021-04-22 00:43] mgagliardo commented on #3910
Hello @zhoub, thanks for reporting this.

FYI I have been able to reproduce this.
When you do it locally (i.e. from your own computer) it works but it is does not when doing through a container as explained here, I have also tried setting up the `HOSTNAME`, `HOSTNAME_EXTERNAL` and `LOCALSTACK_HOSTNAME` env vars.
At first glance this "sounds" like something related to docker but I might need to inv

[2021-04-22 06:27] #3908 closed

[2021-04-22 06:54] zhoub commented on #3910
Hello @mgagliardo

Many thanks for the work. This issue only occurs when using docker with compose, it becomes a problem. But if run it separately from application, but a standalone service locally, it will be okay, since it's able to use 192.168.x.x the local IP address as endpoint, and it's accessible from docker containers or outside.

Please have a look, thank you very much !

[2021-04-22 06:57] whummer commented on #3851
Thanks for the update @fredliporace @KrishnanRanjithkumar . This should now be resolved in #3916 - please let us know if there are any other issues. Thanks!

[2021-04-22 06:57] #3851 closed

[2021-04-22 09:57] anderius opened #3919 "Expired Let's Encrypt certificate on localstack.cloud"
# Type of request: This is a ...

[X ] bug report
[ ] feature request

# Detailed description

The Let's Encrypt certificate on https://localstack.cloud/ expired today. Just a heads up! I could find no repository for the web site, so I am telling you this way. :-)

[2021-04-22 10:14] whummer commented on #3919
Many thanks for the pointer @anderius ! 👍 (this is now fixed..) Thanks

[2021-04-22 10:14] #3919 closed

[2021-04-22 11:28] whummer commented on #3890
Thanks for reporting @yangzhang21 - this should be fixed in the meantime. Can you please give it another try with the `latest` version of the Docker image? Please keep us posted how it goes. Thanks!

[2021-04-22 11:28] #3890 closed

[2021-04-22 12:10] bassteen commented on #3782
We are seeying a simular issue having deployed localstack in a k8s cluster using the helm chart. This is the error we are seeying:

`2021-04-22T12:05:38:WARNING:localstack.services.awslambda.lambda_executors: Empty event body specified for invocation of Lambda "arn:aws:lambda:eu-west-1:000000000000:function:my-function"
2021-04-22T12:05:46:INFO:localstack_ext.services.awslambda.lambda_launcher: HO

[2021-04-22 14:07] whummer commented on #3782
Thanks for reporting @bassteen . Can you please share your configuration details - please note that `HOST_TMP_FOLDER` needs to be configured properly if you're using `LAMBDA_DOCKER_REMOTE=0` (as indicated by the INFO message - should probably be a WARNING message, actually).

Hope that helps - please keep us posted how it goes, happy to look more into it if you can provide your configuration and a

[2021-04-22 14:14] bassteen commented on #3782
Sure. This is our values file which we use to deploy localstack:
[values copy.txt](https://github.com/localstack/localstack/files/6358946/values.copy.txt)

then testing by running:
[code]

where function.zip just contains a hello world lambda function.

[2021-04-22 14:32] whummer commented on #3782
Thanks for sharing @bassteen . Can you please try to configure `LAMBDA_DOCKER_REMOTE=1` in the pod environment? (This should be the default, but apparently it is not getting applied in this case).

[2021-04-22 15:26] luminescent opened #3920 "Different behaviour on 2 different computers for the same compose file - lambda container not created in one instance"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am using the same docker-compose file on my personal laptop and on the work virtual machine. I have pinned the localstack version to be sure.

On the home machine, a lambda is executed in a new container that is launched specifically for the execution. I get a log output that shows the command used such

[2021-04-22 15:34] luminescent commented on #3920
I have pinned the `LAMBDA_EXECUTOR` to `docker` and localstack does indeed try to create the container even on the work machine, but it fails:
[code]
I suspect it silently errors and then falls back to the other mode. Perhaps it should be made obvious to the user which mode it is using or if it switches due to errors.

[2021-04-22 16:02] mgagliardo commented on #3920
Hello @luminescent, would you please make sure the following are pinned on the `docker-compose` as expected?

`LAMBDA_EXECUTOR=docker`
`LAMBDA_REMOTE_DOCKER=false`
`HOST_TMP_FOLDER=/tmp/example-folder`

I am also leaving an example docker-compose.yml I have just tested both on 2 vagrant machines, 1 mac and 1 ubuntu notebook as well, all working as expected.

docker-compose.yml:
[code]

On the othe

[2021-04-22 19:36] maturiaditya opened #3921 "RedrivePolicy from SQS to DLQ is failing"
# Type of request: This is a ...

[ X ] bug report
[ ] feature request

# Detailed description
RedrivePolicy from SQS to DLQ is failing
[sample-project.zip](https://github.com/localstack/localstack/files/6360818/sample-project.zip)

...

## Expected behavior
Redrive policy from SQS to DLQ should be successful
...

## Actual behavior
Redrive policy from SQS to DLQ is failing
...

# Steps to reprodu

[2021-04-22 20:12] #3822 closed

[2021-04-22 21:26] luminescent commented on #3920
Thank you for looking into this.

Once I pin the executor, they both work the same way for me as well, trying
to launch a container for the lambda, but I didn't figure I would have to
pin it until it switched to the other behaviour on the work machine. It
looks like either the defaults are different or it figures it cannot run
the docker executer and falls back on embedded maybe?

On the error its

[2021-04-22 21:48] #3920 closed

[2021-04-23 00:31] nhopp opened #3923 "API Gateway 'path' value is the gateway resource {proxy+) instead of the path v2/signup/into"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Staring in 0.12.9 API Gateway lambda integration events started reporting the API Gateway 'resource', in the `path` value.  This value should be `/v2/signup/intro` instead of `/{proxy}`.

[code]

## Expected behavior

The `path' value should be the path of the request ie: `/v2/signup/intro`, not the AWS G

[2021-04-23 06:10] whummer commented on #3915
Thanks for reporting @antoniocaparros . We haven't been able to reproduce this issue so far. Can you please share a minimal reproducible example?

Also, please make sure to do a `docker pull localstack/localstack` to test with the latest version

Here's a repro that seems to be working:
[code]
Thanks!

[2021-04-23 07:52] pandomic commented on #3921
@maturiaditya could you attach configuration files to your message or format them as code?

[2021-04-23 08:37] antoniocaparros commented on #3915
Which extra info do You need?

[2021-04-23 09:15] matthew-gill commented on #2550
Hey all, any news on this one? Would love to give it a test and provide feedback :)

[2021-04-23 11:27] richardbaltariu opened #3924 "API Gateway does not allow CORS preflight when using withCredentials in requests (Missing Mock integrations)"
# This is a ...

[x] bug report
[ ] feature request

# Detailed description

When running an `serverless-express` API in a lambda pushed to localstack in Docker, OPTIONS requests from a client with the `withCredentials` flag fail because of the wildcard `'*'` in `Access-Control-Allow-Origin` header returned by calling the endpoint (e.g.: `http://localhost:4566/restapis/<id>/<stage>/_user_request_/

[2021-04-23 13:47] wem commented on #3822
We dont use KCL but according the code mentioned by @aliaksei-sych. The method `isValidResult` will still fail on resharding as ChildShards would always be empty and this is not expected when continuationSequenceNumber is empty / null.

So, handling resharding would still only be possible with additional describeStream / listShard requests.

[2021-04-23 15:59] usmangani1 commented on #3653
@scottiemc7 Thanks for reporting the issue.
We tried to reproduce this on the latest version of localstack and the stack is being created successfully for both the templates.Can you please try this on the new version of localstack ?

[code]

[2021-04-23 16:07] maturiaditya commented on #3921
@pandomic Sure, I will format the message as code. Also, I attached my sample project under the decription which should include the project config.

[2021-04-23 16:41] EfChouTR opened #3926 "CORS Rules not Respected because of invalid Key access"
# Type of request: This is a ...

- [x] bug report
- [ ] feature request

# Detailed description

https://github.com/localstack/localstack/blob/master/localstack/services/s3/s3_listener.py#L340

Is accessing the CORSRules key of the bucket incorrectly

...

## Expected behavior
`rules = cors['CORSConfiguration']['CORSRules']`
...

## Actual behavior
`rules = cors['CORSConfiguration']['CORSRule']`

[2021-04-23 17:43] Darth-Knoppix opened #3928 "SNS Create Topic fails when using tags when called more than once"
# Bug Report

[x] bug report
[ ] feature request

# Detailed description

When creating a topic for SNS with tags more than once the operation fails and is not idempotent. Attempting to create an SNS topic multiple times (same name) without specifying tags, works as expected.

**Hypothesis:**
This only occurs with tags and seems to be caused by this line in [localstack.services.sns.sns_listener](h

[2021-04-23 18:29] Vmacedo-Daitan commented on #3777
Thank you guys!
I've updated the image and got the results below.

Deploy:
[code]

CURL:
[code]

Log:
[code]

[2021-04-23 19:49] whummer commented on #3915
Can you please share the version logs from your LocalStack container:
[code]
Also, can you please share the full logs of your Docker container with - we may be able to reconstruct it from the DEBUG logs created by the CloudFormation deployment loop. Thanks for your help!

[2021-04-23 20:01] whummer commented on #3911
Thanks for reporting @seibelj . Can you please share the API Gateway endpoint URL you are invoking? Please note that there are generally 2 formats for API GW endpoints supported (assuming `api123` is your API ID):
* `http://localhost:4566/restapis/api123/stage/_user_request_`, or
* `https://api123.execute-api.localhost.localstack.cloud/stage`

Which of the two are you using? We'll be happy to repr

[2021-04-24 10:50] whummer commented on #3903
Thanks for reporting @cbellinz . Can you please try commenting out this line:
[code]
This should (hopefully) fix the issue you're seeing. We'll push a change to fix this bug shortly. Thanks

[2021-04-24 16:33] whummer commented on #3901
Thanks for reporting @ShaunParsons . This should (hopefully) be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-24 16:33] #3901 closed

[2021-04-24 16:33] whummer commented on #3903
Hi again @cbellinz . This should (hopefully) be fixed in the meantime - can you please pull the `latest` Docker image and give it another try? Please keep us posted how it goes. Thanks for your help!

[2021-04-24 16:33] #3903 closed

[2021-04-24 17:13] whummer commented on #3888
Thanks for reporting @Keloran . This should be fixed in #3929 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-24 18:09] Keloran commented on #3888
I get a different error now

[code]

basically the same message just no "(yet)" now

[2021-04-24 18:11] Keloran commented on #3888
this was with this localstack docker image

[code]

[2021-04-24 19:08] scottiemc7 commented on #3653
I will try again on Monday and let you know. Thanks for looking into it.

[2021-04-24 20:45] whummer commented on #3611
Apologies for the long delay on this one @dlf-dds . We just had a chance to reproduce this issue, based on the sample you provided.

Turns out this is a problem with unescaped quotes in the stream ARN. We added the following line to fixtures.sh:
[code]
... which prints the ARN like this:
[code]
Can you please try adding the `-r` (raw) flag to your `jq` command:
[code]
... then the ARN looks like t

[2021-04-24 20:46] #3611 closed

[2021-04-24 20:46] whummer commented on #3928
Thanks for reporting @Darth-Knoppix . This should be fixed in #3930 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-24 20:46] #3928 closed

[2021-04-24 21:25] arciisine opened #3931 "@aws-sdk/client-s3 DeleteObjects command is breaking due to inclusion of x-id query param"
# Type of request
[x] bug report

# Detailed description
This seems to be a change that was released on 4/14 in the aws-sdk-js-v3 [Line](https://github.com/aws/aws-sdk-js-v3/blame/main/clients/client-s3/protocols/Aws_restXml.ts#L1356).

By modifying the aws-sdk to not send `x-id=DeleteObjects`, the code works perfectly fine.  Leaving it in, causes the request to break, and return a 500.

I see som

[2021-04-24 23:02] whummer commented on #3695
Thanks for reporting @Tobolov . Can you please share some more details about your environment setup.

Which server is running on port 9999 - is this your LocalStack container, or some other service? In case of the latter, please note that the template download URL needs to be accessible from the LocalStack container (which it probably isn't in this case).

If you can help us provide a small, isola

[2021-04-24 23:35] whummer commented on #3816
Thanks for reporting @jgrzebyta @rnorth @FreakyTea @gabriele-gozzoli @felipeprabor . This could potentially be a DNS issue - please note that we have recently switched to virtual host-based addressing in S3 (instead of the soon-to-be-deprecated path-based addressing), which means that buckets are now using domain names like `mybucket.s3.localhost.localstack.cloud`.

Can you please verify whether y

[2021-04-24 23:37] whummer commented on #3708
Thanks for reporting @Tobolov . This should be fixed in the meantime - please let us know if the problem persists. Thanks for your help!

[2021-04-24 23:37] #3708 closed

[2021-04-25 01:37] fredliporace commented on #3851
:wave: @KrishnanRanjithkumar @whummer checked with 2021-04-23 build and the keys are correct.

The records however contain ```NewImage``` key (and ```OldImage``` key for ```MODIFY``` events), AFAIK these [should not](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html) be there.

Here is an example record from the same environment described in https://github.com/localstac

[2021-04-25 09:56] #3135 closed

[2021-04-25 16:25] ShaunParsons commented on #3901
Thanks. I can confirm thats resolved.

[2021-04-25 17:31] unfor19 commented on #3685
Joining the request, even though `docker` and `docker-reuse` work for my configuration. It takes about 3 to 10 seconds for each Lambda invocation to complete, specifically with Cognito.

CPU, Memory, IOPS - not fully utilized so it's not the machine I'm running localstack (AWS EC2, t3.2xlarge, 8CPU, 32GB).

Has anyone ever tried using `local`? Does it provide better performance than `docker` and `

[2021-04-25 20:47] mummoo opened #3934 "Python 3.8 Zip lambda failing in the first invocation, but succeeds second time onwards"
# Type of request: This is a ...

[ X] bug report
[ ] feature request

# Detailed description
I deploy a Python 3.8 Lambda using ZIP package option. The file is ~30MB.

I do a listing of the functions using "awslocal lambda list-functions". This shows that the function is created.

I then invoke the function using a SQS message, and see this failure (when DEBUG=1 is set):

File "/opt/code/localsta

[2021-04-25 22:27] mgagliardo commented on #3934
Hello @mummoo could you please share the docker-compose, script and exact steps you are using? I can't seem to reproduce this with [the following setup](https://github.com/localstack/localstack/issues/3827#issuecomment-813090864). Thanks!

[2021-04-25 22:34] mummoo commented on #3934
Thanks @mgagliardo for taking a look.Let me try to create a test set-up and share here.

Is there anyway to have a detailed debug with localstack (beyond setting DEBUG=1)?

[2021-04-25 22:35] pandomic commented on #3921
Thank you @maturiaditya, I can confirm this is a **bug**. We will try to solve this issue shortly and will keep you informed.

[2021-04-25 22:58] pandomic commented on #3921
@maturiaditya after having a close look on your template I realised you have an error in your syntax. According to CloudFormation documentation `RedrivePolicy` should be an object ([documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-queues.html#aws-sqs-queue-redrive)), that means your configuration should look like the following:

[code]

[2021-04-25 23:02] pandomic commented on #3921
I'm closing the issue for now since with object-based `RedrivePolicy` service is getting deployed normally. Feel free to reopen it in case new issues arise.

cc @whummer

[2021-04-25 23:03] #3921 closed

[2021-04-25 23:10] pandomic commented on #3931
Thanks for reporting @arciisine. We will keep you informed (or in case we need any more details)

[2021-04-25 23:54] whummer commented on #3826
Thanks for reporting @Hrily . This should be fixed in #3925 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-25 23:54] #3826 closed

[2021-04-26 04:36] johnmee commented on #3863
@duongpv7 Are you looking at this? Can you shed any light on the problem?

[2021-04-26 05:27] andrew-canning commented on #3816
Hi I was having the same issue:
- Windows 10 Docker + WSL 2
- latest was broken
- 0.12.8 seemed fine

I set `- LOCALSTACK_HOSTNAME=127.0.0.1` in my compose file and that seemed to fix the issue.

[2021-04-26 05:57] Darth-Knoppix commented on #3928
Thanks @whummer, this was a big blocker. I'll pull the latest and retest. Thanks again 👍

[2021-04-26 07:31] mgagliardo commented on #3934
Hello @mummoo, `DEBUG=1` is the most detailed you could always get.

Maybe it would also help to put some parts of the code you are using and/or docker compose as well as output logs and commands so I can reproduce. Cheers!

[2021-04-26 08:41] whummer commented on #3934
@mummoo you could try enabling `LS_LOG=trace` which will print a detailed trace of all request/response messages. Please be careful with large messages (e.g., content of Lambda zip files) getting printed on the console, as they may produce large amounts of log output. Hope that helps, thanks.

[2021-04-26 08:59] aandrzejewski opened #3935 "Invoke lambda ends up with read timeout on 0.12.10 image"
# Type of request: This is a ...

[x ] bug report
[ ] feature request

# Detailed description
Invocation of lambda that was connecting to dynamodb fails on latest image, was working fine on 0.12.9 version

$ aws --endpoint-url=http://localhost:4566 lambda invoke --function-name test-lambda ./test/test-output.json

Read timeout on endpoint URL: "http://localhost:4566/2015-03-31/functions/test-lambd

[2021-04-26 09:08] mgagliardo commented on #3935
Hello @aandrzejewski, would you please paste an example code you are using here so we can reproduce the issue? Thanks

[2021-04-26 09:10] elizeire commented on #2457
Same issue here, but for s3 service...

![image](https://user-images.githubusercontent.com/1172098/116058334-041d8400-a680-11eb-91fe-cf39a4dc1987.png)

[2021-04-26 09:13] aandrzejewski commented on #3935
You mean my lambda? It looks something like this

[code]
I'm invoking this lambda for 30 items in the dynamo, all other calls until the invoke work fine (so create dynamo, populate data, create lambda)

[2021-04-26 10:19] mgagliardo commented on #3935
Hello @aandrzejewski, I have not been able to reproduce the issue with the following config. Just making sure the docker instance and localstack are on the same network.

docker-compose.yml:
[code]

index.js:
[code]

Let me know if it works for you.

[2021-04-26 11:14] aandrzejewski commented on #3935
I think I know where the problem was. When I specified the version to be 0.12.10 indeed I cannot reproduce it myself. It only was happening when I had the "latest" tag in my docker-compose. And it seems there is something different inside latest and 0.12.10

[code]

[2021-04-26 11:54] yogevyuval commented on #2631
@sats17 @whummer @BeyondMySouls @macnev2013
Is there a solution when this set is running inside docker containers? Meaning localstack runs as a container, but also the app that is accessing it is running in a container. In this situation we have to use the container name in order to communicate with localstack, which doesnt work with the combination of virtual host paths.

[2021-04-26 13:20] mgagliardo commented on #3935
I have just tested with both `0.12.10` and `latest` and both functions seem to work the same for me, just a simply query to list all the tables on Dynamo. It would be great to get some of the output logs to check what's going on?

[2021-04-26 14:11] kevinscholz commented on #2631
You might want to have a look at network aliases. I use this config to run localstack in Docker Compose, e.g. for my bucket `test-bucket`:

[code]

[2021-04-26 14:33] franciscojgarciav commented on #3336
SNS Fifo topic is still no supported in the latest version of Localstack. While using the latest terraform sns_topic resource to create a FIFO topic, the operation works, but when inspecting the topic, it is not fifo. Please add this feature.

[2021-04-26 17:22] EfChouTR commented on #3926
Closing to rethink strategy

[2021-04-26 17:22] #3926 closed

[2021-04-26 19:40] HammurabisCoder commented on #3725
I've run into this too using the AWS SDK to connect to Localstack. Something else to note in addition to being in the body is that with AWS SQS we can read the attributes with `.StringValue` while LocalStack is just `.Value`.

[2021-04-26 20:10] kyle-seesaw commented on #3007
I also encountered this error.   In my case, the root cause turned out to be the fact that the VisibilityTimeout for the SQS queue was shorter than the execution timeout for the Lambda that was reading from it.   I believe the visibility timeout was expiring while the message's batch was still be processed, the message was being made visible to consumers again (potentially resulting in redelivery)

[2021-04-26 20:12] KrishnanRanjithkumar commented on #3851
@fredliporace Thanks for reporting. Could you please try to read the records directly from the DynamoDB streams and check if the behavior is same as that of reading from the lambda function or different?

[2021-04-26 20:58] hallsamuel90 commented on #159
bump!

[2021-04-26 22:14] pandomic commented on #3931
@arciisine I was unable to reproduce the issue using `Localstack@0.12.10` & `@aws-sdk/client-s3@3.13.1`.

package.json
[code]

test.js
[code]

I also noticed a couple of issues with your report:
* You haven't forwarded port to your host machine (`-p 4566:4566`)
* Provided code snippet does not look like v3 API

Could you please double-check your issue and let us know if it worked?

[2021-04-27 00:18] arciisine commented on #3931
Just to clarify, my local scenario is slightly more complicated, and hard to isolate, so my docker command may have missed a few parameters.

Looking at your example, it isn't using `DeleteObjectsCommand`, but is using `DeleteObjectCommand` . The issue is specifically with the `DeleteObjectsCommand` as it produces a different `http` request.

[2021-04-27 05:26] aandrzejewski commented on #3935
I've added the DEBUG=1 to my docker-compose.yaml with `latest` image tag, and thats the localstack docker logs when use LAMBDA_EXECUTOR=docker-reuse

[code]
then in the terminal where I try to invoke lambda I see `Read timeout on endpoint URL: "http://localhost:4566/2015-03-31/functions/oneex-public-outbox-cleaner-nadir/invocations"`

logs for the lambda docker are completely empty.

On the other

[2021-04-27 07:40] whummer commented on #3935
Thanks for the update @aandrzejewski .

Looking at the following error in the logs:
[code]
Given that we have this container name configured:
[code]
... can we try to add this configuration to the container environment:
[code]

Also, quick note - we have recently added a `config validate` CLI command which you can use to find common configuration issues:
[code]

Hope that helps - please keep us po

[2021-04-27 08:08] kigawas opened #3936 "API gateway put-integration-response error: Invalid request input"
## Docker compose file
[code]

## Commands
[code]

At the last step, it complains:
[code]

[2021-04-27 12:01] whummer commented on #3863
Thanks for reporting this issue @johnmee . We have pushed a few minor enhancements in the meantime - can you please do a `docker pull localstack/localstack` and give it another try with the `latest` Docker image?

If the problem persists - do you think you could share a small sample project to help us replicate the issue end-to-end? Thanks for your help

[2021-04-27 20:37] fredliporace commented on #3851
@KrishnanRanjithkumar I think you are on the right track. When reading the records using ```awslocal``` I do not see the "NewImage" and "OldImage" fields, they are only present on the record received by the lambda function.

There is an exception though: for the first generated record, an ```INSERT```, I get the "NewImage" field in both lambda and awslocal. The only difference I see in my app is t

[2021-04-27 22:50] pandomic commented on #3931
Thank you for clarifications @arciisine, I can confirm this is a **bug**. We already identified the problem and prepared a potential fix. Stay tuned for an upcoming release.

[2021-04-28 08:04] kigawas opened #3938 "Stuck on modifying aws_api_gateway_resource with Terraform"
## Terraform configs
- Resource
https://gist.github.com/mendhak/8303d60cbfe8c9bf1905def3ccdb2176

- Provider
[code]

## Steps to reproduce

Just modify `path_part   = "{proxy+}"` to any string
[code]

[2021-04-28 09:08] KrishnanRanjithkumar commented on #3851
Thanks for the response @fredliporace. I'm not able to reproduce the issue related to exception (for the first generated record). Can you please open a new issue since the original problem reported is resolved and also share some sample code (to reproduce the bug related to exception)?

[2021-04-28 09:21] ngouass commented on #2947
Hi @whummer, sorry the delay.

After investigating, I found that there are some conversion issues with utilities functions:

[code]

### Issue

=====> Expected behaviour (https://docs.aws.amazon.com/appsync/latest/devguide/resolver-util-reference.html#dynamodb-helpers-in-util-dynamodb)
[code]
=====> Actual behaviour
[code]

[2021-04-28 10:46] aandrzejewski commented on #3935
So i fixed the config as suggested, and added MAIN_CONTAINER_NAME to the environment, I even tried to use the suggested name `localstack_main` but the issue still persists
[code]
and then timeout in the console that invokes the lambda

[2021-04-28 10:59] whummer commented on #3935
Thanks for the update @aandrzejewski . I think we're one step closer - one missing piece is still to specify the `LAMBDA_DOCKER_NETWORK` environment variable, to tell LocalStack in which Docker network it should spin up the Lambda containers (as pointed out by @mgagliardo ).

If your code resides in a folder `myfolder`, then docker-compose would typically create a Docker network called `myfolder_d

[2021-04-28 12:14] whummer commented on #3931
Great, thanks @arciisine and @pandomic . This should be fixed in #3937 - can you please pull the `latest` Docker image and give it another try? Please let us know if the problem persists. Thanks!

[2021-04-28 12:15] aandrzejewski commented on #3935
Ok, so when I put the LAMBDA_DOCKER_NETWORK it works fine with the "latest" tag.
So to sum it up:
Docker compose for which my lambda was running without issues on 0.12.9 version
[code]
To make it run with "latest" the docker compose needed those changes
[code]
thanks for helping solving this one out.

[2021-04-28 12:59] vamshisiddarth opened #3939 "localstack fails to start"
# Type of request:

- [x] bug report

# Detailed description

Localstack fails to start when running on kubernetes. The same configuration was working fine previously.

## Expected behavior

Start localstack without any errors.

## Actual behavior

Localstack service s doesn't start and gives below error.

[code]

[2021-04-28 14:02] vamshisiddarth commented on #3939
seems like issue with my local configuration. I'm yet to identify what exactly caused this.

[2021-04-28 14:14] andres-bayon commented on #3656
Sorry, but I have tried again with the latest image and I get the same error.

[2021-04-28 14:28] John-D8 opened #3940 "Cognito - user attributes not passed to Pre-Authentication lambda"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

When authentication with an existing user to a user pool with a defined pre-authentication lambda, the user's attributes are not passed in the request to the lambda.

## Expected behavior

User attributes should be passed in the request object to the lambda function

## Actual behavior

User attributes ar

[2021-04-28 16:05] seibelj commented on #3911
This is the URL type `http://localhost:4566/restapis/api123/stage/_user_request_`. Thank you

[2021-04-28 17:28] mummoo commented on #3934
@mgagliardo  I enabled LS_LOG=1, and I got one message which I think may be useful:

2021-04-28T09:41:45:WARNING:bootstrap.py: Thread run method <function LambdaExecutor.execute.<locals>.do_execute at 0x7fbdd3e47d30>(None) failed: Lambda process returned error status code: 1. Result: {"errorType":"Runtime.ImportModuleError","errorMessage":"Unable to import module 'X'.: No module named 'X'"}.

Any

[2021-04-28 17:28] scottwlyft opened #3941 "localstack container does not exit with CTRL-C or SIGTERM"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

I am running localstatck using Docker on my Mac with this command

[code]

Command output
[code]

At this point I press `CTRL-C` but the container does not quit (nothing happens). I also tried sending the container process a SIGTERM signal using kill. The only way I can make the container exit is to click

[2021-04-28 17:30] scottwlyft commented on #3941
cc @kvnxiao

[2021-04-28 20:50] whummer commented on #3941
Thanks for reporting @scottwlyft . Can you please try adding the `-it` flags to your `docker run ...` command:

[code]

[2021-04-28 20:52] #3941 closed

[2021-04-28 23:54] yh1224 opened #3943 "Unable to create S3 bucket which name includes dot by virtual hosted-style endpoint"
# Type of request: This is a ...

[x] bug report
[ ] feature request

# Detailed description

CreateBucket API succeed but bucket is not created.

Environment

- LocalStack 0.12.10
- AWS SDK for PHP 3.167.0
- Using virtual hosted-style endpoint
- Bucket name: ex) `test.test`

# Steps to reproduce

## Client code

[code]

with `'use_path_style_endpoint' => true`, bucket is created.

[2021-04-28 23:55] scottwlyft commented on #3941
We are running this container from a non-tty device so the `-t` option will not work for us. Luckily I was able to find the `SET_TERM_HANDLER` env var via a coworker. Adding this to the docker command `-e "SET_TERM_HANDLER=true"` means it exits as expected.

Is this env var documented anywhere? A quick search on showed it in the docker-entrypoint.sh and CHANGELOG.md. It would be nice if it were me

[2021-04-29 00:44] mgagliardo commented on #3934
Hey @mummoo, no clue why that would work after 1-2 tries (that does not make any sense to me). But if you could share your setup that would help a lot so we could try reproduce the issue. Keep us posted, thanks.

[2021-04-29 07:46] #2782 closed